.coi-navigation-tabs {
    min-height: 42px;
    box-shadow: 0px 0px 3px #0000001F;
    position: sticky;
    z-index: 90;

    ul {
        list-style-type: none;

        li.divider {
            border: 1px solid rgb(100 121 143 / 12%);
            min-height: 28px;
            padding: 1px !important;
        }

        li {
            font-size: 1.4rem;
            color: #7C7C7C;
            padding: 5px 0 !important;
            padding: 10px 7px !important;
            position: relative;
            font-weight: 700;

            .fa {
                position: absolute;
                bottom: -19.5px;
                right: calc(50% - 8px);
                font-size: 2em;
            }
        }

        li.active {
            font-size: 1.4rem;
            font-weight: bold;

            @include themify($themes) {
                border-bottom: 3px solid themed('primaryColor');
                color: themed('primaryColor');
            }

            strong {
                color: black !important;
            }
        }
    }

    .coi-tabs {
        list-style: none;
        font-weight: 300;
        border-bottom: none !important;
    }
}

.modal-coi {
    .modal-content {
        border-left: none !important;

        .modal-header {
            background-color: rgb(247, 247, 247) !important;

            .modal-title {
                color: black !important;
            }
        }
    }
}

.coi-admin-dash {
    li.active {
        font-size: 1.4rem;
        font-weight: bold;

        @include themify($themes) {
            border-bottom: 3px solid themed('primaryColor');
            color: themed('primaryColor');
        }


    }
}

.bg-grey {
    background-color: #f7f7f7;
}
