<div class="container-fluid px-3 py-2 user-dashboard-content">
    <div class="row">
        <div class="col-sm-9 col-xxl-10 pe-0">
            <div class="border pi-info-text p-3 rounded-1">
                <p class="fs-14 m-0">
                    <span *ngIf="!isReadMore && headerInfoText.length > 650 else showFullInfo">
                        {{headerInfoText | slice:0:650}}...
                        <span (click)="isReadMore = !isReadMore" class="fw-medium cursor-pointer"><u>Read More</u></span>
                    </span>
                    <ng-template #showFullInfo>
                        {{headerInfoText}}
                        <span (click)="isReadMore = !isReadMore" class="fw-medium cursor-pointer"><u>Show Less</u></span>
                    </ng-template>
                </p>
            </div>
        </div>
        <div class="col-sm-3 col-xxl-2">
            <div class="border pi-quick-links py-2 px-3 shadow-sm fs-15 h-100">
                <p *ngIf="hasFCOI && hasActiveFCOI"
                        (click)="openReviseModal()" class="m-0 cursor-pointer" role="button"
                        title="Click to Revise FCOI"><u>Create/Revise FCOI</u></p>
                <p *ngIf="!hasFCOI" [queryParams]="{tabName: 'CURRENT_DISCLOSURES'}"
                   [routerLink]="['/coi/create-disclosure/screening']"
                   class="m-0 cursor-pointer" role="button" title="Click to Create FCOI"><u>Create/Revise FCOI</u></p>
                <p (click)="service.isModalOpen= true" class="m-0 cursor-pointer" role="button"
                   title="Click to Create Project Disclosure"><u>Create Project
                    Disclosure</u></p>
                <p class="m-0 cursor-pointer" role="button" title="Click to Create Travel Disclosure"><u>Create Travel
                    Disclosure</u></p>
                <p class="m-0 cursor-pointer" role="button" title="Click to Create SFI"><u>Create SFI</u></p>
            </div>
        </div>
    </div>

    <div class="notifications mb-2">
        <div class="border mx-0 mt-2 py-3 rounded-1 row shadow-sm message-high-severity">
            <div class="col d-flex fw-medium">
                <div class="message flex-fill">
                    <p class="m-0">Your FCOI Disclosure will expire in <span
                            class="fs-20"><strong>05 Days</strong></span>, on 17 February 2023</p>
                </div>
                <div class="action align-items-center d-flex fs-14 text-secondary">
                    <span>VIEW</span>
                    <mat-icon>chevron_right</mat-icon>
                </div>
            </div>
        </div>
        <!--        <div class="border mx-0 mt-2 py-3 rounded-1 row shadow-sm message-low-severity">-->
        <!--            <div class="col d-flex fw-medium">-->
        <!--                <div class="message flex-fill">-->
        <!--                    <p class="m-0">Your FCOI Disclosure will expire in <span-->
        <!--                            class="fs-20"><strong>05 Days</strong></span>, on 17 February 2023</p>-->
        <!--                </div>-->
        <!--                <div class="action align-items-center d-flex fs-14 text-secondary">-->
        <!--                    <span>VIEW</span>-->
        <!--                    <mat-icon>chevron_right</mat-icon>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="border mx-0 mt-2 py-3 rounded-1 row shadow-sm message-low-severity">-->
        <!--            <div class="col d-flex fw-medium">-->
        <!--                <div class="message flex-fill">-->
        <!--                    <p class="m-0">Your FCOI Disclosure will expire in <span-->
        <!--                            class="fs-20"><strong>05 Days</strong></span>, on 17 February 2023</p>-->
        <!--                </div>-->
        <!--                <div class="action align-items-center d-flex fs-14 text-secondary">-->
        <!--                    <span>VIEW</span>-->
        <!--                    <mat-icon>chevron_right</mat-icon>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="border mx-0 mt-2 py-3 rounded-1 row shadow-sm message-low-severity">-->
        <!--            <div class="col d-flex fw-medium">-->
        <!--                <div class="message flex-fill">-->
        <!--                    <p class="m-0">Your FCOI Disclosure will expire in <span-->
        <!--                            class="fs-20"><strong>05 Days</strong></span>, on 17 February 2023</p>-->
        <!--                </div>-->
        <!--                <div class="action align-items-center d-flex fs-14 text-secondary">-->
        <!--                    <span>VIEW</span>-->
        <!--                    <mat-icon>chevron_right</mat-icon>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

    <div class="navigation border text-center shadow-sm mb-3">
        <div class="row m-0 text-secondary">
            <div [routerLink]="['disclosures']"
                 tabindex="0" aria-label="Goto My Disclosures"
                 class="cursor-pointer align-items-center border-end col d-flex justify-content-around p-0"
                 role="button" routerLinkActive="active"
                 title="Goto My Disclosures">
                <strong class="fs-18">My Disclosures</strong>
            </div>
            <div [routerLink]="['entities']"
                 tabindex="0" aria-label="Goto My Entities"
                 class="cursor-pointer align-items-center col d-flex justify-content-center p-0" role="button"
                 routerLinkActive="active"
                 title="Goto My Entities">
                <strong class="fs-18">My Entities</strong>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
<app-project-disclosure *ngIf="service.isModalOpen"></app-project-disclosure>
<a class="d-none" data-bs-target="#reviewConfirmationModal" data-bs-toggle="modal" id="triggerReviseModal"></a>
<div aria-hidden="true" aria-labelledby="skippedSchedulesTitle" class="modal fade mySkinDialog" data-backdrop="static"
     data-keyboard="false" id="reviewConfirmationModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Revision for Disclosure: #{{this.hasFCOI?.disclosureId}}</h5>
                <button (click)="clearModal();" aria-label="Close" class="btn close m-0 p-0" data-dismiss="modal"
                        id="req-doc-popup-dismiss-btn" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="form-row">
                        <div class="col-12">
                            <label for="desc-award">Description</label>
                            <textarea [(ngModel)]="reviseObject.reviseComment" [isShowLimiter]='true' [limit]=2000
                                      appLengthValidator class="form-control" id="desc-award"></textarea>
                            <div class="invalid-feedback d-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="clearModal();" class="btn btn-outline-secondary fs-15 mr-0"
                        id="req-attachment-close-btn"
                        type="button">Cancel
                </button>
                <button (click)="reviseDisclosure();" class="btn btn-outline-primary fs-15"
                        id="req-attachment-add-btn" type="button">Create Revision
                </button>
            </div>
        </div>
    </div>
</div>
