<div class="nav-header ">
    <nav class="d-flex align-items-center fbnav ">
        <div class="col-4">
            <div class="form-builder-logo  fw-500 hand-cursor" tabindex="0" id="formTitle"
                (click)="editFormTitle = true; editTitle();" (keydown.enter)="editFormTitle = true; editTitle();"
                *ngIf="!editFormTitle">{{formTitle | slice:0:30}}
                <i class="fa fa-pencil"></i>
            </div>
            <ng-container *ngIf="editFormTitle">
                <input tabindex="0" [ngClass]="(formValidation?.has('titleValidation')) ? 'is-invalid d-block' : ''"
                    [(ngModel)]="formTitle" id="edit-Input" (focusout)="saveTitle();" type="text"
                    class="form-control col">
            </ng-container>
        </div>
        <div class="col-4">
            <ul class="nav-options mb-0">
                <li role="tab" aria-label="build" (keydown.enter)="navigateToTab('1');"
                    class="cursor-pointer nav-options-link" routerLinkActive="active nav-sub-obtions" tabindex="0"
                    [routerLink]="['editor']" [queryParams]={formBuilderId:formBuilderId}>Build</li>
                <li role="tab" aria-label="Integration" (keydown.enter)="navigateToTab('2');"
                    class="cursor-pointer nav-options-link" routerLinkActive="active nav-sub-obtions" tabindex="0"
                    [routerLink]="['integration']"
                    [queryParams]={formBuilderId:formBuilderId,title:formTitle,formBuilderNumber:formBuilderNumber}>
                    Integration
                </li>
                <li role="tab" aria-label="Preview" (keydown.enter)="navigateToTab('3');"
                    class="cursor-pointer nav-options-link" routerLinkActive="active nav-sub-obtions" tabindex="0"
                    [routerLink]="['preview']" [queryParams]={formBuilderId:formBuilderId}>Preview</li>
            </ul>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <button role="button" tabindex="0" id="publish-btn" aria-label="Click here to publish form" title="Publish"
                class="btn btn-primary   fs-14" (click)="canFormBePublished()">
                <i class="fa fa-solid fa-upload"></i>
                Publish
            </button>
        </div>
    </nav>
</div>
<div class="modal fade mySkinDialog fb-modal" data-bs-backdrop="static" id="publish-Modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ct-footer-padding">
                <h4 class="fb-fs-16">{{publisModalHeading}}</h4>
                <button type="button" class="btn-close fs-12 " data-bs-dismiss="modal" aria-label="Close"
                    (click)="canFormBePublished()"></button>
            </div>
            <div class="modal-body ct-modal-padding">
                <span class="fs-14">{{publisModalMsg}} </span>
            </div>
            <div class="modal-footer ct-footer-padding">
                <button *ngIf="isFormPublishable" id="cancel-publish-Modal" aria-label="click here to cancel"
                    title="Cancel" class="btn btn-outline-secondary fs-14" id="claim-sumbit-no-btn"
                    data-bs-dismiss="modal" type="button">Cancel
                </button>
                <button *ngIf="isFormPublishable" id="confirm-publish-btn" data-bs-dismiss="modal"
                    class="btn btn-primary fs-14 ms-2" aria-label="Click here to Publish" title="Publish" type="button"
                    (click)="publishForm()">Publish</button>
                <button *ngIf="!isFormPublishable" id="close-publish-Modal" aria-label="click here to close"
                    title="Close" data-bs-dismiss="modal" class="btn btn-primary fs-14 ms-2"
                    type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
