<div [@fadeInOutHeight]>
    <h5 class="mb-4 pt-3 px-2 fs-15">COI Configurations</h5>
    <section class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3" *ngIf="isMaintainQuestionnaire">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/questionnaire')">
                <div class="media">
                    <div class="media-left cards-icon1">
                        <img src="{{deployMap}}assets/images/qstnr.png" alt="Questionnaire Image">
                    </div>
                    <div class="media-body card-top-body">
                        <h6 class="media-heading ger-blue line-space">Questionnaire</h6>
                        <p class="gr-grey">Questionnaire</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isApplicationAdministrator" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/unitHierarchy')">
                <div class="media">
                    <div class="media-left cards-icon1 circle3">
                        <img src="{{deployMap}}assets/images/unit.png" alt="Unit Hierarchy Image">
                    </div>
                    <div class="media-body card-top-body cap3">
                        <h6 class="media-heading green line-space">Unit Hierarchy</h6>
                        <p class="gr-grey">Unit Hierarchy</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isMaintainUserRoles || isMaintainRole" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/role-maintainance')">
                <div class="media">
                    <div class="media-left cards-icon1 circle3">
                        <img src="{{deployMap}}assets/images/role-settings.png" alt="Role Maintenance Image">
                    </div>
                    <div class="media-body card-top-body cap3">
                        <h6 class="media-heading lgt-blue line-space">Role Maintenance</h6>
                        <p class="gr-grey">Role Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isApplicationAdministrator" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/businessRule')">
                <div class="media">
                    <div class="media-left cards-icon1 circle3">
                        <img src="{{deployMap}}assets/images/business-rule-maintenance.svg"
                             alt="Business Rule Maintenance Image" class="w-41">
                    </div>
                    <div class="media-body card-top-body cap3">
                        <h6 class="media-heading lgt-blue line-space">Business Rule Maintenance</h6>
                        <p class="gr-grey">Business Rule Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isApplicationAdministrator" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/mapMaintainance')">
                <div class="media">
                    <div class="media-left cards-icon1 circle3">
                        <img src="{{deployMap}}assets/images/map-maintaince.png" alt="Map Maintenance Image">
                    </div>
                    <div class="media-body card-top-body cap3">
                        <h6 class="media-heading gre-yellow line-space">Map Maintenance</h6>
                        <p class="gr-grey">Map Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isApplicationAdministrator" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/notification')">
                <div class="media">
                    <div class="media-left cards-icon1 circle3">
                        <img src="{{deployMap}}assets/images/notification.png" alt="Notification Maintenance Image">
                    </div>
                    <div class="media-body card-top-body cap3">
                        <h6 class="media-heading lgt-green line-space">Notification Maintenance</h6>
                        <p class="gr-grey">Notification Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isApplicationAdministrator || isMaintainPerson || isMaintainOrcidWorks ||isMaintainDelegation || isMaintainTimeSheet || isViewTimeSheet || isMaintainTraining" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/person')">
                <div class="media">
                    <div class="media-left cards-icon1 circle3">
                        <img src="{{deployMap}}assets/images/person.png" alt="Person Maintenance Image">
                    </div>
                    <div class="media-body card-top-body cap3">
                        <h6 class="media-heading lgt-yellow line-space">Person</h6>
                        <p class="gr-grey">Person</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isMaintainTraining" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3">
            <div class="border-light-subtle card col-12 h-100 pull-up " (click)="openInNewTab('/fibi/training-maintenance')">
                <div class="media">
                    <div class="media-left cards-icon1">
                        <img src="{{deployMap}}assets/images/training-maintenance.png"
                             alt="Training Maintenance Image">
                    </div>
                    <div class="media-body card-top-body cap2">
                        <h6 class="media-heading gre-green line-space">Training Maintenance</h6>
                        <p class="gr-grey">Training Maintenance</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
