.left-div{
    width: 75%;
    display: inline-block;
    transition: width 1.2s ease-in-out;
}
.right-div{
    width: 25%;
    display: inline-block;
    position: absolute;
    margin-left: 14px;
    padding-right: 22px;
    height: 100vh;
}
