.left-div{
    width: 75%;
    display: inline-block;
    transition: width 1.2s ease-in-out;
}
.right-div{
    width: 25%;
    position: sticky;
    margin-left: 8px;
    padding-right: 13px;
    top: 72px;
    height: 100vh;
}
