.left-div{
    width: 75%;
    display: inline-block;
    transition: width 1.2s ease-in-out;
}
.right-div{
    width: 25%;
    position: sticky;
    margin-left: 8px;
    top: 279px;
    height: 100vh;
}
