.grey-border {
    background-color: #f5f5f5;
    border: 2px solid #efefef;
}

.icon-bg {
    border-radius: 50%;
    background-color: #dfe5f0;
    padding: 7px;
}

.coloured-icons {
    color: #0948b2 !important;
}
