.col-custom {
  width: 100px !important;
}

.col-custom-city {
  width: 90px !important;
  margin-left: 10px !important;
}

.col-custom-endDate {
  width: 90px !important;
  margin-left: 10px !important;
}

.invalid-feedback {
  color: rgb(176 42 55);
}

.invalid-border {
  border-color: #dc3545 !important;
}

.travelDisclosure-radio-checkbox {
  accent-color: #0d6efd !important;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}