<div class="card">
    <div class="row p-4 m-3 shadow-sm bg-white">
        <!-- Entity Name -->
        <div class="row d-flex px-0" tabindex="-1">
            <label class="fw-500 fs-14 col-custom" for="travel-disclosure-entity-name">Entity Name:</label>
            <div class="col">
                <app-endpoint-search (onSelect)="selectedEntityEvent($event)" [clearField]="clearField"
                    [httpOptions]="entitySearchOptions" (change)="triggerConfirmationModal();"
                    [isError]="(mandatoryList?.has('entity'))? true: false" class="w-100"
                    [uniqueId]="'travel-disclosure-entity-name'" autocomplete="off">
                </app-endpoint-search>
                <span *ngIf="mandatoryList?.has('entity')" class="fs-13 invalid-feedback d-block">
                    {{mandatoryList?.get('entity')}}
                </span>
                <span class="position-absolute fs-13 col text-secondary mb-0">
                    Type in the official name of the business or organization you need to report.
                    Entities to report include foreign, domestic, public or private entities, but not federal agencies.
                </span>
            </div>
        </div>

        <!-- traveller details -->
        <div class="row d-flex px-0 mt-5 pt-2">
            <label class="fw-500 fs-14 col-custom" for="travel-disclosure-traveller">Traveller:</label>
            <div class="col-10">
                <div class="divCenter">
                    <span *ngFor="let details of travellerType; let i = index" id="travel-disclosure-traveller"
                        class="mt-2 me-5">
                        <input class="travelDisclosure-radio-checkbox ms-1 me-3 hand-cursor border-secondary"
                            type="checkbox" value={{details.description}} id="traveller-checkbox{{i}}"
                            [(ngModel)]=details.isChecked
                            (ngModelChange)="getTravellerTypeCode(); triggerConfirmationModal();">
                        <label class="form-check-label fs-14 fw-normal hand-cursor" for="traveller-checkbox{{i}}">
                            {{details.description}}
                        </label>
                    </span>
                </div>
                <span *ngIf="mandatoryList?.has('traveller')" class="fs-13 invalid-feedback d-block col">
                    {{mandatoryList?.get('traveller')}}
                </span>
                <span class="position-absolute fs-13 col text-secondary mb-0">
                    Select the traveller (can choose multiple options)
                </span>
            </div>
        </div>

        <!-- title -->
        <div class="row d-flex mt-5 px-0 pt-3">
            <label for="travelDisclosure-title" class="fw-500 fs-14 col-custom">Trip Title:</label>
            <div class="col">
                <textarea id="travelDisclosure-title" appLengthValidator [isShowLimiter]='true' [limit]=200
                    class="form-control fs-14" autocomplete="off" [(ngModel)]="travelDisclosureRO.travelTitle"
                    (ngModelChange)="triggerConfirmationModal();"
                    [ngClass]="(mandatoryList?.get('title')) ? 'invalid-border':''">
                  </textarea>
                <span *ngIf="mandatoryList?.has('title')" class="fs-13 invalid-feedback d-block">
                    {{mandatoryList?.get('title')}}
                </span>
                <span class="position-absolute fs-13 col text-secondary mb-0">
                    Type title.
                </span>
            </div>
        </div>

        <!-- destination -->
        <div class="row d-flex mt-4 px-0">
            <label for="travelDisclosure-destination" class="fw-500 fs-14 d-block col-custom">Destination:</label>
            <div class="divCenter ms-1 col">
                <input class=" me-2 hand-cursor" type="radio" name="travelDisclosure-destination"
                    id="travelDisclosure-domestic" value="Domestic" [(ngModel)]="destination"
                    (click)="setValuesForDestinationType()">
                <label class="form-check-label fs-14 fw-normal hand-cursor" for="travelDisclosure-domestic">
                    Domestic
                </label>
                <input class=" ms-4 me-2 hand-cursor" type="radio" name="travelDisclosure-destination"
                    id="travelDisclosure-international" value="International" [(ngModel)]="destination"
                    (click)="setValuesForDestinationType()">
                <label class="form-check-label fs-14 fw-normal hand-cursor" for="travelDisclosure-international">
                    International
                </label>
            </div>
        </div>

        <!-- country/state/city -->
        <div class="row mt-5 pt-2 px-0 d-flex justify-content-between">
            <!-- Country list -->
            <div class="row col-6" *ngIf="destination=='International'">
                <label class="fw-500 fs-14 col-custom" for="travelDisclosure-countryList">Country:</label>
                <div class="col">
                    <app-endpoint-search (onSelect)="selectTravelCountry($event)" [clearField]="countryClearField"
                        [httpOptions]="countrySearchOptions" [uniqueId]="'travelDisclosure-countryList'"
                        (change)="triggerConfirmationModal();" autocomplete="off"
                        [isError]="(mandatoryList?.has('country'))? true: false">
                    </app-endpoint-search>
                    <span *ngIf="mandatoryList?.has('country')" class="fs-13 invalid-feedback d-block">
                        {{mandatoryList?.get('country')}}
                    </span>
                    <span class="position-absolute fs-13 col text-secondary mb-0">
                        Select country from search bar.
                    </span>
                </div>
            </div>

            <!-- State list -->
            <div class="row col-6" *ngIf="destination=='Domestic'">
                <label for="travelDisclosure-stateList" class="fw-500 fs-14 col-custom">State:</label>
                <div class="col">
                    <input type="text" id="travelDisclosure-destinationState" autocomplete="off"
                        [(ngModel)]="travelDisclosureRO.travelState" class="form-control col"
                        (ngModelChange)="triggerConfirmationModal();"
                        [ngClass]="(mandatoryList?.get('state')) ? 'invalid-border':''">
                    <span *ngIf="mandatoryList?.has('state')" class="fs-13 invalid-feedback d-block">
                        {{mandatoryList?.get('state')}}
                    </span>
                    <span class="position-absolute fs-13 col text-secondary mb-0">
                        Type state.
                    </span>
                </div>
            </div>

            <!-- City list -->
            <div class="row col-6">
                <label for="travelDisclosure-cityList" class="fw-500 fs-14 col-custom-city">City:</label>
                <div class="col">
                    <input type="text" id="travelDisclosure-cityList" autocomplete="off"
                        [(ngModel)]="travelDisclosureRO.destinationCity" class="form-control"
                        (ngModelChange)="triggerConfirmationModal();"
                        [ngClass]="(mandatoryList?.get('city')) ? 'invalid-border':''">
                    <span *ngIf="mandatoryList?.has('city')" class="fs-13 invalid-feedback d-block">
                        {{mandatoryList?.get('city')}}
                    </span>
                    <span class="position-absolute fs-13 col text-secondary mb-0">
                        Type city.
                    </span>
                </div>
            </div>
        </div>

        <!-- Trip purpose -->
        <div class="row d-flex mt-5 pt-2 px-0">
            <label for="travelDisclosure-tripPurpose" class="fw-500 fs-14 col-custom">
                Purpose of the Trip:
            </label>
            <div class="col">
                <textarea id="travelDisclosure-tripPurpose" appLengthValidator [isShowLimiter]='true' [limit]=500
                    class="form-control" autocomplete="off" [(ngModel)]="travelDisclosureRO.purposeOfTheTrip"
                    (ngModelChange)="triggerConfirmationModal();"
                    [ngClass]="(mandatoryList?.get('purpose')) ? 'invalid-border':''">
                  </textarea>
                <span *ngIf="mandatoryList?.has('purpose')" class="fs-13 invalid-feedback d-block">
                    {{mandatoryList?.get('purpose')}}
                </span>
                <span class="position-absolute fs-13 col text-secondary mb-0">
                    Type purpose of the trip.
                </span>
            </div>
        </div>

        <!-- relationship with research -->
        <div class="row px-0 pt-2 mt-5">
            <label for="travelDisclosure-relationship" class="fw-500 fs-14 col-custom">
                Relationship to Your Research:
            </label>
            <div class="col">
                <textarea id="travelDisclosure-relationship" appLengthValidator [isShowLimiter]='true' [limit]=500
                    class="form-control" autocomplete="off" [(ngModel)]="travelDisclosureRO.relationshipToYourResearch"
                    (ngModelChange)="triggerConfirmationModal();"
                    [ngClass]="(mandatoryList?.get('relationship')) ? 'invalid-border':''">
                  </textarea>
                <span *ngIf="mandatoryList?.has('relationship')" class="fs-13 invalid-feedback d-block">
                    {{mandatoryList?.get('relationship')}}
                </span>
                <span class="position-absolute fs-13 col text-secondary mb-0">
                    Type relationship to your research.
                </span>
            </div>
        </div>

        <!-- Estimated amount -->
        <div class="row px-0 mt-5 pt-2 justify-content-between d-flex align-items-center">
            <label for="travelDisclosure-estimation" class="fw-500 fs-14 col-5">
                Actual U.S. dollar amount reimbursed and/or paid on your behalf
                (estimate if the amount is unknown):
            </label>
            <div class="col-7">
                <input appCurrencyFormat class="form-control text-right" type="text"
                    [(ngModel)]="travelDisclosureRO.travelAmount" [initialValue]="travelDisclosureRO.travelAmount"
                    id="travelDisclosure-estimation" autocomplete="off" (ngModelChange)="triggerConfirmationModal();"
                    [ngClass]="(mandatoryList?.get('amount')) ? 'invalid-border' : ''">
                <span *ngIf="(mandatoryList?.get('amount'))" class="fs-13 invalid-feedback d-block">
                    {{mandatoryList?.get('amount')}}
                </span>
            </div>
        </div>

        <!-- Date -->
        <div class="row px-0 mt-5 pt-2 d-flex justify-content-between pb-2">
            <!-- start date -->
            <div class="row col-6">
                <label for="travelDisclosure-startDate" class="fw-500 fs-14 col-custom">
                    Start Date:
                </label>
                <div class="col">
                    <span class="dateField w-100">
                        <input matInput [matDatepicker]="startDate" id="travelDisclosure-startDate"
                            placeholder={{datePlaceHolder}} (click)="startDate.open()" autocomplete="off"
                            class="d-inline-block form-control w-100" [(ngModel)]="travelDisclosureRO.travelStartDate"
                            (ngModelChange)="validateDates(); triggerConfirmationModal();"
                            (keypress)="commonService._keyPress($event, 'date')"
                            [ngClass]="(dateValidationList?.get('startDate')) ? 'invalid-border':''" />
                        <i (click)="startDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor me-2"></i>
                        <mat-datepicker #startDate></mat-datepicker>
                    </span>
                    <span *ngIf="(dateValidationList.get('startDate'))" class="fs-13 invalid-feedback d-block">
                        {{dateValidationList.get('startDate')}}
                    </span>
                </div>
            </div>

            <!-- end date -->
            <div class="row col-6">
                <label for="travelDisclosure-endDate" class="fw-500 fs-14 col-custom-endDate">
                    End Date:
                </label>
                <div class="col">
                    <span class="dateField">
                        <input matInput [matDatepicker]="endDate" id="travelDisclosure-endDate"
                            placeholder="{{datePlaceHolder}}" (click)="endDate.open()" autocomplete="off"
                            class="d-inline-block form-control w-100" [(ngModel)]="travelDisclosureRO.travelEndDate"
                            (keypress)="commonService._keyPress($event, 'date')"
                            (ngModelChange)="validateDates(); triggerConfirmationModal();"
                            [ngClass]="(dateValidationList?.get('endDate')) ? 'invalid-border':''" />
                        <i (click)="endDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor me-2"></i>
                        <mat-datepicker #endDate></mat-datepicker>
                    </span>
                    <span *ngIf="(dateValidationList.get('endDate'))" class="fs-13 invalid-feedback d-block">
                        {{dateValidationList.get('endDate')}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>