.task-right-div {
  width: 80%;
  top: -5px;
  display: block;
  right: 1px;
  position: fixed;
  height: 100%;
  z-index: 10610;
}

.tool-kit-body {
  background: #FFF;
  width: 100%;
  top: 0.5rem;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  position: absolute;
  z-index: 10;
  // height: 100% !important;
  float: right;
}

.btn-close-task-nav {
  color: #9e9e9e;
  background-color: #FFF;
  border: none;
  outline: none;
}

.btn-close-task-nav:hover {
  color: rgb(87, 87, 87);
  /* background-color: #d1d0d0; */
}

select {
  height: 3.5rem;
}

select option {
  background-color: #fff;
}

.task-list {
  margin: 0;
}

.task-list:hover {
  background-color: #f6faff;
}

.rounded-icon {
  padding: 3px 8px;
  height: 23px;
}

.btn-primary,
.btn-outline-danger {
  padding: .375rem .75rem;
  font-size: 1rem;
  height: 25px;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(128 128 128 / 16%);
  z-index: 9999;
  /* Specify a stack order in case you're using a different order for other elements */
  overflow: hidden;
}

.task-list-scroll {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal {
  z-index: 1062;
}

.success-toast {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.success-toast i {
  color: #155724 !important;
}

.danger-toast {
  color: #dc3545 !important;
  background-color: #f8d7da !important;
  border-color: #fccfd3 !important;
}

.danger-toast i {
  color: #dc3545 !important;
}

.toast-invisible {
  display: none;
}

.toast-visible {
  display: block;
}

.card-height {
  border-radius: 15px 0px 0px 15px;
}

.card-border {
  border-radius: 15px 0px 0px 0px;
  background: #efefef;
}

.close-btn {
  color: #a92034;
  font-size: 1.5rem;
  padding: 0;
  background: none;
  right: 5px !important;
  top: -10px !important;
}

.close {
  position: absolute;
  top: 6rem;
  color: grey;
  background: #ffffff;
  z-index: 1500;
  padding: 1.2rem 1.3rem;
  border-radius: 50%;
  left: -24px;
  opacity: 1;
  width: 40px;
  height: 40px;
  font-size: 14px;
}

.close img {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.br-12 {
  border-radius: 12px;
}

.cmnt-color {
  background-color: #fafafa;
}

.tab-color {
  padding: 2px 8px;
  color: #f8f5f5fd;
}

.border-color {
  border: #54bf5b 1.6px solid !important;
  border-radius: 8px;
  background: #f5fef5;
  color: #5a5a5a;
}

.btn-size {
  height: 100% !important;
}

.card-col {
  background: #fafafc;
}

.attch {
  background: #ffffff;
  border: #b9bdb9 1.6px solid !important;
  border-radius: 4px;
  color: #5a5a5a;
  outline: 0;
}

.btn-color {
  background: #ffffff;
  border: #b9bdb9 1.6px solid !important;
  border-radius: 12px;
}

.border-left-line {
  border-left: solid 1px #80808054;
  width: 35%;
}

.date {
  color: #98989e;
}

.comment-inner-body {
  background: #d3e1ed;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.collapse-description {
  display: flex;
  align-items: center;
}

.collapse-description::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 1px;
  background-color: #cacdd1;
}

.mandatory {
  color: #a92034;
  padding-left: 3px;
}

.searchButton {
  position: absolute;
  left: 184px;
  top: 80px;
  font-size: 1.5rem;
  color: #9E9E9E;
  cursor: pointer;
}

.searchInput {
  padding-left: 40px !important;
}

.scrollable-table {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  overscroll-behavior: contain;
}

.scrollable-table thead {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  width: .4em;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #ccc
}

.disable-scroll {
  overflow-y: hidden !important;
}

.border-nav {
  border: 1px solid #e6e6e6;
  border-radius: 15px;
}

.col-9 {
  width: 166.5%;
}

.col-custom {
  flex: 0 0 auto;
  width: 16.6%;
}
.col-custom-right {
  flex: 0 0 auto;
  width: 181px;
}

.card-size{
  min-height: 88vh;
}
.card-header {
  position: sticky;
  top: 0;
  z-index: 2
}

.container-bg-color {
 background-color: #FBFBFF;
}
