<div class="w-100">
    <!-- apply to all -->
    <div *ngIf="defineRelationshipService.isEditMode && projectSfiRelation?.coiDisclEntProjDetails?.length" id="COI_DEFINE_RELATIONSHIP_HEADER_APPLY_ALL"
        class="d-flex align-items-center justify-content-between px-3 py-2 w-100 position-sticky top-0 z-index-5 bg-white">
        <div class="col d-flex align-items-center">
            <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0 coi-scale-9 coi-ms-n2px">info</mat-icon>
            <span class="coi-text-light fs-13">{{helpText}}</span>
        </div>
        <button type="buton" id="coi_project_sfi_apply-to_all"
            class="col-auto fs-13 btn btn-primary btn-sm" (click)="openApplyToAllModal()"
            aria-label="Click here to apply to all" title="Click here to apply to all">
            <span>Apply to All</span>
        </button>
    </div>
    <!-- sfi list table -->
    <ng-container>
        <div *ngIf="projectSfiRelation?.coiDisclEntProjDetails?.length; else showNoData" class="table-responsive coi-table-striped rounded-bottom-4 pb-1">
            <table class="table fs-14 table-striped mb-0 border-top" id="COI_DEFINE_RELATION_TABLE_{{projectSfiRelation?.projectId}}">
                <thead id="COI_DEFINE_RELATION_TABLE_{{projectSfiRelation?.projectId}}_header"
                    class="position-sticky z-index-4" [style.top]="defineRelationshipService.isEditMode ? '45px' : '-1px'">
                    <tr class="fw-600" id="COI_DEFINE_RELATION_TABLE_{{projectSfiRelation?.projectId}}_header_tr">
                        <!-- Significant Financial Interest -->
                        <th scope="col" class="col align-middle border-end p-0" tabindex="-1">
                            <button title="Click here to sort SFI in {{isDesc['entityName'] ? 'ascending' : 'descending'}} order"
                                attr.aria-label="Click here to sort SFI in {{isDesc['entityName'] ? 'ascending' : 'descending'}} order"
                                class="btn-none w-100 h-100 px-3 py-2 mt-0 d-flex align-items-center coi-table-sort-btn"
                                (click)="onSortClick('entityName', 'personEntity')">
                                <span class="coi-text-darker">Significant Financial Interest</span>
                                <i class="fa coi-text-light ms-2 coi-table-sort-icon" aria-hidden="true"
                                    [ngClass]="isDesc['entityName'] ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'"></i>
                            </button>
                        </th>
                        <!-- edit page -->
                        <ng-container *ngIf="defineRelationshipService.isEditMode">
                            <!-- Conflicts and Relationship -->
                            <th scope="col" class="col-6 align-middle p-0" tabindex="-1">
                                <button title="Click here to sort conflict status in {{isDesc['projectConflictStatusCode'] ? 'ascending' : 'descending'}} order"
                                    attr.aria-label="Click here to sort conflict status in {{isDesc['projectConflictStatusCode'] ? 'ascending' : 'descending'}} order"
                                    class="btn-none w-100 h-100 px-3 py-2 mt-0 d-flex align-items-center coi-table-sort-btn"
                                    (click)="onSortClick('projectConflictStatusCode')">
                                    <span class="coi-text-darker">Conflicts and Relationship</span>
                                    <i class="fa coi-text-light ms-2 coi-table-sort-icon" aria-hidden="true" 
                                        [ngClass]="isDesc['projectConflictStatusCode'] ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'"></i>
                                </button>
                            </th>
                        </ng-container>
                        <!-- view page -->
                        <ng-container *ngIf="!defineRelationshipService.isEditMode">
                            <th scope="col" class="col align-middle border-end" tabindex="-1">Relationship between SFIs and Projects</th>
                            <th scope="col" class="col-2 align-middle border-end text-nowrap" tabindex="-1">
                                <button title="Click here to sort conflict status in {{isDesc['projectConflictStatusCode'] ? 'ascending' : 'descending'}} order"
                                    attr.aria-label="Click here to sort conflict status in {{isDesc['projectConflictStatusCode'] ? 'ascending' : 'descending'}} order"
                                    class="btn-none w-100 h-100 px-3 py-2 mt-0 d-flex align-items-center coi-table-sort-btn"
                                    (click)="onSortClick('projectConflictStatusCode')">
                                    <span class="coi-text-darker">Conflict Status</span>
                                    <i class="fa coi-text-light ms-2 coi-table-sort-icon" aria-hidden="true" 
                                        [ngClass]="isDesc['projectConflictStatusCode'] ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'"></i>
                                </button>
                            </th>
                            <th scope="col" class="col-auto align-middle text-center" tabindex="-1">Actions</th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let coiDisclEntProjDetail of projectSfiRelation.coiDisclEntProjDetails; let sfiIndex = index, let last = last">
                        <tr [id]="coiDisclEntProjDetail?.disclosureDetailsId">
                            <!-- sfi details -->
                            <td [attr.aria-label]="coiDisclEntProjDetail?.personEntity?.entityName" class="col-6 pt-2 border-end"
                                [id]="'sfi_name_' + coiDisclEntProjDetail?.disclosureDetailsId" [class.border-bottom-0]="last">
                                <div class="row gap-3">
                                    <div class="col-12 d-flex gap-2">
                                        <!-- entity name -->
                                        <div class="d-flex align-items-center">
                                            <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0 coi-scale-8 coi-ms-n2px">apartment</mat-icon>
                                            <span [title]="coiDisclEntProjDetail?.personEntity?.entityName" class="coi-text-dark text-slice">{{coiDisclEntProjDetail?.personEntity?.entityName}}</span>
                                        </div>
                                        <!-- modified sign -->
                                        <span *ngIf="coiDisclEntProjDetail.prePersonEntityId && (coiDisclEntProjDetail.prePersonEntityId != coiDisclEntProjDetail.personEntityId)"
                                            class="fs-12 sfi-info-text px-2 rounded-5 rounded-pill">Modified</span>
                                    </div>
                                    <!-- Entity Type -->
                                    <div class="col">
                                        <label for="coi_sfi_type_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}" class="coi-text-dark d-block">Entity Type</label>
                                        <div id="coi_sfi_type_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}">
                                            <app-no-data-label [valueToShow]="coiDisclEntProjDetail?.personEntity?.entityType">
                                                <span [title]="coiDisclEntProjDetail?.personEntity?.entityType"
                                                    [attr.aria-label]="coiDisclEntProjDetail?.personEntity?.entityType"
                                                    class="coi-text-light text-slice">{{coiDisclEntProjDetail?.personEntity?.entityType}}</span>
                                            </app-no-data-label>
                                        </div>
                                    </div>
                                    <!-- Country -->
                                    <div class="col">
                                        <label for="coi_sfi_country_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}'"
                                            class="coi-text-dark d-block">Country</label>
                                        <div id="coi_sfi_country_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}">
                                            <app-no-data-label [valueToShow]="coiDisclEntProjDetail?.personEntity?.countryName">
                                                <span [title]="coiDisclEntProjDetail?.personEntity?.countryName"
                                                    [attr.aria-label]="coiDisclEntProjDetail?.personEntity?.countryName"
                                                    class="coi-text-light text-slice">{{coiDisclEntProjDetail?.personEntity?.countryName}}</span>
                                            </app-no-data-label>
                                        </div>
                                    </div>
                                    <!-- Relationship -->
                                    <div class="col-12 d-inline-flex gap-3">
                                        <label for="coi_sfi_relation_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}" class="coi-text-dark">Relationship</label>
                                        <div id="coi_sfi_relation_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}">
                                            <app-no-data-label [valueToShow]="coiDisclEntProjDetail?.personEntity?.personEntityRelations">
                                                <div class="d-inline-flex align-content-center gap-2 flex-wrap">
                                                    <ng-container *ngFor="let sfiRelations of coiDisclEntProjDetail?.personEntity?.personEntityRelations">
                                                        <div class="relationship-pill border px-2 py-1 rounded-4">
                                                            <span class="d-flex coi-purple-text">
                                                                <mat-icon aria-hidden="true" class="flex-shrink-0 me-1">{{sfiRelations?.icon}}</mat-icon>
                                                                <span class="fw-bold me-1">{{sfiRelations?.relationshipType}}:</span>
                                                                <span class="fw-normal">{{sfiRelations?.description}}</span>
                                                            </span>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </app-no-data-label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- conflict and description for edit page -->
                            <td *ngIf="defineRelationshipService.isEditMode" class="col-6" [class.border-bottom-0]="last">
                                <!-- conflict status -->
                                <div class="mb-3">
                                    <label for="coi_sfi_conflict_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}" class="coi-text-dark d-block mb-1">
                                        <span class="mandatory me-1" aria-label="Mandatory field">*</span>
                                        <span>Conflict Status</span>
                                    </label>
                                    <!-- select -->
                                    <select class="form-select form-control"
                                        [(ngModel)]="coiDisclEntProjDetail.projectConflictStatusCode"
                                        (ngModelChange)="saveProjectSfiConflict(coiDisclEntProjDetail, sfiIndex)"
                                        title="Click here to select conflict status"
                                        [class.is-invalid]="mandatoryList.has('CONFLICT_STATUS_' + sfiIndex)"
                                        id="coi_sfi_conflict_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}"
                                        name="coi_sfi_conflict_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}">
                                        <option disabled [value]="null"><span class="d-block py-2">--Select--</span></option>
                                        <ng-container *ngFor="let status of defineRelationshipService.coiStatusList;">
                                            <option [value]="status.projectConflictStatusCode"><span class="d-block py-2">{{status?.description}}</span></option>
                                        </ng-container>
                                    </select>
                                    <!-- conflict status error -->
                                    <span *ngIf="mandatoryList.has('CONFLICT_STATUS_' + sfiIndex)"
                                        class="invalid-feedback">{{ mandatoryList.get('CONFLICT_STATUS_' + sfiIndex) }}</span>
                                </div>
    
                                <!-- description -->
                                <div class="mb-1">
                                    <label for="coi_sfi_conflict_comment_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}"
                                        class="coi-text-dark d-block mb-1">
                                        <span class="mandatory me-1" aria-label="Mandatory field">*</span>
                                        <span>Define Project - SFI Relation</span>
                                    </label>
                                    <textarea class="form-control comment-text-box textarea-height"
                                        [(ngModel)]="coiDisclEntProjDetail?.disclComment.comment" rows="4"
                                        (ngModelChange)="validateDescription(coiDisclEntProjDetail, sfiIndex)"
                                        id="coi_sfi_conflict_comment_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}"
                                        name="coi_sfi_conflict_comment_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}_{{sfiIndex}}"
                                        appLengthValidator [limit]="2000" spellcheck="false"
                                        [class.is-invalid]="mandatoryList.has('CONFLICT_COMMENT_' + sfiIndex)"
                                        (blur)="saveProjectSfiConflict(coiDisclEntProjDetail, sfiIndex)"
                                        title="Click here to provide your description" placeholder="Please provide the description here."
                                        [attr.aria-label]="coiDisclEntProjDetail?.disclComment.comment"></textarea>
                                    <!-- description error -->
                                    <span *ngIf="mandatoryList.has('CONFLICT_COMMENT_' + sfiIndex)"
                                        class="invalid-feedback">{{ mandatoryList.get('CONFLICT_COMMENT_' + sfiIndex) }}</span>
                                </div>
                            </td>
                            <!-- for view page -->
                            <ng-container *ngIf="!defineRelationshipService.isEditMode">
                                <!-- Relationship between SFIs and Projects -->
                                <td class="col align-middle border-end" [class.border-bottom-0]="last"
                                    [class.text-center]="!coiDisclEntProjDetail.disclComment.comment">
                                    <app-no-data-label [valueToShow]="coiDisclEntProjDetail.disclComment.comment">
                                        <span>{{coiDisclEntProjDetail.disclComment.comment}}</span>
                                    </app-no-data-label>
                                </td>
                                <!-- Conflict Status -->
                                <td class="col-2 align-middle border-end" [class.border-bottom-0]="last"
                                    [class.text-center]="!coiDisclEntProjDetail?.projectConflictStatusCode">
                                    <div id="coi_sfi_project_conflict_view_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}">
                                        <app-no-data-label [valueToShow]="coiDisclEntProjDetail?.projectConflictStatusCode">
                                            <div class="text-nowrap">
                                                <span class="{{PROJECT_CONFLICT_STATUS_BADGE[coiDisclEntProjDetail?.projectConflictStatusCode]}}"></span>
                                                <span id="coi_project_relationship_conflict-status_{{projectSfiRelation?.projectId}}_{{coiDisclEntProjDetail?.entityId}}"
                                                    class="badgeFont">{{coiDisclEntProjDetail?.coiProjConflictStatusType?.description}}</span>
                                            </div>   
                                        </app-no-data-label>
                                    </div>
                                </td>
                                <!-- Actions -->
                                <td class="col-auto align-middle" [class.border-bottom-0]="last">
                                    <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                        <!-- conflict slider -->
                                        <button class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 coi-scale-9 mt-0"
                                            title="Click here to open conflict slider" aria-label="Click here to open conflict slider"
                                            (click)="openAddConflictSlider(coiDisclEntProjDetail)">
                                            <span aria-hidden="true" class="btn-secondary-svg"></span>
                                        </button>
                                        <!-- comment -->
                                        <button class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 coi-scale-9 mt-0"
                                            title="Click here to open comment" aria-label="Click here to open comment"
                                            (click)="openReviewerComment(coiDisclEntProjDetail)">
                                            <mat-icon aria-hidden="true" class="flex-shrink-0">rate_review</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <ng-template #showNoData>
            <app-no-information customClass="mt-0"></app-no-information>
        </ng-template>
    </ng-container>
</div>
