<mat-select class="form-control {{customClass}}" #mySelect [(ngModel)]="selection" name="lookupFilter" (focus)="showLookUpList()" placeholder="--select--"
  [multiple]="isMultiple" [class.is-invalid]="isError" (closed)="emitDataToParentComponent()" (selectionChange)="checkIfAllOptionsSelected()"
  [title]="lookupTitle">
  <mat-select-trigger>
    {{selectedLookUpList?.length > 0 ? selectedLookUpList[0]?.description : ''}}
    <span *ngIf="(selectedLookUpList?.length || 0) > 1" class="additional-selection">
      (+{{(selectedLookUpList?.length || 0) - 1}} {{selectedLookUpList?.length === 2 ? 'other' : 'others'}})
    </span>
  </mat-select-trigger>
  <div *ngIf="isEnableSearch" class="mat-option">
    <input type="text" class="form-control" [(ngModel)]="searchText" (ngModelChange)="checkIfAllOptionsSelected()" placeholder="Search">
  </div>
  <mat-option *ngIf="isMultiple" #lookupSelectAll [value]="'SELECT_ALL'"> Select All </mat-option>
  <mat-option *ngIf="!isMultiple" (click)="null"> -- select -- </mat-option>
  <mat-option *ngFor="let lookup of lookUpList | lookupFilter : searchText" [value]="lookup.code || lookup.description">
    <span [innerHTML]="lookup.description"></span>
  </mat-option>
</mat-select>
