.navigation-icons {
  .active {
    border-bottom: 2px solid #007DEC;
    color: #007DEC;
    margin-bottom: -0.2rem !important;
  }
}

.user-dashboard-nav {
  min-height: 42px;
}

.btn-position {
  position: relative;
  bottom: 5px;
}

.border-nav {
  width: 26.3rem;
  border-radius: 1.5rem 1.5rem 0px 0px;
  position: relative;
  top: 5px;
}

.row {
  border: 1px solid rgb(218, 213, 213);
  margin: 10px;
  background-color: #EEEEEE;
  padding: 5px;
  padding-top: 9px;
}

.modal {
  z-index: 10612 !important;
  background: #00000066;
}

// #noData{
//   height: 13rem;
// }
// .no-data-icon-outer{

// }
.nav-width {
  width: 97.7%;
  position: relative;
  left: 1.4rem;
  border-radius: 0.5rem;
}

.bg-active {
  background-color: #007dec38;
}

.left-curve {
  border-radius: 1.5rem 0 0px 0px;
}

.right-curve {
  border-radius: 0 1.5rem 0px 0px;
  padding-right: 2rem !important;
}

.r-title {
  display: inline-block;
  text-transform: lowercase;
}

.r-title::first-letter {
  text-transform: uppercase;
}

.navigation-title {
  .active {
    // border-bottom: 2px solid #007DEC;
    color: #007DEC;
    margin-bottom: -0.2rem !important;
    font-weight: bold;
    position: relative;
    bottom: 5px;
  }
}

.nav-bar {
  border-bottom: 2px solid #007DEC;
  position: relative;
  bottom: -6px;
}

.mat-save {
  position: absolute;
  right: .1rem;
}

.modal-header{
  border-radius: 2rem 2rem 0rem 0rem;
}
.modal-content{
  border-radius: 2rem;

}
