<div class="mt-4">
  <div *ngIf="definedRelationships?.length" class="container-fluid m-2 ">
    <nav class="border-nav bg-white border d-flex fs-15 fw-bold mt-3 shadow user-dashboard-nav">
      <div (click)="currentSelected.tab = 'Financial'"
        [class.bg-active]="currentSelected.tab === 'Financial'?'active':''"
        class="left-curve align-items-end d-flex border-end navigation-icons text-secondary px-3 py-1" role="button">
        <span [class.active]="currentSelected.tab === 'Financial'?'active':''" class="pb-3 active">Financial</span>
      </div>
      <div (click)="currentSelected.tab = 'Commitment'"
        [class.bg-active]="currentSelected.tab === 'Commitment'?'active':''"
        class="align-items-end d-flex border-end navigation-icons text-secondary px-3 py-1" role="button">
        <span [class.active]="currentSelected.tab === 'Commitment'?'active':''" class="pb-3 active">Commitment</span>
      </div>
      <div (click)="currentSelected.tab = 'Travel'" [class.bg-active]="currentSelected.tab === 'Travel'?'active':''"
        class="right-curve align-items-end d-flex navigation-icons text-secondary px-3 py-1" role="button">
        <span [class.active]="currentSelected.tab === 'Travel'?'active':''" class="pb-3 active">Travel</span>
      </div>
    </nav>
  </div>
  <app-add-relationship *ngIf="!definedRelationships?.length"
    (addRelationShip)="openAddRelationshipModal($event)"></app-add-relationship>
  <div *ngIf="definedRelationships?.length" class="container-fluid mx-2">
    <div class="card shadow">
      <!-- <div> -->
      <nav
        class="align-items-center bg-white border d-flex fs-14  mt-5 py-1 shadow-sm user-dashboard-nav ml-15 mr-15 rounded-2">
        <ng-container *ngFor="let coiFinancialEntityDetail of definedRelationships;">
          <div (click)="getQuestionnaire(coiFinancialEntityDetail)"
            class="border-end navigation-title px-3 py-1 text-secondary" role="button"
            [ngClass]="activeRelationship === coiFinancialEntityDetail?.financialEntityRelTypeCode?'nav-bar':''">
            <span
              [class.active]="activeRelationship === coiFinancialEntityDetail?.financialEntityRelTypeCode?'active':''"
              class="active r-title">
              {{coiFinancialEntityDetail?.coiFinancialEntityRelType?.description}}</span>
          </div>
        </ng-container>
        <div *ngIf="isEditMode" (click)="activeRelationship = 'add_relationship' " class="px-3 py-1 text-primary"
          role="button">
          <span (click)="openAddRelationshipModal('addRelationshipModal')">
            <mat-icon class="material-icons-outlined pt-2 fs-18">add_circle_outline</mat-icon>
            <label class="btn-position">Add Relationship</label>
          </span>
        </div>
        <div *ngIf="isEditMode" class="mat-save">
          <button class="align-items-center d-flex btn btn-primary mt-0 py-1 px-3 h-100 fs-13 pt-1"
            title="Save questionnaire" (click)="getSaveEvent();">
            <mat-icon class="fs-16 me-2 material-icons align-items-center d-flex">save</mat-icon>
            <span class="fs-13">Save</span>
          </button>
        </div>
      </nav>
      <!-- </div> -->
      <div *ngIf="definedRelationships?.length" class="container-fluid m-2">
        <app-view-questionnaire-list [configuration]="configuration"
          [questionnaireHeader]="'Relation With Significant Financial Interest'"
          [externalSaveEvent]="$externalSaveEvent" [isShowSave]="false">
        </app-view-questionnaire-list>
      </div>
    </div>
  </div>
</div>
<!-- <app-add-relationship-modal *ngIf="isShowRelationshipModal" [isWithOutRelationship]="false"
 [relationLookup]="[relationLookup]" (relationshipResult)="addEntityToggle($event)"
  (hideModal)="hideRelationshipModal($event)" (addEntityRelationship)="addRelationship($event)">
</app-add-relationship-modal> -->

<!-- Modal -->
<div class="modal fade" id="addRelationshipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-mdb-backdrop="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header" style=" height: 48px;background-color:#EEEEEE;">
        <h3 class="modal-title fs-16" id="exampleModalLabel">Add Relations</h3>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div class="row ">
          <p class="fs-13"><b>Significant Financial Interest Details</b>: Now Includes
            not-for-profit
            Entities Other than Government Entities,Institution of Higher Education and Affiliated
            Organizations.</p>
        </div>
        <div *ngIf="relationLookup.length; else noData" class="relation d-flex justify-content-center  "
          style="margin-top: 26px;margin-bottom: 16px;">
          <div class=" border "style="padding:28px ;">
            <div style="display: flex; flex-direction: row; ">
              <div class="form-check form-check-inline">
                <label style="font-size: 14px; color: rgb(0,0,0);" class="form-check-label ps-5"><b>Select Relation:
                  </b></label>
              </div>
              <div *ngFor="let relation of relationLookup;" class="form-check form-check-inline  ">
                <input type="radio" name="relation" class="form-check-input text-secondary"
                  [value]="relation?.financialEntityRelTypeCode"
                  [(ngModel)]="coiFinancialEntityDetail.financialEntityRelTypeCode" (ngModelChange)="setRelationship()">
                <label class="text-secondary r-title fs-14">
                  {{relation?.description}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noData>
          <div class="m-3">
            <app-no-information></app-no-information>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary fs-15 py-2" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary mr-10" (click)="addRelation()">Add Relation</button>
      </div>
    </div>
  </div>
</div>
