<div class="ms-2 questionnaire-position me-2">
    <div *ngIf="entityDetailsServices.definedRelationships?.length && isEditMode && entityDetailsServices.canMangeSfi" class="justify-content-end d-flex">
      <button class="btn-delete-position btn btn-tertiary mr-2 mt-1" data-bs-toggle="modal" data-bs-target="#deleteRelationModal">
        <mat-icon>delete_outline</mat-icon>
        <span class="fs-14 delete-content-position">Delete</span>
      </button>
    </div>
    <div class="custom-qustnr">
        <app-view-questionnaire-list *ngIf="entityDetailsServices.definedRelationships?.length && hasPermissionToView"
            [configuration]="configuration" [questionnaireHeader]="''"
            [externalSaveEvent]="entityDetailsServices.globalSave$" [isShowSave]="false"
            (QuestionnaireSaveEvent)="questionnaireSaveAction($event)"
            (QuestionnaireEditEvent)="questionnaireEdit($event)">
        </app-view-questionnaire-list>
        <app-no-information *ngIf="!hasPermissionToView" [isBorderNeeded]="true"><span>You don't have permission to view
                this resource</span></app-no-information>
    </div>
</div>

<!-- DELETE RELATIONSHIP MODAL -->
<div class="modal modal-coi modal-coi fade mySkinDialog modal-opacity" tabindex="-1" id="deleteRelationModal"
    tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-16">Delete Relationship</h5>
                <button aria-label="Close" class="btn-close fs-12" data-bs-dismiss="modal" id="dissmiss-btn"
                    type="button">
                </button>
            </div>
            <div class="modal-body fs-14">
                <p>Are you sure you want to delete
                    <strong>{{currentRelationshipDetails?.validPersonEntityRelType?.description}}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button id="prop-project-close-btn" type="button" class="btn btn-outline-secondary"
                    data-bs-dismiss="modal">Cancel</button>
                <button id="prop-project-team-delete-btn" type="button" class="btn btn-primary fs-14"
                    data-bs-dismiss="modal" (click)="deleteRelationship()">Delete</button>
            </div>
        </div>
    </div>
</div>