.navigation-icons {
  .active {
    border-bottom: 2px solid #007DEC;
    color: #007DEC;
    margin-bottom: -0.2rem !important;
    padding: 7.3px 0px;
  }
}

.user-dashboard-nav {
  min-height: 42px;
}

.btn-position {
  position: relative;
  bottom: 5px;
}

.border-nav {
  width: max-content;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  top: 0px;
}

.row {
  border: 1px solid rgb(218, 213, 213);
  margin: 10px;
  background-color: #EEEEEE;
  padding: 5px;
  padding-top: 9px;
}

.modal {
  z-index: 10612 !important;
  background: #00000066;
}

// #noData{
//   height: 13rem;
// }
// .no-data-icon-outer{

// }
.nav-width {
  width: 97.7%;
  position: relative;
  left: 1.4rem;
  border-radius: 0.5rem;
}

.bg-active {
  background-color: #007dec38;
}

.left-curve {
  // border-radius: 14px 0 0px 0px;
    border-radius: 14px 14px 0px 0px; /* temp after Commitment & travel*/

}

.right-curve {
  border-radius: 0px 14px 0px 0px;
  padding-right: 2rem !important;
}

.r-title {
  display: inline-block;
  text-transform: lowercase;
}

.r-title::first-letter {
  text-transform: uppercase;
}

.navigation-title {
  .active {
    // border-bottom: 2px solid #007DEC;
    color: #007DEC;
    margin-bottom: -0.2rem !important;
    font-weight: bold;
    position: relative;
    bottom: 5px;
  }
}

.nav-bar {
  border-bottom: 2px solid #007DEC;
  position: relative;
  bottom: -6px;
}

.mat-save {
  position: absolute;
  right: 10px;
}

.modal-header{
  border-radius: 2rem 2rem 0rem 0rem;
}
.modal-content{
  border-radius: 2rem;
}
.btn-close {
  // color: #48647f;
  color: #000000;
}
.form-check-inline {
  display: inline-block;
  margin-right: 3rem;
}
.seperator {
  border: 1px solid #ededed;
    margin: 1px 0;
}

.on-data-position{
  position: relative;
  bottom: 7px;
}

.card-br{
  border-radius: 0px 0px 5px 5px;
}

.nav-position{
  position: static;
}

.scrollable-table {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  overscroll-behavior: contain;
}

.scrollable-table thead {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  width: .4em;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #ccc
}

.disable-scroll {
  overflow-y: hidden !important;
}
