.mat-icon:hover {
  background-color: rgba(44, 119, 244, 0.1);
  border-radius: 50%;
  outline: none;
}

.right-navigation-card {
  border: solid 1px #dbdae2 !important;
  .card-header {
    min-height: auto;
    font-weight: 600;
    background-color: #f5f4fb;
  }
  .card-body {
    overflow-y: auto;
    min-height: auto;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  
    &::-webkit-scrollbar-track {
      width: 5px;
      height: 5px;
    }
  }

  .nav {
    .nav-item {
      cursor: pointer;
      max-height: 300;

      &.active {
        color: #007dec;
        background: #f1f1f1;
        font-weight: 600;
        border-bottom: solid 1px #dee2e6;
        border-top: solid 1px #dee2e6;
        max-height: 300px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }
      
        &::-webkit-scrollbar-track {
          width: 5px;
          height: 5px;
        }

        &:nth-child(1) {
          border-top: 0;
        }
      }

      &.active a {
        color: #007dec;
      }

      &:hover {
        background: #f1f1f1;

        & .nav-link {
          color: #007dec;
        }
      }

      .nav-link {
        color: #505050;
        font-weight: 500;
      }
    }

    .right-sub-nav {
      list-style: none;
      margin-bottom: 1rem;

      .sub-nav-inner-list {
        margin-bottom: 1rem;

        .active-sub-nav {
          color: #007dec;
        }

        span {
          color: #505050;
        }

        ul a {
          background: #fff;
          border-bottom: solid 1px #dee2e6;
          text-decoration: none;
          color: #505050;
          border-radius: 3px;
          margin-bottom: 5px;

          &.sub-nav-active {
            color: #007dec;
            font-weight: 600;
          }

          &:hover {
            text-decoration: underline;
            color: #007dec;
          }
        }
      }
    }
  }
}

.tree {
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
  color: #505050;
  position: relative;

  ul {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
    color: #505050;
    position: relative;
    margin-left: .5em;

    &:before {
      content: "";
      display: block;
      width: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid;
    }
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
  }

  li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    font-weight: bold;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 0;
      border-top: 1px solid;
      margin-top: -1px;
      position: absolute;
      top: 1em;
      left: 0;
    }

    &:last-child {
      &:before {
        background: #f1f1f1;
        height: auto;
        top: 1em;
        bottom: 0;
      }
      &:after {
        content: "";
        position: absolute;
        background: #f1f1f1;
        left: -10px;
        height: 100%;
        width: 20px;
        top: 15px;
      }
    }
    
  }
}

// Position sticky active navigation
.ps-active-nav {
  position: sticky;
  top: 0;
  background: #f1f1f1;
  z-index: 10;
  display: block;
}
