<div *ngIf="isToolkitVisible" class="card right-navigation-card mb-3 slideLeft" id="disclosure-toolkit">
    <div class="card-header h-auto d-flex align-items-center border-bottom">
        Navigate to
    </div>
    <div class="card-body p-0">
        <ul class="nav flex-column">
            <li class="nav-item" (click)="jumpToSection('COI801')" [ngClass]="{'active':activeNav == 'COI801'}"
                title="Go to Screening Questionnaire Section" aria-label="Go to Screening Questionnaire Section">
                <a class="nav-link" aria-current="page">Screening Questionnaire</a>
            </li>
            <li class="nav-item" (click)="jumpToSection('COI802')" [ngClass]="{'active':activeNav == 'COI802'}"
                title="Go to SFI's section" aria-label="Go to SFI's section">
                <a class="nav-link">Significant Financial Interest</a>
            </li>
            <li class="nav-item" [ngClass]="{'active':activeNav == 'COI803'}">
                <a class="nav-link d-flex align-items-center justify-content-between" title="Go to Relationships section" (click)="jumpToSection('COI803')"
                aria-label="Go to Relationships section">Relationships
                    <mat-icon aria-hidden="true"
                        title="Click here to collapse / expand Relationships section"
                        aria-label="Click here to collapse / expand Relationships section">{{isRelationshipCollapse ?
                        'keyboard_arrow_up' :'keyboard_arrow_down'}}</mat-icon></a>
                <ul *ngIf="isRelationshipCollapse" class="right-sub-nav fs-14" id="relationship-chid-section">
                    <li *ngIf="projectList?.awards?.length" class="fw-medium sub-nav-inner-list">
                        <span [ngClass]="{'active-sub-nav': activeSubNav == 'AWARD'}"
                            class="ps-active-nav">Awards</span>
                        <ul class="tree mt-2">
                            <ng-container *ngFor="let award of projectList?.awards; let i = index">
                                <li (click)="jumpToProjectSection('COI803','AWARD',award?.moduleItemId); openProjectRelationships(award, i)"
                                    [title]="'Go to '+ award?.moduleItemKey +' '+ award?.title +' award'"
                                    [attr.aria-label]="'Go to '+ award?.moduleItemKey +' '+ award?.title +' award'">
                                    <a class="px-2 d-block"
                                        [ngClass]="{'sub-nav-active': subNavActive == award?.moduleItemId}">{{award?.moduleItemKey}}
                                        {{award?.title.length>51 ? (award?.title | slice:0: 51)+'...': award?.title}}</a>
                                </li>
                            </ng-container>

                        </ul>
                    </li>
                    <li *ngIf="projectList?.proposals?.length" class="fw-medium sub-nav-inner-list">
                        <span [ngClass]="{'active-sub-nav': activeSubNav == 'PROPOSAL'}"
                            class="ps-active-nav">Proposals</span>
                        <ul class="tree mt-2">
                            <ng-container *ngFor="let proposals of projectList?.proposals; let i = index">
                                <li (click)="jumpToProjectSection('COI803','PROPOSAL',proposals?.moduleItemId); openProjectRelationships(proposals, i)"
                                    [title]="'Go to '+ proposals?.moduleItemId +' '+ proposals?.title +' proposal'"
                                    [attr.aria-label]="'Go to '+ proposals?.moduleItemId +' '+ proposals?.title +' proposal'">
                                    <a class="px-2 d-block"
                                        [ngClass]="{'sub-nav-active': subNavActive == proposals?.moduleItemId}">{{proposals?.moduleItemId}}
                                        {{proposals?.title.length>51 ?(proposals?.title | slice:0:51)+'...' : proposals?.title}}</a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item" (click)="jumpToSection('COI804')" [ngClass]="{'active':activeNav == 'COI804'}"
                title="Go to Certification section" aria-label="Go to Certification section">
                <a class="nav-link" aria-disabled="true">Certification</a>
            </li>
        </ul>
    </div>
</div>
