.navigation-to-tabs div {
  // background-color: #f2f6fe;
  color: #606060;

  &:hover {
    background-color: #F2F6FE;
    color: black;
  }
}

.sub-navigation-to-tabs {
  color: #606060;
  .bg-sub-goto {
    background-color: white;
  }
  .sub-goto {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover {
      background-color: #F2F6FE !important;
      color: #606060;
      cursor: pointer;
    }
  }
}

.side-bar-title {
  min-height: 55px;
  background-color: #E8E8E8;
}
.scrollable-section {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: calc(100vh - 293px);
  max-height: 33vh;
}

::-webkit-scrollbar {
  width: .4em;
  height: 4em;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #ccc
}

.relation-margin {
  margin-left: 250px
}

.mat-icon:hover {
  background-color: rgba(44, 119, 244, 0.1);
  border-radius: 50%;
  outline: none;
}

.navigate-color {
  background-color: white;
}

.relationship-color {
  background-color: #F2F6FE !important;
}

.project-color {
  color:#486487
}

.side-scroll-award {
  max-height: calc(74vh - 50rem);
  overflow-y: auto;
  min-height: 100px;
}

.side-scroll-proposal {
  max-height: calc(74vh - 50rem);
  overflow-y: auto;
  min-height: 100px;
}

