/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  overflow: hidden !important;
}

// scroll design
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track { 
  width: 12px;
  max-height: 50vh;
  height: 50vh;
  background-color: #e7e7e7;
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
	background: #b8b7b6;
	border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #979797; 
}
// scroll design ends

.fs-12 {
  font-size: 1.2rem !important;
}

.fs-14 {
  font-size: 1.4rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.fs-16 {
  font-size: 1.6rem !important;
}

.fs-18 {
  font-size: 1.8rem !important;
}

.fs-20 {
  font-size: 2.0rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 10613 !important;
}

.modal-footer {

  .btn-outline-secondary,
  .btn-outline-primary,
  .btn-danger {
    font-size: 1.4rem !important;
    min-width: 5em;
    padding: 0.5rem 1rem !important;
    height: 35px;
  }
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.font-weight-normal {
  font-weight: 100 !important;
}

header ul li,
nav ul li {
  font-size: 1.5rem !important;
  color: #7c7c7c !important;
  font-weight: 600 !important;
}

header ul li.active,
nav ul li.active {
  color: #007DEC !important
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 100%
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 100%
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1600px
  }
}

.pl-5 {
  padding-left: 3rem !important;
}

.bg-success {
  background-color: #4CB57D !important;
  color: #fff;
}

.bg-info {
  background-color: #17a2b8 !important;
  color: #fff;
}

.modal-backdrop {
  height: 0 !important;
}

.modal {
  background: #00000066 !important;
}

.bg-container {
  height: 100%;
  background-image: linear-gradient(to right, #587ff5, #706be5);

  .login-container {
    display: flex;
    position: absolute;
    background-color: white;
    width: 450px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);		 */
    //  border-radius: 15px;
    overflow: hidden;

    .login-img-wrapper {
      flex: 1;
      padding: 160px 53px 34px 53px;
      background-image: url(assets/images/fibiLogo_white.png), url(assets/images/img.jpg);
      background-size: 27%, cover;
      background-repeat: no-repeat, no-repeat;
      background-position: center center, 10% center;

      .tagline {
        bottom: 26%;
        color: #9e9e9e;
      }
    }

    .login-content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 15px;

      .login-button {
        border: 0;
        color: white;
        background-color: #587ff4;
        line-height: 35px;
        transition: background-color 0.3s ease-in;
        outline: none;
      }

      .login-button:hover {
        background-color: #6f6de6;
      }
    }
  }
}

// icon color & hovering
.btn-primary-icon:hover {
  background-color: #E2F1FF;
  color: #007DEC !important;
}

.btn-primary-icon {
  letter-spacing: normal;
  font-size: 14px;
  font-weight: 600;
  margin-top: -8px;
  letter-spacing: normal;
  cursor: pointer;
  background-color: transparent;
  color: #6A7980 !important;
  border: none;
  border-radius: 4px;
}

// svg icon color & hovering
.btn-primary-icon-svg {
  margin-top: -8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 6px 6px 1px 6px;
}

.btn-primary-icon-svg:hover {
  background-color: #E2F1FF;
}

.btn-secondary-svg {
  display: inline-block;
  background: url(assets/images/history-icon-with-dark-shade.svg);
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
}

.btn-primary-icon-svg:hover .btn-secondary-svg {
  background: url(assets/images/history-icon-with-blue-shade.svg);
  background-repeat: no-repeat;
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
    border-color: #007DEC;
    background-color: #007DEC;
  }
}

.potential-badge {
  background-color: #997404;
  color: white;
  border: #997404;
}

.coi-badge {
  font-weight: 500;
  padding: 3px 9px;
  font-size: 14px !important;
  border-radius: 50rem !important;
}

.green-badge {
  @extend .coi-badge;
  background-color: #4CB57D !important;
  color: #fff;
}

.yellow-badge {
  @extend .coi-badge;
  background-color: rgba(255, 193, 7, 1) !important;
  color: rgba(0, 0, 0, 1) !important;
}

.blue-badge {
  @extend .coi-badge;
  background-color: #17a2b8 !important;
  color: #fff;
}

.red-badge {
  @extend .coi-badge;
  background-color: rgba(220,53,69,1)!important;
  color: #fff;
}

.brown-badge {
  @extend .coi-badge;
  background-color: #997404;
  color: white;
}

.orange-badge {
  @extend .coi-badge;
  background-color: #FF4500 !important;
  color: #fff;
}

.bright-red-badge {
  @extend .coi-badge;
  background-color: #e80202 !important;
  color: #fff;
}

.wrapping-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hovering-card:hover  {
  .btn-outline-secondary{
    color: #fff;
    background-color: #007dec;
    border-color: #007dec;
}
}

.hovering-card:hover  {
  .btn-outline-primary{
    color: #fff;
    background-color: #007dec;
    border-color: #007dec;
}
}
.success-banner {
  color: #151313;
  background-color: #F3F3F3;
  font-size: 1.4rem;
}

.bg-fcoi-clip {
  background: #5897bc !important;
}

.bg-proposal-clip {
  background: #7d9e33 !important;
}

.bg-award-clip {
  background: #c9a742 !important;
}

.bg-travel-clip {
  background: #bf975a !important;
}

// for slicing text in single line
.text-slice {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

// for help text card
.help-text-card {
  background: #EEEEEE;
  color: #202c2e;
  border: 1px solid #caced2;
  font-size: 1.4rem;
  font-weight: 400;
}

.invalid-border {
  border-color: #dc3545 !important;
}

.info-card-border {
  border: #17a2b8 solid;
  border-width: 1px 1px 1px 5px;
}

.mr-8 {
  margin-right: 8px;
}
