/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


.bg-container {
  height: 100%;
  background-image: linear-gradient(to right, #587ff5, #706be5);

  .login-container {
    display: flex;
    position: absolute;
    background-color: white;
    width: 450px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);		 */
    //  border-radius: 15px;
    overflow: hidden;

    .login-img-wrapper {
      flex: 1;
      padding: 160px 53px 34px 53px;
      background-image: url(assets/images/fibiLogo_white.png), url(assets/images/img.jpg);
      background-size: 27%, cover;
      background-repeat: no-repeat, no-repeat;
      background-position: center center, 10% center;

      .tagline {
        bottom: 26%;
        color: #9e9e9e;
      }
    }

    .login-content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 15px;

      .login-button {
        border: 0;
        color: white;
        background-color: #587ff4;
        line-height: 35px;
        transition: background-color 0.3s ease-in;
        outline: none;
      }

      .login-button:hover {
        background-color: #6f6de6;
      }
    }
  }
}

.btn-secondary-svg {
  display: inline-block;
  background: url(assets/images/history-icon-with-dark-shade.svg);
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
}

.btn-primary-icon-svg:hover .btn-secondary-svg {
  background: url(assets/images/history-icon-with-blue-shade.svg);
  background-repeat: no-repeat;
}

/* Mat select styles for lookup component start */

.mat-option.mat-selected:not(.mat-option-disabled) {
    color: unset;
}

.mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: #005cc8;
}

.mat-select {
    padding-top: 0.6rem !important;
}

/* Mat select styles for lookup component end */

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
    position: absolute !important;
    right: 5px;
    top:7px
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-below) div.mat-mdc-select-panel {
    position: relative;
    right: 7px;
}

.mat-mdc-select-trigger {
    font-size: 14px;
}

.mat-mdc-option:hover {
	background: rgba(44,119,244,.1) !important;
	color: #333 !important;
}

.mat-mdc-option {
	white-space: normal !important;
	text-overflow: inherit !important;
	line-height: normal !important;
	height: auto !important;
	padding: 11px 16px !important;
	border-bottom: 1px dotted #ccc !important;
	font-size: 1.28rem !important;
}

.mdc-menu-surface.mat-mdc-autocomplete-panel {
  padding: 0 !important;
}

.form-builder-sticky-header {
    position: sticky;
    top: 200px;
    z-index: 10;
}

.form-builder-sticky-button {
    position: sticky;
    top: 234px;
    z-index: 9;
}

.form-builder-sticky-button-color {
    padding: 1rem 1rem;
    border-radius: 5px;
    color: #0c5e8d;
}

.form-builder-table-header {
    position: sticky;
    top: 241px;
    z-index: 10;
}

.form-builder-table-header th {
  border: solid 1px #dee2e6;
  background: #eaeef2;
}

.form-builder-table {
    border-collapse: separate !important;
    border-spacing: 0;
}

.form-builder-table td {
    border-style:solid;
    border-width:1px;
}

.info-mt-1 {
  margin-top: 1px;
}

.action-icons {
  border-radius: 50%;
  height: 38px !important;
  width: 39px !important;
  font-size: 25px !important;
  color: rgb(87 87 87 / 77%);
  cursor: pointer;
  &:hover {
    background-color: #e2f1ff;
    color: #007dec !important;
  }
}
