/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.bg-container {
  height: 100%;
  background-image: linear-gradient(to right, #587ff5, #706be5);

  .login-container {
    display: flex;
    position: absolute;
    background-color: white;
    width: 450px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);		 */
    //  border-radius: 15px;
    overflow: hidden;

    .login-img-wrapper {
      flex: 1;
      padding: 160px 53px 34px 53px;
      background-image: url(assets/images/fibiLogo_white.png), url(assets/images/img.jpg);
      background-size: 27%, cover;
      background-repeat: no-repeat, no-repeat;
      background-position: center center, 10% center;

      .tagline {
        bottom: 26%;
        color: #9e9e9e;
      }
    }

    .login-content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 15px;

      .login-button {
        border: 0;
        color: white;
        background-color: #587ff4;
        line-height: 35px;
        transition: background-color 0.3s ease-in;
        outline: none;
      }

      .login-button:hover {
        background-color: #6f6de6;
      }
    }
  }
}

.btn-secondary-svg {
  display: inline-block;
  background: url(assets/images/history-icon-with-dark-shade.svg);
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
}

.btn-primary-icon-svg:hover .btn-secondary-svg {
  background: url(assets/images/history-icon-with-blue-shade.svg);
  background-repeat: no-repeat;
}

/* Mat select styles for lookup component start */

.mat-option.mat-selected:not(.mat-option-disabled) {
    color: unset;
}

.mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: #005cc8;
}

.mat-select {
    padding-top: 0.6rem !important;
}

/* Mat select styles for lookup component end */

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
    position: absolute !important;
    right: 5px;
    top:7px
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-below) div.mat-mdc-select-panel {
    position: relative;
    right: 7px;
}

.mat-mdc-select-trigger {
    font-size: 0.875rem;
}

.mat-mdc-option:hover {
	background: rgba(44,119,244,.1) !important;
	color: #333 !important;
}

.mat-mdc-option {
	white-space: normal !important;
	text-overflow: inherit !important;
	line-height: normal !important;
	height: auto !important;
	padding: 11px 16px !important;
	border-bottom: 1px dotted #ccc !important;
	font-size: 0.875rem !important;
}

.mdc-menu-surface.mat-mdc-autocomplete-panel {
  padding: 0 !important;
}

.form-builder-sticky-header {
    position: sticky;
    z-index: 11;
}

.form-builder-sticky-button {
    position: sticky;
    top: 234px;
    z-index: 9;
}

.form-builder-sticky-button-color {
    padding: 1rem 1rem;
    border-radius: 5px;
    color: #0c5e8d;
}

.form-builder-table-header {
    position: sticky;
    z-index: 10;
}

@media (min-width: 992px) {
    .table-responsive {
        overflow: initial !important;
    }
}

@media (max-width: 992px) {
    .form-builder-table-header {
        top:0 !important;
    }
}

.form-builder-table-header th {
  border: solid 1px #dee2e6;
  background: #eaeef2;
}

.form-builder-table {
    border-collapse: separate !important;
    border-spacing: 0;
}

.form-builder-table td {
    border-style:solid;
    border-width:1px;
}

.info-mt-1 {
  margin-top: 1px;
}

.action-icons {
  border-radius: 50%;
  height: 38px !important;
  width: 39px !important;
  font-size: 25px !important;
  color: rgb(87 87 87 / 77%);
  cursor: pointer;
  &:hover {
    background-color: #e2f1ff;
    color: #007dec !important;
  }
}

.mat-mdc-select-arrow-wrapper {
    height: 21px!important;
}

.mat-mdc-select {
    line-height: 1!important;
}

.toggle-btn{
    color: #000;
    border: solid 1px #e1e3e1;
    display: inline-flex;
    position: absolute;
    top: 4px;
    right: 3px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
    .mat-icon{
        transition: ease-in-out 0.4s;
    }
    &:hover{
        cursor: pointer;
        background: #eceeef;
        color: #007dec;
        border: solid 1px #d5d5d5;
        box-shadow: none !important;
    }
    &:focus{
        cursor: pointer;
        background: #eceeef;
        color: #007dec;
        border: solid 1px #d5d5d5;
        box-shadow: none !important;
    }
}

.toggle-btn-position {
    top: -3px;
    right: -10px;
}

.coi-table-striped {

    .table-striped>thead>tr th,
    .table-striped>thead>tr td {
        --bs-table-bg-type: #f0f2f3;
    }

    .table-striped>tbody>tr:nth-of-type(odd)>th,
    .table-striped>tbody>tr:nth-of-type(odd)>td {
        --bs-table-bg-type: #fff;
    }

    .table-striped>tbody>tr:nth-of-type(even)>th,
    .table-striped>tbody>tr:nth-of-type(even)>td {
        --bs-table-bg-type: #f9f9f9;
    }

    .table-striped tbody tr:hover {
        cursor: default !important;
        box-shadow: none !important;
    }
}

.link-primary {
    text-decoration: none !important;
    cursor: pointer;
    &:hover,
    &:focus {
        text-decoration: underline !important;
    }
}

.text-conflict-badge {
    background-color: #ffe6e7;
    color: #ca4e4f;
}

.text-potential-conflict-badge {
    background-color: #fff5e6;
    color: #c59c59;
}

.text-no-conflict-badge {
    background-color: #e3ffe5;
    color: #6cc974;
}

.sfi-info-text {
    color: #c39200;
    border: 1px solid #c39200;
    line-height: 20px;
    display: inline-block;
}

.slideLeft {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideLeftFrame .3s ease-out forwards;
}

@keyframes slideLeftFrame {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.table-responsive {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        width: 6px;
        height: 6px;
      }
}

.rotate-180 {
    transform: rotate(180deg);
    transition: all .3s ease-in-out;
}

.rotate-0 {
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}

.slide_down {
    opacity: 0;
    transform: translateY(-10px);
    animation: slideDown .3s ease-in-out forwards;
}

.transition-300ms {
    transition: all .3s ease-in-out;
}

.coi-ms-n15px {
    margin-left: -15px;
}

.coi-ms-n5px {
    margin-left: -5px;
}

.coi-ms-n2px {
    margin-left: -2px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.coi-label-help {
    display: inline-flex !important;
    align-items: center;
}

.tooltip-inner {
    max-width: 350px !important;
    text-align: left;
}

.coi-details-card-mat-icon-size {
    font-size: 1.4rem !important;
}

.relationship-pill {
    background-color: #F9F8FF !important;
    border-color: #5E4FB8 !important;
}

.coi-purple-text {
    color: #5E4FB8 !important;
}

.fs-24 {
    font-size: 1.5rem !important;
}

.top-5px {
    top: 5px;
}

.coi-mat-icon-size {
    font-size: 1rem !important;
}
