.date-opacity {
    opacity: 1;
}

.show-qst > hr {
	margin: 5px 0 0 0 !important;
}


.question-font{
    white-space: pre-line;
}

.qst-date-picker::placeholder {
    font-size: 14px!important;
    color: #48647f!important;
    font-weight: 600;
}

.table-answers {
    resize: none;
}

.table-answers:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}

.action-button {
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.action-button i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.action-button:hover {
    color: #2c77f4;
}

.action-button:hover i {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4;
}

.icon-actions {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4!important;
}

.table-min-width {
    min-width: 250px;
}

.action-column {
    position: sticky;
    right: -1px;
    z-index: 10;
    background: #e9ecefd6;
}

.questionnaire-card{
  margin-left: 3px !important;
}
.questionnaire-card:hover{
  margin-left: 1px !important;
  border-left: solid 3px #007DEC;
}

.help-text-close {
    border: 0px solid !important;
}
