.dash-card {
    width: 300px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.02);
    background: white;
    min-height: 125px;
    margin: 0 15px;
    border-radius: 6px;
}

.coi-admin-dash li.active {
    color: #007DEC;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 19px 16px;
}

nav ul {
    cursor: pointer;
    list-style-type: none;
    display: flex;
}

nav ul li {
    white-space: nowrap;
}

.btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.primary-button:focus {
    color: #fff;
    background-color: #0948b1;
    ;
    background-color: #0948b1;
    ;
}


.separator {
    border: 1px solid #ededed;
    margin: 1px 0;
}

.btn-tertiary {
    margin-left: auto;
}

.coi-admin-dash li {
    color: #7c7c7d;
}

.label-text {
    font-weight: 600;
    color: #697a80;
    font-size: 0.875rem;
    margin-top: 2px;
}

.grey-text {
    font-size: 0.875rem;
    color: #48647f;
    font-weight: 400;
    margin-left: 5px;
}

.rounded-pill {
    margin-left: 5px;
}

.list {
    padding-left: 2px;
}

.arrow {
    font-size: 1.125rem;
    height: 18px;
    width: 16px;
    margin-left: 4px;
}

.selected-arrow {
    color: #52bf5a;
}

.noDataExists {
    color: #9e9e9e !important;
    font-size: 0.875rem;
    margin-left: 5px;
}

.sort-div {
    background-color: #eeeeee;
    padding: 9px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.f-5 {
    font-size: 4rem;
}


.action-buttons {
    height: 24px;
    padding: 0.3px 1px;
    margin-top: 0px
}

.counts {
    font-weight: bold;
    font-size: 24px;
    color: #2a77f3;
}


.green-text {
    color: green;
}

.pending-border {
    border: 1px solid #1d847b;
}

.resultCard::before {
    border-left: none;
}

.coi-card {
    border: 1px solid #ededed;
}

// .coi-card label {
//   font-weight: 600;
//   color: #333;
//   font-size: 0.875rem;
// }

.coi-card span:not(.text-success, .text-warning, .text-info, .text-danger, .text-primary).badge-warning {
    color: #3f4449 !important;
}

.bold-blue-number {
    color: #2c77f4;
    font-weight: bold;
    font-size: 1.125rem;
    margin-right: 4px;
}


nav ul {
    cursor: pointer;
    list-style-type: none;
    display: flex;
}

nav ul li {
    white-space: nowrap;
}

.admin-main-navigation .fa {
    position: absolute;
    bottom: -20px;
    right: calc(50% - 8px);
    font-size: 2em;
}

.btn-tertiary {
    margin-left: auto;
}

.link-btn {
    color: #3b83ff;
    text-decoration: underline;
    cursor: pointer;
}

.btn-size-override {
    width: auto !important;
    height: auto !important;
    min-width: auto !important;
}

.status-badge-info,
.status-badge-info:hover {
    background-color: #cef5f891;
    color: #046a71b8 !important;
    border: #046a715c 1px solid;
    padding: 0.4rem 1rem !important;
    font-size: 0.6875rem !important;
}

.comment-icon {
    opacity: .4;
    font-size: 0.6875rem;
}

.searchButton {
    left: 1px;
    top: 4px;
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

.coi-admin-dash li.active,
.coi-admin-dash li:focus {
    color: #007DEC;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 19px 16px;
}

.card-bg {
    background-color: #eeeeee;
}

.deactivate-text {
    color: #7c7c7c !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-decoration-underline {
    text-decoration: underline;
}

.label-align {
    margin-top: 3px;
    margin-left: -6px;
}

.last-text {
    margin-left: -14px;
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.title-text {
    font-weight: 400;
    color: #48647f;
    font-size: 0.875rem;
}

.readMore {
    color: #41464B;
    text-decoration: underline;
    font-size: 0.875rem;
    cursor: pointer;
}

.pipe {
    border-left: 2px solid #48647f82;
    padding-top: 2px;
    height: 18px;
}

.p-013 {
    padding-left: 1.3rem;
    padding-right: 1rem;
}

.entity-icon {
    width: 21px;
    margin-right: -1px;
    color: grey;
    height: 24px;
}

.proposal-icon {
    width: 16px;
    margin-right: 3px;
    color: grey;
    height: 17px;
}

.award-icon {
    width: 18px;
    margin-right: 3px;
    color: grey;
    height: 18px;
}
