<div class="row mx-0 mt-2">
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">First Name</label>
            <app-no-data-label [valueToShow]="personValues?.person?.firstName" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.firstName}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Middle Name </label>
            <app-no-data-label [valueToShow]="personValues?.person?.middleName" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.middleName}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Last Name</label>
            <app-no-data-label [valueToShow]="personValues?.person?.lastName" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.lastName}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Full Name</label>
            <app-no-data-label [valueToShow]="personValues?.person?.fullName" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.fullName}}</span>
            </app-no-data-label>
    </div>
    <div *ngIf="personValues?.person?.rolodexId" class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Organization</label>
        <app-no-data-label *ngIf="personValues?.person?.organizationName !== null" [valueToShow]="personValues?.person?.organizationName" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.organizationName}}</span>
        </app-no-data-label>
        <app-no-data-label *ngIf="personValues?.person?.organizationName == null" [valueToShow]="personValues?.person?.organizationName" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.organizationName}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Designation</label>
        <app-no-data-label *ngIf="personValues?.person?.personId" [valueToShow]="personValues?.person?.primaryTitle" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.primaryTitle}}</span>
        </app-no-data-label>
        <app-no-data-label *ngIf="personValues?.person?.rolodexId" [valueToShow]="personValues?.person?.designation" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.designation}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Address Line 1</label>
            <app-no-data-label [valueToShow]="personValues?.person?.addressLine1" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.addressLine1}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Address Line 2</label>
            <app-no-data-label [valueToShow]="personValues?.person?.addressLine2" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.addressLine2}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Address Line 3</label>
            <app-no-data-label [valueToShow]="personValues?.person?.addressLine3" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.addressLine3}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">City</label>
            <app-no-data-label [valueToShow]="personValues?.person?.city" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.city}}</span>
            </app-no-data-label>   
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">PostalCode</label>
            <app-no-data-label [valueToShow]="personValues?.person?.postalCode" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.postalCode}}</span>
            </app-no-data-label>   
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">State</label>
            <app-no-data-label [valueToShow]="personValues?.person?.state" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.state}}</span>
            </app-no-data-label>           
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Country</label>
            <app-no-data-label [valueToShow]="personValues?.person?.countryDetails?.countryCode" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.countryDetails?.countryCode}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Email Address</label>
        <app-no-data-label [valueToShow]="personValues?.person?.emailAddress" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.emailAddress}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Phone Number</label>
        <app-no-data-label *ngIf="personValues?.person?.rolodexId == null" [valueToShow]="personValues?.person?.mobileNumber" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.mobileNumber}}</span>
        </app-no-data-label>
        <app-no-data-label *ngIf="personValues?.person?.rolodexId != null" [valueToShow]="personValues?.person?.phoneNumber" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.phoneNumber}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Fax</label>
            <app-no-data-label [valueToShow]="personValues?.person?.faxNumber" [classesToApply]="'fs-14'">
                <span class="fs-14 coi-text-light"> {{personValues?.person?.faxNumber}}</span>
            </app-no-data-label> 
    </div>
    <div *ngIf="personValues?.person?.personId" class="col-lg-3 col-sm-6 col-12 mb-2">
        <label class="d-block coi-text-dark">Home Unit</label>
        <app-no-data-label [valueToShow]="personValues?.person?.unit?.unitName" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.unit?.unitName}}</span>
        </app-no-data-label> 
    </div>
    <div *ngIf="personValues?.person?.personId" class="col-lg-3 col-sm-6 col-12">
        <label class="d-block coi-text-dark">Directory Title</label>
        <app-no-data-label [valueToShow]="personValues?.person?.directoryTitle" [classesToApply]="'fs-14'">
            <span class="fs-14 coi-text-light"> {{personValues?.person?.directoryTitle}}</span>
        </app-no-data-label> 
    </div>
</div>