<div class="row mx-0 mt-3">
    <div class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle">First Name</label>
            <app-no-data-label [valueToShow]="personValues?.person?.firstName">
                <span class="fs-14"> {{personValues?.person?.firstName}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle   ">Middle Name </label>
            <app-no-data-label [valueToShow]="personValues?.person?.middleName">
                <span class="fs-14"> {{personValues?.person?.middleName}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle  ">Last Name</label>
            <app-no-data-label [valueToShow]="personValues?.person?.lastName">
                <span class="fs-14"> {{personValues?.person?.lastName}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle  ">Full Name</label>
            <app-no-data-label [valueToShow]="personValues?.person?.fullName">
                <span class="fs-14"> {{personValues?.person?.fullName}}</span>
            </app-no-data-label>
    </div>
    <div *ngIf="personValues?.person?.rolodexId" class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle  ">Organization</label>
        <app-no-data-label *ngIf="personValues?.person?.organizationName !== null" [valueToShow]="personValues?.person?.organizationName">
            <span class="fs-14"> {{personValues?.person?.organizationName}}</span>
        </app-no-data-label>
        <app-no-data-label *ngIf="personValues?.person?.organizationName == null" [valueToShow]="personValues?.person?.organizationName">
            <span class="fs-14"> {{personValues?.person?.organizationName}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle  ">Designation</label>
        <app-no-data-label *ngIf="personValues?.person?.personId" [valueToShow]="personValues?.person?.primaryTitle">
            <span class="fs-14"> {{personValues?.person?.primaryTitle}}</span>
        </app-no-data-label>
        <app-no-data-label *ngIf="personValues?.person?.rolodexId" [valueToShow]="personValues?.person?.designation">
            <span class="fs-14"> {{personValues?.person?.designation}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle  ">Address Line 1</label>
            <app-no-data-label [valueToShow]="personValues?.person?.addressLine1">
                <span class="fs-14"> {{personValues?.person?.addressLine1}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle   ">Address Line 2</label>
            <app-no-data-label [valueToShow]="personValues?.person?.addressLine2">
                <span class="fs-14"> {{personValues?.person?.addressLine2}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle  ">Address Line 3</label>
            <app-no-data-label [valueToShow]="personValues?.person?.addressLine3">
                <span class="fs-14"> {{personValues?.person?.addressLine3}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle  ">City</label>
            <app-no-data-label [valueToShow]="personValues?.person?.city">
                <span class="fs-14"> {{personValues?.person?.city}}</span>
            </app-no-data-label>   
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">PostalCode</label>
            <app-no-data-label [valueToShow]="personValues?.person?.postalCode">
                <span class="fs-14"> {{personValues?.person?.postalCode}}</span>
            </app-no-data-label>   
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">State</label>
            <app-no-data-label [valueToShow]="personValues?.person?.state">
                <span class="fs-14"> {{personValues?.person?.state}}</span>
            </app-no-data-label>           
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">Country</label>
            <app-no-data-label [valueToShow]="personValues?.person?.countryDetails?.countryCode" [classesToApply]="'noDataExists fw-500'">
                <span class="fs-14"> {{personValues?.person?.countryDetails?.countryCode}}</span>
            </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">Email Address</label>
        <app-no-data-label [valueToShow]="personValues?.person?.emailAddress">
            <span class="fs-14"> {{personValues?.person?.emailAddress}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">Phone Number</label>
        <app-no-data-label *ngIf="personValues?.person?.rolodexId == null" [valueToShow]="personValues?.person?.mobileNumber">
            <span class="fs-14"> {{personValues?.person?.mobileNumber}}</span>
        </app-no-data-label>
        <app-no-data-label *ngIf="personValues?.person?.rolodexId != null" [valueToShow]="personValues?.person?.phoneNumber">
            <span class="fs-14"> {{personValues?.person?.phoneNumber}}</span>
        </app-no-data-label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">Fax</label>
            <app-no-data-label [valueToShow]="personValues?.person?.faxNumber">
                <span class="fs-14"> {{personValues?.person?.faxNumber}}</span>
            </app-no-data-label> 
    </div>
    <div *ngIf="personValues?.person?.personId" class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">Home Unit</label>
        <app-no-data-label [valueToShow]="personValues?.person?.unit?.unitName">
            <span class="fs-14"> {{personValues?.person?.unit?.unitName}}</span>
        </app-no-data-label> 
    </div>
    <div *ngIf="personValues?.person?.personId" class="col-lg-3 col-sm-6 col-12 mb-3">
        <label class="d-block labelStyle ">Directory Title</label>
        <app-no-data-label [valueToShow]="personValues?.person?.directoryTitle">
            <span class="fs-14"> {{personValues?.person?.directoryTitle}}</span>
        </app-no-data-label> 
    </div>
</div>