.fs-20 {
    font-size: 20px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 4px;
    border-color: #ff000000;
}

.table-head {
    position: sticky;
    background-color: #f4f4f4;
    top: 0;
}

.pi-info-text {
    background-color: #F3F3F3;
    color: #41464B;
}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 218px;
    font-weight: 500;
    font-size: 15px;
}
