.fs-20 {
    font-size: 1.25rem;
}

.table {
    .table-head {
        position: sticky;
        background-color: #f4f4f4;
        top: 0;

        th {
            font-size: 0.875rem !important;
        }
    }

    tbody {
        td {
            font-size: 0.875rem !important;
        }
    }
}


.pi-info-text {
    background-color: #F3F3F3;
    color: #41464B;
}

.create-button {
    height: 218px;
}

img.version-icon {
    width: 24px;
}
