<ng-container *ngIf="!isFirstTimeLoad">
    <mat-menu #createActionMenu="matMenu" xPosition="before">
        <span class="fw-medium fs-14 d-flex align-items-center grey-text" mat-menu-item title="Click to delete attachment"
            area-describedby="Click to delete attachment">
            <mat-icon class="fs-20">delete</mat-icon>
            <span class="fs-14">Delete</span>
        </span>
        <span class="fw-medium fs-14 grey-text" mat-menu-item title="Click to replace attachment"
            area-describedby="Click to replace attachment">
            <img alt="versions icon" aria-hidden="true" class="version-icon ml-2" src="{{deployMap}}assets/images/replace.svg">
            <span class="fs-14 ml-15">Replace</span>
        </span>
        <span class="fw-medium fs-14 grey-text" mat-menu-item title="Click to view attachment version"
            area-describedby="Click to view attachment version">
            <img alt="versions icon" aria-hidden="true" class="version-icon ml-2" src="{{deployMap}}assets/images/attachment_version.png">
            <span class="fs-14 ml-15">Versions</span>
        </span>
    </mat-menu>
    <div class="card mt-2">
        <div class="card-body">
            <div class="table-responsive" *ngIf="attachmentLists.length">
                <table class="table border-light-subtle">
                    <thead class="grey-text table-head ">
                        <tr>
                            <th class="bg-secondary-subtle" scope="col" style="width: 20%">Attachment Type</th>
                            <th class="bg-secondary-subtle" scope="col" style="width: 30%">Description</th>
                            <th class="bg-secondary-subtle" scope="col" style="width: 25%">File name</th>
                            <th class="bg-secondary-subtle" scope="col" style="width: 15%">Last Updated</th>
                            <th class="bg-secondary-subtle" scope="col" style="width: 10%" *ngIf="!coiPersonId">Action</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr *ngFor="let attachment of attachmentLists ; let index = index;" class="grey-text">
                            <td>{{attachment?.disclAttaTypeDetails?.description}}</td>
                            <td>{{attachment?.description?.length>75 && !collapseViewMore[attachment.attachmentId]?(attachment.description |
                                slice:0:75) : attachment.description}}
                                <ng-container *ngIf="attachment?.description?.length>75">
                                    <span class="link-primary" tabindex="0" role="link"
                                        (click)="collapseViewMoreOption(attachment.attachmentId,collapseViewMore[attachment.attachmentId])"
                                        (keydown.enter)="collapseViewMoreOption(attachment.attachmentId,collapseViewMore[attachment.attachmentId])"
                                        [attr.aria-label]="collapseViewMore[attachment.attachmentId] ? 'Click here to Read Less' : 'Click here to  Read More'"
                                        [title]="collapseViewMore[attachment.attachmentId] ? 'Click here to Read Less' : 'Click here to  Read More'">
                                        {{(attachment?.description?.length >75 && collapseViewMore[attachment.attachmentId]) ? 'Read Less':'...Read More'}}
                                    </span>
                                </ng-container>
                            </td>
                            <td>{{attachment.fileName}}</td>
                            <td>{{attachment.updateTimestamp |
                                dateFormatterWithTimeZone:'long'}}</td>
                            <td *ngIf="!coiPersonId">
                                <div class="d-inline-flex">
                                    <span class="me-2 cursor-pointer coi-btn-icon" title="Click to edit attachment">
                                        <mat-icon>edit</mat-icon>
                                    </span>
                                    <span class="me-2 cursor-pointer coi-btn-icon" title="Click to download attachment">
                                        <mat-icon>vertical_align_bottom</mat-icon>
                                    </span>
                                    <span class="me-2 cursor-pointer coi-btn-icon" title="Click to open more options"
                                        [matMenuTriggerFor]="createActionMenu">
                                        <mat-icon>more_vert</mat-icon>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

    <ng-container *ngIf="isShowCreate && !attachmentLists.length">
        <div class="card">
            <div class="card-body">
          <div class="border pi-info-text rounded-1 p-3">
            <p class="m-0">
              <span title="Expand Policy Text" aria-describedby="Expand Policy Text">
                You do not have any attachments added. Click on <strong>Add Attachments</strong>
                to add on attachments.
              </span>
            </p>
          </div>
          <div class="create-button d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" (click)="_commonService.isOpenAttachmentModal = true">
              Add Attachments
            </button>
          </div>
          </div>
        </div>
      </ng-container>
</ng-container>
