<app-coi-slider (closeSlider)="validateSliderClose()" [sliderName]="'travel-conflict-slider'">
    <!-- slider header -->
    <ng-container header>
        <span>{{isEditMode ? 'Manage' : 'View'}} Travel Disclosure Status</span>
    </ng-container>

    <!-- slider header card -->
    <ng-container content-sticky>
        <div class="mt-1">
            <div class="info-card-border card-scroll mt-2 rounded-2 shadow-medium bg-light mx-4 ms-4">
                <div class="row ml-15 mt-2">
                    <div class="position-relative p-3 fs-14 pl-5 fw-500">
                        <div class="row">
                            <div class="col">
                                <span class="d-flex">
                                    <h4 class="mb-0 d-flex">
                                            {{travelDisclosure?.travelEntityName}}
                                    </h4>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col d-flex">
                                <label class="left-margin me-2 grey-text fw-600">Person associated with travel:
                                </label>
                                <app-no-data-label [valueToShow]="travelDisclosure?.personFullName">
                                    <span class="grey-text fw-normal">{{travelDisclosure?.personFullName}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col d-flex">
                                <label class="grey-text fw-600">Department: </label>
                                <span class="ml-2 grey-text fw-normal">
                                    <app-no-data-label [valueToShow]="travelDisclosure?.homeUnitNumber">
                                        <span>{{travelDisclosure?.homeUnitNumber}} - {{travelDisclosure?.homeUnitName}}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col d-flex align-items-center">
                                <label class="grey-text fw-600">Risk: </label>
                                <span class="ml-2 grey-text">
                                    <div class="text-color fs-14 d-flex align-items-center">
                                        <span class="text-secondary fs-14">
                                            <mat-icon class="{{getWarningClass(travelDisclosure?.riskCategoryCode)}} material-icons-round">warning</mat-icon>
                                        </span>
                                        <app-no-data-label
                                        [valueToShow]="travelDisclosure?.riskLevel">
                                        <span class="ml-2 mt-1 fw-normal">{{travelDisclosure?.riskLevel}}</span>
                                    </app-no-data-label>
                                    </div>
                                </span>
                            </div>
                            <div class="col d-flex align-items-center">
                                <label class="grey-text fw-600">Disclosure : </label>
                                <span class="grey-text fs-14 ms-3 col fw-normal">
                                  <app-no-data-label [valueToShow]="travelDisclosure?.disclosureStatus">
                                      <span class="fs-14 {{commonService.getDisclosureConflictBadge(travelDisclosure?.disclosureStatusCode)}}">{{travelDisclosure?.disclosureStatus}}</span>
                                  </app-no-data-label>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- slider content -->
    <ng-container content>
        <!-- help text -->
        <div class="mx-4 mt-3" *ngIf="isEditMode">
            <app-help-text [helpTextList]="helpText" [tooltip]="'Manage Travel Disclosure Status'"></app-help-text>
        </div>
        <!-- disclosure status update -->
        <div *ngIf="isEditMode" class="mx-4 mt-3 card comment-card shadow-sm">
            <div class="col-4 ml-15 align-items-center">
                <label class="fs-14 fw-500">Disclosure Status:</label>
                <span>
                    <select class="form-control form-select" [(ngModel)]="disclosureStatusCode"
                        [ngClass]="travelConflictValidationMap?.has('disclosureStatusCode') || travelConflictValidationMap?.has('duplicateDisclosure') ?
                            'is-invalid d-block' : ''" (ngModelChange)="setCoiTravelConflictStatusType()">
                        <option [value]=null>--Select--</option>
                        <option *ngFor="let status of disclosureStatusLookUpList"
                            [value]="status.disclosureStatusCode">
                            {{status?.description}}</option>
                    </select>
                    <div *ngIf="travelConflictValidationMap?.has('disclosureStatusCode')"
                        class="invalid-feedback d-block fs-12">
                        {{travelConflictValidationMap?.get('disclosureStatusCode')}}
                    </div>
                    <div *ngIf="travelConflictValidationMap?.has('duplicateDisclosure')" class="d-block fs-12 invalid-feedback">
                        {{travelConflictValidationMap?.get('duplicateDisclosure')}}
                    </div>
                </span>
            </div>
            <div class="col mr-10">
                <label class="fs-14 fw-500">Describe the reason for Disclosure status change:</label>
                <textarea appAutoGrow id="main-panel-comnt" class="form-control fs-14" placeholder="Description"
                    rows="1" [(ngModel)]="comment" appLengthValidator [limit]="2000" [isShowLimiter]="true"
                    [ngClass]="travelConflictValidationMap?.has('comment') ? 'is-invalid d-block' : ''"
                    (ngModelChange)="comment = comment.trim()">
                </textarea>
                <div *ngIf="travelConflictValidationMap?.has('comment')" class="invalid-feedback d-block fs-12">
                    {{travelConflictValidationMap?.get('comment')}}
                </div>
            </div>
            <div class="text-muted mb-3 mr-10 mt-2">
                <button type="button" class="btn btn-primary float-end fs-14" data-bs-dismiss="modal"
                    (click)="manageTravelConflict()">
                    Save
                </button>
                <button type="button" class="btn btn-outline-secondary float-end mr-10 fs-14" data-bs-dismiss="modal"
                    (click)="clearConflictModal()">
                    Clear
                </button>
            </div>
        </div>

        <!-- Conflict History -->
        <div class="mb-4 main-title mt-15">
            <h3 class="d-flex align-items-center mx-4"><strong>Conflict History</strong>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                    title="Click to view Travel Disclosure conflict history." data-bs-placement="top">
                </span>
            </h3>
        </div>

        <ng-container *ngIf="conflictHistory.length > 0; else noData">
            <ng-container *ngFor="let historyEntry of conflictHistory;let index = index;let last = last;">
                <div class="row m-2">
                    <div class="col-1 mr-15 position-relative" [class.time-line]="!last">
                        <span
                            class="badge rounded-pill badge-width {{commonService.getDisclosureConflictBadge(historyEntry?.conflictStatusCode)}}">{{historyEntry?.conflictStatusDescription}}</span>
                    </div>
                    <div class="col pb-4 mx-auto comment-box-height">
                        <div class="align-items-center ml-5 mx-0">
                            <span class="d-flex align-items-center text-muted">
                                <!-- updateUserFullName -->
                                <ng-container *ngIf="historyEntry?.updateUser">
                                    <i class="fa fa-user grey-text fs-16" aria-hidden="true"></i>
                                    <label class="fw-700 fs-14 ml-2 me-4">{{historyEntry?.updateUserFullName}}</label>
                                </ng-container>

                                <!-- updateTimestamp -->
                                <span class="fs-12">{{historyEntry?.updateTimestamp | dateFormatterWithTimeZone:'long'}}</span>
                            </span>

                            <!-- comment -->
                            <div class="p-3 person-card fs-13 word-break-all new-line-property shadow-sm bg-light border">
                                <span [ngClass]="historyEntry?.updateUser ? '': 'fst-italic'">{{
                                    (!isReadMore[index] && historyEntry?.comment?.length > 230) ?
                                    (historyEntry?.comment | slice:0:230) : historyEntry?.comment }}
                
                                    <!-- for read more and less -->
                                    <ng-container *ngIf="historyEntry?.comment?.length > 230">
                                        <span (click)="isReadMore[index] = !isReadMore[index]" class="fw-medium cursor-pointer">
                                            <strong>
                                                <span *ngIf="!isReadMore[index]">...<u title="Expand comment">Read More</u></span>
                                                <u title="Collapse comment" *ngIf="isReadMore[index]">Read Less</u>
                                            </strong>
                                        </span>
                                    </ng-container>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <ng-template #noData>
            <app-no-information></app-no-information>
        </ng-template>
    </ng-container>

</app-coi-slider>

<!--conflict confirmation Modal-->
<app-confirmation-modal [modalName]="'travel-conflict-confirmation-modal'" (secondaryBtnAction)="leavePageClicked()"
    [primaryBtnName]="'Stay On Page'" [secondaryBtnName]="'Leave Page'">
    <!-- modal header -->
    <ng-container header>
        <span>Confirmation</span>
    </ng-container>
    <!-- modal content -->
    <p content class="fs-14 ms-2">
        You have unsaved changes in the <strong>Manage Travel Disclosure Status</strong>, do you want to leave?
    </p>
</app-confirmation-modal>