<app-coi-slider (closeSlider)="closeConflictSlider()" [elementId]="'travel-conflict-slider'" [isHeaderNeeded]="true" [isChangedFieldValue]="isFieldValueChanges()">
    <!-- slider header -->
    <ng-container header>
        <span>{{isEditMode ? 'Manage' : 'View'}} Travel Disclosure Status</span>
    </ng-container>

    <!-- slider header card -->
    <ng-container content-sticky>
            <div class="border border-opacity-50 border-secondary coi-box-red mt-2 mx-0 p-3 rounded-2 row shadow-medium">
                <div class="col-12 fw-500 p-0">
                    <span class="mb-0 f-16 label-text">
                        <app-read-more [valueToShow]="travelDisclosure?.travelEntityName" [sliceCount]="100"></app-read-more>
                    </span>
                 </div>
                <div class="col-6 p-0 fs-14 my-2">
                    <label class="d-block coi-text-dark" for="">Person associated with travel
                    </label>
                    <app-no-data-label [valueToShow]="travelDisclosure?.personFullName">
                        <span class="grey-text fw-500">{{travelDisclosure?.personFullName}}</span>
                    </app-no-data-label>
                </div>
                <div class="col-6 p-0 fs-14 my-2">
                    <label class="d-block coi-text-dark" for="">Department</label>
                    <app-no-data-label [valueToShow]="travelDisclosure?.homeUnitNumber">
                        <span class="grey-text fw-500">{{travelDisclosure?.homeUnitNumber}} -
                            {{travelDisclosure?.homeUnitName}}</span>
                    </app-no-data-label>
                </div>
                <div class="col-6 p-0 fs-14">
                    <label class="d-block coi-text-dark" for="">Risk</label>
                    <app-no-data-label [valueToShow]="travelDisclosure?.riskLevel">
                        <span class="d-flex align-items-start">
                            <mat-icon class="{{getWarningClass(travelDisclosure?.riskCategoryCode)}} material-icons-round"
                                aria-hidden="true">warning</mat-icon>
                            <span class="grey-text fw-500 ms-1">{{travelDisclosure?.riskLevel}}</span>
                        </span>
                        </app-no-data-label>
                </div>
                <div class="col-6 p-0 fs-14">
                    <label class="d-block coi-text-dark" for="">Disclosure</label>
                    <span class="grey-text fw-500">
                        <app-no-data-label [valueToShow]="travelDisclosure?.disclosureStatus">
                            <span
                                class="{{commonService.getDisclosureConflictBadge(travelDisclosure?.disclosureStatusCode)}}"></span>
                            <span class="badgeFont">{{travelDisclosure?.disclosureStatus}}</span>
                        </app-no-data-label>
                    </span>
                </div>
            </div>

    </ng-container>

    <!-- slider content -->
    <ng-container content>
        <!-- help text -->
        <div class="mb-0" *ngIf="isEditMode">
            <app-help-text [helpTextList]="helpText" [tooltip]="'Manage Travel Disclosure Status'"></app-help-text>
        </div>
        <!-- disclosure status update -->
        <div *ngIf="isEditMode" class="mt-2 card comment-card shadow-sm p-3">
            <div class="row">
                <!-- disclosure status lookup -->
                <div class="col-md-12 col-xl-4">
                    <label class="fs-14 fw-500">Disclosure Status</label>
                    <span>
                        <select class="form-control form-select" [(ngModel)]="disclosureStatusCode"
                            [ngClass]="travelConflictValidationMap?.has('disclosureStatusCode') || travelConflictValidationMap?.has('duplicateDisclosure') ?
                                'is-invalid d-block' : ''" (ngModelChange)="setCoiTravelConflictStatusType()">
                            <option [value]=null>--Select--</option>
                            <option *ngFor="let status of disclosureStatusLookUpList"
                                [value]="status.disclosureStatusCode">
                                {{status?.description}}</option>
                        </select>
                        <div *ngIf="travelConflictValidationMap?.has('disclosureStatusCode')"
                            class="invalid-feedback d-block fs-12">
                            {{travelConflictValidationMap?.get('disclosureStatusCode')}}
                        </div>
                        <div *ngIf="travelConflictValidationMap?.has('duplicateDisclosure')" class="d-block fs-12 invalid-feedback">
                            {{travelConflictValidationMap?.get('duplicateDisclosure')}}
                        </div>
                    </span>
                </div>
                <!-- description -->
                <div class="col-md-12 col-xl-8">
                    <label class="fs-14 fw-500">Describe the reason for Disclosure status change</label>
                    <textarea appAutoGrow id="main-panel-comnt" class="form-control fs-14" placeholder="Description"
                        rows="1" [(ngModel)]="comment" appLengthValidator [limit]="2000" [isShowLimiter]="true"
                        [ngClass]="travelConflictValidationMap?.has('comment') ? 'is-invalid d-block' : ''"
                        (ngModelChange)="comment = comment.trim()">
                    </textarea>
                    <div *ngIf="travelConflictValidationMap?.has('comment')" class="invalid-feedback d-block fs-12">
                        {{travelConflictValidationMap?.get('comment')}}
                    </div>
                </div>
            </div>
            <!-- save clear btn -->
            <div class="text-muted mt-2">
                <button type="button" class="btn btn-primary float-end fs-14" data-bs-dismiss="modal"
                    (click)="manageTravelConflict()">
                    Save
                </button>
                <button type="button" class="btn btn-outline-secondary float-end mr-10 fs-14" data-bs-dismiss="modal"
                    (click)="clearConflictModal()">
                    Clear
                </button>
            </div>
        </div>

        <!-- Conflict History -->
        <div class="mt-2 main-title" tabindex="-1">
            <h3 class="d-flex align-items-center fs-16"><strong>Conflict History</strong>
                <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"></span>
            </h3>
        </div>

        <div class="card mt-2" id="risk-history">
            <div class="card-content">
                <div class="card-body" id="coi-travel-add-conflict-slider-card-body">
                        <ng-container *ngIf="conflictHistory.length > 0; else noData">
                            <ul class="timeline">
                                <li *ngFor="let historyEntry of conflictHistory;let index = index;let last = last;">
                                    <div tabindex="-1">
                                        <span class="badge me-2 {{commonService.getDisclosureConflictBadgeForSlider(historyEntry?.conflictStatusCode)}}">{{historyEntry?.conflictStatusDescription}}</span>
                                        <i class="fa fa-user coi-text-light fs-16 me-1" aria-hidden="true"></i>
                                        <span class="fw-700 fs-14">{{historyEntry?.updateUserFullName}}</span>
                                        <span class="coi-text-lighter fs-13"> {{historyEntry?.updateTimestamp | dateFormatterWithTimeZone:'long'}}</span>
                                    </div>
                                    <p class="coi-text-light pt-3 pb-4" tabindex="-1">
                                        <span class="fs-14 fst-italic">
                                            <mat-icon class="format_quote">format_quote</mat-icon>
                                            <span [ngClass]="historyEntry?.updateUser ? '': 'fst-italic'">{{
                                                (!isReadMore[index] && historyEntry?.comment?.length > 230) ?
                                                (historyEntry?.comment | slice:0:230) : historyEntry?.comment }}
                            
                                                <!-- for read more and less -->
                                                <ng-container *ngIf="historyEntry?.comment?.length > 230">
                                                    <span (click)="isReadMore[index] = !isReadMore[index]" class="fw-medium cursor-pointer">
                                                        <strong>
                                                            <span *ngIf="!isReadMore[index]">...<u title="Expand comment">Read More</u></span>
                                                            <u title="Collapse comment" *ngIf="isReadMore[index]">Read Less</u>
                                                        </strong>
                                                    </span>
                                                </ng-container>
                                            </span>
                                        </span>
                                    </p>
                                </li>
                            </ul>
                        </ng-container>
                </div>
            </div>
        </div>
        <ng-template #noData>
            <app-no-information></app-no-information>
        </ng-template>
    </ng-container>
    <ng-container confirmation-content>
        You have unsaved changes in the <strong>Manage Travel Disclosure Status</strong>, do you want to leave?
    </ng-container>
</app-coi-slider>
