<app-coi-slider (closeSlider)="validateSliderClose()" [sliderName]="'travel-conflict-slider'">
    <!-- slider header -->
    <ng-container header>
        <span>{{isEditMode ? 'Manage' : 'View'}} Travel Disclosure Status</span>
    </ng-container>

    <!-- slider header card -->
    <ng-container content-sticky>
        <div class="px-4 mt-1">
            <app-shared-entity-info-card [entityDetails]="entityDetails"></app-shared-entity-info-card>
        </div>
    </ng-container>

    <!-- slider content -->
    <ng-container content>
        <!-- help text -->
        <div class="mx-4 mt-3" *ngIf="isEditMode">
            <app-help-text [helpTextList]="helpText"></app-help-text>
        </div>
        <!-- disclosure status update -->
        <div *ngIf="isEditMode" class="mx-4 mt-3 card comment-card shadow-sm">
            <div class="row ml-15 mt-4">
                <div class="col-4 ml-15 align-items-center">
                    <label class="fs-14 fw-500">Disclosure Status:</label>
                    <span>
                        <select class="form-control form-select" [(ngModel)]="disclosureStatusCode"
                            [ngClass]="travelConflictValidationMap?.has('disclosureStatusCode') ? 'is-invalid d-block' : ''"
                            (ngModelChange)="setCoiTravelConflictStatusType()">
                            <option [value]=null>--Select--</option>
                            <option *ngFor="let status of conflictLookUpList"
                                [value]="status.travelDisclosureStatusCode">
                                {{status?.description}}</option>
                        </select>
                        <div *ngIf="travelConflictValidationMap?.has('disclosureStatusCode')"
                            class="invalid-feedback d-block fs-12">
                            {{travelConflictValidationMap?.get('disclosureStatusCode')}}
                        </div>
                    </span>
                </div>
                <div class="col mr-10">
                    <label class="fs-14 fw-500">Describe the reason for Disclosure status change:</label>
                    <textarea appAutoGrow id="main-panel-comnt" class="form-control fs-14" placeholder="Description"
                        rows="1" [(ngModel)]="comment" appLengthValidator [limit]="2000" [isShowLimiter]="true"
                        [ngClass]="travelConflictValidationMap?.has('comment') ? 'is-invalid d-block' : ''">
                    </textarea>
                    <div *ngIf="travelConflictValidationMap?.has('comment')" class="invalid-feedback d-block fs-12">
                        {{travelConflictValidationMap?.get('comment')}}
                    </div>
                </div>
            </div>
            <div class="text-muted mb-3 mr-10 mt-2">
                <button type="button" class="btn btn-primary float-end fs-14" data-bs-dismiss="modal"
                    (click)="manageTravelConflict()">
                    Save
                </button>
                <button type="button" class="btn btn-outline-secondary float-end mr-10 fs-14" data-bs-dismiss="modal"
                    (click)="clearConflictModal()">
                    Clear
                </button>
            </div>
        </div>

        <!-- Conflict History -->
        <div class="mb-4 main-title mt-15">
            <h3 class="d-flex align-items-center mx-4"><strong>Conflict History</strong>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                    title="Click to view Travel Disclosure conflict history." data-bs-placement="top">
                </span>
            </h3>
        </div>

        <ng-container *ngIf="conflictHistory.length > 0; else noData">
            <ng-container *ngFor="let historyEntry of conflictHistory;let index = index;let last = last;">
                <div class="row mx-2">
                    <div class="col-1 mr-15 position-relative" [class.time-line]="!last">
                        <span
                            class="badge rounded-pill badge-width {{_commonService.getDisclosureConflictBadge(historyEntry?.conflictStatusCode)}}">{{historyEntry?.conflictStatusDescription}}</span>
                    </div>
                    <div class="col pb-4 mx-auto comment-box-height">
                        <div class="align-items-center ml-5 mx-0">
                            <span class="d-flex align-items-center text-muted">
                                <i class="fa fa-user grey-text fs-16" aria-hidden="true"></i>
                                <label class="fw-700 fs-14 ml-2">{{historyEntry?.updateUserFullName}}</label>
                                <span class="ml-15 fs-12">{{historyEntry?.updateTimestamp |
                                    dateFormatterWithTimeZone:'long'}}</span></span>
                            <div class="p-3 person-card fs-13">
                                <span
                                    *ngIf="!isReadMore[index] && historyEntry?.comment?.length > 230; else showFullInfo">
                                    <span> {{(historyEntry?.comment | slice:0:230)}}</span>
                                    <span (click)="isReadMore[index] = !isReadMore[index]" class="hand-cursor"><span
                                            class="fw-medium">... <u>Read more</u>
                                            <i aria-hidden="true"></i></span>
                                    </span>
                                </span>
                                <ng-template #showFullInfo>
                                    <span>{{historyEntry?.comment}}</span>
                                    <span *ngIf="historyEntry?.comment?.length > 230"
                                        (click)="isReadMore[index] = !isReadMore[index]" aria-hidden="true"
                                        class="hand-cursor"><span class="fw-medium">. <u>Show Less</u>
                                            <i aria-hidden="true"></i></span>
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <ng-template #noData>
            <app-no-information></app-no-information>
        </ng-template>
    </ng-container>

</app-coi-slider>

<!--conflict confirmation Modal-->
<app-confirmation-modal [modalName]="'travel-conflict-confirmation-modal'" (secondaryBtnAction)="leavePageClicked($event)"
    [primaryBtnName]="'Stay On Page'" [secondaryBtnName]="'Leave Page'">
    <!-- modal header -->
    <ng-container header>
        <span>Confirmation</span>
    </ng-container>
    <!-- modal content -->
    <p content class="fs-14 ms-2">
        You have unsaved changes in the <strong>Manage Travel Disclosure Status</strong>, do you want to leave?
    </p>
</app-confirmation-modal>