<div id="COI801" class="adjust-margin-top position-relative">
    <button class="btn btn-primary-icon btn-sm add-activity-button mt-2 p-2 d-flex" id="add-activity"
        (click)="modifyReviewComment()" title="Click here to add new review comment" type="button">
         <mat-icon>rate_review</mat-icon>
    </button>
    <app-view-questionnaire-list [configuration]="configuration" [questionnaireHeader]="'Screening Questions related to your Financial Interests'">
    </app-view-questionnaire-list>
</div>
