<div id="custom-element-body" class="card-body" *ngIf="(customElement != null && customElement?.length != 0)">
    <div class="form-row">
        <div class="">
                <div>
                    <span class="mandatory" *ngIf="customElement.isRequired == 'Y'">*</span>
                    <span class="question-font mb-2">{{customElement.columnName }}</span>
                </div>
                <div *ngIf="customElement.filterType == 'String' || customElement.filterType =='Number'">
                    <span *ngFor="let answer of customElement?.answers">
                            <input type="text"id="adv-search-proposal-no"
                                [(ngModel)]="answer.value" placeholder="{{ customElement.columnName }}"
                                class="form-control mb-2" (keyup)="checkValidation(answer,$event,customElement,i)"
                                [ngClass]="!isValueEmpty[i]&&validationId[i]==i ? 'is-invalid d-block' : ''"
                                (ngModelChange)="emitDataChange()" [disabled]="isViewMode" /></span>
                </div>
                <div *ngIf="customElement.filterType == 'Text'">
                    <span *ngFor="let answer of customElement?.answers" >
                            <textarea  type="text" appAutoGrow appLengthValidator [isShowLimiter]='true' rows="4"
                                id="adv-search-proposal-no"
                                [(ngModel)]="answer.value" placeholder="{{ customElement.columnName }}"
                                class="form-control" [disabled]="isViewMode"
                                (ngModelChange)="emitDataChange()">
                            </textarea>
                    </span>
                </div>
                <div *ngIf="customElement.filterType == 'Date' ">
                    <span *ngFor="let answer of customElement?.answers">
                            <span class="dateField mr-1">
                                <input type="text" placeholder="From ({{datePlaceHolder}})"
                                    id="{{ customElement.columnName }}" [owlDateTime]="customDt"
                                    class="d-inline-block form-control"
                                    [ngModel]="answer.value ?  answer.value : customElement.defaultValue"
                                    [(ngModel)]="answer.value" (ngModelChange)="answer.value = parseDateWithoutTimestamp(answer.value)"
                                    [ngClass]="!isValueEmpty[i]&&validationId[i]==i ? 'is-invalid d-block' : '' "
                                    (keypress)="_commonService._keyPress($event, 'date');"
                                    (ngModelChange)="emitDataChange()"
                                    [owlDateTimeTrigger]="customDt" [disabled]="isViewMode">
                                <i class="fa fa-calendar fa-large insidePicker hand-cursor"
                                    [owlDateTimeTrigger]="customDt" aria-hidden="true"></i>
                                <owl-date-time #customDt [pickerType]="'calendar'"
                                    (afterPickerOpen)="setFocusToElement( customElement.columnName )"></owl-date-time>
                            </span>
                        </span>
                </div>
                <div *ngIf="customElement.filterType == 'Check Box'" class="mt-3">
                        <div class="checkbox-inline col-12" *ngFor="let option of customElement.options;  let checkBoxIndex=index">
                            <input type="checkbox" [disabled]="isViewMode"
                                [checked] = "checkIsSelected(customElement.answers, option.customDataOptionId)"
                                id="{{option.optionName}}{{i}}"
                                (change)="emitDataChange(); setAnswerForCheckBox(customElement, $event.target.checked, option)" />
                            <label for="{{option.optionName}}{{i}}" [ngClass]="{'hand-cursor': isViewMode != 'view' }">{{option.optionName}}</label>
                        </div>
                </div>
                <div *ngIf="customElement.filterType == 'Radio Button'" class="mt-3">
                        <div class="checkbox-inline col-12" *ngFor="let option of customElement.options">
                            <input type="radio" [disabled]="isViewMode" [value]="option.optionName"
                                name="{{option.optionName}}{{i}}" id="{{option}}{{i}}" [(ngModel)]="customElement.answers[0].value"
                                (ngModelChange)="emitDataChange()"/>
                                <label for="{{option.optionName}}{{i}}" [ngClass]="{'hand-cursor': isViewMode}">{{option.optionName}}</label>
                        </div>
                </div>
                <div *ngIf="customElement.filterType == 'System Dropdown' || customElement.filterType == 'User Dropdown'">
                    <span *ngFor="let answer of customElement?.answers" >
                        <span>
                            <app-look-up [options]='customElement.lookupArgument' [defaultValue]='customElement.answers[0].description'
                                [isError]="(!isValueEmpty[i]&&validationId[i]==i) ? true : false"
                                (selectedResult)="onLookupSelect($event,answer)"
                                [isDisabled]="isViewMode">
                            </app-look-up>
                        </span></span>
                </div>
                <div *ngIf="customElement.filterType == 'Elastic Search'">>
                    <span *ngFor="let answer of customElement?.answers">
                            <div class="position-relative">
                                <app-elastic [options]="elasticSearchOptions[customElement.columnName]"
                                    [placeHolder]="'Type here for ' + customElement.columnName"
                                    (selectedResult)="setSearchFilterValue($event,answer,customElement)"
                                    [isError]="(!isValueEmpty[i]&&validationId[i]==i) ? true : false"
                                    [isDisabled]="isViewMode">
                                </app-elastic>
                            </div>
                    </span>
                </div>
                <div *ngIf="customElement.filterType == 'Autosuggest'">
                    <span *ngFor="let answer of customElement?.answers">
                            <div class="position-relative">
                                <app-endpoint-search [httpOptions]="endPointSearchOptions[customElement.columnName]"
                                    [placeHolder]="'Type here for ' + customElement.columnName"
                                    (onSelect)="setSearchFilterValue($event,answer,customElement)"
                                    [isError]="(!isValueEmpty[i]&&validationId[i]==i) ? true : false"
                                    [isDisabled]="isViewMode">
                                </app-endpoint-search>
                            </div>
                        </span>
                </div>
        </div>
    </div>
    <div class="row flex-column flex-sm-row justify-content-md-end justify-content-center mt-3 px-3"
        *ngIf="isViewMode && isShowSave">
        <button class="btn btn-primary-sub btn-xs" (click)="saveCustomData()">Save</button>
    </div>
</div>
