<!--<div id="STICKY_COI_REVIEW_HEADER" class="tab-sticky">
	<div class="row py-0 px-4">
		<div class="col">
			<div class="row my-3 p-0 ">
				<div class="col-auto f-15">
					<span> Details of Disclosure :
						<span class="fw-600">#{{coiDetails?.disclosureNumber}} {{coiDetails?.coiDisclosureCategoryType?.description}}</span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-auto d-flex align-items-center">
			<button class="button-container nav-style" (click)="toggleToolkitVisibility()"
				title="{{(isToolkitVisible? 'Hide Toolkit':'Show Toolkit')}}">
				<span class="fa-large fa fa-angle-double-right" *ngIf="isToolkitVisible"></span>
				<span class="fa-large fa fa-angle-double-left" *ngIf="!isToolkitVisible"></span>
			</button>
		</div>
	</div>
</div>-->

<app-screening-questionnaire-summary></app-screening-questionnaire-summary>
<app-sfi-summary></app-sfi-summary>
<div class="main-title mb-3 mt-4" id="COI803">
<h3 class="d-flex align-items-center justify-content-between fs-16 mb-3">
	<span class="d-flex align-items-center">
		<strong class="mt-3">Relationships</strong>
		<span class="d-inline-block mt-3" tabindex="0" data-bs-toggle="tooltip" title="View entity relationships."
			data-bs-placement="top">
			<mat-icon class="me-2 info-icon" data-bs-toggle="tooltip">info</mat-icon>
		</span>
	</span>
	<button class="updown-arrow updown-arrow-relation mt-3 " (click)="isRelationCollapsed = !isRelationCollapsed">
		<i [ngClass]="!isRelationCollapsed?'fa-large fa fa-angle-double-down':'fa-large fa fa-angle-double-up'"
			class="fa-large" aria-hidden="true"></i>
	</button>
</h3>
</div>
<ng-container *ngIf="isRelationCollapsed">
	<ng-container *ngIf="_dataStoreAndEventsService.concatenatedProjectList?.length">
		<ng-container *ngFor="let award of _dataStoreAndEventsService.concatenatedProjectList; let i =index">
			<app-relationship-summary [selectedProject]="award"></app-relationship-summary>
		  </ng-container>
	</ng-container>
	<div *ngIf="!_dataStoreAndEventsService.concatenatedProjectList?.length">
		<app-no-information> </app-no-information>
	</div>
</ng-container>
<!--<app-conflict-management-summary></app-conflict-management-summary>-->
<app-certify-summary></app-certify-summary>

