.entity-status {
  color: white;
  width: 80px;
  height: 27px;
  background: #54BF5B;
  position: relative;
  left: -22px;
  top: -7px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 50px 50px 0;

  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid #01830A;
    border-left: 6px solid transparent;
    top: -6px;
    left: 0;
  }
}
.card-header,.card-footer {
  background-color: #ebf3fb;
}
.relationship {
  color: #7e8b8f;
  padding: 2px 12px;
  background-color: #fafaeb;
  border-end-end-radius: 15px;
  border-start-end-radius: 15px;
}
.card-header{
height: 44px;
}

.action-bar{
  position: relative;
  top: -11px;
  left: -5px;
}
.edit-pen {

}
