<div class="card rounded-0 mt-3" id="COI802">
  <div class="card-header px-4 d-flex align-items-center justify-content-between">
    <h1 class="f-14 font-weight-bold m-0 txt-medium"> <strong> Significant Financial Interest (SFI) </strong> </h1>
    <button class="btn btn-primary-sub btn-sm add-activity-button" id="add-activity" title="Add Review Comment"
            type="button" (click)="modifyReviewComment()">
            <mat-icon class="btn btn-outline-secondary comment-button">rate_review</mat-icon>
    </button>
  </div>

  <div class="card-content">
    <div class="card-body">
      <div class="table-responsive" *ngIf="coiFinancialEntityDetails?.length">
        <table class="table tableSkin mb-0">
          <thead>
            <tr class="header-border text-left">
              <th style="width: 15%" scope="col" id="entity-name">
                <span class="hand-cursor" title="Entity Name">Entity Name</span>
              </th>
              <th style="width: 10%" scope="col" id="relation">
                <span class="hand-cursor" title="Relation">Relation</span>
              </th>
              <th style="width: 10%" scope="col" id="Date-of-Creation">
                <span class="hand-cursor" title="Date of Creation">Date of Creation</span>
              </th>

              <th style="width: 10%" scope="col">
                <span class="hand-cursor" title="Start Date of Involvement">Start Date of Involvement</span>
              </th>
              <th scope="col"  style="width: 5%"  class="text-center">Status</th>
              <th style="width: 10%" scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of coiFinancialEntityDetails; let i =index" class="pull-up text-left mt-1">
              <td>
                {{ item?.coiEntity?.coiEntityName }}</td>
              <td>
                <span *ngFor="let relationship of item?.coiFinancialEntityDetails; let last = last">
                  <ng-container *ngIf="!last">{{relationship?.coiFinancialEntityRelType?.description}},</ng-container>
                  <ng-container *ngIf="last">{{relationship?.coiFinancialEntityRelType?.description}}</ng-container>
                </span>
              </td>

              <td>
                {{ item?.coiEntity?.createTimestamp |dateFormatter }}</td>

              <td>
                {{ item?.involvementStartDate |dateFormatter }}</td>

                <td class="text-center">
                    <span class="badge badge-pill" [ngClass]="item.isActive ? 'badge-success' : 'badge-secondary'">
                        {{item?.isActive ? 'Active' : 'Inactive'}}
                    </span>
                </td>

              <td class="p-0">

                <ul class="actionButtonGroup text-center">
                    <li>
                        <a id="add-activity-btn" (click)="modifyReviewComment(true, item?.coiFinancialEntityId)">
                            <img alt="add-activity icon" class="activity-icon" title="Click here to Add Review Comment"
                                src="{{deployMap}}assets/images/playlist (2).svg">
                        </a>
                    </li>
                    <li>
                        <a title="View " class="btn btn-small btn-tertiary button-radius" id="view-sfi"
                            [routerLink]="['/fibi/manage-sfi']" [queryParams]="{entityId:item?.coiFinancialEntityId, mode:'view'}">
                            <i class="fa fa-eye pointer" aria-hidden="true"></i> View
                        </a>
                    </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="coiFinancialEntityDetails?.length == 0" class="no-data-container">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i aria-hidden="true" class="fa fa-file-o"></i>
            <i aria-hidden="true" class="fa fa-times-circle-o"></i>
          </div>
        </span>
        <h4>There is no Entity found.</h4>
      </div>
    </div>
  </div>

</div>
