<!-- <div class="card rounded-0 mt-3" id="COI802">
  <div class="card-header px-4 d-flex align-items-center justify-content-between">
    <h1 class="f-14 font-weight-bold m-0 txt-medium"> <strong> Significant Financial Interest (SFI) </strong> </h1>

    <button class="btn btn-sm add-activity-button p-0 view-icon mr-5" id="add-activity" title="Add Review Comment"
            type="button" (click)="modifyReviewComment()">
            <mat-icon class="btn btn-outline-secondary comment-button me-3">rate_review</mat-icon>
    </button>
    <button class=" updown-arrow mt-3 " (click)="isCollapsed = !isCollapsed">
        <i [ngClass]="!isCollapsed?'fa-large fa fa-angle-double-down':'fa-large fa fa-angle-double-up'"
            class="fa-large" aria-hidden="true"></i>
    </button>
  </div>
</div> -->

<div class="main-title d-flex flex-end justify-content-between px-1 pb-2 position-relative" id="COI802">
  <h3 class="fs-16">
    <span class="d-flex align-items-center" >
    <strong tabindex="0" aria-label="Significant Financial Interest (SFI)">Significant Financial Interest (SFI)
    </strong>
    <span class="d-inline-block" data-bs-toggle="tooltip" title="View SFI details."
      data-bs-placement="top">
      <mat-icon class="ms-1 f-16 position-relative mt-1 text-secondary"  data-bs-toggle="tooltip">info</mat-icon>
    </span>
  </span>
  </h3>
  <button class="d-flex justify-content-center align-items-center btn toggle-btn border rounded-5 shadow-sm p-0"
    [attr.aria-label]="'Click here to ' + (isCollapsed ? 'collapse' : 'expand') + ' Significant Financial Interest'"
    [title]="isCollapsed ? 'Click here to collapse Significant Financial Interest (SFI)' : 'Click here to expand Significant Financial Interest (SFI)'"
    (click)="isCollapsed = !isCollapsed">
    <mat-icon>{{isCollapsed ? 'expand_less' : 'expand_more'}}</mat-icon>
  </button>
</div>
<ng-container *ngIf="isCollapsed">
  <ng-container *ngIf="isShowNoDataCard">
    <ng-container *ngIf="coiFinancialEntityDetails?.length">
      <div class="mb-2 mt-3 "
        *ngFor="let item of coiFinancialEntityDetails | SearchFilter : searchText :['coiEntity.coiEntityName'] ; let i =index">
        <app-shared-sfi-card [reqObject]='item' [referredFrom]="'SFI_SUMMARY'" (viewSlider)="viewSlider($event)" (reviewSlider)="openReviewerComment($event)"></app-shared-sfi-card>
      </div>
    </ng-container>
    <app-no-information *ngIf="!coiFinancialEntityDetails?.length"> </app-no-information>
  </ng-container>
</ng-container>

  <ng-container *ngIf="showSlider">
    <app-coi-slider (closeSlider)="hideSfiNavBar()" [elementId]="sliderElementId">
      <ng-container content>
        <app-entity-details [entityId]="entityId"></app-entity-details>
      </ng-container>
    </app-coi-slider>
  </ng-container>
