.activity-icon {
    width: 20px;
}
.comment-button {
    padding: 5px 5px 5px 5px;
    height: 31px;
    width: 36px;
    border: 1px solid #505050;
    background-color: rgb(240, 242, 243);
}
.comment-button:hover {
    background-color: #3b83ff !important;
}

  .sfi_action_btn:hover {
    background-color: #2c77f4;
  }
  
  .pill-color {
    background-color: #ecf1f3;
  }

  .view-icon {
    margin-right: 2.5rem;
  }
  