<!-- <div class="card rounded-0 mt-3" id="COI802">
  <div class="card-header px-4 d-flex align-items-center justify-content-between">
    <h1 class="f-14 font-weight-bold m-0 txt-medium"> <strong> Significant Financial Interest (SFI) </strong> </h1>

    <button class="btn btn-sm add-activity-button p-0 view-icon mr-5" id="add-activity" title="Add Review Comment"
            type="button" (click)="modifyReviewComment()">
            <mat-icon class="btn btn-outline-secondary comment-button me-3">rate_review</mat-icon>
    </button>
    <button class=" updown-arrow mt-3 " (click)="isCollapsed = !isCollapsed">
        <i [ngClass]="!isCollapsed?'fa-large fa fa-angle-double-down':'fa-large fa fa-angle-double-up'"
            class="fa-large" aria-hidden="true"></i>
    </button>
  </div>
</div> -->

<div class="main-title" id="COI802">
  <h3 class="d-flex align-items-center justify-content-between fs-16 mt-4 mb-3">
    <span class="d-flex align-items-center">
    <strong class="mt-4">Significant Financial Interest (SFI)
    </strong>
    <span class="d-inline-block mt-3" tabindex="0" data-bs-toggle="tooltip" title="View SFI details."
      data-bs-placement="top">
      <mat-icon class="me-2 info-icon" data-bs-toggle="tooltip">info</mat-icon>
    </span>
  </span>
    <button class=" updown-arrow mt-3 " (click)="isCollapsed = !isCollapsed">
      <i [ngClass]="!isCollapsed?'fa-large fa fa-angle-double-down':'fa-large fa fa-angle-double-up'" class="fa-large"
        aria-hidden="true"></i>
    </button>
  </h3>
</div>
<ng-container *ngIf="isCollapsed">
  <ng-container *ngIf="coiFinancialEntityDetails?.length">
    <div class="px-2 mb-2 mt-3"
      *ngFor="let item of coiFinancialEntityDetails | SearchFilter : searchText :['coiEntity.coiEntityName'] ; let i =index">
      <app-shared-sfi-card [reqObject]='item' [referredFrom]="'SFI_SUMMARY'"></app-shared-sfi-card>
    </div>
  </ng-container>
    <app-no-information *ngIf="!coiFinancialEntityDetails?.length"> </app-no-information>
</ng-container>
