<div class="border-top-0 mb-3 mx-3 row header-sticky">
    <div class="col-9 p-0">
        <div class="border shadow-sm min-height-189 bg-white">
            <div class="disclosure-heading px-3 d-flex">
                <div class="align-self-center flex-fill">
                    <p class="m-0">
                        <ng-container *ngIf="!responseObject?.travelDisclosureId">
                            <strong>Travel Disclosure By
                                <span class="text-primary cursor-pointer">
                                    <u (click)="ispersondetailsmodal = true;"
                                        title="Show the details of {{userDetails.fullName}}">
                                        {{userDetails.fullName}}
                                    </u>
                                </span>
                            </strong>
                        </ng-container>
                        <ng-container *ngIf="responseObject?.travelDisclosureId">
                            <strong title="">
                                #{{responseObject?.travelDisclosureId}} : Travel Disclosure By
                                <span class="text-primary cursor-pointer">
                                    <u (click)="ispersondetailsmodal = true;"
                                        title="Show the details of {{userDetails.fullName}}">
                                        {{userDetails.fullName}}
                                    </u>
                                </span>
                            </strong>
                        </ng-container>
                    </p>
                </div>
                <div class="d-flex">
                    <ng-container>
                        <div class="align-items-center d-flex" title="Click here to collapse/un-collapse">
                            <button (click)="isCardExpanded=!isCardExpanded"
                                class="toggle-header-btn align-items-center bg-white border btn d-flex justify-content-center p-0 rounded-5 shadow-sm">
                                <mat-icon>{{isCardExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div *ngIf="isCardExpanded" class="d-flex p-3 pt-4 pb-1 bg-white">
                <!-- user details -->
                <div class="col mr-15">
                    <div class="border triple-card rounded-1 position-relative p-3 fw-medium">
                        <div class="row mt-2">
                            <div class="col d-flex">
                                <label class="grey-text fw-600 fs-14">
                                    <i aria-hidden="true" class="fa fa-home mr-2"></i>
                                    Department :
                                </label>
                                <app-no-data-label class="grey-text fs-14 ml-2"
                                    [valueToShow]="userDetails.homeUnit || userDetails.homeUnitName">
                                    <div title="{{userDetails.homeUnit}} - {{userDetails.homeUnitName}}">
                                        {{userDetails.homeUnit}} -
                                        {{userDetails.homeUnitName.length>35 ?
                                        (userDetails.homeUnitName | slice:0: 35)+'...' :
                                        userDetails.homeUnitName}}
                                    </div>
                                </app-no-data-label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col d-flex">
                                <label class="grey-text fw-600 fs-14">
                                    <i class="fa fa-user-o fw-700 mr-2" aria-hidden="true"></i>
                                    Administrator :
                                </label>
                                <span class="grey-text fs-14 ml-2">
                                    <app-no-data-label [valueToShow]=null>
                                        <div title="{{responseObject?.adminPersonId}} - {{responseObject?.adminPersonName}}">
                                            {{responseObject?.adminPersonId}}
                                            <span *ngIf="responseObject?.adminPersonId && responseObject?.adminPersonName">-</span>
                                            {{responseObject?.adminPersonName}}
                                        </div>
                                    </app-no-data-label>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col d-flex">
                                <label class="grey-text fw-600 fs-14">
                                    <img class="activity-icon" src="{{deployMap}}assets/images/multiple-admin-1.svg"
                                        alt="add-adminGroup icon">
                                    Admin Group :
                                </label>
                                <span class="grey-text fs-14 ml-2">
                                    <app-no-data-label [valueToShow]="responseObject?.adminGroupId || responseObject?.adminGroupName">
                                        <div title="{{responseObject?.adminGroupId}} - {{responseObject?.adminGroupName}}">
                                            {{responseObject?.adminGroupId}}
                                            <span *ngIf="responseObject?.adminGroupId && responseObject?.adminGroupName">-</span>
                                            {{responseObject?.adminGroupName}}
                                        </div>
                                    </app-no-data-label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- for date box -->
                <div class="col-auto mr-15">
                    <div class="border triple-card rounded-1 position-relative p-3 fw-medium">
                        <span class="status-pill">Date</span>
                        <div class="row mt-2">
                            <div class="col d-flex">
                                <label class="grey-text fw-600 fs-14">Create : </label>
                                <span class="grey-text fs-14 ml-2">
                                    <app-no-data-label [valueToShow]="responseObject?.createTimestamp">
                                        <span>{{responseObject?.createTimestamp | dateFormatter}}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col d-flex">
                                <label class="grey-text fw-600 fs-14">Certification : </label>
                                <span class="grey-text fs-14 ml-2">
                                    <app-no-data-label [valueToShow]="responseObject?.certifiedAt">
                                        <span>{{responseObject?.certifiedAt | dateFormatter}}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col d-flex">
                                <label class="grey-text fw-600 fs-14">Approved : </label>
                                <span class="grey-text fs-14 ml-2">
                                    <app-no-data-label [valueToShow]="responseObject?.acknowledgeAt">
                                        <span>{{responseObject?.acknowledgeAt | dateFormatter}}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- for status box -->
                <div class="col-auto status-card-width">
                    <div class="border triple-card rounded-1 position-relative">
                        <span class="status-pill">Status</span>
                        <div class="ps-4 table-negative-margin">
                            <table class="fs-14 fw-medium spaced-table grey-text">
                                <tr>
                                    <td class="fw-600">Review :</td>
                                    <td>
                                        <app-no-data-label [valueToShow]="responseObject?.reviewStatus">
                                            <span class="{{commonService.getReviewStatusBadge(responseObject?.reviewStatusCode)}}">{{responseObject?.reviewStatus}}</span>
                                        </app-no-data-label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fw-600">Disclosure :</td>
                                    <td>
                                        <app-no-data-label [valueToShow]="responseObject?.travelDisclosureStatus">
                                            <span class="{{commonService.getDispositionStatusBadge(responseObject?.travelDisclosureStatusCode)}}">{{responseObject?.travelDisclosureStatus}}</span>
                                        </app-no-data-label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container>
                <div class="nav-progress row mt-1">
                    <!-- Screening Questionnaire tab -->
                    <!-- <div class="col h-100 m-0 fs-14"
                        [routerLink]="['screening']"
                        [class.complete]="isRouteComplete(['screening', 'travel-details', 'certification'])"
                        [class.cursor-pointer]="!isRouteComplete(['screening'])"
                        queryParamsHandling='merge'
                        title="Goto step Screening Questionnaire">
                        Screening Questionnaire
                        <div class="arrow-wrapper">
                            <div class="arrow-cover">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col h-100 m-0 fs-14" (click)="service.isChildRouting = true"
                        [class.complete]="isRouteComplete(['travel-details', 'certification'])"
                        [routerLink]="['travel-details']" queryParamsHandling='merge'
                        [class.cursor-pointer]="!isRouteComplete(['travel-details'])"
                        [title]="isRouteComplete(['travel-details'])? 'Travel Details' : 'Goto step Travel Details'">
                        Travel Details
                        <div class="arrow-wrapper">
                            <div class="arrow-cover">
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col fs-14" (click)="service.isChildRouting = true"
                        [class.complete]="isRouteComplete(['certification'])" [routerLink]="['certification']"
                        queryParamsHandling='merge' [class.cursor-pointer]="!isRouteComplete(['certification'])"
                        [title]="isRouteComplete(['certification'])? 'Certification' : 'Goto step Certification'">
                        Certification
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- right side options -->
    <div class="col-3 px-0">
        <div class="d-flex flex-column p-0 bg-white min-height-189 border-end shadow-sm">
            <div class="flex-fill h-100">
                <div class="d-flex justify-content-between p-3">
                    <span [routerLink]="['/coi/user-dashboard']" class="btn btn-outline-grey pb-0 fs-14 col-2"
                        title="Goto home">
                        <mat-icon>home</mat-icon>
                    </span>
                    <span data-bs-target="#coi-activity-modal" data-bs-toggle="modal"
                        title="Click here to add new review comment"
                        class="fs-14 align-items-center btn btn-outline-grey d-flex pb-0 pt-0 col justify-content-center mx-2">
                        <mat-icon class="me-2">rate_review</mat-icon>
                        Comments
                    </span>
                    <span title="Click here for more options" aria-expanded="false"
                        class="text-nowrap align-items-center btn btn-outline-grey col d-flex fs-14 justify-content-center px-3 w-100"
                        data-bs-toggle="dropdown" id="moreActions" role="button">
                        <mat-icon class="me-1">more_vert</mat-icon> More Options
                    </span>
                </div>
                <div class="d-flex justify-content-around px-3 pb-3"
                    *ngIf="isRouteComplete(['screening', 'travel-details'])"
                    title="Click here to add a new financial interest">
                    <span (click)="sfiService.isShowSfiNavBar = true"
                        class="fs-14 btn btn-outline-grey d-flex justify-content-center w-100 align-items-center">
                        <mat-icon class="me-2">add</mat-icon>
                        Add Significant Financial Interest
                    </span>
                </div>
                <div class="d-flex justify-content-around px-3 pb-3" (click)="handleTravelDisclosureSubmission('SAVE_DISCLOSURE')"
                    *ngIf="isRouteComplete(['screening', 'travel-details'])">
                    <span class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center">
                        <mat-icon class="me-2">save</mat-icon>
                        Save
                    </span>
                </div>
                <button class="btn border-0 d-flex justify-content-around px-3 pb-3 w-100"
                    (click)="handleTravelDisclosureSubmission('CERTIFY_DISCLOSURE'); isSaved=true;"
                    *ngIf="isRouteComplete(['certification']) && !isSaved" [disabled]="!service.isTravelCertified">
                    <span class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center">
                        <mat-icon class="me-2">done</mat-icon>
                        Certify
                    </span>
                </button>
                <button class="btn border-0 d-flex justify-content-around px-3 pb-3 w-100"
                    (click)="handleTravelDisclosureSubmission('CERTIFY_COPY_DISCLOSURE'); isSaved=true;"
                    *ngIf="isRouteComplete(['certification']) && !isSaved" [disabled]="!service.isTravelCertified">
                    <span class="fs-14 btn btn-outline-grey d-flex justify-content-center w-100 align-items-center">
                        <i class="me-2 fs-4 fa fa-clipboard"></i>
                        Certify & Copy
                    </span>
                </button>
                <div class="d-flex justify-content-around px-3 pb-3" (click)="isSaved=false"
                    *ngIf="isRouteComplete(['certification']) && isSaved">
                    <span class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center">
                        <mat-icon class="me-2">done</mat-icon>
                        Acknowledge
                    </span>
                </div>
            </div>
            <div class="fs-14 fw-medium align-items-center d-flex justify-content-center notes navigation-tabs">
                Notes & Attachments
            </div>
        </div>
    </div>
</div>
<div class="mx-3">
    <router-outlet></router-outlet>
</div>

<!--Unsaved Changes Modal-->
<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-validate-button" data-bs-toggle="modal"
    data-bs-target="#saveAndExitModal"></button>
<div class="modal modal-coi fade mySkinDialog" id="saveAndExitModal" role="dialog" aria-labelledby="saveAndExitModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" id="prop-saveExit-dismiss-btn" class="btn-close fs-12" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="service.unSavedTabName != 'Certification'" class="fs-14">
                    You have unsaved changes in
                    <ng-container *ngIf="!service.unSavedTabName">
                        <strong>Travel Disclosure Creation</strong>
                    </ng-container>
                    <strong>{{service.unSavedTabName}}.</strong>
                </p>
                <p class="fs-14">Do you want to leave the
                    <ng-container *ngIf="service.unSavedTabName != 'Certification'">
                        page without saving
                    </ng-container>
                    <ng-container *ngIf="service.unSavedTabName == 'Certification'">
                        <strong>Certification </strong>
                        Page
                    </ng-container>
                    ?
                </p>
            </div>
            <div class="modal-footer mx-2">
                <button type="button" class="btn btn-outline-secondary" (click)="leavePageClicked();"
                    data-bs-dismiss="modal">
                    Leave Page
                </button>
                <button type="button" class="btn btn-primary btn-sm fs-14" data-bs-dismiss="modal">
                    Stay On Page
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Add SFI Slider-->
<div>
    <app-add-sfi-slider></app-add-sfi-slider>
</div>

<!-- review comment Modal-->
<!-- <app-coi-review-comment-modal></app-coi-review-comment-modal> -->

<!-- personal details Modal-->
<app-personal-details-modal *ngIf="ispersondetailsmodal" (closeModalPersonDetails)="closePersonDetailsModal($event)"
    [ispersondetailsmodal]="ispersondetailsmodal" [userdetails]="userDetails">
</app-personal-details-modal>