<div class="container-fluid mx-2">
  <div class="card shadow border-2">
    <div class="content justify-content-center d-grid">
      <div class="d-flex justify-content-center">
        <div class="link">
          <img src="{{deployMap}}assets/images/feather-link.svg">
        </div>
      </div>
      <label class="new-line-property text-secondary fs-14">Define Self/Spouse/Dependent Relationship</label>
      <button class="btn btn-primary" (click)="addRelationShips()">
        <div class="btn-position">
            <mat-icon  class="material-icons-outlined">add_circle_outline</mat-icon>
            Add Relationship
        </div>
      </button>
    </div>
  </div>
</div>

