.card {
  height: 250px;
}

.content {
  position: relative;
  top: 100px;
}
.material-icons-outlined{
  position: relative;
    top: 6px;
    right: 3px;
}

.btn-position {
  position: relative;
  top: -5px;
}
