
<app-view-relationship-details [updateRelationshipDetails]="updateRelationshipDetails" [entityId]="entityId"
        [isEditMode]="isEditMode" [entityDetails]="entityDetails"
        [isTriggeredFromSlider]="isTriggeredFromSlider" (closeEntityInfoCard)="closeSlider($event)"></app-view-relationship-details>

<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-unsaved-changes-button" data-bs-toggle="modal"
    data-bs-target="#hiddenUnsavedChanges"></button>
<div class="modal modal-coi fade mySkinDialog" id="hiddenUnsavedChanges" role="dialog" aria-labelledby="hiddenUnsavedChanges"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" id="prop-saveExit-dismiss-btn" class="btn-close fs-12"
                data-bs-dismiss="modal"
                    aria-label="Close" (click)="closeUnsavedChangesModal()">
                </button>
            </div>
            <div class="modal-body">
                <p>You have unsaved changes in 
                <strong> 
                    <ng-container *ngFor="let section of entityDetailService.unSavedSections; let isLast = last;">{{section}} <ng-container *ngIf="!isLast">, </ng-container></ng-container>
                </strong>.
                </p>
                <span class="fs-14"><p>Do you want to leave the page?</p></span>
            </div>
            <div class="modal-footer mx-2">
                <button type="button" class="btn btn-outline-secondary" (click)="fullPageNavigationLeavePage();">Leave Page</button>
                <button type="button" class="btn btn-primary btn-sm fs-14" (click)="closeUnsavedChangesModal()">Stay On Page</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-coi fade mySkinDialog" id="questionnaireUnsavedChanges" role="dialog" aria-labelledby="hiddenUnsavedChanges"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" id="prop-saveExit-dismiss-btn" class="btn-close fs-12"
                data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>You have unsaved changes in <strong>{{questionnaireSection}}</strong>.
                </p>
                <span class="fs-14"><p>Do you want to leave the page?</p></span>
            </div>
            <div class="modal-footer mx-2">
                <button type="button" class="btn btn-outline-secondary" (click)="questionnaireChangeModalLeaveTab();">Leave Page</button>
                <button type="button" class="btn btn-primary btn-sm fs-14" data-bs-dismiss="modal">Stay On Page</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-coi fade mySkinDialog" id="relationDetailsUnSavedChanges" role="dialog" aria-labelledby="hiddenUnsavedChanges"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" id="prop-saveExit-dismiss-btn" class="btn-close fs-12"
                data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>You have unsaved changes in <strong>Relationship Details</strong>.
                </p>
                <span class="fs-14"><p>Do you want to leave the page?</p></span>
            </div>
            <div class="modal-footer mx-2">
                <button type="button" class="btn btn-outline-secondary" (click)="relationDetailsLeavePage();">Leave Page</button>
                <button type="button" class="btn btn-primary btn-sm fs-14" data-bs-dismiss="modal">Stay On Page</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRelationshipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-mdb-backdrop="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-height">
        <h3 class="modal-title fs-16" id="exampleModalLabel">Add Relationship</h3>
        <button title="Click to close the relationship button" type="button" class="btn-close fs-12 px-4" data-bs-dismiss="modal" aria-label="Close"
          id="close-addRelationshipModal-trigger-btn" (click)="clearModal()"></button>
      </div>
      <div class="modal-body p-0">
        <div class="row m-0 add-relation-header">
          <p class="fs-13 m-0"><b>Significant Financial Interest Details</b>: Now includes not-for-profit entities other than government entities, institution of higher education and affiliated organizations.</p>
        </div>
        <div  *ngIf="entityDetailService.availableRelationships?.length; else noData" class="relation d-flex justify-content-center mt-5 mb-5">
          <div class="card custom-padding position-relative"
          [ngClass]="relationValidationMap.has('relationRadio')?'border-danger' : ''">
              <div class="color-black mb-2">
                <label class="form-check-label colour-black relation-header px-2"><b>Select Relation
                  </b></label>
              </div>
              <div class="col pl-20 mt-4">
                <div *ngFor="let subsection of entityDetailService.groupedRelations | keyvalue;" class="mb-3 d-flex align-items-baseline">
                  <label class="fs-14 fw-500 label-text pb-1 pt-2"
                  [ngClass] = "subsection.key === 'OPA' ? 'mr-30' : subsection.key === 'Travel' ? 'mr-20' : ''">{{subsection.key}} : </label>
                <div *ngFor="let relation of subsection.value;" class="form-check form-check-inline" [class.ms-3]="subsection.key === 'Financial'">
                  <input type="checkbox" name="relation" class="form-check-input text-secondary border border-secondary"
                    [value]="relation?.personEntityRelType?.relationshipTypeCode"
                    [(ngModel)]="entityDetailService.isChecked[relation?.personEntityRelType?.relationshipTypeCode]">
                  <label class="text-secondary r-title fs-14">
                    {{relation?.personEntityRelType?.description}}
                  </label>
                </div>
              </div>
          </div>
        </div>
        </div>
        <div *ngIf="relationValidationMap.has('relationRadio')"
          class="invalid-feedback d-block fs-13 justify-content-center d-flex">
          {{relationValidationMap.get('relationRadio')}}
        </div>
        <ng-template #noData>
          <div class="m-3">
            <app-no-information></app-no-information>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary fs-15 py-2" data-bs-dismiss="modal"
          (click)="clearModal()">Cancel</button>
        <button title="Click to Add Relationship" type="button" class="btn btn-primary fs-14" (click)="triggerAddRelation()">Add Relationship</button>
      </div>
    </div>
  </div>
</div>

<app-concurrency-warning-modal *ngIf="entityDetailService.concurrentUpdateAction" [sectionName]="entityDetailService.concurrentUpdateAction" (closePage)="cancelConcurrency()"></app-concurrency-warning-modal>
