<div>
  <app-view-entity-sfi-details (emitRelationshipModal)="addRelationship($event)" [sfiRelationStatus]="sfiRelationStatus" [isEditMode]="isEditMode"></app-view-entity-sfi-details>
  <app-view-relationship-details [updateRelationshipDetails]="updateRelationshipDetails" (sfiRelationshipDetails)="getRelationshipDetails($event)"></app-view-relationship-details>
  <app-entity-questionnaire id="focusQuestionnaire" (updateRelationship)="updateRelationship($event)" (isEmitModalClose)="closedRelationshipModal($event)" [isAddRelationship]="isEnableRelationshipModal" (positionsToView)="scrollPosition($event)"></app-entity-questionnaire>
</div>
