<app-view-relationship-details
        [entityId]="entityId" [entityNumber]="entityNumber"
        [entityDetails]="entityDetails"
        [isTriggeredFromSlider]="isTriggeredFromSlider" (closeEntityInfoCard)="closeSlider($event)"></app-view-relationship-details>

<button type="button" class="btn btn-primary" hidden=true id="hidden-unsaved-changes-button" data-bs-toggle="modal"
    data-bs-target="#hiddenUnsavedChanges"></button>

<div class="modal fade mySkinDialog" data-bs-backdrop="static" id="hiddenUnsavedChanges" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="btn-close" title="Close" data-bs-dismiss="modal" aria-label="Close" (click)="closeUnsavedChangesModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p class="fs-14">You have unsaved changes in 
              <strong> 
                  <ng-container *ngFor="let section of entityDetailService.unSavedSections; let isLast = last;">{{section}} <ng-container *ngIf="!isLast">, </ng-container></ng-container>
              </strong>.
              </p>
              <span class="fs-14"><p>Do you want to leave the page?</p></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" id="relationship-confirmation" data-bs-dismiss="modal"
         type="button" title="Cancel" (click)="fullPageNavigationLeavePage();">Leave Page
        </button>
        <button class="btn btn-primary me-0" id="relationship-confirmation" type="button" (click)="closeUnsavedChangesModal()">Stay On Page
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mySkinDialog" data-bs-backdrop="static" id="questionnaireUnsavedChanges" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="btn-close" title="Close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p class="fs-14">You have unsaved changes in <strong>{{questionnaireSection}}</strong>.
            </p>
            <span class="fs-14"><p>Do you want to leave the page?</p></span>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" id="confirmation2" type="button" title="Cancel" (click)="questionnaireChangeModalLeaveTab();">Leave Page </button>
        <button class="btn btn-primary me-0" id="confirmation2" type="button" data-bs-dismiss="modal">Stay On Page</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mySkinDialog" data-bs-backdrop="static" id="relationDetailsUnSavedChanges" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="btn-close" title="Close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p class="fs-14">You have unsaved changes in <strong>{{SFI_ADDITIONAL_DETAILS_SECTION_NAME}}</strong>.
            </p>
            <span class="fs-14"><p>Do you want to leave the page?</p></span>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" id="confirmation3" type="button" title="Cancel" (click)="relationDetailsLeavePage();">Leave Page </button>
        <button class="btn btn-primary me-0" id="confirmation3" type="button" data-bs-dismiss="modal">Stay On Page</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Relationship Modal -->

<div class="modal fade mySkinDialog modal-lg" data-bs-backdrop="static" id="addRelationshipModal"
  aria-labelledby="exampleModalLabel" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">Add Relationship</h4>
        <button type="button" class="btn-close" title="Close" data-bs-dismiss="modal" aria-label="Close"
          id="close-addRelationshipModal-trigger-btn" (click)="clearModal()"></button></div>
      <div class="modal-body">
        <div class="row" tabindex="0">
          <div class="col-12">
            <div class="alert alert-primary d-flex p-2" role="alert">
              <mat-icon role="img" class="mat-icon info-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">info</mat-icon>
              <p class="fs-13 m-0 px-1 flex-1">Relationship Details section, use this section to disclose financial information
                related to the entity for your Self, Spouse/Domestic Partner, and Dependents
                (children who are unemancipated and under 18 years of age or who receive more than one-­‐half support
                from you).</p>
            </div>
          </div>
        </div>
        <div *ngIf="entityDetailService.remainingRelationships && entityDetailService.remainingRelationships?.length; else noData"  class="relation d-flex justify-content-center mt-4">
          <div class="card custom-padding position-relative w-65" [ngClass]="relationValidationMap.has('relationRadio')?'border-danger' : ''">
            <div class="color-black mb-2" tabindex="0">
              <label class="form-check-label colour-black relation-header px-2"><b>Relationship Details </b>[Disclose financial details for the SFI]</label>
            </div>
            <div class="col pl-20 mt-4">
              <div *ngFor="let subsection of entityDetailService.groupedRelations | keyvalue;" class="mb-3 d-flex align-items-baseline row">
                <div class="col-5" tabindex="0"><label class="fs-14 fw-500 label-text pb-1 pt-2">{{subsection.key}} : </label></div>
                <div class="col-7">
                  <div *ngFor="let relation of subsection.value; let isFirst = first; let isLast = last;" class="form-check d-inline-block" [class.ml-last]="!isLast">
                    <input type="checkbox" name="relation"
                      class="form-check-input text-secondary border border-secondary"
                      [value]="relation?.validPersonEntityRelTypeCode"
                      [id]="'modal-sfi-relation'+relation.validPersonEntityRelTypeCode"
                      [(ngModel)]="checkedRelationships[relation?.validPersonEntityRelTypeCode]">
                    <label class="text-secondary r-title fs-14" [for]="'modal-sfi-relation'+relation.validPersonEntityRelTypeCode">
                      {{relation?.personEntityRelType?.description}} </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="relationValidationMap.has('relationRadio')" class="invalid-feedback d-block fs-13 justify-content-center d-flex">
          {{relationValidationMap.get('relationRadio')}}</div>
        <ng-template #noData>
          <div class="m-3"><app-no-information></app-no-information></div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" id="add-relationship-btn" data-bs-dismiss="modal" type="button"
          title="Cancel" (click)="clearModal()">Cancel</button>
        <button class="btn btn-primary me-0" id="add-relationship-btn" type="button" (click)="addRelation()">Add</button>
      </div>
    </div>
  </div>
</div>

<app-concurrency-warning-modal *ngIf="entityDetailService.concurrentUpdateAction" [sectionName]="entityDetailService.concurrentUpdateAction" (closePage)="cancelConcurrency()"></app-concurrency-warning-modal>
