.highlight-node {
    /* background-color: #e9ffff; */
    background-color: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ded8d8;
    /* cursor: pointer; */
}
