  <div class="mx-0 mb-3 row" *ngIf="_coiService.isShowAttachmentInfo">
    <div class="align-items-center col-12 d-flex font highlight-node justify-content-between p-3">
      <p class="fs-14 m-0" >View the status of your conflict.once self certification is complete
        the disclosure goes through review process following which your disclosure attains Conflict/No Conflict
        Status after reviewers determine whether conflict can be managed or eliminated.If a conflict of interest is
        identified the status will be updated accordingly.</p>
      <button id="disclosure-info-close" type="button" class="btn-close" (click)="closeAttachmentInfo()" aria-label="Click to close">
      </button>
    </div>
  </div>

<div class="card card-inner mb-3 mt-3">
  <div class="card-content">
    <div class="card-body">
      <label for="conflict-management-desc" class="fs-5">Description</label>
      <textarea cols="2" rows="3" id="conflict-management-desc" appLengthValidator [isShowLimiter]='true' [limit]=200
        placeholder="Add description." class="form-control dateBox text-area-height"></textarea>
    </div>

    <div class="card-body">
      <div class="card">
        <div class="card-body p-0">
          <div>
            <app-file-drop [multiple]="true" (filesDropEvent)="fileDrop($event)"></app-file-drop>
          </div>
          <div *ngIf="uploadedFile.length > 0">
            <div class="gridSkin">
              <div class="card shadow mb-2" *ngFor="let item of uploadedFile; let i=index">
                <div class="row mb-2">
                  <div class="col-lg-3 col-12">
                    <label class="d-block"><span class="mandatory">*</span>Document Type</label>
                    <select id="external-review-doc-popup-type" class="form-control dateBox doc-type"
                      [(ngModel)]="newAttachment[i].attachmentTypeCode">
                      <option [ngValue]='undefined'>--Select--</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-12">
                    <label class="d-block">Description </label>
                    <textarea id="desc" cols="2" rows="1" id="external-review-doc-popup-desc"
                      [(ngModel)]="newAttachment[i].description" placeholder="Add description." class="form-control dateBox"
                      appLengthValidator [isShowLimiter]='true' [limit]=500>
                    </textarea>
                  </div>
                  <div class="col-lg-4 col-12 fs-6">
                    <label><span class="mandatory">*</span>File</label>
                    <span class="d-block">{{item?.name}}</span>
                  </div>
                  <div class="col-lg-1 col text-right">
                    <ul class="actionButtonGroup mt-5">
                      <li>
                        <a id="external-review-doc-popup-dlt-btn" class="fa fa-trash-o hand-cursor" title="Remove File"
                          (click)="deleteFromUploadedFileList(i)"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="attachmentWarningMsg != null">
            <span class="mandatory font">{{attachmentWarningMsg}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ADD ATTACHMENT  MODAL -->
<div class="modal fade mySkinDialog" id="conflictManagementAttachment" tabindex="-1" role="dialog"
  aria-label="Add Attachments">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Attachments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="external-review-doc-popup-dismiss-btn"
          aria-label="Click to close" title="Click to close" (click)="clearAttachmentDetails()">
        </button>
      </div>
      <div class="modal-body">
        <div>
          <app-file-drop [multiple]="true" (filesDropEvent)="fileDrop($event)"></app-file-drop>
        </div>
        <div *ngIf="uploadedFile.length > 0">
          <div class="gridSkin">
            <div class="card shadow mb-2" *ngFor="let item of uploadedFile; let i=index">
              <div class="row mb-2">
                <div class="col-lg-3 col-12">
                  <label class="d-block"><span class="mandatory">*</span>Document Type</label>
                  <select id="external-review-doc-popup-type" class="form-control dateBox doc-type"
                    [(ngModel)]="newAttachment[i].attachmentTypeCode"
                    (ngModelChange)="onAttachmentTypeChange(i, newAttachment[i].attachmentTypeCode)">
                    <option [ngValue]='undefined'>--Select--</option>
                    <ng-container *ngFor="let attachType of externalReviewerAttachmentType">
                      <option [value]="attachType?.attachmentTypeCode">
                        {{attachType?.description}}
                      </option>
                    </ng-container>

                  </select>
                </div>
                <div class="col-lg-4 col-12">
                  <label class="d-block">Description </label>
                  <textarea id="desc" cols="2" rows="1" id="external-review-doc-popup-desc"
                    [(ngModel)]="newAttachment[i].description" placeholder="" class="form-control dateBox"
                    appLengthValidator [isShowLimiter]='true' [limit]=500>
                                    </textarea>
                </div>
                <div class="col-lg-4 col-12">
                  <label><span class="mandatory">*</span>File</label>
                  <span class="d-block">{{item?.name}}</span>
                </div>
                <div class="col-lg-1 col text-right">
                  <ul class="actionButtonGroup mt-5">
                    <li>
                      <a role="link" tabindex="0" id="external-review-doc-popup-dlt-btn" class="fa fa-trash-o hand-cursor" aria-label="Click here to remove file" title="Click here to remove file"
                        (click)="deleteFromUploadedFileList(i)" (keyup.enter)="deleteFromUploadedFileList(i)" (keyup.space)="deleteFromUploadedFileList(i)"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="attachmentWarningMsg != null">
          <span class="mandatory font">{{attachmentWarningMsg}}</span>
        </div>
      </div>
      <div class="modal-footer float-right mt-3" *ngIf="uploadedFile.length > 0">
        <button type="button" class="btn btn-secondary" id="external-review-doc-popup-close-btn" data-bs-dismiss="modal"
          (click)="clearAttachmentDetails()" aria-label="Click to close" title="Click to close">Close</button>
        <button type="button" aria-label="Click to Add" title="Click to Add" class="btn btn-primary-sub" id="external-review-doc-popup-add-btn">Add</button>
      </div>
    </div>
  </div>
</div>
