<div id="COI804" class="card my-3">
    <div class="card-header px-4 d-flex certify-heading justify-content-between">
        <h1 class="f-18 font-weight-bold m-0"> Step Four : Certify</h1>
        <button class="btn btn-sm p-0 add-activity-button " id="add-activity" title="Add Review Comment"
            type="button" (click)="modifyReviewComment()">
                      <mat-icon class="btn btn-outline-secondary comment-button">rate_review</mat-icon>
        </button>
                <!-- <img alt="add-activity icon" class="activity-icon" src="{{deployMap}}assets/images/playlist (1).svg"> -->
              <!-- <mat-icon class="btn btn-outline-secondary comment-button border border-2">rate_review</mat-icon>       -->
    </div>


    <div class="card-body">
        <div class="gridSkin p-15 text-center">
            <h3 class="mb-4">Certification</h3>
            <p>I agree to abide by the University COI policy guidelines and certify that the information provided for the Financial conflict of interest, including, responses to screening questions, list of my pertinent Significant Financial interests and possible relationship to my sponsored activity is an accurate and current statement of my reportable outside interests and activities.</p>
        </div>
    </div>
</div>
