<!-- <div id="COI804" class="card my-3">
    <div class="card-header px-4 d-flex certify-heading justify-content-between">
        <h1 class="f-14 font-weight-bold m-0">Certification</h1>
        <button class="btn btn-sm p-0 add-activity-button " id="add-activity" title="Add Review Comment"
            type="button" (click)="modifyReviewComment()">
                      <mat-icon class="btn btn-outline-secondary comment-button">rate_review</mat-icon>
        </button> -->
                <!-- <img alt="add-activity icon" class="activity-icon" src="{{deployMap}}assets/images/playlist (1).svg"> -->
              <!-- <mat-icon class="btn btn-outline-secondary comment-button border border-2">rate_review</mat-icon>       -->
    <!-- </div> -->
<!-- </div> -->

<div class="main-title" id="COI804">
    <h3 class="d-flex align-items-center justify-content-between fs-16 mt-3">
        <span class="d-flex align-items-center" tabindex="0">
            <strong aria-label="Certification">Certification</strong>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Certify" data-bs-placement="top">
            <mat-icon class="ms-1 f-16 mt-1 info-icon position-relative" data-bs-toggle="tooltip">info</mat-icon>
            </span>
        </span>
    <!-- <button class="btn d-flex btn-primary-icon btn-sm mr-2" id="add-activity" title="Add Review Comment" type="button">
    <button tabindex="0" class="btn d-flex btn-primary-icon btn-sm mr-2" id="add-activity" title="Add Review Comment" type="button"aria-label="certification comment"
        (click)="modifyReviewComment()">
        <mat-icon>rate_review</mat-icon>
    </button> -->
    </h3>
  </div>
<div  class="card my-3" tabindex="0">
    <div class="card-body">
        <div class="gridSkin p-15" aria-label="I agree to abide by the University COI policy guidelines and certify that the information provided for the Financial conflict of interest, including, responses to screening questions, list of my pertinent Significant Financial interests and possible relationship to my sponsored activity is an accurate and current statement of my reportable outside interests and activities." >
            <!--<h3 class="mb-4">Certification</h3>-->
            <p class="fs-14">I agree to abide by the University COI policy guidelines and certify that the information provided for the Financial conflict of interest, including, responses to screening questions, list of my pertinent Significant Financial interests and possible relationship to my sponsored activity is an accurate and current statement of my reportable outside interests and activities.</p>
        </div>
    </div>
</div>
