<app-left-nav-bar></app-left-nav-bar>
<header class="align-items-center bg-white d-flex justify-content-between shadow-medium px-5">
    <div class="d-flex align-items-center">
        <a class="logo me-3 ms-4" href={{homeNavigation}}>
            <img [src]="logo" alt="Logo" class="w-100 ms-5">
        </a>
        <ul role="navigation" class="header-navigation-links d-flex align-items-center m-0 f-16 cursor-pointer p-0 text-secondary overflow">
            <li [routerLink]="['/coi/user-dashboard/disclosures']" class="mr-2 cursor-pointer" role="tab"
                routerLinkActive="active" [attr.title]="_router.url.includes('/coi/user-dashboard/disclosures') ? 'My COI' : 'Go to My COI Page'"
                aria-describedby="Goto home page">My Disclosures
                <span *ngIf="_router.url.includes('/coi/user-dashboard')" class="active-color"></span>
            </li>
            <li [routerLink]="['/coi/user-dashboard/entities']" class="mr-2 cursor-pointer" role="tab"
                routerLinkActive="active" [attr.title]="_router.url.includes('/coi/user-dashboard/entities') ? 'Disclosures page' : 'Go to Disclosures page'"
                aria-describedby="Goto Disclosures page">My Entities
                <span *ngIf="_router.url.includes('/coi/user-dashboard/entities')" class="active-color"></span>
            </li>
            <li (click)="redirectToOpa()" class="mr-2 cursor-pointer" role="tab"
                routerLinkActive="active" [attr.title]="_router.url.includes('/coi/opa') ? 'My OPA page' : 'Go to My OPA page'"
                aria-describedby="Goto My OPA page">My OPA
                <span *ngIf="_router.url.includes('/coi/opa')" class="active-color"></span>
            </li>
            <li class="mr-2 cursor-pointer" role="tab"
                routerLinkActive="active" [attr.title]="_router.url.includes('/coi/reviewer-dashboard') ? 'Notes and Attachments page' : 'Go to Notes and Attachments page'"
                aria-describedby="Goto Notes and Attachments page">Notes and Attachments
            </li>
        </ul>
    </div>
    <div>
        <div class="d-flex align-items-center">
            <div class="align-items-center d-flex mx-4">
                <ng-container *ngIf="_router.url.includes('/coi/user-dashboard')">
                    <div class="btn-group me-4">
                        <button (click)="triggerClickForId('create-toggle-dropdown')" type="button" class="btn btn-primary fs-14 d-flex align-items-center"><mat-icon>add</mat-icon> <span class="px-2">Create</span></button>
                        <button id="create-toggle-dropdown" [matMenuTriggerFor]="createActionMenu" type="button" class="border-start fs-14 btn btn-primary dropdown-width dropdown-toggle dropdown-toggle-split">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                    </div>
                    <mat-menu #createActionMenu="matMenu" xPosition="before">
                        <button (click)="triggerClickForId('create-sfi-modal')" mat-menu-item title="Click to Create Significant Financial Interest" area-describedby="Click to Create Significant Financial Interest"
                                class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="ms-2 fw-medium fs-14">Significant Financial Interest</span>
                        </button>
                        <button mat-menu-item title="Click to Add Notes" area-describedby="Click to Add Notes"
                                class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="ms-2 fw-medium fs-14">Notes</span>
                        </button>
                        <button mat-menu-item title="Click to Add Attachments" area-describedby="Click to add attachments"
                                class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="ms-2 fw-medium fs-14">Attachments</span>
                        </button>
                        <button (click)="triggerClickForId('create-project-modal')" mat-menu-item title="Click to Create Project Disclosure" area-describedby="Click to Create Project Disclosure"
                                class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="ms-2 fw-medium fs-14">Project Disclosure</span>
                        </button>
                        <button (click)="triggerClickForId('create-travel-modal')" mat-menu-item title="Click to Create Travel Disclosure" area-describedby="Click to Create Travel Disclosure"
                                class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="ms-2 fw-medium fs-14">Travel Disclosure</span>
                        </button>
                    </mat-menu>
                </ng-container>
                <mat-icon [attr.title]="'Click to view COI FAQ'" [routerLink]="['/coi/user/faq']" [attr.aria-labelledby]="'Click to view all the frequently asked questions'"
                          class="me-3 halo-icons align-items-center d-flex justify-content-center mat-icon mat-icon-no-color mat-ligature-font material-icons notranslate">
                    help
                </mat-icon>
                <mat-icon [attr.title]="'Click to view COI Notifications'"
                          [routerLink]="['/coi/expanded-widgets']"
                          [attr.aria-labelledby]="'Click to view all the notifications'"
                          class="me-3 halo-icons align-items-center d-flex justify-content-center mat-icon mat-icon-no-color mat-ligature-font material-icons notranslate">
                    notifications
                </mat-icon>
                <mat-icon [attr.title]="'Sign out of COI Module'"
                          [routerLink]="['/login']"
                          [attr.aria-labelledby]="'Click here to sign out'"
                          class="halo-icons align-items-center d-flex justify-content-center mat-icon mat-icon-no-color mat-ligature-font material-icons notranslate">
                    power_settings_new
                </mat-icon>
            </div>
            <div class="align-items-center d-flex ml-5 profile">
                <div class="d-flex mx-4 cursor-pointer">
                    <img alt="" src="assets/images/{{isMaleUser ?'user.svg':'user-female.svg'}}">
                </div>
                <div class="d-flex flex-column clickable-content ">
                    <b (click)="ispersondetailsmodal = true" class="f-16">{{fullName}}</b>
                    <small class="f-16">{{loginPerson?.reviewerRights?.description}}</small>
                </div>
                <!--<div class="d-flex ml-3 cursor-pointer" data-bs-toggle="dropdown">
                    <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
                </div>
                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu p-0">
                    <a *ngIf="loginPerson?.reviewerRightId == '3'" [routerLink]="['/fibi/admin-dashboard']"
                       class="dropdown-item p-0 px-4">
                        <mat-icon>dashboard</mat-icon>
                        <span class="ml-3">Admin Dashboard</span></a>
                    <a [routerLink]="['/fibi/faq']" class="dropdown-item p-0 px-4">
                        <mat-icon>quiz</mat-icon>
                        <span class="ml-3">FAQ</span></a>
                    <a class="dropdown-item p-0 px-4" data-bs-target="#new-password-modal" data-bs-toggle="modal"
                       id="reset-pass-btn">
                        <mat-icon>lock_reset</mat-icon>
                        <span class="ml-3">Change Password</span></a>
                    <a [routerLink]="['/logout']" class="dropdown-item p-0 px-4">
                        <mat-icon>logout</mat-icon>
                        <span class="ml-3">Log out</span></a>
                </div>-->
            </div>
        </div>
    </div>
</header>

<app-personal-details-modal *ngIf="ispersondetailsmodal" (closeModalPersonDetails)="closePersonDetailsModal($event)"
    [ispersondetailsmodal]="ispersondetailsmodal" [userdetails]="userDetails"></app-personal-details-modal>
