<div class="mt-1">
    <div *ngIf="coiFinancialEntityDetails?.length">
        <div class="form-group searchBox col-lg">
            <input type="text" placeholder="Search by SFI" class="ng-pristine ng-valid ng-touched form-control"
                   [(ngModel)]="searchText ">
            <a class="searchButton me-3">
                <i aria-hidden="true" class="fa fa-search fa-med pt-2 mr-4"></i>
            </a>
        </div>
<div class="margin-left-5">
<ng-container
    *ngFor="let item of coiFinancialEntityDetails | SearchFilter : searchText :['coiEntity.entityName'] ; let i =index">
    <app-shared-sfi-card [reqObject] = 'item' [referredFrom]="'SFI_EDIT_MODE'"></app-shared-sfi-card>
</ng-container>
</div>

</div>
</div>
<div *ngIf="!coiFinancialEntityDetails?.length">
    <app-no-information> </app-no-information>
</div>
