<div *ngIf="isEditMode && !isTriggeredFromSlider" class="d-flex alert alert-primary mb-0 py-2 mt-2">
    <mat-icon role="img" class="mat-icon material-icons flex-shrink-0" aria-hidden="true"
        data-bs-toggle="tooltip" title="SFI Help Text." data-bs-placement="top"
        data-mat-icon-type="font">info</mat-icon>
    <p class="fs-14 mb-0 ms-2">
        <span class="d-flex algin-items-start">
            <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
            <span>Below, you can see a list of your completed, Incomplete, and inactive SFIs. You may filter the SFI
                list according to your needs.
                <span *ngIf="!expandInfo" (click)="expandInfo = true" (keydown.enter)="expandInfo = true"
                    class="fw-700 link-primary" aria-label="Expand SFI help text" tabindex="0" role="link">...<span
                        id="link-read-more-info" title="Expand SFI help text" class="fw-700">Read More</span></span>
            </span>
        </span>
        <ng-container *ngIf="expandInfo">
            <span class="d-flex algin-items-start mt-2">
                <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                An incomplete SFI should either be Completed or Inactivated before establishing the Project-SFI
                relationship(s).
            </span>
            <span class="d-flex algin-items-start mt-2">
                <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                <span>For making any changes to the SFI, click on the modify button.
                </span>
            </span>
            <span class="d-flex algin-items-start mt-2">
                <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                <span>Please ensure you have the updated list of Completed SFI(s) before proceeding to the next step.
                    <span *ngIf="expandInfo" (click)="expandInfo = false" (keydown.enter)="expandInfo = false"
                        class="fw-700 link-primary"><span tabindex="0" role="link" id="link-read-less-info"
                            title="Collapse SFI help text" aria-label="Collapse SFI help text">Read Less</span></span>
                </span>
            </span>
        </ng-container>
    </p>
</div>
<div class="advance-search mt-2 coi-search-box rounded" [class.sticky-top]="isTriggeredFromSlider">
  <div class="row m-0">
    <div class="col-lg-auto py-2 px-3">
  <div  [@leftSlideInOut]>
      <label class="text-secondary" for="" tabindex="0">Filter By Status :</label>
      <span (click)="setFilter('ALL')" [class.active-filter-pills]="filterType=='ALL'" tabindex="0"
          [attr.aria-label]="filterType=='ALL' ? 'Selected filter type is all ' : 'All'"
          title="Click to filter by type: All" area-describedby="Click to filter by type: All"
          class="filter-pills coi-text-light" role="button">All</span>
      <span (click)="setFilter('COMPLETE')" [class.active-filter-pills]="filterType=='COMPLETE'" tabindex="0"
          [attr.aria-label]="filterType=='COMPLETE' ? 'Selected filter type is complete ' : 'Complete'"
          title="Click to filter by type: Complete" area-describedby="Click to filter by type: Complete"
          class="filter-pills coi-text-light" role="button">Complete</span>
      <span (click)="setFilter('INCOMPLETE')" [class.active-filter-pills]="filterType=='INCOMPLETE'" tabindex="0"
          [attr.aria-label]="filterType=='INCOMPLETE' ? 'Selected filter type is incomplete ' : 'Incomplete'"
          title="Click to filter by type: Incomplete" area-describedby="Click to filter by type: Incomplete"
          class="filter-pills coi-text-light" role="button">Incomplete</span>
      <span (click)="setFilter('INACTIVE')" [class.active-filter-pills]="filterType=='INACTIVE'" tabindex="0"
      [attr.aria-label]="filterType=='INACTIVE' ? 'Selected filter type is inactive ' : 'Inactive'"
          title="Click to filter by type: Inactive" area-describedby="Click to filter by type: Inactive"
          class="filter-pills coi-text-light" role="button">Inactive</span>
  </div>
  </div>
  <div class="col-lg border-start d-flex align-items-center filter-s-outer search-area position-relative p-2">
    <span class="filter-search">
        <mat-icon class="fs-25px searchButton">search</mat-icon>
        <input class="form-control pe-5" type="text" id="searchText" placeholder="Search Entity" [(ngModel)]="searchText" (ngModelChange)="getEntities()">
      </span>
        <mat-icon class="closeButton" *ngIf="searchText" (click)="clearSearchText()">close</mat-icon>
    </div>
  </div>
</div>
<!-- <div class="advance-search-area border d-flex mt-3 rounded-1">
    <div class="border-end fs-14 p-3" [@leftSlideInOut]>
        <span class="fs-14 fw-medium me-2 text-secondary">Filter By Status :</span>
        <span (click)="setFilter('ALL')" [class.filter-active]="filterType=='ALL'"
            title="Click to filter by type: All" area-describedby="Click to filter by type: All"
            class="shadow-sm fw-medium mr-025 border rounded-5 bg-white filter-active" role="button">All</span>
        <span (click)="setFilter('COMPLETE')" [class.filter-active]="filterType=='COMPLETE'"
            title="Click to filter by type: Complete" area-describedby="Click to filter by type: Complete"
            class="shadow-sm fw-medium mr-025 border rounded-5 bg-white" role="button">Complete</span>
        <span (click)="setFilter('INCOMPLETE')" [class.filter-active]="filterType=='INCOMPLETE'"
            title="Click to filter by type: Incomplete" area-describedby="Click to filter by type: Incomplete"
            class="shadow-sm fw-medium mr-025 mx-1 border rounded-5 bg-white" role="button">Incomplete</span>
        <span (click)="setFilter('INACTIVE')" [class.filter-active]="filterType=='INACTIVE'"
            title="Click to filter by type: Inactive" area-describedby="Click to filter by type: Inactive"
            class="shadow-sm fw-medium px-3 py-1 border rounded-5 bg-white" role="button">Inactive</span>
    </div>
    <div class="d-flex flex-fill position-relative search-background" [class.pl-28]="!searchText" [class.search-area]="isSearchTextHover"
    (mouseover)="isSearchTextHover = true" (mouseout)="isSearchTextHover = false">
      <mat-icon class="fs-25px searchButton"  *ngIf="!searchText">search</mat-icon>
      <input class="advance-search-input border-0 px-4" type="text" id="searchText"
      [class.search-area]="isSearchTextHover"
      placeholder="Search Entity Name" [(ngModel)]="searchText" (ngModelChange)="getEntities()">
      <mat-icon class="closeButton" *ngIf="searchText" (click)="clearSearchText()">close</mat-icon>
    </div>
</div> -->
<ng-container *ngIf="!isLoading">
  <div [@listAnimation]="coiFinancialEntityDetails.length">
    <div *ngFor="let item of coiFinancialEntityDetails ; let i =index">
      <app-shared-sfi-card [canShow]="'true'" (activateDeactivateEvent)="activateDeactivateEvent($event)"(deleteEvent)="deleteSFIConfirmation($event)" (viewSlider)="viewSlider($event)" [reqObject] = 'item' [referredFrom]="'SFI_EDIT_AND_DASHBOARD'" [isTriggeredFromSlider]="isTriggeredFromSlider"></app-shared-sfi-card>
    </div>
  <!-- no data card -->
    <div *ngIf="!coiFinancialEntityDetails?.length">
      <app-no-information> </app-no-information>
    </div>
  </div>
</ng-container>

<!-- pagination -->
<div [hidden]="isLoading" *ngIf="coiFinancialEntityDetails?.length > 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
  <nav aria-label="pagination section" class="pagination justify-content-end">
      <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="count" [pageCount]="10" [defaultCurrentPage]="currentPage">
      </app-pagination>
  </nav>
</div>

<ng-container *ngIf="showSlider">
	<app-coi-slider (closeSlider)="hideSfiNavBar()" [elementId]="sliderElementId">
		<ng-container content>
			<app-entity-details [entityId]="entityId"></app-entity-details>
		</ng-container>
	</app-coi-slider>
</ng-container>

<app-activate-inactivate-sfi-modal *ngIf="isEnableActivateInactivateSfiModal" [entityName]="entityName"
  [personEntityId]="personEntityId" [updatedRelationshipStatus]="updatedRelationshipStatus" (closeModal)="closeActivateInactivateSfiModal($event)"
  [personEntityNumber]="personEntityNumber" [entityDetails]="entityDetails" [relationshipDetails]="relationshipDetails">
</app-activate-inactivate-sfi-modal>

  <button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-delete-button" data-bs-toggle="modal" data-bs-target="#deleteSFIConfirmationModal"></button>
<div class="modal fade" id="deleteSFIConfirmationModal" tabindex="-1" aria-labelledby="deleteSFIConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-16" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Click here to close" id="coi-sfi-deletesfi-conformation-modal-close-btn"></button>
      </div>
      <div class="modal-body fs-14">
        <p>Do you want to delete <strong>{{entityName}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="coi-sfi-deletesfi-conformation-modal-cancel-btn" title="Click here to cancel" aria-label="Click here to cancel">Cancel</button>
        <button type="button" class="btn btn-primary fs-14" (click)="deleteSFI()" data-bs-dismiss="modal" id="coi-sfi-deletesfi-conformation-modal-delete-btn"  title="Click here to delete" aria-label="Click here to delete">Delete</button>
      </div>
    </div>
  </div>
</div>

