<div [@enterAnimation]>
    <div class="Details of Disclosureborder shadow-sm">
        <div class="align-items-center d-flex f-15 fw-bold px-3 side-bar-title">
            Navigate to
        </div>
        <div class="bg-white p-3 scrollable-section">
            <div (click)="jumpToSection('travel-details');"
                class="navigation-to-tabs cursor-pointer fs-15 fw-medium mb-2 px-4 py-1">
                Travel Details
            </div>
            <div (click)="jumpToSection('certify');"
                class="navigation-to-tabs cursor-pointer fs-15 fw-medium mb-2 px-4 py-1">
                Certification
            </div>
        </div>
    </div>
</div>