<div class="row mx-1 justify-content-between">
  <ul class="subTabs">
    <li [routerLink]="['/fibi/feed-maintenance/manpower-feed/award-retrigger']" routerLinkActive="active">
      <a class="subTabLink">Award Manpower Retrigger</a>
    </li>
    <li [routerLink]="['/fibi/feed-maintenance/manpower-feed/position-retrigger']" routerLinkActive="active">
      <a class="subTabLink">Position Retrigger</a>
    </li>
    <li [routerLink]="['/fibi/feed-maintenance/manpower-feed/cost-allocation']" routerLinkActive="active">
      <a class="subTabLink">Cost Allocation Retrigger</a>
    </li>
    <li [routerLink]="['/fibi/feed-maintenance/manpower-feed/manpower-lookup']" routerLinkActive="active">
      <a class="subTabLink">Manpower Lookup</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
