<div class="tool-kit-body shadow" *ngIf="isProjectListVisible" [@enterAnimation] >
	<div class="row m-0 border-bottom row-pos">
		<div class="col-12 p-0">
			<ul class="subTabs tool-tab mb-0">
				<li [ngClass]="{'active':currentProjectTab == 'PROJECT'}" class="w-50">
					<a class="subTabLink py-3" (click)='currentProjectTab = "PROJECT"' tabindex="0">
						<span class="fs-16 fw-700 pl-2">Projects
							<span class="ml-2">
								<a class="tooltip "><i aria-hidden="true"
										class="fa fa-info-circle fa-med hand-cursor"></i>
									<div class="card card-inner p-15 text-left tooltiptext-left info-width">
										<span class="font-cv font-weight-bold">Proposals and Awards</span>
									</div>
								</a>
							</span>
						</span>
					</a>
				</li>
				<li [ngClass]="{'active':currentProjectTab == 'SFI'}" class="w-50">
					<a (click)='getSFIDetails()' class="subTabLink py-3" tabindex="0">
						<span class="fs-16 fw-700 pl-2">SFIs</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div>
			<div class="section-body inner-scroll p-0" id="toolkit-1" *ngIf="currentProjectTab == 'PROJECT'">
				<div class="card" *ngIf="proposalArray.length > 0">
					<div class="card-header d-flex p-2">
						<h4 class="fs-15">Proposals</h4>
						<span class="fs-13 ml-2" *ngIf="proposalArray.length > 0">({{proposalArray.length}})</span>
						<button class="updown-arrow" id="project-expand-btn" (click)="isProposalCollapse = !isProposalCollapse">
							<i aria-hidden="true" class="fa fa-large" [ngClass]="isProposalCollapse ? 'fa-angle-double-up' : 'fa-angle-double-down'"></i>
						</button>
					</div>
					<div *ngIf="isProposalCollapse">
						<ng-container  *ngFor="let proposal of proposalArray; let i=index">
						<div class="card-body p-2 pl-4 pointer mt-2" (click)="setSelectedProject(proposal, i)" [id]="proposal.moduleItemId"
						[class.selected-card-border]="currentProjectId === proposal.moduleItemId"
						[title]="proposal?.title"
						[ngClass]="proposal.sfiCompleted ? 'complete-card' : 'incomplete-card'">
							<label>
								<span class="fw-700">#{{proposal?.moduleItemId}}</span> - 
								<span class="big-font fw-600">
								{{(proposal?.title?.length > 30)?(proposal?.title |
									slice:0:30)+'...':(proposal?.title)}}
								</span> 
							</label>
							<div class="big-font">
								<span class="fw-700">Sponsor: </span>{{proposal?.sponsor}}
							</div>
						</div>
						<hr class="m-0">
						</ng-container>
					</div>
				</div>
				<div class="card" *ngIf="awardArray.length > 0">
					<div class="card-header d-flex p-2">
						<h4 class="fs-15">Awards</h4>
						<span class="fs-13 ml-2" *ngIf="awardArray.length > 0">({{awardArray.length}})</span>
						<button class="updown-arrow" id="project-expand-btn" (click)="isAwardCollapse = !isAwardCollapse">
							<i aria-hidden="true" class="fa fa-large" [ngClass]="isAwardCollapse ? 'fa-angle-double-up' : 'fa-angle-double-down'"></i>
						</button>
					</div>
					<div *ngIf="isAwardCollapse">
						<ng-container  *ngFor="let proposal of awardArray; let i=index">
							<div class="card-body p-2 pl-4 pointer mt-2" (click)="setSelectedProject(proposal, i)"
							[id]="proposal.moduleItemId"
							[title]="proposal?.title"
							[class.selected-card-border]="currentProjectId === proposal.moduleItemId"
							[ngClass]="proposal.sfiCompleted ? 'complete-card' : 'incomplete-card'">
							<label><span class="fw-700">#{{proposal?.moduleItemKey}}</span> - <span class="big-font">
								{{(proposal?.title?.length > 20)?(proposal?.title |
									slice:0:20)+'...':(proposal?.title)}}
							</span> </label>
							<div class="big-font fw-600">{{proposal?.sponsor}}</div>
							</div>
							<hr class="m-0">
						</ng-container>
					</div>
				</div>
			</div>

			<div class="section-body p-0" *ngIf="currentProjectTab == 'SFI'">
				<div class="card" *ngIf="sfiArray.length > 0">
					<!-- <div class="card-header d-flex p-2">
						<h4 class="fs-15">SFIs</h4>
						<span class="ml-2 fs-13"*ngIf="sfiArray.length > 0">({{sfiArray.length}})</span>
						<button class="updown-arrow" id="project-expand-btn" (click)="isSFICollapse = !isSFICollapse">
							<i aria-hidden="true" class="fa fa-large" [ngClass]="isSFICollapse ? 'fa-angle-double-up' : 'fa-angle-double-down'"></i>
						</button>
					</div> -->
					<div>
						<ng-container  *ngFor="let sfi of sfiArray; let i=index">
						<div class="card-body p-2 pointer mt-2"
						[title]="sfi?.coiEntity?.coiEntityName">
							<div [title]="sfi?.coiEntity?.coiEntityName">
								{{(sfi?.coiEntity?.coiEntityName?.length > 30)?(sfi?.coiEntity?.coiEntityName |
									slice:0:30)+'...':(sfi?.coiEntity?.coiEntityName)}}</div>
						</div>
						<hr class="m-0">
						</ng-container>
					</div>
				</div>
			</div>
	</div>
</div>
