.invalid {
    color: red;
    position: relative;
    bottom: 2px;
}

h1 {
    position: relative;
    right: 16px;
}

.inactive-pill {
    background-color: #949494;
    color: #fff;
}

.mat-done {
    color: #6bc293;
}

.text-color {
    color: #6A7980 !important;
}

.body-heading {
    height: auto;
    background-color: #f3f7fb;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.footer-body {
    height: 45px;
    background-color: #f3f7fb;
    border-top: 1px solid #dee2e6;
}

.triple-card {
    height: 96px;
}

.table-negative-margin {
    margin-top: -10px;
}

.side-height {
    height: 216px;
}

.spaced-table {
    border-collapse: separate;
    border-spacing: 0 2px;
    color: #6A7980;
}

table {
    color: #6A7980;
}

.bg-color {
    background-color: white;
}

.badge-height {
    height: 26px;
}

.ash-text {
    color: #48647F !important;
}

.svg-icon {
    height: 18px;
    width: 24px;
    filter: invert(38%) sepia(10%) saturate(1446%) hue-rotate(168deg) brightness(95%) contrast(95%);
    position: relative;
    right: 7px;

}

.pencil {
    position: relative;
    right: 0.6rem;
    font-size: 2rem;
}

.icon-schedule-position {
    position: relative;
    right: 1.5625rem
}

.icon-approve-position {
    position: relative;
    right: 0.2rem;
}

.btn-save-content {
    position: relative;
    left: 1.4rem;
}

.icon-save {
    position: relative;
    left: 1.4rem
}

.btn-add-content {
    position: relative;
    left: 1.1rem;
}

.icon-add {
    position: relative;
    left: 1.01rem
}

.btn-inactivate-content {
    position: relative;
    right: 1.1rem;
}

.btn-content-position {
    position: relative;
    right: 0.2rem;
}

.pencil-sfi {
    position: relative;
    right: 1.2rem;
    font-size: 2rem;
}

.btn-sfi-position {
    position: relative;
    right: 0.6rem;
}

.btn-entity-position {
    position: relative;
    right: 0.1rem;
}

.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.invalid-border {
    border-color: #dc3545 !important;
}

.btn-content-home {
    position: relative;
    bottom: 0.5rem;
}

.btn-content-back {
    position: relative;
    left: 0.2rem;
}

.help-text {
    margin: 0 -15px 0 -15px;
    position: relative;
    bottom: 0.6rem;
}

.btn-activate-content {
    position: relative;
    right: 6px;
}

.pill {
    border: 1px solid #c39200;
    border-radius: 25px;
    padding: 2px 9px 3px 6px;
    font-weight: 500;
    width: max-content;
    height: auto;
}

.unverified-label {
    margin-left: 5px;
    color: #c39200;
}

.medium-risk {
    color: #ff8c00;
    position: relative;
    bottom: 2px;
}

.low-risk {
    color: rgb(26, 172, 62);
    position: relative;
    bottom: 2px;
}

.icon-done-position {
    position: relative;
    right: 22px;
    bottom: 1px;
}

.draft-pill {
    color: #000;
    background: #9fc5f8;
}

.sticky-0 {
    top: 0;
    z-index: 2;
    position: sticky;
}

.page-header-color {
    background-color: #F5F5F5;
}

.slider-header-color {
    background-color: #fff;
    top: 0;
    z-index: 2;
    position: sticky;
}

.fa-bolt {
    margin-right: 23px;
}

.text-colors {
    color: #505050;
}

.toggle-header-btn {
    width: 30px;
    color: #A64040;
    height: 30px;

    mat-icon {
        transform: scale(1.2);
    }
}

.icon-alignment {
    font-size: 19px;
    margin-top: 4px;
    padding-top: 1px;
}

.more-options-icon {
    transform: scale(.7);
}

.more-action {
    color: #6a7980 !important;

    span,
    mat-icon {
        color: #6a7980 !important;
    }

    &:hover {
        background-color: #E2F1FF !important;
        color: #007DEC !important;

        span,
        mat-icon {
            color: #007DEC !important;
        }
    }
}

// Only for Active Inactive SFI Modal
.alert .info-icon {
    height: 20px !important;
    width: 30px !important;
}

@media (min-width: 992px) {
    .border-prev-nxt {
        border-left: 1px solid #0000002d;
    }
}

@media (max-width: 991px) {
    .border-prev-nxt {
        border-top: 1px solid #0000002d;
        border-left: 0 !important;
    }
}

.toggle-btn {
    position: inherit;
}

.info-text {
    color: #c39200;
    border: 1px solid #c39200;
    line-height: 20px;
    display: inline-block;
}
