<div class="row header-sticky" [@fadeInOutHeight]>
    <div class="col-12">
      <!-- new top card -->
      <div class="card coi-card-expanded">
        <div class="row mx-0">
          <div class="col-lg px-0">
              <div class="card-header">
                <div class="row flex-grow-1 position-relative">
                  <div class="col-xl d-flex align-items-center">
                    <h1 class="fw-bold mt-3 px-3 fs-18" [attr.aria-label]="entityDetails?.entityName">
                      <app-read-more [valueToShow]="entityDetails?.entityName" [sliceCount]="100"></app-read-more>
                    </h1>
                  </div>
                  <div class="d-flex justify-content-end align-items-center col-xl-auto">
                    <div class="card-toolbar ms-auto">
                      <div class="d-flex align-items-center f-14">
                        <span *ngIf="entityDetails?.entityStatus?.entityStatusCode === '2'" tabindex="0">
                          <span data-bs-toggle="tooltip" data-bs-placement="top"
                                class="info-text pill f-14 me-2 px-3 py-1 rounded-5 py-0"
                                title="{{entityDetails?.entityName}} is Unverified">
                              <i aria-hidden="true" class="fa fa-times mr-2"></i>
                              Unverified</span>
                        </span>
                        <span class="badge f-14 py-2 px-3 h-100 rounded-pill me-3" tabindex="0"
                          [ngClass]="entityDetails?.isActive ? 'text-bg-success' : 'text-bg-secondary'">
                          {{entityDetails?.isActive ? 'Active' : 'Inactive'}}</span>
                        <div *ngIf="entityDetails?.entityRiskCategory?.description" class="d-flex me-4 fs-14" tabindex="0">
                          <div class="d-flex align-items-center ml-15 col-12">
                            <label class="fw-500 me-2" aria-label="Risk">Risk :</label>
                            <div class="text-color d-flex">
                              <mat-icon [ngClass]="entityRiskLevel(entityDetails?.entityRiskCategory?.description)"
                                class="material-icons-round icon-alignment mb-1 me-1">warning</mat-icon>
                              <span *ngIf="entityDetails?.entityRiskCategory" class="mt-1"
                                [attr.aria-label]="entityDetails?.entityRiskCategory?.description">
                                {{entityDetails?.entityRiskCategory?.description}}
                              </span>
                            </div>
                          </div>
                        </div>
                          <button (click)="isCardExpanded=!isCardExpanded; isUserCollapse=!isUserCollapse" tabindex="0"
                            title="Click to {{isCardExpanded ? 'collapse' : 'expand'}} Entity"
                            class="toggle-btn border btn p-0 rounded-5 shadow-sm"
                            attr.aria-label="{{ isCardExpanded ? 'collapse' : 'view' }} Entity">
                            <mat-icon>{{isCardExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- New Card design -->
              <div class="card-body" *ngIf="isCardExpanded">
                <div class="row">
                  <div class="col-6 col-xxl-6 pe-xl-0 pe-xxl-0">
                    <div
                      class="coi-box-red border border-secondary border-opacity-50 fw-medium p-3 rounded-1 h-100 position-relative">
                      <div class="row">
                        <div class="col-12">
                          <label class="coi-text-dark d-block">
                            Entity Type
                          </label>
                          <span class="coi-text-light">
                            <app-no-data-label [valueToShow]="entityDetails?.entityType?.description">
                              <span class="text-overflow">{{entityDetails?.entityType?.description}}</span>
                            </app-no-data-label>
                          </span>
                        </div>
                        <div class="col-lg-6 mt-2 pe-0">
                          <label class="coi-text-dark d-block"> Country
                          </label>
                          <span class="coi-text-light">
                            <app-no-data-label [valueToShow]="entityDetails?.country?.countryName">
                              <span>{{entityDetails?.country?.countryName}}</span>
                            </app-no-data-label></span>
                        </div>
                        <div class="col mt-2 pe-0">
                          <label class="coi-text-dark d-block">City
                          </label>
                          <span class="coi-text-light">
                            <app-no-data-label [valueToShow]="entityDetails?.city">
                              <span>{{entityDetails?.city}}</span>
                            </app-no-data-label>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-lg-6 col-xxl-6 mt-4 mt-sm-0 pe-xxl-0">
                    <div
                      class="coi-box-red border border-secondary border-opacity-50 fw-medium p-3 rounded-1 h-100 position-relative me-3">
                      <div class="row">
                        <div class="col-12">
                          <label class="coi-text-dark d-block">Address</label>
                          <span class="coi-text-light">
                            <app-no-data-label [valueToShow]="entityDetails?.address">
                              <span [title]="entityDetails?.address">{{entityDetails?.address?.length>70 ? (entityDetails?.address |slice:0:70) +'...'
                                :entityDetails?.address}}</span>
                            </app-no-data-label>
                          </span>
                        </div>
                        <div *ngIf="entityDetails?.emailAddress" class="col-lg-6 d-flex align-items-center mt-2 pe-0">
                            <mat-icon class="coi-text-lighter me-2 flex-shrink-0">mail</mat-icon>
                              <span class="coi-text-light">{{entityDetails?.emailAddress}}</span>
                        </div>
                        <div *ngIf="entityDetails?.phone" class="col-lg-6 d-flex align-items-center mt-2 pe-0 me-md-2 me-xl-0">
                            <mat-icon class="coi-text-lighter flex-shrink-0 me-2">call</mat-icon>
                              <span class="coi-text-light">{{entityDetails?.phone}}</span>
                        </div>
                        <div *ngIf="entityDetails?.webURL" class="col-12 d-flex align-items-center mt-2 pe-0">
                          <mat-icon class="coi-text-lighter me-2 flex-shrink-0">language</mat-icon>
                              <a class="anchor-link fs-14 word-break-all" (click)="redirectUrl(entityDetails?.webURL)">
                                {{entityDetails?.webURL}} </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- New design -->
          <div class="col-lg-3 border-prev-nxt">
            <div class="h-100 mb-md-3">
              <div class="d-grid gap-2 d-md-flex flex-md-wrap mt-3 align-items-center">
                <!-- home -->
                <button *ngIf="hasManageEntity"
                  class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                  title="Go to COI home page" (click)="goToHome()" aria-label="Go to COI home page">
                  <mat-icon>home</mat-icon>
                  <!-- <span class="ms-2" *ngIf="isCardExpanded">Home</span> -->
                </button>
                <!-- Modify Entity -->
                <button *ngIf="hasManageEntity" [matMenuTriggerFor]="beforeMenu"
                  title="More Actions" aria-label="More Actions"
                  class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col fs-14">
                  <mat-icon class="more-options-icon">more_vert</mat-icon>
                  <!-- <span class="mt-1 ms-2" *ngIf="isCardExpanded">More Actions</span> -->
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                  <button mat-menu-item *ngIf="hasManageEntity" id="btn-modify-entity" title="Click to Modify Entity"
                    class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action"
                    (click)="openConfirmationModal()" aria-label="Click to Modify Entity">
                    <mat-icon>edit</mat-icon>
                    <span class="pt-2 fw-medium fs-14">Modify Entity</span>
                  </button>
                  <button mat-menu-item title="Click to Manage Risk" id="btn-manage-risk" aria-label="Click to Manage Risk"
                    class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action"
                    (click)="toggleSlider()">
                    <mat-icon>warning</mat-icon>
                    <span class="fw-medium pt-2 fs-14">Manage Risk</span>
                  </button>
                </mat-menu>
                <!-- Back -->
                <button *ngIf="hasManageEntity" title="Click to go back to Entity list" (click)="navigateBack()"
                  id="btn-modify" aria-label="Click to go back to Entity list"
                  class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col fs-14">
                  <mat-icon>reply</mat-icon>
                  <!-- <span class="ms-2" *ngIf="isCardExpanded">Back</span> -->
                </button>

                <ng-container *ngIf="hasManageEntity">
                  <!-- inactivate -->
                  <ng-container *ngIf="entityDetails.isActive">
                    <button title="Click to Inactivate Entity" id="btn-inactivate"
                      [ngClass]="isCardExpanded ? 'col-12' : 'col'" aria-label="Click to Inactivate Entity"
                      class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                      (click)="activateInactivateEntity()">
                      <mat-icon>schedule</mat-icon>
                      <span class="ms-2 fs-14" *ngIf="isCardExpanded">Inactivate</span>
                    </button>
                  </ng-container>

                  <!-- Activate -->
                  <ng-container *ngIf="!entityDetails.isActive">
                    <button title="Click to activate Entity" id="btn-activate" tabindex="0" role="button"
                      [ngClass]="isCardExpanded ? 'col-12' : 'col'" aria-label="Click to activate Entity"
                      class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                      (click)="activateInactivateEntity()">
                      <mat-icon>flash_on</mat-icon>
                      <span class="ms-2 fs-14" *ngIf="isCardExpanded">Activate</span>
                    </button>
                  </ng-container>

                  <!-- Approve Entity -->
                  <ng-container *ngIf="entityDetails?.entityStatus?.entityStatusCode === '2'">
                    <button id="btn-approve-entity" tabindex="0" role="button" [ngClass]="isCardExpanded ? 'col-12' : 'col'"
                      class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                      title="Click to access entity verification" data-bs-toggle="modal"
                      data-bs-target="#approve-entity-modal" aria-label="Click to approve Entity">
                      <mat-icon class="mx-1 icon-approve-position">check_circle_outline</mat-icon>
                      <span *ngIf="isCardExpanded" class="fs-14">Approve Entity</span>
                    </button>
                  </ng-container>
                </ng-container>
                <!-- last update date -->
                <div class="{{isCardExpanded ? 'mt-3' : 'mt-0'}}" tabindex="0">
                  <label class="coi-text-lighter fs-13 fw-medium"  [ngClass]="!!isCardExpanded ? 'd-block' : 'me-1'" aria-label="Last updated by">Last Updated By</label>
                  <span class="coi-text-dark fs-13 fw-normal" [attr.aria-label]="entityDetails?.updatedUserFullName + ' on ' + (entityDetails?.updateTimestamp | dateFormatterWithTimeZone:'long')">
                    {{entityDetails?.updatedUserFullName}} On {{(entityDetails?.updateTimestamp|dateFormatterWithTimeZone:'long')}} </span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <!-- new top card ends -->

</div>
<div *ngIf="sfiService.isShowSfiNavBar" id="task-navigation-bar">
  <app-add-sfi-slider [coiEntityManageId]="entityDetails.entityId" [isEditEntity]="true" [modifyType]="modifyType" [revisionReason]="revisionReason"
    (updatedDataStore)="updatedEntityDetails($event)" [isSlider]="true"></app-add-sfi-slider>
</div>

<!-- Active-Inactive SFI Modal -->
<div class="modal fade mySkinDialog modal-lg" data-bs-backdrop="static" id="modifyEntityConfirmationModal" role="dialog"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ct-footer-padding">
        <h4 class="modal-title">
            <app-read-more [valueToShow]="entityDetails?.entityName" [sliceCount]="100" [readMore]="readMore"></app-read-more>
        </h4>
        <button type="button" class="btn-close" title="Close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body ct-footer-padding">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-primary d-flex p-2" role="alert">
              <mat-icon role="img" class="mat-icon info-icon material-icons mat-icon-no-color col-auto" aria-hidden="true"
                data-mat-icon-type="font">info</mat-icon>
                <div class="fs-14 ms-2">
                    <div class="d-flex">
                        <i class="fa fa-angle-double-right me-3" aria-hidden="true"></i>
                        <div>
                            <strong class="fw-bold">Minor modification</strong> - Select for minor corrections like
                            typos.
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <i class="fa fa-angle-double-right me-3" aria-hidden="true"></i>
                        <div>
                            <strong class="fw-bold">Major modification</strong> - Select for major corrections like
                            changes in the company name, ownership type,
                            and permanent change in entity address that reflects in entity country.
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <i class="fa fa-angle-double-right me-3" aria-hidden="true"></i>
                        <div>
                            <strong class="fw-bold">Description</strong> - Provide any description or comments on why
                            you want to modify the
                            entity.
                        </div>
                    </div>
                </div>
            </div>
            <div class="fs-14 fw-bold mx-1"><span class="text-danger px-1">*</span>Modify Type :
            </div>
            <div class="fs-14 text-secondary d-flex justify-content-start my-3 px-1">
              <span class="pr-25 d-flex">
                <input id="minor-modification" type="radio" class="form-check-input cursor-pointer" [(ngModel)]="valueOfModify" value="1">
                  <label for="minor-modification" class="cursor-pointer"><span
                      class="ps-2 pe-3 text-secondary fw-500">Minor
                  modification</span></label>
              </span>
              <span class="d-flex">
                <input id="major-modification" type="radio" class="form-check-input cursor-pointer" [(ngModel)]="valueOfModify" value="2"> <label
                  for="major-modification" class="cursor-pointer"><span
                  class="ps-2 pe-3 text-secondary fw-500">Major
                  modification</span></label>
              </span>
            </div>
            <span *ngIf="mandatoryList.has('change')" class="invalid-feedback d-block fs-13 px-4">
              {{mandatoryList.get('change')}}
            </span>
            <div class="mx-1">
              <span class="fs-14 fw-bold "><span class="text-danger px-1">*</span> Description :</span>
              <textarea [(ngModel)]="modifyDescription" (ngModelChange)="modifyDescription = modifyDescription.trim()"
                placeholder="Please enter a description" [isShowLimiter]='true' [limit]=500
                [ngClass]="mandatoryList.has('description')?'invalid-border':'' " appLengthValidator appAutoGrow
                class="form-control mt-1" id="description" rows="1"></textarea>
              <span class="invalid-feedback d-block fs-13" *ngIf="mandatoryList.has('description')">
                {{mandatoryList.get('description')}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" id="view-entity-btn" data-bs-dismiss="modal" type="button"
          title="Cancel" (click)="closeModal()">Cancel
        </button>
        <button class="btn btn-primary me-0" id="view-entity-btn" type="button" (click)="modifyEntity()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- inactivate-entity-sfi-error-modal  -->

<button id="inactivate-confirm-message" data-bs-target="#inactivateConfirmationModal" data-bs-toggle="modal"
  class="d-none"></button>
<button type="button" class="btn btn-primary btn-sm" hidden=true id="hide-inactivate-modal" data-bs-toggle="modal"
  data-bs-target="#inactivateConfirmationModal"></button>

<div class="modal fade mySkinDialog modal-lg" data-bs-backdrop="static" id="inactivateConfirmationModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title me-1">{{entityDetails?.isActive?'Inactivate':'Activate'}} - <span class="fw-normal">
            <app-read-more [valueToShow]="entityDetails?.entityName" [sliceCount]="100" [readMore]="readMore"></app-read-more>
            </span>
        </h4>
        <button type="button" class="btn-close" title="Close" aria-label="Close" (click)="closeActiveInactiveModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-primary d-flex p-2" role="alert">
              <mat-icon role="img" class="mat-icon info-icon material-icons mat-icon-no-color" aria-hidden="true"
                data-mat-icon-type="font">info</mat-icon>
              <div class="fs-14 ms-2" *ngIf="entityDetails?.isActive">
                <i class="fa fa-angle-double-right me-3" aria-hidden="true"></i>
                Provide the reason for Inactivation in the field provided.
                <br>
                <div class="d-flex mt-2">
                  <i class="fa fa-angle-double-right me-3" aria-hidden="true"></i>
                  <div>
                    Click on Activate button to activate the entity.
                  </div>
                </div>
                <div class="mt-1">
                  <i class="fa fa-angle-double-right me-3" aria-hidden="true"></i>
                  If the entity is used in any of the Active SFIs (Financial or Travel), then a new version of the
                  entity is created <span class="ms-4">in Inactive status and the previous version goes to Archive status.</span>
                </div>
              </div>
              <span class="fs-14" *ngIf="!entityDetails?.isActive">
                <div class="ml-15">
                  <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>
                  Provide the reason for Activation in the field provided.
                </div>
                <div class="mt-1 ml-15">
                  <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>
                  Click on Inactivate button to activate the entity.
                </div>
              </span>
            </div>
            <div class="row">
              <div class="col">
                <span class="block-display fw-bold fs-14"><span *ngIf="entityDetails?.isActive"
                    class="text-danger px-1">*</span>Reason for {{entityDetails?.isActive?'Inactivation' :'Activation'}}
                  :</span>
                <textarea placeholder="Please enter the reason." [(ngModel)]="inactivateReason" [isShowLimiter]="true"
                  [limit]="500" rows="1" class="form-control" appAutoGrow appLengthValidator
                  [ngClass]="{'invalid-border':reasonValidateMapEntity.has('reason')}"></textarea>
                <span *ngIf="reasonValidateMapEntity.has('reason')" class="invalid-feedback d-block fs-13">
                  {{reasonValidateMapEntity.get('reason')}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" id="inactive-sfi" type="button" title="Cancel"
          (click)="closeActiveInactiveModal()">Cancel</button>
        <button class="btn btn-primary me-0" id="inactive-sfi" type="button"
          [attr.title]="entityDetails?.isActive?'Click to inactivate entity':'Click to activate entity'"
          (click)="activateAndInactivateEntity()">
          {{entityDetails?.isActive?'Inactivate' : 'Activate'}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Approve Entity modal -->

<button type="button" class="btn btn-primary btn-sm" hidden=true id="hide-approve-entity-modal" data-bs-toggle="modal"
  data-bs-target="#approve-entity-modal"></button>

  <div class="modal fade mySkinDialog modal-lg" data-bs-backdrop="static" id="approve-entity-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title me-1">Approve Entity - <span class="fw-normal">
            <app-read-more [valueToShow]="entityDetails?.entityName" [sliceCount]="100"></app-read-more>
            </span>
          </h4>
          <button type="button" class="btn-close" title="Close" aria-label="Close" data-bs-dismiss="modal"
            (click)="clearApproveEntityFiled()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="alert alert-primary d-flex p-2" role="alert">
                <mat-icon role="img" class="mat-icon info-icon material-icons mat-icon-no-color" aria-hidden="true"
                  data-mat-icon-type="font">info</mat-icon>
                <div class="fs-14" *ngIf="entityDetails?.isActive">
                  <i class="fa fa-angle-double-right me-1" aria-hidden="true"></i>
                  Mark any of the entity interrelations using the fields provided below.
                  <br>
                  <div class="mt-2">
                    <i class="fa fa-angle-double-right me-1" aria-hidden="true"></i>
                    You can mark entity relations from the dropdown.
                  </div>
                  <div class="mt-1">
                    <i class="fa fa-angle-double-right me-1" aria-hidden="true"></i>
                    Complete entity verification by marking any relationships and clicking on Approve Entity button.
                  </div>
                </div>
              </div>
              <div>
                <div class="row fs-14">
                  <div class="col-5 pt-2">
                    <label class="fw-bold" for="select-entity-relationship"><span class="text-danger px-1">*</span>Entity Relationship</label>
                    <select id="select-entity-relationship" class="form-control form-select"
                      [(ngModel)]="entityRelationshipValue" (ngModelChange)="selectEntityRelationship()"
                      [ngClass]="(approveEntityValidateMap?.has('relationship')) ? 'is-invalid d-block' : ''">
                      <option [value]="null"> --Select-- </option>
                      <option *ngFor="let relationship of relationshipLookUpList"
                        [value]="relationship?.entityRelTypeCode">
                        {{relationship?.description}}</option>
                    </select>
                    <span *ngIf="approveEntityValidateMap?.has('relationship')" class="invalid-feedback d-block fs-13">
                      {{approveEntityValidateMap?.get('relationship')}}
                    </span>
                  </div>
                </div>
                <div *ngIf="entityRelationshipValue && entityRelationshipValue !== '1'" class="row fs-14 mt-2">
                  <div class="col pt-2">
                    <label class="fw-bold" for="search-entity-name"><span class="text-danger px-1">*</span>Entity Search</label>
                    <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
                      [httpOptions]="EntitySearchOptions" [placeHolder]="'Type here for entity'"
                      class=" text-secondary fs-13" [uniqueId]="'search-entity-name'"
                      [isError]="approveEntityValidateMap?.has('entityName')">
                    </app-endpoint-search>
                    <span *ngIf="approveEntityValidateMap?.has('entityName')" class="invalid-feedback d-block fs-13">
                      {{approveEntityValidateMap?.get('entityName')}}
                    </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button" title="Cancel"
            (click)="clearApproveEntityFiled()">Cancel</button>
          <button class="btn btn-primary me-0" type="button" title="Click here for approve entity"
            (click)="approveEntity()">Approve Entity</button>
        </div>
      </div>
    </div>
  </div>

<app-entity-risk-slider *ngIf="isOpenSlider" [isOpenSlider]="isOpenSlider"
(closePage)="riskSliderClosed($event)" [entityDetails]="entityDetails"  ></app-entity-risk-slider>

<app-concurrency-warning-modal *ngIf="entityManagementService.concurrentUpdateAction" [sectionName]="entityManagementService.concurrentUpdateAction" (closePage)="cancelConcurrency()"></app-concurrency-warning-modal>
