  <div *ngIf="entityDetails" class="card mt-4" [@slowSlideInOut]>
    <div class="card-header">
      <div class="row d-flex">
        <div class="col-6 d-flex">
          <span class="entity-status shadow-sm align-items-center d-flex ps-2 mt-2" [ngClass]="entityDetails.isActive ?'':'inactive'">
            {{entityDetails.isActive?'Active':'Inactive'}}</span>
          <h1 class="m-1 fw-bold fs-18">{{entityDetails?.coiEntityName}}</h1>
        </div>
        <div class="col-6 align-items-center justify-content-end action-bar mt-1 d-flex">
          <button class="m-1 new-line-property text-secondary fs-14-nav shadow action-btn">
            <mat-icon class="justify-content-center align-items-center fs-4 icon-size">
              mode
            </mat-icon>
            Modify</button>
          <button class="m-1 action-btn new-line-property text-secondary fs-14-nav shadow">
            <mat-icon class="justify-content-center align-items-center fs-4 icon-size">schedule</mat-icon>
            Inactivate
          </button>
          <button class="m-1 action-btn new-line-property text-secondary fs-14-nav shadow">
            <mat-icon class="justify-content-center align-items-center fs-4 icon-size">history </mat-icon>
            History</button>
          <span class="back-ward" (click)="backToList()">
           <i class="fa fa-reply"></i>
            <label class="fw-medium fs-13">Back</label>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row d-flex">
        <div class="col-12 d-flex">
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">Entity Type</span>
            <label class="text-secondary fs-13">{{entityDetails?.entityType?.description}}</label>
          </div>
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">Country</span>
            <label class="text-secondary fs-13">{{entityDetails?.country?.countryName}}</label>
          </div>
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">City</span>
            <label class="text-secondary fs-13">{{entityDetails?.state !==null?entityDetails?.state:'No Data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">Website</span>
            <label class="text-secondary fs-13">{{entityDetails?.webUrl !==null?entityDetails?.webUrl:'No Data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">Email Address </span>
            <label class="text-secondary fs-13">{{entityDetails?.emailAddress!==null? entityDetails?.emailAddress:'No Data'}}</label>
          </div>
          <div class="col-1 d-grid">
            <span class="fw-bold fs-14">Phone Number</span>
            <label class="text-secondary fs-13">{{entityDetails?.phone !==null ? entityDetails?.phone:'No Data'}}</label>
          </div>
        </div>
        <div class="col-12 d-flex mt-3">
          <div class="col-6 d-grid">
            <span class="fw-bold fs-14">Address</span>
            <label class="text-secondary fs-13">{{entityDetails?.address !==null ? entityDetails?.address:'No Data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">Risk Level</span>
            <label class="text-secondary fs-13"><mat-icon *ngIf="entityDetails?.entityRiskCategoryCode?.description ==='High'"
               class="invalid material-icons-round">warning</mat-icon>{{entityDetails?.entityRiskCategoryCode !==null?
                entityDetails?.entityRiskCategoryCode?.description:'No data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">Verified By</span>
            <label *ngIf="entityDetails?.approvedUser;else noData" class="text-secondary fs-13">
              <mat-icon class="mat-done">done</mat-icon>
              {{entityDetails?.approvedUser}} on {{entityDetails?.approvedTimestamp|dateFormatterWithTimeZone:'long'}}</label>
            <ng-template #noData>
              <label class="text-secondary fs-13">No Data</label>
            </ng-template>
          </div>
          <div class="col-2 d-grid">
            <span class="fw-bold fs-14">Last Updated by</span>
            <label class="text-secondary fs-13">{{entityDetails?.updateUser}} on {{entityDetails?.updateTimestamp |dateFormatterWithTimeZone:'long'}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
