.entity-status {
  color: white;
  width: 80px;
  height: 27px;
  background: #54BF5B;
  position: relative;
  left: -22px;
  top: -12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 50px 50px 0;

  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid #01830A;
    border-left: 6px solid transparent;
    top: -6px;
    left: 0;
  }
}
.card-header {
  background-color: #ebf3fb;
  height: 44px;
}

.action-bar{
  position: relative;
  top: -11px;
  left: -5px;
}

.action-btn {
  background-color: white;
  border-color: #d3cccc;
  border-radius: 4px;
  width: 13rem;
  height: 3rem;
  color: #7c868f;
}

.icon-size {
   height: 14px;
  position: relative;
  top: 2px;
  right: 3px;
}


.back-ward {
    position: relative;
    right: 10px;
    top: 3px;
    left: 10px;
    color: #7c868f;
}

.fs-3{
  position: relative;
  right: -4px;
  color: #7c868f;
}

.invalid{
  position: relative;
  top: 6px;
  color: red;
}

h1{
    position: relative;
    bottom: 9px;
    right: 12px;
}
.fw-medium {
  position: relative;
  bottom: 1px;
  color: #7c868f;
  left: 6px;
}
