<div class="mx-0 row" *ngIf="_coiService.isShowInfo">
  <div class="col-12 highlight-node font">
    <button id="disclosure-info-close" type="button" class="btn-close" (click)="clearDisclosureInfo()" aria-label="Click to close">
    </button>
    <p>Relate each of your SFIs to your active awards and pending funding proposals (e.g. proposals submitted to sponsors but not yet selected for award.)  You are required to describe how your work with the SFI relates to your university research and identify whether or not you believe there is a real or potential conflict of interest.</p>
  </div>
</div>
<div class="card new-card" [class.mt-2]="_coiService.isShowInfo">
<div *ngIf="selectedProject?.moduleCode" class="card-header card-flex">
  <div class="row">
        <div class="col-11">
          <label class="label-text">{{selectedProject?.moduleCode === 1 ? 'Award : ' : 'Proposal : '}}</label>
          <span class="ml-2 grey-text fw-700" *ngIf="selectedProject?.moduleCode === 1">#{{selectedProject?.moduleItemKey}}&nbsp;{{selectedProject?.title}}</span>
          <span class="ml-2 grey-text fw-700" *ngIf="selectedProject?.moduleCode === 3 ">#{{selectedProject?.moduleItemId}}&nbsp;{{selectedProject?.title}}</span>
        </div>
        <div class="col-1 ml-auto text-right" *ngIf="!_entityService.linkedProposalId && coiDisclosure.coiDisclosureCategoryType.disclosureCategoryTypeCode != 3">
          <button class="button-container nav-style" (click)="toggleToolkitVisibility()">
            <span class="fa-large fa fa-expand" *ngIf="isProjectListVisible"></span>
            <span class="fa-large fa fa-compress" *ngIf="!isProjectListVisible"></span>
          </button>
        </div>
        <div class="col-4">
          <label class="label-text">Principal Investigator :</label>
          <span class="ml-2 grey-text">{{selectedProject?.principalInvestigator}}</span>
        </div>
        <div class="col-4">
          <label class="label-text">Period :</label>
          <span class="ml-2 grey-text">{{selectedProject?.startDate | dateFormatter}} - {{selectedProject?.endDate | dateFormatter}}</span>
        </div>
        <div class="col-4">
          <label class="label-text">{{selectedProject?.moduleCode === 1 ? 'Award ' : 'Proposal '}}Status :</label>
          <span class="ml-2 grey-text">{{selectedProject?.moduleStatus}}</span>
        </div>
        <div class="col-7">
          <label class="label-text">Sponsor :</label>
        <span class="ml-2 grey-text">{{selectedProject?.sponsor}}</span>
        </div>
        <div class="col-5 text-right" *ngIf="!_entityService.linkedProposalId && coiDisclosure.coiDisclosureCategoryType.disclosureCategoryTypeCode != 3">
          <div class="fw-700 grey-text">{{_entityService.currentCommonProjectArray + 1}} of {{_entityService.commonProjectArray.length}} Projects</div>
        </div>
  </div>
</div>

<div class="card-body mt-2">
  <div class="success-banner p-2 mb-2 d-flex justify-content-between" *ngIf="isEditMode">
    <span><i class="fa fa-info-circle mr-1 info-icon" aria-hidden="true"></i>
      <em>Use the feature below to apply Conflict Status and Comments for all SFIs w.r.t the selected {{selectedProject?.moduleCode === 1 ? 'Award' : 'Proposal'}}</em></span>
  </div>
  <div class="row" *ngIf="isEditMode">
    <div class="col-2">
      <label class="fw-500">Conflict Status</label>
      <div>
        <select [(ngModel)]="coiStatusCode"
        class="form-control">
        <option value=null>--Select--</option>
        <option [value]="status.discDetStatusCode" *ngFor="let status of coiStatusList">
            {{status?.description}}</option>
      </select>
      </div>
    </div>
    <div class="col-7">
      <label class="fw-500">Define relationship between SFIs and Projects</label>
      <textarea class="form-control comment-text-box textarea-height" id="main-panel-comnt"
      [(ngModel)]="coiDescription" appAutoGrow
      placeholder="Write your comment here" maxlength="4000" spellcheck="false"></textarea>
    </div>
    <div class="col-3 mt-5">
  <button type="button" class="btn btn-secondary mr-0" id="req-attachment-close-btn" data-bs-toggle="modal"
  data-bs-target="#clearConfirmationModal">Clear All</button>
  <button type="button" class="btn btn-secondary mr-0" id="req-attachment-add-btn" (click)="applyToAll()">Apply to All</button>
    </div>
  </div>
  <div class="row p-4">
    <table class="tableSkin" *ngIf="newArray.length > 0">
      <caption class="sr-only">List of Awards/Proposal</caption>
      <thead>
          <tr class="header-border">
            <th style="width: 30%;">Significant Financial Interest</th>
            <th style="width: 25%;">Conflict Status</th>
            <th>Define relationship between SFIs and Projects</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of newArray; let i = index">
          <td class="table-data fw-600">{{test?.coiEntity?.coiEntityName}}</td>
          <td>
            <select [(ngModel)]="test.discDetStatusCode"
            class="form-control" [disabled]="!isEditMode">
            <option value=null>--Select--</option>
            <option [value]="status.discDetStatusCode" *ngFor="let status of coiStatusList">
                {{status?.description}}</option>
            </select>
          </td>
          <td>
            <textarea class="form-control comment-text-box textarea-height" id="main-panel-comnt"
            [(ngModel)]="test.comment.comments" appAutoGrow
            [disabled]="!isEditMode"
            placeholder="Write your comment here" rows="2" maxlength="4000" spellcheck="false"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="newArray.length == 0">
      <app-no-information></app-no-information>
    </ng-container>
    <button *ngIf="newArray.length > 0 && isEditMode" class="btn btn-primary mt-2 ml-auto" title="Save Relationship" tabindex="0" (click)="saveClick()">
      {{!_entityService.linkedProposalId && coiDisclosure.coiDisclosureCategoryType.disclosureCategoryTypeCode != 3 ? 'Save and Continue To New Project'  : 'Save'}}
    </button>
    <button *ngIf="isEditMode" class="btn btn-primary mt-2 ml-3" title="Save Relationship" tabindex="0" [routerLink]="['/fibi/coi/certify']"
        (click)="_coiService.stepTabName = 'certify'">Proceed To Certify
    </button>
  </div>
</div>
</div>


<div class="modal fade mySkinDialog" tabindex="-1" id="clearConfirmationModal" tabindex="-1" role="dialog"
  data-backdrop="static" data-keyboard="false" aria-labelledby="clearConfirmationModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Click to close">
        </button>
      </div>
      <div class="modal-body">
        <p>This feature will clear all the data including any data you have manually entered  in the table. Do you wish to proceed? </p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel-clear" class="btn btn-outline-secondary fs-14"
        data-bs-dismiss="modal">Cancel</button>
      <button type="button" id="confirm-clear" class="btn btn-outline-primary fs-14"
      (click)="clearAll()" data-bs-dismiss="modal">Clear</button>
      </div>
    </div>
  </div>
</div>
