<app-header></app-header>
<div class="canvas" id="COI_SCROLL" (scroll)="scrollEvent($event)">
    <div class="container-fluid p-3" id="app-main-router" tabindex="-1"><router-outlet></router-outlet> </div>
    <div id="COI_FOOTER"><app-footer></app-footer></div>
</div>

<div aria-atomic="true"
     aria-live="assertive"
     class="px-3 py-2 position-fixed toast align-items-center text-white border-0" id="coi-bootstrap-toast" role="alert">
    <div class="d-flex">
        <div class="toast-body" id="coi-bootstrap-toast-body" tabindex="-1">
        </div>
        <button aria-label="Alert message close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                type="button"></button>
    </div>
</div>

<div *ngIf="isShowLoader" [ngClass]="{'overlay':isShowLoader}">
    <div class="grid">
        <div class="loader">
            <div id="ld2">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="loading-text"><span>{{commonService.appLoaderContent}}</span></div>
    </div>
</div>


<!--Unsaved Changes confirmation Modal-->
<app-confirmation-modal [modalName]="'sessionTimeoutModal'" [primaryBtnName]="'Continue'"
    (primaryBtnAction)="redirectToLogoutPage()">
    <!-- modal header -->
    <ng-container header>
        <span>Session Expired</span>
    </ng-container>
    <!-- modal content -->
    <div content class="ms-2">
        <p>{{errorMessage}}</p>
    </div>
</app-confirmation-modal>
<!--Unsaved Changes confirmation Modal end-->

<!-- shared project deatils modal starts -->
 <ng-container *ngIf="commonService.projectDetailsModalInfo.coiDisclosureId || commonService.projectDetailsModalInfo.projectDetails?.projectId">
    <app-shared-project-details-modal [selectedProject]="commonService.projectDetailsModalInfo"></app-shared-project-details-modal>
 </ng-container>
<!-- shared project deatils modal end -->


<!-- shared person details modal starts -->
 <ng-container *ngIf="commonService.modalPersonId">
    <app-personal-details-modal [personId]="commonService.modalPersonId"></app-personal-details-modal>
 </ng-container>
<!-- shared person details modal end -->
