.offset-top {
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 10px;
  min-height: 100%;
}

.card {
  height: 230px;
}

.fibi-card {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0.7987570028011204) 0%, rgba(9,121,65,1) 0%, rgba(0,255,149,1) 100%);
}

.canvas {
  min-height: 100%;
  padding-top: 65px;
  padding-bottom: 40px;
}
