<app-coi-slider (closeSlider)="validateSliderClose()"
    [isStickyNeeded]="false" [sliderName]="'disclosure-entity-slider-2'">
    <!-- slider header -->
    <ng-container header>
        <span class="px-1">{{sliderType === 'ENTITY' ? 'Entities' : sliderType === 'NOTES' ? 'Notes' : 'Attachments' }} of {{personName}}</span>
    </ng-container>

    <ng-container content>
        <div class="px-4">
            <ng-container *ngIf="sliderType === 'ENTITY'">
                <app-sfi [isTriggeredFromSlider]="true" [reviewStatus]="reviewStatus" [isEditMode]="false" [personId]="coiPersonId"></app-sfi>
            </ng-container>
        </div>
        <div class="px-2">
            <ng-container *ngIf="sliderType === 'NOTES'">
                <app-notes-attachments [coiPersonId]="coiPersonId"></app-notes-attachments>
            </ng-container>
            <ng-container *ngIf="sliderType === 'ATTACHMENTS'">
                <app-attachments [coiPersonId]="coiPersonId"></app-attachments>
            </ng-container>
        </div>
    </ng-container>
</app-coi-slider>
