<div class="m-3 p-3 grey-border rounded-2" [id]="sectionId">
    <div class="row mb-2">
        <div class="col-12 d-flex align-items-center coloured-bg-header">
            <span class="icon-bg me-2 coloured-icons fs-14 d-inline-flex" aria-hidden="true">
                <mat-icon class="coi-mat-icon-size">newspaper</mat-icon>
            </span>
            <span class="fs-16 fw-medium" id="coi-entity-subaward-details">{{sectionName}}<app-common-help-text [subSectionId]="2612" [elementId]="'coi-entity-subaward-details'"></app-common-help-text>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-12 col-sm-12">
            <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-entity-subaward-orgID">Organization ID
                <app-common-help-text [subSectionId]="2612" [elementId]="'coi-entity-subaward-orgID'"></app-common-help-text>
            </label>
            <input type="text" id="coi-entity-subaward-orgID" title="Organization ID" aria-label="Organization ID"
                maxlength="60" autocomplete="off" class="form-control" disabled />
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-12 col-sm-12 mt-sm-2 mt-md-2 mt-lg-0">
            <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-entity-sponsortype-lookup">Organization Type
                <app-common-help-text [subSectionId]="2612" [elementId]="'coi-entity-sponsortype-lookup'"></app-common-help-text></label>
            <app-look-up [options]='templateOptions' [defaultValue]="defaultTemplateLabel" [isExternalArray]="true"
                [externalArray]="notificationTemplates" [uniqueId]="'coi-entity-sponsortype-lookup'">
            </app-look-up>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-12 col-sm-12 mt-sm-2 mt-md-2">
            <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-entity-sam-expiration-date">SAM Expiration Date
                <app-common-help-text [subSectionId]="2612" [elementId]="'coi-entity-sam-expiration-date'"></app-common-help-text>
            </label>
            <input type="text" id="coi-entity-sam-expiration-date" placeholder="" title="SAM Expiration Date"
                aria-label="SAM Expiration Date" maxlength="60" autocomplete="off" class="form-control" />
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-12 col-sm-12 mt-sm-2 mt-md-2">
            <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-entity-risk-assesment-date">Sub-award Risk Assesment Date
                <app-common-help-text [subSectionId]="2612" [elementId]="'coi-entity-risk-assesment-date'"></app-common-help-text>
            </label>
            <input type="text" id="coi-entity-risk-assesment-date" placeholder="" title="Sub-award Risk Assesment Date"
                aria-label="Sub-award Risk Assesment Date" maxlength="60" autocomplete="off" class="form-control" />
        </div>
    </div>
</div>
