<div class="d-flex align-items-center justify-content-between alert alert-secondary py-2 mb-0" id="info-card">
    <div class="fs-14">
        Click 'Apply to All' to update the Conflict of Interest (COI) status and description simultaneously
        for all
        Project SFI relationships.
    </div>
    <button type="button" class="btn btn-primary btn-sm fs-14 px-3 text-nowrap ms-2"
            id="btn-apply-all" aria-label="Click to apply for all SFIs  and save"
            title="Click to apply for all SFIs  and save"
            (click)="openSaveAllConfirmationModal()">Apply to All
    </button>
</div>

<section>
    <div class="table-responsive coi-table-striped mt-2 p-2" id="sfi-relationship">
        <table class="table table-bordered fs-14 table-striped mb-0">
            <thead [ngClass]="{'sticky-top':isSlider}" id="sfi-relationship-table-header">
                <tr class="fw-600">
                    <th scope="col" class="col-md-3 col-xl-3 th-border-left" tabindex="0" aria-label="Project(s)">Project(s)</th>
                    <th scope="col" class="col-md-4 col-lg-3 col-xl-2" tabindex="0" aria-label="conflict status"><span
                            class="d-inline-block text-danger fw-600">*</span> Conflict Status</th>
                    <th scope="col" class="col-md-5 col-lg-6 col-xl-7" tabindex="0" aria-label="Define Project - SFI Relation"
                        aria-describedby="list of project sfi relations"><span class="d-inline-block text-danger fw-600">*</span> Define Project - SFI Relation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectSfi of projectSFIDetails; let i = index">
                    <td class="pt-2">
                    <div class="d-flex">
                        <div class="d-flex align-items-center entity-status shadow-sm mt-2"
                            [ngClass]="projectSfi?.moduleCode == 1 ? 'bg-award-clip' : 'bg-proposal-clip'">
                            {{ projectSfi?.moduleCode == 1 ? 'Award' : 'Proposal' }}
                        </div>
                        <div [attr.aria-label]="projectIdTitleMap[projectSfi?.moduleItemKey]" [title]="projectIdTitleMap[projectSfi?.moduleItemKey]">
                            {{projectIdTitleMap[projectSfi?.moduleItemKey] && projectIdTitleMap[projectSfi?.moduleItemKey].length > 100 ?
                            (projectIdTitleMap[projectSfi?.moduleItemKey] | slice:0:100) + '...' :
                            projectIdTitleMap[projectSfi?.moduleItemKey]}}
                        </div>
                    </div>
                    </td>
                    <td>
                        <select [(ngModel)]="projectSfi.projectConflictStatusCode" class="form-select form-control"
                            [attr.aria-label]="getStatusDescriptionByCode(projectSfi.projectConflictStatusCode)"
                            (ngModelChange)="sfiSingleSave(i, projectSfi, 'conflict-Status-select-'+i)" title="Click here to select Conflict Status"
                            [ngClass]="coiTableValidation.has('save-status'+i) ? 'is-invalid d-block' : ''" [disabled]="!isEditMode"
                            [id]="'conflict-status-select-'+i">
                            <option value=null>--Select--</option>
                            <option aria-label="" [value]="status.projectConflictStatusCode"
                                *ngFor="let status of coiStatusList; let i = index">
                                {{status?.description}}</option>
                        </select>
                        <div>
                            <span class="invalid-feedback d-block" *ngIf="coiTableValidation.has('save-status'+i)">
                                {{coiTableValidation.get('save-status' + i)}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <textarea class="form-control comment-text-box textarea-height" id="main-panel-comnt" appAutoGrow
                            [(ngModel)]="projectSfi.disclComment.comment" [disabled]="!isEditMode" rows="1" appLengthValidator
                            [id]="'description-textarea-'+i"
                            [ngClass]="coiTableValidation.has('save-description'+i) ? 'is-invalid d-block' : ''"
                            (ngModelChange)="sfiSingleSave(i, projectSfi, 'description-textarea-'+i);"
                            placeholder="Provide your description here" [limit]=2000 spellcheck="false"
                            [attr.aria-label]="projectSfi.disclComment.comment"
                            title="Click here to Provide your description"></textarea>
                        <span class="invalid-feedback"
                            *ngIf="coiTableValidation.has('save-description'+i)">{{coiTableValidation.get('save-description' + i)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- Apply to All modal -->

<div class="modal fade mySkinDialog" data-bs-backdrop="static" id="applyToAllConfirmationModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ct-footer-padding d-none">
                <h4 class="modal-title">Bulk update Project SFI relationships</h4>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close fs-12"
                        (click)="clearValues()">
                </button>
            </div>
            <div class="modal-body ct-modal-padding">
                <div>
                    <div class="row">
                        <div class="col-12 fs-14">
                            <span class="text-danger me-1 fw-600">*</span>
                            <span title="List of Conflict status" tabindex="0" aria-label="conflict status"
                                  class="fw-600">Conflict Status</span>
                            <div>
                                <select id="COI_Status_dropdown" [(ngModel)]="coiStatusCode" title="Click here to select Conflict Status" aria-label="Click here to select Conflict Status"
                                        class="form-select form-control cursor-pointer"
                                        [ngClass]="coiValidationMap.has('coiStatus') ? 'is-invalid d-block' : ''">
                                    <option [value]=null>--Select--</option>
                                    <option [value]="status.projectConflictStatusCode"
                                            *ngFor="let status of coiStatusList">
                                        {{status?.description}}</option>
                                </select>
                            </div>
                            <div>
                                <span class="invalid-feedback fw-400" *ngIf="coiValidationMap.has('coiStatus')">
                                  {{coiValidationMap.get('coiStatus')}}
                                </span>
                            </div>
                        </div>
                        <div class="fs-14 mt-3">
                            <span class="text-danger me-1 fw-600" id="description">*</span>
                            <span class="fw-600" tabindex="0" aria-label="Define Project - SFI Relation" role="field"
                                  aria-describedby="list of project sfi relations">Define Project - SFI Relation</span>
                            <textarea class="form-control" id="coi_description" 
                                      [(ngModel)]="coiDescription" title="Click here to Provide your description" aria-label="Provide your description here"
                                      (ngModelChange)="coiDescription = coiDescription.trim();" appAutoGrow
                                      appLengthValidator rows="1"
                                      [ngClass]="coiValidationMap.has('coiDescription') ? 'is-invalid d-block' : ''"
                                      placeholder="Provide your description here" [limit]=2000
                                      spellcheck="false"></textarea>
                            <span class="invalid-feedback fw-400" *ngIf="coiValidationMap.has('coiDescription')">
                                {{coiValidationMap.get('coiDescription')}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ct-footer-padding">
                <button class="btn btn-outline-secondary btn-sm" id="claim-sumbit-no-btn" data-bs-dismiss="modal"
                        (click)="clearValues()" type="button" aria-label="Click here to Cancel" title="Click here to Cancel">Cancel
                </button>
                <button class="btn btn-primary btn-sm fs-14 btn-primary-submit" type="button" (click)="applyToAll()" id="btn-apply-all" 
                    aria-label="Click here to Apply to all" title="Click here to Apply to all">
                    Apply to All
                </button>
            </div>
        </div>
    </div>
</div>
