<div class="px-3" [@fadeInOutHeight]>
    <section class="section-advanced-search">
        <div class="fs-18 fw-bold mt-3">OPA Disclosure Dashboard</div>
        <hr class="mt-1">
        <nav class="coi-admin-dash mb-2 mx-0 row border shadow-sm">
            <div class="align-items-center bg-white d-flex justify-content-between list">
                <ul class="m-0 p-0">
                    <li *ngIf="isShowAdminDashboard" tabindex="0" (click)="changeTab('ALL_DISCLOSURES')"
                        (keyup.enter)="changeTab('ALL_DISCLOSURES')" (keyup.space)="changeTab('ALL_DISCLOSURES')"
                        [class.active]="_opaDashboardService.opaRequestObject.tabType=='ALL_DISCLOSURES'"
                        class="p-3 position-relative text-center ml-3" title="Click to view All Disclosures"
                        area-describedby="Click to view All Disclosures">
                        All Disclosures
                    </li>
                    <li class="separator"></li>
                    <li *ngIf="isShowAdminDashboard" tabindex="0" (click)="changeTab('NEW_SUBMISSIONS')"
                        (keyup.enter)="changeTab('NEW_SUBMISSIONS')" (keyup.space)="changeTab('NEW_SUBMISSIONS')"
                        [class.active]="_opaDashboardService.opaRequestObject.tabType=='NEW_SUBMISSIONS'"
                        class="p-3 position-relative text-center" title="Click to view New Submissions"
                        area-describedby="Click to view the list of all newly submitted disclosures">
                        New Submissions
                    <li class="separator"></li>
                    <li tabindex="0" (click)="changeTab('MY_REVIEWS')" (keyup.enter)="changeTab('MY_REVIEWS')"
                        (keyup.space)="changeTab('MY_REVIEWS')" class="p-3 position-relative text-center"
                        [class.active]="_opaDashboardService.opaRequestObject.tabType=='MY_REVIEWS'"
                        title="Click to view All Reviews"
                        area-describedby="Click to view the list of all disclosures under all reviews">My Reviews
                    </li>                    
                    <li class="separator"></li>
                    <li tabindex="0" (click)="changeTab('ALL_REVIEWS')" (keyup.enter)="changeTab('ALL_REVIEWS')"
                        (keyup.space)="changeTab('ALL_REVIEWS')" class="p-3 position-relative text-center"
                        [class.active]="_opaDashboardService.opaRequestObject.tabType=='ALL_REVIEWS'" title="Click to view All Reviews"
                        area-describedby="Click to view the list of all disclosures under all reviews">All Reviews
                    </li>
                </ul>
                <div class="mx-1">
                    <span role="button" class="btn btn-tertiary d-flex fs-14 align-items-center mt-0"
                        id="advanced-search" aria-controls="collapseExample" aria-expanded="false"
                        (click)="toggleAdvanceSearch();" aria-label="Toggle Advanced Search"
                        title="Click here to expand / collapse  Advanced Search fields">
                        <mat-icon class="me-3">tune</mat-icon>Advanced Search</span>
                </div>
            </div>
        </nav>

        <div *ngIf="isViewAdvanceSearch" class="card mb-3 border mt-2" id="collapseExample" [@topSlideInOut]>
            <div class="card-body">
                <div class="form-row row">
                    <!-- PERSON -->
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12">
                        <label class="d-block">Person</label>
                        <app-elastic [options]="personElasticOptions" [clearField]="assigneeClearField" [placeHolder]="'Search Person'"
                            (selectedResult)="personSelect($event)">
                        </app-elastic>
                    </div>
                    <!-- Unit Name -->
                    <div class="col-xl-3 col-lg-5 col-sm-6 col-3" title="Click to search by Department Name">
                        <label class="d-block" for="adv-disclosure-department-name">
                            Department
                        </label>
                        <app-endpoint-search (onSelect)="leadUnitChangeFunction($event)"
                            [clearField]="advSearchClearField" [httpOptions]="leadUnitSearchOptions"
                            [placeHolder]="'Search by Department'" [uniqueId]="'adv-disclosure-department-name'">
                        </app-endpoint-search>
                    </div>
                    <!-- OPA Disclosure Status -->
                    <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3" title="Click to search by Disclosure Status">
                        <label class="d-block" for="adv-disclosure-status">
                            Review Status
                        </label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'opaDisclosureStatusCodes')"
                            [options]="opaDisclosureStatusOptions"
                            [selectedLookUpList]="lookupValues['opaDisclosureStatusCodes']"
                            [uniqueId]="'adv-disclosure-status'">
                        </app-look-up>
                    </div>
                    <!-- Disposition Status -->
                    <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3"
                        title="Click to search by Disposition Status">
                        <label class="d-block" for="adv-disposition-status">
                            Disposition Status
                        </label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'dispositionStatusCodes')"
                            [options]="opaDispositionStatusOption"
                            [selectedLookUpList]="lookupValues['dispositionStatusCodes']"
                            [uniqueId]="'adv-disposition-status'">
                        </app-look-up>
                    </div>
                </div>
                <div class="form-row row mt-3">
                    <!-- Submission Date -->
                    <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3" title="Click to search by Expiration Date">
                        <label class="d-block" for="adv-disclosure-expiration-date">
                            Certification Date
                        </label>
                        <span class="dateField">
                            <input matInput [matDatepicker]="submissionDate" (keypress)="submissionDate.open()"
                                id="adv-disclosure-expiration-date" (click)="submissionDate.open()" class="form-control d-inline-block"
                                [(ngModel)]="advanceSearchDates.submissionDate" placeholder="{{datePlaceHolder}}">
                            <i (click)="submissionDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                            <mat-datepicker #submissionDate></mat-datepicker>
                        </span>
                    </div>
                    <!-- Period Date -->
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12">
                        <div>
                            <label class="d-block">Reporting Cycle</label>
                            <div class="row mx-0">
                                <span class="col dateField p-0">
                                    <input matInput [matDatepicker]="periodFromDate" (keypress)="periodFromDate.open()"
                                        id="adv-disclosure-expiration-date" (click)="periodFromDate.open()"
                                        [ngClass]="map.get('fromDate') ? 'invalid-border' : ''"
                                        class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.periodStartDate"
                                        placeholder="From({{datePlaceHolder}})">
                                    <i (click)="periodFromDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                                    <mat-datepicker #periodFromDate></mat-datepicker>
                                </span>
                                <label class="col-auto"> - </label>
                                <span class="col dateField p-0">
                                    <input matInput [matDatepicker]="periodToDate" (keypress)="periodToDate.open()"
                                        id="adv-disclosure-expiration-date" (click)="periodToDate.open()"
                                        [ngClass]="map.get('fromDate') ? 'invalid-border' : ''"
                                        class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.periodEndDate"
                                        placeholder="To({{datePlaceHolder}})">
                                    <i (click)="periodToDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                                    <mat-datepicker #periodToDate></mat-datepicker>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- sTAFF/FACULTY -->
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12 d-flex align-items-end">
                        <div>
                            <input type="checkbox" name="relation" class="form-check-input text-secondary border border-secondary mt-1"
                                [value]="'S'" [(ngModel)]="isCheckBoxSelected['S']">
                            <label class="ms-3 mt-1 r-title fs-14">
                                Staff
                            </label>
                            <input type="checkbox" name="relation" class="form-check-input mt-1 ms-3 text-secondary border border-secondary"
                                [value]="'F'" [(ngModel)]="isCheckBoxSelected['F']">
                            <label class="r-title ms-3 mt-1 fs-14">
                                Faculty
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <div class="invalid-feedback block-display" *ngIf="map.get('fromDate')">
                        {{map.get('fromDate')}}
                    </div>
                    <button (click)="resetAndPerformAdvanceSearch()" class="btn btn-outline-secondary btn-xs fs-14 px-4"
                        title="Click here to clear all the fields">Clear</button>
                    <button (click)="performAdvanceSearch()" class="btn btn-primary fs-14 ms-3 primary-button"
                        title="Click here to Initiate search">Search</button>
                </div>
            </div>
        </div>

        <!-- sorting for all disclosures-->
        <div class="sort-div border mt-2" *ngIf="isShowOPAList && opaList.length">
            <span class="fs-14 fw-medium me-2 text-secondary">Sort By :</span>
            <button tabindex="0" *ngFor="let sortSection of sortSectionsList; let index = index"
                title="Click to sort by {{sortSection?.fieldName}}" (click)="sortResult(sortSection?.variableName)"
                (keydown.enter)="sortResult(sortSection?.variableName)"
                area-describedby="Click to sort by {{sortSection?.fieldName}}" [ngClass]="index == 0 ? 'ml-15' : 'mx-1'"
                [class.px-8]="!_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]"
                [class.filter-active]="_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]"
                class="shadow-sm fw-medium pr-05 py-2 px-3 fs-13 border rounded-5 bg-white" role="button">
                <div class="d-inline-flex align-items-center">
                    <label class="offscreen">Click to Sort by {{sortSection?.fieldName}} in
                        {{_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]=== 'asc' ?
                        'Descending Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true" class="cursor-pointer">{{sortSection?.fieldName}}</label>
                    <mat-icon class="arrow selected-arrow" [@slideDown]
                        *ngIf="_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow" [@slideUp] [@scaleOut]
                        *ngIf="_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </button>

        </div>

        <ng-container *ngIf="isShowOPAList && !isLoading;">
            <div *ngIf="opaList.length > 0;else noData" [@listAnimation]="opaList.length">
                <ng-container *ngFor="let coi of opaList;let index=index;">
                    <section class="mt-3 shadow-sm coi-card" (mouseover)="isHover[index] = true"
                        (mouseout)="isHover[index] = false">
                        <div class="bg-white border f-14">
                            <div class="border-bottom">
                                <div class="row mb-3 p-013 mt-2">
                                    <div class="col">
                                        <span class="d-flex">
                                            <span
                                                class="entity-status shadow-sm align-items-center d-flex mt-2 bg-opa-clip">
                                                <span>OPA</span></span>
                                            <h4 class="mb-0 mt-2 d-flex label-text align-items-baseline person">
                                                <i class="fa fa-user mt-65" aria-hidden="true"></i>
                                                <strong class="me-2 ml-2 text-nowrap mt-2">{{coi?.personName}} | 
                                                <label *ngIf="coi?.isFaculty != null">
                                                {{coi?.isFaculty ? 'Faculty' : 'Staff'}} |
                                                </label>
                                                <span> {{' Reporting Cycle :'}}
                                                    <app-no-data-label [valueToShow]="coi?.periodStartDate">
                                                        <span id="id" class="grey-text">{{coi?.periodStartDate |
                                                            dateFormatter}} - {{coi?.periodEndDate |
                                                            dateFormatter}}</span>
                                                    </app-no-data-label>
                                                </span>
                                                </strong>
                                            </h4>
                                        </span>
                                    </div>
                                </div>
                                <div class="row mb-3 p-013 mt-2">
                                    <div class="col-4">
                                        <label for="id" class="label-text">Department :</label>
                                        <span id="id" class="grey-text">#{{coi.homeUnit}} - {{coi.homeUnitName}}</span>
                                    </div>
                                    <div class="col-4">
                                        <label for="event-type" class="label-text">Certification Date :</label>
                                        <app-no-data-label [valueToShow]="coi?.openDate">
                                            <span id="event-type" class="grey-text">{{coi?.submissionTimestamp |
                                                dateFormatter}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col-4">
                                        <label for="id" class="label-text">Disposition Status :</label>
                                        <app-no-data-label [valueToShow]="coi?.dispositionStatus">
                                            <span
                                                class="ms-3 {{commonService.getDispositionStatusBadge(coi?.dispositionStatusCode)}}"
                                                [class.text-dark]="commonService.getDispositionStatusBadge(coi?.dispositionStatusCode) === 'warning'"
                                                id="disp-status"></span>
                                            <span id="id" class="badgeFont">{{coi?.dispositionStatus}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <div class="row mb-3 p-013">
                                    <div class="col-4">
                                        <label for="id" class="label-text">Administrator :</label>
                                        <app-no-data-label [valueToShow]="coi?.adminPersonName">
                                            <span id="id" class="grey-text">{{coi?.adminPersonName}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col-4">
                                        <label for="id" class="label-text">Admin Group :</label>
                                        <app-no-data-label [valueToShow]="coi?.adminGroupName">
                                            <span id="id" class="grey-text">{{coi?.adminGroupName}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col-4">
                                        <label for="disp-status" class="label-text pr-25">Review Status :</label>
                                        <app-no-data-label [valueToShow]="coi?.disclosureStatus">
                                            <span
                                                class="ms-3 {{commonService.getReviewStatusBadge(coi?.opaDisclosureStatusCode)}}"
                                                [class.text-dark]="commonService.getReviewStatusBadge(coi?.opaDisclosureStatusCode) === 'warning'"
                                                id="disp-status"></span>
                                            <span class="badgeFont">
                                                {{coi?.disclosureStatus}}
                                            </span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-2 py-2 m-0 bg-white d-flex align-items-center">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <label class="label-text" for="last-updated">Last Updated By : </label>
                                    <span id="last-updated" class="grey-text">{{coi?.updateUserFullName}} On
                                        {{coi?.updateTimeStamp
                                        | dateFormatterWithTimeZone: 'long'}}</span>
                                </div>
                                <div class="col-4 d-flex m-0 justify-content-end px-0 pe-2">
                                    <button title="'Click to view OPA disclosure details'"
                                        area-describedby="Click to view details" (click)="redirectToDisclosure(coi)"
                                        class="align-items-center btn btn-outline-primary d-flex fs-14">
                                        <mat-icon class="me-1">visibility</mat-icon>
                                        View
                                    </button>
                                    <button *ngIf="showAssignAdminButton(coi)"
                                        title="Click to Assign Administrator/Admin Group"
                                        area-describedby="Click to assign administrator"
                                        class="align-items-center btn btn-outline-primary d-flex fs-14 ml-2"
                                        (click)="openAssignAdminModal(coi);">
                                        <mat-icon class="me-1">group_add</mat-icon>
                                        Assign Admin
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                </ng-container>
            </div>
            <ng-template #noData>
                <app-no-information></app-no-information>
            </ng-template>
        </ng-container>
        <!-- Pagination -->
        <div [hidden]="isLoading" *ngIf="isShowOPAList && opaList.length > 0"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
            <nav aria-label="pagination section" class="pagination justify-content-end">
                <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="result.count"
                    [defaultCurrentPage]="_opaDashboardService.opaRequestObject.currentPage">
                </app-pagination>
            </nav>
        </div>
    </section>
</div>

<app-assign-administrator-modal *ngIf="isAssignAdminModalOpen" (closeModal)="closeAssignAdminModal($event)"
    [disclosureId]="addAdmin.disclosureId" [path]="assignAdminPath">
</app-assign-administrator-modal>