<div [@fadeInOutHeight]>
    <section class="section-advanced-search">
        <div class="fs-18 fw-bold d-inline-block mb-2" tabindex="-1" title="OPA Disclosures Dashboard"
            aria-label="OPA Disclosures Dashboard">OPA Disclosures</div>
        <nav class="coi-admin-dash mb-2 mx-0 border shadow-sm bg-white">
            <div class="list navbar-toggleable-xs">
                <div class="d-flex justify-content-between">
                    <button #mainHeaders id="responsiveColapse" [ngClass]="isShowOptions ? 'd-none' : 'hamburger-display'"
                        class="navbar-toggler hidden-sm-up px-0 px-sm-3" (click)="isShowOptions = true" type="button"
                        (keyup.enter)="isShowOptions = true" (keyup.space)="isShowOptions = true"
                        data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fa fa-bars f-14 text-muted mx-colr" aria-hidden="true" title="Click for more pages"></i>
                    </button>
                    <button class="navbar-toggler hidden-sm-up px-0 mt-1 px-sm-3" [@topSlideInOut]="isShowOptions" type="button"
                        [ngClass]="!isShowOptions ? 'd-none' : 'hamburger-display'" (click)="isShowOptions = false"
                        (keyup.enter)="isShowOptions = false" (keyup.space)="isShowOptions = false"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars f-14 text-muted mx-colr" aria-hidden="true" title="Click for more pages"></i>
                    </button>
                    <ul class="m-0 p-0 menu-responsive fit-content tabs-collapsed collapse" id="navbarResponsive" aria-label="navigation list"
                        tabindex="-1">
                        <li *ngIf="isShowAdminDashboard" (click)="changeTab('ALL_DISCLOSURES')" tabindex="0" id="coi-opa-dashboard-all-disclosures"
                            (keyup.enter)="changeTab('ALL_DISCLOSURES')" (keyup.space)="changeTab('ALL_DISCLOSURES')"
                            [class.active]="_opaDashboardService.opaRequestObject.tabType=='ALL_DISCLOSURES'"
                            class="p-3 fs-6 align-self-center" aria-label="Click here to view all disclosures"
                            [attr.title]="_opaDashboardService.opaRequestObject.tabType=='ALL_DISCLOSURES' ? 'All Disclosures' : 'Click to view All Disclosures'"
                            [attr.aria-label]="_opaDashboardService.opaRequestObject.tabType=='ALL_DISCLOSURES' ? 'Selected tab is All Disclosures' : 'All Disclosures'">
                            All Disclosures
                        </li>
                        <li class="separator" *ngIf="isShowAdminDashboard"></li>
                        <li *ngIf="isShowAdminDashboard" (click)="changeTab('NEW_SUBMISSIONS')" tabIndex="0" id="coi-opa-dashboard-new-submissions"
                            (keyup.enter)="changeTab('NEW_SUBMISSIONS')" (keyup.space)="changeTab('NEW_SUBMISSIONS')"
                            [class.active]="_opaDashboardService.opaRequestObject.tabType=='NEW_SUBMISSIONS'"
                            class="p-3 fs-6 align-self-center"
                            aria-label="Click to view the list of all newly submitted disclosures"
                            [attr.title]="_opaDashboardService.opaRequestObject.tabType=='NEW_SUBMISSIONS' ? 'New Submissions ' : 'Click to view New Submissions'"
                            [attr.aria-label]="_opaDashboardService.opaRequestObject.tabType=='NEW_SUBMISSIONS' ? 'Selected tab is New Submissions ' : 'New Submissions'">
                            New Submissions
                        </li>
                        <li class="separator" *ngIf="isShowAdminDashboard"></li>
                        <li (click)="changeTab('MY_REVIEWS')" (keyup.enter)="changeTab('MY_REVIEWS')" tabIndex="0" id="coi-opa-dashboard-my-reviews"
                            (keyup.space)="changeTab('MY_REVIEWS')"
                            [class.active]="_opaDashboardService.opaRequestObject.tabType=='MY_REVIEWS'"
                            class="p-3 fs-6 align-self-center"
                            aria-label="Click to view the list of all disclosures under my review"
                            [attr.title]="_opaDashboardService.opaRequestObject.tabType=='MY_REVIEWS' ? 'My Reviews' : 'Click here to view My Reviews'"
                            [attr.aria-label]="_opaDashboardService.opaRequestObject.tabType=='MY_REVIEWS' ? 'Selected tab is My Reviews' : 'My Reviews'">
                            My Reviews
                        </li>
                        <li class="separator"></li>
                        <li (click)="changeTab('ALL_REVIEWS')" (keyup.enter)="changeTab('ALL_REVIEWS')" tabIndex="0" id="coi-admin-dashboard-all-reviews"
                            (keyup.space)="changeTab('ALL_REVIEWS')"
                            [class.active]="_opaDashboardService.opaRequestObject.tabType=='ALL_REVIEWS'"
                            class="p-3 fs-6 align-self-center"
                            aria-label="Click to view the list of all disclosures under all reviews"
                            [attr.title]="_opaDashboardService.opaRequestObject.tabType=='ALL_REVIEWS' ? 'All Reviews' : 'Click here to view All Reviews'"
                            [attr.aria-label]="_opaDashboardService.opaRequestObject.tabType=='ALL_REVIEWS' ? 'Selected tab is All Reviews' : 'All Reviews'">
                            All Reviews
                        </li>
                    </ul>
                    <div class="mx-1 py-2 d-inline-flex align-items-center pe-2">
                        <span role="button" class="btn btn-tertiary d-flex fs-14 align-items-center mt-0 adv-search" id="advanced-search" tabindex="0"
                            aria-controls="collapseExample" aria-expanded="false" (click)="toggleAdvanceSearch();"
                            (keyup.enter)="toggleAdvanceSearch();" (keyup.space)="toggleAdvanceSearch()"
                            title="Click here to expand / collapse Advanced Search fields"
                            aria-label="Toggle Advanced Search">
                            <mat-icon class="me-3">tune</mat-icon>Advanced Search</span>
                    </div>
                </div>
            </div>
            <div class="pb-3 px-3 pt-2 border-top" id="collapseExample" *ngIf="isViewAdvanceSearch"  [@topSlideInOut]>
                <div class="row g-3">
                    <!-- Person Name -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" title="Click to search by Person Name" tabindex="-1"
                         aria-label="Person search field" role="searchbox">
                        <label class="d-block mb-1" for="adv-opa-disclosure-person-name">Person</label>
                        <app-elastic (selectedResult)="personSelect($event)" [clearField]="assigneeClearField"
                                     [options]="personElasticOptions" [placeHolder]="'Search by Person'"
                                     [uniqueId]="'adv-opa-disclosure-person-name'">
                        </app-elastic>
                    </div>
                    <!-- Department Name -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" title="Click here to search by Department Name"
                         tabindex="-1"
                         aria-label="Department search field" role="searchbox">
                        <label class="d-block mb-1" for="adv-opa-disclosure-department-name">
                            Department
                        </label>
                        <app-endpoint-search (onSelect)="leadUnitChangeFunction($event)"
                                             [clearField]="advSearchClearField" [httpOptions]="leadUnitSearchOptions"
                                             [placeHolder]="'Search by Department'"
                                             [uniqueId]="'adv-opa-disclosure-department-name'">
                        </app-endpoint-search>
                    </div>
                    <!-- Review Status -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" title="Click here to search by Review Status" tabindex="-1"
                         role="listbox"
                         aria-label="Review dropdown">
                        <label class="d-block mb-1" for="adv-opa-review-status">
                            <ng-container>Review Status</ng-container>
                        </label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'reviewStatusCodes')"
                                     [options]="opaDisclosureStatusOptions"
                                     [title]="'Click to search by Review Status'"
                                     [selectedLookUpList]="lookupValues['reviewStatusCodes']"
                                     [uniqueId]="'adv-opa-review-status'">
                        </app-look-up>
                    </div>
                    <!-- Disposition Status -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" tabindex="-1" role="listbox"
                    aria-label="Disposition Status dropdown"
                    title="Click here to search by Disposition Status">
                    <label class="d-block mb-1" for="adv-opa-disposition-status">
                        Disposition Status
                    </label>
                    <app-look-up (selectedResult)="onLookupSelect($event, 'dispositionStatusCodes')"
                                [title]="'Click to search by Disposition Status'"
                                [options]="opaDispositionStatusOption" [selectedLookUpList]="lookupValues['dispositionStatusCodes']"
                                [uniqueId]="'adv-opa-disposition-statuss'">
                    </app-look-up>
                    </div>
                    <!-- Certification Date -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" tabindex="-1" aria-label="Certification Date"
                         title="Click to search by Certification Date">
                        <label class="d-block mb-1" for="adv-opa-disclosure-certification-date">
                            Certification Date
                        </label>
                        <span class="dateField">
                            <input matInput [matDatepicker]="submissionDate" (keyup.enter)="submissionDate.open()" (keyup.space)="submissionDate.open()" id="adv-disclosure-expiration-date"
                                (click)="submissionDate.open()" class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.submissionDate"
                                placeholder="{{datePlaceHolder}}">
                            <i (click)="submissionDate.open()" (keyup.enter)="submissionDate.open()" (keyup.space)="submissionDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                            <mat-datepicker #submissionDate></mat-datepicker>
                        </span>
                    </div>
                    <!-- Period Date -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" tabindex="-1"
                    aria-label="Reporting Cycle">
                    <div>
                        <label class="d-block mb-1" for="adv-opa-disclosure-reporting-cycle">Reporting Cycle <span class="coi-text-light">({{datePlaceHolder}})</span></label>
                        <div class="row mx-0 align-items-center d-flex">
                            <span class="col dateField p-0">
                                <input matInput [matDatepicker]="periodFromDate" (keyup.enter)="periodFromDate.open()" (keyup.space)="periodFromDate.open()"
                                    id="adv-opa-disclosure-reporting-cycle" (click)="periodFromDate.open()"
                                    [ngClass]="map.get('fromDate') ? 'invalid-border' : ''"
                                    class="form-control d-inline-block"
                                    [(ngModel)]="advanceSearchDates.periodStartDate"
                                    title="Click to search by Reporting Cycle From Date"
                                    placeholder="From">
                                <i (click)="periodFromDate.open()" (keyup.enter)="periodFromDate.open()" (keyup.space)="periodFromDate.open()"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                                <mat-datepicker #periodFromDate></mat-datepicker>
                            </span>
                            <label class="col-auto"> - </label>
                            <span class="col dateField p-0">
                                <input matInput [matDatepicker]="periodToDate" (keypress)="periodToDate.open()"
                                    id="adv-opa-disclosure-reporting-cycle" (click)="periodToDate.open()"
                                    (keyup.enter)="periodToDate.open()" (keyup.space)="periodToDate.open()"
                                    [ngClass]="map.get('fromDate') ? 'invalid-border' : ''"
                                    class="form-control d-inline-block"
                                    [(ngModel)]="advanceSearchDates.periodEndDate"
                                    title="Click to search by Reporting Cycle To Date"
                                    placeholder="To">
                                <i (click)="periodToDate.open()"  (keyup.enter)="periodToDate.open()" (keyup.space)="periodToDate.open()"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                                <mat-datepicker #periodToDate></mat-datepicker>
                            </span>
                        </div>
                    </div>
                    </div>
                    <!-- Staff / Faculty -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" tabindex="-1"
                    aria-label="Employee Type Dropdown" role="listbox">
                    <label class="d-block mb-1" for="adv-employee-type">
                        Employee Type
                    </label>
                    <app-look-up (selectedResult)="onLookupSelect($event, 'designationStatusCodes')"
                        [selectedLookUpList]="lookupValues['designationStatusCodes']"
                        [title]="'Click to search by Employee Type'"
                        [options]="opaEmployeeRoleTypeOption" [uniqueId]="'opa-adv-person-role-status'"
                        [externalArray]="_opaDashboardService.rolesList" [isExternalArray]="true">
                    </app-look-up>
                    </div>
                    <div class="col d-flex justify-content-end mt-4 align-items-end">
                        <button class="btn btn-outline-secondary fs-14 mx-2 px-3" id="coi-opa-dashboard-clear-btn"
                         (click)="resetAndPerformAdvanceSearch()" title="Click here to clear all the fields" aria-label="Click here to clear all the fields">Clear
                        </button>
                        <button class="btn btn-primary fs-14" id="coi-opa-dashboard-search-btn" (click)="performAdvanceSearch()" title="Click here to Initiate search" tabindex="0"
                                aria-label="Click here to get the search results with/without fields">Search
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- sorting for all disclosures -->
        <div class="sort-div border mt-2 px-3" *ngIf="isShowOPAList && opaList.length">
            <span class="fs-14 fw-medium me-2 text-secondary">Sort By :</span>
            <button id="coi-opa-dashboard-sort-btn" *ngFor="let sortSection of sortSectionsList; let index = index"
                title="Click here to sort by {{sortSection?.fieldName}}"
                (click)="sortResult(sortSection?.variableName)"
                attr.aria-labelledby="coi-opa-dashboard-sort-{{index}}"
                [ngClass]="index == 0 ? 'ms-1' : 'mx-0'"
                [class.px-8]="!_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]"
                [class.filter-active]="_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]"
                class="shadow-sm fw-medium py-2 px-3 fs-13 border rounded-5 bg-white coi-sort-filter-btn">
                <div class="d-inline-flex align-items-center">
                    <span class="d-none" id="coi-opa-dashboard-sort-{{index}}">Click to sort by {{ sortSection?.fieldName }} in
                        {{_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]=== 'asc' ?
                        'descending Order' : _opaDashboardService.opaRequestObject.sort[sortSection?.variableName]=== 'desc' ?
                        'normal Order' : 'ascending order'}}</span>
                    <span>{{sortSection?.fieldName}}</span>
                    <mat-icon class="arrow selected-arrow" [@slideDown]
                        *ngIf="_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow" [@slideUp] [@scaleOut]
                        *ngIf="_opaDashboardService.opaRequestObject.sort[sortSection?.variableName]=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </button>
        </div>

        <ng-container *ngIf="isShowOPAList && !isLoading;">
            <div *ngIf="opaList.length > 0;else noData" [@listAnimation]="opaList.length">
                <ng-container *ngFor="let coi of opaList;let index=index;">
                    <!-- New card design starts(master card) -->
                    <div class="card coi-card-regular" (mouseover)="isHover[index] = true"
                        (mouseout)="isHover[index] = false">
                        <div class="card-body px-3 py-2" id="coi-opa-dashboard-card-body">
                            <div class="row">
                                <div class="col-lg-10 mb-3 mb-lg-0 mb-md-3 px-0">
                                    <div class="row">
                                        <div class="col-12 d-inline-flex mb-2">
                                            <!-- OPA card badge -->
                                                <span class="d-flex" tabindex="-1"
                                                    [attr.aria-label]="'Inside OPA card, Person Name ' + (coi?.personName) + 'The person is a' +(coi?.isFaculty ? 'Faculty' : 'Staff') +
                                                                                                'Reporting Cycle ' + (coi?.periodStartDate | dateFormatter) + 'to' + (coi?.periodEndDate | dateFormatter)">
                                                    <span class="entity-status shadow-sm d-flex align-items-center bg-opa-clip">
                                                        <span>OPA</span>
                                                    </span>
                                                </span>
                                            <!-- Coi card header -->
                                                <h4 class="mb-0 d-flex fs-14">
                                                    <span class="d-inline-flex">
                                                        <mat-icon class="coi-text-light fs-18 me-1">person</mat-icon>
                                                        <span class="coi-text-light text-nowrap d-inline-flex fs-6" tabindex="-1"
                                                            [attr.aria-label]="'Disclosure person ' + coi?.personName" id="coi-opa-dashboard-card-value-personinfo-{{index}}">
                                                            {{coi?.personName}}
                                                            <span class="d-inline-flex" tabindex="-1" [attr.aria-label]="coi?.isFaculty ? 'Faculty' : 'Staff'" *ngIf="coi?.isFaculty != null">
                                                                <span class="pipe mx-1"></span>
                                                                {{coi?.isFaculty ? 'Faculty' : 'Staff'}}
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="d-inline-flex" tabindex="-1" [attr.aria-label]="'Reporting Cycle'">
                                                        <span class="pipe mx-1"></span>
                                                        <span class="text-nowrap fs-6 ">Reporting Cycle:</span>
                                                        <span class="coi-text-darker hyper-link ms-1 fs-6">
                                                            <app-no-data-label [valueToShow]="coi?.periodStartDate">
                                                            <span>{{coi?.periodStartDate | dateFormatter}} - {{coi?.periodEndDate | dateFormatter}}</span>
                                                            </app-no-data-label>
                                                        </span>
                                                    </span>
                                                </h4>
                                        </div>
                                    </div>
                                    <div class="row mx-0">
                                        <div class="col-lg-3 col-md-6 mb-2" tabindex="-1" [attr.aria-label]="'Department ' + coi?.homeUnit + coi?.homeUnitName">
                                            <!-- Coi card Department -->
                                            <label for="department" class="d-block coi-text-dark">Department</label>
                                            <span class="coi-text-light" id="coi-opa-dashboard-card-value-department-{{index}}"> {{commonService.getPersonLeadUnitDetails(coi)}}</span>
                                        </div>
                                        <div class="col-lg-3 col-md-6 mb-2" tabindex="-1"
                                        [attr.aria-label]="'Certification Date ' + (coi?.submissionTimestamp | dateFormatterWithTimeZone)">
                                            <!-- Coi card Certification Date -->
                                            <label for="certification date" class="d-block coi-text-dark">Certification Date</label>
                                            <span class="coi-text-light">
                                                <app-no-data-label [valueToShow]="coi?.submissionTimestamp">
                                                    <span class="coi-text-light" id="coi-opa-dashboard-card-value-certification-date-{{index}}">{{coi?.submissionTimestamp | dateFormatterWithTimeZone}}</span>
                                                </app-no-data-label>
                                            </span>
                                        </div>
                                        <div class="col-lg-3 col-md-6 mb-2" tabindex="-1" [attr.aria-label]="'Administrator ' + coi?.adminPersonName">
                                            <!-- Coi card Administrator -->
                                            <label for="administrator" class="d-block coi-text-dark">Administrator</label>
                                            <span class="coi-text-light">
                                                <app-no-data-label [valueToShow]="coi?.adminPersonName">
                                                    <span class="coi-text-light" id="coi-opa-dashboard-card-value-administrator-{{index}}">{{coi?.adminPersonName}}</span>
                                                </app-no-data-label>
                                            </span>
                                        </div>
                                        <div class="col-lg-3 col-md-6 mb-2" tabindex="-1"
                                        [attr.aria-label]="'Admin Group ' + coi?.adminGroupName">
                                            <!-- Coi card Admin Group -->
                                            <label for="admin group" class="d-block coi-text-dark">Admin Group</label>
                                            <span class="coi-text-light">
                                                <app-no-data-label [valueToShow]="coi?.adminGroupName">
                                                    <span class="coi-text-light" id="coi-opa-dashboard-card-value-admin-group-{{index}}">{{coi?.adminGroupName}}</span>
                                                </app-no-data-label>
                                            </span>
                                        </div>
                                        <div class="col-md-12 col-6" tabindex="-1"
                                        [attr.aria-label]="Reviewers">
                                            <!-- Coi Reviewers -->
                                            <label for="reviewers" class="d-block coi-text-dark">Reviewers</label>
                                            <span class="coi-text-light">
                                                <app-no-data-label [valueToShow]="coi?.reviewers">
                                                <ng-container *ngFor="let reviewer of coi?.reviewers; let isLast = last">
                                                    <span class="fileChips regularFont" id="coi-opa-dashboard-card-value-reviewer-{{index}}">{{reviewer[0]}}
                                                        <ng-container *ngIf="reviewer[1] != 'null'">| {{reviewer[1]}} </ng-container> |
                                                        <span class="reviewer-{{getReviewerStatus(reviewer[3])}}" id="coi-opa-dashboard-card-value-reviewer-2-{{index}}">{{reviewer[2]}}</span>
                                                    </span>
                                                </ng-container>
                                                </app-no-data-label>
                                            </span>
                                        </div>
                                    </div>
                                 </div>
                                <div class="col-lg-2 d-flex d-lg-block">
                                    <!-- Coi card Disclosure Status -->
                                    <div class="flex-grow-1 lh-sm mb-2" tabindex="-1"
                                        [attr.aria-label]="'Disposition Status ' + coi?.dispositionStatus">
                                        <label for="disposition status" class="d-block coi-text-lighter">Disposition Status</label>
                                        <span class="break-point-1200">
                                            <app-no-data-label [valueToShow]="coi?.dispositionStatus">
                                                <span
                                                    class="{{commonService.getDispositionStatusBadge(coi?.dispositionStatusCode)}}"
                                                    id="status">
                                                </span>
                                                <span class="coi-text-dark" id="coi-opa-dashboard-card-value-disposition-status-{{index}}">
                                                    {{coi?.dispositionStatus}}
                                                </span>
                                            </app-no-data-label>
                                        </span>
                                    </div>
                                    <!-- Coi card Review Status -->
                                    <div class="flex-grow-1 lh-sm mb-2" tabindex="-1"
                                        [attr.aria-label]="'Review Status ' + coi?.reviewStatus">
                                        <label for="review status" class="d-block coi-text-lighter">Review Status</label>
                                        <span class="break-point-1200">
                                            <app-no-data-label [valueToShow]="coi?.reviewStatus">
                                                <span
                                                    class="{{commonService.getReviewStatusBadge(coi?.reviewStatusCode)}}"
                                                    id="status">
                                                </span>
                                                <span class="coi-text-dark" id="coi-opa-dashboard-card-value-review-status-{{index}}">
                                                    {{coi?.reviewStatus}}
                                                </span>
                                            </app-no-data-label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-1g-6 col-md-6 col-sm-12 col-x1-9">
                                    <div class="row align-items-center justify-content-start">
                                        <div class="col-md-12 text-md-start" tabindex="-1"
                                            [attr.aria-label]="'Last Updated By ' + (coi?.updateUserFullName) + 'on' + (coi?.updateTimeStamp| dateFormatterWithTimeZone: 'long')">
                                            <label for="last updated by" class="coi-text-lighter d-block fs-13 fw-medium">Last Updated By</label>
                                            <span id="last-updated" class="coi-text-dark fs-13 fw-normal"
                                                [attr.aria-label]="coi?.updateUserFullName + ' on ' +
                                                                                                    (coi?.updateTimeStamp | dateFormatterWithTimeZone: 'long')">
                                                {{coi?.updateUserFullName}}<span class="coi-text-lighter fs-13 fw-medium"> On </span>{{coi?.updateTimeStamp | dateFormatterWithTimeZone: 'long'}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="align-items-center col-1g-6 col-md-6 col-sm-12 co1-x1-3 d-flex justify-content-end">
                                    <div class="d-flex d-inline-block justify-content-center justify-content-lg-end px-0">
                                        <button id="coi-opa-dashboard-view btn" (click)="redirectToDisclosure(coi)"
                                        (keyup.enter)="redirectToDisclosure(coi)" (keyup.space)="redirectToDisclosure(coi)" aria-describedby="Click here to view OPA Disclosure"
                                            class="d-flex align-items-center btn btn-outline-secondary fs-14 height-fit-content"
                                            title="Click here to view OPA disclosure details"
                                            aria-label="Click here to view OPA disclosure details">
                                            <mat-icon class="me-1">visibility</mat-icon>View
                                        </button>
                                        <button id="coi-opa-dashboard-assign-admin-btn" *ngIf="showAssignAdminButton(coi)" (click)="openAssignAdminModal(coi)"
                                        (keyup.enter)="openAssignAdminModal(coi)" (keyup.space)="openAssignAdminModal(coi)"
                                            class="d-flex align-items-center btn btn-outline-secondary fs-14 height-fit-content ms-2"
                                            title="Click here to Assign Administrator/Admin Group"
                                            area-describedby="Click to assign administrator"
                                            aria-label="Click to assign administrator">
                                            <mat-icon class="me-1">group_add</mat-icon>
                                            Assign Admin
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <ng-template #noData>
                <app-no-information></app-no-information>
            </ng-template>
        </ng-container>

        <!-- Pagination Pannel -->
        <div [hidden]="isLoading" *ngIf="isShowOPAList && opaList.length > 0" tabindex="2" aria-label="Pagination Menu"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
            <nav aria-label="pagination section" class="pagination justify-content-end">
                <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="result.count"
                    [defaultCurrentPage]="_opaDashboardService.opaRequestObject.currentPage">
                </app-pagination>
            </nav>
        </div>
    </section>

<app-assign-administrator-modal *ngIf="isAssignAdminModalOpen" (closeModal)="closeAssignAdminModal($event)"
    [disclosureId]="addAdmin.disclosureId" [path]="assignAdminPath" [actionType]="'A'">
</app-assign-administrator-modal>
