<!-- SCHEDULE DETAILS -->

<div class="borderBox table-responsive" *ngIf="(serviceRequestList != null && serviceRequestList?.length != 0)">
  <table class="table tableSkin mb-0">
    <caption class="sr-only">SCHEDULE DETAILS</caption>
    <thead>
      <tr>
        <td class="noDataOnChart filterElement">From </td>
        <td class="filterElement"><input matInput [matDatepicker]="fltrStrDt" id="schedule-filtrStrDt" (click)="fltrStrDt.open()"
            [(ngModel)]="filterStartDate" class="committeeBox text-border-padding">&nbsp;<span
            class="fa fa-calendar fa-large" (click)="fltrStrDt.open()"></span>
          <mat-datepicker #fltrStrDt (opened)="setFocusToElement('schedule-filtrStrDt')"></mat-datepicker>
        </td>
        <td class="noDataOnChart filterElement">To </td>
        <td class="filterElement"><input matInput [matDatepicker]="fltrEndDt" id="schedule-fltrEndDt" (click)="fltrEndDt.open()"
            [(ngModel)]="filterEndDate" class="committeeBox text-border-padding">&nbsp;<span
            class="fa fa-calendar fa-large" (click)="fltrEndDt.open()"></span>
          <mat-datepicker #fltrEndDt (opened)="setFocusToElement('schedule-fltrEndDt')"></mat-datepicker>
        </td>
        <td class="filterElement"><button type="button" id="filter-btn" class="btn btn-primary-sub"
            (click)="filterSchedule()">Filter</button></td>
        <td class="filterElement"><button type="button" id="reset-filter-btn" class="btn btn-secondary"
            (click)="clearFilterSchedule()">Clear</button></td>
      </tr>
      <tr>
        <td id="filterWarning" colspan="9"><span *ngIf="!isValid" class="mandatory">{{errorMsg}}</span></td>
      </tr>
      <tr>
        <th id="schedule-id" (click)="sortResult('scheduleId')" title="Click to sort by Schedule Id">Schedule
          Id<span class="sortorder"
            [ngClass]="{reverse:isReverse, sortorder: (requestObject.sortBy == 'scheduleId')}"></span>
        </th>
        <th id="schedule-date" (click)="sortResult('scheduledDate')" title="Click to sort by Schedule Date">Schedule
          Date<span class="sortorder"
            [ngClass]="{reverse:isReverse, sortorder: (requestObject.sortBy == 'scheduledDate')}"></span>
        </th>
        <th id="schedule-place" (click)="sortResult('place')" title="Click to sort by Place">Place
          <span class="sortorder" [ngClass]="{reverse:isReverse, sortorder: (requestObject.sortBy == 'place')}"></span>
        </th>
        <th id="schedule-deadline" (click)="sortResult('protocolSubDeadline')" title="Click to sort by Deadline Date">
          Deadline
          <span class="sortorder"
            [ngClass]="{reverse:isReverse, sortorder: (requestObject.sortBy == 'protocolSubDeadline')}"></span>
        </th>
        <th style="width: 15%" id="schedule-status">Schedule Status</th>
        <th id="schedule-committee-id">Committee ID</th>
        <th id="schedule-committee-name">Committee Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of serviceRequestList">
        <td>{{schedule.scheduleId}}</td>
        <td>{{schedule.scheduledDate | dateFormatter }}</td>
        <td>{{schedule.place}}</td>
        <td>{{schedule.protocolSubDeadline | dateFormatter }}</td>
        <td>{{schedule.scheduleStatus.description}}</td>
        <td>{{schedule.committeeId}}</td>
        <td>{{schedule.committeeName}}</td>
        <td>
          <ul class="actionButtonGroup">
            <li><a title="Open" id="open-schedule-btn" (click)="loadSchedules($event,schedule.scheduleId)">
                <i aria-hidden="true" class="fa fa-eye pointer"></i></a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="serviceRequestList?.length == 0 || serviceRequestList == null" class="borderBox noDataOnChart noDataExists">
  There are no Schedule data for your request</div>

<!--Pagination-->
<div *ngIf="((serviceRequestList != null && serviceRequestList?.length != 0))">
  <div class="text-right pagiSkin">
    <nav class="paginationSkin text-right">
      <app-pagination [totalCount]="result.totalServiceRequest" (pageChangeEvent)="actionsOnPageChange($event)">
      </app-pagination>
    </nav>
  </div>
</div>

