.row{
    border: 1px solid rgb(218, 213, 213);
    margin: 10px;
    background-color:#EEEEEE;
    padding: 5px;
    padding-top: 9px;
}

.modal {
    z-index: 10612 !important;
    background: #00000066;
}

.r-title {
    display: inline-block;
    text-transform: lowercase;
  }

  .r-title::first-letter {
    text-transform: uppercase;
  }

  // .my-modal-backdrop {
  //   z-index: 0;
  // }

  .add-relationship {
    height: 48px;
  }

  .card-height {
    margin-top: 16px;
    margin-bottom: 16px;
  }
 
  .custom-padding {
    padding: 25px;
    padding-left:0px;
    width: 450px;
  }
  
  .color-black {
    font-size: 14px;
    color: rgb(0, 0, 0);
  }

  .custom-size {
    display: flex;
    flex-direction: row;
  }

  