.row{
    border: 1px solid rgb(218, 213, 213);
    margin: 10px;
    background-color:#EEEEEE;
    padding: 5px;
    padding-top: 9px;
}

.modal {
    z-index: 10612 !important;
    background: #00000066;
}
.modal-content {
    border-radius: 2rem;
}
.modal-header {
    border-radius: 2rem 2rem 0rem 0rem;
}

.r-title {
    display: inline-block;
    text-transform: lowercase;
  }
  
  .r-title::first-letter {
    text-transform: uppercase;
  }