.row{
    border: 1px solid rgb(218, 213, 213);
    margin: 10px;
    background-color:#EEEEEE;
    padding: 5px;
    padding-top: 9px;
}

.modal {
    z-index: 10612 !important;
    background: #00000066;
}

.r-title {
    display: inline-block;
    text-transform: lowercase;
  }

  .r-title::first-letter {
    text-transform: uppercase;
  }

  // .my-modal-backdrop {
  //   z-index: 0;
  // }
