<div class="card card-body p-0 my-4">
            <span class="col-4 px-4 pt-4">
                <div class="d-flex position-relative">
                    <h5 class="fs-18 fw-500">Relationship is With</h5>
                    <span data-bs-toggle="tooltip" [title]="RELATION_TITLE_HELP_TEXT" data-bs-placement="top" class="d-inline-block">
                        <mat-icon role="img" class="mat-icon info fs-16 ml-2">info</mat-icon>
                    </span>
                </div>
            </span>
        <hr class="m-2">
        <div *ngIf="relationLookup.length; else noData" class="relation select-margin mb-15 mt-15">
            <div class=""
            [ngClass]="relationValidationMap.has('relationRadio')?'border-danger' : ''">
                <div class="d-flex flex-row">
                    <div class="col d-flex">
                        <div *ngFor="let relation of relationLookup;" class="form-check form-check-inline">
                            <input type="checkbox" name="relation" class="form-check-input text-secondary border border-secondary"
                                [value]="relation?.relationshipTypeCode"
                                [(ngModel)]="isChecked[relation.relationshipTypeCode]"
                                title = "Click to select {{relation?.description}} relation">
                            <label  class="text-secondary r-title fs-14">
                                {{relation?.description}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="relationValidationMap.has('relationRadio')"
        class="invalid-feedback d-block fs-13 justify-content-center d-flex">{{relationValidationMap.get('relationRadio')}}
        </div>
        <ng-template #noData>
            <div class="m-3">
            <app-no-information></app-no-information>
            </div>
        </ng-template>
</div>
