<div class="py-2 px-3" [@slideInOut]>
  <div class="row bg-white mx-0 d-flex py-1 pb-2 align-items-center border ">
      <nav class="coi-admin-dash mx-0 borderlist">
        <ul class="header-navigation-links d-flex align-items-center m-0 f-15 cursor-pointer p-0 text-secondary">
          <li tabindex="0" class="cursor-pointer" [ngClass]="{'active': activeTabName === 'ALL_ENTITIES'}"
            role="tab" (keyup.enter)="entityTabName('ALL_ENTITIES')" (keyup.space)="entityTabName('ALL_ENTITIES')"
            (click)="entityTabName('ALL_ENTITIES')">All Entities
          </li>
          <li class="separator px-0"></li>
          <li tabindex="0" class="cursor-pointer" [ngClass]="{'active': activeTabName === 'UNVERIFIED'}"
            role="tab" (keyup.enter)="entityTabName('UNVERIFIED')" (keyup.space)="entityTabName('UNVERIFIED')"
            (click)="entityTabName('UNVERIFIED')">Unverified Entities
          </li>
          <li class="separator px-0"></li>
          <li tabindex="0" class="cursor-pointer" [ngClass]="{'active': activeTabName === 'HIGH_RISK'}"
            role="tab" (keyup.enter)="entityTabName('HIGH_RISK')" (keyup.space)="entityTabName('HIGH_RISK')"
            (click)="entityTabName('HIGH_RISK')">High Risk Entities
          </li>
        </ul>
      </nav>

      <div class="align-items-center d-flex justify-content-end">
        <div class="mx-1">
          <button class="btn btn-primary d-flex fs-13 align-items-center px-4" id="add-new-entity" title="Add new entity"
            (click)="addNewEntity()"><mat-icon class="add-icon mt-1">add</mat-icon> Add New
            Entity</button>
        </div>
      </div>
  </div>
  <div *ngIf="entityManagementService.isShowEntityNavBar" class="task-nav-div" id="task-navigation-bar">
    <app-add-new-entity-details [coiEntityManageId]="entityManageId" (updateEntityList)="updateEntityListDashboard($event)"
      [isEditEntity]="isCoiEditEntity"></app-add-new-entity-details>
  </div>
  <div class="row mt-3">
    <div class="col-12 d-flex mt-1">
      <div class="col">
        <app-elastic [options]="coiElastic" [placeHolder]="'Entity Name, Country etc.'"
          [uniqueId]="'btn-entity-elastic'" (selectedResult)="redirectToEntity($event)"></app-elastic>
      </div>
      <div class="ml-15 justify-content-end d-flex mx-3">
        <button class="btn btn-primary fs-13 d-flex align-items-center" id="advanced-search" title="Advance search"
          (click)="isViewAdvanceSearch=!isViewAdvanceSearch" aria-controls="view-advance-search" aria-expanded="true"
          aria-label="Toggle Advanced Search"><mat-icon class="add-icon mt-1">tune</mat-icon> Advanced
          Search
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isViewAdvanceSearch" class="card mt-2 border shadow-sm rounded-3" id="view-advance-search">
    <div class="card-body mb-3">
      <div class="form-row row mx-2">
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="adv-entity-name">Entity Name</label>
          <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
            [httpOptions]="EntitySearchOptions" [placeHolder]="'Type here for entity name'"
            class=" text-secondary fs-13" [uniqueId]="'adv-entity-name'">
          </app-endpoint-search>
        </div>
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="adv-entity-country">Country</label>
          <app-endpoint-search (onSelect)="selectEntityCountry($event)" [clearField]="advSearchClearField"
            [httpOptions]="countrySearchOptions" class=" text-secondary fs-13"
            [placeHolder]="'Type here for entity country'" [uniqueId]="'adv-entity-country'">
          </app-endpoint-search>
        </div>
        <div class="col-3">
          <label class="fw-bold fs-14 d-block">Status</label>
          <app-look-up (selectedResult)="onLookupSelect($event, 'property20')" [options]="statusTypeOptions"
            [selectedLookUpList]="lookupValues['property20']" [externalArray]="entityManagementService.statusCodes" [isExternalArray]="true" class=" text-secondary fs-13"
            [uniqueId]="'adv-disclosure-type'">
          </app-look-up>
        </div>
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="adv-entity-type">Entity Type</label>
          <app-look-up (selectedResult)="onLookupSelect($event, 'property21')" [options]="entityTypeOptions"
            [selectedLookUpList]="lookupValues['property21']" class=" text-secondary fs-13"
            [uniqueId]="'adv-entity-type'">
          </app-look-up>
        </div>
      </div>
      <div class="form-row row mt-4 mx-2">
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="btn-has-sfi">Has SFI</label>
          <div class="activate-btn align-items-center d-flex">
            <span class="pt-1 fs-13" id="btn-has-sfi" aria-label="Toggle Has Sfi" title="Toggle Has Sfi">
              <a *ngIf="entityManagementService.coiRequestObject.property18" class="pl-2">
                <label class="switch">
                  <input type="checkbox" checked
                    (click)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18"
                    (keypress.enter)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18">
                  <span class="slider round"><small>On</small></span>
                </label>
              </a>
              <a *ngIf="!entityManagementService.coiRequestObject.property18" class="pl-2">
                <label class="switch">
                  <input type="checkbox" (click)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18"
                    (keypress.enter)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18">
                  <span class="slider round"><small class="deactivate-text">Off</small></span>
                </label>
              </a>
            </span>
          </div>
        </div>
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="btn-has-disclosure">Has Disclosure</label>
          <div class="activate-btn align-items-center d-flex">
            <span class="pt-1 fs-13" id="btn-has-disclosure" aria-label="Toggle Has Disclosure"
              title="Toggle Has Disclosure">
              <a *ngIf="entityManagementService.coiRequestObject.property19" class="pl-2">
                <label class="switch"
                  (click)="entityManagementService.coiRequestObject.property19 = !entityManagementService.coiRequestObject.property19">
                  <input type="checkbox" checked>
                  <span class="slider round"><small>On</small></span>
                </label>
              </a>
              <a *ngIf="!entityManagementService.coiRequestObject.property19" class="pl-2">
                <label class="switch"
                  (click)="entityManagementService.coiRequestObject.property19 = !entityManagementService.coiRequestObject.property19">
                  <input type="checkbox">
                  <span class="slider round"><small class="deactivate-text">Off</small></span>
                </label>
              </a>
            </span>
          </div>
        </div>
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="adv-entity-type">Risk Level</label>
          <app-look-up (selectedResult)="onLookupSelect($event, 'property22')" [options]="riskLevelTypeOptions"
            [selectedLookUpList]="lookupValues['property22']" class=" text-secondary fs-13"
            [uniqueId]="'adv-entity-type'">
          </app-look-up>
        </div>
        <div class="col-3 d-flex justify-content-end align-items-end">
          <button class="btn btn-outline-secondary  fs-14 py-2 px-4" id="btn-clear"
            (click)="clearAdvancedSearch()" title="Clear">Clear</button>
          <button class="btn btn-primary fs-14" id="btn-search" (click)="advancedSearch()" title="Search">Search</button>
        </div>
      </div>
    </div>
  </div>
  <app-entity-list *ngIf="isSearchData" [entityActiveTabName]="activeTabName"
    (modifyEntityId)="selectedEntity($event);isViewAdvanceSearch = false" (navNextPage)="navigateNextPage($event)"
    [entityList]="entityList" [resultCount]="resultCount"></app-entity-list>
</div>
