<div class="container-fluid px-3 py-2" [@slideInOut]>
  <div *ngIf="!viewDetails" class="row">
    <div class="col-12 d-flex">
      <div class="col-8">
        <ul class="header-navigation-links d-flex align-items-center m-0 fs-13 cursor-pointer p-0 text-secondary">
          <li class="mr-2 cursor-pointer" [ngClass]="{'active': activeTabName === 'ALL_ENTITIES'}" role="presentation"
            (click)="entityTabName('ALL_ENTITIES')">All Entities
            <span *ngIf="activeTabName === 'ALL_ENTITIES'"
              class="active-color"><mat-icon>arrow_drop_down</mat-icon></span>

          </li>
          <li class="mr-2 cursor-pointer" [ngClass]="{'active': activeTabName === 'UNVERIFIED'}" role="presentation"
            (click)="entityTabName('UNVERIFIED')">Unverified Entities
            <span *ngIf="activeTabName === 'UNVERIFIED'"
              class="active-color"><mat-icon>arrow_drop_down</mat-icon></span>
          </li>
          <li class="mr-2 cursor-pointer" [ngClass]="{'active': activeTabName === 'HIGH_RISK'}" role="presentation"
            (click)="entityTabName('HIGH_RISK')">High Risk Entities
            <span *ngIf="activeTabName === 'HIGH_RISK'" class="active-color"><mat-icon>arrow_drop_down</mat-icon></span>

          </li>
        </ul>
      </div>
      <div class="col-4 justify-content-end d-flex ">
        <button class="btn btn-primary d-flex fs-13" id="add-new-entity"><mat-icon class="add-icon">add</mat-icon> Add New
          Entity</button>
      </div>
    </div>
  </div>
  <!-- <app-view-entity-details  *ngIf="viewDetails" (hideEntityDetails)="hideEntityDetails($event)"></app-view-entity-details> -->
  <div class="row mt-5">
    <div class="col-10 mt-1">
      <app-elastic [options]="coiElastic" style="width: 400px" [placeHolder]="'Entity Name, Country etc.'"
        (selectedResult)="redirectToEntity($event)"></app-elastic>
    </div>
    <div class="col-2 mt-1 justify-content-end d-flex">
      <button class="btn btn-primary fs-13 d-flex" id="advanced-search"
        (click)="isViewAdvanceSearch=!isViewAdvanceSearch"><mat-icon class="add-icon">tune</mat-icon> Advanced Search</button>
    </div>
  </div>
  <div [@slowSlideInOut] *ngIf="isViewAdvanceSearch" class="card mt-4">
    <div class="row m-2">
      <div class="col-12 d-flex">
        <div class="col-3 d-grid ml-3">
          <label class="fw-bold fs-14">Entity Name</label>
          <input type="text" class="form-control text-secondary fs-13" placeholder="Type here for the entity name">
        </div>
        <div class="col-3 d-grid ml-3">
          <label class="fw-bold fs-14">Country</label>
          <input type="text" class="form-control text-secondary fs-13" placeholder="Type here for the country">
        </div>
        <div class="col-3 d-grid ml-3">
          <label class="fw-bold fs-14">Status</label>
          <select class="form-select text-secondary fw-medium fs-13">
            <option value="">--Select--</option>
            <option value="1">Active</option>
            <option value="2">Inactive</option>
          </select>
        </div>
        <div class="col-3 d-grid ml-3">
          <label class="fw-bold fs-14">Entity Type</label>
          <select class="form-select text-secondary fw-medium fs-13">
            <option value="">--Select--</option>
            <option value="1">Publicly owned</option>
            <option value="2">Private</option>
            <option value="3">For Profit</option>
            <option value="4">Non-Profit</option>
          </select>
        </div>
      </div>
      <div class="col-12 d-flex mt-3">
        <div class="col-3 d-grid">
          <label class="fw-bold fs-14">Has SFI</label>
          <div class="activate-btn align-items-center d-flex pt-1">
            <span class="pt-1 fs-13">
              <a *ngIf="isHasSfiOn" class="pl-2">
                <label class="switch" (click)="isHasSfiOn = !isHasSfiOn">
                  <input type="checkbox" checked>
                  <span class="slider round"><small>On</small></span>
                </label>
              </a>
              <a *ngIf="!isHasSfiOn" class="pl-2">
                <label class="switch" (click)="isHasSfiOn= !isHasSfiOn">
                  <input type="checkbox">
                  <span class="slider round"><small class="deactivate-text">Off</small></span>
                </label>
              </a>
            </span>
          </div>
        </div>
        <div class="col-3 d-grid">
          <label class="fw-bold fs-14">Has Disclosure</label>
          <div class="activate-btn align-items-center d-flex pt-1">
            <span class="pt-1 fs-13">
              <a *ngIf="isHasDisclosureOn" class="pl-2">
                <label class="switch" (click)="isHasDisclosureOn = !isHasDisclosureOn">
                  <input type="checkbox" checked>
                  <span class="slider round"><small>On</small></span>
                </label>
              </a>
              <a *ngIf="!isHasDisclosureOn" class="pl-2">
                <label class="switch" (click)="isHasDisclosureOn = !isHasDisclosureOn">
                  <input type="checkbox">
                  <span class="slider round"><small class="deactivate-text">Off</small></span>
                </label>
              </a>
            </span>
          </div>
        </div>
        <div class="col-3 d-grid">
          <label class="fw-bold fs-14">Risk Level</label>
          <select class="form-select text-secondary fw-medium fs-13">
            <option value="">--Select--</option>
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
        <div class="col-2 d-flex justify-content-end align-items-end position">
          <button class="btn btn-outline-secondary  fs-13 py-2 px-4" id="btn-clear">Clear</button>
          <button class="btn btn-primary fs-13">Search</button>
        </div>
      </div>
    </div>
  </div>
  <app-entity-list [entityActiveTabName]="activeTabName" (viewEntityDetails)="selectedEntity($event);isViewAdvanceSearch = false"></app-entity-list>
</div>
