<div class="text-right">
</div>
<div class="card mt-3 mb-3">
    <div class="card-header py-2">
        <h4 class="card-title d-flex justify-content-between">
            <span class="d-flex align-items-center">Action List</span>
            <span>
                <ul class="nav nav-pills mb-0 hand-cursor">
                    <li class="nav-item pt-2" (click)="inboxTab = 'PENDING';getActionList(false);isInboxInfo = true;">
                        <a class="nav-link nav-item " [ngClass]="{active:(inboxTab == 'PENDING')}">Pending</a>
                    </li>
                    <li class="nav-item pt-2" (click)="inboxTab = 'PROCESSED'; getActionList(true);isInboxInfo = true;">
                        <a class="nav-link nav-item " [ngClass]="{active:(inboxTab == 'PROCESSED')}">Processed</a>
                    </li>
                    <li class="ml-2 pt-2">
                        <a class="switch-view px-3 py-2" (click)="viewInboxSearch = !viewInboxSearch;"><i
                                aria-hidden="true" class="fa fa-search " title="Search"></i> </a>
                    </li>
                    <li class="ml-2 pt-2">
                        <a class="switch-view px-3 py-2" (click)="clearInboxSearchField();getInboxTab()">
                            <i class="fa fa-refresh" aria-hidden="true" title="Refresh"></i></a>
                    </li>
                    <li class="ml-3 Back-to-Award-List ">
                        <button type="button" class="btn more-btn" [routerLink]="['/coi/user-dashboard']"
                            title="Back to Award List"><i class="fa fa-reply" aria-hidden="true"></i></button>
                    </li>
                </ul>
            </span>
        </h4>
    </div>
    <div *ngIf="isInboxInfo && inboxDetails?.length > 0"
        class="success-banner px-3 my-2 mx-4 d-flex justify-content-between align-items-center">
        <div>
            <i class="fa fa-info-circle mr-1 info-icon" aria-hidden="true"></i>
            <em *ngIf="inboxTab == 'PENDING'">Action list that are awaiting an action</em>
            <em *ngIf="inboxTab == 'PROCESSED'">Processed list of last 6 months</em>
        </div>
        <button type="button" id="modal-close" class="close close-button " data-dismiss="modal"
            (click)="isInboxInfo = false" aria-label="Close">
            <span class="d-block" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="viewInboxSearch" class="card inbox-card">
        <button type="button" id="modal-close" class="btn no-outline " data-dismiss="modal"
            (click)="viewInboxSearch = false" aria-label="Close">
            <span class="d-block modal-close" aria-hidden="true">&times;</span>
        </button>
        <div class="card-content">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-12 mb-2">
                        <label>Module</label>
                        <select [(ngModel)]="inboxObject.moduleCode" class="form-control wd-100">
                            <option [ngValue]=null>--Select--</option>
                            <option [value]="module.moduleCode" *ngFor="let module of moduleList">
                                {{module.description}}</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label>Action Date</label>
                        <div class="d-flex">
                            <span class="dateField">
                                <input matInput [matDatepicker]="fromDt" class="d-inline-block form-control"
                                    [(ngModel)]="inboxObject.fromDate" placeholder="{{datePlaceHolder}}" id="from-date"
                                    (click)="fromDt.open()">
                                <span class="fa fa-calendar fa-large pointer insidePicker hand-cursor"
                                    title="open calendar" (click)="fromDt.open()"></span>
                                <mat-datepicker #fromDt (opened)="setFocusToElement('from-date')">
                                </mat-datepicker>
                            </span>
                            <span>-</span>
                            <span class="dateField">
                                <input matInput [matDatepicker]="toDt" class="d-inline-block form-control"
                                    [(ngModel)]="inboxObject.toDate" placeholder="{{datePlaceHolder}}" id="to-date"
                                    (click)="toDt.open()">
                                <span class="fa fa-calendar fa-large pointer insidePicker hand-cursor"
                                    title="open calendar" (click)="toDt.open()"></span>
                                <mat-datepicker #toDt (opened)="setFocusToElement('to-date')">
                                </mat-datepicker>
                            </span>
                        </div>
                    </div>
                    <div class="text-right col-12 mt-3">
                        <button id="adv-search-clear-grant" class="btn btn-secondary btn-sm btn-xs mr-sm-2 me-3"
                            (click)="clearInboxSearchField();getInboxTab()">Clear</button>
                        <button id="adv-search-grant" class="btn btn-primary btn-sm btn-xs"
                            (click)="getInboxTab()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div *ngIf="testInboxDeatils?.length > 0" class="table-responsive">
                <table class="table tableSkin">
                    <caption class=""></caption>
                    <thead class="">
                        <tr>                          
                            <th class="tablehead fs-13 mb-3"scope="col " colspan="2"><i class="fa fa-info-circle mr-1"></i> Items awaiting an Action :<button type="button" class="btn-close m-0 p-0" data-bs-dismiss="modal" id="support-dissmiss-btn"  aria-label="Close"></button></th>                       
                        </tr>
                    </thead>
                    <tbody class="pt-3">
                        <tr class="pull-up pt-3" *ngFor="let testinbox of testInboxDeatils; let i= index">
                            <td class="td-pd pt-3" (click)="goToActionPath(testinbox?.inbox)">
                                <div>
                                    <span class="font-style">{{(testinbox.inbox?.message?.description)?.length>1 ?
                                        (testinbox.inbox?.message?.description | slice:0:150)+'...' :
                                        testinbox.inbox?.message?.description}}</span><br>
                                    <span class="font-style fw-normal">disclosureId: {{(testinbox.inbox?.message?.disclosureId)?.length>1 ?
                                        (testinbox.inbox?.message?.disclosureId | slice:0:150)+'' :
                                        testinbox.inbox?.message?.disclosureId}}</span>
                                    <!-- <span class="d-block text-break">{{(testinbox.inbox?.message?.description)}}</span> -->
                                    <span class="d-block text-break fw-normal ">{{(testinbox.inbox?.message?.Proposal)}}</span>
                                </div>
                            </td>
                            <td style="width:20%" (click)="goToActionPath(testinbox?.inbox)">
                                <div class="text-right">
                                    <span class="block-display fw-600">
                                        <i class="fa fa-clock-o mr-2"
                                            title="{{testinbox?.inbox?.arrivalDate}}"
                                            aria-hidden="true"></i><span>{{testinbox?.inbox?.arrivalDate}}</span></span>
                                           
                                             <!-- demo data(time)
                                            <!-- <span class="block-display fw-600">
                                                <i class="fa fa-clock-o mr-2"
                                                    title="{{testinbox?.inbox?.arrivalDate | dateFormatter}}"
                                                       aria-hidden="true"></i>{{testInboxDeatils?.inbox?.arrivalDate}}</span> -->
                                                       <label *ngIf="i >= 2" style="color: #007bff;font-weight: 400; cursor: pointer;">Development Proposal</label>
                                                       <label *ngIf="i < 2" style="color: #007bff;font-weight: 400; cursor: pointer;">Award</label>
                                    <span
                                        *ngIf="testinbox.inbox.messageTypeCode !== '121' && testinbox.inbox.messageTypeCode !== '122' else variation"
                                        class="{{testinbox.inbox.class}} float-right mt-1">
                                        {{testinbox?.inbox?.name}}</span>
                                    <ng-template #variation>
                                        <span class="{{testinbox?.inbox.class}} float-right mt-1">Variation Request</span>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-data-container" *ngIf="inboxDetails?.length > 0">
                <span class="no-data-icon-outer">
                    <div class="no-data-icon">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                </span>
                <h4>There is no information in this section.</h4>
            </div>
        </div>
    </div>
</div>