<!-- Location -->
<div class="card my-2">
    <div class="card-header py-2">
					<h4 class="mb-0">
                        <div class="justify-content-between row d-flex align-items-center position-relative">
                            <div class="col fs-16 fw-bold my-2">Reviewers</div>
                            <div *ngIf="coiService.isCOIAdministrator &&
                                                        ['3', '8', '7'].includes(coiDisclosure?.coiReviewStatusType?.reviewStatusCode)"
                                class="col-auto me-5">
                                <button (click)="clearReviewModal()"
                                    class="btn btn-primary fs-14 btn-sm mt-0 justify-content-center d-flex align-items-center"
                                    data-bs-toggle="modal" title="Add Reviewer" data-bs-target="#add-coi-reviewer-modal" id="coi_add_reviewer_btn">
                                    <mat-icon class="me-2">person_add</mat-icon>
                                    Add Reviewer
                                </button>
                            </div>
                            <button (click)="isExpanded = !isExpanded" id="coi_add_reviewer_collapse"
                                title="Click to {{isExpanded ? 'collapse' : 'view'}} Review Details"
                                attr.aria-label="{{ isExpanded ? 'collapse' : 'view' }} Review Details"
                                class="toggle-btn align-items-center border btn d-flex justify-content-center p-0 rounded-5 shadow-sm">
                                <mat-icon>{{!!isExpanded? 'expand_less' : 'expand_more'}}</mat-icon>
                            </button>
                        </div>
                    </h4>
    </div>
    <div class="card-body fs-14" *ngIf="isExpanded">
        <div *ngIf="!reviewerList?.length">
            <app-no-information> </app-no-information>
        </div>
    <div class="table-responsive coi-table-striped">
        <table *ngIf="reviewerList?.length" class="table table-bordered table-striped">
            <caption class="sr-only">Review</caption>
            <thead>
                <tr>
                    <th class="coi-text-dark">
                        Location
                    </th>
                    <th class="coi-text-dark">
                        Reviewers
                    </th>
                    <th class="coi-text-dark desc-col">
                        Description
                    </th>
                    <th class="coi-text-dark">
                        Assigned On
                    </th>
                    <th class="coi-text-dark">
                        Review End Date
                    </th>
                    <th class="coi-text-dark">
                        Days at Location
                    </th>
                    <th class="coi-text-dark">
                        Status
                    </th>
                    <th class="coi-text-dark text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reviewer of reviewerList; let index = index">
                    <td class="coi-text-light fw-600" [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]">{{reviewer?.reviewLocationType?.description}}</td>
                    <td class="coi-text-light" [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]">
                        <app-no-data-label [classesToApply]="fs-14" [valueToShow]="reviewer?.assigneePersonName" [customNoDataFoundMessage]="'-- No Reviewer assigned --'">
                            <span class="fw-600">{{reviewer?.assigneePersonName}}</span>
                        </app-no-data-label>
                    </td>
                    <td class="coi-text-light align-middle desc-col text-break">
                        <app-no-data-label [valueToShow]="reviewer?.description">
                            <span *ngIf="reviewer?.description">{{reviewer?.description.length >
                                180 && !collapseViewMore[reviewer?.coiReviewId] ? (reviewer?.description | slice:0:75)+'...' : reviewer?.description}}
                                <ng-container *ngIf="reviewer?.description.length > 180">
                                    <span (click)="collapseViewMoreOption(reviewer?.coiReviewId, collapseViewMore[reviewer?.coiReviewId])"
                                        tabindex="0"
                                        attr.aria-label="Click to {{collapseViewMore[reviewer?.coiReviewId] ? 'Read Less' : 'Read More'}} Description of {{reviewer?.reviewLocationType?.description}}"
                                        title="{{collapseViewMore[reviewer?.coiReviewId] ? 'Read Less' : 'Read More'}}"
                                        (keyup.enter)="collapseViewMoreOption(reviewer?.coiReviewId, collapseViewMore[reviewer?.coiReviewId])"
                                        (keyup.space)="collapseViewMoreOption(reviewer?.coiReviewId, collapseViewMore[reviewer?.coiReviewId])"
                                        *ngIf="reviewer?.description.length > 180" class="fs-14 fw-medium link-primary">
                                        {{collapseViewMore[reviewer?.coiReviewId] ? "Read Less" : "Read More"}}
                                    </span>
                                </ng-container>
                            </span>
                        </app-no-data-label>
                    </td>
                    <td class="coi-text-light" [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]">{{reviewer?.startDate | dateFormatter }}
                    </td>
                    <td class="coi-text-light text-center" [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]" *ngIf="reviewer?.endDate">{{reviewer?.endDate | dateFormatter }}</td>
                    <td class="text-center coi-text-light" [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]" *ngIf="!reviewer?.endDate">  </td>
                    <td class="coi-text-light text-center" [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]">{{getDaysAtLocation(reviewer.startDate, reviewer.endDate)}}</td>
                    <td class="coi-text-light" [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]">
                      <app-no-data-label *ngIf="!reviewer?.reviewStatusTypeCode"[valueToShow]="reviewer?.reviewStatusTypeCode"></app-no-data-label>
                      <span *ngIf="reviewer?.reviewStatusTypeCode" [class.text-black]="reviewer?.reviewStatusTypeCode == '1'" class="fw-medium badge bg-{{getReviewStatusBadge(reviewer?.reviewerStatusType?.reviewStatusCode)}} fs-14 rounded-5">
                      {{reviewer?.reviewerStatusType?.description}}
                      </span>
                    </td>
                    <td [class.align-middle]="!collapseViewMore[reviewer?.coiReviewId]">
                        <div class="d-flex align-items-center justify-content-center">
                            <ng-container *ngIf="isMangeReviewAction">
                                <button *ngIf="reviewer.reviewStatusTypeCode == '1'" id="coi_reviewer_start_review_{{reviewer?.coiReviewId}}"
                                    title="Start Review of {{reviewer?.reviewLocationType?.description}}"
                                    attr.aria-label="Start Review of {{reviewer?.reviewLocationType?.description}}"
                                    (click)="updateCoiReviewStage(index,reviewer,'START')" (keyup.enter)="updateCoiReviewStage(index,reviewer,'START')"
                                    (keyup.space)="updateCoiReviewStage(index,reviewer,'START')"
                                    class="btn btn-primary-icon d-flex align-items-center my-1">
                                    <mat-icon class="material-icons-outlined">play_circle_filled</mat-icon>
                                </button>
                                <button *ngIf="reviewer.reviewStatusTypeCode == '3'" id="coi_reviewer_complete_review_{{reviewer?.coiReviewId}}"
                                    title="Complete Review of {{reviewer?.reviewLocationType?.description}}"
                                    attr.aria-label="Complete Review of {{reviewer?.reviewLocationType?.description}}"
                                    class="btn btn-primary-icon d-flex align-items-center my-1"
                                    (keyup.enter)="updateCoiReviewStage(index,reviewer,'COMPLETE')"
                                    (keyup.space)="updateCoiReviewStage(index,reviewer,'COMPLETE')"
                                    (click)="updateCoiReviewStage(index,reviewer,'COMPLETE')">
                                    <mat-icon class="material-icons-outlined">stop_circle</mat-icon>
                                </button>
                            </ng-container>
                            <button class="btn btn-primary-icon d-flex align-items-center my-1"
                                id="coi_reviewer_review_comment_{{reviewer?.coiReviewId}}"
                                title="Add Review Commnets for {{reviewer?.reviewLocationType?.description}}"
                                attr.aria-label="Add Review Commnets for {{reviewer?.reviewLocationType?.description}}"
                                [ngClass]="{'review-comment-position':(!isMangeReviewAction && isOPAEditMode)}"
                                (click)="modifyReviewComment(reviewer)">
                                <mat-icon>rate_review</mat-icon>
                            </button>
                                <!-- more actions -->
                                <ng-container *ngIf="isMangeReviewAction">
                                    <button *ngIf="reviewer.reviewStatusTypeCode !== '2'" [matMenuTriggerFor]="beforeMenu"
                                        class="btn btn-primary-icon d-flex align-items-center my-1" id="coi_reviewer_more_actions_{{reviewer?.coiReviewId}}"
                                        attr.aria-label="More Action of {{reviewer?.reviewLocationType?.description}}" role="button" type="button"
                                        title="More Action of {{reviewer?.reviewLocationType?.description}}">
                                        <mat-icon class="btn-color">more_vert</mat-icon>
                                    </button>
                                </ng-container>
                                <mat-menu #beforeMenu="matMenu" xPosition="before">
                                    <button
                                        class=" text-nowrap border-0 rounded-0 btn fs-14 d-flex justify-content-start w-100 align-items-center py-2 px-3"
                                        id="coi_reviewer_edit_review" mat-menu-item tabindex="0"
                                        title="Edit Review of {{reviewer?.reviewLocationType?.description}}"
                                        attr.aria-label="Edit Review of {{reviewer?.reviewLocationType?.description}}" data-bs-toggle="modal"
                                        data-bs-target="#add-coi-reviewer-modal" (click)="editReview(reviewer, index)">
                                        <mat-icon class="me-2 more-options-icon">edit</mat-icon>
                                        <span>Edit Review</span>
                                    </button>
                                    <button
                                        class="text-nowrap border-0 rounded-0 btn fs-14 d-flex justify-content-start w-100 align-items-center py-2 px-3"
                                        id="coi_reviewer_delete_review" tabindex="0" mat-menu-item
                                        title="Delete Review of {{reviewer?.reviewLocationType?.description}}"
                                        attr.aria-label="Delete Review of {{reviewer?.reviewLocationType?.description}}" data-bs-toggle="modal"
                                        data-bs-target="#deleteReviewModal" (click)="modifyIndex = index;reviewActionConfirmation = reviewer">
                                        <mat-icon class="me-2 more-options-icon">delete</mat-icon>
                                        <span>Delete Review</span>
                                    </button>
                                </mat-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<!-- Review Ends-->
<!-- DELETE MEMBER WARNING MODAL -->
<div class="modal modal-coi fade mySkinDialog modal-opacity" tabindex="-1" id="deleteReviewModal"
    role="dialog" aria-labelledby="coiDeleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="coiDeleteModalTitle">Delete Review</h5>
                <button aria-label="Click to close delete reviewer modal" title="Close" class="btn-close fs-12" data-bs-dismiss="modal"  id="delete_coi_reviewer_dissmiss_btn"
                    type="button">
                </button>
            </div>
            <div class="modal-body">
                <p class="fs-14 mb-0">Are you sure you want to delete this review?</p>
            </div>
            <div class="modal-footer">
                <button id="delete_coi_reviewer_cancel_btn"  type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    data-bs-toggle="modal" title="Cancel" aria-label="Click to close delete Reviewer modal">Cancel</button>
                <button id="delete_coi_reviewer_delete_btn"  type="button" class="btn btn-primary fs-14"
                    (click)="deleteReview()" data-bs-dismiss="modal" title="Delete Review" aria-label="Click to delete reviewer">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-coi fade mySkinDialog" tabindex="-1" aria-labelledby="addEditReviewerModal" id="add-coi-reviewer-modal" role="dialog"
    data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditReviewerModal">{{ modifyIndex != -1 ? 'Edit Reviewer' : 'Add Reviewer' }}
                </h5>
                <button type="button" title="Close" class="btn-close fs-12" data-bs-dismiss="modal" attr.aria-label="Click to close {{modifyIndex != -1 ? 'Edit Reviewer' : 'Add Reviewer'}} modal"
                    (click)="reviewDetails = {}">
                </button>
            </div>
            <div class="modal-body">
                <div class="margin-person-card mb-3 mx-0">
                    <app-person-project-entity-card [personProjectOrEntity]="personProjectDetails" [disclosureHeaderDetails]="coiDisclosure"></app-person-project-entity-card>
                </div>
                <div class="row">
                    <div class="col-4"  role="listbox" aria-label="Review Location dropdown">
                        <label class="block-display" for="coi_review_location">
                            <span class="text-danger me-1">*</span>Location</label>
                        <app-look-up (selectedResult)="onLocationSelect($event)"
                        [options]="disReviewLocation"
                        [selectedLookUpList]="locationType"
                        [isError]="validationMap.has('location')"
                        [defaultValue]="reviewDetails.reviewLocationType ? reviewDetails.reviewLocationType.description : ''"
                        [title]="'Review Location'"
                        [uniqueId]="'coi_review_location'">
                        </app-look-up>
                        <div *ngIf="validationMap.has('location')">
                            <span class="mandatory text-danger fs-14 d-inline-block">{{validationMap.get('location')}}</span>
                        </div>
                    </div>
                    <div class="col-4" title="Reviewer">
                        <label class="block-display" for="coi_reviewer">Reviewer</label>
                        <app-elastic [options]="personElasticOptions" [clearField]="assigneeClearField"
                                     [isError]="validationMap.has('reviewer')" [uniqueId]="'coi_reviewer'"
                                     [placeHolder]="'Search Reviewer'" (selectedResult)="assigneeSelect($event)">
                        </app-elastic>
                        <div *ngIf="validationMap?.has('reviewer')">
                           <span class="mandatory text-danger fs-14 d-inline-block">{{validationMap?.get('reviewer')}}</span>
                        </div>
                    </div>
                    <div class="col-4"  role="listbox" aria-label="Review Status dropdown">
                        <label class="block-display" for="coi_review_location">
                            <span class="text-danger me-1">*</span>Status</label>
                            <app-look-up (selectedResult)="onStatusSelect($event)"
                            [options]="disReviewStatus" [isError]="validationMap.has('reviewStatus')"
                            [selectedLookUpList]="reviewerStatusType"
                            [defaultValue]="reviewDetails.reviewerStatusType ? reviewDetails.reviewerStatusType.description : ''"
                            [uniqueId]="'coi_review_location'"
                            [title]="'Review Status'">
                            </app-look-up>
                            <div *ngIf="validationMap?.has('reviewStatus')">
                                <span class="mandatory text-danger fs-14 d-inline-block">{{validationMap?.get('reviewStatus')}}</span>
                            </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <label class="block-display" for="coi_review_start_date">
                            <span class="text-danger me-1">*</span>Assigned On</label>
                            <div>
                                <span class="dateField w-100">
                                  <input matInput [matDatepicker]="startDate" id="coi_review_start_date" placeholder="{{datePlaceHolder}}"
                                    style="width: 100% !important" (click)="startDate.open()" autocomplete="off" class="d-inline-block form-control"
                                    [(ngModel)]="reviewStartDate" (keypress)="_commonService._keyPress($event, 'date')" (ngModelChange)="compareDates('START')"
                                    [ngClass]="(validationMap?.has('reviewStartDate')) ? 'is-invalid d-block' : ''" title="Assgined On"/>
                                  <i title="Click to select Start date" (click)="startDate.open()" [class.date-field-error]="validationMap?.has('reviewStartDate')"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor" title="Click to select date"></i>
                                  <mat-datepicker #startDate>
                                  </mat-datepicker>
                                </span>
                                <div *ngIf="validationMap.has('reviewStartDate')">
                                    <span class="mandatory text-danger fs-14 d-inline-block">{{validationMap.get('reviewStartDate')}}</span>
                                </div>
                              </div>
                    </div>
                    <div class="col-4" *ngIf="reviewDetails?.reviewStatusTypeCode == '2'">
                        <label class="d-block" for="coi_review_end_date"><span class="text-danger me-1">*</span>Review End Date </label>
                        <div>
                            <span class="dateField w-100">
                              <input matInput [matDatepicker]="endDate" id="coi_review_end_date" placeholder="{{datePlaceHolder}}"
                                style="width: 100% !important" (click)="endDate.open()" autocomplete="off" class="d-inline-block form-control"
                                [(ngModel)]="reviewEndDate" (keypress)="_commonService._keyPress($event, 'date')" (ngModelChange)="compareDates('END')"
                                [ngClass]="(validationMap?.has('reviewEndDate') || validationMap.get('endDate')) ? 'is-invalid d-block' : ''" title="Review End Date"/>
                              <i title="Click to select Start date" (click)="endDate.open()" [class.date-field-error]="validationMap?.has('reviewEndDate') || validationMap.has('endDate')"
                                class="fa fa-calendar fa-large insidePicker hand-cursor" title="Click to select date"></i>
                              <mat-datepicker #endDate>
                              </mat-datepicker>
                            </span>
                            <div *ngIf="validationMap.has('reviewEndDate')">
                                <span class="mandatory text-danger fs-14 d-inline-block">{{validationMap.get('reviewEndDate')}}</span>
                            </div>
                            <div *ngIf="validationMap.has('endDate')">
                                <span class="mandatory text-danger fs-14 d-inline-block">{{validationMap.get('endDate')}}</span>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label class="block-display" for="coi_review_description">
                            Description</label>
                        <textarea [(ngModel)]="reviewDetails.description" appLengthValidator [isShowLimiter]="true"
                            [limit]="2000" rows="3" class="form-control"  id="coi_review_description" title="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary fs-14" data-bs-dismiss="modal" id="coi-add-reviewer-close"
                attr.aria-label="Click to cancel {{ modifyIndex != -1 ? 'Edit Reviewer' : 'Add Reviewer' }} and Close modal"
                    type="button" title="Close" (click)="clearReviewModal();">Close</button>
                <button id="agreement-approve-disapprove-btn" class="btn btn-primary fs-14"
                    attr.aria-label="Click to {{ modifyIndex != -1 ? 'Update Reviewer' : 'Add Reviewer' }}"
                    (click)="saveOrUpdateCoiReview();" type="button" [title]="modifyIndex != -1 ? 'Update Reviewer' : 'Add Reviewer'">
                    {{ modifyIndex != -1 ? 'Update Reviewer' : 'Add Reviewer' }}
                </button>
            </div>
        </div>
    </div>
</div>
<span (click)="clearReviewModal()" id="add-review-modal-trigger" data-bs-target="#add-coi-reviewer-modal"
    data-bs-toggle="modal" class="d-none"></span>
