.fixed-tree {
  z-index : 1002;
  position: fixed;
  right   : 0;
  top     : 0;
}

.relationship-content {
  height: 770px;
  width             : 1200px;
  z-index           : 5;
  position          : relative;
  background        : #fbfbff;
  padding           : 10px;
  border-radius     : 5px;
  -moz-box-shadow   : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow        : 0 2px 2px 0 #0000001a, 0 3px 1px -2px #0000001a, 0 1px 5px 0 #0003;
  // overflow          : auto;
  // transform      : translateX(-2px);
  // transition     : width 2s, transform 2s;
}

.overlay {
  position        : fixed;
  /* Sit on top of the page content */
  display         : none;
  /* Hidden by default */
  width           : 100%;
  /* Full width (cover the whole page) */
  height          : 100%;
  /* Full height (cover the whole page) */
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba(0, 0, 0, 0.13);
  /* Black background with opacity */
  z-index         : 1002;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor          : pointer;
  /* Add a pointer on hover */
}

.round-button {
  border-radius: 50%;
  padding      : 7px;
  width        : 28px;
  height       : 31px;
  border       : 1px solid;
  position     : relative;
}

.close {
  position     : absolute;
  top          : 35px;
  color        : grey;
  background   : #ffffff;
  z-index      : 1500;
  padding      : 1.2rem 1.3rem;
  border-radius: 50%;
  left         : -27px;
  opacity      : 1;
  width        : 40px;
  height       : 40px;
  font-size    : 14px;
}

.close img {
  width    : 17px;
  position : absolute;
  top      : 50%;
  right    : 50%;
  transform: translate(50%, -50%);
}

.info-card {
    background: #f3f3f3;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
}

.btn-outline-secondary {
  font-size: 1.4rem;
  min-width: 5em;
  padding: .5rem 1rem;
  height: 35px;
}

.select-default {
  width: 500px;
}

.outer-card {
  box-shadow: 0 0px 8px rgba(53, 49, 80, 0.2);
}

.comment-card {
  border: 1px solid #e4e4e4;
}

.info-icon {
  margin-top : -7px;
  height     : 22px;
  width      : 22px;
  font-size  : 16px;
  position   : absolute;
  margin-left: 2px;
  color      : #6f7395;
  cursor     : pointer;
}

.main-title {
  border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
    margin-top: 10px;
}

.history-border {
  box-shadow: 0px 0px 3px #00000029;
}

.time-line::before {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 2px dashed #258CC7;
  left: 44px;
}

// .first-item::before {
//   height: 103%;
//   top: 0px;
// }

// .time-line::after {
//   content: '';
//   width: 20px;
//   height: 20px;
//   position: absolute;
//   // left: -31px;
//   // top: 43%;
//   border-radius: 50%;
//   border: 8px solid rgba(255, 255, 255, 0.74);
//   background: #258CC7;
// }

// .last-item::before {
//   height: 25%;
// }

.time-line {
  max-width: 98%;
}

// .first-item::before {
//   height: 103%;
//   top: 0px;
// }

.relative-position {
  position: relative;
  left: -123px;
}

.person-card {
  background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0px 0px 20px 20px;
}

.rounded-pill {
  position: absolute;
}
.person-icon {
  font-size: 21px;
}

.bg-success {
  background-color: #6cc973;
}

