<div #sfiNavOverlay [class.overlay]="sfiService?.isShowSfiNavBar">
  <div @enterAnimation *ngIf="sfiService?.isShowSfiNavBar"
    class="task-right-div card-height d-flex align-items-center">
    <app-slider-close-btn (closeAction)="hideSfiNavBar()"></app-slider-close-btn>
    <div class="tool-kit-body card-height scrollable-table">
      <div class="card card-height">
        <div class="card-header px-4 py-2">
          <h5 class="card-title review-title">
            <div class="justify-content-between d-flex align-items-center">
              <div class="fs-16">Significant Financial Interest </div>
              <button class=" align-items-center d-flex btn btn-primary mt-0 py-1 h-100 fs-16 pt-1"
                [queryParams]="{mode:'edit'}" title="Create SFI" (click)="createSFI();">
                <mat-icon class="fs-4 w-auto h-auto me-2 material-icons">save</mat-icon>
                Create SFI
              </button>
            </div>
          </h5>
        </div>

        <div class="card-color p-3">
          <div class="card padding-top-24 shadow-sm border mt-2" tabindex="-1">

        <div class="row px-4">
          <div class="col-custom d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="Entity-Name">Entity Name :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
              [httpOptions]="EntitySearchOptions" class="w-100 mt-4" [addSearchText]="true"
              (onNewValueSelect)="selectNewEntity($event)" [isDisabled]="isViewMode"
              [isError]="mandatoryList?.has('name')">
            </app-endpoint-search>
            <div *ngIf="mandatoryList?.has('name')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('name')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary px-1-nav mt-2 mb-0">Type in the official name of the
                business or organization
                you need to report. Entities to report include foreign, domestic, public or private
                entities, but not federal
                agencies.</p>
            </span>
          </div>
        </div>

        <div class="row px-4 pt-4">
          <div class="col-custom d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="Country">Country :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <app-endpoint-search [clearField]="clearCountryField" [httpOptions]="countrySearchOptions"
              (onSelect)="selectedCountryEvent($event)"
              [isDisabled]="isResultFromSearch || isViewMode" class="w-100 mt-4"
              [isError]="mandatoryList?.has('country')">
            </app-endpoint-search>
            <div *ngIf="mandatoryList?.has('country')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('country')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Select country from search bar.</p>
            </span>
          </div>
          <div class="col-2 fs-15 pl-85 d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="City">City :
            </label>
          </div>
          <div class="col mt-3">
            <input type="text" class="form-control" [(ngModel)]="coiEntity.city"
              [disabled]="isResultFromSearch || isViewMode">
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the city of the business or organization you need to report.</p>
            </span>
          </div>
        </div>
        <div class="row px-4 pt-4">
          <div class="col-custom d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="Address">Address :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <input type="text" class="form-control" [(ngModel)]="coiEntity.address"
              [ngClass]="mandatoryList?.has('address') ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
              <div *ngIf="mandatoryList?.has('address')" class="invalid-feedback d-block fs-13">
                {{mandatoryList?.get('address')}}
              </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the address of the business or organization you want to report.</p>
            </span>
          </div>
        </div>
        <div class="row px-4 pt-4">
          <div class="col-custom d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="Phone">Phone :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <div>
              <input class="form-control" [(ngModel)]="coiEntity.phone"
                (keypress)="inputRestriction($event)" [disabled]="isResultFromSearch || isViewMode"
                [ngClass]="mandatoryList?.has('phone') ? 'is-invalid d-block' : ''"
                (keyup)="phoneNumberValidation(coiEntity.phone)">
            </div>
            <div *ngIf="mandatoryList?.has('phone')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('phone')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the phone number of the business or organization you want to report.</p>
            </span>
          </div>

          <div class="col-2 fs-15 pl-85 d-flex mt-2">
            <label class="d-block fw-500 fs-14 pt-2" for="Zip Code">Zip Code :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <input type="text" class="form-control" [(ngModel)]="coiEntity.zipCode"
              (keypress)="inputRestriction($event)"
              [ngClass]="(mandatoryList?.has('zipCode')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
              <div *ngIf="mandatoryList?.has('zipCode')" class="invalid-feedback d-block fs-13">
                {{mandatoryList?.get('zipCode')}}
              </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the zip code of the business or
                organization
                you need to report.</p>
            </span>
          </div>
        </div>
        <div class="row px-4 pt-4">
          <div class="col-custom d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="Country">Website :
            </label>
          </div>
          <div class="col mt-3">
            <input type="text" class="form-control" [(ngModel)]="coiEntity.webURL"
              [ngClass]="(mandatoryList?.has('url')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the website of the business or organization you want to report.</p>
            </span>
          </div>
          <div class="col-2 fs-15 pl-85 d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="email">Email Address :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <input type="text" class="form-control"
              [(ngModel)]="coiEntity.emailAddress"
              [ngClass]="(mandatoryList?.get('email')) || emailWarningMsg != null ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
            <div *ngIf="emailWarningMsg != null">
              <span class="invalid-feedback d-block fs-13">&nbsp;{{emailWarningMsg}}</span>
            </div>
            <div class="invalid-feedback d-block mb-3 fs-13" *ngIf="(mandatoryList?.has('email'))">
              {{mandatoryList?.get('email')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type the email address of the business
                or organization
                you want to report.</p>
            </span>
          </div>
        </div>
        <div class="row px-4 pt-4 pb-5">
          <div class="col-custom d-flex mt-2">
            <label class="d-block fw-500 fs-14 px-1 pt-2" for="Entity Type">Entity Type :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col-entity-type">
            <select class="form-control mt-2 form-select" id="entity-type" [(ngModel)]="coiEntity.entityTypeCode"
              (ngModelChange)="setEntityTypeObj();" [ngClass]="(mandatoryList?.has('type')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
              <option [value]="null">--Select Type--</option>
              <option *ngFor="let type of sfiLookUpList?.entityType" [value]="type?.entityTypeCode"
                [hidden]="type?.isActive != true">
                {{type?.description}}</option>
            </select>
            <div *ngIf="mandatoryList?.has('type')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('type')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Select type from the available
                options.</p>
            </span>
          </div>
        </div>
      </div>
      </div>

      <!-- Additional Details -->

      <div class="mt-1 px-3">
        <div class="card shadow-sm border mb-3" tabindex="-1">
          <div class="m-2 mb-0">
            <div class="row d-flex">
              <span class="col-4 px-4">
                <h5 class="fs-16 mt-3 fw-500">Additional Details</h5>
              </span>
              <span class="position-absolute d-flex justify-content-end material-icons-outlined hand-cursor mt-2"
                (click)="isExpandedAdditionalDetails = !isExpandedAdditionalDetails;">{{isExpandedAdditionalDetails?'expand_less'
                :'expand_more'}}</span>
            </div>
            <hr class="mb-0">
          </div>
          <div *ngIf="isExpandedAdditionalDetails" class="card-body mr-1rem pt-0">
              <div class="row py-3">
                <div class="col-additional-details d-flex">
                  <label class="d-block fw-500 fs-14 px-1 pt-2 row mt-2" for="Start date of involvement">Start Date of Involvement :<span
                      class="mandatory px-2">*</span>
                  </label>
                </div>
                <div class="col-lg-3 col-sm-3 col-12 mt-3 px-0">
                  <span class="dateField w-100">
                    <input matInput [matDatepicker]="startDate" id="start-date-involvement" placeholder="{{datePlaceHolder}}"
                      style="width: 100% !important" (click)="startDate.open()" autocomplete="off"
                      class="d-inline-block form-control" [(ngModel)]="additionalDetails.involvementStartDate"
                      (keypress)="_commonService._keyPress($event, 'date')"
                      [ngClass]="(mandatoryList?.has('date')) ? 'is-invalid d-block' : ''" />
                    <i (click)="startDate.open()" [class.date-field-error]="mandatoryList?.has('date')" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                    <mat-datepicker #startDate [pickerType]="'calendar'">
                    </mat-datepicker>
                  </span>
                  <div *ngIf="mandatoryList?.has('date')" class="invalid-feedback d-block fs-13">
                    {{mandatoryList?.get('date')}}
                  </div>
                </div>
                <div class="col-additional-details pl-5 d-flex">
                  <label class="d-block fw-500 fs-14 px-1 pt-2 row mt-2" for="End date of involvement">End Date of Involvement :
                  </label>
                </div>
                <div class="col-lg-3 col-sm-3 col-12 mt-3 px-0">
                  <span class="dateField">
                    <input matInput [matDatepicker]="endDate" id="end-date-involvement" placeholder="{{datePlaceHolder}}"
                      style="width: 100% !important" (click)="endDate.open()" autocomplete="off"
                      class="d-inline-block form-control" [(ngModel)]="additionalDetails.involvementEndDate"
                      (ngModelChange)="endDateValidation()"
                      (keypress)="_commonService._keyPress($event, 'date')"/>
                    <i (click)="endDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                    <mat-datepicker #endDate [pickerType]="'calendar'">
                    </mat-datepicker>
                  </span>
                  <div *ngIf="(mandatoryList.get('endDate'))" class="fs-13 invalid-feedback d-block">
                    {{mandatoryList.get('endDate')}}
                  </div>
                </div>

                  <div class="col-additional-details d-flex pl-5">
                    <label class="d-block fw-500 fs-14 px-1 pt-2 row">Sponsors Research :</label>
                  </div>
                  <div class="col d-flex mt-3">
                    <span class="mt-2" aria-label="Disclosures_has_sfi" role="switch">
                      <a *ngIf="additionalDetails.sponsorsResearch" class="pl-2">
                        <label class="switch" (click)="additionalDetails.sponsorsResearch = false">
                          <input type="checkbox" checked>
                          <span class="slider round"><small class="fs-12 mt-1">Yes</small></span>
                        </label>
                      </a>
                      <a *ngIf="!additionalDetails.sponsorsResearch" class="pl-2">
                        <label class="switch" (click)="additionalDetails.sponsorsResearch = true">
                          <input type="checkbox">
                          <span class="slider round"><small class="deactivate-text fs-12 mt-1">No</small></span>
                        </label>
                      </a>
                    </span>
                  </div>
            </div>
                <div class="row py-3">

                <div class="col-additional-details d-flex">
                  <label class="d-block fw-500 fs-14 px-1 pt-2 row">Relationship with Entity :<span class="mandatory px-2">*</span></label>
                </div>
                <div class="col px-0 mb-4">
                  <textarea appAutoGrow class="form-control" id="releationship-entity"
                    [(ngModel)]="additionalDetails.staffInvolvement"
                    [ngClass]="(mandatoryList?.has('staff')) ? 'is-invalid d-block' : ''" appLengthValidator [limit]=2000>
                </textarea>
                <div *ngIf="mandatoryList?.has('staff')" class="invalid-feedback d-block fs-13">
                  {{mandatoryList?.get('staff')}}
                </div>
                  <p class="new-line-property text-secondary fs-13 mt-2 mb-0">This description is presented in the Relationship
                    section to help you relate this entity to your research
                    projects.
                    Please enter an adequate description of the organization, and of your role with them,to aid both
                    you, and
                    a
                    reviewers' understanding of the association between the entity and work.
                  </p>
                </div>
              </div>
                <div class="row py-3">

                <div class="col-additional-details d-flex">
                  <label class="d-block fw-500 fs-14 px-1 pt-2">Principle Business Area of Entity :<span class="mandatory px-2">*</span></label>
                </div>
                <div class="col px-0 mb-4">
                  <textarea appAutoGrow class="form-control"
                    [(ngModel)]="additionalDetails.studentInvolvement"
                    [ngClass]="(mandatoryList?.has('student')) ? 'is-invalid d-block' : ''" appLengthValidator [limit]=2000>
                </textarea>
                <div *ngIf="mandatoryList?.has('student')" class="invalid-feedback d-block fs-13">
                  {{mandatoryList?.get('student')}}
                </div>
                  <p class="new-line-property text-secondary fs-13 mt-2 mb-0">Please enter an adequate description of the entity's principal are of business.
                  </p>
                </div>
              </div>
                <div class="row py-3">

                <div class="col-additional-details d-flex">
                  <label class="d-block fw-500 fs-14 px-1 pt-2">Relationship of Entity to your University responsibilities :<span class="mandatory px-2">*</span></label>
                </div>
                <div class="col px-0 mb-4">
                  <textarea appAutoGrow class="form-control"
                    [(ngModel)]="additionalDetails.instituteResourceInvolvement"
                    [ngClass]="(mandatoryList?.has('resource')) ? 'is-invalid d-block' : ''" appLengthValidator [limit]=2000>
                </textarea>
                <div *ngIf="mandatoryList?.has('resource')" class="invalid-feedback d-block fs-13">
                  {{mandatoryList?.get('resource')}}
                </div>
                  <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Please enter an adequate description of the entity's relationship to your University responsibilities.
                  </p>
                </div>
              </div>
          </div>
        </div>
        <!-- Additional Details Ends -->
      </div>
    </div>
    </div>
  </div>
  <app-add-relationship-modal *ngIf="showRelationshipModal" [isWithOutRelationship]="true" [personEntityId]="additionalDetails?.personEntityId"
    (relationshipResult)="addEntityToggle($event)" (hideModal)="hideRelationshipModal($event)">
  </app-add-relationship-modal>
</div>
