<div class="card" #sfiNavOverlay [class.overlay]="sfiService.isShowSfiNavBar">
  <div *ngIf="sfiService.isShowSfiNavBar" @enterAnimation class="task-right-div card-height d-flex align-items-center"
    id="task-nav-bar">
    <div class="close shadow-medium" (click)="hideSfiNavBar()">
      <img src="{{deployMap}}assets/images/close.svg" alt="close button">
    </div>
    <div class="tool-kit-body card-height scrollable-table">
      <div class="card mb-3 card-height">
        <div class="card-header px-4 card-border">
          <h5 class="card-title review-title">
            <div class="justify-content-between d-flex align-items-center">
              <div class="fs-16">Significant Financial Interest </div>
              <button class=" align-items-center d-flex btn btn-primary mt-0 py-1 px-3 h-100 fs-16 pt-1"
                [queryParams]="{mode:'edit'}" title="Create SFI" (click)="createSFI();">
                <mat-icon class="fs-4 me-2 material-icons align-items-center d-flex">save</mat-icon>
                Create SFI
              </button>
            </div>
          </h5>
        </div>

        <div class="container-fluid">
          <div class="card shadow-sm border mt-2" tabindex="-1">

        <div class="row px-4">
          <div class="col-custom align-items-center d-flex px-3">
            <label class="d-block px-3 fw-500 fs-14" for="Entity-Name">Entity Name<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
              [httpOptions]="EntitySearchOptions" [placeHolder]="'Type here'" class="w-100 mt-4" [addSearchText]="true"
              (onNewValueSelect)="selectNewEntity($event)" [isDisabled]="isViewMode"
              [isError]="mandatoryList?.has('name')">
            </app-endpoint-search>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Type in the official name of the
                business or organization
                you need to report. Entities to report include foreign, domestic, public or private
                entities, but not federal
                agencies.</p>
            </span>
            <div *ngIf="mandatoryList?.has('name')" class="invalid-feedback d-block">
              {{mandatoryList?.get('name')}}
            </div>
          </div>
        </div>

        <div class="row px-4">
          <div class="col-custom align-items-center d-flex px-3">
            <label class="d-block px-3 fw-500 fs-14" for="Country">Country<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <app-endpoint-search [clearField]="clearCountryField" [httpOptions]="countrySearchOptions"
              (onSelect)="selectedCountryEvent($event)" [placeHolder]="'Type here for country'"
              [isDisabled]="isResultFromSearch || isViewMode" class="w-100 mt-4"
              [isError]="mandatoryList?.has('country')">
            </app-endpoint-search>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Select country from search bar.</p>
            </span>
            <div *ngIf="mandatoryList?.has('country')" class="invalid-feedback d-block">
              {{mandatoryList?.get('country')}}
            </div>
          </div>
          <div class="col-2 fs-15 pl-7 align-items-center d-flex">
            <label class="d-block px-3 fw-500 fs-14" for="City">City
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <input type="text" class="form-control" placeholder="Type City" [(ngModel)]="coiEntity.city"
              [disabled]="isResultFromSearch || isViewMode">
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Select a city from the available
                options.</p>
            </span>
          </div>
        </div>
        <div class="row px-4">
          <div class="col-custom align-items-center d-flex px-3">
            <label class="d-block px-3 fw-500 fs-14" for="Address">Address<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <input type="text" class="form-control" placeholder="Type Address" [(ngModel)]="coiEntity.address"
              [disabled]="isResultFromSearch || isViewMode">
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Enter the address of your organization.</p>
            </span>
            <div *ngIf="mandatoryList?.has('address')" class="invalid-feedback d-block">
              {{mandatoryList?.get('address')}}
            </div>
          </div>
        </div>
        <div class="row px-4">
          <div class="col-custom align-items-center d-flex px-3">
            <label class="d-block px-3 fw-500 fs-14" for="Phone">Phone<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col mt-3">
            <div>
              <input class="form-control" placeholder="Type Phone Number" [(ngModel)]="coiEntity.phone"
                (keypress)="inputRestriction($event)" [disabled]="isResultFromSearch || isViewMode">
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Type phone number.</p>
            </span>
            <div *ngIf="mandatoryList?.has('phone')" class="invalid-feedback d-block">
              {{mandatoryList?.get('phone')}}
            </div>
          </div>

          <div class="col-2 fs-15 pl-7 align-items-center d-flex">
            <label class="d-block px-3 fw-500 fs-14" for="Zip Code">Zip Code<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <input type="text" class="form-control" placeholder="Type Zip Code" [(ngModel)]="coiEntity.zipCode"
              (keypress)="inputRestriction($event)"
              [ngClass]="(mandatoryList?.has('zipCode')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Type in the official name of the business or
                organization
                you need to report.</p>
            </span>
            <div *ngIf="mandatoryList?.has('zipCode')" class="invalid-feedback d-block">
              {{mandatoryList?.get('zipCode')}}
            </div>
          </div>
        </div>
        <div class="row px-4">
          <div class="col-custom align-items-center d-flex">
            <label class="d-block px-3 fw-500 fs-14" for="Country">Website
            </label>
          </div>
          <div class="col mt-3">
            <input type="text" class="form-control" placeholder="Type Website Address" [(ngModel)]="coiEntity.webURL"
              [ngClass]="(mandatoryList?.has('url')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Type the website name of the business or
                organization
                you need to report.</p>
            </span>
          </div>
          <div class="col-2 fs-15 pl-7 align-items-center d-flex">
            <label class="d-block px-3 fw-500 fs-14" for="email">Email Address<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <input type="text" class="form-control mt-4" placeholder="Type Email Address"
              [(ngModel)]="coiEntity.emailAddress"
              [ngClass]="(mandatoryList?.get('email')) || emailWarningMsg != null ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
            <div *ngIf="emailWarningMsg != null">
              <span class="invalid-feedback d-block">&nbsp;{{emailWarningMsg}}</span>
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Type the email address of the business
                or organization
                you need to report.</p>
            </span>
            <div class="invalid-feedback d-block mb-3" *ngIf="(mandatoryList?.has('email'))">
              {{mandatoryList?.get('email')}}
            </div>
          </div>
        </div>
        <div class="row px-4">
          <div class="col-custom align-items-center d-flex">
            <label class="d-block px-3 fw-500 fs-14" for="Entity Type">Entity Type<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-entity-type mt-3">
            <select class="form-control mt-4" id="entity-type" [(ngModel)]="coiEntity.entityTypeCode"
              (ngModelChange)="setEntityTypeObj();" [ngClass]="(mandatoryList?.has('type')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
              <option [value]="null">--Select Type--</option>
              <option *ngFor="let type of sfiLookUpList?.entityType" [value]="type?.entityTypeCode"
                [hidden]="type?.isActive != true">
                {{type?.description}}</option>
            </select>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav">Select type from the available
                options.</p>
            </span>
            <div *ngIf="mandatoryList?.has('type')" class="invalid-feedback d-block">
              {{mandatoryList?.get('type')}}
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

      <!-- Additional Details -->

      <div class="container-fluid">
        <div class="card shadow-sm border mb-3" tabindex="-1">
          <div class="m-2 mb-0">
            <div class="row d-flex">
              <span class="col-4">
                <h5 class="fs-16 pl-15 mt-3">Additional Details</h5>
              </span>
              <span class="col-8 align-items-center d-flex justify-content-end material-icons-outlined hand-cursor"
                (click)="isExpandedAdditionalDetails = !isExpandedAdditionalDetails;">{{isExpandedAdditionalDetails?'expand_less'
                :'expand_more'}}</span>
            </div>
            <hr class="mb-0">
          </div>
          <div *ngIf="isExpandedAdditionalDetails" class="card-body mr-1rem pt-0">
              <div class="row py-3">
                <div class="col-additional-details align-items-center d-flex">
                  <label class="d-block fw-500 fs-14" for="Start date of involvement">Start date of involvement<span
                      class="mandatory">*</span>
                  </label>
                </div>
                <div class="col mt-3 px-0">
                  <span class="dateField w-100">
                    <input matInput [matDatepicker]="startDate" id="start-date-involvement" placeholder="DD/MM/YYYY"
                      style="width: 100% !important" (click)="startDate.open()" autocomplete="off"
                      class="d-inline-block form-control" [(ngModel)]="additionalDetails.involvementStartDate"
                      (keypress)="_commonService._keyPress($event, 'date')"
                      [ngClass]="(mandatoryList?.has('date')) ? 'is-invalid d-block' : ''" />
                    <i (click)="startDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                    <mat-datepicker #startDate [pickerType]="'calendar'">
                    </mat-datepicker>
                  </span>
                  <p class="new-line-property text-secondary fs-13">Select a date</p>
                  <div *ngIf="mandatoryList?.has('date')" class="invalid-feedback d-block">
                    {{mandatoryList?.get('date')}}
                  </div>
                </div>
                <div class="col-2 pl-7 align-items-center d-flex">
                  <label class="d-block fw-500 fs-14" for="End date of involvement">End date of involvement
                  </label>
                </div>
                <div class="col-lg-4 mt-3 px-0">
                  <span class="dateField">
                    <input matInput [matDatepicker]="endDate" id="end-date-involvement" placeholder="DD/MM/YYYY"
                      style="width: 100% !important" (click)="endDate.open()" autocomplete="off"
                      class="d-inline-block form-control" [(ngModel)]="additionalDetails.involvementEndDate"
                      (keypress)="_commonService._keyPress($event, 'date')" />
                    <i (click)="endDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                    <mat-datepicker #endDate [pickerType]="'calendar'">
                    </mat-datepicker>
                  </span>
                  <p class="new-line-property text-secondary fs-13">Select a date</p>
                </div>
              </div>
                <div class="row py-3">
                  <div class="col-additional-details align-items-center d-flex">
                    <label class="d-block fw-500 fs-14">Sponsors Research </label>
                  </div>
                  <div class="col-7">
                    <span class="mt-2" aria-label="Disclosures_has_sfi" role="switch">
                      <a *ngIf="additionalDetails.sponsorsResearch" class="pl-2">
                        <label class="switch" (click)="additionalDetails.sponsorsResearch = false">
                          <input type="checkbox" checked>
                          <span class="slider round"><small class="fs-12 mt-1">Yes</small></span>
                        </label>
                      </a>
                      <a *ngIf="!additionalDetails.sponsorsResearch" class="pl-2">
                        <label class="switch" (click)="additionalDetails.sponsorsResearch = true">
                          <input type="checkbox">
                          <span class="slider round"><small class="deactivate-text fs-12 mt-1">No</small></span>
                        </label>
                      </a>
                    </span>
                  </div>
              </div>
                <div class="row py-3">

                <div class="col-additional-details align-items-center d-flex">
                  <label class="d-block fw-500 fs-14">Relationship with Entity</label><label class="mandatory">*</label>
                </div>
                <div class="col px-0 mb-4">
                  <textarea appAutoGrow class="form-control" placeholder="Type here" id="releationship-entity" 
                    [(ngModel)]="additionalDetails.staffInvolvement"
                    [ngClass]="(mandatoryList?.has('staff')) ? 'is-invalid d-block' : ''">
                </textarea>
                  <p class="new-line-property text-secondary fs-13">This description is presented in the Relationship
                    section to help you relate this entity to your research
                    projects.
                    Please enter an adequate description of the organization, and of your role with them,to aid both
                    you, and
                    a
                    reviewers' understanding of the association between the entity and work.
                  </p>
                  <div *ngIf="mandatoryList?.has('staff')" class="invalid-feedback d-block">
                    {{mandatoryList?.get('staff')}}
                  </div>
                </div>
              </div>
                <div class="row py-3">

                <div class="col-additional-details align-items-center d-flex">
                  <label class="d-block fw-500 fs-14">Principle Business Area of Entity</label><label
                    class="mandatory">*</label>
                </div>
                <div class="col px-0 mb-4">
                  <textarea appAutoGrow class="form-control" placeholder="Type here" 
                    [(ngModel)]="additionalDetails.studentInvolvement"
                    [ngClass]="(mandatoryList?.has('student')) ? 'is-invalid d-block' : ''">
                </textarea>
                  <p class="new-line-property text-secondary fs-13">Please enter an adequate description of the entity's principal are of business.
                  </p>
                  <div *ngIf="mandatoryList?.has('student')" class="invalid-feedback d-block">
                    {{mandatoryList?.get('student')}}
                  </div>
                </div>
              </div>
                <div class="row py-3">

                <div class="col-additional-details align-items-center d-flex">
                  <label class="d-block fw-500 fs-14">Relationship of Entity to your University responsibilities</label><label
                    class="mandatory">*</label>
                </div>
                <div class="col px-0 mb-4">
                  <textarea appAutoGrow class="form-control" placeholder="Type here"
                    [(ngModel)]="additionalDetails.instituteResourceInvolvement"
                    [ngClass]="(mandatoryList?.has('resource')) ? 'is-invalid d-block' : ''">
                </textarea>
                  <p class="new-line-property text-secondary fs-14-nav">Please enter an adequate description of the entity's relationship to your University responsibilities.
                  </p>
                  <div *ngIf="mandatoryList?.has('resource')" class="invalid-feedback d-block">
                    {{mandatoryList?.get('resource')}}
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Additional Details Ends -->
      </div>
    </div>
  </div>
  <app-add-relationship-modal *ngIf="showRelationshipModal" [isWithOutRelationship]="true"
    (relationshipResult)="addEntityToggle($event)" (hideModal)="hideRelationshipModal($event)">
  </app-add-relationship-modal>