<div tabindex="-1" class="d-flex flex-column w-100" id="COI_DEFINE_RELATIONSHIP_CARD">
    <ng-container *ngFor="let projectSfiRelation of projectSfiRelationsList; let i = index; let first = first;" class="w-100">
        <!-- loop -->
        <div tabindex="-1" *ngIf="first || isStart" appVisibleInViewport class="coi-scrollspy-left z-index-2"
            [id]="'COI_PROJECT_SFI_RELATION_' + i" [enableRepeatedLoad]="true"
            (visibleInViewport)="visibleInViewport($event, i)" [minHeight]="height"
            [intersectionObserverOptions]="intersectionObserverOptions"
            [isViewportVisibilityEnabled]="defineRelationService.isObserverActive[i]" [initialDelayTimeToObserve]="200">
            <div class="card coi-card-regular mt-0"
                [class.coi-card-highlight]="defineRelationService.scrollSpyConfiguration.activeCounter === i">
                <!-- project/sfi card -->
                <div class="card-header p-0 w-100" id="COI_DEFINE_RELATIONSHIP_HEADER">
                    <app-project-details-card class="w-100" [projectSfiRelation]="projectSfiRelation"></app-project-details-card>
                </div>
                 <!-- project/sfi conflict table -->
                <div *ngIf="defineRelationService.isShowProjectSfiConflict[i]" class="card-body w-100">
                    <app-project-sfi-conflict [isEditMode]="isEditMode" [projectSfiRelation]="projectSfiRelation"></app-project-sfi-conflict>
                </div>
            </div>
        </div>
        <div class="pt-3 coi-bg-body z-index-2 w-100"></div>
    </ng-container>
</div>
<div *ngIf="projectSfiRelationsList?.length > 20" class="w-auto d-flex align-items-center position-fixed z-index-1 start-35 bottom-30vh">
    <mat-icon class="text-primary fs-24 coi-scale-30 rotate-animation">cached</mat-icon>
</div>

<!-- modals and sliders -->
<ng-container *ngIf="defineRelationService.applyToAllModal.isOpenModal">
    <app-coi-modal [modalConfig]="defineRelationService.modalConfig" (modalAction)="applyToAllmodalAction($event)">
        <!-- header -->
        <ng-container modal-header>
            <span>Apply to All</span>
            <app-common-help-text [helpTextHardCoded]="'Apply to all'"></app-common-help-text>
        </ng-container>

        <ng-container modal-body>
            <div>
                <!-- conflict status -->
                <div class="mb-4">
                    <label for="apply_to_all_select" class="coi-text-dark d-block mb-1">
                        <span class="mandatory me-1" aria-label="Mandatory field">*</span>
                        <span>Conflict Status</span>
                        <app-common-help-text [helpTextHardCoded]="'Please select a conflict status'"></app-common-help-text>
                    </label>
                    <!-- select -->
                    <select class="form-select form-control" id="apply_to_all_select" name="apply_to_all_select"
                        [(ngModel)]="defineRelationService.applyToAllModal.projectConflictStatusCode"
                        (ngModelChange)="validateConflictStatus()"
                        title="Click here to select conflict status"
                        aria-label="Click here to select conflict status"
                        [class.is-invalid]="mandatoryList.has('CONFLICT_STATUS')">
                        <option disabled value=""><span class="d-block py-2">--Select--</span></option>
                        <ng-container *ngFor="let status of defineRelationService.coiStatusList; let conflictIndex = index">
                            <option [value]="status.projectConflictStatusCode"><span
                                    class="d-block py-2">{{status?.description}}</span></option>
                        </ng-container>
                    </select>
                    <!-- conflict status error -->
                    <span *ngIf="mandatoryList.has('CONFLICT_STATUS')" class="invalid-feedback">{{ mandatoryList.get('CONFLICT_STATUS') }}</span>
                </div>

                <!-- description -->
                <div class="mb-1">
                    <label for="apply_to_all_description_textarea" class="coi-text-dark d-block mb-1">
                        <span class="mandatory me-1" aria-label="Mandatory field">*</span>
                        <span>Define Project - SFI Relation</span>
                        <app-common-help-text [helpTextHardCoded]="'Please enter the description.'"></app-common-help-text>
                    </label>
                    <textarea class="form-control" id="apply_to_all_description_textarea" rows="5"
                        name="apply_to_all_description_textarea"
                        [(ngModel)]="defineRelationService.applyToAllModal.comment"
                        appLengthValidator [limit]=2000 spellcheck="false"
                        (ngModelChange)="validateDescription()"
                        title="Click here to provide your description"
                        placeholder="Please provide your description here"
                        [attr.aria-label]="defineRelationService.applyToAllModal.comment"
                        [class.is-invalid]="mandatoryList.has('CONFLICT_COMMENT')"></textarea>
                    <!-- description error -->
                    <span *ngIf="mandatoryList.has('CONFLICT_COMMENT')" class="invalid-feedback">{{ mandatoryList.get('CONFLICT_COMMENT') }}</span>
                </div>
            </div>
        </ng-container>
    </app-coi-modal>
</ng-container>
