.coi-card-regular {
    .card-body {
        padding: 0 !important;
    }
}

.start-35 {
    left: 35%;
}

.bottom-30vh {
    bottom: 30vh;
}

/* rotate-animation class */
.rotate-animation {
    animation: rotate 1s linear infinite;
}

/* Keyframes for rotation */
@keyframes rotate {
    from {
        transform: rotateX(180deg) scale(3) rotateZ(360deg);
    }

    to {
        transform: rotateX(180deg) scale(3) rotateZ(0deg);
    }
}
