<div class="row mb-3">
    <div class="col-md-12 col-lg-9 mb-sm-2 mb-md-2 mb-lg-0">
        <label class="d-block coi-text-dark" for="coi-entity-name">
            <span *ngIf="isEditMode" class="mandatory me-1">*</span>
            <span>Entity Name</span>
            <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-name'"></app-common-help-text>
        </label>
        <input *ngIf="isEditMode" type="text" class="form-control" id="coi-entity-name" name="coi-entity-name"
            [ngClass]="(mandatoryList?.has('entityName')) ? 'is-invalid d-block' : ''"
            [(ngModel)]="entityUpdateObj.entityRequestFields.entityName" (ngModelChange)="changeEvent('entityName')"
            appLengthValidator [limit]="500" [styleList]="'float-end word-count'">
        <span *ngIf="mandatoryList?.has('entityName')" class="invalid-feedback d-inline fs-13">
            {{mandatoryList?.get('entityName')}}
        </span>
        <span *ngIf="!isEditMode" class="coi-text-light d-block">
            <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.entityName"></app-no-data-label>
        </span>
    </div>
    <div class="col-md-12 col-lg-3">
        <label class="d-block coi-text-dark" for="coi-entity-ownership-type">
            <span *ngIf="isEditMode" class="mandatory me-1">*</span>
            <span>Ownership Type</span>
            <app-common-help-text [subSectionId]="2602"
                [elementId]="'coi-entity-ownership-type'"></app-common-help-text>
        </label>
        <app-look-up *ngIf="isEditMode" (selectedResult)="onOwnerShipTypeSelect($event)"
            [options]="OWNERSHIP_TYPE_OPTIONS" [isError]="mandatoryList?.has('entityOwnershipTypeCode')"
            [uniqueId]="'coi-entity-ownership-type'" [selectedLookUpList]="selectedOwnerShipType">
        </app-look-up>
        <span *ngIf="mandatoryList?.has('entityOwnershipTypeCode')" class="invalid-feedback d-inline fs-13">
            {{mandatoryList?.get('entityOwnershipTypeCode')}}
        </span>
        <span  *ngIf="!isEditMode" class="coi-text-light d-block">
            <app-no-data-label [valueToShow]="selectedOwnerShipType[0]?.description"></app-no-data-label>
        </span>
    </div>
</div>
<div class="row mx-0 py-3">
    <div class="card" [class.coi-grey-background]="!isCreateView">
        <div class="mb-2">
            <h4 class="relation-header px-2 coi-text-darker" [class.grey-background]="!isCreateView">Primary Address</h4>
        </div>
        <div class="row mt-2 mb-3">
            <div class="col-12">
                <label class="d-block coi-text-dark" for="coi-entity-address-1">
                    <span *ngIf="isEditMode" class="mandatory me-1">*</span>
                    <span>Address Line 1</span>
                    <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-address-1'"></app-common-help-text>
                </label>
                <ng-container *ngIf="isEditMode">
                    <input type="text" class="form-control" id="coi-entity-address-1" name="coi-entity-address-1"
                        [ngClass]="(mandatoryList?.has('primaryAddressLine1')) ? 'is-invalid d-block' : ''"
                        [(ngModel)]="entityUpdateObj.entityRequestFields.primaryAddressLine1"
                        (ngModelChange)="changeEvent('primaryAddressLine1')" appLengthValidator [limit]="500"
                        [styleList]="'float-end word-count'">
                    <span *ngIf="mandatoryList?.has('primaryAddressLine1')"
                        class="invalid-feedback d-inline fs-13">{{mandatoryList?.get('primaryAddressLine1')}}</span>
                </ng-container>
                <span  *ngIf="!isEditMode" class="coi-text-light d-block">
                    <app-no-data-label
                        [valueToShow]="entityUpdateObj.entityRequestFields.primaryAddressLine1"></app-no-data-label>
                </span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label class="d-block coi-text-dark" for="coi-entity-address-2">
                    <span>Address Line 2</span>
                    <app-common-help-text [subSectionId]="2602"
                        [elementId]="'coi-entity-address-2'"></app-common-help-text>
                </label>
                <input *ngIf="isEditMode" type="text" class="form-control" id="coi-entity-address-2" name="coi-entity-address-2"
                    [(ngModel)]="entityUpdateObj.entityRequestFields.primaryAddressLine2"
                    (ngModelChange)="changeEvent('primaryAddressLine2')" appLengthValidator [limit]="500"
                    [styleList]="'float-end word-count'">
                <span  *ngIf="!isEditMode" class="coi-text-light d-block fw-500">
                    <app-no-data-label
                        [valueToShow]="entityUpdateObj.entityRequestFields.primaryAddressLine2"></app-no-data-label>
                </span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12 col-lg-6 col-xl-3 mb-md-3 mb-xl-0">
                <label class="d-block coi-text-dark" for="coi-entity-city">
                    <span *ngIf="isEditMode" class="mandatory me-1">*</span>
                    <span>City</span>
                    <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-city'"></app-common-help-text>
                </label>
                <input *ngIf="isEditMode" type="text" class="form-control" id="coi-entity-city"
                    [ngClass]="(mandatoryList?.has('city')) ? 'is-invalid d-block' : ''"
                    [(ngModel)]="entityUpdateObj.entityRequestFields.city" (ngModelChange)="changeEvent('city')"
                    appLengthValidator [limit]="30" [styleList]="'float-end word-count'">
                <span *ngIf="mandatoryList?.has('city')" class="invalid-feedback d-inline fs-13">
                    {{mandatoryList?.get('city')}}
                </span>
                <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                    <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.city"></app-no-data-label>
                </span>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3 mb-md-3 mb-xl-0">
                <label class="d-block coi-text-dark" for="coi-entity-state">
                    <span *ngIf="isEditMode" class="mandatory me-1">*</span>State/Province/Region
                    <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-state'"></app-common-help-text>
                </label>
                <ng-container *ngIf="isEditMode">
                    <input type="text" class="form-control" id="coi-entity-state"
                        [ngClass]="(mandatoryList?.has('state')) ? 'is-invalid d-block' : ''"
                        [(ngModel)]="entityUpdateObj.entityRequestFields.state" (ngModelChange)="changeEvent('state')"
                        appLengthValidator [limit]="30" [styleList]="'float-end word-count'">
                    <span *ngIf="mandatoryList?.has('state')" class="invalid-feedback d-inline fs-13">
                        {{mandatoryList?.get('state')}}
                    </span>
                </ng-container>
                <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                    <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.state"></app-no-data-label>
                </span>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3 mb-md-3 mb-lg-0">
                <label class="d-block coi-text-dark" for="coi-entity-postCode">
                    <span *ngIf="isEditMode" class="mandatory me-1">*</span>ZIP/Postal Code
                    <app-common-help-text [subSectionId]="2602"
                        [elementId]="'coi-entity-postCode'"></app-common-help-text>
                </label>
                <ng-container *ngIf="isEditMode">
                    <input type="text" class="form-control" id="coi-entity-postCode"
                        [ngClass]="(mandatoryList?.has('postCode')) ? 'is-invalid d-block' : ''"
                        [(ngModel)]="entityUpdateObj.entityRequestFields.postCode"
                        (ngModelChange)="changeEvent('postCode')" appLengthValidator [limit]="15"
                        [styleList]="'float-end word-count'">
                    <span *ngIf="mandatoryList?.has('postCode')" class="invalid-feedback  d-inline fs-13">
                        {{mandatoryList?.get('postCode')}}
                    </span>
                </ng-container>
                <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                    <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.postCode"></app-no-data-label>
                </span>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <label class="d-block coi-text-dark" for="coi-entity-country">
                    <span *ngIf="isEditMode" class="mandatory me-1">*</span>Country
                    <app-common-help-text [subSectionId]="2602"
                        [elementId]="'coi-entity-country'"></app-common-help-text>
                </label>
                <ng-container *ngIf="isEditMode">
                    <app-endpoint-search [clearField]="clearCountryField" [uniqueId]="'coi-entity-country'"
                        [httpOptions]="COUNTRY_SEARCH_OPTIONS" (onSelect)="selectedCountryEvent($event)"
                        class="w-100 mt-4" [isError]="mandatoryList?.has('countryCode')">
                    </app-endpoint-search>
                    <span *ngIf="mandatoryList?.has('countryCode')" class="invalid-feedback d-inline fs-13">
                        {{mandatoryList?.get('countryCode')}}
                    </span>
                </ng-container>
                <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                    <app-no-data-label [valueToShow]="COUNTRY_SEARCH_OPTIONS.defaultValue"></app-no-data-label>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row mb-md-0 mb-lg-3">
    <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-xl-0">
        <label class="d-block coi-text-dark" for="coi-entity-phone">
            Phone
            <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-phone'"></app-common-help-text>
        </label>
        <ng-container *ngIf="isEditMode">
            <input type="text" class="form-control" id="coi-entity-phone"
                [ngClass]="(mandatoryList?.has('phoneNumber')) ? 'is-invalid d-block' : ''"
                [(ngModel)]="entityUpdateObj.entityRequestFields.phoneNumber"
                (ngModelChange)="validateAndAddPhoneNumber()" (keypress)="checkForValidPhoneNumber($event)"
                appLengthValidator [limit]="15" [styleList]="'float-end word-count'">
            <span *ngIf="mandatoryList?.has('phoneNumber')" class="invalid-feedback  d-inline fs-13">
                {{mandatoryList?.get('phoneNumber')}}
            </span>
        </ng-container>
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.phoneNumber"></app-no-data-label>
        </span>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-0">
        <label class="d-block coi-text-dark" for="coi-entity-certifiedEmail">
            Email Address
            <app-common-help-text [subSectionId]="2602"
                [elementId]="'coi-entity-certifiedEmail'"></app-common-help-text>
        </label>
        <ng-container *ngIf="isEditMode">
            <input type="text" class="form-control" id="coi-entity-certifiedEmail"
                [ngClass]="(mandatoryList?.has('certifiedEmail')) ? 'is-invalid d-block' : ''"
                [(ngModel)]="entityUpdateObj.entityRequestFields.certifiedEmail" (ngModelChange)="validateEmail();"
                appLengthValidator [limit]="200" [styleList]="'float-end word-count'">
            <div *ngIf="mandatoryList?.has('certifiedEmail')" class="invalid-feedback d-block fs-13">
                {{mandatoryList?.get('certifiedEmail')}}
            </div>
        </ng-container>
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.certifiedEmail"></app-no-data-label>
        </span>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-4 mb-md-3 mb-lg-0">
        <label class="d-block coi-text-dark" for="coi-entity-websiteAddress">
            Website
            <app-common-help-text [subSectionId]="2602"
                [elementId]="'coi-entity-websiteAddress'"></app-common-help-text>
        </label>
        <input *ngIf="isEditMode" type="text" class="form-control" id="coi-entity-websiteAddress"
            [(ngModel)]="entityUpdateObj.entityRequestFields.websiteAddress"
            (ngModelChange)="changeEvent('websiteAddress')"
            appLengthValidator [limit]="500" [styleList]="'float-end word-count'">
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.websiteAddress"></app-no-data-label>
        </span>
    </div>
</div>
<div class="row mb-md-0 mb-lg-3">
    <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-xl-0">
        <label class="d-block coi-text-dark" for="coi-entity-dunsNumber">
            DUNS Number
            <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-dunsNumber'"></app-common-help-text>
        </label>
        <ng-container *ngIf="isEditMode">
            <input type="text" class="form-control" id="coi-entity-dunsNumber"
                [(ngModel)]="entityUpdateObj.entityRequestFields.dunsNumber"
                [ngClass]="(mandatoryList?.has('dunsNumber')) ? 'is-invalid d-block' : ''"
                (ngModelChange)="validateAndSaveNumber('dunsNumber');" appLengthValidator [limit]="20"
                [styleList]="'float-end word-count'">
            <span *ngIf="mandatoryList?.has('dunsNumber')" class="invalid-feedback d-inline fs-13">
                {{mandatoryList?.get('dunsNumber')}}
            </span>
        </ng-container>
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.dunsNumber"></app-no-data-label>
        </span>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-0">
        <label class="d-block coi-text-dark" for="coi-entity-UEI">
            UEI Number
            <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-UEI'"></app-common-help-text>
        </label>
        <ng-container *ngIf="isEditMode">
            <input type="text" class="form-control" id="coi-entity-UEI"
                [(ngModel)]="entityUpdateObj.entityRequestFields.ueiNumber"
                [ngClass]="(mandatoryList?.has('ueiNumber')) ? 'is-invalid d-block' : ''"
                (ngModelChange)="validateAndSaveNumber('ueiNumber');" appLengthValidator [limit]="20"
                [styleList]="'float-end word-count'">
            <span *ngIf="mandatoryList?.has('ueiNumber')" class="invalid-feedback d-inline fs-13">
                {{mandatoryList?.get('ueiNumber')}}
            </span>
        </ng-container>
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label [valueToShow]="entityUpdateObj.entityRequestFields.ueiNumber"></app-no-data-label></span>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-4 mb-md-3 mb-lg-0">
        <label class="d-block coi-text-dark" for="coi-entity-CAGE">
            CAGE Number
            <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-CAGE'"></app-common-help-text>
        </label>
        <ng-container *ngIf="isEditMode">
            <input type="text" class="form-control" id="coi-entity-CAGE"
                [ngClass]="(mandatoryList?.has('cageNumber')) ? 'is-invalid d-block' : ''"
                [(ngModel)]="entityUpdateObj.entityRequestFields.cageNumber"
                (ngModelChange)="validateAndSaveNumber('cageNumber');" appLengthValidator [limit]="20"
                [styleList]="'float-end word-count'">
            <span *ngIf="mandatoryList?.has('cageNumber')" class="invalid-feedback d-inline fs-13">
                {{mandatoryList?.get('cageNumber')}}
            </span>
        </ng-container>
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label
                [valueToShow]="entityUpdateObj.entityRequestFields.cageNumber"></app-no-data-label></span>
    </div>
</div>
<div class="row mb-md-0 mb-lg-3 mb-xl-0" *ngIf="!isCreateView">
    <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-xl-0">
        <label class="d-block coi-text-dark" for="coi-entity-human-assurance">
            Human Sub Assurance
            <app-common-help-text [subSectionId]="2602"
                [elementId]="'coi-entity-human-assurance'"></app-common-help-text>
        </label>
        <input *ngIf="isEditMode" type="text" class="form-control" id="coi-entity-human-assurance"
            [(ngModel)]="entityUpdateObj.entityRequestFields.humanSubAssurance"
            (ngModelChange)="changeEvent('humanSubAssurance')" appLengthValidator [limit]="50"
            [styleList]="'float-end word-count'">
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label
                [valueToShow]="entityUpdateObj.entityRequestFields.humanSubAssurance"></app-no-data-label></span>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-0">
        <label class="d-block coi-text-dark" for="coi-entity-animal-assurance">
            Animal Welfare Assurance
            <app-common-help-text [subSectionId]="2602"
                [elementId]="'coi-entity-animal-assurance'"></app-common-help-text>
        </label>
        <input *ngIf="isEditMode" type="text" class="form-control" id="coi-entity-animal-assurance"
            [(ngModel)]="entityUpdateObj.entityRequestFields.anumalWelfareAssurance"
            (ngModelChange)="changeEvent('anumalWelfareAssurance')" appLengthValidator [limit]="50"
            [styleList]="'float-end word-count'">
        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label
                [valueToShow]="entityUpdateObj.entityRequestFields.anumalWelfareAssurance"></app-no-data-label></span>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-4 mb-md-3 mb-lg-0">
        <label class="d-block coi-text-dark" for="coi-entity-aaalac">
            AAALAC (Animal Accreditaion)
            <app-common-help-text [subSectionId]="2602" [elementId]="'coi-entity-aaalac'"></app-common-help-text>
        </label>
        <input *ngIf="isEditMode" type="text" class="form-control" id="coi-entity-aaalac"
            [(ngModel)]="entityUpdateObj.entityRequestFields.animalAccreditation"
            (ngModelChange)="changeEvent('animalAccreditation')" appLengthValidator [limit]="50"
            [styleList]="'float-end word-count'">

        <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
            <app-no-data-label
                [valueToShow]="entityUpdateObj.entityRequestFields.animalAccreditation"></app-no-data-label></span>
    </div>
</div>
