<div class="row fs-14 my-2 mx-0 px-3 py-2 alert alert-primary">
    <div class="col align-self-center p-0">
        <ng-container *ngIf="!switchRelationView">For defining SFI against project use 'SFI - Project Relationship'</ng-container>
        <ng-container *ngIf="switchRelationView">For defining project against SFI use 'Project - SFI Relationship'</ng-container>.
    </div>
    <div class="col-auto p-0">
        <button class="btn btn-primary fs-14" (click)="switchRelationViewMode(!switchRelationView)"
        [attr.aria-label]="switchRelationView?'Click here to view Project - SFI Relationship':' Click here to view SFI - Project Relationship'"
        [title]="switchRelationView?'Click here to view Project - SFI Relationship':' Click here to view SFI - Project Relationship'"
        id="btn-view-Relationship">{{switchRelationView?'Project - SFI Relationship':'SFI - Project Relationship'}}</button>
    </div>
</div>

<div *ngIf="isEditMode" class="row align-items-end">
    <div class="col-12">
        <div class="d-flex alert alert-primary mb-0 py-2">
            <mat-icon role="img" class="mat-icon info-icon material-icons flex-shrink-0" aria-hidden="true"
                data-mat-icon-type="font">info</mat-icon>
            <p class="fs-14 mb-0 ms-2">
                <span class="d-flex algin-items-start">
                    <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                    <span>Projects will be displayed against your
                        Active SFIs, allowing you to mark the relevant conflict status and provide a supporting
                        description for
                        your decision.
                        <span *ngIf="!expandInfo" (click)="expandInfo = true" (keydown.enter)="expandInfo = true" class="fw-700 link-primary" aria-label="Expand Relationship help text" tabindex="0" role="link">...<span
                            id="link-read-more-info" title="Expand Relationship help text" class="fw-700">Read More</span></span>
                    </span>
                </span>
                <ng-container *ngIf="expandInfo">
                    <span class="d-flex algin-items-start mt-2">
                        <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>If any of the active SFIs are
                        missing
                        ,please cross-check and make necessary corrections to the SFI list in the SFI section.
                    </span>
                    <span class="d-flex algin-items-start mt-2">
                        <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                        <span>
                            Before proceeding to the next
                            step,
                            ensure that all your Project-SFI relationships have been marked.
                            <span *ngIf="expandInfo && !isShowCollapsedConflictRelationship"
                                (click)="expandInfo = false" (keydown.enter)="expandInfo = false" class="fw-700 link-primary" tabindex="0" role="link" id="link-read-less-info"
                                title="Collapse Relationship help text" aria-label="Collapse Relationship help text">Read Less</span>
                        </span>
                    </span>
                    <ng-container *ngIf="isShowCollapsedConflictRelationship">
                        <span class="d-flex algin-items-start mt-2">
                            <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>For marking all your SFI
                            conflict
                            status/ relationship description use "Apply and Save".
                        </span>
                        <span class="d-flex algin-items-start mt-2">
                            <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                            <span>
                                For marking individual SFI
                                conflict
                                status/ relationship description use "Save".
                                <span *ngIf="expandInfo" (click)="expandInfo = false" (keydown.enter)="expandInfo = false" class="fw-700 link-primary"><span tabindex="0" role="link" id="link-read-less-info"
                                        title="Collapse Relationship help text" aria-label="Collapse Relationship help text">Read Less</span></span>
                            </span>
                        </span>
                    </ng-container>
                </ng-container>
            </p>
        </div>
    </div>
</div>


  <div class="d-flex align-items-center form-control col-lg-12 col-md-12 col-12 mx-auto mt-2 px-3 rounded py-2" *ngIf="projectList.length>1 && !switchRelationView">
    <mat-icon class="mat-icon material-icons search-icon" aria-hidden="true" data-mat-icon-type="font">search</mat-icon>
    <input type="text" placeholder="Search by Project Id, Project Name, PI"
    class="searchField ms-2" [(ngModel)]="searchText">
    <span tabindex="0" aria-label="Clear Search Text" class="d-flex align-items-center" *ngIf="searchText" (click)="searchText = ''" (keyup.enter)="searchText = ''">
        <mat-icon  class="closeButton" id="coi-relationship-seaarch-close-btn">close</mat-icon>
    </span>
  </div>

  <div class="d-flex align-items-center form-control col-lg-12 col-md-12 col-12 mx-auto mt-2 px-3 rounded py-2" *ngIf="canShowEntitySearch && switchRelationView">
    <mat-icon class="mat-icon material-icons search-icon" aria-hidden="true" data-mat-icon-type="font">search</mat-icon>
    <input type="text" placeholder="Search by Entity"
    class="searchField ms-2" [(ngModel)]="searchText" (ngModelChange)="getSearchedEntities()">
    <span tabindex="0" aria-label="Clear Search Text" class="d-flex align-items-center" *ngIf="searchText"(click)="clearSearchText()" (keyup.enter)="clearSearchText()">
        <mat-icon class="closeButton" id="coi-relationship-seaarch-close-btn">close</mat-icon>
    </span>
  </div>

    <ng-container *ngIf="!switchRelationView">
        <ng-container
            *ngIf="(projectList| SearchFilter : searchText:
            ['title', 'projectNumber', 'projectId', 'piName']) as projects; let i = index">
            <ng-container *ngIf="isShowNoDataCard">
                <div *ngIf="projects.length">
                    <ng-container *ngFor="let project of projects;let i = index">
                        <div class="card mt-2 shadow-medium py-1" [id]="project.projectId">
                            <div class="card-body mb-2">
                                <div class="row">
                                    <div class="col-12 position-absolute ps-0 start-0 top-0">
                                        <div class="d-flex">
                                            <span class="coi-card-notch-ribbon shadow-sm align-items-center d-flex text-nowrap me-2" [style.background-color]="project?.projectBadgeColour"
                                                aria-label="proposal">{{project?.projectType}}</span>
                                            <span class="d-inline-flex pt-1">
                                                <mat-icon *ngIf="project.projectIcon" aria-hidden="true" class="coi-text-light flex-shrink-0">{{project.projectIcon}}</mat-icon>
                                                <a tabindex="0" class="fs-6 link-primary fw-600 text-slice" id="link-{{project?.projectId}}"
                                                    title="Click here to view project details of #{{project?.projectNumber}} - {{project?.title}}"
                                                    attr.aria-label="Click here to view project details of {{project?.projectNumber}} - {{project?.title}}"
                                                    (click)="_commonService.openProjectDetailsModal(project)" (keyup.enter)="_commonService.openProjectDetailsModal(project)"
                                                    (keyup.space)="_commonService.openProjectDetailsModal(project)">
                                                    #{{project?.projectNumber}}- {{project?.title}}
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-xl-flex px-3 mt-4">
                                        <div class="col-md-12 col-xl-8">
                                            <div class="row">
                                                <!-- Principal Investigator -->
                                                <div tabindex="-1" class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mb-2"
                                                    [attr.aria-label]="'Principal investigator is ' + (project?.piName ? project?.piName : 'empty')">
                                                    <label for="coi-relationship-pi-{{i}}" class="coi-text-dark d-block">Principal Investigator</label>
                                                    <div id="coi-relationship-pi-{{i}}" class="text-slice">
                                                        <app-no-data-label [valueToShow]="project?.piName">
                                                            <span class="coi-text-light" [title]="project?.piName">{{project?.piName}}</span>
                                                        </app-no-data-label>
                                                    </div>
                                                </div>
                                                <!-- Reporter's Project Role -->
                                                <div tabindex="-1" class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mb-2"
                                                    [attr.aria-label]="'Reporters project role is ' + (project?.reporterRole ? project?.reporterRole : 'empty')">
                                                    <label for="coi-relationship-role-{{i}}" class="coi-text-dark d-block">Reporter's Project Role</label>
                                                    <div id="coi-relationship-role-{{i}}" class="text-slice">
                                                        <app-no-data-label [valueToShow]="project?.reporterRole">
                                                            <span class="coi-text-light" [title]="project?.reporterRole">{{project?.reporterRole}}</span>
                                                        </app-no-data-label>
                                                    </div>
                                                </div>
                                                <!-- Period -->
                                                <div tabindex="-1" class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mb-2"
                                                    [attr.aria-label]="'Period is ' + ((project?.projectStartDate || project?.projectEndDate) ?
                                                    ((project?.projectStartDate | dateFormatter) + ' - ' + (project?.projectEndDate | dateFormatter))  : 'empty')">
                                                    <label for="coi-relationship-period-{{i}}" class="coi-text-dark d-block">Period</label>
                                                    <div id="coi-relationship-period-{{i}}" class="text-slice">
                                                        <app-no-data-label [valueToShow]="project?.projectStartDate || project?.projectEndDate">
                                                            <span [title]="(project?.projectStartDate | dateFormatter) + ' - ' + (project?.projectEndDate | dateFormatter)"
                                                                class="coi-text-light">{{project?.projectStartDate | dateFormatter}} - {{project?.projectEndDate | dateFormatter}}</span>
                                                        </app-no-data-label>
                                                    </div>
                                                </div>
                                                <!-- Project Status -->
                                                <div tabindex="-1" class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mb-2"
                                                    [attr.aria-label]="'Project status is ' + (project?.projectStatus ? project?.projectStatus : 'empty')">
                                                    <label for="coi-relationship-status-{{i}}" class="coi-text-dark d-block">Project Status</label>
                                                    <div id="coi-relationship-status-{{i}}" class="text-slice">
                                                        <app-no-data-label [valueToShow]="project?.projectStatus">
                                                            <span class="coi-text-light" [title]="project?.projectStatus">{{project?.projectStatus}}</span>
                                                        </app-no-data-label>
                                                    </div>
                                                </div>
                                                <!-- Lead Unit -->
                                                <div tabindex="-1" class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mb-2"
                                                    [attr.aria-label]="'Lead unit is ' + (_commonService.getPersonLeadUnitDetails(project) ?
                                                    _commonService.getPersonLeadUnitDetails(project) : 'empty')">
                                                    <label for="coi-relationship-unit-{{i}}" class="coi-text-dark d-block">Lead Unit</label>
                                                    <div id="coi-relationship-unit-{{i}}" class="text-slice">
                                                        <app-no-data-label [valueToShow]="_commonService.getPersonLeadUnitDetails(project)">
                                                            <span [title]="_commonService.getPersonLeadUnitDetails(project)"
                                                                class="coi-text-light">{{_commonService.getPersonLeadUnitDetails(project)}}</span>
                                                        </app-no-data-label>
                                                    </div>
                                                </div>
                                                <!-- Sponsor -->
                                                <div tabindex="-1" class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mb-2"
                                                    [attr.aria-label]="'Sponsor is ' + (getFormattedSponsor(project?.sponsorCode, project?.sponsorName) ? getFormattedSponsor(project?.sponsorCode, project?.sponsorName) : 'empty')">
                                                    <label for="coi-relationship-sponsor-{{i}}" class="coi-text-dark d-block"
                                                        aria-label="Sponsor is, ">Sponsor</label>
                                                    <div id="coi-relationship-sponsor-{{i}}" class="text-slice">
                                                        <app-no-data-label [valueToShow]="getFormattedSponsor(project?.sponsorCode, project?.sponsorName)">
                                                            <span class="coi-text-light" [title]="getFormattedSponsor(project?.sponsorCode, project?.sponsorName)">{{getFormattedSponsor(project?.sponsorCode, project?.sponsorName)}}</span>
                                                        </app-no-data-label>
                                                    </div>
                                                </div>
                                                <!-- Prime Sponsor -->
                                                <div tabindex="-1" class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-3 mb-2"
                                                    [attr.aria-label]="'Prime sponsor is ' + (getFormattedSponsor(project?.primeSponsorCode, project?.primeSponsorName) ? getFormattedSponsor(project?.primeSponsorCode, project?.primeSponsorName) : 'empty')">
                                                    <label for="coi-relationship-prime-sponsor-{{i}}" class="coi-text-dark d-block"
                                                        aria-label="Prime sponsor is, ">Prime Sponsor</label>
                                                    <div id="coi-relationship-prime-sponsor-{{i}}" class="text-slice">
                                                        <app-no-data-label [valueToShow]="getFormattedSponsor(project?.primeSponsorCode, project?.primeSponsorName)">
                                                            <span class="coi-text-light" [title]="getFormattedSponsor(project?.primeSponsorCode, project?.primeSponsorName)">{{getFormattedSponsor(project?.primeSponsorCode, project?.primeSponsorName)}}</span>
                                                        </app-no-data-label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-xl-4">
                                            <div class="border h-100 p-3 position-relative rounded-1 table-bg-color mt-md-3 mt-xl-0">
                                                <span class="status-pill fs-13">Project/SFI Relationship</span>
                                                <div *ngIf="!project.relationShipExists" class="d-flex justify-content-center align-items-center h-100">
                                                    <p class="fw-600 mb-0 text-gray-600">No SFI(s) Attached</p>
                                                </div>
                                                <div *ngIf="project.relationShipExists" class="row">
                                                    <div class="col-6 fs-14">
                                                        <div class="gap-1 row">
                                                            <div class="d-flex align-items-center col-12"
                                                                [attr.aria-label]="'No Conflict count: ' + getDisclosureCount(1, project.disclosureStatusCount)">
                                                                <label class="count-label" for="">No Conflict : </label>
                                                                <span class="fs-12"
                                                                    [ngClass]="{'badge rounded-pill text-no-conflict-badge':project.sfiCompleted != null}">
                                                                    {{project.sfiCompleted != null? getDisclosureCount(1,
                                                                    project.disclosureStatusCount) : '--'}}</span>
                                                            </div>
                                                            <div class="d-flex align-items-center col-12"
                                                                [attr.aria-label]="'Potential Conflict count: ' + getDisclosureCount(2, project.disclosureStatusCount)">
                                                                <label class="count-label" for="">Potential Conflict :</label>
                                                                <span class="fs-12"
                                                                    [ngClass]="{'badge rounded-pill text-potential-conflict-badge':project.sfiCompleted != null}">
                                                                    {{project.sfiCompleted != null ?
                                                                    getDisclosureCount(2,project.disclosureStatusCount):' --'}}</span>
                                                            </div>
                                                            <div class="d-flex align-items-center col-12"
                                                                [attr.aria-label]="'Conflict Identified count: ' + getDisclosureCount(3, project.disclosureStatusCount)">
                                                                <label class="count-label" for="">Conflict Identified :</label>
                                                                <span class="fs-12"
                                                                    [ngClass]="{'badge rounded-pill text-conflict-badge':project.sfiCompleted != null}">
                                                                    {{ project.sfiCompleted !=
                                                                    null?getDisclosureCount(3,project.disclosureStatusCount): '--'}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-center col-6">
                                                        <div class="row">
                                                            <div *ngIf="!isShowCollapsedConflictRelationship"
                                                                class="d-flex justify-content-center col-12">
                                                                <button title="Click to {{isEditMode ? 'Define' : 'Manage'}} Project - SFI relationship"
                                                                    [attr.aria.label]="'Click to '+ isEditMode ? 'Define' : 'Manage' +' Project - SFI relationship'" id="btn-define-relationship-{{i}}"
                                                                    class="align-items-center btn btn-primary d-flex fs-14 text-nowrap"
                                                                    (click)="openDefineRelationship(project, i)" type="submit">
                                                                    <img src="{{deployMap}}assets/images/define-relation-hover.svg"
                                                                        class="mr-2 hover_img"
                                                                        alt="{{isEditMode ? 'Define Relationship' : 'Manage Relationship'}}">{{isEditMode
                                                                    ? 'Define Relationship' : 'Manage Relationship'}}
                                                                </button>
                                                            </div>
                                                            <div class="d-flex justify-content-center col-12"
                                                                [class.mt-1]="!isShowCollapsedConflictRelationship">
                                                                <div *ngIf="project.sfiCompleted == true" class="d-flex fs-14 text-success">
                                                                    <mat-icon class="fs-18 me-1">done</mat-icon><span class="">Completed</span>
                                                                </div>
                                                                <div *ngIf="project.sfiCompleted == false" class="d-flex fs-14 text-danger">
                                                                    <mat-icon class="fs-18 me-1">not_interested</mat-icon><span
                                                                        class="">Incomplete</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mx-3">
                                <app-SFI-conflict-relationship [(isSavingRelation)]="coiService.isRelationshipSaving"
                                    [coiStatusList]="coiStatusList" [isEditMode]="isEditMode"
                                    *ngIf="isShowCollapsedConflictRelationship && entityProjectDetails?.length"
                                    [entityProjectDetails]="entityProjectDetails" [coiStatusCode]="coiStatusCode" [coiData]="coiData"
                                    [moduleCode]="moduleCode" [selectedProject]="project"
                                    (closePage)="closePage()"></app-SFI-conflict-relationship>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="!projects.length">
                    <app-no-information> </app-no-information>
                </div>
            </ng-container>

        </ng-container>
    </ng-container>

    <app-define-sfi-project *ngIf="switchRelationView"
                            [isEditMode]="isEditMode"
                            [searchText]="searchWord"
                            [coiStatusList]="coiStatusList"
                            [disclosureId]="coiData?.coiDisclosure?.disclosureId"
                            [coiData]="coiData"
                            [disclosureStatusCode]="coiData?.coiDisclosure?.disclosureStatusCode"
                            (conflictStatusChanged)="updateConflictStatus()"
                            (hasEntitesCount) = "canShowEntitesSearch($event)"
    ></app-define-sfi-project>

  <app-define-relation *ngIf="isShowRelation" [coiStatusList]="coiStatusList" [moduleCode]="moduleCode"
      [moduleItemId]="moduleId" [module]="selectedProject" (closePage)="closePage()" [relationList]="projectList" [currentRelation]="currentRelation"></app-define-relation>

