.entity-name {
    color: rgb(47, 65, 226)
}

.label-text {
    font-size: 1.4rem;
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
}

.status-text {
    font-size: 1.52rem;
    color: #505050;
    font-weight: 400;
}
