.navigation-icons {
    span {
        padding-top: 11px !important;
        padding-bottom: 11px !important;
    }

    .active {
        color: #007DEC;
        font-weight: bold;
        border-bottom: 3px solid #007DEC;
    }
}

.user-dashboard-nav span:focus {
    border-bottom: 3px solid #007DEC;
    color: #007DEC;
    padding: 8px 16px;

}

.user-dashboard-nav {
    min-height: 42px;
    background-color: white !important
}

.status-active-pill {
    background-color: #4CB57D;
    color: white;
    padding: 3px 9px;
    font-weight: 500;
    border-radius: 15px;

}

.status-inactive-pill {
    background-color: #5f6462;
    color: white;
    padding: 3px 9px;
    font-weight: 500;
    border-radius: 15px;
}

.active-color {
    color: #007DEC;
    position: relative;
    right: calc(50% - 0px);
    bottom: -1.8rem;
}

.btn-clear-entity-coi {
    width: 7rem;
    height: 3.5rem;
}

.position {
    position: relative;
    right: 3.5rem;
}

.advanced-search-entity-coi {
    width: 145px;
}

th {
    height: 45px;
}

.add-icon {
    position: relative;
    top: 4px;
    font-size: 1.125rem;
    right: 2px;
}

.arrow {
    font-size: 1.125rem;
    height: 18px;
    margin-left: 4px;
}

.sort-div {
    background-color: #eeeeee;
    padding: 9px;
    margin-top: -10px;
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

.selected-arrow {
    color: #52bf5a;
}

.inactive {
    background-color: #dbdbdb;
    color: black;

    &:before {
        content: "";
        border-bottom: 6px solid #949494;
    }
}

.title-custom-position {
    position: relative;
    right: 4rem;
}

.col-height {
    height: 22px;
}

.slider-base {
    position: fixed;
    z-index: 51;
    top: 0;
    right: -83%;
    width: 80%;
    height: 100%;
    padding-left: 0;
    background-color: #ffecec85;
    box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.12);
    transition: right 600ms cubic-bezier(.42, .8, .67, 1.06);
}

.slider-container {
    background-color: #fff;
    height: 100vh;
    padding: 0px 10px 10px 10px;
    overflow: auto;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(74 74 74 / 32%);
    z-index: 50;
}

.slider-opened {
    right: 0 !important;
}

.pr-31 {
    padding-right: 31px;
}

.pr-10 {
    padding-right: 10px;
}

/* For showing the word disclosure as (discl). for page responsive time*/
.disclosure-text,
.disclosures-text {
    padding-left: 2px;
}

.disclosure-text:after {
    content: "Disclosure";
}

@media (max-width: 992px) {
    .disclosure-text:after {
        content: "Discl.";
    }
}

.disclosures-text:after {
    content: "Disclosures";
}

@media (max-width: 992px) {
    .disclosures-text:after {
        content: "Discl.";
    }
}

.person-name {
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

.row label {
    font-weight: 600;
    color: #697a80;
    font-size: 0.875rem;
}
