.navigation-icons {
  .active {
    border-bottom: 2px solid #007DEC;
    color: #007DEC;
  }
}

.user-dashboard-nav {
  min-height: 42px;
}
.status-active-pill {
  background-color: #4CB57D;
  color: white;
  padding: 3px 12px;
  border-radius: 15px;

}
.status-inactive-pill {
  background-color: #5f6462;
  color: white;
  padding: 3px 12px;
  border-radius: 15px;
}
.active-color {
  color: #007DEC;
  position: absolute;
  bottom: -24px;
  right: calc(50% - 12px);
}

.active {
  background-color: #d4e6f7;
}
