<div>
  <app-view-entity-sfi-details></app-view-entity-sfi-details>
  <div class="fw-bold ml-15 mt-4 mb-2 px-1 fs-16">Relationships</div>
  <div class="ml-15 mr-15 shadow-sm">
    <!-- [ngClass]="{'active': activeTabName === 'ALL_ENTITIES'}"  -->
    <nav
      class="align-items-center bg-white border d-flex fs-14 fw-medium mt-1 py-1 user-dashboard-nav bg-body-emphasis">
      <div (click)="currentTab('Person')" class="border-end navigation-icons text-secondary py-1" role="button"
        id="btn-person" title="Person" (keyup.enter)="currentTab('Person')" (keyup.space)="currentTab('Person')">
        <span tabindex="0" [ngClass]="{'active':entityManagementService.relationshipDashboardRequest.filterType === 'Person'}" class="px-5 ">Person</span>
        <!-- <span *ngIf="entityManagementService.relationshipDashboardRequest.filterType === 'Person'" class="active-color"></span> -->
        <!-- <span *ngIf="entityManagementService.relationshipDashboardRequest.filterType === 'Person'"
              class="active-color"><mat-icon>arrow_drop_down</mat-icon></span> -->
      </div>
      <div (click)="currentTab('Institutional')" class="border-end navigation-icons text-secondary py-1"
        role="button" id="btn-institutional" title="Institutional" (keyup.enter)="currentTab('Institutional')"
        (keyup.space)="currentTab('Institutional')">
        <span tabindex="0" [ngClass]="{'active':entityManagementService.relationshipDashboardRequest.filterType === 'Institutional'}" class="px-5">Institutional</span>
        <!-- <span *ngIf="entityManagementService.relationshipDashboardRequest.filterType === 'Institutional'"
              class="active-color"><mat-icon>arrow_drop_down</mat-icon></span> -->
      </div>
      <div (click)="currentTab('Other_Entities')" class="border-end navigation-icons text-secondary py-1"
        role="button" id="btn-other-entities" title="Other Entities" (keyup.enter)="currentTab('Other_Entities')"
        (keyup.space)="currentTab('Other_Entities')">
        <span tabindex="0" [ngClass]="{'active':entityManagementService.relationshipDashboardRequest.filterType === 'Other_Entities'}" class="px-5">Other Entities</span>
        <!-- <span *ngIf="entityManagementService.relationshipDashboardRequest.filterType === 'Other_Entities'"
              class="active-color"><mat-icon>arrow_drop_down</mat-icon></span> -->
      </div>
      <div  (click)="currentTab('Disclosures')" class="border-end navigation-icons text-secondary py-1" role="button"
        id="btn-disclosure" title="Disclosures" (keyup.enter)="currentTab('Disclosures')"
        (keyup.space)="currentTab('Disclosures')">
        <span tabindex="0" [ngClass]="{'active':entityManagementService.relationshipDashboardRequest.filterType === 'Disclosures'}" class="px-5">Disclosures</span>
        <!-- <span *ngIf="entityManagementService.relationshipDashboardRequest.filterType === 'Disclosures'"
              class="active-color"><mat-icon>arrow_drop_down</mat-icon></span> -->
      </div>
    </nav>
  </div>
  <div class="row m-3 mb-0 mt-3">
    <div class="col-12 d-flex">
      <div class="col">
        <app-elastic [options]="coiElastic" [placeHolder]="'Person Name, Department etc.'"
          [uniqueId]="'btn-entity-elastic'" (selectedResult)="redirectToEntity($event)"></app-elastic>
      </div>
      <div class="ml-15 justify-content-end d-flex">
        <button class="btn btn-primary fs-13 d-flex" id="advanced-search" title="Advance search"
          (click)="isViewAdvanceSearch=!isViewAdvanceSearch" aria-controls="view-advance-search" aria-expanded="true"
          aria-label="Toggle Advanced Search"><mat-icon class="add-icon">tune</mat-icon>
          <label class="fs-13 mt-1">
            Advanced Search
          </label>
        </button>
      </div>
    </div>
  </div>
  <div [@slowSlideInOut] *ngIf="isViewAdvanceSearch" class="card mt-2 shadow-sm border ml-15 mr-15">
    <div class="card-body">
      <div class="form-row row m-2">
        <div class="col-3 ml-3">
          <label class="fw-bold fs-14 d-block" id="adv-person-name">Person Name</label>
          <app-elastic (selectedResult)="selectPersonName($event)" [clearField]="advSearchClearField"
            [options]="elasticPersonSearchOptions" [placeHolder]="'Search by Person Name'"
            [uniqueId]="'adv-person-name'">
          </app-elastic>
        </div>
        <div class="col-3 ml-3">
          <label class="fw-bold fs-14 d-block" for="adv-department-name">Department</label>
          <!-- <input type="text" class="form-control text-secondary fs-13" placeholder="Department"> -->
          <app-endpoint-search (onSelect)="leadUnitChangeFunction($event)" [clearField]="advSearchClearField"
            [httpOptions]="leadUnitSearchOptions" [placeHolder]="'Type here for Department Name'"
            [uniqueId]="'adv-department-name'">
          </app-endpoint-search>
        </div>
        <div class="col-3 ml-3">
          <label class="fw-bold fs-14 d-block" for="adv-title">Title</label>
          <input type="text" class="form-control text-secondary fs-13" placeholder="Type here Title" id="adv-title">
                    <!-- [(ngModel)]="entityManagementService.coiRequestObject.property3" -->
        </div>
        <div class="col-3 ml-3">
          <label class="fw-bold fs-14 d-block" for="start-date-involvement">Start Date of Involvement</label>
          <span class="dateField">
            <input matInput [matDatepicker]="startDate" id="start-date-involvement" (click)="startDate.open()"
              class="form-control text-secondary fs-13" placeholder="{{datePlaceHolder}}"
              [(ngModel)]="advanceSearchDates.startDate">
            <i (click)="startDate.open()" class="fa fa-calendar text-secondary fa-large insidePicker hand-cursor"></i>
            <mat-datepicker #startDate>
            </mat-datepicker>
          </span>
        </div>
      </div>
      <div class="form-row row m-2">
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="end-date-involvement">End Date of Involvement</label>
          <span class="dateField">
            <input matInput [matDatepicker]="endDate" id="end-date-involvement" (click)="endDate.open()"
              class="form-control text-secondary fs-13"  placeholder="{{datePlaceHolder}}"
              [(ngModel)]="advanceSearchDates.endDate">
            <i (click)="endDate.open()" class="fa fa-calendar text-secondary fa-large insidePicker hand-cursor"></i>
            <mat-datepicker #endDate>
            </mat-datepicker>
          </span>
        </div>
        <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="adv-status-type">Status</label>
          <app-look-up (selectedResult)="onLookupSelect($event, 'property4')" [options]="statusTypeOptions"
            [selectedLookUpList]="lookupValues['property4']" [externalArray]="entityManagementService.statusCodes" [isExternalArray]="true" class=" text-secondary fs-13"
            [uniqueId]="'adv-status-type'">
          </app-look-up>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-end">
          <button class="btn btn-outline-secondary  fs-14 py-2 px-4 mr-10" id="btn-clear"
            (click)="clearAdvanceSearch()" title="Clear">Clear</button>
          <button class="btn btn-primary fs-14" (click)="advanceSearchRelationships()" id="btn-search" title="Search">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="entityDetails.length > 0;else noData" class="mt-2 ml-15 mr-15 border-1 shadow-sm">
    <table class="table tableSkin">
      <thead class="border bg-light">
        <tr>
          <th class="text-secondary fs-14" scope="col">Name</th>
          <th class="text-secondary fs-14" scope="col">Department</th>
          <th class="text-secondary fs-14" scope="col">Title</th>
          <th class="text-secondary fs-14" scope="col">Start Date of Involvement</th>
          <th class="text-secondary fs-14" scope="col">End Date of Involvement</th>
          <th class="text-secondary fs-14" scope="col">Relationship Status</th>
          <th class="text-secondary fs-14" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr class="border" *ngFor="let entityListData of entityDetails;let i=index">
          <td class="fs-14 text-primary"><u>{{entityListData?.personFullName}}</u></td>
          <td class="fs-14 text-secondary">{{entityListData?.person?.unit?.unitName}}</td>
          <td class="fs-14 text-secondary">{{entityListData?.coiEntity?.entityName}}</td>
          <td class="fs-14 text-secondary">{{entityListData?.involvementStartDate | dateFormatterWithTimeZone}}</td>
          <td class="fs-14 text-secondary">{{entityListData?.involvementEndDate | dateFormatterWithTimeZone}}</td>
          <td class="fs-14 text-secondary"><span
              [ngClass]="entityListData.isRelationshipActive?'status-active-pill':'status-inactive-pill'">
              {{entityListData?.isRelationshipActive?'Active':'Inactive'}}
            </span>
          </td>
          <td>
            <div>
              <button (click)="isViewEntityDetails = !isViewEntityDetails;viewDetails(entityListData)"
                class="align-items-center btn btn-outline-primary d-flex fs-14">
                <mat-icon class="me-1">visibility</mat-icon>
                View
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <div class="m-4">
      <app-no-information></app-no-information>
    </div>
  </ng-template>
  <div *ngIf="entityDetails.length>0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
    <nav aria-label="pagination section" class="pagination justify-content-end m-3">
      <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="resultCount">
      </app-pagination>
    </nav>
  </div>
</div>
