<div class="container-fluid">
  <app-view-entity-details></app-view-entity-details>
<div class="fw-bold m-2">Relationships</div>
<div>
  <nav class="align-items-center bg-white border d-flex fs-14 fw-bold mt-3 py-1 shadow-sm user-dashboard-nav bg-body-emphasis">
    <div (click)="currentSelected = 'Person'" class="border-end navigation-icons px-3 py-1" role="button">
      <span [class.active]="currentSelected === 'Person'?'active':''" class="pb-3 active">Person</span>
    </div>
    <div (click)="currentSelected = 'Institutional'" class="border-end navigation-icons px-3 py-1" role="button">
      <span [class.active]="currentSelected === 'Institutional'?'active':''">Institutional</span>
    </div>
    <div (click)="currentSelected = 'Other Entities'" class="border-end navigation-icons px-3 py-1" role="button">
      <span [class.active]="currentSelected === 'Other Entities'?'active':''">Other Entities</span>
    </div>
    <div (click)="currentSelected = 'Disclosures'" class="navigation-icons px-3 py-1" role="button">
      <span [class.active]="currentSelected === 'Disclosures'?'active':''">Disclosures</span>
    </div>
  </nav>
</div>
<table class="table mt-3">
  <thead class="border bg-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Title</th>
      <th scope="col">Start Date of Involvement</th>
      <th scope="col">End Date of Involvement</th>
      <th scope="col">Relationship Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border" *ngFor="let entityListData of entityDetails;let i=index">
      <td>{{entityListData?.name}}</td>
      <td>{{entityListData?.department}}</td>
      <td>{{entityListData?.title}}</td>
      <td>{{entityListData?.involvementStartDate}}</td>
      <td>{{entityListData?.involvementStartDate}}</td>
      <td><span [ngClass]="entityListData.status ==='Active'?'status-active-pill':'status-inactive-pill'">
       {{entityListData?.status}}
      </span>
      </td>
      <td>
        <button style=" padding: 3px 18px;font-size: 13px; " class="btn btn-outline-secondary"
          (click)="isViewEntityDetails =!isViewEntityDetails;viewDetails(isViewEntityDetails)"><span><i
              class="fa fa-eye" aria-hidden="true"></i></span> View</button>
      </td>
    </tr>
  </tbody>
</table>


</div>
