.navigation-icons{
  .active {
    border-bottom: 2px solid #007DEC;
    color: #007DEC;
    position: relative;
    bottom: 0.5rem;
  }
}

.user-dashboard-nav span:focus{
  border-bottom: 2px solid #007DEC;
  color: #007DEC;

}

.user-dashboard-nav {
  min-height: 42px;
  background-color: #ececec !important
}

.status-active-pill {
  background-color: #4CB57D;
  color: white;
  padding: 3px 17px;
  border-radius: 15px;

}
.status-inactive-pill {
  background-color: #5f6462;
  color: white;
  padding: 3px 12px;
  border-radius: 15px;
}
.active-color {
  color: #007DEC;
  position: relative;
  right: calc(50% - 0px);
  bottom: -1.8rem;
}

.active {
  background-color: #d4e6f7;
  padding: 5px
}


#btn-clear {
  width: 7rem;
  height: 3.5rem;
}
.position{
  position: relative;
  right: 3.5rem;
}
#advanced-search{
  width: 15.4rem;
}

