<div class="card coi-card-regular" [id]="SFIObject?.entityId">
    <div class="card-body" id="coi-shared-sfi-card-body">
        <div class="row">
            <div class="col-12  mb-3">
                <div class="row">
                    <div class="col">
                        <!-- <span tabindex="0" class="shadow-sm align-items-center d-flex" tabindex="0"
                                    [attr.aria-label]="SFIObject?.isActive ? 'Active': 'Inactive'"
                                    [ngClass]="SFIObject?.isActive ? SFIObject.isFormCompleted ? 'complete-ribbon' : 'incomplete-ribbon' : 'inactive-ribbon'">
                                    {{SFIObject?.isActive ? SFIObject.isFormCompleted ? 'Complete' : 'Incomplete' : 'Inactive'}}</span> -->
                        <p class="entity-title entity-name my-auto mb-0 coi-text-darker fs-6" tabindex="-1"
                                [attr.aria-label]="'entity name' + SFIObject?.entityName">
                                <app-read-more [valueToShow]="SFIObject?.entityName" [sliceCount]="200"></app-read-more>
                        </p>
                    </div>
                    <div class="col-auto text-end">
                        <span *ngIf="checkForEntityWarning()" class="info-text rounded-pill f-14 me-2 px-3 py-1 rounded-5 px-3 py-0" data-bs-toggle="tooltip"
                            [title]="getHelpText()" data-bs-placement="top">
                            <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
                            {{getMessage()}}
                        </span>
                        <!--  -->
                        <span *ngIf="referredFrom == 'SFI_SUMMARY' && this.reqObject.versionStatus == 'ARCHIVE'" tabindex="-1"
                            class="info-text rounded-pill f-14 me-2 px-3 py-1 rounded-5 px-3 py-0">
                            <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true" aria-label="SFI modified"></i>
                            SFI modified</span>
                        <span class="badge f-14  px-3 py-2 rounded-pill"
                            [ngClass]="SFIObject?.isActive ? SFIObject.isFormCompleted ? 'text-bg-success' : 'text-bg-warning' : 'text-bg-secondary'">{{SFIObject?.isActive
                            ? SFIObject.isFormCompleted ? 'Complete' : 'Incomplete' : 'Inactive'}}</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-xl-9 col-md-12">
                <div class="row">
                    <div tabindex="-1" class="col-lg-3 col-md-6 mb-lg-0 mb-sm-2 mb-2">
                        <label class="coi-text-dark d-block">Entity Type</label>
                        <span class="coi-text-light">
                            <app-no-data-label [valueToShow]="SFIObject?.entityType">
                                <span class="coi-text-light" [attr.aria-label]="SFIObject?.entityType" id="coi-shared-sfi-card-value-entity-type">
                                    {{SFIObject?.entityType}}</span>
                            </app-no-data-label>
                        </span>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-sm-2 mb-2">
                        <label class="coi-text-dark d-block"> Country</label>
                        <span class="col coi-text-light">
                            <app-no-data-label [valueToShow]="SFIObject?.countryName">
                                <span [attr.aria-label]="SFIObject?.countryName" class="grey-text text-slice"
                                    title="{{SFIObject?.countryName}}" id="coi-shared-sfi-card-value-country">{{SFIObject?.countryName}}</span>
                            </app-no-data-label>
                        </span>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-2 mb-sm-2 mb-2">
                        <label class="coi-text-dark d-block"
                        [attr.aria-label]="'Start Date Of Involvement' + SFIObject?.involvementStartDate | dateFormatter">
                        Start Date Of Involvement</label>
                        <span class="coi-text-light">
                            <app-no-data-label
                                [valueToShow]="SFIObject?.involvementStartDate"><span id="coi-shared-sfi-card-value-start-date-of-involvement">{{SFIObject?.involvementStartDate | dateFormatter }}</span>
                            </app-no-data-label>
                        </span>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-2 mb-sm-2 mb-2" tabindex="-1">
                        <div class="mb-2">
                            <label class="coi-text-dark d-block"
                                [attr.aria-label]="'End Date Of Involvement' + SFIObject?.involvementEndDate | dateFormatter">
                                End Date Of Involvement</label>
                            <span class="coi-text-light">
                                <app-no-data-label [valueToShow]="SFIObject?.involvementEndDate">
                                    <span id="coi-shared-sfi-card-value-end-date-of-involvement">{{ SFIObject?.involvementEndDate | dateFormatter }}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-auto d-flex align-items-center">
                <div>
                <label aria-label="Relationship"
                    class="coi-text-dark me-3">Relationship</label>
                <app-no-data-label [valueToShow]="reqObject.validPersonEntityRelTypes">
                    <ng-container *ngIf="reqObject.validPersonEntityRelTypes?.length">
                        <span class="relationship-pill border px-2 py-1 rounded-4 me-2 pill-color d-inline-flex"
                            *ngFor="let relationship of SFIObject?.validPersonEntityRelTypes | keyvalue; let isFirst = first"
                            [class.pill-spacing]="!isFirst">
                            <span class="d-flex coi-purple-text">
                            <mat-icon aria-hidden="true"
                            class="flex-shrink-0 me-1">{{getIcon(relationship.key)}}</mat-icon>
                            <span class="fw-bold"
                                [attr.aria-label]="relation?.personEntityRelType?.description" id="coi-shared-sfi-card-value-relation-key">{{relationship.key}} : </span>
                            <ng-container *ngFor="let relation of relationship.value; let last = last">
                                <span class="r-title ms-1" *ngIf="!last"
                                    [attr.aria-label]="relation?.personEntityRelType?.description" id="coi-shared-sfi-card-value-relation-type-notlast">{{relation?.personEntityRelType?.description
                                    +'/'}}</span>
                                <span class="r-title ms-1" *ngIf="last"
                                    [attr.aria-label]="relation?.personEntityRelType?.description" id="coi-shared-sfi-card-value-relation-type-last">{{relation?.personEntityRelType?.description}}</span>
                            </ng-container>
                        </span>
                        </span>
                    </ng-container>
                </app-no-data-label>
                </div>
            </div>
            <div class="col-lg d-flex align-items-end justify-content-end mt-lg-0 mt-md-2">
                <div *ngIf="referredFrom === 'SFI_SUMMARY'"
                    class="align-items-center col-1 d-flex text-secondary justify-content-end">
                    <button id="view-sfi" aria-label="view sfi details" title="View sfi details"  class="align-items-center btn btn-outline-secondary d-flex ms-2 fs-14"
                        (click)="openSfiDetails(SFIObject?.entityId, 'view')">
                        <mat-icon>remove_red_eye</mat-icon></button>
                    <button class="align-items-center btn btn-outline-secondary d-flex ms-2 fs-14" (click)="openReviewComment(SFIObject);"
                        id="add-activity" title="Comments" type="button"
                        aria-label="sfi comments"><mat-icon>rate_review</mat-icon></button></div>
                <div *ngIf="referredFrom !== 'SFI_SUMMARY'" class="align-items-center col-lg col-12 mt-2 d-flex text-secondary justify-content-end">
                    <button *ngIf="!isTriggeredFromSlider && SFIObject.isActive" class="align-items-center btn btn-outline-secondary d-flex ms-2 fs-14"
                        (click)="modifySfiDetails(SFIObject?.entityId, 'edit')" aria-label="Click here to modify SFI" title="Click here to modify SFI" id="coi-shared-sfi-modify-btn">
                        <mat-icon class="me-1">edit</mat-icon>Modify</button>
                    <button class="align-items-center btn btn-outline-secondary d-flex fs-14" [ngClass]="!isTriggeredFromSlider ? 'ms-2' : 'me-0'"
                        (click)="openSfiDetails(SFIObject?.entityId, 'view')" aria-label="Click here to view SFI" title="Click here to view SFI" id="coi-shared-sfi-view-btn">
                        <mat-icon class="me-1">visibility</mat-icon>View</button>
                    <button (click)="deleteConfirmation(SFIObject.personEntityId)" *ngIf="SFIObject.canDelete && !isTriggeredFromSlider"
                        class="align-items-center btn btn-outline-secondary d-flex ms-2 fs-14" aria-label="Click here to delete SFI" title="Click here to delete SFI" id="coi-shared-sfi-delete-btn">
                      <mat-icon class="me-1">delete</mat-icon>Delete</button>
                    <button *ngIf="!SFIObject?.isActive && !isTriggeredFromSlider" title="Click here to activate SFI" aria-label="Click here to activate SFI"
                        class="align-items-center btn btn-outline-secondary d-flex ms-2 fs-14" (click)="activateDeactivate(SFIObject)" id="coi-shared-sfi-activate-btn">
                        <mat-icon class="me-1">offline_bolt</mat-icon>Activate</button>
                    <button *ngIf="SFIObject?.isActive && !isTriggeredFromSlider" title="Click hrer to inactivate SFI" aria-label="Click here to inactivate SFI"
                        class="align-items-center btn btn-outline-secondary d-flex fs-14 ms-2" (click)="activateDeactivate(SFIObject)" id="coi-shared-sfi-inactive-btn">
                        <mat-icon class="me-1">schedule</mat-icon>Inactivate </button>
                </div>
            </div>
        </div>
    </div>
</div>
