<div class="card disclosure-card" [id]="SFIObject?.entityId">
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex mb-3">
                <span tabindex="0" class="shadow-sm align-items-center d-flex" tabindex="0"
                    [attr.aria-label]="SFIObject?.isActive ? 'Active': 'Inactive'"
                    [ngClass]="SFIObject?.isActive ? SFIObject.isFormCompleted ? 'complete-ribbon' : 'incomplete-ribbon' : 'inactive-ribbon'">{{SFIObject?.isActive ? SFIObject.isFormCompleted ? 'Complete' : 'Incomplete' : 'Inactive'}}</span>
                <p class="entity-title entity-name my-auto mb-0"><strong tabindex="0"
                        [attr.aria-label]="'entity name' + SFIObject?.entityName">{{SFIObject?.entityName}}</strong></p>
                <div class="info-text fs-14 ms-auto italian px-3 py-0" data-bs-toggle="tooltip" [title]="getHelpText()"
                    data-bs-placement="top" *ngIf="checkForEntityWarning()">
                    <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true"></i>
                    {{getMessage()}}
                </div>
                <div tabindex="0" class="info-text fs-14 ms-auto italian px-3 py-0"
                    *ngIf="referredFrom == 'SFI_SUMMARY' && this.reqObject.versionStatus == 'ARCHIVE'">
                    <i class="fa fa-exclamation-triangle mr-2" aria-hidden="true" aria-label="SFI modified"></i>
                    SFI modified</div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <label tabindex="0" aria-label="Relationship"
                            class="fw-bold me-3 fs-14">Relationship<span>:</span></label>
                        <app-no-data-label [valueToShow]="reqObject.validPersonEntityRelTypes">
                            <ng-container *ngIf="reqObject.validPersonEntityRelTypes?.length">
                                <span class="relationship-pill border px-3 py-1 rounded-4 me-2 pill-color fst-italic d-inline-block mb-3 fs-14"
                                    *ngFor="let relationship of SFIObject?.validPersonEntityRelTypes | keyvalue; let isFirst = first"
                                    [class.pill-spacing]="!isFirst">
                                    <label class="fw-medium me-1"
                                        [attr.aria-label]="relation?.personEntityRelType?.description">{{relationship.key}}<span>:</span></label>
                                    <ng-container *ngFor="let relation of relationship.value; let last = last">
                                        <span class="r-title" *ngIf="!last"
                                            [attr.aria-label]="relation?.personEntityRelType?.description">{{relation?.personEntityRelType?.description
                                            +'/'}}</span>
                                        <span class="r-title" *ngIf="last"
                                            [attr.aria-label]="relation?.personEntityRelType?.description">{{relation?.personEntityRelType?.description}}</span>
                                    </ng-container>
                                </span>
                            </ng-container>
                        </app-no-data-label>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-sm-2 mb-2">
                        <div class="mb-2">
                            <label class="fw-bold me-2 fs-14">Entity Type <span>:</span></label>
                            <span class="break-point-1200">
                                <app-no-data-label [valueToShow]="SFIObject?.entityType">
                                    <span class="fs-14" [attr.aria-label]="SFIObject?.entityType">
                                        {{SFIObject?.entityType}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                        <div tabindex="0">
                            <label class="fw-bold me-2 fs-14"
                                [attr.aria-label]="'Start Date Of Involvement' + SFIObject?.involvementStartDate | dateFormatter">
                                Start Date Of Involvement <span> : </span> </label>
                            <span class="break-point-1200 fs-14">
                                <app-no-data-label
                                    [valueToShow]="SFIObject?.involvementStartDate"><span>{{SFIObject?.involvementStartDate | dateFormatter }}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div tabindex="0" class="mb-2">
                            <label class="fw-bold me-2 fs-14"
                                [attr.aria-label]="'End Date Of Involvement' + SFIObject?.involvementEndDate | dateFormatter">
                                End Date Of Involvement <span>: </span></label>
                            <span class="break-point-1200 fs-14">
                                <app-no-data-label [valueToShow]="SFIObject?.involvementEndDate">
                                    <span>{{ SFIObject?.involvementEndDate | dateFormatter }}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                        <div tabindex="0" class="d-xl-flex">
                            <label class="fw-bold me-2 text-nowrap fs-14"> Country <span>:</span></label>
                            <span class="col break-point-1200 fs-14">
                                <app-no-data-label [valueToShow]="SFIObject?.countryName">
                                    <span [attr.aria-label]="SFIObject?.countryName" class="grey-text text-slice"
                                        title="{{SFIObject?.countryName}}">{{SFIObject?.countryName}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-end justify-content-end mt-lg-0 mt-md-2">
                <div *ngIf="referredFrom === 'SFI_SUMMARY'"
                    class="align-items-center col-1 d-flex text-secondary justify-content-end">
                    <button id="view-sfi" aria-label="view sfi details" title="View sfi details"  class="align-items-center btn btn-outline-secondary d-flex me-2 fs-14"
                        (click)="openSfiDetails(SFIObject?.entityId, 'view')"><mat-icon>remove_red_eye</mat-icon></button>
                    <button class="align-items-center btn btn-outline-secondary d-flex me-2 fs-14" tabindex="0" (click)="openReviewComment(SFIObject);" id="add-activity" title="Comments" type="button"
                        role="button" aria-label="sfi comments"><mat-icon>rate_review</mat-icon></button></div>
                <div *ngIf="referredFrom !== 'SFI_SUMMARY'" class="align-items-center col-lg col-12 mt-2 d-flex text-secondary justify-content-end">
                    <button *ngIf="!isTriggeredFromSlider && SFIObject.isActive" class="align-items-center btn btn-outline-secondary d-flex me-2 fs-14" (click)="modifySfiDetails(SFIObject?.entityId, 'edit')" title="Click to modify SFI">
                        <mat-icon class="me-1">edit</mat-icon>Modify</button>
                    <button class="align-items-center btn btn-outline-secondary d-flex me-2 fs-14" (click)="openSfiDetails(SFIObject?.entityId, 'view')" title="Click to view SFI">
                        <mat-icon class="me-1">visibility</mat-icon>View</button>
                    <button (click)="deleteConfirmation(SFIObject.personEntityId)" *ngIf="SFIObject.canDelete && !isTriggeredFromSlider" class="align-items-center btn btn-outline-secondary d-flex me-2 fs-14" title="Click to delete SFI">
                      <mat-icon class="me-1">delete</mat-icon>Delete</button>
                    <button *ngIf="!SFIObject?.isActive && !isTriggeredFromSlider" title="Click to activate SFI" class="align-items-center btn btn-outline-secondary d-flex me-2 fs-14" (click)="activateDeactivate(SFIObject)">
                        <mat-icon class="me-1">offline_bolt</mat-icon>Activate</button>
                    <button *ngIf="SFIObject?.isActive && !isTriggeredFromSlider" title="Click to inactivate SFI" class="align-items-center btn btn-outline-secondary d-flex fs-14" (click)="activateDeactivate(SFIObject)" >
                        <mat-icon class="me-1">schedule</mat-icon>Inactivate </button>
                </div>
            </div>
        </div>
    </div>
</div>
