<ng-container *ngIf="isOpenSlider">
    <app-coi-slider (closeSlider)="hideConflictNavBar()" [elementId]="'add-conflict'" [isHeaderNeeded]="true" [isChangedFieldValue]="isFieldValueChanges()">
        <ng-container header>Relationship between SFIs and Projects</ng-container>
        <ng-container content>
            <div class="row p-3 coi-box-red border border-secondary border-opacity-50 mx-0 mt-2 rounded-2 shadow-medium">
                <div class="col-lg-6 col-md-12 px-0 mb-2">
                    <label class="d-block coi-text-dark" for="">Person Associated with Disclosure</label>
                    <app-no-data-label [valueToShow]="disclosureMetaData?.coiPersonFullName">
                        <span class="grey-text fw-500">{{disclosureMetaData?.coiPersonFullName}}</span>
                    </app-no-data-label>
                </div>
                <div class="col-lg-6 col-md-12 px-0 mb-2">
                    <label class="d-block coi-text-dark" for="">Significant Financial Interest</label>
                    <app-no-data-label [valueToShow]="entityDetails?.entityName">
                        <span class="grey-text fw-500">{{entityDetails?.entityName}}</span>
                    </app-no-data-label>
                </div>
                <div class="col-12 px-0 mb-2">
                    <label class="d-block coi-text-dark" for="">Project</label>
                    <ng-container *ngIf="entityDetails?.moduleCode == 3 || entityDetails?.moduleCode == 1">
                        <app-no-data-label [valueToShow]="(entityDetails?.moduleCode == 3) || (entityDetails?.moduleCode == 1)">
                            <span class="grey-text fw-500">
                                <strong>#{{entityDetails?.moduleItemId}} - {{!titleReadMore ? (entityDetails?.title |
                                    slice:0:120) :
                                    entityDetails?.title}}</strong>
                                <span *ngIf="entityDetails?.title?.length>120" class="fw-500 ms-1 link-primary"
                                    (click)="titleReadMore = !titleReadMore">{{titleReadMore? 'Read Less': '...Read More'}}
                                </span>
                            </span>
                        </app-no-data-label>
                    </ng-container>
                </div>
                <div class="col-lg-6 col-md-12 px-0 mb-md-2 mb-lg-0">
                    <label class="d-block coi-text-dark" for="">Sponsor</label>
                    <app-no-data-label [valueToShow]="entityDetails?.sponsor">
                        <span class="grey-text fw-500">{{entityDetails?.sponsor}}</span>
                    </app-no-data-label>
                </div>
                <div class="col-lg-6 col-md-12 px-0">
                    <label class="d-block coi-text-dark" for="">Prime Sponsor</label>
            
                    <app-no-data-label [valueToShow]="entityDetails?.primeSponsor">
                        <span class="grey-text fw-500">{{entityDetails?.primeSponsor}}</span>
                    </app-no-data-label>
                </div>
            </div>
            <div *ngIf="isEditMode" class="d-flex alert alert-primary fs-14 my-2">
                <mat-icon role="img" class="flex-shrink-0" aria-hidden="true" data-mat-icon-type="font">info</mat-icon>
                <p class="fs-14 mb-0 ms-2">
                    <span class="d-flex algin-items-start">
                        <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                        <span>Modify the conflict status of this Project - SFI relation from the Conflict Status field.</span>
                    </span>
                    <span class="d-flex algin-items-start mt-2">
                        <mat-icon class="fs-14 mt-1 me-1 flex-shrink-0">keyboard_double_arrow_right</mat-icon>
                        <span>Provide an adequate reason for your decision in the description field provided.
                        </span>
                    </span>
                </p>
            </div>
            <div *ngIf="isEditMode" class="card shadow-sm p-3">
                <div class="row">
                    <div class="col-md-12 col-xl-4">
                        <label class="fs-14 fw-500" for="select-conflict-status">Conflict Status</label>
                        <span>
                            <select class="form-control form-select" [(ngModel)]="conflictStatus" id="select-conflict-status"
                                [ngClass]="projectConflictValidationMap?.has('coiConflictStatusCode') || projectConflictValidationMap?.has('duplicateStatus')  ? 'is-invalid d-block' : ''"
                                (ngModelChange)="setCoiProjConflictStatusType()">
                                <option [value]=null>--Select--</option>
                                <option *ngFor="let status of conflictLookUpList" [value]="status.projectConflictStatusCode">
                                    {{status?.description}}</option>
                            </select>
                            <div *ngIf="projectConflictValidationMap?.has('coiConflictStatusCode')"
                                class="invalid-feedback d-block fs-12">
                                {{projectConflictValidationMap?.get('coiConflictStatusCode')}}
                            </div>
                            <div *ngIf="projectConflictValidationMap?.has('duplicateStatus')"
                                class="invalid-feedback d-block fs-12">
                                {{projectConflictValidationMap?.get('duplicateStatus')}}
                            </div>
                        </span>
                    </div>
                    <div class="col-md-12 col-xl-8">
                        <label class="fs-14 fw-500" for="main-panel-comnt">Describe the reason for Conflict status change</label>
                        <textarea id="main-panel-comnt" class="form-control fs-14" placeholder="Description" row="1"
                            [(ngModel)]="comment" appAutoGrow rows="1" appLengthValidator [limit]="2000" [isShowLimiter]="true"
                            (ngModelChange)="comment = comment.trim()"
                            [ngClass]="projectConflictValidationMap?.has('comment') ? 'is-invalid d-block' : ''"></textarea>
                        <div *ngIf="projectConflictValidationMap?.has('comment')" class="invalid-feedback d-block fs-12">
                            {{projectConflictValidationMap?.get('comment')}}
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-primary float-end fs-14" data-bs-dismiss="modal"
                            (click)="updateProjectRelationship()">Save</button>
                        <button type="button" class="btn btn-outline-secondary float-end mr-10" data-bs-dismiss="modal"
                            (click)="clearConflictModal()">Clear</button>
                    </div>
                </div>
            </div>

            <!-- Conflict History -->
            <div class="mt-2" id="" tabindex="0">
                <h3 class="d-flex align-items-center"><strong>Conflict History</strong>
                    <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top">
                    </span>
                </h3>
            </div>

            <div class="card" id="risk-history">
                <div class="card-content">
                    <div class="card-body">
                            <ng-container *ngIf="conflictHistory.length > 0;else noData">
                                <ul class="timeline">
                                    <li *ngFor="let historyEntry of conflictHistory;let index = index; let last = last;">
                                        <div tabindex="0">
                                            <span class="badge me-2 {{_commonService.getProjectDisclosureConflictStatusBadgeForConfiltSliderStyleRequierment(historyEntry?.conflictStatusCode)}}">
                                            {{historyEntry?.conflictStatusDescription}}</span>
                                            <i class="fa fa-user coi-text-light fs-16 me-1" aria-hidden="true"></i>
                                            <span class="fw-700 fs-14">{{historyEntry?.updateUserFullName}}</span>
                                            <span class="coi-text-lighter fs-13"> {{historyEntry?.updateTimestamp | dateFormatterWithTimeZone:'long'}}</span>
                                        </div>
                                        <p class="coi-text-light pt-3 pb-4" tabindex="0">
                                            <span class="fs-14">
                                                <mat-icon class="format_quote">format_quote</mat-icon>
                                                <span *ngIf="!isReadMore[index] && historyEntry?.comment?.length > 230; else showFullInfo" class="fst-italic">
                                                    <span> {{(historyEntry?.comment | slice:0:230)}}</span>
                                                    <span (click)="isReadMore[index] = !isReadMore[index]" class="hand-cursor"><span
                                                            class="fw-medium">... <u>Read more</u>
                                                            <i aria-hidden="true"></i></span>
                                                    </span>
                                                </span>
                                                <ng-template #showFullInfo>
                                                    <span class="fst-italic">{{historyEntry?.comment}}</span>
                                                    <span *ngIf="historyEntry?.comment?.length > 230"
                                                        (click)="isReadMore[index] = !isReadMore[index]" aria-hidden="true"
                                                        class="hand-cursor"><span class="fw-medium"> <u>Read Less</u>
                                                            <i aria-hidden="true"></i></span>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </p>
                                    </li>
                                </ul>
                            </ng-container>
                    </div>
                </div>
            </div>
            <!-- <ng-container *ngIf="conflictHistory.length > 0;else noData">
                <ng-container *ngFor="let historyEntry of conflictHistory;let index = index;let last = last;">
                    <div class="row mx-2">
                        <div class="col-1 mr-15" [class.timeline]="!last" style="position: relative">
                            <span
                                class="badge rounded-pill badge-width {{_commonService.getProjectDisclosureConflictStatusBadgeForConfiltSliderStyleRequierment(historyEntry?.conflictStatusCode)}}">
                                {{historyEntry?.conflictStatusDescription}}</span>
                        </div>
                        <div class="col pb-4 mx-auto comment-box-height">
                            <div class="align-items-center ml-5 mx-0">
                                <span class="d-flex align-items-center text-muted">
                                    <i class="fa fa-user grey-text fs-16" aria-hidden="true"></i>
                                    <label class="fw-700 fs-14 ml-2">{{historyEntry?.updateUserFullName}}</label>
                                    <span class="ml-15 fs-12">{{historyEntry?.updateTimestamp |
                                        dateFormatterWithTimeZone:'long'}}</span></span>
                                <div class="coi-text-light">
                                    <mat-icon class="format_quote">format_quote</mat-icon>
                                    <span
                                        *ngIf="!isReadMore[index] && historyEntry?.comment?.length > 230; else showFullInfo">
                                        <span> {{(historyEntry?.comment | slice:0:230)}}</span>
                                        <span (click)="isReadMore[index] = !isReadMore[index]" class="hand-cursor"><span
                                                class="fw-medium">... <u>Read more</u>
                                                <i aria-hidden="true"></i></span>
                                        </span>
                                    </span>
                                    <ng-template #showFullInfo>
                                        <span>{{historyEntry?.comment}}</span>
                                        <span *ngIf="historyEntry?.comment?.length > 230"
                                            (click)="isReadMore[index] = !isReadMore[index]" aria-hidden="true"
                                            class="hand-cursor"><span class="fw-medium"> <u>Read Less</u>
                                                <i aria-hidden="true"></i></span>
                                        </span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container> -->
            <ng-template *ngIf="isEmptyHistory()">
                <app-no-information></app-no-information>
            </ng-template>
        </ng-container>
        <ng-container confirmation-content>
            You have unsaved changes in the <strong>Project - SFI relations</strong>, do you want to leave?
        </ng-container>
    </app-coi-slider>
</ng-container>
