.toggle-btn {
    width: 35px;
    height: 35px;
}

.icon-bg {
    border-radius: 50%;
    background-color: var(--theme-entity-icon-bg-color);
    padding: 7px;
}

.coloured-icon {
    color: var(--theme-entity-icon-color) !important;
}
