<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-confirmation-modal-trigger" data-bs-toggle="modal"
    data-bs-target="#confirmationModal"></button>
<div class="modal modal-coi fade mySkinDialog" id="confirmationModal" role="dialog" aria-labelledby="confirmationModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{service.modalActionBtnName}} Travel Disclosure 
                    <span *ngIf="disclosureId">#{{disclosureId}}</span>
                    <span *ngIf="!disclosureId">by {{createUser}}</span></h5>
                <button type="button" id="prop-confirmationModal-dismiss-btn" class="btn-close fs-12" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p class="fs-14">
                    Are you sure you want to <strong>{{service.modalActionBtnName}}</strong> this disclosure?
                </p>

            </div>
            <div class="modal-footer mx-2">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary btn-sm fs-14" (click)="performAction()" data-bs-dismiss="modal">
                    {{service.modalActionBtnName}}
                </button>
            </div>
        </div>
    </div>
</div>