<div class="section-container">
    <div class="section">
        <div class="section-header form-builder-sticky-header">
            <span>Entity Details</span>
        </div>
        <div class="content" id="ENTITY_SECTION">
            <div class="row mb-3">
                <div class="col-12 position-relative" *ngIf="isFormEditMode">
                    <ng-container *ngIf="!isNewEntityFromSearch">
                        <label for="consulting-entity-name">Entity Name</label>
                        <app-elastic  [uniqueId]="'consulting-entity-name'"
                                      class="w-100 mt-4" [options]="entitySearchOptions"
                                      [isError]="mandatoryList?.has('entityName')"
                                      [placeHolder]="'Type here to search / add an Entity Name'" [clearField]="clearField"
                                      [isDisabled]="!isFormEditMode" (selectedResult)="selectedEvent($event)"
                                      [addNewValue]="'ALLOW_UNIQUE'" (newValueSelect)="addNewEntity($event)">
                        </app-elastic>
                        <div *ngIf="mandatoryList?.has('entityName')"
                             class="invalid-feedback d-block fs-13 position-absolute">
                            {{mandatoryList?.get('entityName')}}
                        </div>
                    </ng-container>
                </div>
                <div class="col-12" *ngIf="isResultFromSearch">
                    <app-shared-entity-info-card [entityDetails]="entityDetails?.coiEntity" [viewMore]="true"
                        (emitEntityId)="viewEntity($event)"></app-shared-entity-info-card>
                </div>
                <ng-container *ngIf="!isFormEditMode && !isResultFromSearch">
                    <app-no-information></app-no-information>
                </ng-container>
                <ng-container *ngIf="canShowEntityFields">
                    <a *ngIf="isNewEntityFromSearch" class="search-again-action fs-13 cursor-pointer mb-3" (click)="backToSearch()">
                        Back to Search </a>
                    <app-entity-creation [isCreateScreen]="true" [entityDetails]="newCreateEntityObj" [isEditMode]="true"
                                         [saveEntity]="triggerSaveEntity" (emitSaveObj)="postEntitySave($event)" [canNavigateToEntity]="false"></app-entity-creation>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<app-form-builder-view [externalEvents]="consultingService.formBuilderEvents"
(builderStatus)="formBuilderDataChanged($event)"></app-form-builder-view>

<!-- Entity Details Modal -->
<button tabindex="-1" class="d-none" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#entity-details" id="coi-add-sfi-persondetailsTrigger">
</button>

<div class="modal fade mySkinDialog modal-lg" id="entity-details" tabindex="-1" aria-labelledby="exampleModalLabel"
    data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header headerStyle" tabindex="-1"
                [attr.aria-label]="'Entity Name' + (addEntityConfirmation?.entityName)">
                <h5 class="modal-title userDetail " id="entityDetails">{{addEntityConfirmation?.entityName}}</h5>
                <button type="button" class="btn-close" id="coi-add-sfi-entity-modal-dismiss-btn"
                    data-bs-dismiss="modal" aria-label="Click here to close" title="Click here to close"
                    (click)="clearEntityDetails()" (keyup.enter)="clearEntityDetails()"
                    (keyup.space)="clearEntityDetails()"></button>
            </div>
            <div class="modal-body">
                <div class="mx-1 row pt-1 d-flex">
                    <div class="text-secondary fs-14 col-4 mb-15" tabindex="-1" [attr.aria-label]="'Country' + (addEntityConfirmation?.country?.countryName)">
                        <label  for="country" class="grey-text me-2"> Country</label>
                        <span class="d-flex fs-14 fw-normal" id="coi-add-sfi-entity-details-modal-value-country"> {{addEntityConfirmation?.country?.countryName}}</span>
                    </div>
                    <div class="text-secondary fs-14 col-4 mb-15" tabindex="-1" [attr.aria-label]="'Ownership Type' + (addEntityConfirmation?.entityType?.description)">
                        <label for="Ownership Type" class="grey-text me-2">Ownership Type</label>
                        <span class="d-flex fs-14 fw-normal" id="coi-add-sfi-entity-details-modal-value-entitytype"> {{addEntityConfirmation?.entityType?.description}}</span>
                    </div>
                    <div class="text-secondary fs-14 col-4" tabindex="-1"
                         [attr.aria-label]="'Entity Status' + (addEntityConfirmation?.isActive ? 'Active' : 'Inactive')">
                        <label for="Entity Status" class="grey-text me-2 d-block">Entity Status</label>
                        <span class="badge f-14 px-3 py-2 rounded-pill"
                              [ngClass]="addEntityConfirmation?.isActive ? 'text-bg-success' : 'text-bg-secondary'" id="coi-add-sfi-entity-details-modal-value-entity-status">
					{{addEntityConfirmation?.isActive ? 'Active':'Inactive'}}</span>
                    </div>
                    <div class="text-secondary fs-14 col-8 mt-2" tabindex="-1" [attr.aria-label]="'Address' + (addEntityConfirmation?.address)">
                        <div>
                            <label for="Address" class="grey-text me-2">Address</label></div>
                        <app-read-more [valueToShow]="addEntityConfirmation?.address" [sliceCount]="55"></app-read-more>
                    </div>
                </div>
            </div>
            <div class="modal-footer ct-footer-padding">
                <button id="coi-add-sfi-entity-modal-cancel-btn" (click)="clearEntityDetails()"
                    class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button"
                    aria-label="Click here to cancel" title="Click here to cancel">Cancel
                </button>
                <button id="coi-add-sfi-entity-modal-confirm-btn" (click)="confirmEntityDetails()"
                    data-bs-dismiss="modal" aria-label="Click here to confirm" title="Click here to confirm"
                    class="btn btn-primary fs-14 height-35px" type="button">Confirm</button>
            </div>
        </div>
    </div>
</div>
