<div class="py-2">
  <!-- <section class="row">
    <div (click)="changeTab('NEW_SUBMISSIONS')"
      class="align-items-center col d-flex dash-card justify-content-center pointer py-4 ml-4 flex-column shadow-medium border mt-3">
      <div tabindex="0" class="align-items-center d-flex justify-content-center" style="height:40px">
        <p class="f-5 bold">{{dashboardCounts?.newSubmissionsCount}}</p>
        <p class="f-18 fw-500 mx-4">New Submissions</p>
      </div>
    </div>
    <div tabindex="0" (click)="searchConflictIdentified()" class="col dash-card pointer shadow-medium border mt-3">
      <div class="align-items-center d-flex h-100 justify-content-center">
        <p class="f-5 bold">{{dashboardCounts?.conflictIdentifiedCount}}</p>
        <p class="f-18 fw-500 mx-4">Conflicts Identified</p>
      </div>
    </div>
    <div [routerLink]="['/coi/entity-management']" class="col dash-card pointer  shadow-medium border mt-3">
      <div class="align-items-center d-flex h-100 justify-content-center">
        <p class="f-5 bold">{{dashboardCounts?.pendingEntityApproval}}</p>
        <p class="f-18 fw-500 mx-4">Pending Entity Approval</p>
      </div>
    </div>
  </section> -->

  <section class="section-advanced-search">
    <nav class="coi-admin-dash mb-2 mx-0 row border shadow-sm">
      <div class="bg-white list">
        <ul class="m-0 p-0">
          <li tabindex="0" (click)="changeTab('ALL_DISCLOSURES')"
          (keyup.enter)="changeTab('ALL_DISCLOSURES')" (keyup.space)="changeTab('ALL_DISCLOSURES')"
            [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='ALL_DISCLOSURES'"
            class="p-3 position-relative text-center ml-3">
            All Disclosures
          <li class="separator"></li>
          <li tabindex="0" (click)="changeTab('NEW_SUBMISSIONS')"
          (keyup.enter)="changeTab('NEW_SUBMISSIONS')" (keyup.space)="changeTab('NEW_SUBMISSIONS')"
            [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='NEW_SUBMISSIONS'"
            class="p-3 position-relative text-center">
            New Submissions
          <li class="separator"></li>
          <li tabindex="0" (click)="changeTab('PENDING_DISCLOSURES')"
          (keyup.enter)="changeTab('PENDING_DISCLOSURES')" (keyup.space)="changeTab('PENDING_DISCLOSURES')"
            [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='PENDING_DISCLOSURES'"
            class="p-3 position-relative text-center  fs-14">My Reviews
          <li class="separator"></li>
          <li tabindex="0" (click)="changeTab('ALL_REVIEWS')"
          (keyup.enter)="changeTab('ALL_REVIEWS')" (keyup.space)="changeTab('ALL_REVIEWS')"
            [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='ALL_REVIEWS'"
            class="p-3 position-relative text-center">All Reviews
          </li>
          <li class="separator"></li>
          <li tabindex="0" (click)="changeTab('TRAVEL_DISCLOSURES')"
          (keyup.enter)="changeTab('TRAVEL_DISCLOSURES')" (keyup.space)="changeTab('TRAVEL_DISCLOSURES')"
            [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='TRAVEL_DISCLOSURES'"
            class="p-3 position-relative text-center">Travel Disclosures
          </li>
        </ul>
      </div>
    </nav>
    <div *ngIf="isAdvanceSearchTab(_coiAdminDashboardService.coiRequestObject.tabName)" class="d-flex mb-2">
      <div class="form-group col">
        <app-elastic [options]="coiElastic" style="width: 1400px"
          [placeHolder]="'Search : Person, Department, Entity, Disclosure#'"
          (selectedResult)="redirectToDisclosure($event)"></app-elastic>
      </div>
      <div class="form-group  col-auto">
        <button role="button" class="btn btn-primary d-flex align-items-center primary-button ms-3 fs-14" id="advanced-search" (click)="toggleADSearch()"
        aria-controls="collapseExample"
        aria-expanded="false"
        aria-label="Toggle Advanced Search"><mat-icon class="me-3">tune</mat-icon>Advanced Search</button>
      </div>
    </div>

    <div class="sort-div border mt-2" *ngIf="isShowAllProposalList && coiList.length">
      <span class="fs-14 fw-medium me-2 text-secondary">Sort By:</span>
      <span  tabindex="0" (keydown.enter)="sortResult('coiDisclosureNumber')"
        (click)="sortResult('coiDisclosureNumber')" [class.filter-active]="_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']"
        class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 ml-15 border rounded-5 bg-white" role="button">
        <div class="d-inline-flex align-items-center">
          <label class="offscreen">Click to Sort by Disclosure # in {{_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']=== 'asc' ? 'Descending Order' : 'Ascending Order'}} </label>
          <label aria-hidden="true">Disclosure#</label>
          <mat-icon class="text-secondary arrow" *ngIf="!_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow" *ngIf="_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']=== 'asc' ">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow"*ngIf="_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']=== 'desc' ">arrow_upward</mat-icon>
        </div>
      </span>
      <span  tabindex="0" (keydown.enter)="sortResult('disclosurePersonFullName')"  (click)="sortResult('disclosurePersonFullName')"
      [class.filter-active]="isActive('disclosurePersonFullName')"
        class="shaow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
        <div class="d-inline-flex align-items-center">
          <label class="offscreen">Click to Sort by Person Name in {{_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']=== 'asc' ? 'Descending Order' : 'Ascending Order'}} </label>
          <label aria-hidden="true">Person Name</label>
          <mat-icon class="text-secondary arrow" *ngIf="!_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow" *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']=== 'asc' ">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow"*ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']=== 'desc' ">arrow_upward</mat-icon>
        </div>
      </span>
      <span tabindex="0" (keydown.enter)="sortResult('disclosureCategoryType')" (click)="sortResult('disclosureCategoryType')" [class.filter-active]="isActive('disclosureCategoryType')"
        class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white" role="button">
        <div class="d-inline-flex align-items-center">
          <label class="offscreen">Click to Sort by Disclosure Type in {{_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']=== 'asc' ? 'Descending Order' : 'Ascending Order'}} </label>
          <label aria-hidden="true">Disclosure Type</label>
          <mat-icon class="text-secondary arrow" *ngIf="!_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow" *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']=== 'asc' ">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow"*ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']=== 'desc' ">arrow_upward</mat-icon>
        </div>
      </span>
      <span  tabindex="0" (keydown.enter)="sortResult('disclosureStatus')" (click)="sortResult('disclosureStatus')" [class.filter-active]="isActive('disclosureStatus')"
        class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
        <div class="d-inline-flex align-items-center">
          <label class="offscreen">Click to Sort by Disclosure Status in {{_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']=== 'asc' ? 'Descending Order' : 'Ascending Order'}} </label>
          <label aria-hidden="true">Disclosure Status</label>
          <mat-icon class="text-secondary arrow" *ngIf="!_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow" *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']=== 'asc' ">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow"*ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']=== 'desc' ">arrow_upward</mat-icon>
        </div>
      </span>
      <span  tabindex="0" (keydown.enter)="sortResult('certificationDate')" (click)="sortResult('certificationDate')" [class.filter-active]="isActive('certificationDate')"
      class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
      <div class="d-inline-flex align-items-center">
        <label class="offscreen">Click to Sort by Certification Date in {{_coiAdminDashboardService.coiRequestObject.sort['certificationDate']=== 'asc' ? 'Descending Order' : 'Ascending Order'}} </label>
        <label aria-hidden="true">Certification Date</label>
        <mat-icon class="text-secondary arrow" *ngIf="!_coiAdminDashboardService.coiRequestObject.sort['certificationDate']">arrow_downward</mat-icon>
        <mat-icon class="arrow selected-arrow" *ngIf="_coiAdminDashboardService.coiRequestObject.sort['certificationDate']=== 'asc' ">arrow_downward</mat-icon>
        <mat-icon class="arrow selected-arrow"*ngIf="_coiAdminDashboardService.coiRequestObject.sort['certificationDate']=== 'desc' ">arrow_upward</mat-icon>
      </div>
      </span>
      <span  tabindex="0" (keydown.enter)="sortResult('expirationDate')" (click)="sortResult('expirationDate')" [class.filter-active]="isActive('expirationDate')"
        class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
        <div class="d-inline-flex align-items-center">
          <label class="offscreen">Click to Sort by Expiration Date in {{_coiAdminDashboardService.coiRequestObject.sort['expirationDate']=== 'asc' ? 'Descending Order' : 'Ascending Order'}} </label>
          <label aria-hidden="true">Expiration Date</label>
          <mat-icon class="text-secondary arrow" *ngIf="!_coiAdminDashboardService.coiRequestObject.sort['expirationDate']">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow" *ngIf="_coiAdminDashboardService.coiRequestObject.sort['expirationDate']=== 'asc' ">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow"*ngIf="_coiAdminDashboardService.coiRequestObject.sort['expirationDate']=== 'desc' ">arrow_upward</mat-icon>
        </div>
      </span>
      <span tabindex="0" (keydown.enter)="sortResult('updateTimeStamp')" (click)="sortResult('updateTimeStamp')" [class.filter-active]="isActive('updateTimeStamp')"
        class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white" role="button">
        <div class="d-inline-flex align-items-center">
          <label class="offscreen">Click to Sort by Last Updated in {{_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']=== 'asc' ? 'Descending Order' : 'Ascending Order'}} </label>
          <label aria-hidden="true">Last Updated</label>
          <mat-icon class="text-secondary arrow" *ngIf="!_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow" *ngIf="_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']=== 'asc' ">arrow_downward</mat-icon>
          <mat-icon class="arrow selected-arrow"*ngIf="_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']=== 'desc' ">arrow_upward</mat-icon>
        </div>
      </span>
    </div>

    <div class="card mb-3 collapse border mt-2" id="collapseExample" >
      <div class="card-body">
        <ng-container *ngIf="_coiAdminDashboardService.coiRequestObject.tabName !='ENTITY'">
          <div class="form-row row">
            <!-- Person Name -->
            <div class="col-xl-3 col-lg-5 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-person-name">Person Name</label>
              <app-elastic (selectedResult)="selectPersonName($event)" [clearField]="advSearchClearField"
                [options]="elasticPersonSearchOptions" [placeHolder]="'Search by Person Name'" [uniqueId]="'adv-disclosure-person-name'">
              </app-elastic>
            </div>
            <!-- Department Name -->
            <div class="col-xl-3 col-lg-5 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-department-name">
                Department Name
              </label>
              <app-endpoint-search (onSelect)="leadUnitChangeFunction($event)" [clearField]="advSearchClearField"
                [httpOptions]="leadUnitSearchOptions" [placeHolder]="'Search by Department'" [uniqueId]="'adv-disclosure-department-name'">
              </app-endpoint-search>
            </div>
            <!-- Entity Name -->
            <div class="col-xl-3 col-lg-5 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-entity-name">Entity Name</label>
              <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
                [httpOptions]="EntitySearchOptions" [placeHolder]="'Search by Entity Name'" class="w-100 mt-4" [uniqueId]="'adv-disclosure-entity-name'">
              </app-endpoint-search>
            </div>
            <!-- Entity Country -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-entity-country">Entity Country</label>
              <app-endpoint-search (onSelect)="selectEntityCountry($event)" [clearField]="advSearchClearField"
                [httpOptions]="countrySearchOptions" [placeHolder]="'Search by Country'" [uniqueId]="'adv-disclosure-entity-country'">
              </app-endpoint-search>
            </div>
          </div>
          <div class="form-row row mt-3">
            <!-- Disclosure # -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-id">
                Disclosure #
              </label>
              <input id="adv-disclosure-id" [(ngModel)]="_coiAdminDashboardService.coiRequestObject.property1" class="form-control"
                placeholder="Disclosure Number" type="text" />
            </div>
            <!-- Disclosure Type -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block"  for="adv-disclosure-type">
                Disclosure Type
              </label>
              <app-look-up (selectedResult)="onLookupSelect($event, 'property5')" [options]="disclosureTypeOptions"
                [selectedLookUpList]="lookupValues['property5']" [uniqueId]="'adv-disclosure-type'">
              </app-look-up>
            </div>
            <!-- Disclosure Status -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-status">
                Disclosure Status
              </label>
              <app-look-up (selectedResult)="onLookupSelect($event, 'property4')" [options]="disclosureStatusOptions"
                [selectedLookUpList]="lookupValues['property4']" [uniqueId]="'adv-disclosure-status'">
              </app-look-up>
            </div>
            <!-- Conflict Status -->
            <!-- <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block">
                <ng-container>Conflict Status</ng-container>
              </label>
              <app-look-up (selectedResult)="onLookupSelect($event, 'property22')" [options]="conflictStatusOptions"
                [selectedLookUpList]="lookupValues['property22']">
              </app-look-up>
            </div> -->
            <!-- Disposition Status -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block" for="adv-disposition-status">
                Disposition Status
              </label>
              <app-look-up (selectedResult)="onLookupSelect($event, 'property20')" [options]="disPositionOptions"
                [selectedLookUpList]="lookupValues['property20']"  [uniqueId]="'adv-disposition-status'">
              </app-look-up>
            </div>
          </div>
          <!-- <div class="form-row row mt-3">
                   Project Type
                   <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
                    <label class="d-block">
                        <ng-container>Project Type</ng-container>
                    </label>
                    <select [(ngModel)]="_coiAdminDashboardService.coiRequestObject.property14"
                            class="form-control">
                        <option [ngValue]="null">--Select--</option>
                        <option [value]="1">Award</option>
                        <option [value]="3">Proposal</option>
                    </select>
                    </div>
                     Project Title
                     <div class="col-xl-6 col-lg-5 col-sm-6 col-6">
                      <label class="d-block">Project Title</label>
                      <input [(ngModel)]="_coiAdminDashboardService.coiRequestObject.property11" class="form-control"
                             placeholder="Project Title" type="text"/>
                    </div>
                    Project Status
                    <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
                      <label class="d-block">
                          <ng-container>Project Status</ng-container>
                      </label>
                      <app-look-up (selectedResult)="onLookupSelect($event, 'property4')"
                                   [options]="disclosureStatusOptions"
                                   [selectedLookUpList]="lookupValues['property4']">
                      </app-look-up>
                  </div>
                  </div> -->
          <div class="form-row row mt-3">
            <!-- Sponsor Status -->
            <!-- <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
                    <label class="d-block">
                        <ng-container>Sponsor</ng-container>
                    </label>
                    <app-look-up (selectedResult)="onLookupSelect($event, 'property4')"
                                 [options]="disclosureStatusOptions"
                                 [selectedLookUpList]="lookupValues['property4']">
                    </app-look-up>
                    </div> -->


            <!-- Review Status -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block">
                <ng-container>Review Status</ng-container>
              </label>
              <app-look-up (selectedResult)="onLookupSelect($event, 'property21')" [options]="coiReviewStatusOptions"
                [selectedLookUpList]="lookupValues['property21']">
              </app-look-up>
            </div>
            <!-- <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-certification-date">
                Certification Date
              </label>
              <span class="dateField">
                <input id="adv-disclosure-certification-date" (keypress)="certificationDate.open()"  matInput [matDatepicker]="certificationDate" (click)="certificationDate.open()"
                  class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.certificationDate" placeholder="dd/MM/yyyy">
                <i (click)="certificationDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                <mat-datepicker #certificationDate></mat-datepicker>
              </span>
            </div> -->
            <!-- Certification Date -->
           <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
            <label class="d-block" for="adv-disclosure-certification-date">
              Certification Date
            </label>
            <span class="dateField">
              <input id="adv-disclosure-certification-date" (keypress)="certificationDate.open()"  matInput [matDatepicker]="certificationDate" (click)="certificationDate.open()"
                class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.certificationDate" placeholder="{{datePlaceHolder}}">
              <i (click)="certificationDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
              <mat-datepicker #certificationDate></mat-datepicker>
            </span>
          </div>
            <!-- Approval Date -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-approval-date">
                Approval Date
              </label>
              <span class="dateField">
                <input id="adv-disclosure-approval-date"(keypress)="approvalDate.open()"  matInput [matDatepicker]="approvalDate" (click)="approvalDate.open()"
                  class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.approvalDate" placeholder="{{datePlaceHolder}}">
                <i (click)="approvalDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                <mat-datepicker #approvalDate></mat-datepicker>
              </span>
            </div>
            <!-- End Date -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
              <label class="d-block" for="adv-disclosure-expiration-date">
                Expiration Date
              </label>
              <span class="dateField">
                <input matInput [matDatepicker]="expirationDate" (keypress)="expirationDate.open()" id="adv-disclosure-expiration-date" (click)="expirationDate.open()"
                  class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.expirationDate"placeholder="{{datePlaceHolder}}">
                <i (click)="expirationDate.open()" class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                <mat-datepicker #expirationDate></mat-datepicker>
              </span>
            </div>

          </div>
          <div class="form-row row mt-3">
            <!-- Has SFI -->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3"  aria-labelledby ="Disclosures_has_sfi">
              <label class="d-block">
                Has SFI
              </label>
              <span class="mt-2" aria-label="Disclosures_has_sfi" role="switch">
                <a *ngIf="!_coiAdminDashboardService.coiRequestObject.property15">
                  <label class="switch">
                    <input (keypress.enter)="_coiAdminDashboardService.coiRequestObject.property15
                    = !_coiAdminDashboardService.coiRequestObject.property15"
                        (click)="_coiAdminDashboardService.coiRequestObject.property15
                                = !_coiAdminDashboardService.coiRequestObject.property15" type="checkbox">
                    <span class="slider round"><small class="deactivate-text">No</small></span>
                  </label>
                </a>
                <a *ngIf="_coiAdminDashboardService.coiRequestObject.property15">
                  <label class="switch">
                    <input
                    (keypress.enter)="_coiAdminDashboardService.coiRequestObject.property15
                    = !_coiAdminDashboardService.coiRequestObject.property15"
                    (click)="_coiAdminDashboardService.coiRequestObject.property15
                                = !_coiAdminDashboardService.coiRequestObject.property15" checked type="checkbox">
                    <span class="slider round"><small>Yes</small></span>
                  </label>
                </a>
              </span>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button (click)="resetAndPerformAdvanceSearch()" class="btn btn-secondary btn-xs fs-14">Clear</button>
            <button (click)="performAdvanceSearch()" class="btn btn-primary fs-14 ms-3 primary-button">Search</button>
          </div>
        </ng-container>
      </div>
    </div>

    <ng-container
      *ngIf="isShowAllProposalList">
      <ng-container *ngFor="let coi of coiList;">
        <section class="mt-3 shadow-sm coi-card">
          <div class="bg-white border f-14 pt-3">
            <div class="border-bottom">
              <div class="row mb-3 px-3">
                <div class="col d-flex">
                  <label for="id" class="label-text">Disclosure # :</label>
                  <span id="id" class="grey-text">{{coi?.coiDisclosureNumber}}</span>
                </div>
                <div class="col d-flex">
                  <label for="person-name" class="label-text">Person Name :</label>
                  <span *ngIf="coi?.disclosurePersonFullName" id="person-name" class="grey-text">{{coi?.disclosurePersonFullName}}</span>
                  <span *ngIf="!coi?.disclosurePersonFullName" class="noDataExists">-- No Data --</span>
                </div>
                <div class="col d-flex">
                  <label for="type" class="label-text">Disclosure Type :</label>
                  <span *ngIf="coi?.fcoiType" id="type" class="grey-text">{{coi?.fcoiType}}</span>
                  <span *ngIf="!coi?.fcoiType" class="noDataExists">-- No Data --</span>
                </div>
                <div class="col d-flex">
                  <label for="status" class="label-text">Disclosure Status :</label>
                  <div *ngIf="coi?.conflictStatus" class="badge f-13 rounded-pill {{commonService.getDisclosureConflictBadge(coi?.conflictStatusCode)}}"
                       id="status">
                    {{coi?.conflictStatus}}
                  </div>
                  <div *ngIf="!coi?.conflictStatus" class="noDataExists">-- No Data --</div>
                </div>
              </div>
              <div class="row mb-3 px-3">
                <div class="col d-flex" *ngIf="_coiAdminDashboardService.coiRequestObject.tabName == 'PENDING_DISCLOSURES'">
                  <label for="event-type" class="label-text">Disclosure Event Type :</label>
                  <span id="event-type" class="grey-text">{{getEventType(coi?.disclosureSequenceStatusCode,
                    coi?.disclosureCategoryTypeCode)}}</span>
                  <span *ngIf="!coi?.disclosureCategoryType" class="noDataExists">-- No Data --</span>
                </div>
                <div class="col d-flex">
                  <label for="event-type" class="label-text">Certification Date :</label>
                  <span class="noDataExists">-- No Data --</span>
                  <!-- <span *ngIf="!coi?.disclosureCategoryType" id="event-type" class="grey-text">{{getEventType(coi?.disclosureSequenceStatusCode,
                    coi?.disclosureCategoryTypeCode)}}</span> -->
                </div>
                <div class="col d-flex">
                  <label for="event-type" class="label-text">Expiration Date :</label>
                  <span *ngIf="!coi?.expirationDate" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.expirationDate" id="event-type" class="grey-text">{{coi?.expirationDate | dateFormatter}}</span>
                </div>
                <div class="col d-flex" *ngIf="_coiAdminDashboardService.coiRequestObject.tabName == 'PENDING_DISCLOSURES'">
                  <label for="disp-status" class="label-text">Disposition Status :</label>
                  <span *ngIf="!coi?.dispositionStatus" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.dispositionStatus"
                    class="badge f-13 rounded-pill bg-{{getDispositionStatusBadge(coi?.disclosureDispositionCode)}}"  [class.text-dark]="getDispositionStatusBadge(coi?.disclosureDispositionCode) === 'warning'"
                    id="disp-status">{{coi?.dispositionStatus}}</span>
                </div>
                <div class="col d-flex" *ngIf="_coiAdminDashboardService.coiRequestObject.tabName != 'PENDING_DISCLOSURES'">
                  <label for="last-approved-version" class="label-text">Last Approved Version :</label>
                  <span *ngIf="!coi?.lastApprovedVersion" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.lastApprovedVersion" id="last-approved-version" class="grey-text">{{coi?.lastApprovedVersion}}</span>
                </div>
                <div class="col d-flex" *ngIf="_coiAdminDashboardService.coiRequestObject.tabName != 'PENDING_DISCLOSURES'">
                  <label for="disp-status" class="label-text">Disposition Status :</label>
                  <span *ngIf="!coi?.dispositionStatus" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.dispositionStatus"
                    class="badge f-13 rounded-pill {{commonService.getDispositionStatusBadge(coi?.dispositionStatusCode)}}"
                    id="disp-status">{{coi?.dispositionStatus}}</span>
                </div>
              </div>
              <div class="row mb-3 px-3">
                <div class="col-3 d-flex" *ngIf="_coiAdminDashboardService.coiRequestObject.tabName == 'PENDING_DISCLOSURES'">
                  <label for="last-approved-version" class="label-text">Last Approved Version :</label>
                  <span *ngIf="!coi?.lastApprovedVersion" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.lastApprovedVersion" id="last-approved-version" class="grey-text">{{coi?.lastApprovedVersion}}</span>
                </div>
                <div class="col-3 d-flex">
                  <label for="last-approved-version-date" class="label-text">Last Approved Version Date :</label>
                  <span *ngIf="!coi?.lastApprovedVersionDate" class="noDataExists">No data date exist</span>
                  <span *ngIf="coi?.lastApprovedVersionDate" id="last-approved-version-date" class="grey-text">{{coi?.lastApprovedVersionDate | dateFormatter}}</span>
                </div>
                <div class="col-6 d-flex" *ngIf="_coiAdminDashboardService.coiRequestObject.tabName != 'PENDING_DISCLOSURES'">
                  <label for="revision-reason" class="label-text">Revision Reason :</label>
                  <span *ngIf="!coi?.revisionComment" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.revisionComment" id="revision-reason" class="grey-text">{{coi?.revisionComment}}</span>
                </div>
                <div class="col-3 d-flex align-self-center"
                  *ngIf="_coiAdminDashboardService.coiRequestObject.tabName == 'PENDING_DISCLOSURES'">
                  <label class="m-0" for="last-updated" class="label-text"> Review Status for </label>
                  <!-- <span *ngIf="!coi?.reviewerFullName" class="noDataExists">No disclosure type exist</span> -->
                  <span *ngIf="coi?.reviewerFullName" id="last-updated" class="grey-text"><i class="bold">{{coi?.reviewerFullName}}</i>
                    : <span
                      class="badge f-13 rounded-pill {{commonService.getReviewStatusBadge(coi?.reviewStatusCode)}}">{{coi?.reviewerStatus}}</span></span>
                </div>
                <div class="col-3 d-flex">
                  <label for="review-status" class="label-text">Review Status :</label>
                  <span *ngIf="!coi?.reviewStatus" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.reviewStatus" class="badge f-13 rounded-pill {{commonService.getReviewStatusBadge(coi?.reviewStatusCode)}}"
                    id="review-status">{{coi?.reviewStatus}}</span>
                </div>
              </div>
              <div class="row mb-2 px-3" *ngIf="_coiAdminDashboardService.coiRequestObject.tabName == 'PENDING_DISCLOSURES'">
                <div class="col-6 d-flex"
                  [ngClass]="_coiAdminDashboardService.coiRequestObject.tabName == 'PENDING_DISCLOSURES' ?'col-6':'col-9'">
                  <label for="revision-reason" class="label-text">Revision Reason :</label>
                  <span *ngIf="!coi?.revisionComment" class="noDataExists">-- No Data --</span>
                  <span *ngIf="coi?.revisionComment" id="revision-reason" class="grey-text">{{coi?.revisionComment}}</span>
                </div>
              </div>
            </div>
              <div class="row py-2 m-0 bg-white">
                <div class="col-3 d-flex align-items-center">
                  <div
                    (click)="setSelectedModuleCode('sfi', coi.coiDisclosureId, coi.coiDisclosureNumber, coi.disclosureStatusCode, coi.personId);"
                    *ngIf="coi?.disclosureStatusCode == 1" class="bold-blue-number pointer">
                    {{coi?.noOfSfiInPending || 0}}
                  </div>
                  <div *ngIf="coi?.disclosureStatusCode != 1" class="bold-blue-number mt-1 pointer"
                    (click)="setSelectedModuleCode('sfi', coi.coiDisclosureId, coi.coiDisclosureNumber, coi.disclosureStatusCode, coi.personId);">
                    {{coi?.noOfSfiInActive || 0}}
                  </div>
                  <div class="ml-2 mt-1 pointer"
                    (click)="setSelectedModuleCode('sfi', coi.coiDisclosureId, coi.coiDisclosureNumber, coi.disclosureStatusCode, coi.personId);">
                    <label class="label-text">Significant Financial Interest</label> </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <div
                      (click)="setSelectedModuleCode('proposal', coi.coiDisclosureId, coi.coiDisclosureNumber, coi.disclosureStatusCode, coi.personId);"
                      *ngIf="coi?.numberOfProposals" class="bold-blue-number pointer">
                      {{coi?.numberOfProposals}}
                    </div>
                    <div *ngIf="!coi?.numberOfProposals" class="bold-blue-number">
                      {{coi?.numberOfProposals}}
                    </div>
                    <div class="ml-2 mt-1 pointer"
                      (click)="setSelectedModuleCode('proposal', coi.coiDisclosureId, coi.coiDisclosureNumber, coi.disclosureStatusCode, coi.personId);">
                      <label class="label-text">Proposals</label></div>
                  </div>
                  <div class="d-flex align-items-center ml-15 pl-5">
                    <div
                      (click)="setSelectedModuleCode('award', coi.coiDisclosureId, coi.coiDisclosureNumber, coi.disclosureStatusCode, coi.personId);"
                      *ngIf="coi?.numberOfAwards" class="bold-blue-number pointer">
                      {{coi?.numberOfAwards}}
                    </div>
                    <div *ngIf="!coi?.numberOfAwards" class="bold-blue-number">
                      {{coi?.numberOfAwards}}
                    </div>
                    <div class="ml-2 mt-1 pointer"
                      (click)="setSelectedModuleCode('award', coi.coiDisclosureId, coi.coiDisclosureNumber, coi.disclosureStatusCode, coi.personId);">
                      <label class="label-text"> Awards</label></div>
                  </div>
                </div>
                <div class="col-3 align-self-center grey-text">
                  <label class="label-text" for="last-updated">Last Updated By :</label>
                  <span id="last-updated">{{coi?.updateUser}} On {{coi?.updateTimeStamp | dateFormatterWithTimeZone: 'long'}}</span>
                </div>
                <div class="col-auto ms-auto">

                  <button
                  [routerLink]="['/coi/disclosure/summary']"
                    [queryParams]="{disclosureId:coi?.coiDisclosureId}" class="align-items-center btn btn-outline-primary d-flex fs-14">
                    <mat-icon class="me-1">visibility</mat-icon>
                    View
                  </button>
                  <!-- <button *ngIf="coi?.reviewerStatusCode === '1' &&
                  _coiAdminDashboardService.coiRequestObject.tabName=='PENDING_DISCLOSURES'"
                    [disabled]="isSaving" data-bs-toggle="modal" data-bs-target="#ReviewModal" class="btn btn-primary f-13"
                    (click)="selectedStartReviewCoiId=coi?.reviewId;selectedReviewStatusCode = coi?.reviewerStatusCode">
                    <i aria-hidden="true" class="fa fa-file-text-o"></i> Start Review
                  </button>
                  <button *ngIf="coi?.reviewerStatusCode === '2' &&
                                        _coiAdminDashboardService.coiRequestObject.tabName=='PENDING_DISCLOSURES'"
                    [disabled]="isSaving" data-toggle="modal" data-target="#ReviewModal" class="btn btn-primary f-13"
                    (click)="selectedStartReviewCoiId=coi?.reviewId;selectedReviewStatusCode = coi?.reviewerStatusCode">
                    <i aria-hidden="true" class="fa fa-file-text-o"></i> Complete Review
                  </button> -->
                </div>
              </div>
          </div>
        </section>
      </ng-container>
      <!-- Pagination -->
      <div *ngIf="coiList.length > 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
        <nav aria-label="pagination section" class="pagination justify-content-end">
          <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="result.disclosureCount">
          </app-pagination>
        </nav>
      </div>
      <div *ngIf="coiList == null || coiList?.length == 0">
        <app-no-information></app-no-information>
        <!-- <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i aria-hidden="true" class="fa fa-file-o"></i>
            <i aria-hidden="true" class="fa fa-times-circle-o"></i>
          </div>
        </span>
        <h4>There are no {{_coiAdminDashboardService.coiRequestObject.tabName == 'ALL_DISCLOSURES' ?
          'disclosures' : 'pending reviews'}} available.</h4> -->
      </div>
    </ng-container>

    <ng-template #noData>
      <app-no-information></app-no-information>
    </ng-template>

  </section>

  <app-count-modal *ngIf="isShowCountModal" (closeModal)="closeModal($event)" [disclosureId]="currentDisclosureId"
    [disclosureNumber]="currentDisclosureNumber" [moduleCode]="selectedModuleCode" [inputType]="inputType"
    [personId]="personId" [disclosureSequenceStatusCode]="disclosureSequenceStatusCode"></app-count-modal>
  <!-- Confirmation Modal -->
  <div class="modal fade mySkinDialog" id="ReviewModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header ct-footer-padding">
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body ct-modal-padding">
          <div class="row">
            <div class="col-lg-12">
              <p class="m-0 pt-3 pb-4">Are you sure you want to {{selectedReviewStatusCode == '1' ? 'start':
                'complete'}} this Review?</p>
            </div>
          </div>
        </div>
        <div class="modal-footer ct-footer-padding">
          <button class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" id="claim-sumbit-no-btn" type="button">No
          </button>
          <button (click)="processDisclosureReview()" data-bs-dismiss="modal" class="btn btn-primary btn-sm"
            type="button">Yes</button>
        </div>
      </div>
    </div>
  </div>

</div>
