<div class="px-3">
    <section class="section-advanced-search">
        <nav class="coi-admin-dash mb-2 mx-0 row border shadow-sm">
            <div class="align-items-center bg-white d-flex justify-content-between list">
                <ul class="m-0 p-0">
                    <li tabindex="0" (click)="changeTab('MY_REVIEWS')" (keyup.enter)="changeTab('MY_REVIEWS')"
                        (keyup.space)="changeTab('MY_REVIEWS')"
                        [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='MY_REVIEWS'"
                        class="p-3 position-relative text-center  fs-14" title="Click to view My Reviews"
                        area-describedby="Click to view the list of all disclosures under my review">My Reviews
                    <li class="separator"></li>
                    <li *ngIf="isShowAdminDashboard" tabindex="0" (click)="changeTab('NEW_SUBMISSIONS')"
                        (keyup.enter)="changeTab('NEW_SUBMISSIONS')" (keyup.space)="changeTab('NEW_SUBMISSIONS')"
                        [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='NEW_SUBMISSIONS'"
                        class="p-3 position-relative text-center" title="Click to view New Submissions"
                        area-describedby="Click to view the list of all newly submitted disclosures">
                        New Submissions
                    <li class="separator"></li>
                    <li *ngIf="isShowAdminDashboard" tabindex="0" (click)="changeTab('NEW_SUBMISSIONS_WITHOUT_SFI')"
                        (keyup.enter)="changeTab('NEW_SUBMISSIONS_WITHOUT_SFI')"
                        (keyup.space)="changeTab('NEW_SUBMISSIONS_WITHOUT_SFI')"
                        [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='NEW_SUBMISSIONS_WITHOUT_SFI'"
                        class="p-3 position-relative text-center" title="Click to view New Submissions without SFI"
                        area-describedby="Click to view the list of all newly submitted disclosures">
                        New Submissions Without SFI
                    <li class="separator"></li>
                    <li tabindex="0" (click)="changeTab('ALL_REVIEWS')" (keyup.enter)="changeTab('ALL_REVIEWS')"
                        (keyup.space)="changeTab('ALL_REVIEWS')"
                        [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='ALL_REVIEWS'"
                        class="p-3 position-relative text-center" title="Click to view All Reviews"
                        area-describedby="Click to view the list of all disclosures under all reviews">All Reviews
                    </li>
                    <li class="separator"></li>
                    <li *ngIf="isShowAdminDashboard" tabindex="0" (click)="changeTab('ALL_DISCLOSURES')"
                        (keyup.enter)="changeTab('ALL_DISCLOSURES')" (keyup.space)="changeTab('ALL_DISCLOSURES')"
                        [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='ALL_DISCLOSURES'"
                        class="p-3 position-relative text-center ml-3" title="Click to view All Disclosures"
                        area-describedby="Click to view All Disclosures">
                        All Disclosures
                    <li class="separator"></li>
                    <li *ngIf="hasTravelDisclosureRights" tabindex="0" (click)="changeTab('TRAVEL_DISCLOSURES')"
                        (keyup.enter)="changeTab('TRAVEL_DISCLOSURES')" (keyup.space)="changeTab('TRAVEL_DISCLOSURES')"
                        [class.active]="_coiAdminDashboardService.coiRequestObject.tabName=='TRAVEL_DISCLOSURES'"
                        class="p-3 position-relative text-center" title="Click to view Travel Disclosures"
                        area-describedby="Click to view Travel Disclosures">Travel Disclosures
                    </li>
                </ul>
                <div class="mx-1">
                    <span role="button" class="btn btn-tertiary d-flex fs-14 align-items-center mt-0"
                        id="advanced-search" aria-controls="collapseExample" aria-expanded="false"
                        (click)="toggleAdvanceSearch();" aria-label="Toggle Advanced Search"
                        title="Click here to expand / collapse  Advanced Search fields">
                        <mat-icon class="me-3">tune</mat-icon>Advanced Search</span>
                </div>
            </div>
        </nav>
        <div *ngIf="isViewAdvanceSearch" class="card mb-3 border mt-2" id="collapseExample">
            <div class="card-body">
                <ng-container *ngIf="_coiAdminDashboardService.coiRequestObject.tabName !='ENTITY'">
                    <div class="form-row row">
                        <!-- Person Name -->
                        <div class="col-xl-3 col-lg-5 col-sm-6 col-3" title="Click to search by Person Name">
                            <label class="d-block" for="adv-disclosure-person-name">Person</label>
                            <app-elastic (selectedResult)="selectPersonName($event)" [clearField]="advSearchClearField"
                                [options]="elasticPersonSearchOptions" [placeHolder]="'Search by Person'"
                                [uniqueId]="'adv-disclosure-person-name'">
                            </app-elastic>
                        </div>
                        <!-- Department Name -->
                        <div class="col-xl-3 col-lg-5 col-sm-6 col-3" title="Click to search by Department Name">
                            <label class="d-block" for="adv-disclosure-department-name">
                                Department
                            </label>
                            <app-endpoint-search (onSelect)="leadUnitChangeFunction($event)"
                                [clearField]="advSearchClearField" [httpOptions]="leadUnitSearchOptions"
                                [placeHolder]="'Search by Department'" [uniqueId]="'adv-disclosure-department-name'">
                            </app-endpoint-search>
                        </div>
                        <!-- Entity Name -->
                        <div class="col-xl-3 col-lg-5 col-sm-6 col-3" title="Click to search by Entity Name">
                            <label class="d-block" for="adv-disclosure-entity-name">Entity</label>
                            <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
                                [httpOptions]="entitySearchOptions" [placeHolder]="'Search by Entity'"
                                class="w-100 mt-4" [uniqueId]="'adv-disclosure-entity-name'">
                            </app-endpoint-search>
                        </div>
                        <!-- Disclosure Type -->
                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3"
                            title="Click to search by Disclosure Type">
                            <label class="d-block" for="adv-disclosure-type">
                                Disclosure Type
                            </label>
                            <app-look-up (selectedResult)="onLookupSelect($event, 'property5')"
                                [options]="disclosureTypeOptions" [selectedLookUpList]="lookupValues['property5']"
                                [uniqueId]="'adv-disclosure-type'">
                            </app-look-up>
                        </div>
                        <!-- Entity Country -->
                        <!-- <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
                            <label class="d-block" for="adv-disclosure-entity-country">Country</label>
                            <app-endpoint-search (onSelect)="selectEntityCountry($event)"
                                [clearField]="advSearchClearField" [httpOptions]="countrySearchOptions"
                                [placeHolder]="'Search by Country'" [uniqueId]="'adv-disclosure-entity-country'">
                            </app-endpoint-search>
                        </div> -->
                    </div>
                    <div class="form-row row mt-3">
                        <!-- Disclosure # -->
                        <!-- <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
                            <label class="d-block" for="adv-disclosure-id">
                                Disclosure #
                            </label>
                            <input id="adv-disclosure-id"
                                [(ngModel)]="_coiAdminDashboardService.coiRequestObject.property1" class="form-control"
                                placeholder="Search by Disclosure Number" type="text" />
                        </div> -->
                        <!-- Disclosure Status -->
                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3" title="Click to search by Disclosure Status">
                            <label class="d-block" for="adv-disclosure-status">
                                Disclosure Status
                            </label>
                            <app-look-up (selectedResult)="onLookupSelect($event, 'property4')"
                                [options]="disclosureStatusOptions" [selectedLookUpList]="lookupValues['property4']"
                                [uniqueId]="'adv-disclosure-status'">
                            </app-look-up>
                        </div>
                        <!-- Disposition Status -->
                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3"
                            title="Click to search by Disposition Status">
                            <label class="d-block" for="adv-disposition-status">
                                Disposition Status
                            </label>
                            <app-look-up (selectedResult)="onLookupSelect($event, 'property20')"
                                [options]="disPositionOptions" [selectedLookUpList]="lookupValues['property20']"
                                [uniqueId]="'adv-disposition-status'">
                            </app-look-up>
                        </div>
                        <!-- Review Status -->
                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3" title="Click to search by Review Status">
                            <label class="d-block">
                                <ng-container>Review Status</ng-container>
                            </label>
                            <app-look-up (selectedResult)="onLookupSelect($event, 'property21')"
                                [options]="coiReviewStatusOptions" [selectedLookUpList]="lookupValues['property21']">
                            </app-look-up>
                        </div>
                        <!-- Certification Date -->
                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3"
                            title="Click to search by Certification Date">
                            <label class="d-block" for="adv-disclosure-certification-date">
                                Certification Date
                            </label>
                            <span class="dateField">
                                <input id="adv-disclosure-certification-date" (keypress)="certificationDate.open()"
                                    matInput [matDatepicker]="certificationDate" (click)="certificationDate.open()"
                                    class="form-control d-inline-block"
                                    [(ngModel)]="advanceSearchDates.certificationDate"
                                    placeholder="{{datePlaceHolder}}">
                                <i (click)="certificationDate.open()"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                                <mat-datepicker #certificationDate></mat-datepicker>
                            </span>
                        </div>
                        <!-- Approval Date -->
                        <!-- <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3">
                            <label class="d-block" for="adv-disclosure-approval-date">
                                Approval Date
                            </label>
                            <span class="dateField">
                                <input id="adv-disclosure-approval-date" (keypress)="approvalDate.open()" matInput
                                    [matDatepicker]="approvalDate" (click)="approvalDate.open()"
                                    class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.approvalDate"
                                    placeholder="{{datePlaceHolder}}">
                                <i (click)="approvalDate.open()"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                                <mat-datepicker #approvalDate></mat-datepicker>
                            </span>
                        </div> -->
                    </div>
                    <div class="form-row row mt-3">
                        <!-- End Date -->
                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3" title="Click to search by Expiration Date">
                            <label class="d-block" for="adv-disclosure-expiration-date">
                                Expiration Date
                            </label>
                            <span class="dateField">
                                <input matInput [matDatepicker]="expirationDate" (keypress)="expirationDate.open()"
                                    id="adv-disclosure-expiration-date" (click)="expirationDate.open()"
                                    class="form-control d-inline-block" [(ngModel)]="advanceSearchDates.expirationDate"
                                    placeholder="{{datePlaceHolder}}">
                                <i (click)="expirationDate.open()"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor"></i>
                                <mat-datepicker #expirationDate></mat-datepicker>
                            </span>
                        </div>
                        <!-- Has SFI -->
                        <!-- <div class="col-xl-3 col-lg-2 col-md-3 col-sm-6 col-3" aria-labelledby="Disclosures_has_sfi">
                            <label class="d-block">
                                Has SFI
                            </label>
                            <span class="mt-2" aria-label="Disclosures_has_sfi" role="switch">
                                <a *ngIf="!_coiAdminDashboardService.coiRequestObject.property15">
                                    <label class="switch">
                                        <input (keypress.enter)="_coiAdminDashboardService.coiRequestObject.property15
                    = !_coiAdminDashboardService.coiRequestObject.property15" (click)="_coiAdminDashboardService.coiRequestObject.property15
                                = !_coiAdminDashboardService.coiRequestObject.property15" type="checkbox">
                                        <span class="slider round"><small class="deactivate-text">No</small></span>
                                    </label>
                                </a>
                                <a *ngIf="_coiAdminDashboardService.coiRequestObject.property15">
                                    <label class="switch">
                                        <input (keypress.enter)="_coiAdminDashboardService.coiRequesmetObject.property15
                    = !_coiAdminDashboardService.coiRequestObject.property15" (click)="_coiAdminDashboardService.coiRequestObject.property15
                                = !_coiAdminDashboardService.coiRequestObject.property15" checked type="checkbox">
                                        <span class="slider round"><small>Yes</small></span>
                                    </label>
                                </a>
                            </span>
                        </div> -->
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button (click)="resetAndPerformAdvanceSearch()"
                            class="btn btn-outline-secondary btn-xs fs-14 px-4"
                            title="Click here to clear all the fields"
                            title="Click here to Clear the fields">Clear</button>
                        <button (click)="performAdvanceSearch()" class="btn btn-primary fs-14 ms-3 primary-button"
                            title="Click here to Initiate search">Search</button>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="sort-div border mt-2" *ngIf="isShowDisclosureList && coiList.length">
            <span class="fs-14 fw-medium me-2 text-secondary">Sort By:</span>
            <span tabindex="0" (keydown.enter)="sortResult('coiDisclosureNumber')"
                title="Click to sort by disclosure number" area-describedby="Click to sort by disclosure number"
                (click)="sortResult('coiDisclosureNumber')"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']"
                [class.filter-active]="_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 ml-15 border rounded-5 bg-white" role="button">
                <div class="d-inline-flex align-items-center" title="Click to sort by Disclosure Number">
                    <label class="offscreen">Click to Sort by Disclosure # in
                        {{_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']=== 'asc' ? 'Descending
                        Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true">Disclosure#</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['coiDisclosureNumber']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('disclosurePersonFullName')"
                (click)="sortResult('disclosurePersonFullName')"
                [class.filter-active]="isActive('disclosurePersonFullName')" title="Click to sort by person name"
                area-describedby="Click to sort by person name"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']"
                class="shaow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
                <div class="d-inline-flex align-items-center" title="Click to sort by Person Name">
                    <label class="offscreen">Click to Sort by Person Name in
                        {{_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']=== 'asc' ?
                        'Descending Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true">Person Name</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosurePersonFullName']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('disclosureCategoryType')"
                (click)="sortResult('disclosureCategoryType')"
                [class.filter-active]="isActive('disclosureCategoryType')" title="Click to sort by disclosure type"
                area-describedby="Click to sort by disclosure type"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white" role="button">
                <div class="d-inline-flex align-items-center" title="Click to sort by Disclosure Type">
                    <label class="offscreen">Click to Sort by Disclosure Type in
                        {{_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']=== 'asc' ?
                        'Descending Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true">Disclosure Type</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureCategoryType']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('disclosureStatus')" (click)="sortResult('disclosureStatus')"
                [class.filter-active]="isActive('disclosureStatus')" title="Click to sort by disclosure status"
                area-describedby="Click to sort by disclosure status"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
                <div class="d-inline-flex align-items-center" title="Click to sort by Disclosure Status">
                    <label class="offscreen">Click to Sort by Disclosure Status in
                        {{_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']=== 'asc' ? 'Descending
                        Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true">Disclosure Status</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['disclosureStatus']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('dispositionStatus')"
                (click)="sortResult('dispositionStatus')" [class.filter-active]="isActive('dispositionStatus')"
                title="Click to sort by Disposition Status" area-describedby="Click to sort by disposition status"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['dispositionStatus']"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
                <div class="d-inline-flex align-items-center">
                    <label class="offscreen">Click to Sort by Disposition Status in
                        {{_coiAdminDashboardService.coiRequestObject.sort['dispositionStatus']=== 'asc' ? 'Descending
                        Order' :
                        'Ascending Order'}} </label>
                    <label aria-hidden="true">Disposition Status</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['dispositionStatus']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['dispositionStatus']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('reviewStatus')" (click)="sortResult('reviewStatus')"
                [class.filter-active]="isActive('reviewStatus')" title="Click to sort by review status"
                area-describedby="Click to sort by Review Status"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['reviewStatus']"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
                <div class="d-inline-flex align-items-center">
                    <label class="offscreen">Click to Sort by Review Status in
                        {{_coiAdminDashboardService.coiRequestObject.sort['reviewStatus']=== 'asc' ? 'Descending Order'
                        :
                        'Ascending Order'}} </label>
                    <label aria-hidden="true">Review Status</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['reviewStatus']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['reviewStatus']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('certificationDate')"
                (click)="sortResult('certificationDate')" [class.filter-active]="isActive('certificationDate')"
                title="Click to sort by Certification Date" area-describedby="Click to sort by certification date"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['certificationDate']">
                <div class="d-inline-flex align-items-center">
                    <label class="offscreen">Click to Sort by Certification Date in
                        {{_coiAdminDashboardService.coiRequestObject.sort['certificationDate']=== 'asc' ? 'Descending
                        Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true">Certification Date</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['certificationDate']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['certificationDate']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('expirationDate')" (click)="sortResult('expirationDate')"
                [class.filter-active]="isActive('expirationDate')" title="Click to sort by expiration date"
                area-describedby="Click to sort by Expiration Date"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['expirationDate']"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white mx-1" role="button">
                <div class="d-inline-flex align-items-center" title="Click to sort by Expiration Date">
                    <label class="offscreen">Click to Sort by Expiration Date in
                        {{_coiAdminDashboardService.coiRequestObject.sort['expirationDate']=== 'asc' ? 'Descending
                        Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true">Expiration Date</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['expirationDate']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['expirationDate']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
            <span tabindex="0" (keydown.enter)="sortResult('updateTimeStamp')" (click)="sortResult('updateTimeStamp')"
                [class.filter-active]="isActive('updateTimeStamp')" title="Click to sort by last updated"
                area-describedby="Click to sort by Last Updated"
                [class.px-8]="!_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']"
                class="shadow-sm fw-medium pl-15 pr-05 py-2 fs-13 border rounded-5 bg-white" role="button">
                <div class="d-inline-flex align-items-center" title="Click to sort by Last Updated">
                    <label class="offscreen">Click to Sort by Last Updated in
                        {{_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']=== 'asc' ? 'Descending
                        Order' : 'Ascending Order'}} </label>
                    <label aria-hidden="true">Last Updated</label>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']=== 'asc' ">arrow_downward</mat-icon>
                    <mat-icon class="arrow selected-arrow"
                        *ngIf="_coiAdminDashboardService.coiRequestObject.sort['updateTimeStamp']=== 'desc' ">arrow_upward</mat-icon>
                </div>
            </span>
        </div>
        <ng-container *ngIf="isShowDisclosureList && isShowNoDataCard;">
            <ng-container *ngIf="coiList.length > 0;else noData">
            <ng-container *ngFor="let coi of coiList;let index=index;">
                <section class="mt-3 shadow-sm coi-card" (mouseover)="isHover[index] = true"
                    (mouseout)="isHover[index] = false">
                    <div class="bg-white border f-14">
                        <div class="row mt-2">
                            <div class="col" [class.col-4]="coi?.travelDisclosureId">
                                <span class="align-items-center d-flex">
                                    <span
                                        class="entity-status shadow-sm align-items-center d-flex mt-3 {{getColorBadges(coi)}}">
                                        <span class="px-2">{{coi?.travelDisclosureId? 'Travel' :
                                            coi?.fcoiType}}</span></span>
                                    <h4 class="mb-0 ml-2"><strong>{{modalHeader(coi)}}</strong></h4>
                                </span>
                            </div>
                            <div class="col-5 pt-1 ps-3 align-items-center mt-2" *ngIf="coi?.travelDisclosureId">
                                <label for="traveller" class="label-text">Traveller :</label>
                                <app-no-data-label id="traveller" [valueToShow]="coi?.travellerTypeDescription">
                                    <span
                                        class="grey-text">{{formatTravellerListValues(coi?.travellerTypeDescription)}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="p-1 align-items-center mt-2 col-3">
                                <label for="disclosure-status" class="label-text">Disclosure Status :</label>
                                <app-no-data-label [valueToShow]="coi?.conflictStatus" *ngIf="!coi?.travelDisclosureId">
                                    <span
                                        class="ms-3 {{commonService.getDisclosureConflictBadge(coi?.conflictStatusCode)}}"
                                        id="disclosure-status">{{coi?.conflictStatus}}
                                    </span>
                                </app-no-data-label>
                                <app-no-data-label [valueToShow]="coi?.travelDisclosureStatusDescription"
                                    *ngIf="coi?.travelDisclosureId">
                                    <span
                                        class="ms-3 {{commonService.getDisclosureConflictBadge(coi?.travelDisclosureStatusCode)}}"
                                        id="disclosure-status">{{coi?.travelDisclosureStatusDescription}}
                                    </span>
                                </app-no-data-label>
                            </div>
                        </div>

                        <div class="border-bottom">
                            <ng-container *ngIf="!coi?.travelDisclosureId">
                                <div class="row mb-3 px-3 mt-2">
                                    <div *ngIf="coi?.fcoiTypeCode!= 1" class="col-12 mb-3">
                                        <label for="id" class="label-text">Project :</label>
                                        <app-no-data-label
                                            [valueToShow]="(coi?.fcoiTypeCode==2 && coi?.proposalId) || (coi?.fcoiTypeCode==3 && coi?.awardId)">
                                            <span *ngIf="coi?.fcoiTypeCode==2" id="id"
                                                class="grey-text">#{{coi?.proposalId}} - {{coi?.proposalTitle}}</span>
                                            <span *ngIf="coi?.fcoiTypeCode==3" id="id"
                                                class="grey-text">#{{coi?.awardId}} -
                                                {{coi?.awardTitle}}</span></app-no-data-label>
                                    </div>
                                    <div class="col-5">
                                        <label for="id" class="label-text">Department :</label>
                                        <span id="id" class="grey-text">#{{coi?.unit?.unitDetail}}</span>
                                    </div>
                                    <div class="col">
                                        <label for="event-type" class="label-text">Certification Date :</label>
                                        <app-no-data-label [valueToShow]="coi?.certifiedAt">
                                            <span id="event-type" class="grey-text">{{coi?.certifiedAt |
                                                dateFormatter}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col">
                                        <label for="event-type" class="label-text">Expiration Date :</label>
                                        <app-no-data-label [valueToShow]="coi?.expirationDate">
                                            <span id="event-type" class="grey-text">{{coi?.expirationDate |
                                                dateFormatter}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col-3">
                                        <label for="disp-status" class="label-text">Disposition Status :</label>
                                        <app-no-data-label [valueToShow]="coi?.dispositionStatus">
                                            <span
                                                class="ms-3 {{commonService.getDispositionStatusBadge(coi?.disclosureDispositionCode)}}"
                                                [class.text-dark]="getDispositionStatusBadge(coi?.disclosureDispositionCode) === 'warning'"
                                                id="disp-status">{{coi?.dispositionStatus}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <div class="row mb-3 px-3">
                                    <div *ngIf="coi?.fcoiTypeCode== 1" class="col-5">
                                        <label for="id" class="label-text">{{coi?.disclosureVersionNumber== 1 ?
                                            'Description:' : 'Revision Reason:'}}</label>
                                        <span id="id" class="grey-text">{{coi?.reviseComment}}</span>
                                    </div>
                                    <div *ngIf="coi?.fcoiTypeCode!= 1" class="col-5">
                                        <label for="id" class="label-text">Description :</label>
                                        <app-no-data-label [valueToShow]="coi?.reviseComment">
                                            <span id="id" class="grey-text">{{coi?.reviseComment}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col">
                                        <label for="id" class="label-text">Administrator :</label>
                                        <app-no-data-label [valueToShow]="coi?.administrator">
                                            <span id="id" class="grey-text">{{coi?.administrator}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col">
                                        <label for="id" class="label-text">Admin Group :</label>
                                        <app-no-data-label [valueToShow]="coi?.adminGroupName">
                                            <span id="id" class="grey-text">{{coi?.adminGroupName}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col-3">
                                        <label for="review-status" class="label-text">Review Status :</label>
                                        <app-no-data-label [valueToShow]="coi?.reviewStatus">
                                            <span
                                                class="ms-3 {{commonService.getReviewStatusBadge(coi?.reviewStatusCode)}}"
                                                id="review-status">{{coi?.reviewStatus}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="coi?.travelDisclosureId">
                                <div class="row mb-3 px-3 mt-2">
                                    <div class="col-4 d-flex">
                                        <label for="entity" class="label-text col-custom-travel">Entity :</label>
                                        <span class="col">
                                            <app-no-data-label id="entity" [valueToShow]="coi?.travelEntityName">
                                                <span class="grey-text text-slice"
                                                    [title]="coi?.travelEntityName">{{coi?.travelEntityName}}</span>
                                            </app-no-data-label>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <label for="destination" class="label-text">Destination :</label>
                                        <app-no-data-label id="destination"
                                            [valueToShow]="coi?.travelCity || coi?.travelCountry || coi?.travelState">
                                            <span class="grey-text">{{coi?.travelCity}}<span
                                                    *ngIf="coi?.travelCity && (coi?.travelCountry || coi?.travelState)">,
                                                </span>{{coi?.travelCountry ||
                                                coi?.travelState}}
                                            </span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col">
                                        <label for="travel-amount" class="label-text">Actual Amount :</label>
                                        <app-no-data-label id="travel-amount" [valueToShow]="coi?.travelAmount">
                                            <span class="grey-text">${{coi?.travelAmount}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col-3">
                                        <label for="review-status" class="label-text">Document Status :</label>
                                        <app-no-data-label id="review-status" [valueToShow]="coi?.documentStatusDescription">
                                            <span class="ms-3 {{commonService.getDocumentStatusBadge(coi?.documentStatusCode)}}"
                                                [class.text-dark]="commonService.getDocumentStatusBadge(coi?.documentStatusCode) === 'warning'"
                                                id="disp-status">{{coi?.documentStatusDescription}}
                                            </span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <div class="row mb-3 px-3 mt-2">
                                    <div class="col-4">
                                        <label for="department-id" class="label-text">Department :</label>
                                        <app-no-data-label id="department-id" [valueToShow]="coi?.travelEntityName">
                                            <span class="grey-text">#{{coi?.unitDetails?.unitDetail}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col">
                                        <label for="certify-date" class="label-text">Certification Date :</label>
                                        <app-no-data-label id="certify-date" [valueToShow]="coi?.travelSubmissionDate">
                                            <span class="grey-text">{{coi?.travelSubmissionDate |
                                                dateFormatter}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col">
                                        <label for="expiration-date" class="label-text">Expiration Date :</label>
                                        <app-no-data-label id="expiration-date" [valueToShow]="coi?.expirationDate">
                                            <span class="grey-text">{{coi?.expirationDate |
                                                dateFormatter}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <div class="col-3">
                                        <label for="review-status" class="label-text">Review Status :</label>
                                        <app-no-data-label id="review-status" [valueToShow]="coi?.reviewDescription">
                                            <span class="ms-3 {{commonService.getTravelReviewStatusBadge(coi?.reviewStatusCode)}}"
                                                [class.text-dark]="commonService.getTravelReviewStatusBadge(coi?.reviewStatusCode) === 'warning'"
                                                id="disp-status">{{coi?.reviewDescription}}
                                            </span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="row py-2 m-0 bg-white d-flex align-items-center">
                            <ng-container *ngIf="coi?.travelDisclosureId">
                                <div class="col-4 d-flex">
                                    <label for="purpose" class="label-text col-custom-travel">Purpose :</label>
                                    <span class="col">
                                        <app-no-data-label id="purpose" [valueToShow]="coi?.travelPurpose">
                                            <span class="grey-text text-slice"
                                                [title]="coi?.travelPurpose">{{coi?.travelPurpose}}</span>
                                        </app-no-data-label>
                                    </span>
                                </div>
                                <div class="col">
                                    <label for="start-date" class="label-text">Start Date :</label>
                                    <app-no-data-label id="start-date" [valueToShow]="coi?.travelStartDate">
                                        <span class="grey-text">{{coi?.travelStartDate |
                                            dateFormatterWithTimeZone}}</span>
                                    </app-no-data-label>
                                </div>
                                <div class="col">
                                    <label for="end-date" class="label-text">End Date :</label>
                                    <app-no-data-label id="end-date" [valueToShow]="coi?.travelEndDate">
                                        <span class="grey-text">{{coi?.travelEndDate |
                                            dateFormatterWithTimeZone}}</span>
                                    </app-no-data-label>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!coi?.travelDisclosureId">
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-6 d-flex align-items-center">
                                            <div class="bold-blue-number mt-1 pointer cursor-auto"
                                                (click)="setSelectedModuleCode('sfi',coi, coi?.noOfSfiInActive );">
                                                <label
                                                    [class.cursor-pointer]="coi?.noOfSfiInActive > 0">{{coi?.noOfSfiInActive
                                                    ||
                                                    0}}</label>
                                            </div>
                                            <div class="pointer"
                                                (click)="setSelectedModuleCode('sfi',coi, coi?.noOfSfiInActive );">
                                                <label [class.cursor-pointer]="coi?.noOfSfiInActive > 0"
                                                    [class.text-decoration-underline]="isHover[index]&& coi?.noOfSfiInActive > 0"
                                                    class="label-text mt-1">Significant Financial Interest</label>
                                            </div>
                                        </div>
                                        <div class="col-6 d-flex align-items-center">
                                            <ng-container *ngIf="coi?.fcoiTypeCode == '1'">
                                                <div class="d-flex align-items-center">
                                                    <div (click)="setSelectedModuleCode('proposal',coi, coi?.numberOfProposals );"
                                                        class="bold-blue-number cursor-auto">
                                                        <label [class.cursor-pointer]="coi?.numberOfProposals > 0">
                                                            {{coi?.numberOfProposals
                                                            || 0}} </label>
                                                    </div>
                                                    <div class="pointer"
                                                        (click)="setSelectedModuleCode('proposal',coi, coi?.numberOfProposals);">
                                                        <label [class.cursor-pointer]="coi?.numberOfProposals > 0"
                                                            [class.text-decoration-underline]="isHover[index]&& coi?.numberOfProposals> 0"
                                                            class="label-text">Proposals</label>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center ml-15 pl-5">
                                                    <div (click)="setSelectedModuleCode('award',coi, coi?.numberOfAwards);"
                                                        class="bold-blue-number pointer cursor-auto">
                                                        <label
                                                            [class.cursor-pointer]="coi?.numberOfAwards > 0">{{coi?.numberOfAwards
                                                            ||
                                                            0}} </label>
                                                    </div>
                                                    <div class="pointer"
                                                        (click)="setSelectedModuleCode('award',coi, coi?.numberOfAwards);">
                                                        <label [class.cursor-pointer]="coi?.numberOfProposals > 0"
                                                            [class.text-decoration-underline]="isHover[index] && coi?.numberOfAwards > 0"
                                                            class="label-text">Awards</label>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <label class="label-text" for="last-updated">Last Updated By : </label>
                                    <span id="last-updated" class="grey-text">{{coi?.updateUser}} On
                                        {{coi?.updateTimeStamp
                                        | dateFormatterWithTimeZone: 'long'}}</span>
                                </div>
                            </ng-container>
                            <div class="d-flex m-0 justify-content-end px-0 pe-2"
                                [ngClass]="coi?.travelDisclosureId? 'col-3' : 'col-auto'">
                                <button
                                    [attr.title]="coi?.travelDisclosureId ? 'Click to view Travel disclosure detials' : coi?.fcoiType == 'FCOI' ? 'Click to view FCOI disclosure detials' : 'Click to view Project disclosure detials'"
                                    area-describedby="Click to view details" (click)="redirectToDisclosure(coi)"
                                    class="align-items-center btn btn-outline-primary d-flex fs-14">
                                    <mat-icon class="me-1">visibility</mat-icon>
                                    View
                                </button>
                                <button *ngIf="_coiAdminDashboardService.coiRequestObject.tabName == 'NEW_SUBMISSIONS' || _coiAdminDashboardService.coiRequestObject.tabName == 'NEW_SUBMISSIONS_WITHOUT_SFI'" title="Click to Assign Administrator/Admin Group" area-describedby="Click to assign administrator"
                                    class="align-items-center btn btn-outline-primary d-flex fs-14 ml-2" (click)="openAssignAdminModal(coi);">
                                    <mat-icon class="me-1">group_add</mat-icon>
                                    Assign Admin
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-container>
            <!-- Pagination -->
            <div *ngIf="coiList.length > 0" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                <nav aria-label="pagination section" class="pagination justify-content-end">
                    <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="result.disclosureCount">
                    </app-pagination>
                </nav>
            </div>
            </ng-container>
        </ng-container>
        <ng-template #noData>
            <app-no-information></app-no-information>
        </ng-template>
    </section>
    <app-assign-administrator-modal *ngIf="isAddAssignModalOpen" (closeModal)="closeAssignAdminModal($event)"  [disclosureId]="addAdmin.disclosureId"></app-assign-administrator-modal>
    <app-count-modal *ngIf="isShowCountModal" (closeModal)="closeModal($event)" [disclosureId]="currentDisclosureId"
        [disclosureNumber]="currentDisclosureNumber" [disclosureType]="disclosureType" [moduleCode]="selectedModuleCode"
        [inputType]="inputType" [personId]="personId" [disclosureSequenceStatusCode]="disclosureSequenceStatusCode"
        [adminData]="adminData" [fcoiTypeCode]="fcoiTypeCode"></app-count-modal>
    <!-- Confirmation Modal -->
    <div class="modal fade mySkinDialog" id="ReviewModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header ct-footer-padding">
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body ct-modal-padding">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="m-0 pt-3 pb-4">Are you sure you want to {{selectedReviewStatusCode == '1' ?
                                'start':
                                'complete'}} this Review?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ct-footer-padding">
                    <button class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal" id="claim-sumbit-no-btn"
                        type="button">No
                    </button>
                    <button (click)="processDisclosureReview()" data-bs-dismiss="modal" class="btn btn-primary btn-sm"
                        type="button">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>