<div class="card">
    <h5 class="card-header f-16 ">Create Form</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <label class="form-label" for="title">Title</label>
                <input class="form-control"
                    [ngClass]="(formValidation?.has('titleValidation')) ? 'is-invalid d-block' : ''" id="title"
                    type="text" [(ngModel)]="title" maxlength="300" autocomplete="off">
                <div *ngIf="formValidation?.has('titleValidation')">
                    <span class="mandatory text-danger fs-14 d-inline-block">*Please enter a Title</span>
                </div>
            </div>
            <div class="col-6">
                <label class="form-label" for="description">Description</label>
                <input class="form-control"
                    [ngClass]="(formValidation?.has('descriptionValidation')) ? 'is-invalid d-block' : ''"
                    id="description" type="text" [(ngModel)]="description" maxlength="300" autocomplete="off">
                <div *ngIf="formValidation?.has('descriptionValidation')">
                    <span class="mandatory text-danger fs-14 d-inline-block">*Please enter a Description</span>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-primary fs-14 mt-2" id="create-form" aria-label="Click here to create a form"
                    title="Proceed" (click)="createFormHeader()">Proceed</button>
            </div>
        </div>
    </div>
</div>
