<div class="main-title">
    <h3 class="d-flex pe-3 align-items-center fs-16 position-relative">
        <strong class="mt-1">Travel Details</strong>
        <span class="d-inline-block flex-fill" tabindex="-1" data-bs-toggle="tooltip" title="View Travel Details"
            data-bs-placement="top">
            <mat-icon class="me-2 info-icon fs-16" data-bs-toggle="tooltip">info</mat-icon>
        </span>
        <button class="btn d-flex btn-primary-icon btn-sm mr-2 mt-1" id="add-activity" title="Add Review Comment"
            type="button">
            <mat-icon>rate_review</mat-icon>
        </button>
        <button (click)="isCollapsed=!isCollapsed;"
            class="toggle-header-btn align-items-center bg-white border btn d-flex justify-content-center p-0 rounded-5 shadow-sm me-1">
            <mat-icon>{{isCollapsed ? 'expand_less' : 'expand_more'}}</mat-icon>
        </button>
    </h3>
</div>

<div class="card row py-4 px-4 d-flex align-items-center shadow mx-1 mt-3" *ngIf="isCollapsed">
    <div class="col-12 mb-3 pb-2 px-0">
        <app-shared-entity-info-card [entityDetails]="entityDetails" [viewMore]="true" (emitEntityId)="viewEntity($event)"></app-shared-entity-info-card>
    </div>

    <div class="d-flex align-items-center col-12 px-3 mb-3 py-2">
        <span class="col-12">
            <label class="fw-500 fs-14 col-12 me-3" for="travel-disclosure-title">Trip Title</label>
            <span class="fs-14 grey-text col-12"
                for="travel-disclosure-title">{{travelDisclosure?.travelTitle}}</span>
        </span>
    </div>

    <div class="d-flex align-items-center col-12 px-3 mb-3 py-2">
        <span class="col-4">
            <label class="fw-500 fs-14 col-12" for="travel-disclosure-destination">Destination</label>
            <span class="col-12 fs-14 grey-text">{{travelDisclosure?.isInterNationalTravel?
                'International' : 'Domestic'}}
            </span>
        </span>

        <span class="col-4" *ngIf="!travelDisclosure?.isInterNationalTravel">
            <label class="fw-500 fs-14 col-12" for="travel-disclosure-state">State</label>
            <span class="fs-14 grey-text col-12"
                for="travel-disclosure-state">{{travelDisclosure?.travelState}}</span>
        </span>

        <span class="col-4" *ngIf="travelDisclosure?.isInterNationalTravel">
            <label class="fw-500 fs-14 col-12" for="travel-disclosure-country">Country</label>
            <span class="fs-14 grey-text col-12"
                for="travel-disclosure-country">{{travelDisclosure?.destinationCountry}}</span>
        </span>

        <span class="col-4">
            <label class="fw-500 fs-14 col-12" for="travel-disclosure-city">City</label>
            <span class="fs-14 grey-text col-12"
                for="travel-disclosure-city">{{travelDisclosure?.destinationCity}}</span>
        </span>
    </div>

    <div class="d-flex align-items-center col-12 px-3 mb-3 py-2">
        <span class="col-4">
            <label class="fw-500 fs-14 col-12" for="travel-disclosure-traveller">Traveller</label>
            <span class="fs-14 grey-text col-12">{{traveller}}</span>
        </span>

        <span class="col-4">
            <label class="fw-500 fs-14 col-12" for="travel-disclosure-startDate">Start Date</label>
            <app-no-data-label [valueToShow]="travelDisclosure?.travelStartDate">
                <span class="fs-14 grey-text col-12"
                    for="travel-disclosure-startDate">{{travelDisclosure?.travelStartDate |
                    dateFormatter}}</span>
            </app-no-data-label>
        </span>

        <span class="col-4">
            <label class="fw-500 fs-14 col-12" for="travel-disclosure-endDate">End Date</label>
            <app-no-data-label [valueToShow]="travelDisclosure?.travelEndDate">
                <span class="fs-14 grey-text col-12"
                    for="travel-disclosure-endDate">{{travelDisclosure?.travelEndDate
                    |
                    dateFormatter}}</span>
            </app-no-data-label>
        </span>
    </div>

    <div class="px-3 mb-3 py-2">
        <label class="fw-500 fs-14 col-12" for="travel-disclosure-purpose">Purpose of the Trip</label>
        <span for="travel-disclosure-relationship"
            class="fs-14 grey-text col-12">{{travelDisclosure?.purposeOfTheTrip}}</span>
    </div>

    <div class="px-3 mb-3 py-2">
        <label class="fw-500 fs-14 col-12" for="travel-disclosure-relationship">Relationship to Your
            Research</label>
        <span for="travel-disclosure-relationship"
            class="fs-14 grey-text col-12">{{travelDisclosure?.relationshipToYourResearch}}</span>
    </div>

    <div class="px-3 mb-3 py-2">
        <label class="fw-500 fs-14 col-12" for="travel-disclosure-amount">Actual U.S. dollar amount reimbursed
            and/or paid on your behalf</label>
        <span class="fs-14 grey-text col-custom me-3"
            for="travel-disclosure-amount">${{getFormattedAmount(travelDisclosure?.travelAmount)}}</span>
    </div>

</div>