.col-custom {
    width: 150px !important;
  }
  
  .col-custom-city {
    width: 100px !important;
    margin-left: 10px !important;
  }
  
  .info-icon {
    margin-top : -7px;
    height     : 22px;
    width      : 22px;
    font-size  : 16px;
    position   : absolute;
    margin-left: 2px;
    color      : #6f7395;
    cursor     : pointer;
  }
  
  .main-title {
    border-bottom: 1px solid #dbdbdb;
  }