.help-text {
    background-color: #dfe0e3;
    color: #343333;
}

.collapse-arrow {
    width: 27px;
    height: 27px;
    background: #f3f2f8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #afafb1;
    top: -3px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.collapse-description {
    display: flex;
    align-items: center;
}

.collapse-description::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #ccc;
}
.entity-name {
    color: rgb(47, 65, 226)
}
