<span class="coi-text-darker mb-0 fs-14" [title]="disclosure?.updateTimeStamp | date:'dd MMM yyyy'" tabindex="0"
    [attr.aria-label]="'Results showing for' + (disclosure?.updateTimeStamp | date : 'dd MMM yyyy')"
    *ngIf="disclosure?.updateTimeStamp">{{disclosure?.updateTimeStamp | date : 'dd MMM yyyy'}}</span>

<!-- Project history card  -->
<div *ngIf="!disclosure?.travelDisclosureId && !disclosure.opaDisclosureId && !disclosure.consultDisclId"
    class="card coi-card-regular position-relative ms-12px me-2">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9 mb-3 mb-lg-0 mb-md-3 px-0">
                <div class="row m-0">
                    <div class="col-12 d-inline-flex mb-2 coi-card-body-notch-container align-items-end">
                        <span class="d-flex align-items-center">
                            <span tabindex="-1" [attr.aria-label]="disclosure?.fcoiType"
                                class="coi-card-notch-ribbon shadow-sm {{getColorBadges(disclosure)}}">
                                <span>{{disclosure?.fcoiType}}</span>
                            </span>
                        </span>
                        <h4 class="d-flex align-items-baseline fs-14 mb-0 ms-1"
                            *ngIf="disclosure.fcoiTypeCode === '2' || disclosure.fcoiTypeCode === '3'">
                            <span *ngIf="disclosure.fcoiTypeCode === '2' || disclosure.fcoiTypeCode === '3'"
                                tabindex="-1" [attr.aria-label]="disclosure?.projectHeader">
                                <span class="d-flex">
                                    <mat-icon aria-hidden="true" class="coi-text-light me-1 flex-shrink-0"
                                        *ngIf="disclosure?.fcoiTypeCode==2">text_snippet</mat-icon>
                                    <mat-icon aria-hidden="true" class="coi-text-light me-1 flex-shrink-0"
                                        *ngIf="disclosure?.fcoiTypeCode==3">workspace_premium</mat-icon>
                                    <a tabindex="0" class="link-primary cursor-pointer fs-6 fw-600"
                                        (click)="commonService.openProjectDetailsModal(null, disclosure?.disclosureId)"
                                        (keyup.enter)="commonService.openProjectDetailsModal(null, disclosure?.disclosureId)"
                                        (keyup.space)="commonService.openProjectDetailsModal(null, disclosure?.disclosureId)"
                                        [title]="'Click here to view details of ' + disclosure?.projectHeader"
                                        [attr.aria-label]="'Click here to view details of ' + disclosure?.projectHeader">
                                        <span class="text-slice">{{disclosure?.projectHeader}}</span>
                                    </a>
                                </span>
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Department</label>
                            <span class="coi-text-light"
                                [attr.aria.label]="disclosure?.homeUnit + ' - ' + disclosure?.homeUnitName">
                                {{commonService.getPersonLeadUnitDetails(disclosure)}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Certification Date</label>
                            <span class="break-point-1200">
                                <app-no-data-label [valueToShow]="disclosure?.certifiedAt">
                                    <span class="coi-text-light"
                                        aria.label="{{disclosure?.certifiedAt | dateFormatterWithTimeZone}}">{{disclosure?.certifiedAt
                                        | dateFormatterWithTimeZone}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Expiration Date</label>
                            <span class="break-point-1200">
                                <app-no-data-label [valueToShow]="disclosure?.expirationDate">
                                    <span class="coi-text-light"
                                        aria.label="{{disclosure?.expirationDate | dateFormatterWithTimeZone}}">{{disclosure?.expirationDate
                                        | dateFormatterWithTimeZone}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 d-flex d-lg-block mb-3 mb-lg-0">
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Disposition Status</label>
                    <span>
                        <span
                            class="{{commonService.getDispositionStatusBadge(disclosure?.dispositionStatusCode)}}"></span>
                        <span class="coi-text-dark" aria.label="disclosure?.dispositionStatus">
                            {{disclosure?.dispositionStatus}}
                        </span>
                    </span>
                </div>
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Version Status</label>
                    <span>
                        <app-no-data-label [valueToShow]="disclosure?.versionStatus">
                            <span class=""
                                [attr.aria.label]="disclosure?.versionStatus === 'ACTIVE' ? 'green-badge' : disclosure?.versionStatus === 'PENDING' ? 'yellow-badge' : 'grey-badge'"
                                [ngClass]="disclosure?.versionStatus === 'ACTIVE' ? 'green-badge' : disclosure?.versionStatus === 'PENDING' ? 'yellow-badge' : 'grey-badge'"></span>
                            <span class="coi-text-dark"
                                [attr.aria.label]="disclosure?.versionStatus === 'ACTIVE' ? 'Active' : disclosure?.versionStatus === 'PENDING' ? 'Pending' : 'Archive'">
                                {{disclosure?.versionStatus === 'ACTIVE' ? 'Active' : disclosure?.versionStatus ===
                                'PENDING' ?
                                'Pending' : 'Archive'}}
                            </span>
                        </app-no-data-label>
                    </span>
                </div>
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Disclosure Status</label>
                    <span>
                        <app-no-data-label [valueToShow]="disclosure?.conflictStatus">
                            <span class="{{commonService.getDisclosureConflictBadge(disclosure?.conflictStatusCode)}}">
                            </span>
                            <span class="coi-text-dark" aria.label="disclosure?.conflictStatus">
                                {{disclosure?.conflictStatus}}
                            </span>
                        </app-no-data-label>
                    </span>
                </div>
            </div>
            <div class="col-lg-1 d-flex align-items-center justify-content-end">
                <button class="d-flex align-items-center btn btn-outline-secondary fs-14 height-fit-content" (click)="redirectToDisclosure()"
                    [title]="disclosure?.fcoiTypeCode!= 1 ? 'Click to view Project Disclosure' : 'Click to view FCOI Dashboard'"
                    [attr.aria-label]="disclosure?.fcoiTypeCode!= 1 ? 'Click to view Project Disclosure' : 'Click to view FCOI Disclosure'">
                    <mat-icon class="me-1" aria-hidden="true">visibility</mat-icon> View
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Travel history card  -->
<div *ngIf="disclosure?.travelDisclosureId" class="card coi-card-regular position-relative ms-12px me-2">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9 mb-3 mb-lg-0 mb-md-3 px-0">
                <div class="row m-0 ">
                    <div class="col-12 d-inline-flex align-items-end mb-2 coi-card-body-notch-container">
                        <span class="d-flex align-items-center">
                            <span
                                class="coi-card-notch-ribbon shadow-sm {{getColorBadges(disclosure)}}">
                                <span aria-label="Travel">Travel</span>
                            </span>
                        </span>
                        <h4 class="align-items-center d-flex fs-14 mb-0 ms-1">
                            <span>
                                <span class="d-flex">
                                    <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0">apartment</mat-icon>
                                    <span class="coi-text-darker fs-6 text-slice" [title]="disclosure?.entityName">{{disclosure?.entityName}}</span>
                                </span>
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Destination</label>
                                <app-no-data-label
                                    [valueToShow]="disclosure?.destinationCity || disclosure?.destinationCountry || disclosure?.travelState">
                                    <span class="fw-bold text-slice ms-0"
                                        [attr.aria-label]="disclosure?.destinationCity + (disclosure?.destinationCountry || disclosure?.travelState)"
                                        title="{{disclosure?.destinationCity}}, {{disclosure?.destinationCountry || disclosure?.travelState}}">
                                       <span class="coi-text-light">{{disclosure?.destinationCity}}</span>
                                       <span class="coi-text-light" *ngIf="disclosure?.destinationCity && (disclosure?.destinationCountry || disclosure?.travelState)">, </span>
                                       <span class="coi-text-light">{{disclosure?.destinationCountry || disclosure?.travelState}}</span>
                                    </span>
                                </app-no-data-label>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Period</label>
                            <span class="coi-text-light"
                                aria-label="{{disclosure?.travelStartDate | dateFormatter}} - {{disclosure?.travelEndDate | dateFormatter}}">
                                <app-no-data-label
                                    [valueToShow]="disclosure?.travelStartDate || disclosure?.travelEndDate">
                                    <span class="coi-text-light ms-0">{{disclosure?.travelStartDate |
                                        dateFormatter}}</span>
                                    -
                                    <span class="coi-text-light">{{disclosure?.travelEndDate | dateFormatter}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Expiration Date</label>
                            <span class="coi-text-light">
                                <app-no-data-label [valueToShow]="disclosure?.expirationDate">
                                    <span class="coi-text-light ms-0"
                                        aria-label="{{disclosure?.expirationDate | dateFormatterWithTimeZone}}">{{disclosure?.expirationDate
                                        | dateFormatterWithTimeZone}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block me-2">Purpose</label>
                            <span class="coi-text-light">
                                <app-no-data-label [classesToApply]="'fs-14'"
                                    [valueToShow]="disclosure?.purposeOfTheTrip">
                                    <span class="d-flex coi-text-light ms-0"
                                        [attr.aria-label]="disclosure?.purposeOfTheTrip">
                                        <span class="text-slice" [title]="disclosure?.purposeOfTheTrip">{{disclosure?.purposeOfTheTrip}}</span>
                                    </span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 d-flex d-lg-block mb-3 mb-lg-0">
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Disclosure Status</label>
                    <span>
                        <app-no-data-label [valueToShow]="disclosure?.conflictStatus">
                            <span class="{{commonService.getDisclosureConflictBadge(disclosure?.conflictStatusCode)}}">
                            </span>
                            <span class="coi-text-dark" [attr.aria-label]="disclosure?.conflictStatus">
                                {{disclosure?.conflictStatus}}
                            </span>
                        </app-no-data-label>
                    </span>
                </div>
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Version Status</label>
                    <span>
                        <app-no-data-label [valueToShow]="disclosure?.versionStatus">
                            <span
                                [ngClass]="disclosure?.versionStatus === 'ACTIVE' ? 'green-badge' : 'grey-badge'"></span>
                        </app-no-data-label>
                        <span class="coi-text-dark"
                            [attr.aria-label]="disclosure?.versionStatus === 'ACTIVE' ? 'Active' : 'Archive'">
                            {{disclosure?.versionStatus === 'ACTIVE' ? 'Active' : 'Archive'}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-lg-1 d-flex align-items-center justify-content-end">
                <button class="d-flex align-items-center btn btn-outline-secondary fs-14 height-fit-content" (click)="redirectToDisclosure()"
                    title="Click to view Travel Disclosure" [attr.aria-label]="'Click to view Travel Disclosure of' + disclosure.entityName">
                    <mat-icon class="me-1" aria-hidden="true">visibility</mat-icon> View
                </button>
            </div>
        </div>
    </div>
</div>

<!-- OPA history card  -->
<div *ngIf="disclosure?.opaDisclosureId" class="card coi-card-regular position-relative ms-12px me-2">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9 mb-3 mb-lg-0 mb-md-3 px-0">
                <div class="row m-0">
                    <div class="col-12 d-inline-flex align-items-end mb-2 coi-card-body-notch-container">
                        <span class="d-flex align-items-center" tabindex="-1">
                            <span
                                class="coi-card-notch-ribbon shadow-sm {{getColorBadges(disclosure)}}">
                                <span aria-label="OPA">OPA</span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-md-6 col-lg-3 mb-2" tabindex="0">
                        <div>
                            <label class="coi-text-dark d-block">Reporting Cycle</label>
                            <span>
                                <span class="coi-text-light"
                                [attr.aria-label]="(disclosure?.periodStartDate | dateFormatter) + 'to' + (disclosure?.periodEndDate | dateFormatter)">
                                {{disclosure?.periodStartDate | dateFormatter}} - {{disclosure?.periodEndDate | dateFormatter}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Certification Date</label>
                            <span>
                                <app-no-data-label [valueToShow]="disclosure?.submissionTimestamp">
                                    <span class="coi-text-light"
                                        [attr.aria-label]="disclosure?.submissionTimestamp | dateFormatterWithTimeZone">{{disclosure?.submissionTimestamp
                                        | dateFormatterWithTimeZone}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Department</label>
                            <span class="coi-text-light"
                                [attr.aria.label]="disclosure?.homeUnit + ' - ' + disclosure?.homeUnitName">
                                {{commonService.getPersonLeadUnitDetails(disclosure)}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex d-lg-block mb-3 mb-lg-0">
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Disposition Status</label>
                    <span>
                        <span
                            class="{{commonService.getDispositionStatusBadge(disclosure?.dispositionStatusCode)}} "></span>
                        <span class="coi-text-dark" [attr.aria-label]="disclosure?.dispositionStatus">
                            {{disclosure?.dispositionStatus}}
                        </span>
                    </span>
                </div>
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Review Status</label>
                    <span>
                        <app-no-data-label [valueToShow]="disclosure?.reviewStatus">
                            <span
                                [class.text-dark]="commonService.getReviewStatusBadge(disclosure?.reviewStatusCode) === 'warning'"
                                class="{{commonService.getReviewStatusBadge(disclosure?.reviewStatusCode)}}"></span>
                            <span class="coi-text-dark" [attr.aria-label]="disclosure?.reviewStatus">
                                {{disclosure?.reviewStatus}}</span>
                        </app-no-data-label>
                    </span>
                </div>
            </div>
            <div class="col-lg-1 d-flex align-items-center justify-content-end">
                <button class="d-flex align-items-center btn btn-outline-secondary fs-14 height-fit-content"
                    (click)="redirectToDisclosure()" aria-label="Click to view OPA Disclosure" title="Click to view OPA Disclosure">
                    <mat-icon class="me-1" aria-hidden="true">visibility</mat-icon> View
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Consulting history card  -->
<div *ngIf="disclosure?.consultDisclId" class="card coi-card-regular position-relative ms-12px me-2">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9 mb-3 mb-lg-0 mb-md-3 px-0">
                <div class="row m-0">
                    <div class="col-12 d-inline-flex align-items-center mb-2 coi-card-body-notch-container">
                        <span class="d-flex align-items-center">
                            <span
                                class="coi-card-notch-ribbon shadow-sm {{getColorBadges(disclosure)}}">
                                <span aria-label="Consulting">Consulting</span>
                            </span>
                        </span>
                        <h4 class="align-items-center d-flex fs-14 mb-0 ms-1" *ngIf="disclosure.entityName">
                            <span>
                                <span class="d-flex">
                                    <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0">apartment</mat-icon>
                                    <span class="coi-text-darker fs-6 text-slice" [title]="disclosure?.entityName">{{disclosure?.entityName}}</span>
                                </span>
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Certification Date</label>
                            <span>
                                <app-no-data-label [valueToShow]="disclosure?.certifiedAt">
                                    <span class="coi-text-light"
                                        [attr.aria-label]="disclosure?.certifiedAt | dateFormatterWithTimeZone">{{disclosure?.certifiedAt
                                        | dateFormatterWithTimeZone}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <div>
                            <label class="coi-text-dark d-block">Department</label>
                            <span class="coi-text-light"
                                [attr.aria.label]="disclosure?.homeUnit + ' - ' + disclosure?.homeUnitName">
                                {{commonService.getPersonLeadUnitDetails(disclosure)}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex d-lg-block mb-3 mb-lg-0">
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Disposition Status</label>
                    <span>
                        <span
                            class="{{commonService.getConsultingDispositionStatusBadge(disclosure?.dispositionStatusCode)}} "></span>
                        <span class="coi-text-dark" [attr.aria-label]="disclosure?.dispositionStatus">
                            {{disclosure?.dispositionStatus}}
                        </span>
                    </span>
                </div>
                <div class="flex-grow-1 lh-sm mb-2">
                    <label class="coi-text-lighter d-block">Review Status</label>
                    <span>
                        <app-no-data-label [valueToShow]="disclosure?.reviewStatus">
                            <span
                                [class.text-dark]="commonService.getConsultingReviewStatusBadge(disclosure?.reviewStatusCode) === 'warning'"
                                class="{{commonService.getConsultingReviewStatusBadge(disclosure?.reviewStatusCode)}}"></span>
                            <span class="coi-text-dark" [attr.aria-label]="disclosure?.reviewStatus">
                                {{disclosure?.reviewStatus}}</span>
                        </app-no-data-label>
                    </span>
                </div>
            </div>
            <div class="col-lg-1 d-flex align-items-center justify-content-end">
                <button class="d-flex align-items-center btn btn-outline-secondary fs-14 height-fit-content"
                    (click)="redirectToDisclosure()" aria-label="Click to view OPA Disclosure" title="Click to view OPA Disclosure">
                    <mat-icon class="me-1" aria-hidden="true">visibility</mat-icon> View
                </button>
            </div>
        </div>
    </div>
</div>
