//Cards

.card {
    background-color: var(--theme-card-bg-color) !important;
    border: var(--theme-card-border) !important;
    box-shadow: var(--theme-card-box-shadow);

    .card-header {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            min-height: 70px;
            padding: 0 2.25rem;
            color: var(--bs-card-cap-color);
            background-color: var(--theme-card-bg-color);
            border-bottom: 1px solid var(--theme-card-border-color);
        .card-title {
            display: flex;
            align-items: center;
            margin: .5rem;
            margin-left: 0;
            .card-label {
                margin: 0 .75rem 0 0;
                flex-wrap: wrap;
            }
        }
        .card-title.flex-column {
            align-items: flex-start;
            justify-content: center;
        }
        .card-toolbar {
            display: flex;
            align-items: center;
            margin: .5rem 0;
            flex-wrap: wrap;
        }
    }
    .card-footer {
        background-color: var(--theme-card-bg-color) !important;
    }
}

.coi-card-overview {
    box-shadow: -1px 3px 50px -17px rgb(0 0 0 / 22%);
    border-radius: 1.250rem;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        height: 49px;
        background-color: transparent !important;
        border: 0;        
        padding: 1rem 1.875rem !important;
        
        .card-toolbar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .card-body {
        padding: 1rem 1.875rem !important;
    }

    .card-content {
        background-color: transparent !important;        
    }

    .card-footer {
        background-color: transparent !important;
        border: 0;
        padding: 1rem 1.875rem !important;
    }

    .list-group {

        // &.border-dashed {
        //     border: 1px dashed #DBDFE9;
        //     border-radius: 10px;
        // }
        &.border-dashed {
            border-width: 1px;
            border-style: dashed !important;
            border-color: var(--theme-border-color);
            border-radius: 10px;
        }

        .list-group-item {
            border: none;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.coi-bg-complete {
    background-color: #E7F9E8;
    border: 1px solid #c1d9c2;
}

.coi-card-normal {
    background-color: var(--theme-card-bg-color) !important;
}

.coi-card-compact {
    background-color: var(--theme-card-bg-color) !important;
}