//Cards

// .card {
//     background-color: var(--theme-card-bg-color) !important;
//     border: var(--theme-card-border) !important;
//     box-shadow: var(--theme-card-box-shadow);

//     .card-header {
//             display: flex;
//             justify-content: space-between;
//             align-items: stretch;
//             flex-wrap: wrap;
//             color: var(--bs-card-cap-color);
//             background-color: var(--theme-card-bg-color);
//             border-bottom: 1px solid var(--theme-card-border-color);
//         .card-title {
//             display: flex;
//             align-items: center;
//             .card-label {
//                 margin: 0 .75rem 0 0;
//                 flex-wrap: wrap;
//             }
//         }
//         .card-title.flex-column {
//             align-items: flex-start;
//             justify-content: center;
//         }
//         .card-toolbar {
//             display: flex;
//             align-items: center;
//             flex-wrap: wrap;
//         }
//     }
//     .card-footer {
//         background-color: var(--theme-card-bg-color);
//     }
// }

.card, .card-header, .card-body {
    border-radius: .5rem;
}

.coi-card-overview {
    background-color: var(--theme-card-body-bg-color) !important;
    box-shadow: -1px 3px 50px -17px rgb(0 0 0 / 22%);
    border-radius: 1.250rem;
    border: 0;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        height: 49px;
        background-color: transparent;
        border: 0;
        padding: 1rem 1.875rem !important;

        .card-toolbar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .card-body {
        padding: 1rem 1.875rem !important;
        border-top: var(--theme-card-body-border);
        // border-bottom: var(--theme-card-body-border);
    }

    .card-footer {
        background-color: transparent;
        border: 0;
        padding: 1rem 1.875rem !important;
    }

    .list-group {

        // &.border-dashed {
        //     border: 1px dashed #DBDFE9;
        //     border-radius: 10px;
        // }
        &.border-dashed {
            border-width: 1px;
            border-style: dashed !important;
            border-color: var(--theme-border-color);
            border-radius: 10px;
        }

        .list-group-item {
            border: none;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.coi-card-regular {
    background-color: var(--theme-card-bg-color) !important;
    border: var(--theme-card-border) !important;
    box-shadow: var(--theme-card-box-shadow);
    margin-top: 0.5rem;
    font-size: var(--theme-font-size);
    line-height: var(--theme-line-height);
    border-radius: .5rem;

    &.border-0, &.border-none {
        border: none !important;
    }

    .card-header {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            // min-height: 70px;
            color: var(--bs-card-cap-color);
            background-color: var(--theme-card-bg-color);
            border-bottom: var(--theme-header-border);
        .card-title {
            display: flex;
            align-items: center;
            // margin: .5rem;
            // margin-left: 0;
            .card-label {
                margin: 0 .75rem 0 0;
                flex-wrap: wrap;
            }
        }
        .card-title.flex-column {
            align-items: flex-start;
            justify-content: center;
        }
        .card-toolbar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .card-body {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) !important;
    }
    .card-footer {
        background-color: var(--theme-card-bg-color);
        border-top: 1px solid var(--theme-body-bg-color);

        .badge:hover,
        .badge:focus {
            background-color: var(--theme-blue) !important;
            color: #fff !important;
        }
    }
}

.coi-bg-complete {
    background-color: #E7F9E8;
    border: 1px solid #c1d9c2;
}

.coi-card-normal {
    background-color: var(--theme-card-bg-color) !important;
}

.coi-card-compact {
    background-color: var(--theme-card-bg-color) !important;
}

// new card design
.coi-card-lite {
    background-color: var(--theme-card-body-bg-color) !important;
    box-shadow: -1px 3px 50px -17px rgb(0 0 0 / 22%);
    // border-radius: 1.250rem;
    border: var(--theme-card-body-border);
    .card-header {
        padding: 1rem 1.875rem !important;
    }
    .card-body {
        padding: 1rem 1.875rem !important;
    }

  .border-dashed {
    border-style: dashed !important;
    border-color: var(--theme-text-gray-300);
  }

  .flex-stack {
    justify-content: space-between;
    align-items: center;
}

.mb-6 {
    margin-bottom: 1rem !important;
}

.symbol-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var($--theme-card-symbol-bg-color);
}
.symbol-circle .mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: auto !important;
    width: auto !important;
    overflow: auto !important;
    color: var($--theme-card-symbol-color);
}
}

.coi-card-expanded {
    background-color: var(--theme-card-bg-color) !important;
    border: var(--theme-card-border) !important;
    box-shadow: var(--theme-card-box-shadow);
    border-radius: .5rem;

    .card-header {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            color: var(--bs-card-cap-color);
            background-color: var(--theme-card-bg-color);
            border-bottom: var(--theme-header-border);
            border-radius: .5rem !important;
        .card-title {
            display: flex;
            align-items: center;
            .card-label {
                margin: 0 .75rem 0 0;
                flex-wrap: wrap;
            }
        }
        .card-title.flex-column {
            align-items: flex-start;
            justify-content: center;
        }
        // .card-toolbar {
        //     display: flex;
        //     align-items: center;
        //     flex-wrap: wrap;
        // }
    }
    .card-body {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) !important;
    }
    .card-footer {
        background-color: var(--theme-card-bg-color);
    }
}

//boxes

.coi-box-red {
    background-color: var(--theme-box-red-bg-color);
    border-style: dashed !important;
    border-width: 1px;
    border-radius: 0.5rem;

    .coi-field-set {
        position: absolute;
        top: -13px;
        background: var(--theme-box-red-bg-color);//#fff7f1;
        padding: 0px 10px;
        border: solid 1px #b5b6b7;
        border-radius: 5px;
        left: 10px;
        border-style: dashed !important;
    }
  }

.coi-box-status {
    background: #f1faff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px dashed #00b2ff;
    @media (min-width: 960px) {
        width: 100%;
        display: flex;
    }
}

/* no information card styles */
.no-data-container {
    padding: 30px;
    margin-top: 7px;
    text-align: center;
    background-color: var(--theme-card-bg-color) !important;
}

.no-data-container .no-data-icon-outer {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-bottom: 4px;
    border-radius: 50%;
    background: #eff0f5;
}

.no-data-container .no-data-icon-outer .no-data-icon {
    display: inline-block;
    margin-top: 18px
}

.no-data-container .no-data-icon-outer .no-data-icon .no-file {
    margin-top: 11px;
    color: gray;
}

.no-data-container h5 {
    color: #a4a4a4;
    font-size: 2rem;
}

/* no information card styles */

.coi-modal-notch-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    flex-shrink: 0;
    min-width: 100px;
    height: 27px;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: .8rem 0;
    padding: 10px 18px;
}

.coi-card-header-notch-container {
    position: relative;
    margin-top: calc(-1 * var(--bs-card-cap-padding-y));
    margin-left: calc(-1 * var(--bs-card-cap-padding-x));
}

.coi-card-body-notch-container {
    position: relative;
    margin-top: calc(-1 * var(--bs-card-spacer-y));
    margin-left: calc(-1 * var(--bs-card-spacer-x));
}

.coi-card-notch-ribbon-container {
    position: relative;
    margin-top: -1rem;
    margin-left: -1rem;
}

.coi-card-notch-ribbon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    flex-shrink: 0;
    min-width: 80px;
    height: 27px;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: .5rem 0;
    padding: 10px 18px;
}

.status-pill {
    position: absolute;
    left: 14px;
    top: -12px;
    background-color: white;
    border-radius: 1rem !important;
    font-weight: 600 !important;
    padding: 1px 0.5rem;
    border: 1px solid #dee2e6 !important;
    font-size: 0.8125rem;
    letter-spacing: 0.1px;
}

// new disclosure create steps nav
.steps-outer {
    background-color: #fff;
    border: solid 1px #DEE2E6;
    border-radius: .5rem !important;
    display: flex;
    align-items: center;

    .steps {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 5px;
        }

        li {
            display: inline-block;
            flex-shrink: 0;
        }

        .active-arrow {
            color: #007DEC;
        }

        .step-pills {
            display: inline-flex;
            align-items: center;
            border: solid 1px #ccc;
            padding: 0.5rem 0.6rem;
            border-radius: 30px;
            background: #fff;
            text-decoration: none !important;

            * {
                cursor: pointer;
            }

            &.active-step {
                background: #007dec;
                border-color: #007DEC;
                box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);

                .plls-text {
                    color: #ffffff;
                    font-weight: bold;
                }

                .plls-icon {
                    background: #4da5f3;
                }

                &:hover {
                    background: #007dec;
                    border-color: #007DEC;
                    box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);
                }

                &:focus {
                    background: #007dec;
                    box-shadow: 1px 4px 8px 3px rgb(0 125 236 / 32%);
                    border-color: #fff;
                }

                &:hover .plls-text,
                &:focus .plls-text {
                    color: #ffffff;
                    font-weight: bold;
                }

                &:hover .plls-icon,
                &:focus .plls-icon {
                    background: #4da5f3;
                }
            }

            &:hover {
                background: #F2F8FF;
                border-color: #007DEC;
                cursor: pointer;
            }

            &:focus {
                background: #F2F8FF;
                cursor: pointer;
                box-shadow: 1px 4px 8px 3px rgb(0 125 236 / 32%);
                border-color: #007DEC;
            }

            &:hover .plls-text,
            &:focus .plls-text {
                color: #007DEC;
                font-weight: bold;
            }

            &:hover .plls-icon,
            &:focus .plls-icon {
                background: #007DEC;
            }

            .plls-icon {
                display: inline-flex;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #8A8888;
                align-items: center;
                justify-content: center;
                color: #fff;

                .mat-step-icon {
                    font-size: 1.1rem !important;
                    line-height: 25px;
                }
            }

            .plls-text {
                font-weight: 400;
                padding-right: 1rem;
                padding-left: 1rem;
                color: #333;
            }
        }

        .arrow-right {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 820px) {
    .plls-text {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}

.high-risk {
    color: #ff0000;
}

.medium-risk {
    color: #ff8c00;
}

.low-risk {
    color: #1aac3e;
}

.coi-card-highlight {
    border: 1px dashed #ffc700 !important;
    background-color: #fff8dd !important;
    .card, .card-header, .card-body {
        background-color: #fff8dd !important;
    }
}

.count-badge{
    background: #7b68ee;
    color: #fff;
}

.card-light-gray-border {
    border: 1px solid #E3E3E3 !important;
}

.attachment-icon-container {
    background-color: #DEE5F0;
    mat-icon {
        color: #0948B3 !important;
    }
}

.matching-card {
    border: 1px dashed var(--theme-entity-matching-card-border-color);
    background-color: var(--theme-entity-matching-card-bg-color);
    color: var(--theme-entity-matching-card-border-color);
}
