:root {
    --theme-sidebar-width: 55px;
    --theme-topbar-height: 51px;
    --theme-gutter-x: 3rem;
    --theme-gutter-y: 1.5rem;
    --theme-separator-border: 1px solid #DBDFE9;
    --theme-box-shadow: 0px 0px 80px 50px rgba(206, 213, 225, 0.12);
    --theme-text-gray-100: #F9F9F9;
    --theme-text-gray-200: #F1F1F2;
    --theme-text-gray-300: #DBDFE9;
    --theme-text-gray-400: #B5B5C3;
    --theme-text-gray-500: #99A1B7;
    --theme-text-gray-600: #78829D;
    --theme-text-gray-700: #4B5675;
    --theme-text-gray-800: #252F4A;
    --theme-text-gray-900: #071437;  
}

$--theme-body-color: --theme-body-color;
$--theme-body-bg-color: --theme-body-bg-color;


$--theme-primary-color: --theme-primary-color;
$--theme-primary-color-inverse: --theme-primary-color-inverse;
$--theme-secondary-color: --theme-secondary-color;
$--theme-secondary-color-inverse: --theme-secondary-color-inverse;

$--theme-box-shadow: --theme-box-shadow;
$--theme-border-color: --theme-border-color;

//header
$--theme-header-bg-color: --theme-header-bg-color;
$--theme-header-box-shadow: --theme-header-box-shadow;
$--theme-header-border: --theme-header-border;

//sidebar
$--theme-sidebar-bg-color: --theme-sidebar-bg-color;
$--theme-sidebar-box-shadow: --theme-sidebar-box-shadow;
$--theme-sidebar-border: --theme-sidebar-border;


//cards
$--theme-card-bg-color: --theme-card-bg-color;
$--theme-card-border: --theme-card-border;
$--theme-card-box-shadow: --theme-card-box-shadow;



$theme-map-default: (
    $--theme-body-color: #fff,
    $--theme-body-bg-color: #FCFCFD,    
    $--theme-primary-color: #007DEC,
    $--theme-primary-color-inverse: #fff,
    
    $--theme-header-bg-color: #fff,
    $--theme-header-box-shadow: none,
    $--theme-header-border: 1px solid #DBDFE9,

    $--theme-sidebar-bg-color: #fff,
    $--theme-sidebar-box-shadow: none,
    $--theme-sidebar-border: 1px solid #DBDFE9,

    $--theme-card-bg-color: #fff,
    $--theme-card-border: 1px solid #F1F1F4,
    $--theme-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),

);

$theme-map-dark: (
    $--theme-body-color: #fff,
    $--theme-body-bg-color: #FCFCFD,    
    $--theme-primary-color: #007DEC,
    $--theme-primary-color-inverse: #fff,
    
    $--theme-header-bg-color: #fff,
    $--theme-header-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-header-border: 1px solid #DBDFE9,

    $--theme-sidebar-bg-color: #fff,
    $--theme-sidebar-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-sidebar-border: 1px solid #DBDFE9,

    $--theme-card-bg-color: #fff,
    $--theme-card-border: 1px solid #F1F1F4,
    $--theme-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
);
//#a92034
$theme-map-red: (
    $--theme-body-color: #fff,
    $--theme-body-bg-color: #FCFCFD,    
    $--theme-primary-color: #007DEC,
    $--theme-primary-color-inverse: #fff,
    
    $--theme-header-bg-color: #fff,
    $--theme-header-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-header-border: 1px solid #DBDFE9,

    $--theme-sidebar-bg-color: #fff,
    $--theme-sidebar-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-sidebar-border: 1px solid #DBDFE9,

    $--theme-card-bg-color: #fff,
    $--theme-card-border: 1px solid #F1F1F4,
    $--theme-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
);
