.help-text {
  margin: 0 -15px 0 -15px;
  position: relative;
  bottom: 0.6rem;
}

.grey-info {
  background: #EEEEEE;
  color: #202c2e;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #caced2;
}


.invalid-border {
  border-color: #dc3545 !important;
}

.info-icon {
  width: 22px;
  font-size: 1.6rem;
  margin-left: 2px;
  color: #6f7395;
  cursor: pointer;
}