<app-coi-slider (closeSlider)="closeConflictSlider()" [elementId]="'travel-risk-slider'" [isHeaderNeeded]="true" [isChangedFieldValue]="isFieldValueChanges()">

    <!-- slider header -->
    <ng-container header>
        <span>Manage Travel Risk</span>
    </ng-container>

    <!-- slider header card -->
    <ng-container content-sticky>
        <div class="border border-opacity-50 border-secondary coi-box-red mt-2 mx-0 p-3 rounded-2 row shadow-medium">
            <span class="d-flex col-12 p-0">
                <mat-icon aria-hidden="true" class="coi-text-light me-1 flex-shrink-0">apartment</mat-icon>
                <span id="risk-slider-travelDisclosure-entity">
                    <app-no-data-label [valueToShow]="travelDisclosure?.travelEntityName">
                        <span class="coi-text-darker fs-6 text-slice" [title]="travelDisclosure?.travelEntityName">{{travelDisclosure?.travelEntityName}}</span>
                    </app-no-data-label>
                </span>
            </span>
            <div class="col-6 p-0 fs-14 my-2">
                <label class="d-block coi-text-dark" for="risk-slider-travelDisclosure-person">Person associated with travel</label>
                <span id="risk-slider-travelDisclosure-person">
                    <app-no-data-label [valueToShow]="travelDisclosure?.personFullName">
                        <span class="coi-text-light">{{travelDisclosure?.personFullName}}</span>
                    </app-no-data-label>
                </span>
            </div>
            <div class="col-6 p-0 fs-14 my-2">
                <label class="d-block coi-text-dark" for="risk-slider-travelDisclosure-department">Department</label>
                <span id="risk-slider-travelDisclosure-department">
                    <app-no-data-label [valueToShow]="commonService.getPersonLeadUnitDetails(travelDisclosure)">
                        <span class="coi-text-light">{{commonService.getPersonLeadUnitDetails(travelDisclosure)}}</span>
                    </app-no-data-label>
                </span>
            </div>
            <div class="col-6 p-0 fs-14">
                <label for="risk-slider-travelDisclosure-risk" class="coi-text-lighter d-block">Risk</label>
                <span id="risk-slider-travelDisclosure-risk">
                    <app-no-data-label [valueToShow]="travelDisclosure?.riskLevel">
                        <span class="d-flex">
                            <mat-icon class="{{commonService.getRiskColor(travelDisclosure?.riskCategoryCode)}} material-icons-round me-1 flex-shrink-0"
                                aria-hidden="true">warning</mat-icon>
                            <span class="coi-text-dark">{{travelDisclosure?.riskLevel}}</span>
                        </span>
                    </app-no-data-label>
                </span>
            </div>
            <div class="col-6 p-0 fs-14">
                <label for="risk-slider-travelDisclosure-disclosureStatus" class="coi-text-lighter d-block">Disclosure</label>
                <span id="risk-slider-travelDisclosure-disclosureStatus">
                    <app-no-data-label [valueToShow]="travelDisclosure?.disclosureStatus">
                        <span class="{{commonService.getDisclosureConflictBadge(travelDisclosure?.disclosureStatusCode)}}"></span>
                        <span class="coi-text-dark ms-1">{{travelDisclosure?.disclosureStatus}}</span>
                    </app-no-data-label>
                </span>
            </div>
        </div>
    </ng-container>

    <!-- content -->
    <ng-container content>
        <ng-container *ngIf="isEditMode">
            <!-- help text -->
            <app-help-text [helpTextList]="helpTexts" [tooltip]="'Disclosure Risk History'"></app-help-text>

            <!-- risk edit section -->
            <div class="mt-2 card shadow-sm p-3">
                <div class="row">
                    <div class="col-md-12 col-xl-4">
                        <label for="risk-slider-travelDisclosure-risk-edit" class="fs-14 fw-500">Risk:</label>
                        <span>
                            <select id="risk-slider-travelDisclosure-risk-edit" class="form-control form-select" [(ngModel)]="riskCategoryCode"
                                [ngClass]="riskValidationMap?.has('riskLevelCode') || riskValidationMap?.has('duplicateRisk')  ? 'is-invalid d-block' : ''"
                                (ngModelChange)="clearValidationOnValueChange('LEVEL')">
                                <option [value]=null>--Select--</option>
                                <option *ngFor="let status of riskLookup" [value]="status.riskCategoryCode">
                                    {{status?.description}}</option>
                            </select>
                            <div *ngIf="riskValidationMap?.has('riskLevelCode')"
                                class="invalid-feedback d-block fs-12">
                                {{riskValidationMap?.get('riskLevelCode')}}
                            </div>
                            <div *ngIf="riskValidationMap?.has('duplicateRisk')"
                                class="d-block fs-12 invalid-feedback">
                                {{riskValidationMap?.get('duplicateRisk')}}
                            </div>
                        </span>
                    </div>
                    <div class="col-md-12 col-xl-8">
                        <label for="risk-slider-travelDisclosure-risk-description" class="fs-14 fw-500">Describe the reason for Travel Risk level change:</label>
                        <textarea appAutoGrow id="risk-slider-travelDisclosure-risk-description" class="form-control fs-14" placeholder="Description"
                            rows="1" [(ngModel)]="riskComment" appLengthValidator [limit]="2000" [isShowLimiter]="true"
                            [ngClass]="riskValidationMap?.has('comment') ? 'is-invalid d-block' : ''"
                            (ngModelChange)="clearValidationOnValueChange('COMMENT'); riskComment = riskComment.trim()">
                        </textarea>
                        <div *ngIf="riskValidationMap?.has('comment')" class="invalid-feedback d-block fs-12">
                            {{riskValidationMap?.get('comment')}}
                        </div>
                    </div>
                </div>
                <div class="mt-2 ms-auto">
                    <button type="button" class="btn btn-outline-secondary fs-14 me-2" (click)="clearRiskChanges()"
                        title="Click here to clear" aria-label="Click here to clear">Clear</button>
                    <button type="button" class="btn btn-primary fs-14" (click)="checkForModification()"
                        title="Click here to save" aria-label="Click here to save">Save</button>
                </div>
            </div>
        </ng-container>

        <!-- risk history heading -->
        <div class="border-bottom mt-3" id="" tabindex="-1">
            <h3 class="d-flex align-items-center fs-16">
                <strong>Travel Risk History</strong>
                <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"></span>
            </h3>
        </div>

        <!-- risk history log -->
        <div class="card mt-2" id="travel-risk-history">
            <div class="card-content">
                <div class="card-body">
                        <div *ngIf="!isEmptyHistory()">
                            <ul class="timeline">
                                <ng-container *ngFor="let disclosure of disclosureHistoryLogs | keyvalue: sortNull">
                                <li *ngFor="let historyEntry of disclosure.value; let index=index">
                                    <span class="fs-14" [innerHTML]="historyEntry?.description" tabindex="-1"></span>
                                    <p class="coi-text-lighter fs-13" tabindex="-1">{{disclosure.key}} {{historyEntry?.updateTimestamp | dateFormatterWithTimeZone:'time'}}</p>
                                    <p *ngIf="historyEntry?.description" class="coi-text-light" tabindex="-1">
                                        <span *ngIf="historyEntry?.comment" class="fs-14">
                                            <mat-icon class="format_quote">format_quote</mat-icon>
                                            <span class="fst-italic mx-2 coi-text-light">{{(!isReadMore[index] && historyEntry?.comment?.length > 230) ?
                                                (historyEntry?.comment | slice:0:230) : historyEntry?.comment }}
                                                <!-- for read more and less -->
                                                <ng-container *ngIf="historyEntry?.comment?.length > 230">
                                                    <a tabindex="0" role="link"
                                                        (click)="isReadMore[index] = !isReadMore[index]"
                                                        (keyup.enter)="isReadMore[index] = !isReadMore[index]"
                                                        (keyup.space)="isReadMore[index] = !isReadMore[index]" 
                                                        title="Click here to read {{isReadMore[index] ? 'less' : 'more'}}"
                                                        class="fw-medium cursor-pointer coi-text-light text-decoration-none"
                                                        attr.aria-label="Click here to read {{isReadMore[index] ? 'less' : 'more'}}">
                                                        <span *ngIf="!isReadMore[index]">...</span>
                                                        <u class="fw-600">{{isReadMore[index] ? 'Read Less' : 'Read More'}}</u>
                                                    </a>
                                                </ng-container>
                                            </span>
                                        </span>
                                    </p>
                                </li>
                            </ng-container>
                            </ul>
                        </div>
                        <div *ngIf="isEmptyHistory()">
                            <app-no-information [isBorderNeeded]="false"> </app-no-information>
                        </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- modal content -->
    <ng-container confirmation-content>
        You have unsaved changes in the <strong>Manage Risk Status</strong>, do you want to leave?
    </ng-container>

</app-coi-slider>
