<div class="ml-2">
  <div class="form-row mb-2">
    <div class="col-lg-2 col-sm-6 col-12 no-hover-effect py-0">
      <label class="d-sm-block">WBS Number</label>
      <span *ngIf="manpowerCategory?.budgetReferenceTypeCode == '1'"
        class="content-color">{{manpowerCategory?.budgetReferenceNumber}}</span>
      <span *ngIf="manpowerCategory?.budgetReferenceTypeCode == '2'" class="noDataExists">No WBS Generated</span>
    </div>
    <div class="col-lg-2 col-sm-6 col-12 no-hover-effect py-0">
      <label class="d-sm-block">Cost Element</label>
      <span class="content-color">{{manpowerCategory?.costElement?.description}}</span>
    </div>
    <div class="col-lg-2 col-sm-6 col-12 no-hover-effect py-0">
      <label class="d-sm-block">Approved Head Count
        <span class="d-inline-block icon-hover">
          <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med"
              aria-hidden="true"></i>
            <div class="tooltiptext-left card card-inner p-15 text-left">
              <span class="font-cv">{{helpText?.manpower?.approvedHeadCount?.helpTextInfo}}</span>
            </div>
          </a>
        </span>
      </label>
      <span class="content-color pl-5 ml-5">{{manpowerCategory?.approvedHeadCount}}</span>
    </div>
    <div class="col-lg-2 col-sm-6 col-12 no-hover-effect py-0">
      <label class="d-sm-block">Actual Head Count
        <span class="d-inline-block icon-hover">
          <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med"
              aria-hidden="true"></i>
            <div class="tooltiptext-left card card-inner p-15 text-left">
              <span class="font-cv">{{helpText?.manpower?.actualHeadCount?.helpTextInfo}}</span>
            </div>
          </a>
        </span>
      </label>
      <span class="content-color pl-5 ml-4">{{manpowerCategory?.actualHeadCount}}</span>
    </div>
    <div class="col-lg-2 col-sm-6 col-12 no-hover-effect py-0">
      <label class="d-sm-block">Budget Amount (A)</label>
      <span class="ml-5 content-color">
        {{manpowerCategory?.budgetAmount | currency: _commonService.currencyFormat}}</span>
    </div>
    <div class="col-lg-2 col-sm-6 col-12 no-hover-effect py-0">
      <label class="d-sm-block">Uncommitted Amount (F)</label>
      <span class="ml-5 pl-5 content-color">
        {{manpowerCategory?.uncommittedAmount | currency: _commonService.currencyFormat}}</span>
    </div>
    <span class="collapse-category">
      <i *ngIf="!isShowAllDetails[componentIndex.split('-')[1]]" class="fa fa-chevron-down collapse-arrow" (click)="isShowAllDetails[componentIndex.split('-')[1]] = true"
        aria-hidden="true"></i>
      <i *ngIf="isShowAllDetails[componentIndex.split('-')[1]]" class="fa fa-chevron-up collapse-arrow" (click)="isShowAllDetails[componentIndex.split('-')[1]] = false"
        aria-hidden="true"></i>
    </span>
    <div *ngIf="isShowAllDetails[componentIndex.split('-')[1]]" class="col-8 py-0  no-hover-effect">
      <label class="d-sm-block">Description</label>
      <span class="content-color">{{manpowerCategory?.budgetCategory?.description}}</span>
    </div>
    <div *ngIf="isManpowerEdit && isShowAllDetails[componentIndex.split('-')[1]]" class="col-4 py-0 no-hover-effect pb-0 text-right">
      <button class="btn btn-primary-sub btn-xs fs-14-nav my-3" id="manpower-add-person-btn" title="Recontract / Upgrade / Promotion  / < 100% Allocation"
        type="button" (click)="addResource(null, 'Existing', null)">
        <span><i class="fa fa-plus pr-2" aria-hidden="true"></i></span>Add Existing/Available Staff</button>
      <button class="btn btn-primary-sub btn-xs fs-14-nav my-3" id="manpower-add-person-btn" title="Add New Hire"
        type="button" (click)="addResource(null, 'New', null)">
        <span><i class="fa fa-plus pr-2" aria-hidden="true"></i></span>Add New Hire</button>
    </div>
  </div>
  <div *ngIf="manpowerCategory?.awardManpowerResource?.length && isShowAllDetails[componentIndex.split('-')[1]]"
    class="form-row m-0 mt-1 p-0">
    <div class="w-100 p-0">
      <table class="table tableSkin table-bordered grid2 mb-0">
        <caption class="sr-only">Manpower Category Details</caption>
        <thead class="text-center">
          <th scope="col" width="8%" class="px-1">Position Id</th>
          <th scope="col" width="10%">Name</th>
          <th scope="col" width="9%">Status</th>
          <th scope="col" width="8%" class="px-0">Charged Start Date<span class="invalid-feedback fs-14"> *</span></th>
          <th scope="col" width="8%" class="px-0">Charged End Date<span class="invalid-feedback fs-14"> *</span></th>
          <th scope="col" width="4%" class="px-1">Cost Allocation %</th>
          <th scope="col" width="9%" class="px-1">Proposed Base Salary</th>
          <th scope="col" width="9%" class="px-1">Proposed Commitment Amount<div class="f-13 content-color">(B)</div></th>
          <th scope="col" width="9%">Committed Amount<span class="invalid-feedback fs-14"> ^</span><div class="f-13 content-color">(C)</div></th>
          <th scope="col" width="8%">Expense<div class="f-13 content-color">(D)</div></th>
          <th scope="col" width="7%">Committed Balance<div class="f-13 content-color">(E)=sum(C)-(D)</div></th>
          <th scope="col" width="5%">Uncommitted Amount<div class="f-13 content-color">(F)=(A)-(Committed/ Proposed Amount)</div></th>
          <th scope="col" width="9%">Actions</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let resource of manpowerCategory?.awardManpowerResource; let resourceIndex = index">
            <tr>
              <td>
                <span>{{resource?.positionId}}</span>
                <span *ngIf="resource?.positionId && resource?.positionOwnedByAward != 'Y'" class="d-inline-block icon-hover">
                  <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-info-circle fa-med" aria-hidden="true"></i>
                    <div class="tooltiptext-left card card-inner p-15 text-left">
                      <span class="font-cv">
                        Position imported from another award</span>
                    </div>
                  </a>
                </span>
              </td>
              <td>
                <span *ngIf="resource?.fullName">{{resource?.fullName}}
                  <a *ngIf="canViewPayrollDetails && resource?.fullName && manpowerCategory?.budgetReferenceTypeCode == '1'"
                    title="Click to view the salary breakdown" class="pointer anchor-link"
                    (click)="payrollModal(resource?.personId, manpowerCategory?.budgetReferenceNumber, resource?.fullName)">
                    <i class="fa fa-money" aria-hidden="true"></i>
                  </a>
                </span>
                <span *ngIf="!resource?.fullName"><i>Unassigned</i></span>
              </td>
              <td class="text-center p-1"><span
                class="status-badge-{{getPositionStatusClass(resource?.manpowerPositionStatus?.positionStatusCode)}} fs-14-nav px-0 bg-transparent">
                {{resource?.manpowerPositionStatus?.description}}</span>
                <span *ngIf="resource?.manpowerPositionStatus?.positionStatusCode == '8' && resource?.dateOfInactive">({{resource?.dateOfInactive | dateFormatterWithTimeZone}})</span>
            </td>
              <td>
                <span>{{(resource?.chargeStartDate ? resource?.chargeStartDate : resource?.planStartDate) |
                  dateFormatter}}</span>
              </td>
              <td>
                <span>{{(resource?.chargeEndDate ? resource?.chargeEndDate : resource?.planEndDate) |
                  dateFormatter}}</span>
              </td>
              <td class="px-1">
                <span>{{resource?.costAllocation}} %</span>
              </td>
              <td class="px-1">
                <span class="float-right">{{resource?.plannedBaseSalary | currency: _commonService.currencyFormat}}
                </span>
              </td>
              <td class="px-1">
                <span class="float-right">{{resource?.plannedSalary | currency: _commonService.currencyFormat}}</span>
              </td>
              <td scope="col" class="px-1">
                <span *ngIf="resource?.committedCost != null"
                  class="float-right">{{resource?.committedCost | currency: _commonService.currencyFormat}}
                  <a *ngIf="resource?.committedCost != null && canEditCommittedAmount" class="anchor-link hand-cursor">
                    <i class="fa fa-pencil rounded-icon" aria-hidden="true" title="Edit Committed Amount"
                    (click)="editActualCommitted(resource, manpowerCategory, resourceIndex)"></i></a></span>
              </td>
              <td *ngIf="resourceIndex == 0" class="text-right px-1 vertical-align-middle"
                [rowSpan]="manpowerCategory?.awardManpowerResource?.length">
                <span>{{manpowerCategory?.expenseAmount | currency: _commonService.currencyFormat}}
                </span>
              </td>
              <td *ngIf="resourceIndex == 0" class="text-right px-1 vertical-align-middle"
                [rowSpan]="manpowerCategory?.awardManpowerResource?.length">
                <span>{{(manpowerCategory?.sapCommittedAmount - manpowerCategory?.expenseAmount) | currency:
                  _commonService.currencyFormat}}
                </span>
              </td>
              <td *ngIf="resourceIndex == 0" class="text-right px-1 vertical-align-middle"
                [rowSpan]="manpowerCategory?.awardManpowerResource?.length">
                <span>{{manpowerCategory?.uncommittedAmount | currency: _commonService.currencyFormat}}
                </span>
              </td>
              <td><span class="justify-content-around d-flex mt-2">
                  <i *ngIf="canTriggerPosition && resource?.manpowerPositionStatus?.positionStatusCode == '1'"
                    class="fa fa-bolt hand-cursor hoverColor action-icons" title=" Trigger position creation"
                    (click)="triggerResource(resource)" aria-hidden="true"></i>
                  <i class="fa fa-eye hand-cursor hoverColor action-icons" title="More Details" aria-hidden="true"
                    (click)="showDetailsModal(resource)"></i>
                  <i *ngIf="isManpowerEdit && compareSequenceNumber(awardData?.award?.sequenceNumber, resource?.resourceUniqueId)"
                    class="fa fa-trash hand-cursor hoverColor action-icons" title="Delete resouce" aria-hidden="true"
                    (click)="deleteResource(resource.manpowerResourceId, manpowerCategory, resourceIndex)"></i>
                  <i *ngIf="isManpowerEdit" class="fa fa-pencil hand-cursor hoverColor action-icons"
                    title="Edit resouce" aria-hidden="true" (click)="addResource(resourceIndex, null, resource)"></i>
                </span></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <span class="invalid-feedback d-block ml-1"><span class="fs-14">*</span> Plan date is indicated when status is not active.</span>
      <span class="invalid-feedback d-block"><span class="fs-14">^</span> Estimated based on a formula.</span>
    </div>
  </div>
  <div *ngIf="!manpowerCategory?.awardManpowerResource?.length && isShowAllDetails[componentIndex.split('-')[1]]" class="f-14 text-center">
    <span class="noDataExists">No Resource Added</span>
  </div>
</div>
