<div class="advance-search-area border d-flex mt-2 rounded-1">
    <div class="border-end fs-14 px-3 py-2">
        <span class="fs-14 fw-medium me-2 text-secondary">Filter by Status:</span>
        <span (click)="currentSelected.filter='ALL'" [class.filter-active]="currentSelected.filter=='ALL'"
              class="shadow-sm fw-medium px-3 py-1 border rounded-4 bg-white filter-active"
              role="button">All</span>
        <span (click)="currentSelected.filter='Active'" [class.filter-active]="currentSelected.filter=='Active'"
              class="shadow-sm fw-medium px-3 py-1 border rounded-4 bg-white mx-1" role="button">Active</span>
        <span (click)="currentSelected.filter='Inactive'" [class.filter-active]="currentSelected.filter=='Inactive'"
              class="shadow-sm fw-medium px-3 py-1 border rounded-4 bg-white" role="button">Inactive</span>
    </div>
</div>

<div class="bg-white border entity mt-2 pb-2 pt-3 px-1 rounded-1 shadow-sm">
    <div class="m-0 mb-2 row">
        <div class="col-8 d-flex">
            <span class="active-ribbon shadow-sm align-items-center d-flex ps-2">Active</span>
            <p class="entity-title">
                <strong>Alexion Pharmaceuticals</strong>
            </p>
        </div>
        <div class="col-4 text-secondary fs-14">
            <span class="fw-bold me-2">Entity Type:</span> Non-Profit
        </div>
    </div>
    <div class="align-items-center d-flex fs-14 m-0 row">
        <div class="col-8 text-secondary">
            <span class="fw-bold me-3">Relationship:</span>
            <span class="relationship-pill border px-3 py-1 rounded-4 me-2"><span
                class="fw-medium">Financial: </span><em>Self, Spouse, Dependent</em></span>
            <span class="relationship-pill border px-3 py-1 me-2 rounded-4 fw-medium">Travel</span>
            <span class="relationship-pill border px-3 py-1 rounded-4 fw-medium">Commitment</span>
        </div>
        <div class="align-items-center col-4 d-flex justify-content-between text-secondary">
            <div>
                <span class="fw-bold me-2"> Relationship Start Date:</span> 12/22/2022
            </div>
            <div>
                <button class="align-items-center btn btn-outline-primary d-flex fs-14">
                    <mat-icon class="me-1">visibility</mat-icon>
                    View
                </button>
            </div>
        </div>
    </div>
</div>
<div class="bg-white border entity mt-2 pb-2 pt-3 px-1 rounded-1 shadow-sm">
    <div class="m-0 mb-2 row">
        <div class="col-8 d-flex">
            <span class="inactive-ribbon shadow-sm align-items-center d-flex ps-2">Inactive</span>
            <p class="entity-title">
                <strong>Alexion Pharmaceuticals</strong>
            </p>
        </div>
        <div class="col-4 text-secondary fs-14">
            <span class="fw-bold me-2">Entity Type:</span> Non-Profit
        </div>
    </div>
    <div class="align-items-center d-flex fs-14 m-0 row">
        <div class="col-8 text-secondary">
            <span class="fw-bold me-3">Relationship:</span>
            <span class="relationship-pill border px-3 py-1 rounded-4 me-2"><span
                class="fw-medium">Financial: </span><em>Self, Spouse, Dependent</em></span>
            <span class="relationship-pill border px-3 py-1 me-2 rounded-4 fw-medium">Travel</span>
            <span class="relationship-pill border px-3 py-1 rounded-4 fw-medium">Commitment</span>
        </div>
        <div class="align-items-center col-4 d-flex justify-content-between text-secondary">
            <div>
                <span class="fw-bold me-2"> Relationship Start Date:</span> 12/22/2022
            </div>
            <div>
                <button class="align-items-center btn btn-outline-primary d-flex fs-14">
                    <mat-icon class="me-1">visibility</mat-icon>
                    View
                </button>
            </div>
        </div>
    </div>
</div>
