<div class="card overflow-hidden">
    <div class="px-3 my-1 d-flex align-items-center">
        <div class="col fs-16 my-2">
            <label for="coi-entity-industry-details">
                Industry Details<app-common-help-text [subSectionId]="2603" [elementId]="'coi-entity-industry-details'"></app-common-help-text></label>
        </div>
        <div class="col-auto" *ngIf="entityIndustryClassifications.length && isEditMode">
            <button id="additional-address-add-button"
                class="btn btn-primary fs-14 d-inline-flex" title="'Click here to industry details'"
                aria-label="'Click here to industry details'" (click)="addIndustryDetails(true)">
                <mat-icon>add</mat-icon>Add Industry Details
            </button>
        </div>
    </div>
    <div *ngIf="!entityIndustryClassifications.length">
        <app-no-information [isBorderNeeded]="false" [canShowAddButton]="isEditMode" [buttonName]="'Add Industry Details'" (buttonAction)="addIndustryDetails($event)"></app-no-information>
    </div>
    <div *ngIf="entityIndustryClassifications.length">
        <div class="card mx-3 px-2 py-1 coi-entity-details-card" *ngFor="let subsection of entityIndustryClassificationsGrouping | keyvalue;let isLast = last;let i = index" [ngClass]="isLast ? 'mb-3' : 'mb-2'">
            <div class="d-flex">
                <div class="col-md-9 col-lg-10 fs-14" [attr.aria-label]="subsection?.key">
                    <span class="coi-text-light">{{subsection?.key}}</span>
                    <span class="d-block coi-text-light fw-600">
                    <ng-container *ngFor="let classification of subsection.value;let isLast = last;">
                        {{classification?.industryCategoryCode?.description}}
                        <span *ngIf="classification?.isPrimary" class="badge primary-pill fs-13 fw-500 mx-1 rounded-4 text-primary">Primary</span>
                        <span class="ms-1 me-1" *ngIf="!isLast">|</span>
                    </ng-container>
                </span>
                </div>
                <div class="col-md-3 col-lg-2 d-flex align-items-center">
                    <span class="d-flex  ms-auto" *ngIf="isEditMode">
                    <mat-icon aria-hidden="true" class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1"
                              (click)="editIndustry(subsection, i)">edit</mat-icon>
                    <mat-icon aria-hidden="true" class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1"
                    (click)="confirmDeleteIndustry(subsection, i)">delete</mat-icon>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- open add industry confirmation -->
<div class="modal modal-lg fade mySkinDialog" data-bs-backdrop="static" id="addIndustryDetails"
    role="dialog" aria-labelledby="addIndustryDetails-header">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="addIndustryDetails-header">{{isEditIndex != null ? 'Edit':'Add'}} Industry Details</h4>
				<button type="button" class="btn-close" id="coi-add-industry-details-close-btn" title="Click here to close" data-bs-dismiss="modal"
					aria-label="Click here to close" (click)="clearIndustryDetails()"></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3">
					<div class="col-sm-12 col-lg-6">
                        <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-industry-category-type">
                            <span class="mandatory me-1">*</span>Industry Category Type
                            <app-common-help-text [subSectionId]="2603" [elementId]="'coi-industry-category-type'"></app-common-help-text>
                        </label>
                        <app-look-up (selectedResult)="onIndustryCategoryTypeSelect($event)" [options]="industryCategoryTypeOptions"
                            [uniqueId]="'coi-industry-category-type'" [isError]="mandatoryList?.has('industryCategoryTypeCode')"
                            [selectedLookUpList]="categoryTypeList" [isDisabled]="isEditIndex!=null">
                        </app-look-up>
                        <div *ngIf="mandatoryList?.has('industryCategoryTypeCode')" class="invalid-feedback d-block fs-13" tabindex="-1"
                            aria-label="Industry Category Type">
                            <span id="coi-industry-category-type-validation1">{{mandatoryList?.get('industryCategoryTypeCode')}}</span>
                        </div>
					</div>
                    <div class="col-sm-12 col-lg-6 mt-sm-2 mt-lg-0">
                        <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-industry-category">
                            <span class="mandatory me-1">*</span>Industry Category Description
                            <app-common-help-text [subSectionId]="2603" [elementId]="'coi-industry-category'"></app-common-help-text>
                        </label>
                        <app-look-up (selectedResult)="onIndustryCategoryDescriptionSelect($event)" [options]="industryCategoryDescriptionOptions"
                            [isExternalArray]="true"  [externalArray]="industryCategoryDescriptionsList"
                            [uniqueId]="'coi-industry-category'" [isError]="mandatoryList?.has('industryCategroyDescription')"
                            [selectedLookUpList]="categoryDescriptionList" [isDisabled]="!industryCategoryDescriptionsList || !industryCategoryDescriptionsList.length">
                        </app-look-up>
                        <div *ngIf="mandatoryList?.has('industryCategroyDescription')" class="invalid-feedback d-block fs-13"
						tabindex="-1" aria-label="Industry Category Description">
						<span id="coi-industry-category-description-validation1">{{mandatoryList?.get('industryCategroyDescription')}}</span>
					</div>
				    </div>
			    </div>
                <div class="row">
                    <div class="table-responsive coi-table-striped">
                        <table *ngIf="entityIndustryCategories.length" class="table table-bordered fs-14 fw-medium table-striped"
                            id="coi-entity-industry-category">
                            <thead>
                                <tr class="header-border table-light" id="coi-entity-industry-category-thead">
                                    <th class="align-middle">
                                        Selected Description
                                    </th>
                                    <th style="width: 7%;" class="text-center">Is Primary</th>
                                </tr>
                            </thead>
                            <tbody class="white-bg">
                                <tr *ngFor="let category of entityIndustryCategories; let index2 = index"
                                    class="tr-hover">
                                    <td class="table-data fw-600 coi-text-light">
                                       {{category?.description}}
                                    </td>
                                    <td>
                                        <div class="px-2" title="Click to toggle for primary">
                                            <span class="py-1" aria-label="Disclosures_has_sfi">
                                                <a *ngIf="industryDetails.primaryCatId == category?.industryCategoryId" class="pl-2"
                                                   (click)="clearPrimaryFlag()" tabindex="0"
                                                   (keyup.enter)="clearPrimaryFlag()"
                                                   (keyup.space)="clearPrimaryFlag()"
                                                     aria-label="Click here to remove primary" title="Click here to set primary">
                                                    <label class="switch">
                                                        <input id="coi-add-sfi-sponsor-research" type="checkbox" checked>
                                                        <span class="slider round"><small class="fs-12 mt-1 coi-dark">Yes</small></span>
                                                    </label>
                                                </a>
                                                <a *ngIf="industryDetails.primaryCatId != category?.industryCategoryId" class="pl-2"
                                                   (click)="setPrimaryCatId(category?.industryCategoryId)"
                                                   (keyup.enter)="setPrimaryCatId(category?.industryCategoryId)"
                                                   (keyup.space)="setPrimaryCatId(category?.industryCategoryId)"
                                                     tabindex="0" aria-label="Click here to set primary" title="Click here to set primary">
                                                    <label class="switch">
                                                        <input id="coi-add-sfi-sponsor-research-unchecked" type="checkbox">
                                                        <span class="slider round"><small
                                                                class="ms-4 coi-text-light fs-12 mt-1">No</small></span>
                                                    </label>
                                                </a>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
		</div>
        <div class="modal-footer">
            <button class="btn btn-outline-secondary" id="coi-add-industry-details-cancel-btn" type="button"
            title="Click to cancel" (click)="clearIndustryDetails()">Cancel
            </button>
            <button class="btn btn-primary me-0" id="coi-add-industry-details-add-btn" type="button"
                title="Click here to {{isEditIndex != null ? 'edit':'add'}} industry"
                    [attr.aria-label]="'Click here to '+ isEditIndex != null ? 'edit':'add'" (click)="addIndustry()">{{isEditIndex != null ? 'Edit':'Add'}} Industry
            </button>
        </div>
	</div>
</div>
</div>

<app-coi-modal [modalConfig]="modalConfig" (modalAction)="postConfirmation($event)">
    <ng-container modal-header>
        <span>Confirmation</span>
    </ng-container>
    <ng-container modal-body>
        <p>Do you want to delete <strong>{{selectedIndustry?.key}}</strong>?</p>
    </ng-container>
</app-coi-modal>
