.info-icon {
    top: 13px;
    height: 22px;
    width: 22px;
    font-size: 1.6rem;
    position: absolute;
    margin-left: 5px;
    color: #6f7395;
    cursor: pointer;
}

.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.custom-margin {
    margin-left: 30px;
}

.grey-text {
    color: #505050;
}