<div class="alert alert-primary align-items-start d-flex p-2" *ngIf="helpTextList.length > 0">
    <span title="{{tooltip}}" class="d-inline-block" tabindex="0" [attr.aria-label]="tooltip">
        <mat-icon role="img" class="mat-icon info-icon material-icons mat-icon-no-color mt-1" aria-hidden="true"
                  data-mat-icon-type="font">info</mat-icon></span>
    <div class="ms-2 fs-14">
        <ng-container *ngFor="let helpText of helpTextList; let isLast = last; let index = index">
            <div title="{{helpText}}" [attr.aria-label]="helpText" tabindex="0"
                class="d-flex align-items-center" *ngIf="index <= rowLimit-1 || isExpanded">
                <mat-icon class="fs-16 mt-1">keyboard_double_arrow_right</mat-icon>
                <span>{{helpText}}</span>
                <!-- for read more and less -->
                <ng-container *ngIf="helpTextList.length > rowLimit && isReadMoreLess">
                    <span *ngIf="index == rowLimit-1 && !isExpanded" type="button" class="fw-700 cursor-pointer"
                        (keydown.enter)="isExpanded = true;" (keydown.space)="isExpanded = true;" (click)="isExpanded = true">...<u
                        title="Expand {{tooltip}}" [attr.aria-label]="'Expand' + tooltip" role="button" class="fw-700" tabindex="0">Read More</u></span>
                    <span *ngIf="isLast && isExpanded" type="button" class="fw-700 cursor-pointer"
                        (keydown.enter)="isExpanded = false;" (keydown.space)="isExpanded = false;" (click)="isExpanded = false"><u 
                        title="Collapse {{tooltip}}" [attr.aria-label]="'Collapse' + tooltip" role="button" tabindex="0">Read Less</u></span>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>