<div tabindex="-1" class="card coi-card-regular mt-0 border-0" id="COI_DEFINE_RELATIONSHIP_NAV_CARD">
    <div class="card-header px-0 pb-0 border-bottom-0 position-sticky top-0 z-index-4" id="COI_DEFINE_RELATIONSHIP_NAV_HEADER">
        <div class="row w-100 mx-0 mt-1">
            <div *ngIf="IS_SFI_PROJECT_SWITCH" class="col-12">
                <div class="d-flex align-items-center position-relative coi-switch-container rounded-2 overflow-hidden coi-custom-shadow">
                    <button (click)="switchTab('SFI')"
                        title="Click here to switch relationship to SFI" aria-label="Click here to switch relationship to SFI"
                        class="btn-none d-flex align-items-center justify-content-center w-50 fs-12 coi-switch-inactive-btn"
                        [ngClass]="currentTab === 'SFI' ? 'coi-switch-active-btn' : 'coi-switch-inactive-btn'">
                        <mat-icon aria-hidden="true" class="coi-scale-8 flex-shrink-0">help</mat-icon>
                        <span class="ms-1">SFIs</span>
                    </button>
                    <button (click)="switchTab('PROJECT')"
                        title="Click here to switch relationship to SFI" aria-label="Click here to switch relationship to SFI"
                        class="btn-none d-flex align-items-center justify-content-center w-50 fs-12"
                        [ngClass]="currentTab === 'PROJECT' ? 'coi-switch-active-btn' : 'coi-switch-inactive-btn'">
                        <mat-icon aria-hidden="true" class="coi-scale-8 flex-shrink-0">help</mat-icon>
                        <span class="ms-1">Projects</span>
                    </button>
                </div>
            </div>
            <div *ngIf="IS_SFI_PROJECT_SWITCH" class="p-0 my-3 border-bottom"></div>
            <div class="col-12 d-flex align-items-center gap-2">
                <div class="d-flex align-items-center position-relative w-100">
                    <mat-icon aria-hidden="true" class="position-absolute start-6px light-color">search</mat-icon>
                    <input type="text" placeholder="Search: project details" autocomplete="off"
                        class="form-control p-x-2rem rounded-2" id="project_sfi_relation_search_text"
                        [(ngModel)]="searchText" (ngModelChange)="getFilteredListForSearchWord()">
                    <button *ngIf="searchText" class="btn-none d-flex align-items-center position-absolute end-8px coi-text-lighter" (click)="resetList()"
                        aria-label="Cleck here to clear search text" title="Cleck here to clear search text">
                        <mat-icon class="light-color" id="project_sfi_relation_search_text_clear_btn" aria-hidden="true">close</mat-icon>
                    </button>
                </div>
                <button title="Click here to filter" aria-label="Click here to filter"
                    class="btn-none d-flex align-items-center justify-content-center col-auto coi-text-dark fs-13 filterButtton px-3 h-100 rounded-2">
                    <span class="me-1 fw-500">Filter</span>
                    <mat-icon aria-hidden="true" class="light-color coi-scale-8 flex-shrink-0">tune</mat-icon>
                </button>
            </div>
            <div class="p-0 mt-3 border-bottom"></div>
        </div>
    </div>
    <div class="card-body rounded-0 border-none" id="COI_DEFINE_RELATIONSHIP_NAV_BODY" tabindex="-1">
        <ul class="m-0 py-0 pe-0 list-unstyled ps-3">
            <li *ngFor="let projectDetails of projects; let i = index">
                <!-- tabindex is set to -1 for navigation with up/down keys only -->
                <a class="row m-0 w-100 gap-4 pb-3 pt-2 border-bottom text-decoration-none cursor-pointer coi-scrollspy-right"
                    [class.scrollspy-activate]="activeCounter==i"
                    aria-label="Please Click right arrow key to view more details"
                    [id]="'COI_PROJECT_SFI_RELATION_NAV_' + i" tabindex="-1">
                    <div class="col-12 px-3 pt-2">
                        <!-- badge -->
                        <div class="d-flex align-items-center justify-content-between coi-card-body-notch-container">
                            <div class="d-flex align-items-center">
                                <div [style.background-color]="projectDetails?.projectBadgeColour"
                                    id="project-realtionship-value-heading-{{projectDetails?.projectId}}"
                                    class="coi-card-notch-ribbon rounded-start-0 mb-auto p-2">{{ projectDetails?.projectType }}</div>
                                <div class="d-flex align-items-end ms-2">
                                    <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0 coi-mat-icon-size">{{projectDetails?.projectIcon}}</mat-icon>
                                    <span class="coi-text-dark lh-1"
                                        [title]="'Click here to view details of #' + projectDetails?.projectNumber + ' -' + projectDetails?.title"
                                        [attr.aria-label]="'Click here to view details of #' + projectDetails?.projectNumber + ' -' + projectDetails?.title">
                                        <span class="text-slice">#{{projectDetails?.projectNumber}} - {{projectDetails?.title}}</span>
                                    </span>
                                </div>
                            </div>
                            <!-- defined or not icon -->
                             <span *ngIf="projectDetails?.conflictStatusCode" class="coi-circle-icons bg-success"><mat-icon aria-hidden="true" class="text-white flex-shrink-0 coi-scale-7">check</mat-icon></span>
                             <span *ngIf="!projectDetails?.conflictStatusCode" class="coi-circle-icons"><mat-icon aria-hidden="true" class="text-danger flex-shrink-0 fs-24 coi-scale-9">hide_source</mat-icon></span>
                        </div>
                    </div>
                    <!-- conflict counts -->
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <ng-container *ngFor="let status of conflictStatuses">
                            <div class="d-flex align-items-center fs-12 coi-text-light fw-600">
                                <span class="text-nowrap">{{ status.label }}</span>
                                <span class="me-2">:</span>
                                <span [ngClass]="status.color" class="conflict-count-width">{{ status.count }}</span>
                            </div>
                            <span *ngIf="status !== conflictStatuses[conflictStatuses.length - 1]" class="me-2 coi-text-lighter">|</span>
                        </ng-container>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>