<!-- ADD ATTACHMENT MODAL -->

<div class="modal fade mySkinDialog modal-xl" id="addAttachmentModal"
    role="dialog" tabindex="-1" aria-label="Add Attachments">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Attachment(s)
            <app-common-help-text *ngIf="attachmentHelpText" [helpTextHardCoded]="attachmentHelpText"></app-common-help-text>
          </h4>
          <button id="coi-add-attachment-close-btn" type="button" class="btn-close" title="Click here to close"  data-bs-dismiss="modal" aria-label="Click to close" (click)="clearAttachments()"></button>
        </div>
        <div class="modal-body">
            <div>
                <app-file-drop [multiple]="true" (filesDropEvent)="fileDrop($event)"></app-file-drop>
            </div>
            <div *ngIf="uploadedFiles.length > 0">
                <div class="gridSkin">
                    <div class="card shadow p-2" *ngFor="let item of uploadedFiles; let i=index">
                        <div class="row mb-2 mt-3">
                            <div class="col-lg-3 col-12">
                                <label for="coi-add-attachment-type{{i}}" class="d-block"><span class="text-danger me-1">*</span>Attachment Type</label>
                                <select id="coi-add-attachment-type{{i}}" class="form-select form-control cursor-pointer dateBox doc-type"
                                    [ngClass]=" attachmentErrorMsg && !selectedAttachmentTypeCodes[i] ? 'is-invalid d-block' : ''"
                                    [(ngModel)]="selectedAttachmentTypeCodes[i]"
                                    (ngModelChange)="clearValidation(index)">
                                    <option [ngValue]='undefined'>--Select--</option>
                                    <option [value]="attachType?.attaTypeCode"
                                        *ngFor="let attachType of attachmentTypes">
                                        {{attachType?.description}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-12">
                                <label for="coi-add-attachment-description{{i}}" class="d-block">Description </label>
                                <textarea id="coi-add-attachment-description{{i}}" rows="1" id="external-review-doc-popup-desc"
                                    [(ngModel)]="selectedAttachmentDescriptions[i]" placeholder=""
                                    class="form-control dateBox" appLengthValidator [isShowLimiter]='true'
                                    [limit]=500>
                                </textarea>
                            </div>
                            <div class="col-lg-4 col-12">
                                <label for="coi-attachment-filename{{i}}"><span class="text-danger me-1">*</span>File Name</label>
                                <span  id="coi-attachment-filename{{i}}" class="d-block fs-14">{{item?.name}}</span>
                            </div>
                            <div class="col-lg-1 col text-right">
                                <ul class="btn btn-primary-icon d-inline-flex fs-18 align-items-center justify-content-between mt-3 list-item">
                                    <li id="coi-attachment-delete{{i}}">
                                        <a id="dlt-btn" class="fa fa-trash-o hand-cursor"
                                            title="Click here to remove file" (click)="deleteFromUploadedFileList(i)"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="attachmentErrorMsg != null">
                <span class="mandatory font">{{attachmentErrorMsg}}</span>
            </div>
        </div>
        <div class="modal-footer" *ngIf="uploadedFiles.length > 0">
            <button class="btn btn-outline-secondary" id="coi-attachment-close-btn" data-bs-dismiss="modal"
                type="button" title="Click here to cancel" aria-label="Click here to cancel" (click)="clearAttachments()">Cancel</button>
            <button class="btn btn-primary me-0" id="coi-attachment-add-btn" title="Click here to add" aria-label="Click to Add"
                type="button"(click)="saveAttachments()">Add</button>
        </div>
      </div>
    </div>
  </div>
