<!-- ADD ATTACHMENT MODAL -->

<div class="modal fade mySkinDialog modal-xl" data-bs-backdrop="static" id="addAttachmentModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Attachment(s)</h4>
          <button type="button" class="btn-close" title="Close"  data-bs-dismiss="modal" aria-label="Close" (click)="clearAttachments()"></button>
        </div>
        <div class="modal-body">
            <div>
                <app-file-drop [multiple]="true" (filesDropEvent)="fileDrop($event)"></app-file-drop>
            </div>
            <div *ngIf="uploadedFiles.length > 0">
                <div class="gridSkin">
                    <div class="card shadow p-2" *ngFor="let item of uploadedFiles; let i=index">
                        <div class="row mb-2 mt-3">
                            <div class="col-lg-3 col-12">
                                <label class="d-block"><span class="mandatory">*</span>Attachment Type</label>
                                <select id="external-review-doc-popup-type" class="form-control dateBox doc-type"
                                    [ngClass]=" attachmentErrorMsg && !selectedAttachmentTypeCodes[i] ? 'is-invalid d-block' : ''"
                                    [(ngModel)]="selectedAttachmentTypeCodes[i]"
                                    (ngModelChange)="clearValidation(index)">
                                    <option [ngValue]='undefined'>--Select--</option>
                                    <option [value]="attachType?.attaTypeCode"
                                        *ngFor="let attachType of attachmentTypes">
                                        {{attachType?.description}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-12">
                                <label class="d-block">Description </label>
                                <textarea id="desc" rows="1" id="external-review-doc-popup-desc"
                                    [(ngModel)]="selectedAttachmentDescriptions[i]" placeholder=""
                                    class="form-control dateBox" appLengthValidator [isShowLimiter]='true'
                                    [limit]=2000>
                                </textarea>
                            </div>
                            <div class="col-lg-4 col-12">
                                <label><span class="mandatory">*</span>File</label>
                                <span class="d-block fs-14">{{item?.name}}</span>
                            </div>
                            <div class="col-lg-1 col text-right">
                                <ul class="actionButtonGroup mt-5">
                                    <li>
                                        <a id="external-review-doc-popup-dlt-btn" class="fa fa-trash-o hand-cursor"
                                            title="Remove File" (click)="deleteFromUploadedFileList(i)"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="attachmentErrorMsg != null">
                <span class="mandatory font">{{attachmentErrorMsg}}</span>
            </div>
        </div>
        <div class="modal-footer" *ngIf="uploadedFiles.length > 0">
          <button class="btn btn-outline-secondary" id="claim-sumbit-no-btn" data-bs-dismiss="modal"
           type="button" title="Cancel" (click)="clearAttachments()">Close</button>
          <button class="btn btn-primary me-0" id="claim-sumbit-no-btn" type="button"(click)="saveAttachments()">Add</button>
        </div>
      </div>
    </div>
  </div>