<div id="Award109">
    <div *ngIf="reportKeys?.length == 0" class="no-data-container">
        <span class="no-data-icon-outer">
            <div class="no-data-icon">
                <i aria-hidden="true" class="fa fa-file-o"></i>
                <i aria-hidden="true" class="fa fa-times-circle-o"></i>
            </div>
        </span>
        <h4>There is no information in this section.</h4>
    </div>
    <ng-container *ngIf="reportKeys?.length > 0">
        <ul class="subTabs mb-3">
            <li (click)="switchTabs(key)" *ngFor="let key of reportKeys" [class.active]="currentTab===key">
                <a class="subTabLink">
                    {{key}} ({{reportsData[key]?.length}})
                    <span *ngIf="helpText?.report?.reportClassCode && helpText?.report?.reportClassCode[reportsData[key][0].reportClassCode] &&
                            helpText?.report?.reportClassCode[reportsData[key][0].reportClassCode]?.isActive === 'Y'" class="d-inline-block icon-hover">
                        <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med hand-cursor position-relative top-1" aria-hidden="true"></i>
                            <div class="tooltiptext-left card card-inner p-15 text-left">
                                <span class="font-cv">{{helpText?.report?.reportClassCode[reportsData[key][0].reportClassCode]?.helpTextInfo}}</span>
                            </div>
                        </a>
                    </span>
                </a>
            </li>
        </ul>
        <div class="my-3">
            <div class="card card-content card-body">
                <div *ngFor="let reportCodeList of reportsData[currentTab]; let i = index; let last = last;"
                     id="individualList">
                    <div class="gridSkin">
                        <div class="row">
                            <div class="col">
                                <label class="block-display">Type
                                    <span *ngIf="helpText?.report?.reportCode && helpText?.report?.reportCode[reportCodeList.reportCode] &&
                                        helpText?.report?.reportCode[reportCodeList.reportCode]?.isActive === 'Y'" class="d-inline-block icon-hover">
                                        <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med hand-cursor" aria-hidden="true"></i>
                                            <div class="tooltiptext-left card card-inner p-15 text-left">
                                                <span class="font-cv">{{helpText?.report?.reportCode[reportCodeList.reportCode]?.helpTextInfo}}</span>
                                            </div>
                                        </a>
                                    </span>
                                </label>
                                <span *ngIf="reportCodeList?.reportName">{{reportCodeList?.reportName}}</span>
                                <span *ngIf="!reportCodeList?.reportName" class="noDataExists">
                                    <ng-container>No Type Specified</ng-container>
                                </span>
                            </div>
                            <div class="col">
                                <label class="block-display">Frequency</label>
                                <span
                                        *ngIf="reportCodeList?.frequencyCode">{{getFrequencyType(reportCodeList?.frequencyCode)}}</span>
                                <span *ngIf="!reportCodeList?.frequencyCode" class="noDataExists">
                                    <ng-container>No Frequency Specified</ng-container>
                                </span>
                            </div>
                            <div class="col">
                                <label class="block-display">Frequency Base</label>
                                <span
                                        *ngIf="reportCodeList?.frequencyBaseCode">{{getFrequencyBasis(reportCodeList?.frequencyBaseCode)}}</span>
                                <span *ngIf="!reportCodeList?.frequencyBaseCode" class="noDataExists">
                                    <ng-container>No Frequency Base Specified</ng-container>
                                </span>
                            </div>
                            <div class="col">
                                <label class="block-display">Base Date</label>
                                <span>{{reportCodeList?.baseDate | dateFormatter}}</span>
                                <span *ngIf="!reportCodeList?.baseDate" class="noDataExists">No Base Date Specified</span>
                            </div>
                            <div class="col-4">
                                <label class="block-display">Recipients</label>
                                <div *ngIf="reportCodeList.awardReportTermRecipient?.length > 0" class="fileChips"
                                     style="word-break: break-all;">
                                    <ng-container
                                            *ngFor="let recipient of reportCodeList.awardReportTermRecipient ;let i = index">
                                        <span>{{recipient.fullName}}
                                        </span>
                                    </ng-container>
                                </div>
                                <span *ngIf="!reportCodeList?.awardReportTermRecipient?.length" class="noDataExists">
                                    <ng-container>No Recipients Specified</ng-container>
                                </span>
                            </div>
                            <div class="align-items-center col-auto d-flex justify-content-end text-right no-hover-effect">
                                <span>
                                    <a (click)="toggleReportDetails(reportCodeList, i)" tabindex="0" class="cursor-pointer">
                                        <i [ngClass]="isDetailsOpen[i]?'fa fa-angle-double-down':'fa fa-angle-double-up'"
                                           aria-hidden="true" class="fa-large"
                                           [title]="(isDetailsOpen[i]?'Show':'Hide') + ' report details'"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <app-reporting-requirement-details *ngIf="!isDetailsOpen[i]" [awardData]="awardData"
                                                           [awardReport]="reportCodeList" [isEditMode]="false"
                                                           [isProgressReportEnabled]="isProgressReportEnabled"
                                                           [isReplaceAttachmentEnabled]="isReplaceAttachmentEnabled"
                                                           [isEditEnabledForSection]="isEditEnabledForSection"
                                                           [reportStatusList]="reportTermsLookup?.reportStatusList"
                                                           (refreshReport)="getReportsData()"
                                                           [rowData]="reportCodeList"></app-reporting-requirement-details>
                        <!--document version modal-->
                    </div>
                    <hr *ngIf="!last">
                </div>
            </div>
        </div>
    </ng-container>
</div>
