<div *ngIf="!isLoading" class="card rounded-0">
    <div class="mb-2">
        <app-entity-subaward-details [SubAwardOrganizationDetails]="entitySubAwardOrganization?.subAwdOrgDetailsResponseDTO"
            [sectionName]="orgDetailsSubSectionName"
            [sectionId]="orgDetailsSubSectionId"></app-entity-subaward-details>
    </div>
    <div class="mb-2">
        <app-entity-risk-section [sectionName]="riskSubSectionName"
            [sectionId]="riskSubSectionId" (riskUpdated)="riskUpdated($event)"
            [entityRiskList]="entitySubAwarRisksList" [riskCategoryCode]="'OR'">
        </app-entity-risk-section>
    </div>
    <div class="mb-2">
        <app-entity-attachment-section [sectionName]="attachmentSubSectionName"
            [sectionId]="attachmentSubSectionId"
            [entityAttachmentsList]="entitySubAwarAttachmentList" [riskCategoryCode]="'OR'">
        </app-entity-attachment-section>
    </div>
</div>