.review-card {
    z-index: 90;
}

.review-card .review-header {
    min-height: 43px;
    background-color: #EBECF0;
}

.more-btn {
    background-color: #eaebef;
}

.more-btn:hover {
    color: black !important;
    border: 1px solid #b6b6b6;
}

.sticky-top-nav {
    padding: 0 !important;
    top: 45px !important;
    background-color: inherit !important;
}

.bold-blue-number {
    color: #2c77f4;
    font-weight: bold;
    font-size: 1.8rem;
}

.card-border {
    border: #1e847b4f 1px solid !important;
    border-radius: 8px;
    background: #eaebef;
}

.add-activity-button {
    min-width: 3rem !important;
}

.activity-icon {
    width: 17px;
}

.badge-warning {
    color: black;
}

.badge {
    font-size: 1.28rem;
}

/* .coi-navigation-tabs ul li.active {
    background-color: #1e847b;
    border-bottom: 3px solid #1e847b;
    color: #ffffff;
} */

/* .fa-caret-down {
    color: #1e847b;
} */

.label-text {
    font-size: 1.4rem;
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
}

.status-text {
    font-size: 1.52rem;
    color: #505050;
}

.coi-navigation-tabs ul li.divider {
    border-left: 1px solid rgba(100,121,143,50%);
    padding: 0 !important;
}

/* .coi-navigation-tabs {
    border-top: 3px solid #efeff5 !important;
} */

.info-icon {
    position: relative !important;
    left: 5px;
    top: 1px;
    font-size: 15px !important;
}

/* .coi-navigation-tabs ul li {
    font-size: 1.6rem;
    color: #000000;
    position: relative;
    font-weight: 600;
    padding: 10px 7px!important;
} */

.project-text {
    font-size: 1.52rem;
}

.font-last-update {
    font-size: 14px;
}

.sfi-card-height {
    height: 48px;
}

.border-top-steps {
    border-top: 1rem #f1f2f7 solid;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}

span.round-tab i {
    color: #555555;
}

span.round-tab.active {
    background: #1e847b;
    color: #fff;
    border-color: #1e847b;
}

.step-container {
    position: relative;
    top: 1.4rem;
}

.steps {
    display: flex;
    justify-content: space-between;
    position: inherit;
    top: -2.6rem;
}

.connecting-line {
    border: 1px solid #dee2e6!important;
    background: #dee2e6 !important;
}
