<div class="container-fluid">
  <div *ngIf="entityDetailsServices.isExpanded" class="card border ps-4 shadow-sm">
    <div class="relationship fw-bold col-1 shadow-sm">Relationships</div>
    <div class="row">
      <div class="col-12 d-flex">
        <div class="col-3">
          <div class="row">
            <label class="fs-14 fw-500">Sponsors Research</label>
            <label class="text-color fs-14">{{relationshipsDetails?.sponsorsResearch?'Yes':'No'}}</label>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <label class="fs-14 fw-500">Start Date Of Involvement</label>
            <label *ngIf="relationshipsDetails?.involvementStartDate;else noData" class="text-color fs-14">{{relationshipsDetails?.involvementStartDate |
              dateFormatterWithTimeZone}}</label>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <label class="fs-14 fw-500">Relationship Type</label>
            <label *ngIf="personEntityRelationships.length>0;else noData" class="text-color  fs-14">{{'Financial'}}</label>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <label class="fs-14 fw-500">Relationship With</label>
            <div class="col" *ngIf="personEntityRelationships.length>0;else noData">
            <ng-container  *ngFor="let data of personEntityRelationships;let last = last" class="col">
            <span class="r-title text-color fs-14" *ngIf="!last">{{data?.validPersonEntityRelType?.personEntityRelType?.description +'/'}}
            </span>
            <span class="r-title text-color fs-14" *ngIf="last">{{data?.validPersonEntityRelType?.personEntityRelType?.description}}
            </span>
            </ng-container>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="col-12 mt-3">
        <div class="row">
          <label class="fs-14 fw-500">Relationship With Entity</label>
          <label *ngIf="relationshipsDetails?.staffInvolvement;else noData" class="text-color fs-14">{{relationshipsDetails?.staffInvolvement}}</label>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="row">
          <label class="fs-14 fw-500">Principal Business Area Of Entity</label>
          <label *ngIf="relationshipsDetails?.studentInvolvement;else noData" class="text-color fs-14">{{relationshipsDetails?.studentInvolvement}}
            <!-- <a href="">Read More</a> -->
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex  mt-3 mb-15">
          <div class="col-11 mt-3">
            <div class="row">
              <label class="fs-14 fw-500">Relationship Of Entity To Your University Responsibilities</label>
              <label *ngIf="relationshipsDetails?.instituteResourceInvolvement;else noData" class="text-color fs-14">{{relationshipsDetails?.instituteResourceInvolvement}}</label>
            </div>
          </div>
          <div class="col-1 d-flex justify-content-end mt-3 px-3">
            <div *ngIf="entityDetailsServices.isExpanded"
              class="toggle-header-btn mt-3  bg-white border btn  p-1 rounded-5 shadow-sm">
              <mat-icon
                (click)="entityDetailsServices.isExpanded=!entityDetailsServices.isExpanded">expand_less</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <ng-template #noData>
    <label class="text-no-data fs-14">
      -- No Data --
    </label>
  </ng-template>
