<!-- SFI header card -->
<div class="row" [ngClass]="!isTriggeredFromSlider ? 'sticky-top-50' : 'sticky-0'">
    <div class="col-12" [class.bg-white]="isTriggeredFromSlider">
        <div class="card shadow-sm overflow-hidden">
            <div class="row mx-0">
                <div class="col-lg px-0">
                    <div class="card-header bg-white px-3 border-bottom">
                        <div class="row flex-grow-1 position-relative">
                            <div class="d-flex align-items-center" [ngClass]="entityDetails?.entityName?.length > 20 ? 'col-12 col-lg' : 'col'">
                                <div class="fw-bold d-flex align-items-center" tabindex="-1">
                                    <span *ngIf="canViewEntity" [tabindex]="showViewButton() ? '0' : '-1'" [ngClass]="{'d-flex link-primary cursor-pointer': showViewButton()}" (click)="viewEntityDetails()"
                                        (keyup.enter)="viewEntityDetails()" (keyup.space)="viewEntityDetails()">
                                        <span class="text-slice">{{ entityDetails?.entityName }}</span>
                                    </span>
                                    <span *ngIf="!canViewEntity" class="d-flex">
                                        <span class="text-slice">{{ entityDetails?.entityName }}</span>
                                    </span>
                                    <span class="badge rounded-pill text-bg-secondary ms-2"
                                        *ngIf="relationshipsDetails?.versionStatus == 'ARCHIVE'">Archive</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end align-items-center col-auto ms-auto">
                                <span class="badge rounded-5 f-14 ms-auto px-3 py-2 rounded-5"
                                    [ngClass]="relationshipsDetails?.versionStatus == 'ACTIVE' || relationshipsDetails?.versionStatus == 'ARCHIVE' ?  relationshipsDetails?.isFormCompleted ? 'text-bg-success' : 'text-bg-warning' : 'text-bg-secondary'">
                                    {{relationshipsDetails?.versionStatus == 'ACTIVE' ||
                                    relationshipsDetails?.versionStatus == 'ARCHIVE'?
                                    relationshipsDetails?.isFormCompleted ? 'Complete' : 'Incomplete' :
                                    'Inactive'}}</span>
                                <div class="ms-3 d-flex align-items-center me-3">
                                    <label class="fs-14 fw-500 me-3" for="risk-level">SFI Version :
                                    </label>
                                    <div *ngIf="entityVersionList.length > 0">
                                        <select class="form-control form-select me-2"
                                            [ngModel]="selectedVersionEntityId" (change)="versionChange($event)">
                                            <option [value]="version.personEntityId"
                                                *ngFor="let version of entityVersionList">
                                                {{'V' +version.versionNumber}}</option>
                                        </select>
                                    </div>
                                </div>
                                <button (click)="collapseHeader()" id="coi-view-relationship-details-expandmore-btn" title="Click here to collapse / expand" aria-label="Click here to collapse / expand"
                                    class="toggle-btn align-items-center border btn d-flex justify-content-center p-0 rounded-5 shadow-sm">
                                    <mat-icon [ngClass]="isCardExpanded ? 'rotate-180' : 'rotate-0'" aria-hidden="true">expand_more</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="coi-view-relation-details-card-body" *ngIf="isCardExpanded" [@heightAnimation]>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-md-3 mb-lg-0 mb-3" tabindex="-1">
                                <label for="coi-view-relationship-details-card-value-countyr" aria-label="Country" class="d-block coi-text-dark">Country</label>
                                <app-no-data-label [classesToApply]="'fs-14'"
                                    [valueToShow]="entityDetails?.country?.countryName">
                                    <span class="text-color fs-14"
                                        aria-label="entityDetails?.country?.countryName" id="coi-view-relationship-details-card-value-country">{{entityDetails?.country?.countryName}}</span>
                                </app-no-data-label>
                            </div>
                            <div tabindex="-1" class="col-lg-4 col-md-6 mb-md-3 mb-lg-0 mb-3">
                                <label for="coi-view-relationship-details-card-value-city" class="d-block coi-text-dark ">City</label>
                                <app-no-data-label [classesToApply]="'fs-14'" [valueToShow]="entityDetails?.city">
                                    <span class="text-color fs-14" id="coi-view-relationship-details-card-value-city">{{entityDetails?.city}}</span>
                                </app-no-data-label>
                            </div>
                            <div tabindex="-1" class="col-lg-4 col-md-6">
                                <label for="coi-view-relationship-details-card-value-phone" class="d-block coi-text-dark">Phone</label>
                                <app-no-data-label [classesToApply]="'fs-14'" [valueToShow]="entityDetails?.phoneNumber">
                                    <span class="text-color fs-14" id="coi-view-relationship-details-card-value-phone">{{entityDetails?.phoneNumber}}</span>
                                </app-no-data-label>
                            </div>
                            <div tabindex="-1" class="col-lg-12 mt-3">
                                <label class="coi-text-dark me-2">Relationship </label>
                            <span>
                                <app-no-data-label [valueToShow]="entityDetailsServices.definedRelationships">
                                    <span class="pill-container">
                                        <ng-container
                                            *ngFor="let coiFinancialEntityDetail of entityDetailsServices.definedRelationships;let isLast = last">
                                            <span class="relationship-pill border px-2 py-1 rounded-4 me-2 fs-14 d-inline-block mb-2">
                                                <span class="d-flex align-items-center coi-purple-text">
                                                    <mat-icon aria-hidden="true"
                                                    class="flex-shrink-0 me-1">{{getIcon(coiFinancialEntityDetail?.validPersonEntityRelType?.disclosureTypeCode)}}</mat-icon>
                                                    <span class="fw-bold">{{coiFinancialEntityDetail?.validPersonEntityRelType?.coiDisclosureType?.description}}:</span>
                                                    <span class="ms-1">{{coiFinancialEntityDetail?.validPersonEntityRelType?.personEntityRelType?.description}}</span>
                                                    <span id="qnr-complete-msg"
                                                        *ngIf="entityDetailsServices.relationshipCompletedObject[coiFinancialEntityDetail?.validPersonEntityRelType?.validPersonEntityRelTypeCode]"
                                                        class="fa fa-check" title="Completed">
                                                    </span>
                                                    <span id="qnr-incomplete-msg"
                                                        *ngIf="!entityDetailsServices.relationshipCompletedObject[coiFinancialEntityDetail?.validPersonEntityRelType?.validPersonEntityRelTypeCode]"
                                                        class="fa fa-exclamation-circle" title="Incomplete">
                                                    </span>
                                                </span>
                                            </span>
                                        </ng-container>
                                    </span>
                                </app-no-data-label>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SFI Actions buttons -->
                <div *ngIf="!isTriggeredFromSlider" [ngClass]="isEditMode?'':'side-action-bar'"
                    [class.custom-margin]="relationshipDetails?.isFormCompleted"
                    class="col-lg-3 border-left border-start">
                    <div class="h-100">
                        <div class="d-grid gap-2 flex-md-wrap mt-2 mb-2" [class.d-md-flex]="canShowMoreActions()">
                            <ng-container *ngIf="canShowMoreActions() ;else noMangeRights"
                                [class.px-1]="relationshipsDetails?.versionStatus !== 'ACTIVE'  && isEditMode">
                                <button title="Go to COI home page" aria-label="Click to go Go to COI home page" id="coi-view-relationship-details-home-btn"
                                    *ngIf="relationshipsDetails?.versionStatus =='ACTIVE' && !isEditMode;else noRightDesign2"
                                    class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                                    type="button" (click)="goToHome()">
                                    <mat-icon role="img" aria-hidden="true" data-mat-icon-type="font"
                                        class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
                                        title="Go to COI home page">home</mat-icon>
                                </button>
                                <ng-template #noRightDesign2>
                                    <button
                                        class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                                        type="button" title="Go to COI home page" aria-label="Click to go Go to COI home page" (click)="goToHome()" id="coi-view-relationship-details-home-btn2">
                                        <mat-icon role="img"
                                            class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
                                            aria-hidden="true" data-mat-icon-type="font">home</mat-icon>
                                    </button>
                                </ng-template>
                                <button
                                    *ngIf="relationshipsDetails?.versionStatus === 'ACTIVE' && !isEditMode;else noRightDesign3" id="coi-view-relationship-details-back-btn"
                                    class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                                    type="button" (click)="navigateBack()"
                                    title="Click to go back to Entity list" aria-label="Click to go back to Entity list">
                                    <i class="fa fa-reply justify-content-center align-items-center fs-14"></i>
                                    <span class="fs-14 mx-2 btn-content-back" *ngIf="isCardExpanded">Back</span>
                                </button>
                                <ng-template #noRightDesign3>
                                    <button (click)="navigateBack()"
                                        title="Click to go back to Entity list" aria-label="Click to go back to Entity list" id="coi-view-relationship-details-back-btn2"
                                        class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                                        type="button">
                                        <i class="fa fa-reply justify-content-center align-items-center fs-14"></i>
                                        <span class="fs-14 mx-2 btn-content-back" *ngIf="isCardExpanded">Back</span>
                                    </button>
                                </ng-template>
                                <button *ngIf="canShowMoreActions()" [matMenuTriggerFor]="beforeMenu" id="coi-view-relationship-details-more-vert-btn"
                                    class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                                    type="button" title="Click for More Actions" aria-label="Click for More Actions">
                                    <mat-icon aria-hidden="true" class="moreActionIcon">more_vert</mat-icon>
                                </button>
                                <button (click)="saveRelationship()"  *ngIf="isEditMode && entityDetailsServices.canMangeSfi" id="coi-view-relationship-details-save-btn"
                                    class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center"
                                    title="Click to save" aria-label="Click to save" [ngClass]="isCardExpanded ? 'col-12 mt-2' : 'col'">
                                    <mat-icon aria-hidden="true">save</mat-icon>
                                    <span *ngIf="isCardExpanded" class="ms-2">Save</span>
                                </button>
                        </ng-container>
                            <ng-template #noMangeRights>
                                <div class="d-flex justify-content-around px-1">
                                    <button
                                        class="btn btn-outline-grey me-2 d-inline-flex align-items-center justify-content-center col" id="coi-view-relationship-details-home-btn"
                                        title="Go to COI home page" (click)="goToHome()">
                                        <mat-icon aria-hidden="true">home</mat-icon>
                                    </button>
                                    <button
                                        class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col" id="coi-view-relationship-details-back-btn"
                                        (click)="navigateBack()"  title="Click here to go back to Entity list" aria-label="Click here to go back to Entity list">
                                        <i class="fa fa-reply justify-content-center align-items-center fs-14"></i>
                                        <span class="fs-14 mx-2 btn-content-back" *ngIf="isCardExpanded">Back</span>
                                    </button>
                                    <button *ngIf="canShowMoreActions()" [matMenuTriggerFor]="beforeMenu" id="coi-view-relationship-details-morevert-btn2"
                                        class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col"
                                        role="button" title="Click for More Actions">
                                        <mat-icon aria-hidden="true" class="moreActionIcon">more_vert</mat-icon>
                                    </button>
                                </div>
                            </ng-template>
                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                <button mat-menu-item id="btn-sfi-modify"
                                    *ngIf="relationshipsDetails?.versionStatus == 'ACTIVE' && !isEditMode && entityDetailsServices.canMangeSfi"
                                    class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action"
                                    title="Click to Modify SFI" (click)="modifySfi()">
                                    <mat-icon aria-hidden="true">mode</mat-icon>
                                    <span class="btn-sfi-position fs-14 fw-medium">Modify SFI</span>
                                </button>
                                <ng-container
                                    *ngIf="entityDetailsServices.canMangeSfi && relationshipsDetails?.versionStatus === 'ACTIVE'"
                                    class="d-flex justify-content-around mt-3 mx-3">
                                    <button mat-menu-item id="btn-inactivate"
                                        class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action"
                                        title="Click to Inactivate Sfi'" (click)="activateInactivateSfi()">
                                        <mat-icon class="=icon-schedule-position">schedule</mat-icon>
                                        <span class="btn-inactivate-content fs-14 fw-medium ms-2">
                                            Inactivate
                                        </span>
                                    </button>
                                </ng-container>
                                <ng-container
                                    *ngIf="entityDetailsServices.canMangeSfi && relationshipsDetails?.versionStatus == 'INACTIVE'"
                                    class="d-flex justify-content-around mt-3 mx-3" tabindex="0">
                                    <button mat-menu-item id="btn-activate"
                                        class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action"
                                        title="Click to activate Sfi" (click)="activateInactivateSfi()">
                                        <mat-icon aria-hidden="true">flash_on</mat-icon>
                                        <span
                                            [ngClass]="isEditMode ?'btn-activate-edit-content':'btn-activate-content fs-14 fw-medium'">
                                            Activate
                                        </span>
                                    </button>
                                </ng-container>
                            </mat-menu>
                        </div>
                        <ng-container *ngIf="isCardExpanded">
                            <label class="fw-medium me-1 coi-text-lighter fs-13">Last Updated By : </label>
                            <app-no-data-label [classesToApply]="'fs-14'"
                                [valueToShow]="relationshipsDetails?.updateTimestamp">
                                <span class="coi-text-dark fs-13 fw-normal"> {{relationshipsDetails?.updateUserFullName}} <span class="coi-text-lighter fs-13 fw-medium"> On </span>
                                    {{(relationshipsDetails?.updateTimestamp|dateFormatterWithTimeZone:'long')}} </span>
                            </app-no-data-label>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
<!-- SFI main navigation tabs -->
  <ul class="nav nav-underline border-bottom">
    <li tabindex="0" (click)="openRelationShipSection()" (keyup.space)="openRelationShipSection()" (keyup.enter)="openRelationShipSection()">
            <a class="nav-link px-3 py-3 border-end" title="Click here to view SFI Details" [class.active]="entityDetailsServices.activeTab === 'RELATION_DETAILS'"
             id="coi-view-relationship-details-sfi-details"
                [attr.aria-label]="entityDetailsServices.activeTab === 'RELATION_DETAILS' ? 'Selected tab is SFI details' : 'Click to view SFI Details'">
                SFI Details
            </a>
    </li>
    <li tabindex="0"  (click)="openRelationshipQuestionnaire(entityDetailsServices.definedRelationships[0])" (keyup.enter)="openRelationshipQuestionnaire(entityDetailsServices.definedRelationships[0])"
    (keyup.space)="openRelationshipQuestionnaire(entityDetailsServices.definedRelationships[0])">
            <a  class="nav-link px-3 py-3 border-end" title="Click here to view Relationship Details" [class.active]="entityDetailsServices.activeTab === 'QUESTIONNAIRE'"
            id="coi-view-relationship-details-relationship-details"
                [attr.aria-label]="entityDetailsServices.activeTab === 'QUESTIONNAIRE' ? 'Selected tab is Relationship details' : 'Click to view Relationship Details'">
                Relationship Details
            </a>
    </li>
    <li tabindex="0"  (click)="openHistorySection();" (keyup.enter)="openHistorySection();" (keyup.space)="openHistorySection();">
            <a class="nav-link px-3 py-3" title="Click here to view History"   [class.active]="entityDetailsServices.activeTab === 'HISTORY'"
                [attr.aria-label]="entityDetailsServices.activeTab === 'HISTORY' ? 'Selected tab is SFI History' : 'Click to view SFI History'" id="coi-view-relationship-details-history">
                History
            </a>
    </li>
</ul>
<!-- <nav class="bg-white d-flex fw-bold w-auto  user-dashboard-nav card-nav border-bottom">
    <div class="align-items-center d-flex justify-content-between nav-options cursor-pointer"
         [class.relation-active]="entityDetailsServices.activeTab === 'RELATION_DETAILS'"
        (click)="openRelationShipSection()" tabindex="0">
        <div class="text-secondary w-100 mx-0 nav-options-bottom">
            <span title="Click to view SFI Details" class="fw-500"
                [attr.aria-label]="entityDetailsServices.activeTab === 'RELATION_DETAILS' ? 'Selected tab is SFI details' : 'Click to view SFI Details'">
                SFI Details
            </span>
        </div>
    </div>
    <div class="align-items-center d-flex justify-content-between nav-options cursor-pointer"
         [class.relation-active]="entityDetailsServices.activeTab === 'QUESTIONNAIRE'"
        (click)="openRelationshipQuestionnaire(entityDetailsServices.definedRelationships[0])" tabindex="0">
        <div class="text-secondary w-100 mx-0 nav-options-bottom">
            <span title="Click to view SFI Details" class="fw-500"
                [attr.aria-label]="entityDetailsServices.activeTab === 'QUESTIONNAIRE' ? 'Selected tab is SFI details' : 'Click to view SFI Details'">
                Relationship Details
            </span>
        </div>
    </div>
    <div class="align-items-center d-flex justify-content-between nav-options cursor-pointer"
        [class.relation-active]="entityDetailsServices.activeTab === 'HISTORY'" tabindex="0"
        (click)="openHistorySection();">
        <div class="text-secondary w-100 mx-0 nav-options-bottom">
            <span title="Click to view History" class="fw-500"
                [attr.aria-label]="entityDetailsServices.activeTab === 'HISTORY' ? 'Selected tab is SFI History' : 'Click to view SFI History'">
                History
            </span>
        </div>
    </div>
</nav> -->

<!-- Relationship questionnaire tabs and relationship button-->
<div class="d-flex border-bottom sub-nav-outer"
     *ngIf="entityDetailsServices.activeTab === 'QUESTIONNAIRE' && entityDetailsServices.definedRelationships.length">
    <nav class="d-flex fs-15 fw-bold user-dashboard-nav text-nowrap overflow-auto flex-grow-1"
        [ngClass]="isEditMode && entityDetailsServices.canMangeSfi && entityDetailsServices.availableRelationships?.length ? 'nav-width' : 'w-100'">
        <ng-container
            *ngFor="let coiFinancialEntityDetail of entityDetailsServices.definedRelationships;let isLast = last">
            <div class="align-items-center d-flex justify-content-between nav-options border-end" role="button"
                [ngClass]="entityDetailsServices.activeTab === 'QUESTIONNAIRE' && entityDetailsServices.activeRelationship === coiFinancialEntityDetail?.validPersonEntityRelType?.validPersonEntityRelTypeCode?'navigation-icons relation-active fw-500':''">
                <div (click)="openRelationshipQuestionnaire(coiFinancialEntityDetail);"
                    class="text-secondary w-100 mx-0 nav-options-bottom">
                    <span
                        title="Click to view {{coiFinancialEntityDetail?.validPersonEntityRelType?.description}} Questionnaire"
                        class="relation-border-left r-title px-3 py-3">
                        <span class="fs-14 d-flex align-items-center" tabindex="-1">
                            <mat-icon aria-hidden="true"
                            class="flex-shrink-0 me-1">{{getIcon(coiFinancialEntityDetail?.validPersonEntityRelType?.disclosureTypeCode)}}</mat-icon>
                            {{coiFinancialEntityDetail?.validPersonEntityRelType?.description}}
                            <span id="qnr-complete-msg"
                                *ngIf="entityDetailsServices.relationshipCompletedObject[coiFinancialEntityDetail?.validPersonEntityRelType?.validPersonEntityRelTypeCode]"
                                class="fa fa-check me-2" title="Completed">
                            </span>
                            <span id="qnr-incomplete-msg"
                                *ngIf="!entityDetailsServices.relationshipCompletedObject[coiFinancialEntityDetail?.validPersonEntityRelType?.validPersonEntityRelTypeCode]"
                                class="fa fa-exclamation-circle me-2" title="Incomplete">
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </ng-container>
    </nav>
    <nav class="d-flex fs-15 fw-bold w-auto border-start user-dashboard-nav w-100 text-nowrap"
        *ngIf="isEditMode && entityDetailsServices.canMangeSfi && entityDetailsServices.remainingRelationships.length">
        <div class="pt-3 px-3 btn-color" role="button" tabindex="0" id="coi-view-relationship-details-add-relationnship-btn"
            (click)="saveOrAddRelationshipModal()">
            <span class="d-flex align-items-center">
                <mat-icon aria-hidden="true" class="material-icons-outlined mr-2">add_circle_outline</mat-icon>
                <span>Add Relationship</span>
            </span>
        </div>
    </nav>
</div>

<!-- Relationship questionnaire section if Relationship Details tab is clicked -->
<div *ngIf="entityDetailsServices.activeTab === 'QUESTIONNAIRE'" class="m-0">

    <!-- Questionnaire Section -->
    <div *ngIf="entityDetailsServices.definedRelationships?.length" class="row p-3 m-0">
        <div class="col-12 custom-quest-relationship p-0">
           <app-entity-questionnaire *ngIf="isRelationshipDetailsFetched()" [entityId]="entityId"
                [relationshipDetails]="relationshipsDetails" id="focusQuestionnaire" [isEditMode]="isEditMode"
                (positionsToView)="scrollPosition($event)">
            </app-entity-questionnaire>
            <app-no-information *ngIf="!entityDetailsServices.definedRelationships.length"></app-no-information>
        </div>
    </div>

    <!-- Add Relationship Button when no relation is added -->
    <ng-container *ngIf="this.entityDetailsServices.definedRelationships?.length == 0 && canAddRelationship()">
            <div class="border pi-info-text p-3 mx-4 mt-4 rounded-1">
                <p class="fs-14 m-0">
                    <span title="Expand Policy Text" aria-describedby="Expand Policy Text">
                        You currently do not have any relationship associated. Click on the
                        <strong>Add Relationship</strong>
                        button for adding relationship.
                    </span>
                </p>
            </div>
            <span class="create-button">
                <button class="btn btn-primary btn-sm d-flex align-items-center mt-4 fs-15 mb-3 hand-cursor"
                    (click)="saveOrAddRelationshipModal()" title="Add Relationship" id="coi-view-relationship-details-add-relationnship-btn2">
                    <mat-icon aria-hidden="true" class="material-icons-outlined mr-2">add</mat-icon>
                    <span class="mr-2 fs-15">Add Relationship</span>
                </button>
            </span>
    </ng-container>

    <!-- No data section when no relation and there is no right to add relation -->
    <div class="mx-4" *ngIf="this.entityDetailsServices.definedRelationships?.length == 0 && !canAddRelationship()">
        <app-no-information [isBorderNeeded]="true">
            <span>No relationship added.
                <span *ngIf="relationshipsDetails?.versionStatus === 'INACTIVE' && !isTriggeredFromSlider">Activate SFI
                    to add relationship</span>
            </span></app-no-information>
    </div>
</div>

<!-- SFI Details section if SFI Details tab is clicked -->
<div *ngIf="entityDetailsServices.activeTab === 'RELATION_DETAILS'" [class.p-3] = "!isEditMode">
        <div *ngIf="!isEditMode" class="card p-3">
            <div class="row mb-2">
                <div class="col-3" tabindex="-1">
                    <label class="d-block coi-text-dark">Sponsors Research</label>
                    <span class="coi-text-light" id="coi-view-relationship-details-sfi-detail-sponsor-research">{{relationshipsDetails?.sponsorsResearch?'Yes':'No'}}</span>
                </div>
                <div class="col-3" tabindex="-1">
                    <label class="d-block coi-text-dark" aria-label="Start Date Of Involvement">Start
                        Date Of Involvement</label>
                    <app-no-data-label [classesToApply]="'fs-14'" [valueToShow]="relationshipsDetails?.involvementStartDate">
                        <span class="coi-text-light"
                            aria-label="relationshipsDetails?.involvementStartDate | dateFormatter" id="coi-view-relationship-details-sfi-detail-dateof-involvement">
                            {{relationshipsDetails?.involvementStartDate | dateFormatter}}</span>
                    </app-no-data-label>
                </div>
                <div class="col-3" tabindex="-1">
                    <label class="d-block coi-text-dark">End Date Of Involvement</label>
                    <app-no-data-label [classesToApply]="'fs-14'" [valueToShow]="relationshipsDetails?.involvementEndDate">
                        <span  aria-label="relationshipsDetails?.involvementEndDate | dateFormatter"
                        class="coi-text-light" id="coi-view-relationship-details-sfi-detail-enddate-involvement">{{relationshipsDetails?.involvementEndDate |
                            dateFormatter}}</span>
                    </app-no-data-label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12" tabindex="-1">
                    <label class="d-block coi-text-dark">Relationship With Entity</label>
                    <app-no-data-label [classesToApply]="'fs-14'"
                        [valueToShow]="relationshipsDetails?.staffInvolvement">
                        <span *ngIf="!isReadMoreRelationWith;else more1"
                            class="coi-text-light" id="coi-view-relationship-details-sfi-detail-rltn-entity">{{(relationshipsDetails?.staffInvolvement?.length>145)?(relationshipsDetails?.staffInvolvement|slice:0:142)
                            :relationshipsDetails?.staffInvolvement}}
                            <span *ngIf="relationshipsDetails?.staffInvolvement?.length>145" class="link-primary">...<span
                                    class="fw-medium" tabindex="0" role="link" aria-label="Click here to Read more" title="Click here to Read more" id="link-read-more-relationship"
                                    (click)="isReadMoreRelationWith =!isReadMoreRelationWith" (keyup.enter)="isReadMoreRelationWith =!isReadMoreRelationWith"
                                    (keyup.space)="isReadMoreRelationWith =!isReadMoreRelationWith">Read more</span></span>
                        </span>
                        <ng-template #more1>
                            <span class="coi-text-light text-break fs-14">{{ relationshipsDetails?.staffInvolvement}}
                            </span><span (click)="isReadMoreRelationWith =!isReadMoreRelationWith" (keyup.enter)="isReadMoreRelationWith =!isReadMoreRelationWith" (keyup.space)="isReadMoreRelationWith =!isReadMoreRelationWith"
                            tabindex="0" role="link" aria-label="Click here to read less" title="Click here to Read less" id="link-read-less-relationship"
                                class="fw-medium link-primary fs-14">Read Less</span>
                        </ng-template>
                    </app-no-data-label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12" tabindex="-1">
                    <label class="d-block coi-text-dark">Principal Business Area Of Entity</label>
                    <app-no-data-label [classesToApply]="'fs-14'"
                        [valueToShow]="relationshipsDetails?.studentInvolvement">
                        <span *ngIf="!isReadMoreBusinessArea;else more2" class="coi-text-light" id="coi-view-relationship-details-principal-bussiness-area">
                            {{(relationshipsDetails?.studentInvolvement?.length>145)?(relationshipsDetails?.studentInvolvement|slice:0:142)
                            :relationshipsDetails?.studentInvolvement}}
                            <span *ngIf="relationshipsDetails?.studentInvolvement?.length>145" class="link-primary">...<span
                                    class="fw-medium" tabindex="0" role="link" aria-label="Click here to read more" title="Click here to Read more" id="link-read-more-PBA"
                                    (click)="isReadMoreBusinessArea = !isReadMoreBusinessArea" (keyup.enter)="isReadMoreBusinessArea = !isReadMoreBusinessArea"
                                    (keyup.space)="isReadMoreBusinessArea = !isReadMoreBusinessArea">Read more</span></span>
                        </span>
                        <ng-template #more2>
                            <span class="coi-text-light text-break fs-14">{{relationshipsDetails?.studentInvolvement}}
                            </span><span (click)="isReadMoreBusinessArea = !isReadMoreBusinessArea" (keydown.enter)="isReadMoreBusinessArea = !isReadMoreBusinessArea" (keydown.space)="isReadMoreBusinessArea = !isReadMoreBusinessArea"
                                class="link-primary fw-medium fs-14"  tabindex="0" role="link" aria-label="Click here to read less" title="Click here to Read less" id="link-read-less-PBA">Read Less</span>
                        </ng-template>
                    </app-no-data-label>
                </div>
            </div>
            <div class="row">
                <div class="col-12" tabindex="-1">
                    <label class="d-block coi-text-dark">Relationship Of Entity To Your University
                        Responsibilities</label>
                    <app-no-data-label [classesToApply]="'fs-14'"
                        [valueToShow]="relationshipsDetails?.instituteResourceInvolvement">
                        <span *ngIf="!isReadMoreUniversity;else more3"
                            class="coi-text-light" id="coi-view-relationship-details-rltn-entity-to-university">{{(relationshipsDetails?.instituteResourceInvolvement?.length>145)?(relationshipsDetails?.instituteResourceInvolvement|slice:0:142)
                            :relationshipsDetails?.instituteResourceInvolvement}}
                            <span *ngIf="relationshipsDetails?.instituteResourceInvolvement?.length>145" class="link-primary">...<span
                                    class="fw-medium" tabindex="0" role="link" aria-label="Click here to read more" title="Click here to Read more" id="link-read-more-REYU"
                                    (click)="isReadMoreUniversity =!isReadMoreUniversity" (keydown.enter)="isReadMoreUniversity =!isReadMoreUniversity"
                                    (keyup.enter)="isReadMoreUniversity =!isReadMoreUniversity" (keyup.space)="isReadMoreUniversity =!isReadMoreUniversity">Read
                                    more</span></span>
                        </span>
                        <ng-template #more3>
                            <span class="coi-text-light text-break">{{
                                relationshipsDetails?.instituteResourceInvolvement}}
                            </span><span (click)="isReadMoreUniversity =!isReadMoreUniversity" (keyup.enter)="isReadMoreUniversity =!isReadMoreUniversity" (keyup.space)="isReadMoreUniversity =!isReadMoreUniversity"
                            tabindex="0" role="link" aria-label="Click here to read less" title="Click here to Read less" id="link-read-less-REYU"
                                class="link-primary fw-medium fs-14">Read Less</span>
                        </ng-template>
                    </app-no-data-label>
                </div>
            </div>
        </div>
        <div *ngIf="isEditMode" class="mb-3" tabindex="-1">
            <div class="card-body px-0 pt-2" id="coi-view-relation-details-main-nav-card">
                <div class="row d-flex px-4 mb-3 mt-4">
                    <div class="col" tabindex="-1">
                        <div class="d-flex">
                            <label class="d-block fw-500 fs-14 row pb-1 label-text" title="Click to select date"
                                for="Start date of involvement"><span class="text-danger">*</span>Start Date of
                                Involvement
                            </label>
                        </div>
                        <div>
                            <span class="dateField w-100" [attr.aria-label]="involvementDate.involvementStartDate">
                                <input matInput [matDatepicker]="startDate" id="start-date-involvement"
                                    placeholder="{{datePlaceHolder}}" (click)="startDate.open()" autocomplete="off"
                                    class="d-inline-block form-control w-100"
                                    [(ngModel)]="involvementDate.involvementStartDate"
                                    (keypress)="commonService._keyPress($event, 'date')"
                                    (ngModelChange)="addUnSavedChanges();endDateValidation()"
                                    [ngClass]="(mandatoryList?.has('date')) ? 'is-invalid d-block' : ''" />
                                <i (click)="startDate.open()" [class.date-field-error]="mandatoryList?.has('date')"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor"
                                    title="Click to select date"></i>
                                <mat-datepicker #startDate>
                                </mat-datepicker>
                            </span>
                            <div *ngIf="mandatoryList?.has('date')" class="invalid-feedback d-block fs-13">
                                {{mandatoryList?.get('date')}}
                            </div>
                        </div>
                    </div>
                    <div class="col px-5" tabindex="-1">
                        <label class="d-block fs-14 fw-500 px-1 pb-1 label-text" title="Click to select Start date"
                            for="End date of involvement">End Date of Involvement
                        </label>
                        <div>
                            <span class="dateField" [attr.aria-label]="involvementDate.involvementEndDate">
                                <input matInput [matDatepicker]="endDate" id="end-date-involvement"
                                    placeholder="{{datePlaceHolder}}" (click)="endDate.open()" autocomplete="off"
                                    class="d-inline-block form-control w-100"
                                    [(ngModel)]="involvementDate.involvementEndDate"
                                    (ngModelChange)="endDateValidation(); addUnSavedChanges();"
                                    [ngClass]="(mandatoryList?.has('endDate')) ? 'is-invalid d-block' : ''"
                                    (keypress)="commonService._keyPress($event, 'date')" />
                                <i (click)="endDate.open()" [class.date-field-error]="mandatoryList?.has('endDate')"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor"
                                    title="Click to select end date"></i>
                                <mat-datepicker #endDate>
                                </mat-datepicker>
                            </span>
                            <div *ngIf="(mandatoryList.get('endDate'))" class="fs-13 invalid-feedback d-block">
                                {{mandatoryList.get('endDate')}}
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="d-flex px-3" tabindex="-1">
                            <label class="d-block fs-14 fw-500 px-1 pb-1 row label-text">Sponsors Research</label>
                        </div>
                        <div class="col d-flex px-2" title="Click here to toggle Yes/No" tabindex="0" aria-label="Click here to toggle Yes/No">
                            <span class="py-1">
                                <a *ngIf="additionalDetails.sponsorsResearch" class="pl-2">
                                    <label class="switch"
                                        (click)="additionalDetails.sponsorsResearch = false;addUnSavedChanges()">
                                        <input type="checkbox" checked>
                                        <span class="slider round"><small class="fs-12 mt-1">Yes</small></span>
                                    </label>
                                </a>
                                <a *ngIf="!additionalDetails.sponsorsResearch" class="pl-2">
                                    <label class="switch"
                                        (click)="additionalDetails.sponsorsResearch = true;addUnSavedChanges()">
                                        <input type="checkbox">
                                        <span class="slider round"><small
                                                class="deactivate-text fs-12 mt-1">No</small></span>
                                    </label>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row px-4 mb-3">
                    <span tabindex="-1">
                        <label class="fs-14 fw-500 py-2 position-relative label-text">
                            <span class="text-danger">*</span>
                            Relationship with Entity
                        </label>
                        <textarea appAutoGrow class="form-control" id="releationship-entity" rows="1"
                            [(ngModel)]="additionalDetails.staffInvolvement"
                            (ngModelChange)="addUnSavedChanges();additionalDetails.staffInvolvement = additionalDetails.staffInvolvement.trim();"
                            [ngClass]="(mandatoryList?.has('staff')) ? 'is-invalid d-block' : ''" appLengthValidator
                            [limit]=2000 [styleList]="'mt-2 float-end word-count'">
                                      </textarea>
                        <div class="help-text">
                            This description is presented in the Relationship section to help you relate this entity
                            to your research projects. Please enter an adequate description of the organization, and
                            of your role with them,to aid both you, and a reviewers' understanding of the
                            association between the entity and work.
                        </div>
                        <div *ngIf="mandatoryList?.has('staff')" class="invalid-feedback d-block fs-13">
                            {{mandatoryList?.get('staff')}}
                        </div>
                    </span>
                </div>
                <div class="row px-4 mb-3">
                    <span tabindex="-1">
                        <label class="fs-14 fw-500 py-2 position-relative label-text">
                            <span class="text-danger">*</span>
                            Principle Business Area of Entity
                        </label>
                        <textarea appAutoGrow class="form-control" id="releationship-entity" rows="1"
                            [(ngModel)]="additionalDetails.studentInvolvement"
                            (ngModelChange)="addUnSavedChanges();additionalDetails.studentInvolvement = additionalDetails.studentInvolvement.trim()"
                            [ngClass]="(mandatoryList?.has('student')) ? 'is-invalid d-block' : ''" appLengthValidator
                            [limit]=2000 [styleList]="'mt-2 float-end word-count'">
                                  </textarea>
                        <div class="help-text">
                            Please enter an adequate description of the entity's principal are of business.
                        </div>
                        <div *ngIf="mandatoryList?.has('student')" class="invalid-feedback d-block fs-13">
                            {{mandatoryList?.get('student')}}
                        </div>
                    </span>
                </div>
                <div class="row px-4 mb-3">
                    <span tabindex="-1">
                        <label class="fs-14 fw-500 py-2 position-relative label-text">
                            <span class="text-danger">*</span>
                            Relationship of Entity to your
                            University responsibilities
                        </label>
                        <textarea appAutoGrow class="form-control" id="releationship-entity" rows="1"
                            [(ngModel)]="additionalDetails.instituteResourceInvolvement"
                            (ngModelChange)="isChangesInFieldValue = true;addUnSavedChanges()"
                            [ngClass]="(mandatoryList?.has('resource')) ? 'is-invalid d-block' : ''" appLengthValidator
                            [limit]=2000 [styleList]="'mt-2 float-end word-count'">
                                    </textarea>
                        <div class="help-text">
                            Please enter an adequate description of the entity's relationship to your University
                            responsibilities.
                        </div>
                        <div *ngIf="mandatoryList?.has('resource')" class="invalid-feedback d-block fs-13">
                            {{mandatoryList?.get('resource')}}
                        </div>
                    </span>
                </div>
            </div>
        </div>


</div>

<!-- History section if History tab is clicked-->
<app-sfi-history *ngIf="entityDetailsServices.activeTab === 'HISTORY'" [entityId]="entityId"></app-sfi-history>

<app-activate-inactivate-sfi-modal *ngIf="isEnableActivateInactivateSfiModal" [entityName]="entityDetails.entityName"
    [personEntityId]="entityId" [updatedRelationshipStatus]="updatedRelationshipStatus"
    (closeModal)="closeActivateInactivateSfiModal($event)"
    [personEntityNumber]="relationshipsDetails?.personEntityNumber" [entityDetails]="entityDetails"
    [relationshipDetails]="getRelationshipDetails()">
</app-activate-inactivate-sfi-modal>
</div>
