.relationship {
  color: #6A7980;
  padding: 2px 12px;
  background-color: #fffaea;
  border-end-end-radius: 5rem;
  border-start-end-radius: 5rem;
  position: relative;
  left: -14px;
  top: -13px;
  font-weight: 500 !important;
  border: 2px solid #f3dca4 !important;
  font-size: 14px;
  width: max-content;
}

.text-color {
  color: #6A7980;
}

.r-title {
  display: inline-block;
}

.r-title::first-letter {
  text-transform: uppercase;
}


.collapse-text {
  color: rgb(65, 70, 75);
  text-decoration: underline;
  cursor: pointer;
}

.entity-status {
  color: white;
  width: max-content;
  height: 27px;
  background: #54BF5B;
  position: relative;
  right: 15px;
  top: -8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 50px 50px 0;
  padding: 10px 18px;


  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid black;
    border-left: 6px solid transparent;
    top: -5px;
    left: 0;
  }
}

.inactive-pill {
  background-color: #949494;
  color: #fff;
}

.draft-pill {
  color: #000;
  background: #9fc5f8;
}


small {
  margin-left: 8px;
  margin-top: 5px;
  display: inline-block;
  font-weight: 700;
  color: #fff !important;
}

.deactivate-text {
  color: #fff !important;
}

.btn-outline-grey {
  color: #48647F;
  border: 1px solid #48647F;
  background-color: white;

  &:hover {
    background-color: #007DEC;
    color: white;
    border: 1px solid #007DEC;
  }
}

.side-action-bar {
  padding-bottom: 1px
}

.action-bar-border {
  border: solid #dee2e6;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 5px 5px 0px;
  z-index: 2;
}

.btn-content-home {
  position: relative;
  bottom: 7px;
}

.pencil-sfi {
  position: relative;
  right: 1.2rem;
  font-size: 2rem;
}

.btn-sfi-position {
  position: relative;
  right: 0.6rem;
  ;
}

.btn-content-back {
  position: relative;
  left: 0.2rem;
}

.btn-inactivate-content {
  position: relative;
  right: 1.1rem;
}

.icon-schedule-position {
  position: relative;
  right: 1.5625rem
}

.btn-activate-content {
  position: relative;
  right: 5px;
}

.icon-activate-position {
  position: relative;
  right: 18px;
}

.btn-activate-edit-content {
  position: relative;
  left: 14px;
}

.icon-add {
  position: relative;
  left: 1.01rem
}

.btn-add-content {
  position: relative;
  left: 1.1rem;
}

.icon-save {
  position: relative;
  left: 8px
}

.btn-save-content {
  position: relative;
  left: 12px;
}

.modal {
  z-index: 1501;
}

.entity-status-pill {
  position: relative;
  right: 20px;
  top: -1px;
}

.triple-card {
  height: 96px;
}

.table-negative-margin {
  margin-top: 9px;
}

.sticky-0 {
  top: 0;
  z-index: 2;
  position: sticky;
}

.sticky-top-50 {
  top: 50px;
  z-index: 2;
  position: sticky;
}

.entity-box {
  height: max-content;
  max-width: 450px;
  position: absolute;
  z-index: 3;
  top: 35px;
  display: flex;
  background: #e2f1ff;
  border: 1px solid #cee4f8;
}

.anchor-link {
  font-weight: 400 !important;
}

.col-custom-width {
  width: 55px;
}

.hyper-link {
  text-decoration: underline !important;
}

.text-area-height {
  height: 75px !important;
}

.text-area-height::-webkit-scrollbar {
  width: .4em;
}

.text-area-height::-webkit-scrollbar-button {
  display: none;
}

.date-field-error {
  padding-right: 16px !important;
}

.info {
  top: 7px;
  font-size: 16px;
  position: absolute;
  color: #6f7395;
  cursor: pointer;
  height: 15px;
  width: 16px;
}

.info-padding {
  padding-right: 12px;
  padding-left: 4px;
}

.info-text {
  position: relative;
  top: -4px;
  left: -11px;
  color: #c39200;
  border-radius: 30px;
  border: 1px solid #c39200;
}

.info-text:hover {
  color: #0D6EFD;
  border: 1px solid #0D6EFD;
}

.help-text {
  font-size: 13px;
  padding: 7px;
  color: #606060;
  background-color: #EEF0FC;
  font-style: italic;
}

.label-text {
  color: #2a2a2a;
  font-size: 14px !important;
  font-weight: 500 !important;
}


.border-nav {
  width: max-content;
  position: relative;
  top: 0px;
  right: 15px;
}

.navigation-title {
  .active {
    color: #007DEC;
    margin-bottom: -0.2rem !important;
    font-weight: bold;
    position: relative;
    bottom: 5px;
  }
}

.navigation-icons {
  .active {
    border-bottom: 3px solid #007DEC;
    color: #007DEC;
    padding: 10px 10px !important;
    background-color: #e6f3ff !important;
    box-shadow: 2px 3px 11px 1px rgba(0,0,0,.17);
  }
}

.nav-options:hover {
  background-color: #e6f3ff !important;
  box-shadow: 2px 3px 11px 1px rgba(0,0,0,.17);
}

.user-dashboard-nav {
  min-height: 42px;
}

.btn-position {
  position: relative;
  bottom: 5px;
}

.border-nav {
  width: max-content;
  position: relative;
  top: 0px;
  right: 15px;
}

.fa-check{
  font-weight: 600;
  color: #28a745 !important;
  margin-left: 5px;
}

.fa-exclamation-circle {
  font-weight: 600;
  color: #ffc107 !important;
  margin-left: 5px;
}

.add-relation {
  margin-left: -15px;
}

.add-relation:hover {
  background-color: #e6f3ff;
  box-shadow: 2px 3px 11px 1px rgba(0,0,0,.17);
}

.nav-sticky {
  background-color: whitesmoke;
  position: sticky;
  top: 144px;
  z-index: 10;
}

.top-187 {
  top: 188px;
}

.top-131 {
  top: 132px;
  background-color: rgb(255, 255, 255);
}