  .card-body {
    background-color: #f3f7fb;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    bottom: 1px;
  }

  .relationship {
      color: #6A7980;
      padding: 2px 12px;
      background-color: #fffaea;
      border-end-end-radius: 5rem;
      border-start-end-radius: 5rem;
      position: relative;
      left: -14px;
      top: -13px;
      font-weight: 500 !important;
      border: 2px solid #f3dca4 !important;
      font-size: 14px;
      width: max-content;
  }

  .toggle-header-btn {
    width: 30px;
    color: #A64040;
    height: 30px;
    background-color:  #fff5f5 !important;
    mat-icon {
      transform: scale(1.2);
    }
  }

  .text-color {
    color: #6A7980;
  }

  .r-title {
    display: inline-block;
    text-transform: lowercase;
  }

  .r-title::first-letter {
    text-transform: uppercase;
  }
  .text-no-data{
    color: #9e9e9e;
  }
.card-header{
  background-color: #E8E8E8;
  height: 44px;
}
.more-position{
  position: relative;
  bottom: 5px;
}
.collapse-text{
  color: rgb(65, 70, 75);
  text-decoration: underline;
  cursor: pointer;
}
