<div class="row header-sticky mb-2">
    <div class="col-12">
        <!-- new top card -->
        <div class="card coi-card-expanded">
            <div class="row mx-0">
                <div class="col-lg px-0">
                    <div class="card-header px-3">
                        <div class="row flex-grow-1 position-relative m-0">
                            <div class="d-flex col-12 px-0 coi-card-header-notch-container">
                                <!-- badge -->
                                <div class="d-flex mb-auto" tabindex="-1" aria-label="Consulting disclosure">
                                    <span class="coi-card-notch-ribbon shadow-sm bg-consulting-clip">Consulting</span>
                                </div>
                                <div class="col row m-0">
                                    <div class="col-12 d-flex justify-content-between p-0">
                                        <!-- person -->
                                        <span class="d-flex align-items-center coi-text-light ms-2 mt-1 text-nowrap">
                                            <mat-icon aria-hidden="true"
                                                class="fw-bolder coi-text-light flex-shrink-0 coi-mat-icon-size me-1">person</mat-icon>
                                            <a class="link-primary cursor-pointer text-slice" tabindex="0" (click)="openPersonDetailsModal()"
                                                (keyup.enter)="openPersonDetailsModal()" (keyup.space)="openPersonDetailsModal()"
                                                attr.aria-label="Click here to view details of {{consultingForm?.consultingFormDisclosure?.person?.fullName}}"
                                                title="Click here to view details of {{consultingForm?.consultingFormDisclosure?.person?.fullName}}">{{consultingForm?.consultingFormDisclosure?.person?.fullName}}
                                            </a>
                                        </span>

                                        <!-- links -->
                                        <div class="d-flex justify-content-end align-items-center f-14 ms-auto mt-auto me-3">
                                            <!-- <span class="ms-2 me-2"  role="link"
                                                [title]="0 ? 'Click here to view trainings' : ''"
                                                [attr.aria-label]="0 ? 'Click here to view trainings' : ''"
                                                [ngClass]="0 ? 'link-primary cursor-pointer' : ''" tabindex="-1">
                                                Trainings({{0}})
                                            </span> | -->
                                            <a class="ms-2 me-2 fs-13" (click)="openSlider('ENTITY', consultingForm?.consultingFormDisclosure?.personEntitiesCount)"
                                                role="link" (keyup.enter)="openSlider('ENTITY', consultingForm?.consultingFormDisclosure?.personEntitiesCount)"
                                                (keyup.space)="openSlider('ENTITY', consultingForm?.consultingFormDisclosure?.personEntitiesCount)"
                                                [title]="consultingForm?.consultingFormDisclosure?.personEntitiesCount ? 'Click here to view entities' : ''"
                                                [attr.aria-label]="consultingForm?.consultingFormDisclosure?.personEntitiesCount ? 'Click here to view entities' : ''"
                                                [ngClass]="consultingForm?.consultingFormDisclosure?.personEntitiesCount ? 'link-primary cursor-pointer' : 'coi-text-light text-decoration-none'"
                                                [tabIndex]="consultingForm?.consultingFormDisclosure?.personEntitiesCount > 0 ? 0 : -1">
                                                Entities({{consultingForm?.consultingFormDisclosure?.personEntitiesCount}})
                                            </a> |
                                            <a class="ms-2 me-2 fs-13" (click)="openSlider('NOTES', consultingForm?.consultingFormDisclosure?.personNotesCount)" role="link"
                                                (keyup.enter)="openSlider('NOTES', consultingForm?.consultingFormDisclosure?.personNotesCount)"
                                                (keyup.space)="openSlider('NOTES', consultingForm?.consultingFormDisclosure?.personNotesCount)"
                                                [title]="consultingForm?.consultingFormDisclosure?.personNotesCount ? 'Click here to view notes' : ''"
                                                [attr.aria-label]="consultingForm?.consultingFormDisclosure?.personNotesCount ? 'Click here to view notes' : ''"
                                                [ngClass]="consultingForm?.consultingFormDisclosure?.personNotesCount ? 'link-primary cursor-pointer' : 'coi-text-light text-decoration-none'"
                                                [tabIndex]="consultingForm?.consultingFormDisclosure?.personNotesCount > 0 ? 0 : -1" >
                                                Notes({{consultingForm?.consultingFormDisclosure?.personNotesCount}})
                                            </a> |
                                            <a class="ms-2 fs-13"
                                                (click)="openSlider('ATTACHMENTS', consultingForm?.consultingFormDisclosure?.personAttachmentsCount)" role="link"
                                                (keyup.enter)="openSlider('ATTACHMENTS', consultingForm?.consultingFormDisclosure?.personAttachmentsCount)"
                                                (keyup.space)="openSlider('ATTACHMENTS', consultingForm?.consultingFormDisclosure?.personAttachmentsCount)"
                                                [title]="consultingForm?.consultingFormDisclosure?.personAttachmentsCount ? 'Click here to view attachments' : ''"
                                                [attr.aria-label]="consultingForm?.consultingFormDisclosure?.personAttachmentsCount ? 'Click here to view attachments' : ''"
                                                [ngClass]="consultingForm?.consultingFormDisclosure?.personAttachmentsCount ? 'link-primary cursor-pointer' : 'coi-text-light text-decoration-none'"
                                                [tabIndex]="consultingForm?.consultingFormDisclosure?.personAttachmentsCount > 0 ? 0 : -1">
                                                Attachments({{consultingForm?.consultingFormDisclosure?.personAttachmentsCount}})
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex p-0 align-items-center">
                                <!-- email -->
                                <span class="d-flex align-items-center coi-text-light mt-1"
                                    [title]="consultingForm?.consultingFormDisclosure?.person?.emailAddress">
                                    <mat-icon aria-hidden="true"
                                        class="fw-bolder coi-text-light flex-shrink-0 coi-mat-icon-size me-1">mail</mat-icon>
                                    <span class="text-slice">{{consultingForm?.consultingFormDisclosure?.person?.emailAddress}}</span>
                                </span>
                                <!-- home unit -->
                                <span class="d-flex align-items-center coi-text-light ms-3 mt-1"
                                    [title]="commonService.getPersonLeadUnitDetails(consultingForm?.consultingFormDisclosure?.person?.unit)">
                                    <mat-icon aria-hidden="true"
                                        class="fw-bolder coi-text-light flex-shrink-0 coi-mat-icon-size me-1">home</mat-icon>
                                    <span class="text-slice">{{commonService.getPersonLeadUnitDetails(consultingForm?.consultingFormDisclosure?.person?.unit)}}</span>
                                </span>
                                <!-- title -->
                                <span *ngIf="consultingForm?.consultingFormDisclosure?.person?.primaryTitle"
                                    class="d-flex align-items-center coi-text-light ms-3 mt-1"
                                    [title]="consultingForm?.consultingFormDisclosure?.person?.primaryTitle">
                                    <mat-icon aria-hidden="true"
                                        class="fw-bolder coi-text-light flex-shrink-0 coi-mat-icon-size me-1">work</mat-icon>
                                    <span class="text-slice">{{consultingForm?.consultingFormDisclosure?.person?.primaryTitle}}</span>
                                </span>
                            </div>
                            <h3 *ngIf="consultingService?.coiEntity?.entityName" class="card-title fs-16 mb-0 mt-1 ps-0">
                                <div class="fs-16 d-flex align-items-center">
                                    <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0 me-1 coi-ms-n2px">apartment</mat-icon>
                                    <!-- <a class="link-primary fs-6 text-slice" (click)="navigateToEntity()"
                                        title="Click here to navigate to {{ consultingService?.coiEntity?.entityName }}"
                                        attr.aria-label="Click here to navigate to {{ consultingService?.coiEntity?.entityName }}"
                                        (keyup.enter)="navigateToEntity()" (keyup.space)="navigateToEntity()">
                                        {{ consultingService?.coiEntity?.entityName }}
                                    </a> -->
                                    <span class="coi-text-darker fs-6 text-slice" [title]="consultingService?.coiEntity?.entityName">{{ consultingService?.coiEntity?.entityName }}</span>
                                </div>
                            </h3>
                            <button (click)="collapseHeader()"
                                title="Click here to collapse / expand" aria-label="Click here to collapse / expand"
                                class="toggle-btn align-items-center border btn d-flex justify-content-center p-0 rounded-5 shadow-sm toggle-btn-position">
                                <mat-icon aria-hidden="true" class="collapse-icon">{{isCardExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="isCardExpanded"
                        id="coi-consultingForm?.consultingFormDisclosure-card">
                        <div class="row gap-0">
                            <div class="col-6 col-xxl-5">
                                <div
                                    class="coi-box-red border border-secondary border-opacity-50 fw-medium p-3 rounded-1 h-100 position-relative">
                                    <span class="coi-text-darker fs-6 coi-field-set">Details</span>
                                    <div class="row">
                                        <div class="col-lg-6 mt-3 pe-0">
                                            <label class="coi-text-dark d-block">
                                                <i aria-hidden="true" class="fa fa-user-o fw-700 me-1"></i>Administrator
                                            </label>
                                            <span class="coi-text-light">
                                                <app-no-data-label
                                                    [valueToShow]="consultingForm?.consultingFormDisclosure?.adminPersonName">
                                                    <span>{{consultingForm?.consultingFormDisclosure?.adminPersonName}}</span>
                                                </app-no-data-label></span>
                                        </div>
                                        <div class="col mt-3 pe-0">
                                            <label class="coi-text-dark d-block">
                                                <img alt="add-adminGroup icon" class="activity-icon"
                                                    src="assets/images/multiple-admin-1.svg">Admin Group
                                            </label>
                                            <span class="coi-text-light">
                                                <app-no-data-label
                                                    [valueToShow]="consultingForm?.consultingFormDisclosure?.adminGroupId">
                                                    <span>{{consultingForm?.consultingFormDisclosure?.adminGroupName}}</span>
                                                </app-no-data-label>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-6 col-xxl-3">
                                <div
                                    class="coi-box-red border border-secondary border-opacity-50 fw-medium p-3 rounded-1 h-100 position-relative">
                                    <span class="coi-text-darker fs-6 coi-field-set">Dates</span>
                                    <div class="row">
                                        <div class="col-lg-6 mt-3 pe-0">
                                            <label class="coi-text-dark d-block"> Create
                                            </label>
                                            <span class="coi-text-light">
                                                <app-no-data-label
                                                    [valueToShow]="consultingForm?.consultingFormDisclosure?.createTimestamp">
                                                    <span>{{consultingForm?.consultingFormDisclosure?.createTimestamp |
                                                        dateFormatterWithTimeZone}}</span>
                                                </app-no-data-label>
                                            </span>
                                        </div>
                                        <div class="col-lg-6 mt-3 pe-0">
                                            <label class="coi-text-dark d-block"> Certification
                                            </label>
                                            <span class="coi-text-light">
                                                <app-no-data-label
                                                    [valueToShow]="consultingForm?.consultingFormDisclosure?.certifiedAt">
                                                    <span>{{consultingForm?.consultingFormDisclosure?.certifiedAt | dateFormatterWithTimeZone}}</span>
                                                </app-no-data-label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xxl-4 mt-4 mt-xxl-0">
                                <div
                                    class="coi-box-red border border-secondary border-opacity-50 fw-medium p-3 rounded-1 h-100 position-relative">
                                    <span class="coi-text-darker fs-6 coi-field-set">Status</span>
                                    <div class="row">
                                        <div class="col-4 col-lg-4 col-xl-6 mt-3 pe-0">
                                            <label class="coi-text-lighter d-block">Disposition
                                            </label>
                                            <app-no-data-label
                                                [valueToShow]="consultingForm?.consultingFormDisclosure?.dispositionStatusType?.description">
                                                <span
                                                    class="{{commonService.getConsultingDispositionStatusBadge(consultingForm?.consultingFormDisclosure?.dispositionStatusType?.dispositionStatusCode)}}"></span>
                                                <span class="coi-text-dark">
                                                    {{consultingForm?.consultingFormDisclosure?.dispositionStatusType?.description}}
                                                </span>
                                            </app-no-data-label>
                                        </div>
                                        <div class="col-4 col-lg-4 col-xl-6 mt-3 pe-0">
                                            <label class="coi-text-lighter d-block">Review
                                            </label>
                                            <app-no-data-label
                                                [valueToShow]="consultingForm?.consultingFormDisclosure?.reviewStatusType?.description">
                                                <span
                                                    class="{{commonService.getConsultingReviewStatusBadge(consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode)}}"></span>
                                                <span class="coi-text-dark">
                                                    {{consultingForm?.consultingFormDisclosure?.reviewStatusType?.description}}
                                                </span>
                                            </app-no-data-label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 border-prev-nxt ng-tns-c246-40 ng-star-inserted" ng-reflect-ng-class="">
                    <div class="h-100" *ngIf="isCardExpanded">
                        <div class="d-grid gap-2 d-md-flex flex-md-wrap mb-2 mt-3">
                            <button (click)="location.back()" title="Go to Back" id="opa_back_btn"
                                class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col fs-14"
                                aria-label="Go to Back">
                                <mat-icon aria-hidden="true" class="me-2">reply</mat-icon>
                                Back
                            </button>
                            <button
                                *ngIf="consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode != '1'"
                                [matMenuTriggerFor]="beforeMenu"
                                class="btn btn-outline-grey d-inline-flex align-items-center justify-content-center col fs-14"
                                title="Click for More Actions" id="opa_more_actions_btn" aria-label="More Actions">
                                <mat-icon aria-hidden="true" class="moreActionIcon">more_vert</mat-icon>
                            </button>
                            <button *ngIf="dataStore.isFormEditable()" title="Click to save your progress"
                                id="opa_save_btn" (click)="triggerSave()" aria-label="Save"
                                class="btn btn-primary d-inline-flex align-items-center justify-content-center fs-14 col-12">
                                <mat-icon aria-hidden="true" class="me-2">save</mat-icon>
                                Save
                            </button>
                            <button (click)="consultingSubmissionModal()" [disabled]="consultingService.canDisableSubmit" *ngIf="dataStore.isFormEditable()"
                                aria-label="Certify and Submit"
                                class="btn btn-primary d-inline-flex align-items-center justify-content-center fs-14 col-12"
                                title="Click to submit your disclosure" id="opa_submit_btn">
                                <mat-icon aria-hidden="true" class="me-2">done</mat-icon>
                                Certify and Submit
                            </button>
                            <button title="Click to Assign Administrator/Admin Group"
                                *ngIf="!consultingForm?.consultingFormDisclosure?.adminPersonId && consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode  =='2' && checkForConsultingAdmin()"
                                class="btn btn-primary d-inline-flex align-items-center justify-content-center fs-14 col-12"
                                aria-label="Click to assign administrator or admin group"
                                (click)="openAddAssignModal();" id="opa_assign_admin_btn">
                                <mat-icon aria-hidden="true" class="me-1">group_add</mat-icon>
                                <span class="mt-1 ms-2"> Assign Admin </span>
                            </button>
                            <!-- <button *ngIf="!dataStore.isFormEditable()" title="Click here to add new comment"
                                (click)="openReviewComment()" id="opa_add_comments_btn" aria-label="Comments"
                                class="d-flex align-items-center justify-content-center btn btn-outline-grey fs-14 col-12">
                                <mat-icon aria-hidden="true" class="me-2">rate_review</mat-icon>
                                <span>Comments</span>
                            </button> -->
                            <button
                                class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center col-12"
                                *ngIf="['3', '5'].includes(consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode)
                                && checkForConsultingAdmin() && isLoggedInUser(consultingForm?.consultingFormDisclosure?.adminPersonId)"
                                aria-label="Complete Final Review" id="opa_complete_review_btn"
                                title="Click here to complete final review"
                                data-bs-target="#completeReviewModalFromDashboard" data-bs-toggle="modal">
                                <mat-icon aria-hidden="true" class="me-2">done</mat-icon>
                                <span class="mt-1 ms-2"> Complete Final Review </span>
                            </button>
                            <!--<button title="Click to start review" id="opa_start_reviewer_review_btn" aria-label="Click to start review"
                                (click)="updateOpaReview('START')"
                                *ngIf="opaService.isStartReview && consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode === '7'"
                                class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center">
                                <mat-icon aria-hidden="true" class="material-icons-outlined">play_circle_filled</mat-icon>
                                <span class="mt-1 ms-2"> Start Review </span>
                            </button>
                            <button title="Click to complete review" id="opa_complete_reviewer_review_btn"
                                aria-label="Click to complete review"
                                *ngIf="opaService.isCompleteReview && consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode === '7'"
                                (click)="updateOpaReview('COMPLETE')"
                                class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center">
                                <mat-icon aria-hidden="true" class="material-icons-outlined">stop_circle</mat-icon>
                                <span class="mt-1 ms-2"> Complete Review </span>
                            </button> -->
                            <div class="fs-14 ash-text col-12">
                                <label class="coi-text-lighter fs-13 fw-medium d-block">Last Updated By</label>
                                <span
                                    class="coi-text-dark fs-13 fw-normal">{{consultingForm?.consultingFormDisclosure?.updateUserFullName}}<span
                                        class="coi-text-lighter fs-13 fw-medium"> On </span>
                                    {{consultingForm?.consultingFormDisclosure?.updateTimeStamp |
                                    dateFormatterWithTimeZone:'long'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="h-100" *ngIf="!isCardExpanded">
                        <div class="d-grid gap-2 d-md-flex flex-md-wrap mb-2 mt-3">
                            <button title="Go to Back" class="btn btn-outline-grey pb-0 fs-14 col fit-height"
                                (click)="location.back()" id="opa_back_btn" aria-label="Back">
                                <mat-icon aria-hidden="true">reply</mat-icon>
                            </button>
                            <button
                                *ngIf="consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode != '1'"
                                [matMenuTriggerFor]="beforeMenu"
                                class="text-nowrap d-flex align-items-center justify-content-center btn btn-outline-grey fs-14 col px-3 fit-height"
                                title="Click for More Actions" aria-label="More Actions" id="opa_more_actions_btn">
                                <mat-icon aria-hidden="true" class="moreActionIcon">more_vert</mat-icon>
                                <span *ngIf="isCardExpanded">More Actions</span>
                            </button>
                            <button
                                *ngIf="!consultingForm?.consultingFormDisclosure?.adminPersonId && consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode =='2' && checkForConsultingAdmin()"
                                title="Click to Assign Administrator/Admin Group"
                                aria-label="Click to assign administrator"
                                class="fs-14 btn btn-primary d-flex justify-content-center w-100 col align-items-center"
                                (click)="openAddAssignModal();" id="opa_assign_admin_btn">
                                <mat-icon aria-hidden="true" class="me-1">group_add</mat-icon>
                            </button>
                            <!-- <button title="Click here to add new comment"
                                *ngIf="!['1', '5', '6'].includes(consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode)"
                                (click)="openReviewComment()" id="opa_add_comments_btn"
                                class="d-flex align-items-center justify-content-center btn btn-outline-grey fs-14 col"
                                aria-label="Comments">
                                <mat-icon aria-hidden="true">rate_review</mat-icon>
                            </button> -->
                            <button *ngIf="dataStore.isFormEditable()" (click)="triggerSave()" aria-label="Save"
                                title="Click to save your progress" id="opa_save_btn"
                                class="btn btn-primary pb-0 fs-14 col fit-height">
                                <mat-icon aria-hidden="true">save</mat-icon>
                            </button>
                            <button *ngIf="dataStore.isFormEditable()" (click)="consultingSubmissionModal()" [disabled]="consultingService.canDisableSubmit"
                                title="Click to submit your disclosure" id="opa_submit_btn"
                                aria-label="Certify and Submit" class="btn btn-primary pb-0 fs-14 col fit-height">
                                <mat-icon aria-hidden="true">done</mat-icon>
                            </button>
                            <button
                                *ngIf="['3','5'].includes(consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode)
                                                               && checkForConsultingAdmin() && isLoggedInUser(consultingForm?.consultingFormDisclosure?.adminPersonId)"
                                title="Click to complete review" id="opa_complete_review_btn"
                                aria-label="Complete Review"
                                class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center col"
                                data-bs-target="#completeReviewModalFromDashboard" data-bs-toggle="modal">
                                <mat-icon aria-hidden="true" class="me-2">done</mat-icon>
                            </button>
                            <!--
                            <button *ngIf="opaService.isStartReview && consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode === '7'"
                                title="Click to start review" aria-label="Click to start review" (click)="updateOpaReview('START')" id="opa_start_reviewer_review_btn"
                                class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center col">
                                <mat-icon aria-hidden="true" class="material-icons-outlined mb-1">play_circle_filled</mat-icon>
                            </button>
                            <button *ngIf="opaService.isCompleteReview && consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode === '7'"
                                title="Click to complete review" aria-label="Click to complete review"
                                (click)="updateOpaReview('COMPLETE')" id="opa_complete_reviewer_review_btn"
                                class="fs-14 btn btn-primary d-flex justify-content-center w-100 align-items-center col">
                                <mat-icon aria-hidden="true" class="material-icons-outlined">stop_circle</mat-icon>
                            </button> -->
                        </div>
                        <div class="fs-14 ash-text col-12">
                            <label class="coi-text-lighter fs-13 fw-medium me-1">Last Updated By</label>
                            <span
                                class="coi-text-dark fs-13 fw-normal">{{consultingForm?.consultingFormDisclosure?.updateUserFullName}}
                                On {{consultingForm?.consultingFormDisclosure?.updateTimeStamp |
                                dateFormatterWithTimeZone:'long'}}</span>
                        </div>
                    </div>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <!-- reviewStatusCode-(3-Review In Progress, 4-Review Assigned, 5-Assigned Review Completed) -->
                        <ng-container
                            *ngIf="consultingForm?.consultingFormDisclosure?.adminPersonId && ['3', '4', '5'].includes(consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode) && checkForConsultingAdmin()">
                            <button mat-menu-item title="Click to Reassign Administrator/Admin Group"
                                aria-label="Click to Reassign Administrator/Admin Group" tabindex="0"
                                id="opa_reassign_admin"
                                class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action"
                                (click)="openAddAssignModal();"
                                [ngClass]="(consultingForm?.consultingFormDisclosure?.adminPersonId || consultingForm?.consultingFormDisclosure?.adminGroupId)?'btn-primary-icon':'btn btn-primary'">
                                <mat-icon aria-hidden="true">group_add</mat-icon>
                                <span class="ms-2 fw-medium fs-14">Reassign Admin</span>
                            </button>
                        </ng-container>

                        <!-- Withdrawn option only shown for reviewStatusCode(2-submitted)-->
                        <!-- check logged person & disclosure created person is same -->
                        <button mat-menu-item
                            *ngIf="consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode == '2' && !(consultingForm?.consultingFormDisclosure?.adminPersonId) &&
                            (commonService?.getCurrentUserDetail('personId') == consultingForm?.consultingFormDisclosure?.personId)"
                            title="Click to Withdraw" aria-label="Click to Withdraw" tabindex="0"
                            id="consulting_withdraw"
                            class="text-nowrap border-0 rounded-0 btn btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action"
                            (click)="openConfirmationModal('Withdraw', withdrawHelpTexts, withdrawErrorMsg, withdrawModalHelpText);">
                            <mat-icon aria-hidden="true">logout</mat-icon>
                            <span class="ms-2 fw-medium fs-14">Withdraw</span>
                        </button>

                        <!-- return to pi -->
                        <!-- reviewStatusCode-(3-Review In Progress, 4-Review Assigned, 5-Assigned Review Completed) -->
                        <!-- Check logged person and administrator are same -->
                        <button mat-menu-item
                            *ngIf="consultingForm?.consultingFormDisclosure?.adminPersonId && ['3','4','5'].includes(consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode) &&
                                    (commonService?.getCurrentUserDetail('personId') == consultingForm?.consultingFormDisclosure?.adminPersonId)"
                            title="Click to Return Disclosure" tabindex="0" id="consulting_return"
                            (click)="openConfirmationModal('Return', returnHelpTexts, returnErrorMsg, returnModalHelpText);"
                            class="text-nowrap border-0 rounded-0 btn btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <mat-icon aria-hidden="true" class="returnIcon">refresh</mat-icon>
                            <span class="ms-1 fw-medium fs-14">Return</span>
                        </button>
                        <button mat-menu-item title="Click to Notify" tabindex="0" id="opa_notify"
                            class="text-nowrap border-0 rounded-0 btn btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <mat-icon aria-hidden="true" class="returnIcon">notifications</mat-icon>
                            <span class="ms-1 fw-medium fs-14">Notify</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <!-- new top card ends -->
    </div>
    <div class="col-lg-12">
        <div class="navigation-tabs d-flex align-items-center">
            <div [routerLink]="['form']" (click)="setTopDynamically()" class="navigation-box border-end"
                queryParamsHandling='merge' role="button">
                <div class="navigation-box-content" routerLinkActive="active" title="Click here to view the Consulting Form"
                    aria-label="Click here to view the Consulting Form">Consulting Form
                </div>
            </div>
            <!-- <div *ngIf="consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode !== '1' && checkForConsultingAdmin()" [routerLink]="['review']" class="navigation-box border-end" queryParamsHandling='merge'
                 role="button">
                <div class="navigation-box-content" routerLinkActive="active" title="Click here to view the reviews"
                     aria-label="Click here to view the reviews">Reviews
                </div>
            </div> -->
            <div *ngIf="consultingForm?.consultingFormDisclosure?.reviewStatusType?.reviewStatusCode !== '1'"
                [routerLink]="['history']" class="navigation-box" queryParamsHandling='merge'
                title="click to view history" role="button">
                <div class="navigation-box-content" routerLinkActive="active">History</div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="showSlider">
    <app-person-related-sliders (closePage)="closeHeaderSlider($event)" for="CONSULTING_DISCLOSURE"
        [personId]="consultingForm?.consultingFormDisclosure?.personId" [sliderType]="selectedType"
        [personName]="consultingForm?.consultingFormDisclosure?.person?.fullName">
    </app-person-related-sliders>
</ng-container>

<div>
    <router-outlet></router-outlet>
</div>

<app-assign-administrator-modal *ngIf="isAddAssignModalOpen" (closeModal)="closeAssignAdministratorModal($event)"
    [actionType]="consultingForm?.consultingFormDisclosure?.adminPersonId ? 'R' : 'A'" [path]="'CONSULTING_DISCLOSURES'"
    [disclosureId]="consultingForm?.consultingFormDisclosure?.disclosureId" [defaultAdminDetails]="defaultAdminDetails">
</app-assign-administrator-modal>

<!-- Disclosure Withdraw/Return Confirmation Modal-->
<app-confirmation-modal [modalName]="'consulting-confirmation-modal'"
    (primaryBtnAction)="performDisclosureAction($event)" [primaryBtnName]="primaryBtnName" [modalSize]="'lg'"
    [textAreaLabelName]="'Reason for ' + textAreaLabelName" [helpText]="helpTexts" [needDescriptionField]="true"
    [isMandatory]="true" [descriptionErrorMsg]="descriptionErrorMsg"
    [primaryBtnTooltip]="'Click here to '+ primaryBtnName.toLowerCase() +' the disclosure.'"
    [secondaryBtnTooltip]="'Click here to cancel'">
    <!-- modal header -->
    <ng-container header>
        <span>{{primaryBtnName}} Consulting Disclosure</span>
        <app-common-help-text *ngIf="confirmationHelpTexts"
            [helpTextHardCoded]="confirmationHelpTexts"></app-common-help-text>

    </ng-container>
    <!-- modal content -->
    <ng-container content>
        <app-person-project-entity-card [personProjectOrEntity]="personProjectDetails"
            [disclosureHeaderDetails]="disclosureHeaderDetails"></app-person-project-entity-card>
    </ng-container>
</app-confirmation-modal>

<!-- Complete review modal -->
<div tabindex="-1" class="modal modal-coi fade mySkinDialog" data-bs-backdrop="static" id="completeReviewModalFromDashboard"
    role="dialog" aria-labelledby="completeReviewModalFromDashboard-header">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header pe-0">
                <h4 class="modal-title">
                    <span id="completeReviewModalFromDashboard-header">Complete Final Review</span>
                    <app-common-help-text [helpTextHardCoded]="completeReviewHelpText"></app-common-help-text>
                </h4>
                <button aria-label="Click here to close" class="btn-close fs-12" data-bs-dismiss="modal"
                    id="consultingForm?.consultingFormDisclosure-complete-final-review-close-btn"
                    title="Click here to close" type="button">
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-2 mb-0">
                    <app-person-project-entity-card [personProjectOrEntity]="personProjectDetails"
                        [disclosureHeaderDetails]="disclosureHeaderDetails"></app-person-project-entity-card>
                    <div class="col-lg-12 mt-3">
                        <p class="fs-14">Are you sure you want to complete the final review of this consulting
                            disclosure?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary fs-14" data-bs-dismiss="modal"
                    id="consultingForm?.consultingFormDisclosure-complete-final-review-cancel-btn"
                    title="Click here to cancel" aria-label="Click here to cancel" type="button">Cancel
                </button>
                <button (click)="completeDisclosureReview()" class="btn btn-primary fs-14"
                    id="consultingForm?.consultingFormDisclosure-complete-final-review-compelete-btn"
                    title="Click here to complete final review" aria-label="Click here to complete final review"
                    data-bs-dismiss="modal" type="button">Complete Final Review
                </button>
            </div>
        </div>
    </div>
</div>
<!--
<app-reviewer-action-modal *ngIf="opaService.isEnableReviewActionModal"></app-reviewer-action-modal> -->

<!-- <div *ngIf="opaService.isShowCommentNavBar">
    <app-review-comments-slider  (closePage)="closeReviewComment($event)" [disclosureDetails]="consultingForm?.consultingFormDisclosure.opaDisclosure" [disclosureType]="'OPA'"></app-review-comments-slider>
</div> -->

<!--consultingForm?.consultingFormDisclosure submit confirmation modal-->
<div class="modal fade mySkinDialog" tabindex="-1" id="consulting-submit-confirm-modal" role="dialog"
    data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="consultingForm?.consultingFormDisclosure-submit-confirmation-header">
                <h4 class="fs-16">
                    <span>Submit Consulting Disclosure</span>
                    <app-common-help-text [helpTextHardCoded]="submitHelpTexts"></app-common-help-text>
                </h4>
                <button type="button" id="consultingForm?.consultingFormDisclosure-submit-close-btn"
                    class="btn-close fs-12" data-bs-dismiss="modal" aria-label="Click here to close"
                    title="Click here to close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <app-person-project-entity-card [personProjectOrEntity]="personProjectDetails"
                        [disclosureHeaderDetails]="disclosureHeaderDetails"></app-person-project-entity-card>
                    <div class="col-12 mt-2">
                        <p class="fs-14">Are you sure you want to submit the <strong>Consulting</strong> disclosure?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ng-container>
                    <button class=" btn btn-outline-secondary" data-bs-dismiss="modal"
                        id="consultingForm?.consultingFormDisclosure-submit-dismiss-btn"
                        aria-label="Click here to cancel" title="Click here to cancel">Cancel</button>
                    <button (click)="submitConsultingForm()" class=" btn btn-primary fs-14" data-bs-dismiss="modal"
                        id="consultingForm?.consultingFormDisclosure-submit-btn"
                        title="Click here to submit">Submit</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<app-concurrency-warning-modal *ngIf="consultingService.concurrentUpdateAction"
    [sectionName]="consultingService.concurrentUpdateAction"
    (closePage)="cancelConcurrency()"></app-concurrency-warning-modal>

<!-- Unsaved Changes confirmation Modal -->
<app-confirmation-modal [modalName]="'consultingForm-unsaved-changes-modal'" (secondaryBtnAction)="leavePageClicked()"
    [primaryBtnName]="'Stay On Page'" [secondaryBtnName]="'Leave Page'">
    modal header
    <ng-container header>
        <span>Confirmation</span>
    </ng-container>
    modal content
    <div content class="ms-2">
        <p class="fs-14">Do you want to leave the page without saving?</p>
    </div>
</app-confirmation-modal>
<!-- Unsaved Changes confirmation Modal end -->

<app-form-validator [validationList]="validationList"></app-form-validator>
