<div class="" *ngIf="componentData.data.length">
  <p class="text-end mb-1" data-bs-toggle="modal" [attr.data-bs-target]="'#OPA_COMP_UNCOMP'+id">
    <span class="action-button mr-1 mb-2" title="Add new row"><i aria-hidden="true"
        class="fa fa-plus icon-actions"></i>Add Entity</span>
  </p>
  <table class="table table-bordered" aria-describedby="'table showing contents of all user selected entities'">
    <thead class="text-middle table-background">
      <tr>
        <th scope="col" width="42%" rowspan="2">Company/Entity</th>
        <th scope="col" width="25%" rowspan="2"> Nature of Relationships</th>
        <th scope="col" width="10%" rowspan="2"> Compensated/ Uncompensated</th>
        <th scope="col" width="16%" colspan="2" class="text-center"># Number of days per Year</th>
        <th scope="col" width="20%" rowspan="2" class="text-center"> Actions</th>
      </tr>
      <tr>
        <th scope="col" width="8%" class="text-center">Summer</th>
        <th scope="col" width="8%" class="text-center">Academic</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of componentData.data; let index=index">
        <td>
          <div class="bg-white rounded-3 p-2 mt-1">
            <div class="m-0 mb-2 row">
              <span class="align-items-center d-flex">
                <span class="shadow-sm align-items-center d-flex ribbon" [ngClass]="getClassForStatus(data.entityInfo.sfiVersionStatus, data.entityInfo.isRelationshipActive)"
                  tabindex="0">{{getDescriptionForStatus(data.entityInfo.sfiVersionStatus, data.entityInfo.isRelationshipActive)}}</span>
                <span class="entity-title mr-2">
                  <strong tabindex="0" [attr.aria-label]="'entity name'"> {{data.entityInfo?.entityName}} </strong>
                </span>
              </span>
            </div>
            <div class="row mt-3">
              <span class="d-flex align-items-center">
                <span class="fs-14 mx-3"> <span>Country:</span>&nbsp;{{data.entityInfo?.countryName}}</span>
                <span class="relationship-pill border px-3 py-1 rounded-4  mx-3 pill-color">
                  &nbsp;{{data.entityInfo?.relationship}} </span>
                <span class="fs-14 mx-3"> <span>Type:</span> &nbsp;{{data.entityInfo?.entityType}} </span>
              </span>
            </div>
          </div>
        </td>
        <td class="text-middle">
          <p>{{data.natureOfWork}}</p>
        </td>
        <td class="text-middle">
          <p>{{data.isCompensated === 'Y' ? 'Compensated' : 'Uncompensated'}}</p>
        </td>
        <td class="text-middle">{{data.numOfDaysSummer}}</td>
        <td class="text-middle">{{data.numOfDaysAcademic}}</td>
        <td class="text-middle">
          <mat-icon class="mr-2 small-icon" (click)="editEntityItem(data, index)" title="Edit" data-bs-toggle="modal" [attr.data-bs-target]="'#OPA_COMP_UNCOMP'+id">edit</mat-icon>
          <mat-icon class="small-icon" (click)= "compUnCompData = data; deleteIndex = index" data-bs-toggle="modal" [attr.data-bs-target]="'#OPA_COMP_UNCOMP_DELETE'+id"title="Delete">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center p-20" *ngIf="!componentData.data.length">
  <button type="button" class="btn btn-primary fs-15 mb-10" title="View Disclosure" data-bs-toggle="modal" [attr.data-bs-target]="'#OPA_COMP_UNCOMP'+id"
          area-describedby="Click here to add">
          Add Entity
  </button>
  <p> Please click on 'Add Entity' to link compensated/uncompensated activities <p>
</div>

<!-- Add CompUncomp Modal -->
<div aria-hidden="true" aria-labelledby="skippedSchedulesTitle" class="modal fade mySkinDialog"
  data-bs-backdrop="static" id="OPA_COMP_UNCOMP{{id}}" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <div>
              <div class="row mb-2">
                <div class="col-12 mb-2" *ngIf="editIndex == -1">
                  <label for="entity" class="label-text fs-16">Company/Entity</label>
                  <span *ngIf="isDuplicate" class="text-danger ml-2">*Entity already linked </span> 
                  <app-endpoint-search [httpOptions]="entitySearchOptions" [searchOnFocus]="true" class="p-0"
                  (onSelect)="entitySelected($event)"></app-endpoint-search>
                  <div class="help-text">
                    Type in the official name of the business or organization you need to report. Entities to
                    report include foreign, domestic, public or private entities, but not federal agencies.
                </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="bg-light info-card-border rounded-3 mt-2" *ngIf="entityDetails.entityId || editIndex > -1">
                    <div class="mx-2 my-1 d-flex justify-content-between align-items-center">
                      <span class="fw-bold fs-16 me-3">
                        {{entityDetails?.entityName}}
                        <span class="fs-6 ml-2"
                          [ngClass]="entityDetails?.isActive ? 'active' : 'inactive'">{{entityDetails?.isActive
                          ?'Active':'Inactive'}}</span>
                      </span>
                    </div>
                    <div class="mx-1 row pt-1 d-flex align-items-center">
                      <div class="col-3 text-secondary fs-14">
                        <span class="fw-bold me-2"> Country :</span>
                        <span class="fs-14 fw-400">{{entityDetails?.countryName}}</span>
                      </div>
                      <div class="col-6 text-secondary fs-14">
                        <span class="fw-bold me-2">Entity Type :</span>
                        <span class="fs-14 fw-400">{{entityDetails?.entityType}}</span>
                      </div>
                      <div class="col text-secondary fs-14 d-flex align-items-center">
                        <span class="fw-bold me-2">Risk : </span>
                        <span class="ml-2 grey-text fw-normal">
                          <div class="text-color fs-14 d-flex align-items-center">
                            <span class="text-secondary fs-14 mt-3">
                              <span class="text-secondary fs-14"><mat-icon
                                *ngIf="entityDetails?.entityRiskCategory === 'High'"
                                class="invalid material-icons-round">warning</mat-icon>
                            <mat-icon *ngIf="entityDetails?.entityRiskCategory === 'Medium'"
                                class="medium-risk material-icons-round">warning</mat-icon>
                            <mat-icon *ngIf="entityDetails?.entityRiskCategory === 'Low'"
                                class="low-risk material-icons-round">warning</mat-icon>
                            {{entityDetails?.entityRiskCategory}}</span>
                            </span>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <label for="NatureOfRelation" class="label-text fs-14">Nature of Relationships</label>
                  <textarea class="form-control" id="NatureOfRelation" appAutoGrow rows="3" [(ngModel)]="compUnCompData.natureOfWork"></textarea>
                  <div class="help-text">
                    This description is presented in the Relationship section to help you relate this entity
                    to your research projects. Please enter an adequate description of the organization, and
                    of your role with them,to aid both you, and a reviewers' understanding of the
                    association between the entity and work.
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-4">
                  <label for="entity" class="label-text fs-14">Compensated/Uncompensated</label>
                  <select class="form-select form-select fs-14" aria-label="select compensated or Uncompensated" [(ngModel)]= "compUnCompData.isCompensated">
                    <option selected value="Y">Compensated</option>
                    <option value="N">Uncompensated</option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="entity" class="label-text fs-14">Summer</label>
                  <input type="number" class="form-control" [(ngModel)]= "compUnCompData.numOfDaysSummer">
                </div>
                <div class="col-4">
                  <label for="entity" class="label-text fs-14">Academic</label>
                  <input type="number" class="form-control" [(ngModel)]= "compUnCompData.numOfDaysAcademic">
                </div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary fs-15 mr-0" data-bs-dismiss="modal" id="item_add" (click)="clearData()"
          type="button">Cancel
        </button>
        <button *ngIf="editIndex == -1" type="button" class="btn btn-primary fs-15 mr-8" title="View Disclosure" (click)="addRowItem()"
          area-describedby="Click here to add">
          Add
        </button>
        <button  *ngIf="editIndex > -1" type="button" class="btn btn-primary fs-15 mr-8" title="View Disclosure" (click)="updateEntity()"
          area-describedby="Click here to add">
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="skippedSchedulesTitle" class="modal fade mySkinDialog"
  data-bs-backdrop="static" id="OPA_COMP_UNCOMP_DELETE{{id}}" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Confirmation</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to delete {{compUnCompData.entityInfo.entityName}} ?
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary fs-15 mr-0" data-bs-dismiss="modal" id="item_delete" (click)="clearData()"
          type="button">Cancel
        </button>
        <button  ype="button" class="btn btn-primary fs-15" title="View Disclosure" (click)="deleteEntity()"
          area-describedby="Click here to add">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>