<div class="row my-4">
    <ng-container *ngFor="let disclosure of userDashboardService.activeDisclosures">
        <div class="light-dark-text-color col-12 "
            *ngIf="disclosure?.fcoiTypeCode == '1' && disclosure?.versionStatus != 'PENDING'">
            <div class="shadow-sm hovering-card disclosure-card-body-blue border rounded"
                (mouseover)="isFCOIHover = true" (mouseout)="isFCOIHover = false">
                <div class="row me-2">
                    <span class="align-items-center col-9 d-flex">
                        <span
                            class="entity-status shadow-sm align-items-center d-flex mt-3 {{getColorBadges(disclosure)}}">
                            <span>{{disclosure?.coiDisclosureFcoiType.description}}</span></span>
                        <h4 class="mb-0 ml-2"><strong class="fs-15">#{{disclosure?.disclosureNumber}} : FCOI
                                Disclosure</strong></h4>
                    </span>
                    <div class="col-3 mt-2">
                        <span class="label-text me-2 p-0 ">Disclosure Status :</span>
                        <app-no-data-label [valueToShow]="disclosure?.coiConflictStatusType?.description">
                            <span
                                class="{{commonService.getDisclosureConflictBadge(disclosure?.coiConflictStatusType?.conflictStatusCode)}}">{{disclosure?.coiConflictStatusType?.description}}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <div class="border-bottom fs-14 p-3 rounded-bottom-2">
                    <div class="row mb-3 px-3 mt-2">
                        <div *ngIf="disclosure?.fcoiTypeCode!= 1" class="col-12 mb-3">
                            <label for="id" class="label-text">Project :</label>
                            <app-no-data-label
                                [valueToShow]="(disclosure?.fcoiTypeCode==2 && disclosure?.proposalId) || (disclosure?.fcoiTypeCode==3 && disclosure?.awardId)">
                                <span *ngIf="disclosure?.fcoiTypeCode==2" id="id"
                                    class="grey-text">#{{disclosure?.proposalId}} - {{disclosure?.proposalTitle}}</span>
                                <span *ngIf="disclosure?.fcoiTypeCode==3" id="id"
                                    class="grey-text">#{{disclosure?.awardId}} -
                                    {{disclosure?.awardTitle}}</span></app-no-data-label>
                        </div>
                        <div class="col-5">
                            <span class="label-text">Department:</span> <span class="grey-text">
                                #{{disclosure?.unit?.unitDetail}} </span>
                        </div>
                        <div class="col">
                            <span class="label-text">Certification Date :</span>
                            <app-no-data-label [valueToShow]="disclosure?.certifiedAt">
                                <span class="grey-text">{{disclosure?.certifiedAt |dateFormatter}}</span>
                            </app-no-data-label>
                        </div>
                        <div class="col">
                            <span class="label-text me-2 fs-15">Expiration Date :</span>
                            <app-no-data-label [valueToShow]="disclosure?.expirationDate">
                                <span class="grey-text">{{disclosure?.expirationDate | dateFormatter}}</span>
                            </app-no-data-label>
                        </div>
                        <div class="col-3">
                            <span class="fw-bold text-secondary">Disposition Status : </span>
                            <span
                                class="ms-2 {{commonService.getDispositionStatusBadge(disclosure?.coiDispositionStatusType?.dispositionStatusCode)}}">
                                {{disclosure?.coiDispositionStatusType?.description}}</span>
                        </div>

                    </div>
                    <div class="row mb-3 px-3 mt-2">
                        <div *ngIf="disclosure?.fcoiTypeCode== 1" class="col-5">
                            <label for="id" class="label-text">{{disclosure?.disclosureVersionNumber== 1 ?
                                'Description:' : 'Revision Reason:'}}</label>
                            <app-no-data-label [valueToShow]="disclosure?.revisionComment">
                                <span id="id" class="grey-text">{{disclosure?.revisionComment}}</span>
                            </app-no-data-label>
                        </div>
                        <div *ngIf="disclosure?.fcoiTypeCode!= 1" class="col-5">
                            <label for="id" class="label-text">Description :</label>
                            <app-no-data-label [valueToShow]="disclosure?.revisionComment">
                                <span id="id" class="grey-text">{{disclosure?.revisionComment}}</span>
                            </app-no-data-label>
                        </div>
                        <div class="col">
                            <label for="id" class="label-text">Administrator :</label>
                            <app-no-data-label [valueToShow]="disclosure?.adminPersonName">
                                <span id="id" class="grey-text">{{disclosure?.adminPersonName}}</span>
                            </app-no-data-label>
                        </div>
                        <div class="col">
                            <label for="id" class="label-text">Admin Group :</label>
                            <app-no-data-label [valueToShow]="disclosure?.adminGroupName">
                                <span id="id" class="grey-text">{{disclosure?.adminGroupName}}</span>
                            </app-no-data-label>
                        </div>
                        <div class="col-3">
                            <span class="label-text me-2">Review Status :</span> <span
                                class="{{commonService.getReviewStatusBadge(disclosure?.coiReviewStatusType?.reviewStatusCode)}}">{{disclosure?.coiReviewStatusType?.description}}</span>
                        </div>
                    </div>
                </div>
                <div class="align-items-center chin d-flex fs-14">
                    <div class="d-flex col-5">
                        <div class="align-items-center d-flex col-6 fs-14"
                            [ngClass]="disclosure?.numberOfSFI > 0 ? 'cursor-pointer' : '' "
                            [attr.title]="disclosure?.numberOfSFI > 0 ? 'Click to view SFI list' : '' "
                            area-describedby="Click to view SFI list">
                            <strong class="fs-18 me-1 text-blue-color"
                                [ngClass]="disclosure?.numberOfSFI > 0 ? 'cursor-pointer' : '' "
                                [attr.title]="disclosure?.numberOfSFI > 0 ? 'Click to view SFI list' : '' "
                                area-describedby="Click to view SFI list"
                                (click)="setSelectedModuleCode('sfi',disclosure?.disclosureId, disclosure, disclosure?.numberOfSFI);">{{disclosure?.numberOfSFI}}</strong>
                            <div>
                                <label class="label-text margin-top-3px ps-1">
                                    <strong [class.cursor-pointer]="isFCOIHover && disclosure?.numberOfSFI > 0"
                                        [class.text-decoration-underline]="isFCOIHover && disclosure?.numberOfSFI > 0"
                                        (click)="setSelectedModuleCode('sfi',disclosure?.disclosureId, disclosure, disclosure?.numberOfSFI);">
                                        Significant Financial Interest
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class=" col-6 text-secondary fs-14 d-flex ">
                            <ng-container *ngIf="disclosure?.fcoiTypeCode == '1'">
                                <div class="align-items-center col-6 d-flex fs-14"
                                    [ngClass]="disclosure?.numberOfProposals > 0 ? 'cursor-pointer' : '' "
                                    [attr.title]="disclosure?.numberOfProposals > 0 ? 'Click to view Proposal list' : '' "
                                    area-describedby="Click to view Proposal list">
                                    <strong class="fs-18 me-2 text-blue-color"
                                        (click)="setSelectedModuleCode('proposal',disclosure?.disclosureId, disclosure, disclosure?.numberOfProposals);">{{disclosure?.numberOfProposals}}</strong>
                                    <div>
                                        <label class="label-text margin-top-3px">
                                            <strong
                                                [class.cursor-pointer]="isFCOIHover && disclosure?.numberOfProposals > 0"
                                                [attr.title]="disclosure?.numberOfProposals > 0 ? 'Click to view Proposal list' : '' "
                                                area-describedby="Click to view Proposal list"
                                                [class.text-decoration-underline]="isFCOIHover && disclosure?.numberOfProposals > 0"
                                                (click)="setSelectedModuleCode('proposal',disclosure?.disclosureId, disclosure, disclosure?.numberOfProposals);">
                                                Proposals
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="align-items-center col-6 d-flex fs-14"
                                    [ngClass]="disclosure?.numberOfAwards > 0 ? 'cursor-pointer' : '' "
                                    [attr.title]="disclosure?.numberOfAwards > 0 ? 'Click to view Award list' : '' "
                                    area-describedby="Click to view Award list">
                                    <strong class="fs-18 me-2 text-blue-color"
                                        (click)="setSelectedModuleCode('Awards',disclosure?.disclosureId, disclosure, disclosure?.numberOfAwards);">{{disclosure?.numberOfAwards}}</strong>
                                    <div>
                                        <label class="label-text margin-top-3px">
                                            <strong
                                                [class.cursor-pointer]="isFCOIHover && disclosure?.numberOfAwards > 0"
                                                [class.text-decoration-underline]="isFCOIHover && disclosure?.numberOfAwards > 0"
                                                (click)="setSelectedModuleCode('Awards',disclosure?.disclosureId, disclosure, disclosure?.numberOfAwards);">
                                                Awards
                                            </strong>
                                        </label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <div class="col">
                            <div><span class="fw-bold ">Last Updated By : </span>
                                {{disclosure?.updateUserFullName}} On
                                {{disclosure?.updateTimestamp | dateFormatterWithTimeZone:'long'}}</div>
                        </div>
                        <div class="col-auto d-flex justify-content-end mr-7">
                            <button [queryParams]={disclosureId:disclosure.disclosureId}
                                [routerLink]="['/coi/disclosure/summary']"
                                class="align-items-center btn btn-outline-secondary d-flex fs-14"
                                title="Click to view FCOI Disclosure details"
                                [attr.title]="userDashboardService?.activeDisclosures ? 'Click to view FCOI Disclosure details' : 'Click to view Disclosure details'"
                                area-describedby="Click to view FCOI Disclosure details">
                                <mat-icon class="me-1">visibility</mat-icon>
                                View
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<nav class="align-items-center bg-white border d-flex fs-14 fw-bold mt-3 py-1 shadow-sm user-dashboard-nav" *ngIf="!isShowCreate">
    <div (click)="setTab('IN_PROGRESS_DISCLOSURES', dashboardCount?.inProgressDisclosureCount)" class="border-end navigation-icons px-3 py-1" role="button"
        title="Click to view In Progress Disclosures"
        aria-describedby="Click to view In Progress Disclosures">
        <span [class.active]="currentSelected.tab=='IN_PROGRESS_DISCLOSURES'" class="pb-3 active">
            In Progress Disclosures ({{dashboardCount?.inProgressDisclosureCount || 0}})</span>
    </div>
    <div (click)="setTab('APPROVED_DISCLOSURES', dashboardCount?.approvedDisclosureCount)" class="border-end navigation-icons px-3 py-1" role="button"
        title="Click to view Approved Disclosures" aria-describedby="Click to view Approved Disclosures">
        <span [class.active]="currentSelected.tab=='APPROVED_DISCLOSURES'" class="pb-3">Approved
            Disclosures ({{dashboardCount?.approvedDisclosureCount || 0}})</span>
    </div>
    <div (click)="setTab('TRAVEL_DISCLOSURES', dashboardCount?.travelDisclosureCount)" class="border-end navigation-icons px-3 py-1" role="button"
        title="Click to view Travel Disclosures" aria-describedby="Click to view Travel Disclosures">
        <span [class.active]="currentSelected.tab=='TRAVEL_DISCLOSURES'" class="pb-3">Travel
            Disclosures ({{dashboardCount?.travelDisclosureCount || 0}})</span>
    </div>
    <div (click)="setTab('DISCLOSURE_HISTORY', dashboardCount?.disclosureHistoryCount)" class="navigation-icons px-3 py-1" role="button"
        title="Click to view Disclosure History" aria-describedby="Click to view Disclosure History">
        <span [class.active]="currentSelected.tab=='DISCLOSURE_HISTORY'" class="pb-3">Disclosure History</span>
    </div>
</nav> 

<div class="advance-search-area border d-flex mt-2 rounded-1" *ngIf="isShowFilterAndSearch">
    <div class="fs-14 p-3" [class.border-end] = "currentSelected.tab != 'DISCLOSURE_HISTORY'" *ngIf="currentSelected.tab != 'TRAVEL_DISCLOSURES'" [@leftSlideInOut]>
        <span class="fs-14 fw-medium me-2 text-secondary">Filter By Type :</span>
        <span (click)="setFilter('ALL')" [class.filter-active]="currentSelected.filter=='ALL'"
            title="Click to filter by type: All" area-describedby="Click to filter by type: All"
            class="shadow-sm fw-medium px-3 py-1 border rounded-5 bg-white filter-active" role="button">All</span>
        <span (click)="setFilter('FCOI')" [class.filter-active]="currentSelected.filter=='FCOI'"
            title="Click to filter by type: FCOI" area-describedby="Click to filter by type: FCOI"
            class="shadow-sm fw-medium px-3 py-1 border rounded-5 bg-white mx-1" role="button">FCOI</span>
        <span (click)="setFilter('PROJECT')" [class.filter-active]="currentSelected.filter=='PROJECT'"
            title="Click to filter by type: Project" area-describedby="Click to filter by type: Project"
            class="shadow-sm fw-medium px-3 py-1 border rounded-5 bg-white mx-1" role="button">Project</span>
        <span *ngIf="currentSelected.tab == 'DISCLOSURE_HISTORY'"  (click)="setFilter('TRAVEL')" 
            [class.filter-active]="currentSelected.filter=='TRAVEL'"
            title="Click to filter by type: Travel" area-describedby="Click to filter by type: Travel"
            class="shadow-sm fw-medium px-3 py-1 border rounded-5 bg-white" role="button">Travel</span>
        <!--<span (click)="setFilter('OPA')" [class.filter-active]="currentSelected.filter=='OPA'"
            class="shadow-sm fw-medium px-3 py-1 border rounded-5 bg-white mx-1" role="button">OPA</span>-->
    </div>
    <div class="d-flex flex-fill  position-relative" *ngIf="currentSelected.tab !='DISCLOSURE_HISTORY'"
        [class.pl-28]="!searchText" [class.search-area]="isSearchTextHover"
        (mouseover)="isSearchTextHover = true" (mouseout)="isSearchTextHover = false">
        <mat-icon class="fs-25px searchButton"  *ngIf="!searchText">search</mat-icon>
        <input class="advance-search-input border-0 px-4 fs-14 pe-5" id="searchText"
        [placeholder]= "getSearchPlaceHolder()" [class.search-area]="isSearchTextHover"
        type="text" [(ngModel)]="searchText" (ngModelChange)="getDisclosures()">
        <mat-icon class="closeButton" *ngIf="searchText" (click)="resetAndFetchDisclosure()">close</mat-icon>        
    </div>
</div>
<ng-container *ngIf="!isLoading">
    <div [@listAnimation]="filteredDisclosureArray.length">
        <ng-container *ngFor="let disclosure of filteredDisclosureArray ; let index = index; let isLast=last;">
            <div *ngIf="currentSelected.tab !='DISCLOSURE_HISTORY'" class="bg-white hovering-card border mt-2 rounded-1 shadow-sm light-dark-text-color" 
                (mouseover)="isHover[index] = true" (mouseout)="isHover[index] = false" >
                <div class="row mt-2">
                    <div class="col">
                        <span class="d-flex">
                            <span
                                class="entity-status shadow-sm align-items-center d-flex mt-2 {{getColorBadges(disclosure)}}">
                                <span>{{disclosure?.travelDisclosureId? 'Travel' :
                                    disclosure?.fcoiType}}</span>
                            </span>

                            <h4 *ngIf="disclosure.travelDisclosureId" class="mb-0 mt-2 d-flex label-text">
                                <i class="fa fa-user mt-65" aria-hidden="true"></i>
                                <strong class="me-2 ml-2 text-nowrap mt-2">{{disclosure.travellerName}}</strong>
                                <ng-container>
                                <span class="pipe me-1 mt-1"></span>
                                <mat-icon class="fs-2">apartment</mat-icon>
                                <span class="text-nowrap mt-2">Entity :</span>
                                <span class="title-text ml-2 mt-2">{{(readMoreOrLess[index] ? disclosure.travelEntityName : disclosure.travelEntityName | slice:0:180)}}
                                        <span *ngIf="!readMoreOrLess[index] && disclosure.travelEntityName?.length>180">...
                                            <a *ngIf="!readMoreOrLess[index]" (click)="readMoreOrLess[index]=true"><span class="readMore fw-500">Read More</span></a>
                                        </span>
                                        <a *ngIf="readMoreOrLess[index]" (click)="readMoreOrLess[index]=false"><span class="readMore ms-1 fw-500">Read Less</span></a>
                                        </span>
                             </ng-container>
                            </h4>

                           <h4 *ngIf="!disclosure.travelDisclosureId" class="mb-0 mt-2 d-flex label-text">
                                <i class="fa fa-user mt-65" aria-hidden="true"></i>
                                <strong class="me-2 ml-2 text-nowrap mt-2">{{disclosure.disclosurePersonFullName}}</strong>
                                <ng-container *ngIf="disclosure.fcoiTypeCode === '2' || disclosure.fcoiTypeCode === '3'" class="ms-1">
                                    <span class="pipe me-2 mt-1"></span>
                                    <img *ngIf="disclosure?.fcoiTypeCode==2" class="proposal-icon mt-1" src="{{deployMap}}assets/images/proposal.png">
                                    <img *ngIf="disclosure?.fcoiTypeCode==3" class="award-icon mt-1" src="{{deployMap}}assets/images/award.png">
                                    <span class="text-nowrap mt-2">Project :</span>
                                    <span class="title-text ml-2 mt-2"> {{(readMoreOrLess[index] ? modalHeader(disclosure) : modalHeader(disclosure) | slice:0:180)}}
                                    <span *ngIf="!readMoreOrLess[index] && modalHeader(disclosure)?.length>180">...
                                        <a *ngIf="!readMoreOrLess[index]" (click)="readMoreOrLess[index]=true"><span class="readMore fw-500">Read More</span></a>
                                    </span>
                                    <a *ngIf="readMoreOrLess[index]" (click)="readMoreOrLess[index]=false"><span class="readMore ms-1 fw-500">Read Less</span></a>
                                    </span>
                                </ng-container>  
                            </h4>
                        </span>
                    </div>
                    <div class="col-3 ms-3 p-1 align-items-center mt-2">
                        <label for="status" class="label-text">Disclosure Status :</label>
                        <app-no-data-label [valueToShow]="disclosure?.conflictStatus"
                            *ngIf="!disclosure?.travelDisclosureId">
                            <span
                                class="ms-3 {{commonService.getDisclosureConflictBadge(disclosure?.conflictStatusCode)}}"
                                id="status">{{disclosure?.conflictStatus}}
                            </span>
                        </app-no-data-label>
                        <app-no-data-label [valueToShow]="disclosure?.travelDisclosureStatusDescription"
                            *ngIf="disclosure?.travelDisclosureId">
                            <span
                                class="ms-3 {{commonService.getDisclosureConflictBadge(disclosure?.travelDisclosureStatusCode)}}"
                                id="status">{{disclosure?.travelDisclosureStatusDescription}}
                            </span>
                        </app-no-data-label>
                    </div>
                </div>
                <div class="border-bottom">
                    <ng-container *ngIf="!disclosure?.travelDisclosureId">
                        <div class="row mb-3 p-013 mt-2">
                            <div class="col-5">
                                <span class="label-text">Department:</span> <span class="grey-text">
                                    #{{disclosure?.unit?.unitDetail}} </span>
                            </div>
                            <div class="col">
                                <span class="label-text me-2">Certification Date :</span>
                                <app-no-data-label [valueToShow]="disclosure?.certifiedAt">
                                    <span class="grey-text">{{disclosure?.certifiedAt |dateFormatter}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col">
                                <span class="label-text me-2 fs-15">Expiration Date :</span>
                                <app-no-data-label [valueToShow]="disclosure?.expirationDate">
                                    <span class="grey-text">{{disclosure?.expirationDate | dateFormatter}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col-3">
                                <span class="label-text me-2">Disposition Status :</span> <span
                                    class="{{commonService.getDispositionStatusBadge(disclosure?.dispositionStatusCode)}} ">{{disclosure?.dispositionStatus}}</span>
                            </div>
                        </div>
                        <div class="row mb-3 p-013 mt-2">
                            <div *ngIf="disclosure?.fcoiTypeCode== 1" class="col-5">
                                <label for="id" class="label-text">{{disclosure?.disclosureVersionNumber== 1 ?
                                    'Description:' :
                                    'Revision Reason:'}}</label>
                                <app-no-data-label [valueToShow]="disclosure?.reviseComment">
                                    <span id="id" class="grey-text">{{disclosure?.reviseComment}}</span>
                                </app-no-data-label>
                            </div>
                            <div *ngIf="disclosure?.fcoiTypeCode!= 1" class="col-5">
                                <label for="id" class="label-text">Description :</label>
                                <app-no-data-label [valueToShow]="disclosure?.reviseComment">
                                    <span *ngIf="disclosure?.reviseComment" class="fs-14">
                                        <span class="word-break-all new-line-property mx-2"
                                            *ngIf="!isReadMore && disclosure?.reviseComment?.length > 175; else showFullInfo">
                                            <span class="grey-text mt-2">{{(disclosure?.reviseComment | slice:0:175)}}</span>
                                            <span (click)="isReadMore = !isReadMore" class="hand-cursor"><span>... <u class="bold">Read
                                                        More</u>
                                                    <i aria-hidden="true"></i></span>
                                            </span>
                                        </span>
                                        <ng-template #showFullInfo>
                                            <span class="word-break-all new-line-property grey-text">{{disclosure?.reviseComment}}</span>
                                            <span class="hand-cursor mt-2 fw-medium" *ngIf="disclosure?.reviseComment?.length > 175"
                                                (click)="isReadMore = !isReadMore" aria-hidden="true">
                                                <span><u class="bold"> Read Less</u>
                                                    <i aria-hidden="true"></i></span>
                                            </span>
                                        </ng-template>
                                    </span>
                                </app-no-data-label>
                            </div>
                            <div class="col">
                                <label for="id" class="label-text">Administrator :</label>
                                <app-no-data-label [valueToShow]="disclosure?.administrator">
                                    <span id="id" class="grey-text">{{disclosure?.administrator}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col">
                                <label for="id" class="label-text">Admin Group :</label>
                                <app-no-data-label [valueToShow]="disclosure?.adminGroupName">
                                    <span id="id" class="grey-text">{{disclosure?.adminGroupName}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col-3">
                                <label for="review-status" class="label-text">Review Status :</label>
                                <app-no-data-label [valueToShow]="disclosure?.reviewStatus">
                                    <span
                                        class="ms-3 {{commonService.getReviewStatusBadge(disclosure?.reviewStatusCode)}}"
                                        id="review-status">{{disclosure?.reviewStatus}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="disclosure?.travelDisclosureId">
                        <div class="row mb-3 p-013 mt-2">
                            <div class="col-4 d-flex">
                                <label for="department-id" class="label-text col-custom-travel">Department :</label>
                                <span class="col">
                                    <app-no-data-label id="department-id" class=""
                                        [valueToShow]="disclosure?.travelEntityName">
                                        <span class="grey-text text-slice"
                                            [title]="disclosure?.unitDetails?.unitDetail">#{{disclosure?.unitDetails?.unitDetail}}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                            <div class="col d-flex">
                                <label for="destination" class="label-text">Destination :</label>
                                <span class="col">
                                    <app-no-data-label id="destination"
                                        [valueToShow]="disclosure?.travelCity || disclosure?.travelCountry || disclosure?.travelState">
                                        <span class="grey-text text-slice"
                                            title="{{disclosure?.travelCity}}, {{disclosure?.travelCountry || disclosure?.travelState}}">
                                            {{disclosure?.travelCity}}<span
                                                *ngIf="disclosure?.travelCity && (disclosure?.travelCountry || disclosure?.travelState)">,</span>
                                            {{disclosure?.travelCountry || disclosure?.travelState}}
                                        </span>
                                    </app-no-data-label>
                                </span>
                            </div>
                            <div class="col">
                                <label for="travel-amount" class="label-text">Actual Amount :</label>
                                <app-no-data-label id="travel-amount" [valueToShow]="disclosure?.travelAmount">
                                    <span class="grey-text">${{disclosure?.travelAmount}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col-3">
                                <label for="review-status" class="label-text">Document Status :</label>
                                <app-no-data-label id="review-status"
                                    [valueToShow]="disclosure?.documentStatusDescription">
                                    <span
                                        [class.text-dark]="commonService.getDocumentStatusBadge(disclosure?.documentStatusCode) === 'warning'"
                                        class="ms-3 {{commonService.getDocumentStatusBadge(disclosure?.documentStatusCode)}}">{{disclosure?.documentStatusDescription}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <div class="row mb-3 p-013 mt-2">
                            <div class="col-4">
                                <label for="traveller" class="label-text">Traveller :</label>
                                <app-no-data-label id="traveller" [valueToShow]="disclosure?.travellerTypeDescription">
                                    <span
                                        class="grey-text">{{formatTravellerTypes(disclosure?.travellerTypeDescription)}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col">
                                <label for="certify-date" class="label-text">Certification Date :</label>
                                <app-no-data-label id="certify-date" [valueToShow]="disclosure?.travelSubmissionDate">
                                    <span class="grey-text">{{disclosure?.travelSubmissionDate |
                                        dateFormatter}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col">
                                <label for="expiration-date" class="label-text">Expiration Date :</label>
                                <app-no-data-label id="expiration-date" [valueToShow]="disclosure?.expirationDate">
                                    <span class="grey-text">{{disclosure?.expirationDate |
                                        dateFormatter}}</span>
                                </app-no-data-label>
                            </div>
                            <div class="col-3">
                                <label for="review-status" class="label-text">Review Status :</label>
                                <app-no-data-label id="review-status" [valueToShow]="disclosure?.reviewDescription">
                                    <span
                                        [class.text-dark]="commonService.getTravelReviewStatusBadge(disclosure?.reviewStatusCode) === 'warning'"
                                        class="ms-3 {{commonService.getTravelReviewStatusBadge(disclosure?.reviewStatusCode)}}">{{disclosure?.reviewDescription}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="d-flex row align-items-center py-2 px-3">
                    <ng-container *ngIf="!disclosure?.travelDisclosureId">
                        <div class="col-5 d-flex">
                            <div class="align-items-center col-6 d-flex fs-14"
                                [ngClass]="disclosure?.noOfSfi > 0 ? 'cursor-pointer' : '' "
                                [attr.title]="disclosure?.noOfSfi > 0 ? 'Click to view SFI list' : '' "
                                area-describedby="Click to view SFI list">
                                <strong class="fs-18 me-2 text-blue-color"
                                    [attr.title]="disclosure?.noOfSfi > 0 ? 'Click to view SFI list' : '' "
                                    area-describedby="Click to view SFI list"
                                    (click)="setSelectedModuleCode('sfi',disclosure?.coiDisclosureId, disclosure, disclosure?.noOfSfi);">
                                    <label [class.cursor-pointer]="disclosure?.noOfSfi">{{disclosure?.noOfSfi || 0}}
                                    </label>
                                </strong>
                                <!-- <strong (click)="openRelationModal()">SFIs</strong> -->
                                <div>
                                    <label class="label-text margin-top-3px">
                                        <strong [ngClass]="disclosure?.noOfSfi > 0 ? 'cursor-pointer' : '' "
                                            [class.text-decoration-underline]="isHover[index]&& disclosure?.noOfSfi > 0"
                                            (click)="setSelectedModuleCode('sfi',disclosure?.coiDisclosureId, disclosure, disclosure?.noOfSfi);">
                                            Significant Financial Interest
                                        </strong>
                                    </label>
                                </div>
                            </div>
                            <div class=" text-secondary col-6 fs-14 d-flex">
                                <ng-container *ngIf="disclosure?.fcoiTypeCode == '1'">
                                    <div class="align-items-center col-6 d-flex fs-14"
                                        [ngClass]="disclosure?.noOfProposal > 0 ? 'cursor-pointer' : '' "
                                        [attr.title]="disclosure?.noOfProposal > 0 ? 'Click to view Proposal list' : '' "
                                        area-describedby="Click to view Proposal list">
                                        <strong class="fs-18 me-2 text-blue-color"
                                            [attr.title]="disclosure?.noOfProposal > 0 ? 'Click to view Proposal list' : '' "
                                            area-describedby="Click to view Proposal list"
                                            (click)="setSelectedModuleCode('proposal',disclosure?.coiDisclosureId, disclosure, disclosure?.noOfProposal);">{{disclosure?.noOfProposal}}</strong>
                                        <div>
                                            <label class="label-text margin-top-3px">
                                                <strong
                                                    [ngClass]="disclosure?.noOfProposal > 0 ? 'cursor-pointer' : '' "
                                                    [class.text-decoration-underline]="isHover[index] && disclosure.noOfProposal > 0"
                                                    (click)="setSelectedModuleCode('proposal',disclosure?.coiDisclosureId, disclosure, disclosure?.noOfProposal);">
                                                    Proposals
                                                </strong>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="align-items-center col-6 d-flex fs-14"
                                        [ngClass]="disclosure?.noOfAward > 0 ? 'cursor-pointer' : '' "
                                        [attr.title]="disclosure?.noOfAward > 0 ? 'Click to view Award list' : '' "
                                        area-describedby="Click to view Award list">
                                        <strong class="fs-18 me-2 text-blue-color"
                                            (click)="setSelectedModuleCode('Awards',disclosure?.coiDisclosureId, disclosure, disclosure?.noOfAward);">{{disclosure?.noOfAward}}</strong>
                                        <div>
                                            <label class="label-text margin-top-3px">
                                                <strong [ngClass]="disclosure?.noOfAward > 0 ? 'cursor-pointer' : '' "
                                                    [class.text-decoration-underline]="isHover[index] && disclosure.noOfAward > 0"
                                                    (click)="setSelectedModuleCode('Awards',disclosure?.coiDisclosureId, disclosure, disclosure?.noOfAward);">
                                                    Awards
                                                </strong>
                                            </label>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col d-flex align-items-center">
                            <label class="label-text" for="last-updated">Last Updated By : </label>
                            <span id="last-updated" class="grey-text">{{disclosure?.updateUserFullName}} On
                                {{disclosure?.updateTimeStamp
                                | dateFormatterWithTimeZone: 'long'}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="disclosure?.travelDisclosureId">
                        <div class="col-4 d-flex">
                            <label for="purpose" class="label-text col-custom-travel">Purpose :</label>
                            <span class="col">
                                <app-no-data-label id="purpose" [valueToShow]="disclosure?.travelPurpose">
                                    <span class="grey-text text-slice"
                                        [title]="disclosure?.travelPurpose">{{disclosure?.travelPurpose}}</span>
                                </app-no-data-label>
                            </span>
                        </div>
                        <div class="col">
                            <label for="start-date" class="label-text">Start Date :</label>
                            <app-no-data-label id="start-date" [valueToShow]="disclosure?.travelStartDate">
                                <span class="grey-text">{{disclosure?.travelStartDate |
                                    dateFormatterWithTimeZone}}</span>
                            </app-no-data-label>
                        </div>
                        <div class="col ms-2">
                            <label for="end-date" class="label-text">End Date :</label>
                            <app-no-data-label id="end-date" [valueToShow]="disclosure?.travelEndDate">
                                <span class="grey-text">{{disclosure?.travelEndDate | dateFormatterWithTimeZone}}</span>
                            </app-no-data-label>
                        </div>
                    </ng-container>
                    <div class="d-flex mr-2 justify-content-end px-0"
                        [ngClass]="disclosure.travelDisclosureId? 'col-3' : 'col-auto'">
                        <!-- <button *ngIf="disclosure?.fcoiTypeCode == '1' && disclosure?.conflictStatusCode == '3'"
                    class="mx-2 align-items-center btn btn-outline-primary d-flex fs-14">
                    <mat-icon class="me-1">restart_alt</mat-icon>
                    Revise
                </button> -->
                        <button (click)="redirectToDisclosure(disclosure)"
                            aria-describedby="Click to view Disclosure details"
                            class="d-flex align-items-center btn btn-outline-primary  fs-14"
                            [attr.title]="disclosure?.travelDisclosureId ? 'Click to view Travel disclosure details' : disclosure?.fcoiTypeCode!= 1 ? 'Click to view Project Disclosure details' : 'Click to view FCOI Revision disclosure details'">
                            <mat-icon class="me-1">visibility</mat-icon>
                            View
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="currentSelected.tab=='DISCLOSURE_HISTORY'">
                    <app-disclosure-history-card [disclosure]="disclosure" [isLastElement]="isLast"></app-disclosure-history-card>
            </div>    
        </ng-container>
    </div>
    <app-no-information *ngIf="!filteredDisclosureArray.length && !isShowCreate"></app-no-information>
    <!-- Pagination -->
    <div [hidden]="isLoading" *ngIf="(filteredDisclosureArray.length > 0 && currentSelected.tab != 'DISCLOSURE_HISTORY')"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
        <nav aria-label="pagination section" class="pagination justify-content-end">
            <app-pagination (pageChangeEvent)="actionsOnPageChange($event)"
                [totalCount]="result.totalServiceRequest"></app-pagination>
        </nav>
    </div>
    <ng-container *ngIf="isShowCreate">
        <div class="card create-card">
            <div class="border d-flex pi-info-text mx-4 mt-4 rounded-1 position-relative">
                <span data-bs-toggle="tooltip" title="Relationship Help Text." data-bs-placement="top"
                    class="d-inline-block">
                    <mat-icon role="img"
                        class="mat-icon notranslate me-2 info-icon ng-tns-c100-5 material-icons mat-ligature-font mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="font">info</mat-icon>
                </span>
                <div class="info-text fs-14">
                    <div class="mt-2">
                        <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>To create a new FCOI disclosure,
                        click on the <strong>Create FCOI Disclosure</strong> button below or the quick link provided.
                    </div>
                    <!-- <div class="mt-2">
                            <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>To create a new OPA disclosure, click on the <strong>Create OPA disclosure</strong> button below or the quick link provided.
                        </div> -->
                    <div class="mt-2">
                        <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>To create new Project /Travel
                        disclosure, click on the corresponding quick link provided.
                    </div>
                </div>
            </div>
            <span class="d-flex create-buttons">
                <button class="btn btn-primary btn-sm d-block mt-4 fs-15 mx-2" (click)="openFCOIModal('FCOI')">
                    Create FCOI Disclosure
                </button>
                <!-- <button class="btn btn-primary btn-sm d-block mt-4 fs-15 mx-2" (click)="openFCOIModal('FCOI')">
                        Create OPA Disclosure
                    </button> -->
            </span>
        </div>
    </ng-container>
</ng-container>


<app-count-modal *ngIf="isShowCountModal" [disclosureId]="currentDisclosureId" [projectType]="disclosure?.fcoiType"
    [disclosureNumber]="currentDisclosureNumber" [disclosureType]="disclosureType" [moduleCode]="selectedModuleCode"
    [inputType]="inputType" [personId]="personId" [disclosureSequenceStatusCode]="disclosureSequenceStatusCode"
    (closeModal)="closeModalEvent($event)" (viewSlider)="viewSlider($event)" [fcoiTypeCode]="fcoiTypeCode" [disclosures]="disclosures">
</app-count-modal>

<ng-container *ngIf="showSlider">
    <app-coi-slider (closeSlider)="validateSliderClose()" [slider_z_index] = "1057"
    [overlay_z_index] = "1056" [isStickyContentAvailable] = "false" [isHeaderContentAvailable] = "false"
    [sliderName]="'disclosure-entity-view-2-slider'">
        <!-- modal content -->
        <ng-container content>
            <app-entity-details [entityId]="entityId"></app-entity-details>
        </ng-container>
    </app-coi-slider>
</ng-container>
