.entity-status {
  color: white;
  width: 90px;
  height: 27px;
  background: #54BF5B;
  position: relative;
  left: -26px;
  top: -8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 50px 50px 0;

  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid #01830A;
    border-left: 6px solid transparent;
    top: -6px;
    left: 0;
  }
}

// .card-body {
//   padding: 21.5px;
// }

.card-header,
.card-footer {
  background-color: #ebf3fb;
}

.relationship {
  color: #7e8b8f;
  padding: 2px 12px;
  background-color: #fffaea;
  border-end-end-radius: 5rem;
  border-start-end-radius: 5rem;
  position: relative;
  left: -12px;
  top: -21px;
  font-weight: 500 !important;
  border: 2px solid #f3dca4 !important;
  font-size: 16px;
  width: 15rem;
}

.card-header {
  height: 44px;

}

.action-bar {
  position: relative;
  top: -7px;
  left: -8px;
}

.action-btn {
  background-color: white;
  width: 120px;
  height: 30px;
  color: #7c868f !important;
  border: 2px solid #d3cccc;
  border-radius: 0px;
  &:hover{
    border: 2px solid #007DEC;
    color: #007DEC !important;
  }
  &:focus{
    border: 2px solid #007DEC;
    color: #007DEC !important;
  }
}

.icon-size {
  height: 14px;
  position: relative;
  top: 2px;
  right: 3px;
}


.back-ward {
  position: relative;
  color: #7c868f;
  display: contents;
  &:hover {
    color: #007DEC;
  }
}

.inactive {
  color: black;
  background-color: #dbdbdb;
  &:before {
    content: "";
    border-bottom: 6px solid #949494;
  }
}

.toggle-header-btn {
  width: 30px;
  color: #A64040;
  height: 30px;
  background-color:  #fff5f5 !important;
  mat-icon {
    transform: scale(1.2);
  }
}

h1 {
  position: relative;
  bottom: .4rem;
  right: 2rem;
}

.fw-medium {
  position: relative;
  bottom: 1px;
  color: #7c868f;
  left: 6px;
}
