<div class="modal fade mySkinDialog" tabindex="-1" id="manpower-person-more-details-modal" tabindex="-1" role="dialog"
  aria-labelledby="manpowerPersonMoreDetails-" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <div>
            <h2 *ngIf="awardData?.award?.awardId == null" title="[Untitled]" class="title-primary fs-20">
              <span *ngIf="!_commonData.awardTitle.title">[Untitled]</span>
              <span *ngIf="_commonData.awardTitle.title">{{_commonData.awardTitle.title}}</span>
            </h2>
            <h2 *ngIf="awardData?.award?.awardId != null" title="{{awardData?.award?.awardNumber}}:{{awardData?.award?.title}}"
              class="title-primary fs-20 text-justify">
              #{{awardData?.award?.awardNumber}}:{{_commonData.awardTitle.title}}
            </h2>

          </div>
          <h5 class="modal-title mt-3">Manpower Details of
            <span *ngIf="resourceModalDetails?.resourceDetails?.fullName">
            #<span
              *ngIf="resourceModalDetails?.resourceDetails?.personId">{{resourceModalDetails?.resourceDetails?.personId}}</span>
            <span
              *ngIf="!resourceModalDetails?.resourceDetails?.personId">{{resourceModalDetails?.resourceDetails?.rolodexId}}</span>:
            {{resourceModalDetails?.resourceDetails?.fullName}}</span>
          <span *ngIf="!resourceModalDetails?.resourceDetails?.fullName"><i>Unassigned</i></span>
            <span class="badge badge-danger">[CONFIDENTIAL]</span>
            <span class="ml-5">
              <i class="fa fa-clock-o text-primary mr-1" aria-hidden="true"></i>
              <label>Project Period: </label>
              <span>
                {{_commonData?.beginDate | dateFormatter}} -
                {{_commonData?.finalExpirationDate | dateFormatter}}
              </span>
            </span>
            <span class="ml-3">
              <i class="fa fa-user text-primary mr-1" aria-hidden="true"></i>
              <label>Lead PI: </label>
              <span>
                {{awardData?.award?.principalInvestigator}}
              </span>
            </span>
          </h5>
        </div>

        <button id="manpower-person-more-details-close" type="button" class="close" data-dismiss="modal"
          aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body add-resource-container">
        <div class="gridSkin ">
          <div class="row row-cols-5">

            <div class="col">
              <label class="d-block">Position ID</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.positionId ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.positionId ? resourceModalDetails?.resourceDetails?.positionId : 'No Position Id'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Person ID</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.personId ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.personId ? resourceModalDetails?.resourceDetails?.personId : 'No Person Id'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Cost Allocation %</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.costAllocation ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.costAllocation ? resourceModalDetails?.resourceDetails?.costAllocation : 'No Cost Allocation %'}}</span>
            </div>
            <div class="col">
              <label class="d-block">Committed Amount</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.committedCost ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.committedCost ? resourceModalDetails?.resourceDetails?.committedCost : 'No Committed Amount'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Adjusted Committed Amount</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.adjustedCommittedCost ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.adjustedCommittedCost ? resourceModalDetails?.resourceDetails?.adjustedCommittedCost :'No Adjusted Committed Amount'}}
              </span>
            </div>
          </div>


          <div class="row row-cols-5">
            <div class="col">
              <label class="d-block">Charge Start Date</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.chargeStartDate ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.chargeStartDate ? (resourceModalDetails?.resourceDetails?.chargeStartDate | dateFormatter) : 'No Charge Start Date'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Charge End Date</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.chargeEndDate ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.chargeEndDate ? (resourceModalDetails?.resourceDetails?.chargeEndDate| dateFormatter) : 'No Charge End Date'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Charge Duration</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.chargeDuration ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.chargeDuration ? resourceModalDetails?.resourceDetails?.chargeDuration : 'No Charge Duration'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Hire Date</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.manpower?.hireDate ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.manpower?.hireDate ? (resourceModalDetails?.resourceDetails?.manpower?.hireDate| dateFormatter)  : 'No Hire Date'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Contract End Date</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.manpower?.contractEndDate ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.manpower?.contractEndDate ? (resourceModalDetails?.resourceDetails?.manpower?.contractEndDate| dateFormatter) : 'No Contract End Date'}}
              </span>
            </div>
          </div>

          <div class="row row-cols-5">
            <div class="col">
              <label class="d-block">Home Department</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.department ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.department ? resourceModalDetails?.resourceDetails?.department : 'No Home Department'}}
              </span>
            </div>

            <div class="col">
              <label class="d-block">Job Profile</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.manpowerJobProfileType ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.manpowerJobProfileType ? resourceModalDetails?.resourceDetails?.manpowerJobProfileType.description : 'No Job Profile'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">RISE Status</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.manpowerPositionStatus ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.manpowerPositionStatus ? resourceModalDetails?.resourceDetails?.manpowerPositionStatus.description : 'No RISE Status'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Manpower Type</label>
              <span [ngClass]="resourceModalDetails?.manpowerType?.description ? '' : 'noDataExists'">
                {{resourceModalDetails?.manpowerType?.description ? resourceModalDetails?.manpowerType?.description : 'No Manpower Type'}}
              </span>
            </div>
            <div class="col">
              <label class="d-block">Person Status</label>
              <span class="noDataExists" *ngIf="!resourceModalDetails?.resourceDetails?.personStatus">
                No Person Status
              </span>
              <span *ngIf="resourceModalDetails?.resourceDetails?.personStatus">
                {{resourceModalDetails?.resourceDetails?.personStatus == 'A' ? 'Active' : 'Inactive'}}
              </span>
            </div>
          </div>
          <div class="row row-col-5" *ngIf="resourceModalDetails?.isNewHire">
            <div class="col">
              <label class="d-block">Resource Unique ID</label>
              <span class="noDataExists" *ngIf="!resourceModalDetails?.resourceDetails?.resourceUniqueId">
                No Resource Unique ID
              </span>
              <span *ngIf="resourceModalDetails?.resourceDetails?.resourceUniqueId">
                {{resourceModalDetails?.resourceDetails?.resourceUniqueId}}
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="d-block">Comments</label>
              <span [ngClass]="resourceModalDetails?.resourceDetails?.description ? '' : 'noDataExists'">
                {{resourceModalDetails?.resourceDetails?.description ? resourceModalDetails?.resourceDetails?.description : 'No Comments'}}
              </span>
            </div>
          </div>

          <div class="fw-600 f-13 ml-3 mt-5" *ngIf="!resourceModalDetails?.isNewHire &&  resourceModalDetails?.category == 'Staff'">
            <span class="modal-title">Current & Future Manpower Allocation</span>
            <hr>
          </div>

          <div class="card card-table-box rounded-0 mt-1" *ngIf="!resourceModalDetails?.isNewHire && resourceModalDetails?.category == 'Staff'">
            <div class="card-content">
              <div class="card-body">
                <div *ngIf="manpowerAllocation?.length">
                  <table class="table tableSkin table-bordered grid2 mb-0">
                    <thead>
                      <tr class="header-border  text-center">
                        <th style="width: 20%" scope="col" id="entity-name">
                          <span class="hand-cursor" title="WBS Number">WBS Number</span>
                        </th>
                        <th style="width: 20%" scope="col" id="relation">
                          <span class="hand-cursor" title="Cost Element">Cost Element</span>
                        </th>
                        <th style="width: 10%" scope="col" id="Date-of-Creation">
                          <span class="hand-cursor" title="PI Name">PI Name</span>
                        </th>

                        <th style="width: 10%" scope="col">
                          <span class="hand-cursor" title="Charge Start Date">Charge Start Date</span>
                        </th>
                        <th style="width: 10%" scope="col">
                          <span class="hand-cursor" title="Charge End Date">Charge End Date</span>
                        </th>
                        <th scope="col" style="width: 10%" title="Cost Allocation %">Cost Allocation
                          %</th>
                        <th style="width: 10%" scope="col" title="Status">Status</th>
                        <th style="width: 10%" scope="col" title="Navigation">Navigation</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of manpowerAllocation; let i = index" class="pull-up  text-center mt-1">
                        <td>{{item?.wbsNumber}}</td>
                        <td>{{item?.costElement?.description}}</td>
                        <td>{{item?.piName}}</td>
                        <td>{{item?.chargeStartDate ? (item.chargeStartDate | dateFormatter) : ''}}</td>
                        <td>{{item?.chargeEndDate ? (item.chargeEndDate | dateFormatter) : ''}}</td>
                        <td>{{item?.costAllocation}}</td>
                        <td>{{item?.status}}</td>
                        <td class="p-0">
                          <ng-container *ngIf="item?.awardNumber == awardData?.award?.awardNumber">This Award</ng-container>
                          <ng-container *ngIf="item?.awardNumber != awardData?.award?.awardNumber">
                            <i class="fa fa-eye pointer mx-2" aria-hidden="true" (click)="navigateToAward(item?.awardId)"></i>
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="no-data-container" *ngIf="!manpowerAllocation?.length">
                  <span class="no-data-icon-outer">
                    <div class="no-data-icon">
                      <i aria-hidden="true" class="fa fa-file-o"></i>
                      <i aria-hidden="true" class="fa fa-times-circle-o"></i>
                    </div>
                  </span>
                  <h4>There is no Manpower Allocation found.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>