.separator {
    border: .5px solid #c7c7c7;
    margin: 1px 0;
}

.btn-outline-secondary {
    font-size: 0.875rem;
    min-width: 5em;
    padding: .5rem 1rem;
    height: 35px;
}

.action-buttons {
    height: 24px;
    padding: 0.3px 1px;
    margin-top: 0px
}

.widget-container {
    max-height: 400px;
    overflow: auto;
}

.textUnderline {
    text-decoration: none;
}

.navigation-icons .active {
    padding-bottom: 4px;
    border-bottom: 2px solid #007DEC;
    color: #007DEC;
}

.user-dashboard-nav {
    min-height: 42px;
    color: #7c7c7c;
}

.active {
    color: black !important;
    border-bottom: 3px solid #007DEC;
    padding: 5px 11px;
    font-size: 16px;
    font-weight: bold;
}

.inActive {
    color: #48647f;
    font-size: 15px;
    padding: 5px 11px;
    font-weight: bold;
}

.listMargin {
    margin-top: -4px
}

.row-hover:hover {
    background-color: #f5f5f5;
}

.tabSwitch {
    display: inline-block;
}

.sub-Tabs{
    color: #443737 !important;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    cursor: pointer;
}

.border-nav {
    width: max-content;
    position: relative;
    top: 0px;
    right: 15px;
  }
  
  .navigation-title {
    .active {
      color: #007DEC;
      margin-bottom: -0.2rem !important;
      font-weight: bold;
      position: relative;
      bottom: 5px;
    }
  }
  
  .navigation-icons {
    .active {
      border-bottom: 3px solid #007DEC;
      color: #007DEC;
      background-color: #e6f3ff !important;
      box-shadow: 2px 3px 11px 1px rgba(0,0,0,.17);
    }
  }
  
  .nav-options:hover {
    background-color: #e6f3ff !important;
    box-shadow: 2px 3px 11px 1px rgba(0,0,0,.17);
  }
  
  .user-dashboard-nav {
    min-height: 40px;
  }
  
  .btn-position {
    position: relative;
    bottom: 5px;
  }
  
  .border-nav {
    width: max-content;
    position: relative;
    top: 0px;
    right: 15px;
  }

  .header-color {
    background-color: white;
  }

  .tab-hover:hover {
    background-color: #e7f0f2;
}