<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-open-button" data-bs-toggle="modal"
    data-bs-target="#coiCountsViewModal"></button>

    <div class="modal fade mySkinDialog modal-xl" data-bs-backdrop="static" id="coiCountsViewModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title fs-16" title="{{ showFullTitle() }}">{{modalHeader()}}</h4>
              <button type="button" class="btn-close" title="Close"  data-bs-dismiss="modal" aria-label="Close" (click)="closeCountModal()"></button>
            </div>
            <div class="modal-body" *ngIf="moduleCode === 8 && inputType === 'DISCLOSURE_TAB'">
                <div class="p-0 w-100 widget-container table-responsive fs-14">
                    <table class="table align-middle" *ngIf="coiFinancialEntityDetails.length > 0">
                        <caption class="sr-only">List of SFIs</caption>
                        <thead class="sticky-top header-color">
                            <tr class="header-border">
                                <th>Entity Name</th>
                                <th>Country</th>
                                <th>Entity Type</th>
                                <th>Start Date of Involvement</th>
                                <th>End Date of Involvement</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-hover" *ngFor="let item of coiFinancialEntityDetails">
                                <td>
                                    <span *ngIf="item?.coiEntity?.entityName">
                                        <span class="word-break-all new-line-property mx-2"
                                            *ngIf="!isEntityNameRead && item?.coiEntity?.entityName?.length > 50; else showFullInfo">
                                            <span class="mt-2">{{(item?.coiEntity?.entityName |
                                                slice:0:50)}}</span>
                                            <span (click)="isEntityNameRead = !isEntityNameRead"
                                                class="hand-cursor"><span class="fw-medium">... <u>Read
                                                        More</u>
                                                    <i aria-hidden="true"></i></span>
                                            </span>
                                        </span>
                                        <ng-template #showFullInfo>
                                            <span
                                                class="word-break-all new-line-property">{{item?.coiEntity?.entityName}}</span>
                                            <span class="hand-cursor mt-2 fw-medium"
                                                *ngIf="item?.coiEntity?.entityName?.length > 50"
                                                (click)="isEntityNameRead = !isEntityNameRead" aria-hidden="true">
                                                <span class="fw-medium"><u> Read Less</u>
                                                    <i aria-hidden="true"></i></span>
                                            </span>
                                        </ng-template>
                                    </span>
                                </td>
                                <td> <app-no-data-label [valueToShow]="item?.coiEntity?.country?.countryName"></app-no-data-label></td>
                                <td> <app-no-data-label [valueToShow]="item?.coiEntity?.entityType?.description"></app-no-data-label></td>
                                <td> <app-no-data-label [valueToShow]="item?.involvementStartDate"><span>{{ item?.involvementStartDate |dateFormatter }}</span></app-no-data-label></td>
                                <td> <app-no-data-label [valueToShow]="item?.involvementEndDate"><span>{{ item?.involvementEndDate |dateFormatter }}</span></app-no-data-label>
                                    <td><button class="align-items-center btn-primary-icon d-flex fs-16 m-0 py-1 px-2 action-icons"
                                        title="View SFI" aria-label="Click to view SFI details"
                                        (click)="viewSliderEmit(true, item?.personEntityId)">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-data-container" *ngIf="coiFinancialEntityDetails.length == 0">
                    <span class="no-data-icon-outer">
                        <div class="no-data-icon">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <h4>There is no information in this section.</h4>
                </div>
            </div>
            <div class="modal-body" *ngIf="moduleCode === 3 || moduleCode === 1">
                <nav class="d-flex fw-bold border-bottom">
                    <div class="text-secondary cursor-pointer d-flex tab-hover">
                        <span title="Click to view Proposals" class="r-title px-2 py-2 fw-500" (click)='currentModalTab="Proposal"; switchTableData()'
                            [class.active]="currentModalTab == 'Proposal'">
                            {{inputType === 'SFI_TAB' ? 'Proposals related to this SFI' : 'Proposals'}}
                        </span>
                    </div>
                    <div class="text-secondary cursor-pointer d-flex tab-hover" (click)='currentModalTab = "Award"; switchTableData()'>
                        <span title="Click to view Awards" class="r-title px-2 py-2 fw-500"
                            [class.active]="currentModalTab == 'Award'">
                            {{inputType === 'SFI_TAB' ? 'Awards related to this SFI' :
                            'Awards'}}
                        </span>
                    </div>
                </nav>
                <div class="p-0 w-100 widget-container table-responsive fs-14">
                    <table class="table align-middle" *ngIf="tableArray.length>0">
                        <caption class="sr-only">List of Awards/Proposal</caption>
                        <thead class="sticky-top header-color">
                            <tr class="header-border">
                                <th style="width: 20%;" scope="col">Title</th>
                                <th style="width: 12%;" scope="col">Principal Investigator</th>
                                <th style="width: 12%;" scope="col">Lead Unit</th>
                                <th style="width: 15%;" scope="col">Sponsor</th>
                                <th style="width: 13%;" scope="col">Prime Sponsor</th>
                                <th style="width: 15%;" scope="col">Conflict Status</th>
                                <th style="width: 1%;" scope="col">Actions</th></tr>
                        </thead>
                        <tbody>
                            <tr class="row-hover" *ngFor="let name of tableArray;let index = index">
                                <td>#{{name?.moduleItemId}}:
                                    <span *ngIf="!isReadMore[index] && name?.title?.length > 50; else showFullInfo">
                                        <span class="word-break-all new-line-property">{{(name?.title | slice:0:50)}}</span>
                                        <span (click)="isReadMore[index] = !isReadMore[index]" class="fw-medium hand-cursor">... <u>Read more</u></span>
                                    </span>
                                    <ng-template #showFullInfo>
                                        <span class="word-break-all new-line-property">{{name?.title}}</span>
                                        <span *ngIf="name?.title?.length > 50"
                                              (click)="isReadMore[index] = !isReadMore[index]" aria-hidden="true"
                                              class="hand-cursor fw-medium ms-1"><u>Read Less</u>
                                        </span>
                                    </ng-template></td>
                                <td>{{name?.principalInvestigator}}</td>
                                <td>{{name?.unitNumber}} - {{name?.unitName}}</td>
                                <td>{{name.sponsor}}</td>
                                <td><app-no-data-label [valueToShow]="name.primeSponsor"></app-no-data-label></td>
                                <td>
                                    <app-no-data-label [valueToShow]="name.conflictStatus">
                                         <span *ngIf="name.conflictStatus">
                                            <span class="{{getDisclosureConflictBadge(name.conflictStatusCode)}}"></span>
                                            <span class="badgeFont"> {{name.conflictStatus}} </span>
                                        </span>
                                    </app-no-data-label>
                                </td>
                                <td *ngIf="currentModalTab == 'Proposal'">
                                    <button class="btn-primary-icon p-1 action-icons" aria-label="Click to view proposal details"
                                        (click)="openProjectMoreDetails(currentModalTab, name.moduleItemId)">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                                <td *ngIf="currentModalTab == 'Award'">
                                    <button class="btn-primary-icon p-1 action-icons" aria-label="Click to view award details"
                                        (click)="openProjectMoreDetails(currentModalTab, name.moduleItemId);">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-data-container" *ngIf="tableArray.length == 0">
                    <span class="no-data-icon-outer">
                        <div class="no-data-icon">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <h4>There is no information in this section.</h4>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-outline-secondary" id="count-modal-close-btn" data-bs-dismiss="modal"
               type="button" title="Cancel"(click)="closeCountModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
