<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-open-button" data-bs-toggle="modal"
    data-bs-target="#coiCountsViewModal"></button>

<div class="modal modal-coi fade mySkinDialog" id="coiCountsViewModal" tabindex="-1" role="dialog"
    aria-labelledby="skippedSchedulesTitle" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{modalHeader()}}</h4>
                <button type="button" data-bs-dismiss="modal" class="btn-close fs-12" id="req-doc-popup-dismiss-btn"
                    aria-label="Close" (click)="closeCountModal()">
                </button>
            </div>
            <div class="modal-body" *ngIf="moduleCode === 8 && inputType === 'DISCLOSURE_TAB'">
                <div class="p-0 w-100 widget-container">
                    <table class="tableSkin" *ngIf="coiFinancialEntityDetails.length > 0">
                        <caption class="sr-only">List of SFIs</caption>
                        <thead class="sticky-top">
                            <tr class="header-border">
                                <th>Entity Name</th>
                                <th>Country</th>
                                <th>Entity Type</th>
                                <th>Start Date of Involvement</th>
                                <th>End Date of Involvement</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-hover" *ngFor="let item of coiFinancialEntityDetails">
                                <td>{{ item?.coiEntity?.entityName }}</td>
                                <td>
                                    <app-no-data-label
                                        [valueToShow]="item?.coiEntity?.country?.countryName"></app-no-data-label>
                                </td>
                                <td>
                                    <app-no-data-label
                                        [valueToShow]="item?.coiEntity?.entityType?.description"></app-no-data-label>
                                </td>
                                <td>
                                    <app-no-data-label [valueToShow]="item?.involvementStartDate">
                                        <span>{{ item?.involvementStartDate |dateFormatter }}</span>
                                    </app-no-data-label>
                                </td>
                                <td>
                                    <app-no-data-label [valueToShow]="item?.involvementEndDate">
                                        <span>{{ item?.involvementEndDate |dateFormatter }}</span>
                                    </app-no-data-label>
                                <td>
                                    <button class="align-items-center btn-primary-icon d-flex fs-16 m-0 py-1"
                                        title="View SFI" aria-label="Edit Organization"
                                        (click)="viewSliderEmit(true, item?.personEntityId)">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-data-container" *ngIf="coiFinancialEntityDetails.length == 0">
                    <span class="no-data-icon-outer">
                        <div class="no-data-icon">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <h4>There is no information in this section.</h4>
                </div>
            </div>
            <div class="modal-body" *ngIf="moduleCode === 3 || moduleCode === 1">
                <nav class="border-nav bg-white border br-bottom rounded-0 d-flex fs-15 fw-bold ml-15 shadow-sm user-dashboard-nav">
                    <div class="text-secondary navigation-icons border-end cursor-pointer nav-options d-flex">
                        <span title="Click to view Proposals" class="r-title px-3 py-3 fw-500" (click)='currentModalTab="Proposal";switchTableData()'
                            [class.active]="currentModalTab == 'Proposal'">
                            {{inputType === 'SFI_TAB' ? 'Proposals related to this
                                    SFI' :
                                    'Proposals'}}
                        </span>
                    </div>
                    <div class="text-secondary navigation-icons border-end cursor-pointer nav-options d-flex" (click)='currentModalTab = "Award"; switchTableData()'>
                        <span title="Click to view Awards" class="r-title px-3 py-3 fw-500"
                            [class.active]="currentModalTab == 'Award'">
                            {{inputType === 'SFI_TAB' ? 'Awards related to this SFI' :
                            'Awards'}}                        
                        </span>
                    </div>
                </nav>
                <div class="p-0 w-100 widget-container">
                    <table class="tableSkin" *ngIf="tableArray.length>0">
                        <caption class="sr-only">List of Awards/Proposal</caption>
                        <thead class="sticky-top">
                            <tr class="header-border">
                                <th class="title-width">Title</th>
                                <th class="pi-width">Principal Investigator</th>
                                <th class="leadunit-width">Lead Unit</th>
                                <th class="sponsor-width">Sponsor</th>
                                <th class="primesponsor-width">Prime Sponsor</th>
                                <th class="conflictStatus-width">Conflict Status</th>
                                <th class="action-width">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-hover" *ngFor="let name of tableArray">
                                <td>#{{name?.moduleItemId}}: {{name?.title}}</td>
                                <td>{{name?.principalInvestigator}}</td>
                                <td>{{name?.unitName}} - {{name?.unitNumber}}</td>
                                <td>{{name.sponsor}}</td>
                                <td>{{name.primeSponsor}}</td>
                                <td>
                                        <span class="px-2 py-2" *ngIf="name.conflictStatus">
                                            <span
                                            class="{{getDisclosureConflictBadge(name.conflictStatusCode)}}"></span>
                                        <span class="badgeFont"> {{name.conflictStatus}} </span>
                                        </span>
                                </td>
                                <td *ngIf="currentModalTab == 'Proposal'">
                                    <button class="btn-primary-icon d-flex p-2 m-0" aria-label="Edit Organization"
                                        (click)="openProjectMoreDetails(currentModalTab, name.moduleItemId)">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                                <td *ngIf="currentModalTab == 'Award'">
                                    <button class="btn-primary-icon d-flex p-2 m-0" aria-label="Edit Organization"
                                        (click)="openProjectMoreDetails(currentModalTab, name.moduleItemId);">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="no-data-container" *ngIf="tableArray.length == 0">
                    <span class="no-data-icon-outer">
                        <div class="no-data-icon">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </span>
                    <h4>There is no information in this section.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary mx-3" id="req-attachment-close-btn"
                    (click)="closeCountModal()">Close</button>
            </div>
        </div>
    </div>
</div>
