
<div #defineRelationOverlay class="overlay">
<div class="slider-base">
  <app-slider-close-btn (closeAction)="hideSfiNavBar($event)"></app-slider-close-btn>
  <div class="slider-container">
      <div class="relationship-details-box card" id="relationship-details-box">
        <div class="col-12 d-flex">
          <span class="active-ribbon shadow-sm align-items-center d-flex ps-2"><span class="px-2">{{selectedProject?.moduleCode == 3 ? 'Proposal' : 'Award'}}</span></span>
          <p class="entity-title" *ngIf="selectedProject?.moduleCode == 3">
              <span class="fw-600 fs-16">{{selectedProject?.moduleItemId}} - {{selectedProject?.title}} </span>
          </p>
          <p class="entity-title" *ngIf="selectedProject?.moduleCode == 1">
            <span class=" fw-600 fs-16">#{{selectedProject?.moduleItemKey}} - {{selectedProject?.title}} </span>
          </p>
        </div>
        <div class="row m-2">
          <div class="col-4">
            <label class="label-text">Principal Investigator :</label>
            <span class="ml-2 grey-text">{{selectedProject?.principalInvestigator}}</span>
          </div>
          <div class="col-8">
            <label class="label-text">Sponsor :</label>
            <span class="ml-2 grey-text">{{selectedProject?.sponsor}}</span>
          </div>
          <div class="col-4">
            <label class="label-text">Period :</label>
            <span class="ml-2 grey-text">{{selectedProject?.startDate | dateFormatter}} - {{selectedProject?.endDate | dateFormatter}}</span>
          </div>
          <div class="col-8">
            <label class="label-text">Prime Sponsor :</label>
          <span *ngIf="selectedProject?.primeSponsor" class="ml-2 grey-text">{{selectedProject?.primeSponsor}}</span>
          <span *ngIf="!selectedProject?.primeSponsor" class="noDataExists">--No Data--</span>
          </div>
          <div class="col-4">
            <label class="label-text">{{selectedProject?.moduleCode == 3 ? 'Proposal' : 'Award'}} Status : </label>
            <span class="ml-2 grey-text">{{selectedProject?.moduleStatus}}</span>
          </div>
          <div class="col-8">
            <label class="label-text">Lead Unit :</label>
          <span class="ml-2 grey-text" *ngIf="selectedProject?.unitName">{{selectedProject?.unitNumber}} - {{selectedProject?.unitName}}</span>
          <span *ngIf="!selectedProject?.unitName" class="noDataExists">No Lead Unit exist</span>
          </div>
        </div>
      </div>
      <div class="relationship-info card d-flex grey-info" *ngIf="isEditMode">
        <span data-bs-toggle="tooltip" title="Update your conflict status." data-bs-placement="top" class="d-inline-block ng-tns-c100-5">
          <mat-icon role="img" class="mat-icon notranslate me-2 info-icon ng-tns-c100-5 material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">info</mat-icon>
        </span>
        <div class="info-text fs-14">
          <div>
            <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>For marking all your SFI conflict status/ relationship description use "Apply and Save".
          </div>
          <div>
            <i class="fa fa-angle-double-right mr-2" aria-hidden="true"></i>For marking individual SFI conflict status/ relationship description use "Save".
          </div>
        </div>
      </div>
      <div class="relationship-sfi-header card">
        <div class="row m-0">
          <div title="List of SFIs" class="col-4 fs-14 border-end" [ngClass] = "!isEditMode ? 'p-10' : '' ">
              <div class="fw-600">Significant Financial Interest</div>
          </div>
          <div class="col-2 fs-14 border-end" [ngClass] = "!isEditMode ? 'p-10' : ''">
            <span class="mandatory fw-600">*</span>
             <span title="List of COI status" class="fw-600">COI Status</span>
             <div [class.mt-2]="isEditMode" *ngIf="isEditMode">
              <select id="COI_Status_dropdown" [(ngModel)]="coiStatusCode" class="form-select form-control"
              [ngClass] ="coiValidationMap.has('coiStatus') ? 'is-invalid d-block' : ''">
                <option [value]=null>--Select--</option>
                <option [value]="status.projectConflictStatusCode" *ngFor="let status of coiStatusList">{{status?.description}}</option>
              </select>
            </div>
            <div>
              <span class="invalid-feedback fw-400" *ngIf="coiValidationMap.has('coiStatus')">
                {{coiValidationMap.get('coiStatus')}}
              </span>
            </div>
          </div>
          <div class="fs-14 border-end" [ngClass] = "isEditMode ? 'col' : 'col-6 p-10'">
            <span class="mandatory fw-600">*</span>
            <span class="fw-600">Define Project - SFI Relation</span>
            <textarea *ngIf="isEditMode" class="form-control comment-text-box textarea-height mt-2" id="coi_description"
            [(ngModel)]="coiDescription" appAutoGrow  appLengthValidator rows="1"
            [ngClass] ="coiValidationMap.has('coiDescription') ? 'is-invalid d-block' : ''"
            placeholder="Provide your description here" [limit]=2000 spellcheck="false"></textarea>
            <span class="invalid-feedback fw-400" *ngIf="coiValidationMap.has('coiDescription')">
              {{coiValidationMap.get('coiDescription')}}
            </span>
          </div>
          <div class="col-auto fs-14 mt-27"  *ngIf="isEditMode">
            <button type="button" class="btn btn-primary btn-sm fs-14" id="apply common coi status and description and save" title="Click to apply for all SFIs  and save" (click)="openSaveAllConfirmationModal()">Apply & Save</button>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let test of entityProjectDetails; let i = index">
        <div class="relationship-sfi-data row m-0" [class.white-bg]="i%2==0" [class.border-bottom]="i==entityProjectDetails.length-1" [class.border-top]="i==0">
            <div class="col-4 fs-14 border-end">
             <div class="table-text my-4">
              {{test?.personEntity?.coiEntity?.entityName?.length > 100 ? (test?.personEntity?.coiEntity?.entityName | slice:0:100)+'...' : test?.personEntity?.coiEntity?.entityName}}
             </div>
            </div>
            <div class="col-2 fs-14 border-end">
              <select [(ngModel)]="test.projectConflictStatusCode"
              class="form-select form-control mt-3" 
              [ngClass] ="coiTableValidation.has('save-status'+i) ? 'is-invalid d-block' : ''"
              [disabled]="!isEditMode">
              <option value=null>--Select--</option>
              <option [value]="status.projectConflictStatusCode" *ngFor="let status of coiStatusList; let i = index">
                  {{status?.description}}</option>
              </select>
              <div>
                <span class="invalid-feedback" *ngIf="coiTableValidation.has('save-status'+i)">
                  {{coiTableValidation.get('save-status'+i)}}
                </span>
              </div>
            </div>
            <div class="col fs-14 border-end" [class.col-6]="!isEditMode">
              <textarea  class="form-control comment-text-box textarea-height mt-3" id="main-panel-comnt"
              appAutoGrow [(ngModel)]="test.disclComment.comment"
              [disabled]="!isEditMode" rows="1" appLengthValidator
              [ngClass] ="coiTableValidation.has('save-description'+i) ? 'is-invalid d-block' : ''"
              placeholder="Provide your description here" [limit]=2000 spellcheck="false"></textarea>
              <span class="invalid-feedback" *ngIf="coiTableValidation.has('save-description'+i)">
                {{coiTableValidation.get('save-description'+i)}}
              </span>
            </div>
            <div class="col-auto fs-14" *ngIf="isEditMode" >
              <button title="Click to save for individual SFI" type="button" class="btn btn-primary btn-sm fs-14 my-3 ml-11" id="save {{test?.personEntity?.coiEntity?.entityName}} coi status and description" (click)="saveSingleEntity(i, test)"
              >Save</button>
            </div>
        </div>
      </ng-container>
  </div>
</div>
</div>

<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-clear-all-button" data-bs-toggle="modal" data-bs-target="#clearConfirmationModal"></button>
<div class="modal fade" id="clearConfirmationModal" tabindex="-1" aria-labelledby="clearConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-16" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Click to close Project -SFI slider"></button>
      </div>
      <div class="modal-body fs-14">
        <p>Do you want to clear all the data entered?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary fs-14" (click)="clearAll()" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-save-all-button" data-bs-toggle="modal" data-bs-target="#applyToAllConfirmationModal"></button>
<div class="modal fade" id="applyToAllConfirmationModal" tabindex="-1" aria-labelledby="applyToAllConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-16" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fs-14">Do you want to update all your Project - SFI relations?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary w-14" data-bs-dismiss="modal" (click)="clearValues()">No</button>
        <button type="button" class="btn btn-primary fs-14" (click)="applyToAll()" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-sm" hidden=true id="hidden-single-clear-button" data-bs-toggle="modal" data-bs-target="#singleClearConfirmationModal"></button>
<div class="modal fade" id="singleClearConfirmationModal" tabindex="-1" aria-labelledby="singleClearConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-16" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-14">
        <p>Do you want to clear the data of <span class="fw-600"> {{entityProjectDetails && entityProjectDetails[clearIndex] && entityProjectDetails[clearIndex]?.personEntity?.coiEntity?.entityName}} </span> values?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary fs-14" (click)="clearSingleEntity()" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
