.info-icon {
    color: #6f7395;
    cursor: pointer;
}

.noDataExists {
    color: #9e9e9e !important;
}

.keyboard-backspace {
    transform: rotateY(180deg);
}

@media (min-width: 1200px) {
    .border-prev-nxt {
        border-left: 1px solid #0000002d;
    }
}

@media (max-width: 1199px) {
    .border-prev-nxt {
        border-top: 1px solid #0000002d;
        border-left: 0 !important;
    }
}