<ng-container>
  <app-coi-slider (closeSlider)="validateProjectSfiSliderOnClose()" [elementId]="'relationship-details'">
    <ng-container content>
      <div class="card mb-2" id="relationship-details-body" tabindex="-1">
        <div class="row mx-0 w-100">
          <div class="col-lg px-0">
            <div class="row">
              <div class="col-12">
                <div class="d-flex">
                  <span
                  class="active-ribbon shadow-sm align-items-center d-flex {{getColorBadges(selectedProject?.moduleCode)}}"
                  [attr.aria-label]="selectedProject?.moduleCode == 3 ? 'Proposal' : 'Award'">{{selectedProject?.moduleCode
                  == 3 ? 'Proposal' : 'Award'}}</span>
                <span class="mt-2">
                  <span *ngIf="selectedProject?.moduleCode == 3" class="coi-text-darker fs-16">
                    {{selectedProject?.moduleItemId}} - {{!isReadMore ? (selectedProject?.title?.length > 60 ? (selectedProject?.title | slice:0:59) : selectedProject?.title) :
                    selectedProject?.title}}
                    <span *ngIf="selectedProject?.title?.length > 60" (click)="isReadMore = !isReadMore" class="link-primary fs-14 fw-600" (keydown.enter)="isReadMore = !isReadMore"
                      tabindex="0" role="link" [attr.aria-label]="selectedProject?.title?.length > 60 && isReadMore ?'Click here to Read Less' : 'Click here to Read More'"
                      [title]="selectedProject?.title?.length > 60 && isReadMore ?'Click here to Read Less' : 'Click here to Read More'"
                      [id]="'link-proposal-moduleItemId'">{{selectedProject?.title?.length > 60 && isReadMore ?'Read Less' : '...Read More'}}</span>
                  </span>
                  <span *ngIf="selectedProject?.moduleCode == 1" class="coi-text-darker fs-16">
                    #{{selectedProject?.moduleItemKey}} - {{!isReadMore ? (selectedProject?.title.length > 60 ? (selectedProject?.title | slice:0:59) : selectedProject?.title) : selectedProject?.title }}
                    <span tabindex="0" *ngIf="selectedProject?.title?.length > 60" (click)="isReadMore = !isReadMore" class="link-primary fs-14 fw-600" (keydown.enter)="isReadMore = !isReadMore"
                      tabindex="0" role="link" [attr.aria-label]="selectedProject?.title?.length > 60 && isReadMore ?'Click here to Read Less' : 'Click here to Read More'"
                      [title]="selectedProject?.title?.length > 60 && isReadMore ?'Click here to Read Less' : 'Click here to Read More'" 
                      [id]="'link-award-moduleItemKey'">{{selectedProject?.title?.length > 60 && isReadMore ?'Read Less' : '...Read More'}}</span>
                  </span>
                </span>
                </div>
              </div>
            </div>
            <div class="row p-3 fs-14">
              <div class="col-md-6 col-xl-3 mb-2">
                <label for="" class="coi-text-dark d-block">{{selectedProject?.reporterRole}}</label>
                <span class="coi-text-light">{{selectedProject?.principalInvestigator}}</span>
              </div>
              <div class="col-md-6 col-xl-3 mb-2">
                <label for="" class="coi-text-dark d-block">Project Role</label>
                <span class="coi-text-light">{{selectedProject?.reporterRole}}</span>
              </div>
              <div class="col-md-6 col-xl-3 mb-2">
                <label for="" class="coi-text-dark d-block">Period</label>
                <span class="coi-text-light">{{selectedProject?.startDate | dateFormatter}} - {{selectedProject?.endDate
                  | dateFormatter}}</span>
              </div>
              <div class="col-md-6 col-xl-3 mb-2">
                <label for="" class="coi-text-dark d-block">Sponsor</label>
                <span class="coi-text-light">{{selectedProject?.sponsor}}</span>
              </div>
              <div class="col-md-6 col-xl-3 mb-md-2 mb-xl-0">
                <label for="" class="coi-text-dark d-block">Lead Unit</label>
                <span [ngClass]="selectedProject?.unitName ? 'coi-text-light': 'noDataExists'">{{selectedProject?.unitName ?
                  commonService.getPersonLeadUnitDetails(selectedProject): 'No Lead Unit exist'}}</span>
              </div>
              <div class="col-md-6 col-xl-3 mb-md-2 mb-xl-0">
                <label for="" class="coi-text-dark d-block">{{selectedProject?.moduleCode == 3 ? 'Proposal' : 'Award'}}
                  Status</label>
                <span class="coi-text-light">{{selectedProject?.moduleStatus}}</span>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="" class="coi-text-dark d-block">Prime Sponsor</label>
                <span
                  [ngClass]="selectedProject?.primeSponsor ? 'coi-text-light': 'noDataExists'">{{selectedProject?.primeSponsor
                  ?
                  selectedProject?.primeSponsor :'--No Data--'}}</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-xl-center align-items-center border-prev-nxt col-md-12 col-xl-2 p-md-2 p-xl-3">
            <div class="row w-100 ps-md-3 ps-xl-0">
              <div class="col-auto">
                <span class="d-flex align-items-center mt-md-1 mt-xl-0 f-13 fw-600 text-gray-600">{{currentRelation + 1}}
                  of {{relationList?.length}}
                  <span class="ms-2" title="Navigate to previous or next projects." data-bs-toggle="tooltip"
                    data-bs-placement="top">
                    <mat-icon role="img" class="mat-icon info-icon mt-1" aria-hidden="true"
                      data-mat-icon-type="font">info</mat-icon>
                  </span>
                </span>
              </div>
              <div class="d-md-flex d-xl-inline col fs-14 gap-3 px-md-0 px-xl-2">
                <button (click)="goBackStep()" [disabled]="currentRelation == 0" aria-label="Click here to Go to previous"
                  id="btn-perious"
                  [title]="coiService.isRelationshipSaving ? 'Please wait for auto save to finish':'Go to previous'"
                  class="d-flex justify-content-center col my-xl-2 btn btn-outline-secondary w-100 flex-shrink-0 gap-1">
                  <mat-icon>keyboard_backspace</mat-icon>
                  Previous
                </button>
                <button (click)="goToStep()" [disabled]="currentRelation == (relationList?.length - 1)" aria-label="Click here to Go to Next"
                  id="btn-next"
                  [title]="coiService.isRelationshipSaving ? 'Please wait for auto save to finish':'Go to Next'"
                  class="d-flex justify-content-center col btn btn-outline-secondary w-100 flex-shrink-0 gap-1">
                  Next
                  <mat-icon class="keyboard-backspace">keyboard_backspace</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-SFI-conflict-relationship [(isSavingRelation)]="coiService.isRelationshipSaving" [isEditMode]="isEditMode" [coiStatusCode]="coiStatusCode" [coiStatusList]="coiStatusList"
      [entityProjectDetails]="entityProjectDetails" [coiDescription]="coiDescription" [isSlider]="true"
      [selectedProject]="selectedProject" [coiData]="coiData" [clearIndex]="clearIndex" [moduleCode]="moduleCode"></app-SFI-conflict-relationship>
    </ng-container>
  </app-coi-slider>
</ng-container>
