<div class="card quick-link-body">
	<div class="align-items-center bg-white card-header d-flex quick-link-header w-100">
		<h4 class="card-title f-18">Quick Links</h4>
		<span class="ml-3">
			<a class="tooltip"><i aria-hidden="true" class="fa fa-info-circle fa-med hand-cursor"></i>
				<div class="card card-inner p-15 text-left tooltiptext-left info-width">
					<span class="font-cv font-weight-bold">Quick links</span>
				</div>
			</a>
		</span>
	</div>
	<div class="card-body p-0">
		<div class="p-2">
			<div class="col-12">
				<i class="fa fa-plus quick-link mr-2"></i><a class="fs-16 anchor-link ng-tns-c32-34 ng-star-inserted">
					Create FCOI Disclosure
				</a>
			</div>
		</div>
		<div class="p-2">
			<div class="col-12">
				<i class="fa fa-plus quick-link mr-2"></i>
				<a class="fs-16 anchor-link ng-tns-c32-34 ng-star-inserted">
					Create Travel Disclosure
				</a>
			</div>
		</div>
		<div class="p-2">
			<div class="col-12">
				<i class="fa fa-plus quick-link mr-2"></i>
				<a class="fs-16 anchor-link ng-tns-c32-34 ng-star-inserted">
					Create Proposal Disclosure
				</a>
			</div>
		</div>
		<div class="p-2">
			<div class="col-12 d-flex">
				<span class="mr-2"><i class="fa fa-plus quick-link mr-2"></i></span>
				<a class="fs-16 anchor-link ng-tns-c32-34 ng-star-inserted">
					Create Significant Financial Interest
				</a>
			</div>
		</div>
	</div>
</div>