.info-width {
    width: 200px;
}

.quick-link { 
    height: 16px;
    color: #2c77f4 !important;
}

.quick-link-header {
    background: #d0e1ff !important;
}

.quick-link-body {
    background: #e4eeff;
    border: 1px solid #2c77f4;
}
