
.section {
    border: 1px solid #d0d0d0;
}

.section-header {
    background-color: #ebf3fb;
    border-bottom: 1px solid #d0d0d0;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.info {
    background: #F8F8F8;
    border: 1px solid #d0d0d0;
    color: #606060;
    margin: 1.5rem;
    padding: 0.9rem;
    font-size: 1.4rem;
}

.side-info {
    background: #F8F8F8;
    border: 1px solid #d0d0d0;
    color: #606060;
    margin: 1.5rem 0;
    padding: 0.9rem;
    font-size: 1.4rem;
}

.content {
    margin: 1.5rem;
    font-size: 1.4rem;
}

.line {
    min-height: 1px;
    background-color: #aeaeae;
    margin: 0.5rem 0.1rem;
}

.small-icon {
    transform: scale(0.7);
}
