<div #sfiNavOverlay [class.overlay]="sfiService?.isShowSfiNavBar">
  <div @enterAnimation *ngIf="sfiService?.isShowSfiNavBar"
    class="task-right-div card-height d-flex align-items-center">
    <app-slider-close-btn (closeAction)="hideSfiNavBar()"></app-slider-close-btn>
    <div class="tool-kit-body card-height scrollable-table">
      <app-add-sfi *ngIf="sfiService?.isShowSfiNavBar" [coiEntityManageId]="coiEntityManageId" 
      [isEditEntity]="isEditEntity" [isSlider]="true" [changeType]="changeType"
      [disclosureDetails]="disclosureDetails" (emitUpdateEvent)="emitEvent($event)"></app-add-sfi>
    </div>
  </div>
</div>
