.riskbadge {
    top: 0px;
    position: relative;
}

.invalid {
    @extend .riskbadge;
    color: #ff0000;
}

.medium-risk {
    @extend .riskbadge;
    color: #ff8c00;
}

.low-risk {
    @extend .riskbadge;
    color: rgb(26, 172, 62);
}
