.certify-box {
  width: 17px;
  height: 17px;
}

.certify-heading {
  justify-content: space-between;
}

.highlight-node {
  background-color: #e9ffff;
  color: #202c2e;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ded8d8;
  /* cursor: pointer; */
}

.gridSkin {
  color: #6A7980;
}

.custom-margin {
  padding-top: 0px; 
  min-height: 460px; 
  max-width: 964px;
}

.errorMesssage {
  min-height: 200px;
  margin: 43px;
  height: 50px;
  width: 100%;
}

.error-tab {
  height: 41px;
  width: 93%;
}