.certify-box {
  width: 17px;
  height: 17px;
}

.award-icon {
  width: 18px;
  margin-right: 3px;
  color: grey;
  height: 18px;
}

.proposal-icon {
  width: 16px;
  margin-right: 3px;
  color: grey;
  height: 17px;
}

.clickable {
  color:#007DEC;
  cursor: pointer;
  &:hover {
    font-weight: 800;
  }
}

.mat-icon {
  font-size: 1.22rem !important;
}
