<ng-container *ngIf="traniningDetails.length;else noData">
    <div class="card-inner mx-0">
        <div class="p-0 w-100 widget-container table-responsive">
            <table class="table">
                <thead class="sticky-top header-color">
                    <tr class="header-border">
                        <th scope="col" style="width: 60%;">Description</th>
                        <th scope="col">Completion Date</th>
                        <th scope="col">Expiration Date</th>
                        <th scope="col" class="text-center actionThStyle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-hover" *ngFor="let training of traniningDetails">
                        <td>{{training?.trainingDescription}}</td>
                        <td>{{training?.dateAcknowledged | dateFormatter}}</td>
                        <td>{{training?.followupDate | dateFormatter}}</td>
                        <td class="align-items-center d-flex justify-content-center"><button class="btn-primary-icon ms-3"
                            title="View SFI" aria-label="View"
                            (click)="openInFibi(training.personTrainingId)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                    </tr>
                    <tr *ngIf="traniningDetails?.length === 0">
                        <span class="no-data-icon-outer">
                            <div class="no-data-icon">
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                        </span>
                        <h4>There is no information in this section.</h4>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #noData>
        <app-no-information></app-no-information>
</ng-template>