<div class="container-fluid m-2">
  <div class="card">
    <div class="card-header">
      <div class="row d-flex">
        <div class="col-6 d-flex">
          <span class="entity-status shadow-sm align-items-center d-flex ps-2 mt-2"
            [ngClass]="!entityDetails?.isActive?'inactive':''">{{!entityDetails?.isActive?'Inactive':'Active'}}</span>
          <h1 class="m-1 fw-bold"> {{entityDetails?.coiEntity?.coiEntityName}}</h1>
        </div>
        <div class="col-6 align-items-center justify-content-end action-bar mt-1 d-flex">
          <button class="m-1 new-line-property text-secondary fs-14-nav shadow action-btn">
            <mat-icon class="justify-content-center align-items-center fs-4 icon-size">
              mode
            </mat-icon>
            Modify</button>
          <button class="m-1 action-btn new-line-property text-secondary fs-14-nav shadow">
            <mat-icon class="justify-content-center align-items-center fs-4 icon-size">schedule</mat-icon>
            Inactivate
          </button>
          <button class="m-1 action-btn new-line-property text-secondary fs-14-nav shadow">
            <mat-icon class="justify-content-center align-items-center fs-4 icon-size">history </mat-icon>
            History</button>
          <span class="back-ward" (click)="navigateBack()">
            <mat-icon class="justify-content-center align-items-center fs-3"> reply</mat-icon>
            <label class="fw-medium">Back</label>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row d-flex">
        <div class="col-12 d-flex">
          <div class="col-2 d-grid">
            <strong>Entity Type</strong>
            <label class="text-secondary">{{entityDetails?.coiEntity?.entityType?.description !==null? entityDetails?.coiEntity?.entityType?.description: 'No Data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <strong>Country</strong>
            <label class="text-secondary">{{entityDetails?.coiEntity?.country?.countryName !== null?entityDetails?.coiEntity?.country?.countryName:'No Data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <strong>City</strong>
            <label class="text-secondary">{{entityDetails?.coiEntity?.state !== null? entityDetails?.coiEntity?.state:'No Data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <strong>Website</strong>
            <label class="text-secondary">{{entityDetails?.coiEntity?.webUrl !==null? entityDetails?.coiEntity?.webUrl: 'No Data'}}</label>
          </div>
          <div class="col-2 d-grid">
            <strong>Email Address </strong>
            <label class="text-secondary">{{entityDetails?.coiEntity?.emailAddress!==null ? entityDetails?.coiEntity?.emailAddress:'No Data'}}</label>
          </div>
          <div class="col-1 d-grid">
            <strong>Phone Number</strong>
            <label class="text-secondary">{{'1-475-230-2596'=='1-475-230-2596'?'1-475-230-2597':'No Data' }}</label>
          </div>
          <div *ngIf="!isExpanded"
                class="col-8 d-flex toggle-header-btn  bg-white border btn  p-1 rounded-5 shadow-sm more-position">
                <mat-icon (click)="isExpanded=!isExpanded">expand_more</mat-icon>
              </div>
        </div>
        <div *ngIf="isExpanded" class="col-12 d-flex">
          <div class="col-8 d-grid">
            <strong>Address</strong>
            <label class="text-secondary">{{entityDetails?.coiEntity?.addressLine1!== null ? entityDetails?.coiEntity?.addressLine1:'No Data'}}</label>
          </div>
          <div class="col-4 mt-3">
            <label class="text-secondary fw-bold mr-10">Last Updated by :</label>
            <label class="text-secondary ">{{entityDetails?.updateUser}} on {{entityDetails?.updateTimestamp | dateFormatterWithTimeZone:
              'long'}}</label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isExpanded" class="card-footer">
      <div class="relationship fw-bold col-1 shadow-lg">Relationships</div>
      <div class="row">
        <div class="col-12 d-flex">
          <div class="col-2 d-grid">
            <strong>Sponsors Research</strong>
            <label class="text-secondary">Yes</label>
          </div>
          <div class="col-2 d-grid">
            <strong>Start Date of Involvement</strong>
            <label class="text-secondary">{{entityDetails?.involvementStartDate | dateFormatterWithTimeZone}}</label>
          </div>
          <div class="col-4 d-grid">
            <strong>Relationship Type</strong>
            <label class="text-secondary">Yes</label>
          </div>
          <div class="col-2 d-grid">
            <strong>Relationship with</strong>
            <label class="text-secondary">Self/Spouse/Domestic Partner</label>
          </div>
        </div>
        <div class="col">
          <div class="col-12 d-grid mt-3">
            <strong>Relationship with Entity</strong>
            <label class="text-secondary">Serving on Advisory Board</label>
          </div>
          <div class="col-12 d-grid mt-3">
            <strong>Principal Business Area of Entity</strong>
            <label class="text-secondary">Serving on Advisory Board</label>
          </div>
          <div class="col-4 d-grid mt-3">
            <strong>Relationship with Entity</strong>
            <label class="text-secondary">Alexion is focused on developing and delivering life-transforming therapies for patients with ra...
              <a href="">Read More</a></label>
          </div>
          <div class="row">
            <div class="col-12 d-flex">
              <div class="col-4 d-grid mt-3">
                <strong>Relationship of Entity to your University responsibilities</strong>
                <label class="text-secondary">Entity sponsoring Funded Research</label>
              </div>
              <div *ngIf="isExpanded" class="col-8 d-flex toggle-header-btn  bg-white border btn  p-1 rounded-5 shadow-sm less-position">
                <mat-icon (click)="isExpanded=!isExpanded">expand_less</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
