<div class="card mt-3 disclosure-content">
  <div class="align-items-center header-color card-header d-flex">
    <h4 class="card-title f-18"> Action List </h4>
    <span class="ml-3">
      <a class="tooltip"><i aria-hidden="true" class="fa fa-info-circle fa-med hand-cursor"></i>
        <div class="card card-inner p-15 text-left tooltiptext-left info-width">
          <span class="font-cv font-weight-bold">Action List</span>
        </div>
      </a>
    </span>
  </div>
  <div class="card-body p-0 body-scroll">
    <!-- <div class="success-banner success-banner-color p-10 px-3 grey-info">
      <span>
        MIT policy requires that MIT officers, faculty, and staff and others acting
        and other conflicts of interest and ensure that their activities
      </span>
    </div> -->
    <app-coi-review-comments [personId]="commonService.getCurrentUserDetail('personID')"
        [sortOrder]="'desc'" [isAllowModification]="false" [isShowDisclosureInfo]="true">
    </app-coi-review-comments>
  </div>
