<div>
    <div class="px-3" [@fadeInOutHeight]>
        <div *ngIf="isManageEntity" class="row bg-white mx-0 d-flex py-1 pb-2 align-items-center border ">
            <nav class="coi-admin-dash mx-0 borderlist">
                <ul
                    class="header-navigation-links d-flex align-items-center m-0 f-15 cursor-pointer p-0 text-secondary">
                    <li *ngIf="isManageEntity" tabindex="0" class="cursor-pointer"
                        [ngClass]="{'active': activeTabName === 'ALL_ENTITIES'}" role="tab"
                        (keyup.enter)="entityTabName('ALL_ENTITIES')" (keyup.space)="entityTabName('ALL_ENTITIES')"
                        (click)="entityTabName('ALL_ENTITIES')" title="Click to view All Entities"
                        area-describedby="Click to view the list of all entities">All
                        Entities
                    </li>
                    <li class="separator px-0"></li>
                    <li *ngIf="isManageEntity" tabindex="0" class="cursor-pointer"
                        [ngClass]="{'active': activeTabName === 'UNVERIFIED'}" role="tab"
                        (keyup.enter)="entityTabName('UNVERIFIED')" (keyup.space)="entityTabName('UNVERIFIED')"
                        (click)="entityTabName('UNVERIFIED')" title="Click to view Unverified Entities"
                        area-describedby="Click to view the list of all unverified entities">Unverified Entities
                    </li>
                    <li class="separator px-0"></li>
                    <li *ngIf="isManageEntity" tabindex="0" class="cursor-pointer"
                        [ngClass]="{'active': activeTabName === 'HIGH_RISK'}" role="tab"
                        (keyup.enter)="entityTabName('HIGH_RISK')" (keyup.space)="entityTabName('HIGH_RISK')"
                        (click)="entityTabName('HIGH_RISK')"
                        title="Click to view High Risk Entities"
                        area-describedby="Click to view the list of all high risk entities">High Risk Entities
                    </li>
                </ul>
            </nav>
            <div class="align-items-center d-flex justify-content-end">
                <button role="button" class="btn btn-tertiary d-flex align-items-center mt-1 ms-auto fs-14"
                     (click)="toggleAdvanceSearch()" aria-controls="view-advance-search"
                    aria-expanded="false" title="Click here to expand / collapse Advanced Search fields"
                    aria-label="Toggle Advanced Search"><mat-icon class="me-3">tune</mat-icon>
                    Advanced Search
                </button>
                <div class="mx-4">
                    <span class="btn btn-outline-secondary d-flex fs-14 align-items-center px-3" id="add-new-entity"
                        title="Click here to add an entity" area-describedby="Click here to add a new entity"
                        (click)="addNewEntity()"><mat-icon class="add-icon mt-1">add</mat-icon> Add New
                        Entity</span>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12 d-flex mt-1">
                <!-- <div class="col">
        <app-elastic [options]="coiElastic" [placeHolder]="'Entity Name, Country etc.'"
          [uniqueId]="'btn-entity-elastic'" (selectedResult)="redirectToEntity($event)"></app-elastic>
      </div> -->
                <!-- <div  class="ml-15 justify-content-end d-flex mx-3">
        <button class="btn btn-primary fs-13 d-flex align-items-center" id="advanced-search"
          (click)="isViewAdvanceSearch=!isViewAdvanceSearch" aria-controls="view-advance-search" aria-expanded="true"
          aria-label="Toggle Advanced Search"><mat-icon class="add-icon mt-1"
            title="Click here to collapse/un-collapse advanced search"
            area-describedby="Click here to collapse/un-collapse advanced search">tune</mat-icon> Advanced
          Search
        </button>
      </div> -->
            </div>
        </div>
        <div *ngIf="isViewAdvanceSearch" class="card mt-2 border shadow-sm rounded-3" id="view-advance-search" [@topSlideInOut]>
            <div *ngIf="isManageEntity" class="card-body mb-3">
                <div class="form-row row mx-2">
                    <div class="col-3" title="Click to search by Entity name">
                        <label class="fw-bold fs-14 d-block" for="adv-entity-name">Entity</label>
                        <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
                            [httpOptions]="EntitySearchOptions" [placeHolder]="'Type here for entity'"
                            class=" text-secondary fs-13" [uniqueId]="'adv-entity-name'">
                        </app-endpoint-search>
                    </div>
                    <div class="col-3" title="Click to search by Entity Type">
                        <label class="fw-bold fs-14 d-block" for="adv-entity-type">Entity Type</label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'property21')"
                            [options]="entityTypeOptions" [selectedLookUpList]="lookupValues['property21']"
                            class=" text-secondary fs-13" [uniqueId]="'adv-entity-type'">
                        </app-look-up>
                    </div>
                    <div class="col-3" title="Click to search by Country">
                        <label class="fw-bold fs-14 d-block" for="adv-entity-country">Country</label>
                        <app-endpoint-search (onSelect)="selectEntityCountry($event)" [clearField]="advSearchClearField"
                            [httpOptions]="countrySearchOptions" class=" text-secondary fs-13"
                            [placeHolder]="'Type here for entity country'" [uniqueId]="'adv-entity-country'">
                        </app-endpoint-search>
                    </div>
                    <div class="col-3" title="Click to search by Status">
                        <label class="fw-bold fs-14 d-block">Status</label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'property20')"
                            [options]="statusTypeOptions" [selectedLookUpList]="lookupValues['property20']"
                            [externalArray]="entityManagementService.statusCodes" [isExternalArray]="true"
                            class=" text-secondary fs-13" [uniqueId]="'adv-disclosure-type'">
                        </app-look-up>
                    </div>
                    <!-- <div class="col-3">
           <label class="fw-bold fs-14 d-block">Status</label>
            <app-look-up (selectedResult)="onLookupSelect($event, 'property20')" [options]="statusTypeOptions"
              [selectedLookUpList]="lookupValues['property20']" [externalArray]="entityManagementService.statusCodes"
              [isExternalArray]="true" class=" text-secondary fs-13" [uniqueId]="'adv-disclosure-type'">
            </app-look-up>
          </div> -->
                </div>
                <div class="form-row advanced-search-row row mt-4 mx-2">
                    <!-- <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="btn-has-sfi">Has SFI</label>
          <div class="activate-btn align-items-center d-flex">
            <span class="pt-1 fs-13" id="btn-has-sfi" aria-label="Toggle Has Sfi" title="Toggle Has Sfi">
              <a *ngIf="entityManagementService.coiRequestObject.property18" class="pl-2">
                <label class="switch">
                  <input type="checkbox" checked
                    (click)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18"
                    (keypress.enter)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18">
                  <span class="slider round"><small>On</small></span>
                </label>
              </a>
              <a *ngIf="!entityManagementService.coiRequestObject.property18" class="pl-2">
                <label class="switch">
                  <input type="checkbox"
                    (click)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18"
                    (keypress.enter)="entityManagementService.coiRequestObject.property18 = !entityManagementService.coiRequestObject.property18">
                  <span class="slider round"><small class="deactivate-text">Off</small></span>
                </label>
              </a>
            </span>
          </div>
        </div> -->
                    <!-- <div class="col-3">
          <label class="fw-bold fs-14 d-block" for="btn-has-disclosure">Has Disclosure</label>
          <div class="activate-btn align-items-center d-flex">
            <span class="pt-1 fs-13" id="btn-has-disclosure" aria-label="Toggle Has Disclosure"
              title="Toggle Has Disclosure">
              <a *ngIf="entityManagementService.coiRequestObject.property19" class="pl-2">
                <label class="switch"
                  (click)="entityManagementService.coiRequestObject.property19 = !entityManagementService.coiRequestObject.property19">
                  <input type="checkbox" checked>
                  <span class="slider round"><small>On</small></span>
                </label>
              </a>
              <a *ngIf="!entityManagementService.coiRequestObject.property19" class="pl-2">
                <label class="switch"
                  (click)="entityManagementService.coiRequestObject.property19 = !entityManagementService.coiRequestObject.property19">
                  <input type="checkbox">
                  <span class="slider round"><small class="deactivate-text">Off</small></span>
                </label>
              </a>
            </span>
          </div>
        </div> -->
                    <div class="col-3" title="Click to search by Risk Level">
                        <label class="fw-bold fs-14 d-block" for="adv-entity-type">Risk</label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'property22')"
                            [options]="riskLevelTypeOptions" [selectedLookUpList]="lookupValues['property22']"
                            class=" text-secondary fs-13" [uniqueId]="'adv-entity-type'">
                        </app-look-up>
                    </div>
                        <div *ngIf="activeTabName !== 'UNVERIFIED'" class="col-3" title="Click to search by verification">
                            <label class="fw-bold fs-14 d-block">Verification</label>
                            <app-look-up (selectedResult)="onLookupSelect($event, 'property24')" [options]="verificationTypeOptions"
                                [selectedLookUpList]="lookupValues['property24']" [externalArray]="entityManagementService.statusCode"
                                [isExternalArray]="true" class=" text-secondary fs-13" [uniqueId]="'adv-disclosure-type'">
                            </app-look-up>
                        </div>
                    <div class="col-6 d-flex justify-content-end align-items-end">
                        <button class="btn btn-outline-secondary  fs-14 py-2 mx-3" id="btn-clear"
                            (click)="clearAdvancedSearch()" title="Click here to clear all the fields"
                            area-describedby="Click here to clear all the fields">Clear</button>
                        <button class="btn btn-primary fs-14" id="btn-search" (click)="entityManagementService.coiRequestObject.currentPage = 1;advancedSearch()"
                            title="Click here to Initiate search"
                            area-describedby="Click here to get the search results with/without fields">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-entity-list  [entityActiveTabName]="activeTabName" (entityListResult)="addEntityList($event)"
    (modifyEntityId)="selectedEntity($event); isViewAdvanceSearch = false" (navNextPage)="navigateNextPage($event)"
    [entityList]="entityList" [resultCount]="resultCount"></app-entity-list> -->
    <div class="sort-div border mt-2" *ngIf="isShowEntityList && isManageEntity && entityList.length">
        <span class="fs-14 fw-medium me-2 text-secondary">Sort By : </span>
        <button tabindex="0" *ngFor="let sortSection of sortSectionsList"
            (keydown.enter)="sortResult(sortSection.variableName)" (click)="sortResult(sortSection.variableName)"
            [class.filter-active]="isActive(sortSection.variableName)" title="Click to sort by {{sortSection.fieldName}}"
            area-describedby="Click to sort by {{sortSection.fieldName}}"
            class="shadow-sm fw-medium pl-15 pr-05 py-2 px-3 fs-13 border rounded-5 bg-white ml-5 mr-2" role="button">
            <div class="d-inline-flex align-items-center">
                <label class="cursor-pointer">{{sortSection.fieldName}}</label>
                <mat-icon class="arrow selected-arrow" [@slideDown]
                    *ngIf="entityManagementService.coiRequestObject.sort[sortSection.variableName]=== 'asc' ">arrow_downward</mat-icon>
                <mat-icon class="arrow selected-arrow" [@slideUp] [@scaleOut]
                    *ngIf="entityManagementService.coiRequestObject.sort[sortSection.variableName]=== 'desc' ">arrow_upward</mat-icon>
            </div>
        </button>
    </div>
        <ng-container *ngIf="isShowEntityList && !isLoading">
            <div *ngIf="entityList.length; else noData" [@listAnimation]="entityList.length">
                <div *ngFor="let entityListData of entityList;let i=index">
                    <div class="border bg-white rounded-3 p-2 mt-2 hovering-card">
                        <div class="m-0 mb-2 row">
                            <div class="col-11"> 
                            <span class="align-items-center d-flex">
                                <span
                                    [ngClass]="entityListData?.isActive ? 'entity-status-active' : 'entity-status-inactive'">
                                    <span class="ps-3"> {{ entityListData?.isActive ? 'Active' : 'Inactive' }}</span>
                                </span>
                                
                                <p class="entity-title mt-3 d-flex justify-content-between align-items-center">
                                    <strong class="fs-16 me-3">{{entityListData?.entityName}}</strong>
                                    <span *ngIf="entityListData?.statusDescription === 'Unverified'"
                                        class="pill d-flex">
                                        <span class="cross-wrapper">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                        <span class="text">Unverified</span>
                                    </span>
                                </p>   
                            
                            </span>
                        </div>
                        </div>
                        <!-- <mat-menu #beforeMenu>
                            <button class=" text-nowrap border-0 rounded-0 btn btn-outline-grey fs-14 d-flex justify-content-start w-100 align-items-center py-2 px-3"
                                id="edit-location-btn" data-bs-toggle="modal" data-bs-target="#add-coi-reviewer-modal">
                                <mat-icon class="me-2 invalid material-icons-round">warning</mat-icon>
                                <span>Risk</span>
                            </button>
                        </mat-menu>  -->
                        <div class="m-0 mb-2 row">
                            <div class="col-4 text-secondary fs-14 mt-3">
                                <span class="fw-bold me-2">Entity Type:</span>
                                <span class="fs-14 fw-400">{{entityListData?.entityTypeDescription}}</span>
                            </div>
                            <div class="col-4 text-secondary fs-14 mt-3">
                                <span class="fw-bold me-2"> Country: </span>
                                <span class="fs-14 fw-400">{{entityListData?.countryDescription}}</span>
                            </div>
                            <div class="col-2 text-secondary fs-14">
                                <span class="fw-bold risk-status"> Risk: </span>
                                <span class="text-secondary fs-14"><mat-icon
                                        *ngIf="entityListData?.riskLevelDescription === 'High'"
                                        class="invalid material-icons-round">warning</mat-icon>
                                    <mat-icon *ngIf="entityListData?.riskLevelDescription === 'Medium'"
                                        class="medium-risk material-icons-round">warning</mat-icon>
                                    <mat-icon *ngIf="entityListData?.riskLevelDescription === 'Low'"
                                        class="low-risk material-icons-round">warning</mat-icon>
                                    <mat-icon *ngIf="entityListData?.riskLevelDescription === ''"
                                        class="low-risk material-icons-round">warning</mat-icon>
                                    {{entityListData?.riskLevelDescription}}</span>
                            </div>
                            <div class="bg-white  align-items-center col-2 mb-2 d-flex justify-content-end text-secondary"
                                title="Click to view entity details">
                                <button (click)="viewDetails(entityListData)"
                                    class="align-items-center btn btn-outline-secondary d-flex fs-14">
                                    <mat-icon class="me-1">visibility</mat-icon>
                                    View
                                </button>
                                <button *ngIf="isShowGraph" (click)="openGraph(entityListData.entityId)" aria-describedby="Click to view Disclosure details"
                                    class="align-items-center btn btn-outline-primary d-flex fs-14 ml-2" title="Click to view Disclosure details">
                                    <mat-icon class="me-1">hub</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- pagination -->
        <div [hidden]="isLoading" *ngIf="entityList.length>0 && isShowEntityList" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
            <nav aria-label="pagination section" class="pagination justify-content-end">
                <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="resultCount" 
                [defaultCurrentPage]="entityManagementService.coiRequestObject.currentPage">
                </app-pagination>
            </nav>

            <ng-template #noData>
                <app-no-information></app-no-information>
            </ng-template>

        </div>
    </div>
</div>
<ng-container *ngIf="isShowGraph">
<app-graph [graphEnableEvent]="graphEvent" [graphId]="101"></app-graph>
</ng-container>