<div>
  <table class="table tableSkin mt-3">
    <thead class="border bg-light">
      <tr class="from-row">
        <th class="col-1"></th>
        <th class="col-2">Name</th>
        <th class="col-2">Country</th>
        <th class="col-2">Entity type</th>
        <th class="col-2">Risk level</th>
        <th class="col-1">Status</th>
        <th class="col-2">Actions</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr class="border" *ngFor="let entityListData of entityList;let i=index">
        <td [ngClass]="entityListData?.verified !=='U'?'':'entity-status shadow-sm align-items-center d-flex ps-2 mt-2'">
          {{entityListData?.verified ==='U'?'Unverified':''}}
        </td>
        <td>{{entityListData?.name}}</td>
        <td>{{entityListData?.country}}</td>
        <td>{{entityListData?.entityType}}</td>
        <td><mat-icon *ngIf="entityListData?.riskLevel === 'High'" class="invalid material-icons-round">warning</mat-icon>
          {{entityListData?.riskLevel}}</td>
        <td><span [ngClass]="entityListData.status ==='Active'?'status-active-pill':'status-inactive-pill'">
         {{entityListData?.status}}
        </span>
        </td>
        <td>
          <button class="btn btn-outline-secondary fs-14"
            (click)="isViewEntityDetails =!isViewEntityDetails;viewDetails(entityListData)"><span><i
                class="fa fa-eye" aria-hidden="true"></i></span> View</button>
          <button class="btn btn-outline-secondary fs-14 m-1"><span><i
                class="fa fa-pencil" aria-hidden="true"></i></span> Modify</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
