.tool-kit-body {
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 100%;
}

.section-body ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 3px 5px;
}

.section-body ul li:hover {
    color: #3b80f4;
    background: #ecf3ff;
    cursor: pointer;
}

.section-body ul li:nth-last-child(1) {
    margin-bottom: 0;
}

.section-body {
    background: #FFF;
    z-index: 9;
    height: auto;
    width: 100%;
    padding: 8px 8px;
}

.section-body li i {
    opacity: 0;
}

.section-body li:hover i {
    opacity: 1;
}

.active i {
    opacity: 1;
}

.highlight-div div:hover {
    color: #3b80f4;
    background: #ecf3ff;
    cursor: pointer;
}

.inner-scroll {
    max-height: 53vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 49vh;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}

.nav-style {
    background: #367af3;
    padding: 5px;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
}

.nav-style:hover {
    background: #1664eb;
}

.tool-kit {
    width: 145px;
    height: auto;
    position: fixed;
    right: 1px;
    z-index: 9;
    top: 46vh;
}

.close-btn {
    color: #a92034;
    font-size: 1.5rem;
    padding: 0;
    background: none;
    right: 5px !important;
    top: -10px !important;
}

.hvr-icon-down {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.tool-kit:hover .hvr-icon-down {
    -webkit-animation-name: left-bounce;
    animation-name: left-bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes left-bounce {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes left-bounce {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.btn-clear {
    font-size: 1.3rem !important;
    min-width: 3.5em !important;
    padding: 0px !important;
    height: 25px !important;
}

.show-changes-label {
    background-color: #eef7ff;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.tool-tab li.active {
    background-color: #fff !important;
}

.tool-tab-icon-clr {
    color: #007bff;
}

.active-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: rgb(240, 249, 255) !important;
    border: 1px solid #258cc7 !important;
    background-clip: border-box;
    border-radius: 10px;
}

.active-card:hover,
.highlight-active {
    background-color: rgb(236 255 244) !important;
    border: 1px solid #20841e !important;
}

.tool-kit-relations {
    background-color: #d9e8f8;
    max-height: 40vh;
    overflow-y: auto;
}

.tool-kit-relations:hover {
    background: #d9e8f8 !important;
    color: #000 !important;
    cursor: text;
}

.tool-kit-relations li:hover {
    background: #a1d8d3 !important;
    color: #000 !important;
    cursor: pointer;
}

.tool-kit-relations-active {
    background: #a1d8d3 !important;
    color: #000 !important;
}
