.success-banner-color{
    border: #b5eef8 1px solid;
    color: #202c2e;
}

.qs-color {
    color: #7aa3d8;
}

.grey-info {
    background-color: #dee2e6;
    border: #caced2 1px solid;
    text-align: justify;
    color: #202c2e;
}

.menu-divider {
    border-left: 1px solid black;
    height: 22px
}

.left-sec{
    width: 75%;
    display: inline-block;
    transition: width 1.2s ease-in-out;
}

.right-sec{
    width: 25%;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    padding-right: 30px;
    height: 100vh;
    margin-top: 5px;
}

.action-buttons {
    height: 24px;
    padding: 0.3px 1px;
    margin-top: 0px
}

.counts {
    font-weight: bold;
    font-size: 24px;
    color: #2a77f3;
}

.badge {
    color: white;
}

.green-text {
    color: green;
}

.pending-border {
    border: 1px solid #1d847b;
}

.resultCard::before {
  border-left: none;
}

.zero-count {
    font-weight: bold;
    font-size: 26px;
    color: #b1b7c1
}