<div class="card mt-3">
  <div class="d-flex justify-content-between review-header align-items-center card-header">
    <div>
      <h1 class="f-14"><span class="entity-name font-weight-bold">Daniel Griffith</span></h1>
    </div>
    <div class="align-items-center d-flex mr-2">
      <button class="btn more-btn align-items-center d-flex justify-content-center p-0 mr-2"
        [routerLink]="['/fibi/manage-entity/entity-list']">
        <i class="fa fa-reply" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="bg-white f-14 mb-3">
      <div class="gridSkin">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 no-hover-effect">
            <label for="name">Name : </label>
            <span>Daniel Griffith</span>
          </div>
          <div class="col-lg-3 col-md-6 col-12 no-hover-effect">
            <label for="designation">Designation : </label>
            <span>Research Assistant</span>
          </div>
          <div class="col-lg-3 col-md-6 col-12 no-hover-effect">
            <label for="email">Email : </label>
            <span>griffith@gmail.com</span>
          </div>
          <div class="col-lg-3 col-md-6 col-12 no-hover-effect">
            <label for="department">Department : </label>
            <span>Research Support Office</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="align-items-center bg-white d-flex coi-navigation-tabs mt-2 justify-content-between">
      <ul class="navigation-links d-flex align-items-center my-0 f-16 cursor-pointer pl-2">
        <li role="presentation" [ngClass]="{'active': currentDashboardTab == 'CURRENT_DISCLOSURES'}"
          (click)="currentDashboardTab = 'CURRENT_DISCLOSURES';">
          <a>Current Disclosure</a>
          <i class="fa" aria-hidden="true" [class.fa-caret-down]="currentDashboardTab === 'CURRENT_DISCLOSURES'"></i>
        </li>
        <li class="divider ml-3 mr-3"></li>
        <li role="presentation" [ngClass]="{'active': currentDashboardTab == 'PROPOSAL_DISCLOSURES'}"
          (click)="currentDashboardTab = 'PROPOSAL_DISCLOSURES';">
          <a>Proposal Disclosures</a>
          <i class="fa" aria-hidden="true" [class.fa-caret-down]="currentDashboardTab === 'PROPOSAL_DISCLOSURES'"></i>
        </li>
        <li class="divider ml-3 mr-3"></li>
        <li role="presentation" [ngClass]="{'active': currentDashboardTab == 'TRAVEL_DISCLOSURES'}"
          (click)="currentDashboardTab = 'TRAVEL_DISCLOSURES';">
          <a>Travel Disclosures</a>
          <i class="fa" aria-hidden="true" [class.fa-caret-down]="currentDashboardTab === 'TRAVEL_DISCLOSURES'"></i>
        </li>
        <li class="divider ml-3 mr-3"></li>
        <li role="presentation" [ngClass]="{'active': currentDashboardTab == 'SIGNIFICANT_FINANCIAL_INTERESTS'}"
          (click)="currentDashboardTab = 'SIGNIFICANT_FINANCIAL_INTERESTS';">
          <a>Significant Financial Interest (SFI)</a>
          <i class="fa" aria-hidden="true"
            [class.fa-caret-down]="currentDashboardTab === 'SIGNIFICANT_FINANCIAL_INTERESTS'"></i>
        </li>
      </ul>
    </div>

    <!-- <div class="success-banner p-10 grey-info mt-3">

    </div> -->

    <div class="card mt-4" *ngIf="(currentDashboardTab != 'CURRENT_DISCLOSURES') && currentDashboardTab != 'SIGNIFICANT_FINANCIAL_INTERESTS'">
      <div class="no-data-container">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </div>
        </span>
        <h4>{{noDataText()}}</h4>
      </div>
    </div>

    <!-- current disclosure dummy html -->
    <ng-container *ngIf="currentDashboardTab == 'CURRENT_DISCLOSURES'" class="mt-3">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard mb-0 mt-4 p-0">
        <div class="row py-3">
          <div class="col-2 d-flex align-items-center">
            <label>Discl.#</label>
            <span class="ml-2">00025-00002</span>
          </div>
          <div class="col-3 d-flex align-items-center">
            <label>Disposition Status:</label>
            <span class="ml-2 green-text">Review in progress</span>
          </div>
          <div class="col-3 d-flex align-items-center">
            <label>Review Status:</label>
            <span class="ml-2 green-text">In Progress</span>
          </div>
          <div class="col-3 d-flex align-items-center">
            <label>Disclosure Status:</label>
            <span class="badge badge-pill ml-2 badge-warning">Review in progress</span>
          </div>
          <div class="col-2 d-flex align-items-center">
            <label>Type:</label>
            <span class="ml-2">Revision</span>
          </div>
          <div class="col-3 mt-3 d-flex align-items-center">
            <label>Certification Date:</label>
            <span class="ml-2">04/08/2022</span>
          </div>
          <div class="col-3 mt-3 d-flex align-items-center">
            <label>Expiration Date:</label>
            <span class="ml-2">04/08/2023</span>
          </div>
          <div class="col-3 mt-3 d-flex align-items-center">
            <label>Created Date:</label>
            <span class="ml-2">04/08/2022 1:31:34 PM</span>
          </div>
          <div class="col-1 mt-3 d-flex justify-content-end">
            <button class="btn btn-tertiary action-buttons" aria-label="View COI">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span class="f-12">View</span>
            </button>
          </div>
        </div>
        <div class="card-footer row">
          <div class="col-3 d-flex align-items-center">
            <span class="counts align-items-center pointer">05</span>
            <span class="f-13 ml-2 mt-1">Significant Financial Interests</span>
          </div>
          <div class="col-2 d-flex align-items-center">
            <span class="counts pointer">258</span>
            <span class="f-13 ml-2 mt-1">Proposals</span>
          </div>
          <div class="col-1 d-flex align-items-center justify-content-center">
            <span class="counts pointer">357</span>
            <span class="f-13 ml-2 mt-1">Awards</span>
          </div>
          <div class="col-4 mt-2">
            <span class="mt-2">Last Updated on 04/08/2022 1:31:34 PM by Smith, Will</span>
          </div>
          <div class="col-2 mt-2 d-flex justify-content-end">
            <button class="btn btn-tertiary action-buttons ml-3" aria-label="Edit Organization">
              <i class="fa fa-history" aria-hidden="true"></i>
              <span class="f-12">History</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- SFI dummy html -->
    <div *ngIf="currentDashboardTab == 'SIGNIFICANT_FINANCIAL_INTERESTS'"  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 viewMode resultCard mb-0 mt-4 p-0">
      <div  class="row py-3">
          <div  class="col-9 d-flex align-items-center">
              <label >Entity :</label>
              <h1 class="f-14 pl-1"><span class="entity-name font-weight-bold">Samsung</span> - (Country: <b>South Korea</b> | Email ID:
                <b>support@samsung.com</b>)
              </h1>
          </div>
          <div  class="col-3 d-flex align-items-center justify-content-end">
              <label >Entity Status:</label>
              <span  class="badge badge-pill ml-2 badge-success">Active</span>
          </div>
          <div  class="col-3 d-flex align-items-center">
              <label >Relationship Start Date:</label>
              <span  class="ml-2">10/08/2022</span>
          </div>
          <div  class="col-3 d-flex align-items-center">
            <label >Relationship End Date:</label>
            <span  class="ml-2">10/08/2025</span>
        </div>
          <div  class="col-3 d-flex align-items-center">
              <label >Relationship Version Number: </label>
              <span class="ml-2">1</span>
          </div>
          <div  class="col-3 mt-3 d-flex justify-content-end ml-auto">
              <button aria-label="View SFI" class="btn btn-tertiary action-buttons" tabindex="0">
                  <i  aria-hidden="true" class="fa fa-eye"></i>
                  <span  class="f-12">View</span>
              </button>
          </div>
      </div>
      <div  class="card-footer row">
          <div  class="col-3 d-flex align-items-center">
              <!----><span  class="counts pointer">01</span>
              <!---->
              <span  class="f-13 ml-2 mt-1">Disclosures</span>
          </div>
          <div  class="col-3 d-flex align-items-center">
              <!----><span  class="counts pointer">09</span>
              <!---->
              <span class="f-13 ml-2 mt-1">Proposals</span>
          </div>
          <div  class="col-3 d-flex align-items-center justify-content-center"><!---->
              <!----><span  class="zero-count">0</span>
              <span  class="f-13 ml-2 mt-1">Awards</span>
          </div>
          <div  class="col-3 mt-2 d-flex justify-content-end">
              <button aria-label="Edit Organization" class="btn btn-tertiary action-buttons ml-3" data-target="#historyModal" data-toggle="modal">
                  <i  aria-hidden="true" class="fa fa-history"></i>
                  <span class="f-12">History</span>
              </button>
          </div>
      </div>
  </div>
  </div>
</div>
