<div *ngIf="selectedProject?.moduleCode" [id]="'coi-card-' + selectedProject?.projectId" class="card coi-card-regular border shadow me-2 mt-2 ms-2"
  [ngClass]="{'coi-card-highlight': coiSummaryService.activeSubNavItemId === selectedProject.projectTypeCode+'-'+selectedProject?.projectId}">
    <div class="card-header px-4 py-2 d-flex align-items-start justify-content-between border-bottom-0 flex-nowrap">
      <span class="d-flex">
          <span class="active-ribbon shadow-sm align-items-center d-flex" [ngStyle]="{'background-color': selectedProject.projectBadgeColour}">{{selectedProject?.projectType}}</span>
          <span class="word-break-all new-line-property badge-margin coi-text-darker fs-16 mt-1">
            <span class="link-primary" (click)="openModule();" (keydown.enter)="openModule()" tabindex="0" role="link"
              aria-label="Click here to view project details" title="Click here to view project details">
              #{{selectedProject?.projectNumber}} - {{!readMoreOrLess ? (selectedProject?.title | slice:0:100) :
              selectedProject?.title}}
              </span>
            <span *ngIf="!readMoreOrLess && selectedProject?.title?.length>100" (click)="readMoreOrLess=true" tabindex="0" role="link" aria-label="Click here to Read more" 
                title="Click here to Read more" (keydown.enter)="readMoreOrLess= true">
                <span class="link-primary fw-medium fs-14">...Read More</span>
            </span>
            <span *ngIf="readMoreOrLess" (click)="readMoreOrLess= false" (keydown.enter)="readMoreOrLess= false"
            tabindex="0" role="link" aria-label="Click here to Read less" title="Click here to Read less">
              <span class="link-primary fw-medium fs-14">Read Less</span>
            </span>
          </span>
      </span>

      <span class="align-items-center d-flex">
        <button (click)="openReviewerComment(selectedProject,'RELATIONSHIP')" class="btn btn-primary-icon btn-sm d-flex mt-1" id="add-activity" title="Comments" type="button">
          <mat-icon>rate_review</mat-icon>
      </button>
      </span>
    </div>
      <div *ngIf="isCollapsed" class="card-body" id="coi-relationship">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col-6 col-md-4 mb-2">
							<label for="coi-relationship-summary-principal-investigator" class="coi-text-dark d-block">Principal Investigator</label>
							<span class="coi-text-light" id="coi-relationship-summary-principal-investigator">{{selectedProject?.piName}}</span>
						</div>
						<div class="col-6 col-md-4 mb-2">
							<label for="coi-relationship-summar-project-role" class="coi-text-dark d-block">Project Role</label>
							<span class="coi-text-light" id="coi-relationship-summar-project-role">{{selectedProject?.reporterRole}}</span>
						</div>
						<div class="col-6 col-md-4 mb-2">
							<label for="coi-relationship-summar-period" class="coi-text-dark d-block">Period</label>
							<span class="coi-text-light" id="coi-relationship-summar-period">{{selectedProject?.projectStartDate | dateFormatter}} - {{selectedProject?.projectEndDate
								|
								dateFormatter}}</span>
						</div>
						<div class="col-6 col-md-4 mb-2">
							<label for="coi-relationship-sponsor" class="coi-text-dark d-block">Sponsor</label>
							<span class="coi-text-light" id="coi-relationship-sponsor">{{selectedProject?.sponsorName}}</span>
						</div>
						<div class="col-6 col-md-4 mb-2">
							<label for="coi-relationship-lead-unit" class="coi-text-dark d-block">Lead Unit</label>
							<app-no-data-label [valueToShow]="selectedProject?.homeUnitName">
								<span class="coi-text-light" id="coi-relationship-lead-unit">{{_commonService.getPersonLeadUnitDetails(selectedProject)}}</span>
							</app-no-data-label>
						</div>
					</div>
				</div>
        <div class="col-auto">
          <div *ngIf="projectRelations.length > 0" class="me-2">
            <label for="coi-relationship-conflict-status" class="coi-text-lighter d-block">Conflict Status</label>
            <span class="{{_commonService.getProjectDisclosureConflictStatusBadge(worstCaseStatus?.projectConflictStatusCode)}}"></span>
            <span class="badgeFont" id="coi-relationship-conflict-status">{{worstCaseStatus?.description}}</span>
          </div>
          <p *ngIf="projectRelations.length == 0" class="f-14 fw-500 m-0 pe-2">No SFI(s) Attached</p>
        </div>
			</div>
      <div class="table-responsive coi-table-striped">
      <table class="table table-bordered fs-14 fw-medium table-striped" *ngIf="projectRelations.length > 0" id="coi-relationship-summary-table">
                <!-- <caption class="sr-only">List of Awards/Proposal</caption> -->
                <thead>
                    <tr class="header-border table-light" id="coi-relationship-summary-table-thead">
                      <th style="width: 40%;" class="px-3">Significant Financial Interest</th>
                      <th style="width: 26%;" class="px-3">Relationship between SFIs and Projects</th>
                        <th style="width: 14%;" class="px-3">Conflict Status
                            <button title="Sort conflict Status in ascending order" class="sortable-icon btn p-0"
                                    aria-label="click to sort conflict Status"
                                    *ngIf="isDesc" (click)="sortConflictStatus(true)">
                                <mat-icon>arrow_upward</mat-icon>
                            </button>
                            <button title="Sort conflict Status in descending order" class="sortable-icon btn p-0"
                                    *ngIf="!isDesc" (click)="sortConflictStatus(false)">
                                <mat-icon>arrow_downward</mat-icon>
                            </button>
                        </th>
                      <th style="width: 8%;" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="white-bg">
                  <tr *ngFor="let relation of projectRelations; let i = index" class="tr-hover" id="{{relation.disclosureDetailsId}}">
                    <td class="table-data fw-600 px-3">
                        <div class="m-0 mb-2 row py-1">
                            <span class="align-items-center d-flex px-0">
                                <span class="link-primary" (click)="openEntityDetails(relation?.personEntityRelationshipDto?.personEntityId)"
                                (keydown.enter)="openEntityDetails(relation?.personEntityRelationshipDto?.personEntityId)"
                                tabindex="0" [attr.aria-label]="'Click here to view SFI details'" role="link" title="Click here to view SFI details">
                                        {{relation?.coiEntity?.entityName.length > 100 ?
                                            (relation?.coiEntity?.entityName | slice:0:100)+'...' : relation?.coiEntity?.entityName}}
                                </span>
                            </span>
                        </div>
                        <div class="d-flex flex-wrap fw-medium fs-13">
                            <em class="mt-2" *ngFor="let relation of getEntityRelationTypePills(relation?.personEntityRelationshipDto?.validPersonEntityRelType)">
                                    <span class="border px-3 py-1 rounded-4 me-2 d-inline-block">
                                        <span class="fw-medium">{{relation?.relationshipType}} :</span>
                                        <span class="fw-normal">{{relation?.description}}</span>
                                    </span>
                            </em>
                        </div>
                        <div class="row mt-2 fw-medium fs-13">
                            <span class="d-flex align-items-center">
                                <span class="fs-13 me-3">
                                    <span>Country:</span>&nbsp;{{relation?.personEntityRelationshipDto?.countryName}}</span>
                                <span class="fs-13"> <span>Type:</span> &nbsp;{{relation?.personEntityRelationshipDto?.entityType}}
                                </span>
                            </span>
                        </div>
                    </td>
                    <td class="px-3">
                      <div class="person-card fs-13 grey-text word-break-all new-line-property">
                        <span *ngIf="!isReadMore[i] && relation?.disclComment?.comment?.length > 60; else showFullInfo">
                          <span> {{(relation?.disclComment?.comment | slice:0:60)}}</span>
                          <span (click)="isReadMore[i] = !isReadMore[i]" tabindex="0" (keydown.enter)="isReadMore[i] = !isReadMore[i]" role="link"
                            aria-label="Click here Read more" title="Click here Read more" class="link-primary">...Read more
                          </span>
                        </span>
                        <ng-template #showFullInfo>
                          <span>{{relation?.disclComment?.comment}}</span>
                          <span *ngIf="relation?.disclComment?.comment?.length > 60" (click)="isReadMore[i] = !isReadMore[i]"
                            (keydown.enter)="isReadMore[i] = !isReadMore[i]" tabindex="0" role="link" aria-label="Click here Read less"
                            title="Click here Read less" class="link-primary ms-1">Read Less
                          </span>
                        </ng-template>
                      </div>
                    </td>
                    <td class="px-3 text-nowrap">
                      <span class="{{_commonService.getProjectDisclosureConflictStatusBadge(relation?.coiProjConflictStatusType?.projectConflictStatusCode)}}"></span>
                      <span>
                        {{relation?.coiProjConflictStatusType?.description}}
                    </span>
                    </td>
                    <td class="pt-4 px-3">
                      <div class="d-flex">
                        <!-- reviewStatusCode-(3-Review In Progress, 7-Review Assigned, 8-Assigned review completed, 4-completed),  dispositionStatusCode(1-pending, 3-Approved)-->
                        <button *ngIf="(['3', '7', '8'].includes(coiDetails?.reviewStatusCode) && coiDetails?.dispositionStatusCode == 1) || (coiDetails?.reviewStatusCode== 4 && coiDetails?.dispositionStatusCode == 3)
                        && (_commonService.getCurrentUserDetail('userName') == coiDetails?.createUser || _commonService.getCurrentUserDetail('personId') == coiDetails?.adminPersonId)"
                        class="btn-primary-icon-svg me-1" type="button" (mouseenter)="isShowHoverWhite[i]= true"
                        (mouseout)="isShowHoverWhite[i]= false" (click)="isOpenSlider = true; setEntityDetails(relation, i);">
                        <span class="btn-secondary-svg"></span>
                      </button>
                      <button (click)="openReviewerComment(selectedProject,'SFI', relation)" class="add-activity-button comment-style align-items-center btn btn-primary-icon btn-sm d-flex p-0 px-2" id="add-activity" title="Comments" type="button">
                        <mat-icon>rate_review</mat-icon>
                      </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
      </div>
              <div *ngIf="!projectRelations.length">
                <app-no-information> </app-no-information>
              </div>
      </div>
</div>
<app-add-conflict-slider *ngIf="isOpenSlider" (closePage)="closePage($event)" [isOpenSlider]="isOpenSlider" [disclosureMetaData]="{coiPersonFullName: coiDetails?.person?.fullName}"
  [entityDetails]="entityDetails" [isEditMode]="['3','7','8'].includes(coiDetails?.reviewStatusCode) && coiDetails?.dispositionStatusCode == 1 && (_commonService.getCurrentUserDetail('personId') == coiDetails?.adminPersonId)"></app-add-conflict-slider>

