.tab-sticky {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 2;
    background: #eef7ff;
    box-shadow: 0px 3px 6px -5px #000;
    padding-top: 5px;
    padding-bottom: 5px
}

.nav-style {
    background: #deeeff;
    padding: 5px;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .26);
    border-radius: 3px;
    color: #518aec
}

.nav-style:hover {
    border-radius: 3px !important;
    outline: none;
    color: #fff;
    background: #2a6fe7
}

.right-arrow {
    color: #1e847b;
    font-size: 1.25rem !important;
    font-weight: 600 !important
}

.base-variant-text-color {
    color: #48647f;
    font-weight: 500
}

.btn-budget-container {
    border: 1px solid #7b7373;
    border-radius: 10px;
    overflow: hidden
}

.btn-budget-transparent {
    background: transparent;
    color: #404040 !important;
    border-left: 1px solid #7b7373
}

.btn-budget-transparent:hover {
    background-color: #e4eeff
}

.btn-budget-transparent:first-of-type {
    border-left: none
}

.btn-align-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.resultCard::before {
    border-left: none
}

.blue-row {
    background-color: #deeef1
}

.data-card {
    margin: 0;
    padding: 5px;
    background-color: #e4eaf3
}

.left-div {
    width: 65%
}

.right-div {
    width: 35%
}

.card-flex {
    display: flex;
    flex-direction: row;
    background-color: #eaf3fb
}

.btn-primary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.gray-text {
    color: #48647f
}

.activity-icon {
    width: 20px !important;
    cursor: pointer;
}

/* .add-activity-button {
    min-width: 4rem !important;
    width: auto !important;
} */

.label-text {
    color: #6A7980;
    font-size: 0.875rem;
    font-weight: 700;
}

.highlight-node {
    background-color: #e9ffff;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ded8d8;
    /* cursor: pointer; */
}

.grey-text {
    font-size: 0.875rem;
    color: #48647F;
}

.fixed-header {
    max-height: 500px;
    height: auto;
    overflow-x: hidden;
}

.fixed-th {
    position: sticky;
    top: 0;
}

.action-buttons {
    height: 29px;
    border: 1px solid #a5aeb3;
    color: #a5aeb3;

    &:hover {
        height: 29px;
        border: 1px solid #0d6efd;
        color: #fff;
    }
}

.tr-hover:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.noDataExists {
    color: #9e9e9e !important;
    font-size: 0.8125rem;
    margin-left: 8px;
}

.card-header {
    background-color: #fffdf6 !important;
    padding: 0;
}

.left-margin {
    margin-left: 7px;
}

// .card-body {
//   background-color: #fffdf6 !important;
//   padding: 0;
// }

.white-bg {
    background-color: #ffffff;
}

.table-light {
    background-color: #f0f2f3;
    color: #2a2a2a;
}

.header-buttons {
    height: 29px;
    border: 1px solid #a5aeb3;
    color: #a5aeb3;
    margin-left: auto;
}

.header-buttons:hover {
    height: 29px;
    border: 1px solid #0d6efd;
    color: #fff;
}

.table-borderless td,
.table-borderless th {
    border-bottom: none !important;
}

.table-data {
    color: #48647f;
}

.comment-icon {
    width: 33px;
    line-height: 0px;
}

.entity-title {
    color: #242424;
}

.info-icon {
    margin-top: -7px;
    height: 22px;
    width: 22px;
    font-size: 1rem;
    position: absolute;
    margin-left: 2px;
    color: #6f7395;
    cursor: pointer;
}

.mat-icon {
    width: auto;
    height: auto;
}

.comment-button {
    padding: 5px 5px 5px 5px;
    height: 31px;
    width: 36px;
    border: 1px solid #505050;
    /* background-color: rgb(240, 242, 243); */
}

.comment-button:hover {
    background-color: #3b83ff !important;
}

.comment-style {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

tr.tr-hover {
    vertical-align: middle;
}

.badge-margin {
    margin-left: -10px;
}

.Conflict-badge {
    background-color: #ffe6e7;
    border-radius: 10px;
    color: #ca4e4f;
    margin-left: 75px;
}

.potentialConflict-badge {
    border-radius: 10px;
    background-color: #fff5e6;
    color: #c59c59;
    margin-left: 75px;
}

.noConflict-badge {
    border-radius: 10px;
    background-color: #e3ffe5;
    color: #6cc974;
    margin-left: 75px;
}

.table-bg-color {
    background-color: #f2f6fe;
}

.count-label {
    display: inline-block;
    width: 150px;
}

.sortable-icon {
    border: none !important;

    mat-icon {
        font-size: 1.125rem;
        height: 18px;
        width: 16px;
        margin-left: 4px;
    }

    &:focus,
    &:hover {
        color: #0d6efd
    }
}

.coi-card-highlight{
    background-color: #fff8dd !important;
    border: 1px dashed #ffc700 !important;
    position: relative !important;
}

.coi-card-highlight::after {
        content: "";
        position: absolute;
        right: -10px;
        top: 20px;
        width: 17px;
        height: 17px;
        border: 1px dashed #ffc700 ;
        transform: rotate(44deg);
        border-left: 0;
        border-bottom: 0;
        background: #fff8dd;
}
