<button class="d-none" data-bs-toggle="modal" data-bs-target="#entitypersondetails" id="entitypersondetailsTrigger">
</button>

<div class="modal modal-xl fade" id="entitypersondetails" tabindex="-1" aria-labelledby="exampleModalLabel"
    data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header headerStyle">
                <h5 class="modal-title userDetail " id="exampleModalLabel"><i class="mr-2 fa fa-user-o"
                        aria-hidden="true"></i>{{userdetails?.fullName}}</h5>
                <button type="button" (click)="addnewvalue(false)" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="shadow tabSwitch ">
                    <ul class="subTabs mb-0">
                        <li (click)="currentTab='PERSON_DETAILS'"
                            [ngClass]="currentTab == 'PERSON_DETAILS'?'Active':'Inactive'">
                            <a (click)="currentTab='PERSON_DETAILS'">Person Details </a>
                        </li>
                        <li (click)="currentTab='TRAINING_DETAILS'"
                            [ngClass]="currentTab == 'TRAINING_DETAILS'?'Active':'Inactive'">
                            <a (click)="currentTab='TRAINING_DETAILS'">Training</a>
                        </li>
                    </ul>
                </div>
                <app-person-details [personValues]="personValues" [user]="id"
                    *ngIf="currentTab =='PERSON_DETAILS'"></app-person-details>
                <app-Training-details [userdetails]="userdetails"
                    *ngIf="currentTab == 'TRAINING_DETAILS'"></app-Training-details>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary fs-15" (click)="addnewvalue(false)"
                    data-bs-dismiss="modal">Close</button>
                <button *ngIf="(currentTab == 'PERSON_DETAILS') || canShowPersonDetails" (click)="viewPersoDetails(userdetails?.personId)" class="btn btn-primary fs-15" >View Person Details</button>
            </div>
        </div>
    </div>
</div>
<!-- PersonfullDetails,  TrainingDetails -->
