<div class="card" #sfiNavOverlay [class.overlay]="sfiService.isShowSfiNavBar">
  <div *ngIf="sfiService.isShowSfiNavBar" @enterAnimation class="task-right-div card-height d-flex align-items-center"
    id="task-nav-bar">
    <div class="close shadow-medium" (click)="hideSfiNavBar()">
      <img src="{{deployMap}}assets/images/close.svg" alt="close button">
    </div>
    <div class="tool-kit-body card-height scrollable-table">
      <div class="card mb-3 card-height">
        <div class="card-header px-4 card-border">
          <h5 class="card-title review-title">
            <div class="justify-content-between d-flex align-items-center">
              <div class="fs-16">Significant Financial Interest </div>
              <button class=" align-items-center d-flex btn btn-primary mt-0 py-1 px-3 h-100 fs-16 pt-1"
              [queryParams]="{mode:'edit'}"
                title="Create SFI" (click)="createSFI();">
                <mat-icon class="fs-4 me-2 material-icons align-items-center d-flex">save</mat-icon>
                Create SFI
              </button>
            </div>
          </h5>
        </div>

        <div class="row">
          <div class="col-2 fs-14 mt-3 px-3">
            <label class="d-block px-3 fw-bold" for="Entity-Name">Entity Name<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-8 mt-3">
            <app-endpoint-search (onSelect)="selectedEvent($event)" [clearField]="clearField"
              [httpOptions]="EntitySearchOptions" [placeHolder]="'Type here'" class="w-100 mt-4" [addSearchText]="true"
              (onNewValueSelect)="selectNewEntity($event)">
            </app-endpoint-search>
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Type in the official name of the
                business or organization
                you need to report. Entities to report include foreign, domestic, public or private
                entities, but not federal
                agencies.</p>
            </span>
            <div *ngIf="mandatoryList?.has('name')" class="invalid-feedback d-block">
              {{mandatoryList?.get('name')}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 fs-14 mt-3 px-3">
            <label class="d-block px-3 fw-bold" for="Country">Country<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <app-endpoint-search [clearField]="clearCountryField" [httpOptions]="countrySearchOptions"
              (onSelect)="selectedCountryEvent($event)" [placeHolder]="'Type here for country'" class="w-100 mt-4"
              [ngClass]="(mandatoryList?.has('country')) ? 'is-invalid d-block' : ''">
            </app-endpoint-search>
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Select country from search bar.</p>
            </span>
            <div *ngIf="mandatoryList?.has('country')" class="invalid-feedback d-block">
              {{mandatoryList?.get('country')}}
            </div>
          </div>
          <div class="col-1 fs-14 mt-3">
            <label class="d-block px-3 fw-bold" for="City">City<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <input class="form-control" placeholder="Type City">
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Select a city from the available
                options.</p>
            </span>
            <div *ngIf="mandatoryList?.has('country')" class="invalid-feedback d-block">
              {{mandatoryList?.get('country')}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 fs-14 mt-3 px-3">
            <label class="d-block px-3 fw-bold" for="Address">Address<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-8 mt-3">
            <input class="form-control" placeholder="Type Address">
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Enter the address of your organization.</p>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-2 fs-14 mt-3 px-3">
            <label class="d-block px-3 fw-bold" for="Country">Phone<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <div class="col-7">
              <input class="form-control">
            </div>
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Type phone number.</p>
            </span>
          </div>

          <div class="col-2 fs-14 mt-3">
            <label class="d-block px-3 fw-bold" for="City">Zip Code<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <div class="col-7">
              <input class="form-control">
            </div>
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Type in the official name of the
                business or organization
                you need to report.</p>
            </span>
            <!-- <div *ngIf="mandatoryList?.has('pincode')" class="invalid-feedback d-block">
              {{mandatoryList?.get('pincode')}}
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-2 fs-14 mt-3">
            <label class="d-block px-3 fw-bold" for="Country">Website
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <div class="col-7">
              <input class="form-control">
            </div>
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Type the website name of the business
                or organization
                you need to report.</p>
            </span>
            <!-- <div *ngIf="mandatoryList?.has('url')" class="invalid-feedback d-block">
              {{mandatoryList?.get('url')}}
            </div> -->
          </div>
          <div class="col-2 fs-14 mt-3">
            <label class="d-block px-3 fw-bold" for="City">Email Address<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <div class="col-7">
              <input class="form-control">
            </div>
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Type the email address of the business
                or organization
                you need to report.</p>
            </span>
            <!-- <div class="invalid-feedback d-block mb-3" *ngIf="(mandatoryList?.get('email'))">
              Please enter email address.
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-2 fs-14 mt-3">
            <label class="d-block px-3 fw-bold" for="Country">Entity Type<span class="mandatory">*</span>
            </label>
          </div>
          <div class="col-lg-4 mt-3">
            <div class="col-7">
              <input class="form-control">
            </div>
            <span class="col fs-12">
              <p class="new-line-property text-secondary fs-14-nav">Select type from the available
                options.</p>
            </span>
            <!-- <div *ngIf="mandatoryList?.has('type')" class="invalid-feedback d-block">
              {{mandatoryList?.get('type')}}
          </div> -->
          </div>
        </div>
      </div>
      <app-additional-sfi-details></app-additional-sfi-details>
    </div>
  </div>
</div>
<app-add-relationship-modal *ngIf="showRelationshipModal" [isWithOutRelationship]="true" (relationshipResult)="addEntityToggle($event)" (hideModal)="hideRelationshipModal($event)">
</app-add-relationship-modal>
