<div class="fb-header d-flex  justify-content-between align-items-center">
    <div class="fw-bold fb-form-list-title">Form List</div>
    <button title="Create Form" aria-label="Click here to create form" class="btn btn-primary fb-fs-14"
        [routerLink]="['../../form-builder-create/create-form']">Create Form</button>
</div>

<div *ngFor="let item of formList; let i = index" class="mt-2">
    <div class="card" id="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-10">
                    <h5 class="fb-card-title fb-fs-16">{{item?.title}}</h5>
                    <p class="fb-card-text fb-fs-14">
                        <span *ngIf="!isReadMore[i] && item?.description?.length > 40; else Readmore">
                            {{item?.description|slice:0:40}}...
                            <span (click)="isReadMore[i]=!isReadMore[i];" class="hand-cursor fw-bold fb-fs-14">Read More</span>
                        </span>

                        <ng-template #Readmore>
                            {{item?.description}}
                            <span *ngIf="item?.description?.length > 40;" (click)="isReadMore[i]=!isReadMore[i];"
                                class="hand-cursor fw-bold fb-fs-14">Read Less</span>
                        </ng-template>
                    </p>
                    <div class="formInfo fb-fs-14" id="formInfo">
                        <small class="mr-2">Created by: {{item.createUser}}</small>
                        <small *ngIf="item.isActive==='Y'">Published on: {{item.updateTimestamp |dateFormatterWithTimeZone:'long'}}</small>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <button [routerLink]="['../../form-builder-create/form-editor']"
                        [queryParams]={formBuilderId:item.formBuilderId} class="btn fw-bold btn-outline-primary fb-fs-14"
                        id="View" aria-label="Click here to view form in editor" title="View"(click)='isFormPublished(item.isActive)'>View</button>
                </div>
            </div>
        </div>
    </div>
</div>
