<div class="pageMinHeight" id="scrollToTop" [@fadeInOutHeight]>
    <div class="container-fluid pushFixedHeaderFooter">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="mb-3">
                    <div class="card-header border-bottom-0">
                      </div>
                    <div class="card-content">
                        <div class="faq-body">
                            <div class="row pb-4">
                                <div class="col d-flex">
                                    <div class="col-2 side-scroll pl-4 categories pt-4">
                                        <span class="searchBox search-allignment ms-3" id="searchElastic">
                                          <input [(ngModel)]="searchText" (ngModelChange)="searchQuestions(searchText)"
                                            placeholder="Search by Questions..."
                                            class="form-control ng-pristine ng-valid ng-touched searchBox">
                                        </span>
                                        <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
                                          <li *ngFor="let category of categoryList; let categoryIndex = index" class="nav-item">
                                            <a (click)="toggleCollapse(categoryIndex); displayFAQ(category.categoryCode, '', true, index)" class="nav-link d-flex justify-content-between">
                                              <span class="cursor-pointer"><b>{{ category.description }}</b></span>
                                              <i class="toggle-icon pt-2 pe-3" [ngClass]="!isCollapse[categoryIndex] ? 'fa fa-plus' : 'fa fa-minus'"></i>
                                            </a>
                                            <ul class="nav-second-level pe-3" [id]="'collapseSubItems' + categoryIndex" [hidden]="!isCollapse[categoryIndex]">
                                              <li *ngFor="let questions of questionsList; let questionIndex = index" class="nav-item">
                                                <span id="question-{{ categoryIndex }}">
                                                  <a class="nav-link" (click)="pageScroll('question-title-'+questionIndex); highlightQuestion(questionIndex); playAnimation()">
                                                    <span class="nav-link-text questionList-sidebar cursor-pointer fs-15">{{ questions.question }}</span>
                                                  </a>
                                                </span>
                                              </li>
                                            </ul>
                                          </li>
                                        </ul>
                                      </div>
                                      
                                <!-- Middle side -->
                                <div class="col-10 ps-4">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-6">
                                              <div class="card-title d-flex justify-content-start pb-4">
                                                <h1 class="fw-700">Frequently Asked Questions</h1>
                                              </div>
                                            </div>
                                            <div class="col-6 d-flex justify-content-end pt-2 pe-5">
                                              <button title="Add New Question" class="btn btn-lg btn-primary fs-14 d-flex justify-content-end pt-2" id="add-faq-btn"
                                              data-bs-target="#add-new-faq" data-bs-toggle="modal" (click)="addNewQuestion()">
                                              Add New Question
                                              </button>
                                          </div>
                                          </div>
                                        <div class="col-12 ">
                                            <div>
                                                <h2 class="pb-2">{{ categoryName }}</h2>
                                            </div>
                                            <div class="qa-display " id="qa-tab" *ngIf="questionsList.length > 0">
                                                <div *ngFor="let questions of tempQuestionList; let i=index" class="qa-flex mt-3 question-border"
                                                [ngClass]="{'questionlist-active': i === selectedQuestion, 'question-list': i !== selectedQuestion}">
                                                    <ul class="mb-0 pt-3">
                                                        <span class="pt-2 questions-mainsection fs-15 " id="question-title-{{i}}" value="{{ questions.question }}">
                                                            {{ questions.question }}
                                                        </span>
                                                        <p class="fs-14">{{ questions.answer }}</p>
                                                        <span *ngIf="questions.url != ''"><p><a href="" (click)="redirectUrl(questions?.url);">{{ questions.url }}</a></p></span>
                                                        <div class="fileChips hand-cursor d-flex justify-content-end" style="word-break: break-all;"
                                                            *ngFor="let question of questions.faqAttachment"
                                                            (click)="saveAttachment(question,question.faqAttachmentId)">
                                                            <span>{{question.fileName}}
                                                                <i aria-hidden="true" class="fa fa-download" title="Click here to download {{question.fileName}}"></i>
                                                            </span>
                                                        </div>
                                                    </ul>
                                                    <!-- Edit  -->
                                                    <div class="ps-1">
                                                        <mat-icon [attr.title]="'edit'" class="edit-icon" (click)="editdata(questions,i)">
                                                            edit
                                                        </mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="questionsList.length === 0">
                                    <p class="fs-14 text-danger"><b>No Questions</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-add-faq  (updatedData)="updatedData($event)" (newdata)="updatedata($event)" (selectedResult)="resetFaqTrigger($event)" [questiondata]="allQuestionData"
    [editIndex]="editIndex" [buttonName]="buttonName"></app-add-faq>