$grey-text-color: #7c7c7c;

ul {
    padding-right: 20px;
    button {
        color: $grey-text-color !important;
        border: none;
        font-size: 1.4rem;
        width: 100%;
        overflow: hidden;
        &:hover {
            background-color: #efefef;
        }
        .icon-btn {
            display: flex;
            align-items: center;
            width: max-content;
            height: max-content;
        }
    }
    button.active-list {
        background-color: #d4ebff !important;
        color: #007dec !important;
    }
}

.menu-icon {
    color: $grey-text-color;
    padding-bottom: 20px;
}

.img-container {
    width: 25px;
    height: 23px;
}
