      <div class="card card-height">
        <div class="card-header px-4 py-2" [ngClass]="isSlider? 'card-header-slider':'card-header-page'">
          <h5 class="card-title review-title">
            <div class="justify-content-between d-flex align-items-center">
              <div class="fs-18">{{heading}}</div>
              <span class="d-flex align-items-center py-2">
              <button class=" align-items-center d-flex btn btn-primary mt-0 py-1 mr-10 h-100 fs-16 pt-1"
              [title]="btnTitle" (click)="submitEntity();">
              <mat-icon class="fs-4 w-auto h-auto me-2 material-icons">save</mat-icon>
              {{buttonName}}
            </button>
              <span class="btn-primary-icon btn-sm margin-left-1 mt-1 px-2" id="close-edit-home-unit" *ngIf="!isSlider"
              (click)="backToPreviousPage()"
              title="Return to {{_navigationService.previousURL ? _navigationService.previousURL.includes('user-dashboard') ? 'Home' : 'Create Disclosure' : 'Home'}}"
              type="button">
              <mat-icon>reply</mat-icon>
              </span>
              </span>
            </div>
          </h5>
        </div>

        <div class="card-color p-3">
          <div class="card pt-3 shadow-sm border mt-2 px-3" tabindex="-1">
        <div class="pb-3 pt-2 px-4 row">
          <div class="d-flex">
            <label class="d-block fs-14 fw-500 px-1 py-2" for="Entity-Name">Entity Name :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col px-3">
            <app-endpoint-search *ngIf="!isEntityManagement ;else textBox" (onSelect)="selectedEvent($event)" [clearField]="clearField"
              [httpOptions]="EntitySearchOptions" class="w-100 mt-4" [addSearchText]="true"
              (onNewValueSelect)="selectNewEntity($event)" [isDisabled]="isViewMode"
              [isError]="mandatoryList?.has('entityName') || mandatoryList?.has('entityAlreadyAdded')">
            </app-endpoint-search>
            <ng-template #textBox>
              <input type="text" class="form-control fs-13" [(ngModel)]="entityDetails.coiEntity.entityName"
              [ngClass]="(mandatoryList?.has('entityName')) ? 'is-invalid d-block' : ''" id="entity-name" (ngModelChange)="setHeader();">
            </ng-template>
            <div *ngIf="mandatoryList?.has('entityName')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('entityName')}}
            </div>
            <div *ngIf="mandatoryList?.has('entityAlreadyAdded')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('entityAlreadyAdded')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary px-1-nav mt-2 mb-0">Type in the official name of the
                business or organization
                you need to report. Entities to report include foreign, domestic, public or private
                entities, but not federal
                agencies.</p>
            </span>
          </div>
        </div>

        <div class="px-4 py-3 row">
         <div class="col">
          <div class="d-flex">
            <label class="d-block fs-14 fw-500 px-1 py-2" for="Country">Country :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col px-1">
            <app-endpoint-search [clearField]="clearCountryField" [httpOptions]="countrySearchOptions"
              (onSelect)="selectedCountryEvent($event)"
              [isDisabled]="isResultFromSearch || isViewMode ||modifyType ==='1'" class="w-100 mt-4"
              [isError]="mandatoryList?.has('country')">
            </app-endpoint-search>
            <div *ngIf="mandatoryList?.has('country')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('country')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Select country from search bar.</p>
            </span>
          </div>
         </div>
          <div class="col pl-85">
            <div class="d-flex fs-15">
              <label class="d-block fs-14 fw-500 px-1 py-2" for="City">City :
              </label>
            </div>
            <div class="col px-1">
              <input type="text" class="form-control" [(ngModel)]="entityDetails.coiEntity.city"
                [disabled]="isResultFromSearch || isViewMode">
              <span class="col fs-13">
                <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the city of the business or organization you need to report.</p>
              </span>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 row">
          <div class="d-flex px-3">
            <label class="d-block fs-14 fw-500 px-1 py-2" for="Address">Address :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col px-3">
            <textarea appAutoGrow class="form-control" rows="1" [(ngModel)]="entityDetails.coiEntity.address"
              [ngClass]="mandatoryList?.has('address') ? 'is-invalid d-block' : ''" appLengthValidator [limit]=2000
              [disabled]="isResultFromSearch || isViewMode">
                                        </textarea>
              <div *ngIf="mandatoryList?.has('address')" class="invalid-feedback d-block fs-13">
                {{mandatoryList?.get('address')}}
              </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the address of the business or organization you want to report.</p>
            </span>
          </div>
        </div>
        <div class="px-4 py-3 row">
         <div class="col">
          <div class="d-flex px-1">
            <label class="d-block fs-14 fw-500 px-1 py-2" for="Phone">Phone :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col px-1">
            <div>
              <input class="form-control" [(ngModel)]="entityDetails.coiEntity.phone"
                (keypress)="inputRestriction($event)" [disabled]="isResultFromSearch || isViewMode"
                [ngClass]="mandatoryList?.has('phone') ? 'is-invalid d-block' : ''"
                (keyup)="phoneNumberValidation(entityDetails.coiEntity.phone)">
            </div>
            <div *ngIf="mandatoryList?.has('phone')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('phone')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the phone number of the business or organization you want to report.</p>
            </span>
          </div>
         </div>
         <div class="col pl-85">
          <div class="d-flex fs-15">
            <label class="d-block fs-14 fw-500 py-2" for="Zip Code">Zip Code :<span class="mandatory px-2">*</span>
            </label>
          </div>
          <div class="col pe-1">
            <input type="text" class="form-control" [(ngModel)]="entityDetails.coiEntity.zipCode"
              (keypress)="inputRestriction($event)"
              [ngClass]="(mandatoryList?.has('zipCode')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode">
              <div *ngIf="mandatoryList?.has('zipCode')" class="invalid-feedback d-block fs-13">
                {{mandatoryList?.get('zipCode')}}
              </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the zip code of the business or
                organization
                you need to report.</p>
            </span>
          </div>
        </div>
        </div>
        <div class="px-4 py-3 row">
          <div class="col">
            <div class="d-flex px-1">
              <label class="d-block fs-14 fw-500 px-1 py-2" for="website">Website :
              </label>
            </div>
            <div class="col px-1">
              <input type="text" class="form-control" [(ngModel)]="entityDetails.coiEntity.webURL" id="website"
                [disabled]="isResultFromSearch || isViewMode">
              <span class="col fs-13">
                <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type in the website of the business or organization you want to report.</p>
              </span>
            </div>
          </div>
          <div class="col pl-85">
            <div class="d-flex fs-15 px-1">
              <label class="d-block fs-14 fw-500 px-1 py-2" for="email">Email Address :<span class="mandatory px-2">*</span>
              </label>
            </div>
            <div class="col px-1">
              <input type="text" class="form-control"
                [(ngModel)]="entityDetails.coiEntity.emailAddress"
                [ngClass]="(mandatoryList?.get('email')) || emailWarningMsg != null ? 'is-invalid d-block' : ''"
                [disabled]="isResultFromSearch || isViewMode">
              <div *ngIf="emailWarningMsg != null">
                <span class="invalid-feedback d-block fs-13">&nbsp;{{emailWarningMsg}}</span>
              </div>
              <div class="invalid-feedback d-block mb-3 fs-13" *ngIf="(mandatoryList?.has('email'))">
                {{mandatoryList?.get('email')}}
              </div>
              <span class="col fs-13">
                <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Type the email address of the business
                  or organization
                  you want to report.</p>
              </span>
            </div>
          </div>
        </div>
        <div class="pb-5 pt-3 px-4 row">
          <div class="col">
            <div class="d-flex px-1">
              <label class="d-block fs-14 fw-500 px-1" for="Entity Type">Entity Type :<span class="mandatory px-2">*</span>
              </label>
            </div>
            <div class="col px-1">
              <select class="form-control mt-2 form-select" id="entity-type" [(ngModel)]="entityDetails.coiEntity.entityTypeCode"
              (ngModelChange)="setEntityTypeObj();" [ngClass]="(mandatoryList?.has('entityType')) ? 'is-invalid d-block' : ''"
              [disabled]="isResultFromSearch || isViewMode || modifyType ==='1'">
              <option [value]="null">--Select Type--</option>
              <option *ngFor="let type of sfiLookUpList?.entityType" [value]="type?.entityTypeCode"
                [hidden]="type?.isActive != true">
                {{type?.description}}</option>
            </select>
            <div *ngIf="mandatoryList?.has('entityType')" class="invalid-feedback d-block fs-13">
              {{mandatoryList?.get('entityType')}}
            </div>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Select type from the available
                options.</p>
            </span>
            </div>
          </div>
          <div class="col pl-85">
            <div *ngIf="isEntityManagement" class="d-flex px-1 py-1">
              <label class="d-block fs-14 fw-500 px-1" for="risk-level">Risk Level :
              </label>
            </div>
            <div *ngIf="isEntityManagement" class="col px-1">
              <select class="form-select form-control fs-14"
              [(ngModel)]="entityDetails.coiEntity.riskCategoryCode" [disabled]="modifyType ==='1'" (ngModelChange)="setEntityRiskCategoryObj()"
              id="risk-level">
              <ng-container *ngFor="let riskLevel of riskLevelLookup">
                <option [value]="riskLevel?.riskCategoryCode">{{riskLevel?.description}}</option>
              </ng-container>
            </select>
            <span class="col fs-13">
              <p class="new-line-property text-secondary fs-14-nav mt-2">Select risk level from the available
                options.</p>
            </span>
            </div>
          </div>
        </div>
        </div>

      <!-- Additional Details -->
          <div class="card-body p-0 my-4">
                <!-- Additional Details -->
                <div *ngIf="!isEntityManagement" class="mt-1">
                    <div class="card shadow-sm border mb-3" tabindex="-1">
                        <div class="m-2 mb-0">
                            <div class="row d-flex">
                                <span class="col-4 px-4">
                                    <h5 class="fs-18 mt-3 fw-500">Additional Details</h5>
                                </span>
                                <span
                                    class="position-absolute d-flex justify-content-end material-icons-outlined hand-cursor mt-2"
                                    (click)="isExpandedAdditionalDetails = !isExpandedAdditionalDetails;">{{isExpandedAdditionalDetails?'expand_less'
                                    :'expand_more'}}</span>
                            </div>
                            <hr class="mb-0">
                        </div>
                        <div *ngIf="isExpandedAdditionalDetails" class="card-body mr-1rem pt-0">
                            <div class="row d-flex px-4 py-3">
                              <div class="col">
                                <div class="d-flex px-2">
                                  <label class="d-block fw-500 fs-14 px-2 row py-2" title="Click to select date"
                                    for="Start date of involvement">Start Date of Involvement :<span class="mandatory px-2">*</span>
                                  </label>
                                </div>
                                <div>
                                  <span class="dateField w-100">
                                    <input matInput [matDatepicker]="startDate" id="start-date-involvement" placeholder="{{datePlaceHolder}}"
                                      style="width: 100% !important" (click)="startDate.open()" autocomplete="off" class="d-inline-block form-control"
                                      [(ngModel)]="additionalDetails.involvementStartDate" (keypress)="_commonService._keyPress($event, 'date')"
                                      [ngClass]="(mandatoryList?.has('date')) ? 'is-invalid d-block' : ''" />
                                    <i (click)="startDate.open()" [class.date-field-error]="mandatoryList?.has('date')"
                                      class="fa fa-calendar fa-large insidePicker hand-cursor" title="Click to select date"></i>
                                    <mat-datepicker #startDate [pickerType]="'calendar'">
                                    </mat-datepicker>
                                  </span>
                                  <div *ngIf="mandatoryList?.has('date')" class="invalid-feedback d-block fs-13">
                                    {{mandatoryList?.get('date')}}
                                  </div>
                                </div>
                              </div>
                              <div class="col px-5">
                                    <label class="d-block fs-14 fw-500 px-1 py-2" title="Clcik to select date"
                                        for="End date of involvement">End Date of Involvement :
                                    </label>
                                <div>
                                    <span class="dateField">
                                        <input matInput [matDatepicker]="endDate" id="end-date-involvement"
                                            placeholder="{{datePlaceHolder}}" style="width: 100% !important"
                                            (click)="endDate.open()" autocomplete="off"
                                            class="d-inline-block form-control"
                                            [(ngModel)]="additionalDetails.involvementEndDate"
                                            (ngModelChange)="endDateValidation()"
                                            (keypress)="_commonService._keyPress($event, 'date')" />
                                        <i (click)="endDate.open()"
                                            class="fa fa-calendar fa-large insidePicker hand-cursor" title="Click to select end date"></i>
                                        <mat-datepicker #endDate [pickerType]="'calendar'">
                                        </mat-datepicker>
                                    </span>
                                    <div *ngIf="(mandatoryList.get('endDate'))" class="fs-13 invalid-feedback d-block">
                                        {{mandatoryList.get('endDate')}}
                                    </div>
                                </div>
                              </div>
                              <div class="col-3">
                                <div class="d-flex py-2 px-3">
                                    <label class="d-block fs-14 fw-500 px-1 px-2 row">Sponsors Research :</label>
                                </div>
                                <div class="col d-flex px-2" title="Click to toggle Yes/No">
                                    <span class="py-1" aria-label="Disclosures_has_sfi" role="switch">
                                        <a *ngIf="additionalDetails.sponsorsResearch" class="pl-2">
                                            <label class="switch" (click)="additionalDetails.sponsorsResearch = false">
                                                <input type="checkbox" checked>
                                                <span class="slider round"><small class="fs-12 mt-1">Yes</small></span>
                                            </label>
                                        </a>
                                        <a *ngIf="!additionalDetails.sponsorsResearch" class="pl-2">
                                            <label class="switch" (click)="additionalDetails.sponsorsResearch = true">
                                                <input type="checkbox">
                                                <span class="slider round"><small
                                                        class="deactivate-text fs-12 mt-1">No</small></span>
                                            </label>
                                        </a>
                                    </span>
                                </div>
                              </div>
                            </div>
                            <div class="row px-4 py-3">

                                <div class="d-flex px-4">
                                    <label class="d-block fs-14 fw-500 py-2 row">Relationship with Entity :<span
                                            class="mandatory px-2">*</span></label>
                                </div>
                                <div class="col mx-1 pe-0 px-2">
                                    <textarea appAutoGrow class="form-control" id="releationship-entity" rows="1"
                                        [(ngModel)]="additionalDetails.staffInvolvement"
                                        [ngClass]="(mandatoryList?.has('staff')) ? 'is-invalid d-block' : ''"
                                        appLengthValidator [limit]=2000>
                </textarea>
                                    <div *ngIf="mandatoryList?.has('staff')" class="invalid-feedback d-block fs-13">
                                        {{mandatoryList?.get('staff')}}
                                    </div>
                                    <p class="new-line-property text-secondary fs-13 mt-2 mb-0">This description is
                                        presented in the Relationship
                                        section to help you relate this entity to your research
                                        projects.
                                        Please enter an adequate description of the organization, and of your role with
                                        them,to aid both
                                        you, and
                                        a
                                        reviewers' understanding of the association between the entity and work.
                                    </p>
                                </div>
                            </div>
                            <div class="row px-3">

                                <div class="d-flex px-3">
                                    <label class="d-block fw-500 fs-14 px-1 py-2">Principle Business Area of Entity
                                        :<span class="mandatory px-2">*</span></label>
                                </div>
                                <div class="col mx-1 pe-0 px-3">
                                    <textarea appAutoGrow class="form-control" rows="1"
                                        [(ngModel)]="additionalDetails.studentInvolvement"
                                        [ngClass]="(mandatoryList?.has('student')) ? 'is-invalid d-block' : ''"
                                        appLengthValidator [limit]=2000>
                </textarea>
                                    <div *ngIf="mandatoryList?.has('student')" class="invalid-feedback d-block fs-13">
                                        {{mandatoryList?.get('student')}}
                                    </div>
                                    <p class="new-line-property text-secondary fs-13 mt-2 mb-0">Please enter an adequate
                                        description of the entity's principal are of business.
                                    </p>
                                </div>
                            </div>
                            <div class="row px-3">

                                <div class="d-flex px-3">
                                    <label class="d-block fw-500 fs-14 px-1 py-2">Relationship of Entity to your
                                        University responsibilities :<span class="mandatory px-2">*</span></label>
                                </div>
                                <div class="col mx-1 pe-0 px-3">
                                    <textarea appAutoGrow class="form-control" rows="1"
                                        [(ngModel)]="additionalDetails.instituteResourceInvolvement"
                                        [ngClass]="(mandatoryList?.has('resource')) ? 'is-invalid d-block' : ''"
                                        appLengthValidator [limit]=2000>
                </textarea>
                                    <div *ngIf="mandatoryList?.has('resource')" class="invalid-feedback d-block fs-13">
                                        {{mandatoryList?.get('resource')}}
                                    </div>
                                    <p class="new-line-property text-secondary fs-14-nav mt-2 mb-0">Please enter an
                                        adequate description of the entity's relationship to your University
                                        responsibilities.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Additional Details Ends -->
                </div>
          </div>
    </div>
  <app-add-relationship-modal *ngIf="showRelationshipModal" [isWithOutRelationship]="true" [personEntityId]="additionalDetails?.personEntityId"
    (relationshipResult)="addEntityToggle($event)" (hideModal)="hideRelationshipModal($event)">
  </app-add-relationship-modal>

  <div class="modal fade mySkinDialog modal-lg" data-bs-backdrop="static" id="actionConfirmationModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ct-footer-padding">
          <h4 class="modal-title">Confirmation</h4>
          <button type="button" class="btn-close fs-12 " data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ct-modal-padding">
          <div class="row ">
            <div class="col-lg-12">
              <div class="my-2 mx-0 row">
                <div class="col-12 py-2 grey-info font">
                  <span class="fs-14 text-secondary">Would you like to make changes to the existing entity details?
                     Please note that any modifications made will impact the existing SFIs.
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer ct-footer-padding">
          <button class="btn btn-outline-secondary btn-sm" id="claim-sumbit-no-btn" data-bs-dismiss="modal"
            type="button">Cancel
          </button>
          <button (click)="updateEntityDetails()" data-bs-dismiss="modal"  class="btn btn-primary btn-sm fs-14 btn-primary-submit" type="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
