small {
    margin-left: 8px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
    color: #fff !important;
}

.deactivate-text {
    color: #fff !important;
}

.date-field-error {
    right: 28px;
    position: absolute;
    top: 8px;
}

.height-35px {
    height: 35px
}

.modal {
    z-index: 1501;
}

.help-text {
    font-size: 13px;
    padding: 7px;
    color: #606060;
    background-color: #EEF0FC;
    font-style: italic;
}

.text-color {
    color: #6A7980;
}

.label-text {
    color: #2a2a2a;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.r-title {
    display: inline-block;
    text-transform: lowercase;
    color: #48647F;
    font-weight: 500;

    &::first-letter {
        text-transform: uppercase;
    }
}

.invalid {
    color: #ff0000;
}

.medium-risk {
    color: #ff8c00;
}

.low-risk {
    color: rgb(26, 172, 62);
}

.relation-header {
    position: absolute;
    top: -11px;
    left: 15px;
    background-color: white;
}

.min-height-unset {
    min-height: unset !important;
}

.sticky-top {
    z-index: 10 !important;
}

.sticky-top-50 {
    top: 50px;
    z-index: 11;
    position: sticky;
}

@media (min-width: 992px) {
    .action-header-border {
        border-left: 1px solid #0000002d;
    }
}

@media (max-width: 991px) {
    .action-header-border {
        border-top: 1px solid #0000002d;
        border-left: 0 !important;
    }
}
