.card-color {
    border-radius: 5px;
}

select option {
    background-color: #fff;
}

.modal {
    z-index: 1062;
}

.tab-color {
    padding: 2px 8px;
    color: #f8f5f5fd;
}

.btn-size {
    height: 100% !important;
}

.card-col {
    background: #fafafc;
}

.btn-color {
    background: #ffffff;
    border: #b9bdb9 1.6px solid !important;
    border-radius: 12px;
}

.border-left-line {
    border-left: solid 1px #80808054;
    width: 35%;
}

.date {
    color: #98989e;
}

.mandatory {
    color: #a92034;
}

.searchButton {
    position: absolute;
    left: 184px;
    top: 80px;
    font-size: 1.5rem;
    color: #9E9E9E;
    cursor: pointer;
}

.searchInput {
    padding-left: 40px !important;
}

.disable-scroll {
    overflow-y: hidden !important;
}

small {
    margin-left: 8px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
    color: #fff !important;
}

.deactivate-text {
    color: #fff !important;
}

.pl-85 {
    padding-left: 8.5rem;
}

.col-custom {
    flex: 0 0 auto;
    width: 11.666667%;
}

.col-additional-details {
    flex: 0 0 auto;
    width: 13.666667%;
}

.col-entity-type {
    flex: 0 0 auto;
    width: 35.8%;
}

.mr-1rem {
    margin-right: 1rem;
}

.right-align {
    padding-left: 11rem;
}

.date-field-error {
    right: 28px;
    position: absolute;
    top: 8px;
}

.btn-primary-submit {
    height: 35px
}

.modal {
    z-index: 1501;
}

.entity-padding {
    padding-left: 2.5rem;
    padding-right: 3rem;
}

.help-text {
    font-size: 13px;
    padding: 7px;
    color: #606060;
    background-color: #EEF0FC;
    font-style: italic;
}

.text-color {
    color: #6A7980;
}

.border-nav {
    width: max-content;
    position: relative;
    top: 15px;
    left: 9px;
    background-color: #e6f3ff !important;
    border-bottom: 3px solid #007DEC !important;
    color: #007DEC !important;
}

.btn-card {
    height: 100px;
}

.margin-card-top {
    margin-left: 1rem;
    margin-right: 1.8rem;
    position: sticky;
    top: -12px;
    z-index: 10;
}

.label-text {
    color: #2a2a2a;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.r-title {
    display: inline-block;
    text-transform: lowercase;
    color: #48647F;
    font-weight: 500;
}

.r-title::first-letter {
    text-transform: uppercase;
}

.custom-size {
    display: flex;
    flex-direction: row;
}

.form-check-inline {
    display: inline-block;
    margin-right: 3rem;
}

.ml-09 {
    margin-left: 9px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.font-align {
    margin-left: 53px;
    margin-top: -26px;
    margin-bottom: -10px;
}

.position-person-inpur-box {
	top: 5px;
	position: absolute;
	width: 93% !important;
}

.warning {
    top: 54px;
    position: absolute;
}

  .invalid {
    color: #ff0000;
  }
  
  .medium-risk {
    color: #ff8c00;
  }
  
  .low-risk {
    color: rgb(26, 172, 62);
  }

  .status-pill-position {
    border-radius: 20px;
    padding: 3px 9px 3px 9px;
  }

  .active {
    background-color: #4CB57D !important;
    color: #fff;
    @extend .status-pill-position;
  }
  
  .inactive {
    background-color: #949494;
    color: #fff;
    @extend .status-pill-position;
  }
  .entity-risk-badge {
    width: max-content !important;
  }
  
  .relation-header {
    position: absolute;
    top: -11px;
    background-color: white;
    left: 15px;
  }
  
