.matching-card {
    border:1px dashed #673e21;
    background-color: #fff7f1;
    color: #673e21;
}

.text-bg-light-success {
    background-color: #e4f3e5;
    color: #3bb948;
}

.text-bg-light-danger {
    background-color: #fae4e5;
    color: #d45a5a;
}

.selected-section {
    background-color: #f6f6f6;
    color: #027dec;
}

.left-padding {
    margin-left: 35px;
}
