<section>
    <div class="fs-18 fw-bold mb-2" tabindex="-1" aria-label="Manage Entity Dashboard">Entity Management</div>
    <div [@fadeInOutHeight]>
        <section class="coi-dashboard-tab-sticky coi-custom-top">
            <div *ngIf="isManageEntity" class="row bg-white mx-0 d-flex align-items-center border shadow-sm">
                <nav class="d-flex justify-content-between align-items-center ps-0 border-bottom flex-wrap">
                    <!-- new tab design -->
                    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fw-semibold mb-8" role="tablist">
                        <li *ngIf="isManageEntity" class="nav-item" [ngClass]="{'active': activeTabName === 'ALL_ENTITIES'}"
                            tabindex="0" id="coi-entity-management-all-entities" role="tab"
                            (keyup.enter)="entityTabName('ALL_ENTITIES')" (keyup.space)="entityTabName('ALL_ENTITIES')"
                            (click)="entityTabName('ALL_ENTITIES')" title="Click here to view All Entities"
                            aria-label="Click here to view the list of all entities">
                            <a class="nav-link p-3 fs-6 align-self-center" role="tab">All Entities</a>
                        </li>
                        <li class="separator px-0"></li>
                        <li *ngIf="isManageEntity" tabindex="0" class="nav-item" id="coi-entity-management-unverified-entities"
                            [ngClass]="{'active': activeTabName === 'UNVERIFIED'}" role="tab"
                            (keyup.enter)="entityTabName('UNVERIFIED')" (keyup.space)="entityTabName('UNVERIFIED')"
                            (click)="entityTabName('UNVERIFIED')" title="Click here to view Unverified Entities"
                            aria-label="Click here to view the list of all unverified entities">
                            <a class="nav-link p-3 fs-6 align-self-center" role="tab">Unverified Entities</a>
                        </li>
                    </ul>

                    <div class="d-flex justify-content-end flex-grow-1 my-2">
                        <button aria-label="Toggle Advanced Search" id="coi-entity-management-advance-search-btn"
                            class="btn btn-tertiary d-inline-flex fs-14 align-items-center mt-0  me-2"
                            (click)="toggleAdvanceSearch()" aria-controls="view-advance-search" aria-expanded="false"
                            title="Click here to expand / collapse Advanced Search fields">
                            <mat-icon class="me-3">tune</mat-icon>
                            Advanced Search
                        </button>
                        <button aria-label="Add new Entity" class="btn coi-icon-btn btn-outline-secondary"
                            id="coi-entity-management-add-new-entity-btn" title="Click here to add an entity"
                            aria-label="Click here to add a new entity" (click)="addNewEntity()">
                            <mat-icon class="me-1">add</mat-icon>
                            Add New
                            Entity
                        </button>
                    </div>
                </nav>

                <div class="bg-white pb-3 px-3 pt-2" *ngIf="isViewAdvanceSearch" id="collapseExample" [@topSlideInOut]>
                    <div class="row g-3">
                        <!-- Entity search field -->
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12" title="Click to search by Entity name" tabindex="-1"
                            aria-label="Entity search field" role="searchbox">
                            <label class="fw-bold fs-14 d-block" for="adv-entity-name">Entity</label>
                            <app-elastic [options]="EntitySearchOptions" [placeHolder]="'Type here to search by Entity name'"
                                class="text-secondary fs-13" [clearField]="clearField" [uniqueId]="'adv-entity-name'"
                                (selectedResult)="selectedEvent($event)">
                            </app-elastic>
                        </div>
                        <!-- Country search field -->
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12" title="Click to search by Country" tabindex="-1"
                            aria-label="Country search field" role="searchbox">
                            <label class="fw-bold fs-14 d-block" for="adv-entity-country">Country</label>
                            <app-endpoint-search (onSelect)="selectEntityCountry($event)" [clearField]="advSearchClearField"
                                [httpOptions]="countrySearchOptions" class=" text-secondary fs-13"
                                [placeHolder]="'Type here to search by Country'" [uniqueId]="'adv-entity-country'">
                            </app-endpoint-search>
                        </div>
                        <!-- Status dropdown(lookup) -->
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12" title="Click to search by Status" tabindex="-1"
                            aria-label="Status dropdown" role="searchbox">
                            <label class="fw-bold fs-14 d-block" for="adv-entity-status">Status</label>
                            <app-look-up (selectedResult)="onLookupSelect($event, 'property20')" [options]="statusTypeOptions"
                                [selectedLookUpList]="lookupValues['property20']"
                                [externalArray]="entityDashboardService.statusCodes" [isExternalArray]="true"
                                class=" text-secondary fs-13" [uniqueId]="'adv-disclosure-type'">
                            </app-look-up>
                        </div>

                        <div *ngIf="activeTabName !== 'UNVERIFIED'" class="col-xl-3 col-lg-4 col-sm-6 col-12"
                            title="Click to search by Verification Status" tabindex="-1"
                            aria-label="Verification Status dropdown" role="searchbox">
                            <label class="fw-bold fs-14 d-block" for="adv-entity-verification">Verification Status</label>
                            <app-look-up (selectedResult)="onLookupSelect($event, 'property24')"
                                [options]="verificationTypeOptions" [selectedLookUpList]="lookupValues['property24']"
                                class="text-secondary fs-13" [uniqueId]="'adv-entity-verification'">
                            </app-look-up>
                        </div>
                        <div class="col d-flex justify-content-end mt-4 align-items-end">
                            <button id="coi-entity-management-clear-btn" class="btn btn-outline-secondary  fs-14 py-2 mx-2"
                                aria-label="Clear" (click)="clearAdvancedSearch()" title="Click here to clear all the fields"
                                aria-label="Click here to clear all the fields">Clear
                            </button>
                            <button class="btn btn-primary fs-14" id="coi-entity-management-search-btn"
                                (click)="entityDashboardService.coiRequestObject.currentPage = 1;advancedSearch()"
                                title="Click here to Initiate search" aria-label="Search"
                                aria-label="Click here to get the search results with/without fields">Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sorting pannel -->
            <div class="sort-div border mt-2 px-3" *ngIf="isShowEntityList && isManageEntity && entityList.length">
                <span class="fs-14 fw-medium me-2 text-secondary">Sort By : </span>
                <button id="coi-entity-management-sort-btn" *ngFor="let sortSection of sortSectionsList"
                    attr.aria-labelledby="coi-entity-list-sort-{{index}}" (click)="sortResult(sortSection?.variableName)"
                    [class.filter-active]="isActive(sortSection?.variableName)"
                    title="Click here to sort by {{sortSection?.fieldName}}"
                    class="shadow-sm fw-medium py-2 px-3 fs-13 border rounded-5 bg-white px-8 coi-sort-filter-btn">
                    <div class="d-inline-flex align-items-center">
                        <span class="d-none" id="coi-entity-list-sort-{{index}}">Click here to sort by {{ sortSection?.fieldName
                            }} in
                            {{entityDashboardService.coiRequestObject.sort[sortSection?.variableName]=== 'asc' ?
                            'descending Order' : entityDashboardService.coiRequestObject.sort[sortSection?.variableName]===
                            'desc' ?
                            'normal Order' : 'ascending order'}}</span>
                        <span>{{sortSection?.fieldName}}</span>
                        <mat-icon aria-hidden="true" class="arrow selected-arrow" [@slideDown]
                            *ngIf="entityDashboardService.coiRequestObject.sort[sortSection?.variableName]=== 'asc' ">arrow_downward</mat-icon>
                        <mat-icon aria-hidden="true" class="arrow selected-arrow" [@slideUp] [@scaleOut]
                            *ngIf="entityDashboardService.coiRequestObject.sort[sortSection?.variableName]=== 'desc' ">arrow_upward</mat-icon>
                    </div>
                </button>
            </div>
        </section>
        <ng-container *ngIf="isShowEntityList && !isLoading">
            <div *ngIf="entityList.length; else noData" [@listAnimation]="entityList.length">
                <div *ngFor="let entityListData of entityList;let i=index">
                    <div class="card coi-card-regular">
                        <div class="card-body" id="coi-entity-management-card-body">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <p [attr.aria-label]="'Entity Status ' + (entityListData?.isActive ? 'Active' : 'Inactive') +
                        'Entity Name' + entityListData?.entityName + 'Verified Status' + 'Unverified'"
                                               class="my-auto mb-0 coi-text-darker fs-6">
                                                <span class="text-slice" [title]="entityListData?.entityName">{{entityListData?.entityName}}</span>
                                            </p>
                                        </div>
                                        <div class="col-auto text-end">
                                            <span *ngIf="entityListData?.entityStatusType?.description === 'Unverified'"
                                                  data-bs-toggle="tooltip" data-bs-placement="top"
                                                  class="info-text rounded-pill f-14 me-2 px-3 py-1 rounded-5 py-0"
                                                  title="{{entityListData?.entityName}} is Unverified"><i aria-hidden="true"
                                                  class="fa fa-times me-2"></i>Unverified</span>
                                            <span class="badge f-14 px-3 py-2 rounded-pill
                                                    {{entityListData?.isActive ? 'text-bg-success' : 'text-bg-secondary'}}">
                                                {{entityListData?.isActive ? 'Active' : 'Inactive'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6"
                                             [attr.aria-label]="'Ownership Type ' + (entityListData?.entityOwnershipType?.description)">
                                            <label class="coi-text-dark d-block">Ownership Type</label>
                                            <span class="coi-text-light"><app-no-data-label
                                                [valueToShow]="entityListData?.entityOwnershipType?.description">
                                            </app-no-data-label>
                                            </span>
                                        </div>
                                        <div class="col-lg-4 col-md-6"
                                             [attr.aria-label]="'Country ' + (entityListData?.country?.countryName)">
                                            <label class="coi-text-dark d-block">Country</label>
                                            <span class="coi-text-light"><app-no-data-label
                                                [valueToShow]="entityListData?.country?.countryName">
                                            </app-no-data-label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex align-items-end justify-content-end">
                                    <button id="coi-entity-management-view-btn" (click)="viewDetails(entityListData)"
                                    (keyup.enter)="viewDetails(entityListData)" (keyup.space)="viewDetails(entityListData)"
                                            aria-label="Click the button to the view Entity details"
                                            class="align-items-center btn btn-outline-secondary d-flex fs-14"
                                            title="Click here to view entity details">
                                        <mat-icon class="me-1">visibility</mat-icon>
                                        View
                                    </button>
                                    <button id="coi-entity-management-graph-btn" *ngIf="isShowGraph"
                                            (click)="openGraph(entityListData.entityNumber, entityListData.entityName)"
                                            (keyup.enter)="openGraph(entityListData.entityNumber, entityListData.entityName)" (keyup.space)="openGraph(entityListData.entityNumber, entityListData.entityName)"
                                            aria-label="Click to view Entity graph database"
                                            class="align-items-center btn btn-outline-secondary d-flex fs-14 ms-2"
                                            title="Click here to view Entity Graph Database">
                                        <mat-icon class="me-1">hub</mat-icon>Graph
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- pagination Pannel-->
        <div [hidden]="isLoading" tabindex="-1" *ngIf="entityList.length>0 && isShowEntityList"
             class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
            <nav aria-label="pagination section" class="pagination justify-content-end">
                <app-pagination (pageChangeEvent)="actionsOnPageChange($event)" [totalCount]="resultCount"
                                [defaultCurrentPage]="entityDashboardService.coiRequestObject.currentPage">
                </app-pagination>
            </nav>


        </div>
    </div>
</section>

<ng-container *ngIf="isShowGraph">
    <app-graph [graphEnableEvent]="graphEvent" [graphId]="101"></app-graph>
</ng-container>
<ng-template #noData>
    <app-no-information></app-no-information>
</ng-template>
