<ng-container *ngIf="isEditMode">
  <div class="d-flex align-items-center justify-content-between alert alert-secondary px-3 py-2 mb-2"
    id="info-card">
    <div class="fs-14 me-2">
      Click 'Apply to All' to update the Conflict of Interest (COI) status and description simultaneously for all
      Project SFI relationships.
    </div>
    <button type="button" class="btn btn-primary fs-14 text-nowrap" aria-label="Click to apply for all SFIs  and save"
      id="btn-apply-all" title="Click to apply for all SFIs  and save" (click)="openSaveAllConfirmationModal()">Apply to
      All</button>
  </div>
</ng-container>
  <div #relationshipConflict class="table-responsive coi-table-striped">
    <table class="table table-bordered fs-14 table-striped">
      <thead #conflictTableHeader [ngClass]="{'sticky-top':isSlider}">
        <tr class="fw-600" id="table-header-tr">
          <th scope="col" class="col-xl-3" tabindex="0" aria-label="Significant Financial Interest">Significant Financial Interest</th>
          <th scope="col" class="col-xl-2" tabindex="0" aria-label="conflict status"><span class="d-inline-block text-danger fw-600">*</span> Conflict Status</th>
          <th scope="col" class="col-xl-7" tabindex="0" aria-label="Define Project - SFI Relation" aria-describedby="list of project sfi relations"><span class="d-inline-block text-danger fw-600">*</span> Define Project - SFI Relation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of entityProjectDetails; let i = index" [id]="test.disclosureDetailsId">
          <td [attr.aria-label]="test?.coiEntity?.entityName" [id]="'sfi_name_'+test?.disclosureDetailsId" class="pt-2">
                <span class="me-1"> {{test?.coiEntity?.entityName?.length > 100 ? (test?.coiEntity?.entityName | slice:0:100)+'...' :
                    test?.coiEntity?.entityName}}</span>
                <span *ngIf="isShowWarning(test)" class="fs-12 sfi-info-text px-2 rounded-5 rounded-pill"
                title="Modified">
                Modified
                </span>
          </td>
          <td>
            <select [(ngModel)]="test.projectConflictStatusCode" class="form-select form-control"
              [attr.aria-label]="getStatusDescriptionByCode(test.projectConflictStatusCode)"
              (ngModelChange)="sfiSingleSave(i, test, 'conflict-status-select-'+i)" title="Click here to select Conflict Status"
              [ngClass]="coiTableValidation.has('save-status'+i) ? 'is-invalid d-block' : ''" [disabled]="!isEditMode"
              [id]="'conflict-status-select-'+i">
              <option value=null>--Select--</option>
              <option [value]="status.projectConflictStatusCode" *ngFor="let status of coiStatusList; let i = index">{{status?.description}}</option>
            </select>
              <span class="invalid-feedback" *ngIf="coiTableValidation.has('save-status'+i)">
                {{coiTableValidation.get('save-status'+i)}}
              </span>
          </td>
          <td>
            <textarea class="form-control comment-text-box textarea-height" id="main-panel-comnt" appAutoGrow
              [(ngModel)]="test.disclComment.comment" [id]="'description-textarea-'+i" [disabled]="!isEditMode" rows="1"
              appLengthValidator [ngClass]="coiTableValidation.has('save-description'+i) ? 'is-invalid d-block' : ''"
              (ngModelChange)="sfiSingleSave(i, test, 'description-textarea-'+i);" title="Click here provide your description"
              placeholder="Provide your description here" [limit]=2000 spellcheck="false"
              [attr.aria-label]="test.disclComment.comment"></textarea>
            <span class="invalid-feedback" *ngIf="coiTableValidation.has('save-description'+i)">
              {{coiTableValidation.get('save-description'+i)}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
<!-- Apply to All modal -->

<div class="modal fade mySkinDialog" data-bs-backdrop="static" id="applyToAllConfirmationModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header ct-footer-padding d-none">
        <h4 class="modal-title">Bulk update Project SFI relationships</h4>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close fs-12"
          (click)="clearValues()">
        </button>
      </div>
      <div class="modal-body ct-modal-padding">
        <div *ngIf="entityProjectDetails.length">
          <div class="row">
            <div class="col-12 fs-14">
              <span class="mandatory fw-600">*</span>
              <span title="List of Conflict status" tabindex="0" aria-label="conflict status" class="fw-600">Conflict Status</span>
              <div>
                <select id="COI_Status_dropdown" [(ngModel)]="coiStatusCode"
                  class="form-select form-control cursor-pointer"
                  [ngClass]="coiValidationMap.has('coiStatus') ? 'is-invalid d-block' : ''">
                  <option [value]=null>--Select--</option>
                  <option [value]="status.projectConflictStatusCode" *ngFor="let status of coiStatusList">
                    {{status?.description}}</option>
                </select>
              </div>
              <div>
                <span class="invalid-feedback fw-400" *ngIf="coiValidationMap.has('coiStatus')">
                  {{coiValidationMap.get('coiStatus')}}
                </span>
              </div>
            </div>
            <div class="fs-14 mt-3">
              <span class="mandatory fw-600" id="description">*</span>
              <span class="fw-600" aria-label="Define Project - SFI Relation"
                aria-describedby="list of project sfi relations">Define Project - SFI Relation</span>
              <textarea class="form-control" id="coi_description"  tabindex="0" aria-label="Please Provide your description for define Project - SFI Relation"
                [(ngModel)]="coiDescription"
                (ngModelChange)="coiDescription = coiDescription.trim();" appAutoGrow
                appLengthValidator rows="1"
                [ngClass]="coiValidationMap.has('coiDescription') ? 'is-invalid d-block' : ''"
                placeholder="Provide your description here" [limit]=2000 spellcheck="false"></textarea>
              <span class="invalid-feedback fw-400" *ngIf="coiValidationMap.has('coiDescription')">
                {{coiValidationMap.get('coiDescription')}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer ct-footer-padding">
        <button class="btn btn-outline-secondary btn-sm" id="claim-sumbit-no-btn" data-bs-dismiss="modal" aria-label="Click to cancel" title="Click to cancel"
          (click)="clearValues()" type="button">Cancel
        </button>
        <button class="btn btn-primary btn-sm fs-14 btn-primary-submit" type="button" (click)="applyToAll()" id="btn-apply-all" aria-label="Click to Apply to All" title="Click to Apply to All">Apply to All</button>
      </div>
    </div>
  </div>
</div>
